<li class="{{ include.css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/don-t-fear-the-walking-dead/ipc-1.png" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Don't fear the walking dead<br/>@ International PHP Conference 2016</h2>
            <p class="text-justify">
                Ich freue mich zusammen mit Sebastian Heuer bereits riesig auf die IPC in M&uuml;nchen.
                Die vielen Workshops und Vortr&auml;ge klingen sehr verlockend.
                Vor allem freue ich mich pers&ouml;nilich auf den PHP7 ganztages Workshop und nat&uuml;rlich auf unseren eigenen Vortrag.
                Da wir f&uuml;r unseren Talk in M&uuml;nchen sogar eine ganze Stunde Zeit haben, k&ouml;nnen wir sogar noch detailierter auf die einzelnen Aspekte der Architektur eingehen.
            </p>
            <p class="text-justify">
                F&uuml;r alle die leider keine Zeit haben zu unserem Talk zu kommen gibt es gute Nachrichten.
                Ich habe das ganze aufgeschrieben und einen Blog post draus gemacht.
            </p>
            <a target="_blank" href="https://tech.kartenmacherei.de/dont-fear-the-walking-dead-6baca1a96f6f#.6c4jf66yk" class="btn-u btn-u-sm">Zum Blog post</a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 23. bis 27. Oktober 2016
        </div>
    </div>
</li>