<li class="{{ include.css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/php-uk-conference-logo.png" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">SmokeTests<br/>@ PHP UK Conference 2017</h2>
            <p class="text-justify">
                Ich habe das Gl&uuml;ck, dass ich nach London eingeladen wurde um dort einen Vortrag &uuml;ber mein
                Lieblingsthema zu halten. Automatisiertes testen.
                Speziell werde ich zeigen, warum Entwickler SmokeTests haben sollten, wie eine Server Architecktur
                daf&uuml;r aussehen kann und wie oft SmokeTests laufen solten.
            </p>
            <p class="text-justify">
                F&uuml;r diesen Vortrag habe ich eine Software erstellt, das Leben der SmokeTest Entwickler erleichtern
                soll.
            </p>
            <a target="_blank" href="http://phpconference.co.uk/" class="btn-u btn-u-sm">PHP UK Webseite<i class="fa fa-external-link margin-left-5"></i></a>
            <a target="_blank" href="https://github.com/DjThossi/Smoke-Testing-PHP" class="btn-u btn-u-sm">SmokeTestingPhp<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 16. und 17. Februar 2017
        </div>
    </div>
</li>