---
layout: de_travel-blog
title: Ich packe meinen Koffer und nehme mit
active_nav: travel-blog
sitemap: true

categories:
  - de
  - Reiseblog

locations:
  - Australien
  - Neuseeland

overview:
  intro: "Meine Welt besteht zur Zeit nur aus Listen, Listen und noch mehr Listen. Ich habe eine ToDo Liste, eine Weblinks Liste, eine &quot;Zeit danach&quot; Liste und noch die eine oder andere Liste mehr. Heute ben&ouml;tige ich mal Hilfe mit der Packliste. Aber erst einmal stellt sich die Frage &quot;wie viel darf eigentlich mitgenommen werden nach Australien?&quot;  Qantas h&auml;lt sich da grundlegend an die &uuml;blichen Werte. In der Economy Class ist ein Koffer und ein St&uuml;ck Handgep&auml;ck erlaubt. Der Koffer darf maximal 23 kg schwer sein und ein Maß von 158cm nicht &uuml;berschreiten. "
  image:
    url: 
    alt: 
---
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>
            Meine Welt besteht zur Zeit nur aus Listen, Listen und noch mehr Listen. Ich habe eine ToDo Liste, eine Weblinks Liste, eine &quot;Zeit danach&quot; Liste und noch die eine oder andere Liste mehr. Heute ben&ouml;tige ich mal Hilfe mit der Packliste.
        </p>
        <p>
            Aber erst einmal stellt sich die Frage &quot;wie viel darf eigentlich mitgenommen werden nach Australien?&quot; Qantas h&auml;lt sich da grundlegend an die &uuml;blichen Werte. In der Economy Class ist ein Koffer und ein St&uuml;ck Handgep&auml;ck erlaubt. Der Koffer darf maximal 23 kg schwer sein und ein Maß von 158cm nicht &uuml;berschreiten. Das Handgep&auml;ck darf, anderes als bei vielen anderen Fluggesellschaften, nur 7kg schwer sein und das Maß von 115cm nicht &uuml;berschreiten. Zus&auml;tzlich muss das Handgep&auml;ck in die Maße von 56cm x 36cm x 23cm passen, damit es in die F&auml;cher &uuml;ber oder unter den Sitzen passt. Die Maße 158cm und 115cm ergeben sich aus der einfachen Formel L&auml;nge + Breite + H&ouml;he = Gesamtmaß.
        </p>
        <p>
            Was ich als Handgep&auml;ck nehme und was zum aufgeben weiß ich noch nicht genau. Das entscheidet sich glaube ich erst wenn fest steht, was alles mit soll. Auf jeden Fall habe ich einige M&ouml;glichkeiten f&uuml;rs Handgep&auml;ck zur Auswahl. Mit dem aufgegebenen Gep&auml;ckst&uuml;ck hab ich noch die gr&ouml;ßeren Sorgen. Mein Wanderrucksack ist ein wenig klein (50Liter) um Ihn aufzugeben und einen großen Koffer besitze ich nicht. Bin mir auch noch nicht sicher, ob ich &uuml;berhaupt einen großen Koffer mitschleppen will.
        </p>
        <p>
            Ich w&uuml;rde sagen ich mach mich jetzt erst einmal an meine Packliste und schaue dann was ich wo unterbringen kann.
        </p>
        <ul>
            <li>Klamotten f&uuml;r 3-4 Tage</li>
            <li>Waschtasche</li>
            <li>Erste Hilfe Set</li>
            <li>Wanderschuhe</li>
            <li>Rasierer + Ladekabel</li>
            <li>Reitzeug (mindestens die Gamaschen)</li>
            <li>Multi Messer + Taschenmesser</li>
            <li>Laptop</li>
            <li>Kamera + Stativ + Zubeh&ouml;r</li>
            <li>Strom Verteiler (mindestens der 3fach Verteiler)</li>
            <li>Ladekabel Nokia</li>
            <li>Ladekabel iPhone</li>
            <li>Auto Lade box + Stecker</li>
            <li>USB KFZ Ladestecker</li>
            <li>iPhone Akkus</li>
        </ul>
        <p>
            Ich hab mal wieder das Gef&uuml;hl ich vergesse etwas sehr wichtiges auf meiner Liste. Bitte schreibt mir einen Kommentar oder ne Mail was ich nun schon wieder alles vergessen habe. Zus&auml;tzlich bin ich f&uuml;r Ideen zum Transport all dieser Dinge extrem dankbar. Was w&uuml;rdet Ihr f&uuml;r Koffer/Rucks&auml;cke mitnehmen auf solch eine Reise?
        </p>
        <p>
            Das war's schon wieder f&uuml;r heute.
        </p>
        <p>
            Bis bald.
            <br />
            Euer Basti
        </p>
    </div>
</div>