---
layout: blog/de/travel-blog
title: 'Neuseeland: Saint Arnaud - Greymouth'
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Greymouth
  - Saint Arnaud
  - Westport

overview:
  intro: "Als ich morgens nach einer hei&szlig;en Nacht aufstand war die Sonne schon drau&szlig;en und die Wolken weitestgehend verschwunden. Hei&szlig; war die Nacht da ich die Heizung zu hoch eingestellt hatte und  in der Nacht zu faul war sie runter zu drehen."
  image:
    url: /assets/img/blog/auszeit/small/20121029-012159.jpg
    alt: 
---
<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012159.jpg"
         alt="Farnpalme im Regenwald bei den Pancacke Roks"
    />
  </div>
  <div class="col-md-8">
    <p>Als ich morgens nach einer hei&szlig;en Nacht aufstand war die Sonne schon drau&szlig;en und die Wolken weitestgehend verschwunden. Hei&szlig; war die Nacht da ich die Heizung zu hoch eingestellt hatte und  in der Nacht zu faul war sie runter zu drehen.</p>
    <p>Wie gesagt der Morgen war sch&ouml;n und k&uuml;hl, zu mindest au&szlig;erhalb meines Wohnmobils. Ich machte noch einige Erinnerungsfotos bevor wir uns um die Autos k&uuml;mmerten. Wir lie&szlig;en Schmutzwasser ab und f&uuml;llten sauberes Wasser nach. Da wir so etwas zum ersten mal machten dauerte es doch ein wenig l&auml;nger. Somit kamen wir erst recht sp&auml;t los.</p>
    <p>Wir hatten uns ja zwei m&ouml;gliche Strecken nach Greymouth f&uuml;r den Tag heraus gesucht gehabt. Die erste w&auml;re ein gutes St&uuml;ck l&auml;nger aber schien daf&uuml;r bei weitem nicht so anstrengend, wie die zweite Strecke. Die zweite w&auml;re somit ein gutes St&uuml;ck k&uuml;rzer aber daf&uuml;r sehr kurvig entlang der K&uuml;ste und wohl auch die sch&ouml;nere. Bevor wir uns aber entscheiden mussten, hatten wir 100km bis zur Gabelung zu fahren. Dort angekommen, beschlossen wir kurzer Hand die anstrengendere aber sch&ouml;nere Route via Westport zu nehmen.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012252.jpg"
         alt="Basti zwischen den Pancacke Rocks"
     />
  </div>
  <div class="col-md-8">
    <p>In Westport gingen wir nur schnell zur Touristeninfo die uns mitteilte, dass wir nicht so lange tr&ouml;deln sollten falls wir die Blowholes an den Pancake Rocks live und in Aktion erleben wollten, da diese nur bei bestimmten Gezeiten und Windrichtungen richtig Spaß machen. </p>
    <p>Somit tankten wir nur schnell auf, da auf den n&auml;chsten 100km keine Tanke liegt. Die Strecke bis zu den Pancake Rocks ist zwar kurvig aber wundersch&ouml;n. Man m&ouml;chte eigentlich am liebsten, mitten in den gef&auml;hrlichsten Kurven, einfach mal anhalten und in Ruhe den Anblick des Regenwaldes und der K&uuml;ste um einen herum genie&szlig;en. Wir fuhren dort durch Tropischen Regenwald. Die B&auml;ume und Palmen sind nicht so hoch wie ich es mir vorgestellt hatte aber die Dichte des Waldes und die Artenvielfalt ist einfach der blanke Wahnsinn.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012252.jpg"
         alt="Basti zwischen den Pancacke Rocks"
    />
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012244.jpg"
         alt="Ein Blowhole an den Pencacke Rocks in Aktion"
    />
  </div>
  <div class="col-md-8">
    <p>Wir kamen eine halbe Stunde nach Hochwasser an und konnten dank immernoch gutem Westwind die Blowholes noch in Aktion sehen. Vom Parkplatz bis zu den Pancake Rocks sind es einige hundert Meter durch Regenwald. Der Pfad dorthin nimmt nur genau so viel Platz ein, wie ein Mensch ben&ouml;tigt. Links und rechts davon nur unber&uuml;hrte Natur. Dann auf einmal steht man vor den Felsformationen. Die Pancake Rocks hei&szlig;en so, da sie aussehen als h&auml;tte jemand mehrere &uuml;berdimensionale Pfannkuchen &uuml;bereinander gestapelt.</p>
    <p>Zus&auml;tzlich gibt es dort auch noch mehrere H&ouml;hlen, Kan&auml;le und Spalten zwischen Felsen hindurch. Durch diese entstehen dann diese Wasserfont&auml;nen. Von einer Richtung bricht eine Welle in einer H&ouml;hle und erzeugt dabei Gischt. Von einer zweiten Richtung kommt noch eine Welle und erh&ouml;ht den Wasserspiegel so schlagartig, dass Der Druck nach oben so stark wird das die Gischt oben durch die Felsspalte heraus gedr&uuml;ckt wird. Echt ein sch&ouml;ner Anblick und man kann sehr gut h&ouml;ren was f&uuml;r ein Druck dahinter steckt.</p>
    <p>Nach einiger Zeit und unz&auml;hligen Fotos fuhren wir weiter Richtung Greymouth wo wir uns zwei kostenfreie Campingpl&auml;tze heraus gesucht hatten. Der erste lag sehr bescheiden an einer viel befahrenen Kreuzung und war schon fast voll. Somit beschlossen wir mal wieder auf einem Parkplatz am Strand zu parken in der Hoffnung das der Wind noch ein wenig nach l&auml;sst.</p>
  </div>
</div>
