---
layout: de_travel-blog
sitemap: false
active_nav: travel-blog
title: 'Neuseeland: Rotorua - Taupo'
date: 2012-10-19 07:00:40.000000000 +02:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Rotorua
  - Taupo
overview:
  external_link: https://sebastian301082.wordpress.com/2012/10/19/neuseeland-rotorua-taupo/
  intro: "Da die Nacht recht kalt war beschloss ich morgens schon fr&uuml;h aufzustehen und an den See zu fahren. Dort bekam ich einige echt sch&ouml;ne Motive vor's Objektiv. Unter anderen Schwarze Schw&auml;ne und sch&ouml;ne Geb&auml;ude."
  image:
    url: /assets/img/blog/20121022-222614.jpg
    alt: 
---
<p>Da die Nacht recht kalt war beschloss ich morgens schon fr&uuml;h aufzustehen und an den See zu fahren. Dort bekam ich einige echt sch&ouml;ne Motive vor's Objektiv. Unter anderen Schwarze Schw&auml;ne und sch&ouml;ne Geb&auml;ude.<!--more--></p>
<p><img src="{{ site.url }}/assets/img/blog/20121022-222614.jpg" alt="20121022-222614.jpg" class="alignleft size-full" />Danach fuhr ich dann zur&uuml;ck zu Skyline und g&ouml;nnte mir endlich die Seifenkisten Fahrten. Die Eintrittskarte kostete 41$ (27€) f&uuml;r die Gondelfahrt plus 3 mal Seifenkiste fahren auf 3 verschiedenen Strecken. Ich kann euch sagen das macht echt Spaß und ist echt zu empfehlen. Dort oben gibt es noch einiges mehr zu sehen und zu entdecken. Der Ausblick &uuml;ber die Stadt ist nat&uuml;rlich auch nicht von schlechten Eltern. Man kann dort bei gutem Wetter echt viel zeit verbreiten.</p>
<p><img src="{{ site.url }}/assets/img/blog/20121022-222851.jpg" alt="20121022-222851.jpg" class="alignright size-full" />Nun war es aber schon fast Mittag und ich war ja mit Sam in der N&auml;he von Taupo verabredet. Also wieder runter vom Berg und ab auf die Straße. Die Strecke nach Taupo war echt entspannt. Auf dem Campingplatz angekommen fand ich Sam auch recht einfach. Sie saß am Fluss und aß Mittag. Der Platz war Super gepflegt und echt gut gelegen zwischen den Bergen und dem Fluss. Einige hundert Meter den Fluss hinunter Ist sogar ein recht kr&auml;ftiger Wasserfall. Nach ein wenig ausspannen entschlossen wir nochmal in die Stadt zu fahren und zur Touristeninfo zu gehen um zu schauen ob die Strecken zu 3 Vulkane, die wir uns den n&auml;chsten Tag anschauen wollten, frei sind.</p>
