---
layout: blog/de/travel-blog
title: 30. Geburtstag in Neuseeland
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Christchurch

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP5777_birthday_flowers.jpg"
    alt: "Blumen zum Geburtstag"

overview:
  intro: "Nachdem ich das Wohnmobil wieder abgegeben hatte, lagen nun 3 Tage Christchurch zu Fu&szlig; vor mir. Ich beschloss als erstes mich in Richtung Stadtzentrum zu begeben und mal zu schauen was von der Stadt, nach 4 gro&szlig;en und &uuml;ber 10800 kleinen Erdbeben in letzten 2 Jahren, noch &uuml;brig ist."
  image:
    url: /assets/img/blog/auszeit/small/IGP5620.jpg
    alt: "Der Stadtplan von Christchurch nach dem den Erdbeben"
---
<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/IGP5620.jpg" alt="Der Stadtplan von Christchurch nach dem den Erdbeben"
    />
  </div>
  <div class="col-md-8">
    <p>Nachdem ich das Wohnmobil wieder abgegeben hatte, lagen nun 3 Tage Christchurch zu Fu&szlig; vor mir. Ich beschloss als erstes mich in Richtung Stadtzentrum zu begeben und mal zu schauen was von der Stadt, nach 4 gro&szlig;en und &uuml;ber 10.800 kleinen Erdbeben in den letzten 2 Jahren, noch &uuml;brig geblieben ist.</p>
    <p>Im Bus las ich dann auf einem Werbeschild was von einer Roten Zone im Stadtzetrum. Mit ein wenig Googlen fand ich heraus das der gr&ouml;&szlig;te Teil des Stadtzentrums immernoch komplett gesperrt ist. Als ich dort ankam sah ich das erste mal mit eigenen Augen was Erdbeben anrichten k&ouml;nnen. Das gesamte Business Zentrum der Stadt ist weg oder wird gerade abgerissen. Direkt am Zaun war dann eine Strassenkarte auf der eingezeichnet ist, was alles gesperrt ist. So ziemlich das gesamte Stadtzentrum. So weit ich sehen konnte standen dort Geb&auml;ude die teilweise zerst&ouml;rt wurden und nur auf ihren Abriss warteten. Die Kathedrale stand zwar noch aber der Glockenturm davor war eingest&uuml;rzt und bereits entfernt worden.</p>
    <p>Da die gesamte Einkaufsmeile auch mit betroffen war, haben sich die Bewohner eine echt gute &Uuml;bergangsl&ouml;sung einfallen lassen. Auf einer frei gewordenen Fl&auml;che hat man einfach aus LKW Containern eine provisorische Einkaufsstra&szlig;e errichtet.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-213017.jpg" alt="Die Haka Lodge in Christchurch"
     />
  </div>
  <div class="col-md-8">
    <p>Ganz einfach zwei Etagen Container wersetzt aufeinander stapeln, dazwischen buntes Segeltuch spannen und die Container bunt anmalen. Eine nette und einladende Athmosph&auml;re entsteht. Das Konzept funktioniert jetzt auch schon &uuml;ber ein Jahr. Viele Gesch&auml;fte waren es nicht aber es war ein Wiederanfang. So hie&szlig; dieses Gebiet auch, halt nur in englisch Re:Start.</p>
    <p>Ich fuhr dann weiter mit dem Bus zum Hostel, der Haka Lodge. Diese ist echt sch&ouml;n und sehr zu empfehlen. Sch&ouml;nes kleines Unternehmen mit einem Schlaffsaal mit 7 Einzelbetten. Diese stehen in 2er/3er Gruppen unterteilt und mit d&uuml;nnen W&auml;nden voneinander abgetrett unterm Dach. Was ein wenig das Gef&uuml;hl von Privatsph&auml;re vermittelt. Der Gemeinschaftsraum war auch recht gut ausgestattet, gepflegt und modern. Ein Ort wo man es sich gut gehen lassen kann. Die Leute die dort wohnen waren sehr nett und hilfsbereit. Das Personal sehr freundlich und immer f&uuml;r einen Spass zu haben. Ich kann nur sagen das ich lange nicht mehr so viel und so herzhaft gelacht habe wie in den 3 Tagen dort.</p>
    <p>Meinen Geburtstag verbrachte ich dann mit 2 der dort l&auml;nger bleibenden Jungs im Botanischen Garten auf der Suche nach sch&ouml;nen Motiven f&uuml;r unsere Kameras.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-213017.jpg" alt="Die Haka Lodge in Christchurch"
    />
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/IGP5726.jpg" alt="Blumen und Friedensglocke im Botanischen Garten in Christchurch"
    />
  </div>
  <div class="col-md-8">
    <p>Eigentlich wollte ich noch in einen Range Zoo gehen aber erst bekam ich keine Antwort auf meine Email in der ich nach dem angebotenen Shuttle Service fragte und als ich dann anrief erz&auml;hlte man mir das der Setvice 60$ hin und zur&uuml;ck kosten soll. Das war mir dann doch etwas zu teuer da noch einmal weitere 28$ Eintritt dazu kommen w&uuml;rden. Somit w&uuml;rde der Ausflug fast 60&euro; kosten. Das ist mir dann doch echt zu viel Geld f&uuml;r einen Zoobesuch.</p>
    <p>Am Nachmittag habe ich mir dann meinen Geburtstagskuchen selber gebacken und zusammen mit allen anwesenden vernascht. War eine echt gute Tarte de Santiago. Es war ein sehr angenehmer Tag. Alles recht entspannt, mal abgesehen vom Ei aufschlagen mit einem manuellen Handmixer.</p>
    <p>Am n&auml;chsten Tag ging es dann nach Australien. Aber bevor ich dahin geflogen bin, sollte ich doch noch ein kleines Erdbeben miterleben. Als ich gerade meine Sachen packte, fingen auf einmal an die Vorh&auml;ngeschl&ouml;sser an den pers&ouml;nlichen F&auml;chern der G&auml;ste zu klappern. Das dauerte etwa 30 Sekunden und bevor mir richtig klar wurde was gerade passiert, war es auch schon wieder vorbei. Sp&auml;ter stellte sich heraus, dass es ein Erdbeben der St&auml;rke 4 war. Das Epizentrum war die neu Entstandene Verwerfungslinie westlich von Christchurch.</p>
    <p>Nun aber erst einem Ab auf die n&auml;chste "Insel" und mal schauen wie es dort ist. Ich bin gespannt.</p>
  </div>
</div>
