---
layout: blog/de/travel-blog
title: 'Neuseeland: Haast - Mount Cook'
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Haast
  - Mount Cook
  - Wanaka

overview:
  intro: "Heute war wieder ein besonderer Tag wenn auch aus einem nicht ganz so sch&ouml;nen Anlass. Heute war nun leider der letzte Tag gekommen an dem wir zusammen durch Neuseeland fuhren. Wir hatten noch einmal Gl&uuml;ck und traumhaftes Wetter gepaart mit einer echt sch&ouml;nen Strecke entlang zweier riesiger Seen."
  image:
    url: /assets/img/blog/auszeit/small/20121031-083254.jpg
    alt: "Der See bei Wanaka"
---
<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-083254.jpg" alt="Der See bei Wanaka"
    />
  </div>
  <div class="col-md-8">
    <p>Heute war wieder ein besonderer Tag, wenn auch aus einem nicht ganz so sch&ouml;nen Anlass. Heute war nun leider der letzte Tag gekommen an dem Sam und ich zusammen durch Neuseeland fuhren. Wir hatten noch einmal Gl&uuml;ck und traumhaftes Wetter gepaart mit einer echt sch&ouml;nen Strecke entlang zweier riesiger Seen.</p>
    <p>Den Campingplatz f&uuml;r die Nacht mussten wir erst ein wenig in Wanaka suchen. Wir waren schon in der richtigen Stra&szlig;e aber zweifelten daran, dass dort mehr war als eine Schotterpiste. Erst als uns ein anderer Camper entgegen kam, war klar das wir doch richtig sind. Der Campingplatz war bis Dato der Beste. Wir besorgten uns Pl&auml;tze mit einem traumhaften Ausblick &uuml;ber den See und auf die Berge.</p>
    <p>Nachdem, mal wieder n&ouml;tigen, leeren und f&uuml;llen der Wassertanks, beschlossen wir mit nur einem Auto in die Stadt zu fahren und dort essen zu gehen. Es ist schlie&szlig;lich unser letzter gemeinsamer Abend. Wir fanden eine Kneipe mit Ausblick auf den See und g&ouml;nnten uns ein gutes Mahl.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Da Sam ja auch bald Geburtstag hat, hatte ich ihr noch einen Reisef&uuml;hrer f&uuml;r die Drehorte vom Herrn der Ringe besorgt. Somit kann sie sich weitere Drehorte auf ihrer Strecke heraussuchen und besichtigen. Den Rest des Abends, sa&szlig;en wir dann in den Autos und erzählten, wer was die n&auml;chsten Tage anstellen will und wo die Reise hin geht.</p>
    <p>Am n&auml;chsten Morgen war es dann soweit. Nun sollten sich unsere Wege auf unbestimmte Zeit trennen, da Sam ja insgesammt drei Monate Zeit hat und ich mich langsam auf den Weg Richtung Christchurch machen muss. Nach mehr als zwei Jahren guter Freundschaft und unz&auml;hligen Wochenendreisen. Wir waren in der Zeit auf vielen Bergen und sind durch um so mehr Täler gewandelt. Haben unz&auml;hlige St&auml;dte und Regionen mit dem Auto und zu Fu&szlig; erforscht. Machnal sogar per Schiff. Sind nach Sligo gefahren um am Strand reiten zu lernen, waren in unz&auml;hligen Pubs und haben die meist Irische Kultur zusammen genossen. Dies soll nun alles erst einmal auf unbestimmte Zeit vorbei sein, da keiner von uns wei&szlig; ob und wo wir uns im Leben noch einmal wieder sehen werden. Ich hoffe auf jeden Fall das es nicht zu lange dauern wird.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-084018.jpg" alt="Sam auf dem Pferd in Sligo"
     />
  </div>
  <div class="col-md-8">
    <blockquote class="text-righ bq-green">Sam, ich w&uuml;nsche Dir viel Gl&uuml;ck und vor allem Erfolg auf den n&auml;chsten Etappen im Leben, dass auch Du Deinen Traumjob finden magst und hoffe das Du unser geliebtes Irland nicht all zu sehr vermissen wirst. Ich werde Dich und unsere Trips auf jeden Fall vermissen.</blockquote>
    <p>Sam beschloss, weiter Richtung Queenstown zu fahren und ich Richtung Mount Cook. Die Strecke zum Mount Cook fuhr sich recht einfach durch Ebenen und T&auml;ler und dank eines guten H&ouml;rbuches ging die Zeit bis dorthin recht schnell um. Am Mount Cook angekommen fuhr ich erst einmal zur Touristeninfo nach dem Wetter schauen. Da es nachts Frost geben sollte und Wind bis 130km/h beschloss ich wieder 20km zur&uuml;ck zu fahren und die Nacht auf einem gesch&uuml;tzten Campingplatz zu verbringen mit Strom f&uuml;r Heizung und hei&szlig; Wasser zum Duschen. Naja die Duschen waren etwas erb&auml;rmlich niedrig. Ich konnte ohne Sorgen im stand oben &uuml;ber die Kabinenabtrennung schauen und zum Haare waschen musste ich mich hin hocken. Der Ausblick am n&auml;chsten morgen auf Mount Cook sollte aber f&uuml;r vieles entsch&auml;digen. Dazu aber sp&auml;ter mehr.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-084018.jpg" alt="Sam auf dem Pferd in Sligo"
    />
  </div>
</div>
