---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: Kleinere Startschwierigkeiten

categories:
  - de
  - Reiseblog

locations:
  - Auckland
  - Rotorua

overview:
  external_link: https://sebastian301082.wordpress.com/2012/10/19/kleinere-startschwierigkeiten/
  intro: "Heute berichte ich, wie versprochen, &uuml;ber die miesere wie ich in Auckland mit dem Bus zur Autovermietung wollte. Als ich morgens aus dem Hostel los ging in Richtung der Bushaltestelle, stellte ich fest das dort keine Haltestelle zu sehen war. Ich ging dann suchend die Strasse in Fahrtrichtung runter und hoffte noch vor dem Bus an der n&auml;chsten Haltestelle zu sein. Leider hoffte ich vergebens, denn der Bus raste an mir vorbei als ich nur noch 50m von der Haltestelle entfernt war."
  image:
    url: 
    alt: 
---
<p>Heute berichte ich, wie versprochen, &uuml;ber die miesere wie ich in Auckland mit dem Bus zur Autovermietung wollte.</p>
<p>Als ich morgens aus dem Hostel los ging in Richtung der Bushaltestelle, stellte ich fest das dort keine Haltestelle zu sehen war. Ich ging dann suchend die Strasse in Fahrtrichtung runter und hoffte noch vor dem Bus an der n&auml;chsten Haltestelle zu sein. Leider hoffte ich vergebens, denn der Bus raste an mir vorbei als ich nur noch 50m von der Haltestelle entfernt war.<!--more--></p>
<p>Ich beschloss dann an die n&auml;chste gro&szlig;e Hauptstra&szlig;e zu gehen und mit einem anderen Bus Richtung S&uuml;den zu fahren und dann von dort irgendwo ein Taxi zu nehmen. Auch dies sollte nicht ganz so einfach sein. Der Bus war diesmal weniger das Problem. An der Autobahnauffahrt angekommen, rief ich die Taxizentrale von Auckland an und bestellte mir ein Taxi. Der Typ am anderen Ende erz&auml;hlte mir das es mindestens 30min dauert bis ein Taxi kommen w&uuml;rde. Na Super.</p>
<p>Also stand ich nun dort am Stra&szlig;enrand vor der Autobahnauffahrt und wartete auf mein Taxi. Und wartete. Und wartete. Nach Einiger zeit kam eine gro&szlig;e freundlich aussehende Junge Frau mit Sommersprossen auf mich zu und frage Café schl&uuml;rfend ob ich trampen w&uuml;rde, da ich schon so lange dort warten w&uuml;rde. Ich erz&auml;hlte ihr von meiner Misere und bevor ich mich versah sa&szlig; ich in ihrem Auto auf dem Beifahrersitz. Sie fuhr mich direkt zur Autovermietung. Auf der Fahrt dorthin erz&auml;hlten wir &uuml;ber Irland und die Band Mumford &amp; Son die wir beide toll finden.</p>
<p>Nachdem sie mich direkt vor dem Geb&auml;ude von Wendekreisen Autovermietung Auckland abgesetzt hatte ging ich hinein um fest zustellen, dass die Dame dort keine Buchung unter meinem Nachnamen hatte. Auch unter Sebastian hatte sie keine Buchung. Ich fing an zu schwitzen. Unruhig friemelte ich meine Buchungsbest&auml;tigung aus dem Koffer und hoffte. Ich hatte schlie&szlig;lich die fast 1000$ bereits voll bezahlt. Nachdem sie im Computer nachgeschaut hatte, war klar das die Buchung in Ordnung war. Nur die Namen wurden vermurkst. Sie konnte die Papierbuchung nicht finden, da auf der Buchung Sebastien stand und nicht mein Nachname. Danach war alles recht einfach. Alle notwendigen Papiere waren schnell erledigt. Das Auto stand auch schon bereit zur Abfahrt.</p>
<p>N&auml;chster Stop Rotorua. Dazu aber beim n&auml;chsten mal mehr.</p>
