---
layout: blog/de/travel-blog
title: 'Neuseeland: Rotorua - Taupo'
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Rotorua
  - Taupo

overview:
  intro: "Da die Nacht recht kalt war beschloss ich morgens schon fr&uuml;h aufzustehen und an den See zu fahren. Dort bekam ich einige echt sch&ouml;ne Motive vor's Objektiv."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-73.jpg
    alt: Die Seilbahn bei Rotorua
---
<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-83.jpg" alt="Ich in einer Seifenkiste"
    />
  </div>
  <div class="col-md-8">
    <p>Da die Nacht recht kalt war beschloss ich morgens schon fr&uuml;h aufzustehen und an den See zu fahren. Dort bekam ich einige echt sch&ouml;ne Motive vor's Objektiv. Unter anderen Schwarze Schw&auml;ne und sch&ouml;ne Geb&auml;ude.</p>
<p>Danach fuhr ich dann zur&uuml;ck zu Skyline und g&ouml;nnte mir endlich die Seifenkisten Fahrten. Die Eintrittskarte kostete 41$ (27&euro;) f&uuml;r die Gondelfahrt plus 3 mal Seifenkiste fahren auf 3 verschiedenen Strecken. Ich kann euch sagen das macht echt Spa&szlig; und ist echt zu empfehlen. Dort oben gibt es noch einiges mehr zu sehen und zu entdecken. Der Ausblick &uuml;ber die Stadt ist nat&uuml;rlich auch nicht von schlechten Eltern. Man kann dort bei gutem Wetter echt viel Zeit verbreiten.</p>
<p>Nun war es aber schon fast Mittag und ich war ja mit Sam in der N&auml;he von Taupo verabredet. Also wieder runter vom Berg und ab auf die Stra&szlig;e. Die Strecke nach Taupo war echt entspannt. Auf dem Campingplatz angekommen, fand ich Sam auch recht einfach. Sie sa&szlig; am Fluss und a&szlig; Mittag. Der Platz war Super gepflegt und echt gut gelegen zwischen den Bergen und dem Fluss. Einige hundert Meter den Fluss hinunter Ist sogar ein recht kr&auml;ftiger Wasserfall. Nach ein wenig ausspannen entschlossen wir nochmal in die Stadt zu fahren und zur Touristeninfo zu gehen um zu schauen ob die Strecken zu 3 Vulkane, die wir uns den morgen anschauen wollten, frei sind.</p>

  </div>
</div>
