---
layout: blog/de/travel-blog
title: Reise Szenarios im Detail
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Australien
  - Neuseeland

overview:
  intro: "Hier nun wie versprochen, f&uuml;r euch die beiden Reise Szenarien mal im Detail beleuchtet. Beide beginnen und enden weitestgehend gleich und k&ouml;nnen somit zusammengefasst werden. Der Anfang in Neuseeland Also der Plan ist es Anfang Oktober, wahrscheinlich so um den 08. Oktober, von Hamburg aus &uuml;ber London und Singapur in Richtung Auckland, Neuseeland zu fliegen. Die Reisezeit wird fast 2 Tage betragen, dazu kommt noch die Zeitverschiebung von dann +11 Stunden. Dort angekommen, sollte sp&auml;testens am n&auml;chsten Tag ein gemieteter Camper Van auf mich warten. Am liebsten w&auml;re mir aber, den Wagen direkt am selben Tag zu bekommen, damit ich direkt rein springen kann. Ab an den n&auml;chsten Strand und mich ungest&ouml;rt lang machen. Ich geh davon aus, dass ich nach den langen Fl&uuml;gen doch ziemlich Platt und genervt sein werde."
  image:
    url: 
    alt: 
---
<div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m60!1m8!1m3!1d12320737.826805418!2d165.37966947074187!3d-41.06915366893261!3m2!1i1024!2i768!4f13.1!4m49!3e0!4m5!1s0x6d0d47fb5a9ce6fb%3A0x500ef6143a29917!2sAuckland%2C+New+Zealand!3m2!1d-36.8484597!2d174.7633315!4m5!1s0x6d6ea9067b8616bb%3A0xde3bfe719f4a10cf!2s4188+SH+5%2C+Mihi+3083%2C+New+Zealand!3m2!1d-38.4770627!2d176.3017341!4m5!1s0x6d6b01c0f7329c8d%3A0x2f485442ac782e1d!2sBruce+Rd%2C+Tongariro+National+Park+4691%2C+New+Zealand!3m2!1d-39.2163841!2d175.5440309!4m5!1s0xa9d51df1d7a8de5f%3A0x500ef868479a600!2sQueenstown%2C+New+Zealand!3m2!1d-45.0311622!2d168.6626435!4m5!1s0xa9d3f2390ff0c3cd%3A0xb4ae05168f20bfb!2s2427+Blackmount-Redcliff+Rd%2C+Whare+Creek+9679%2C+New+Zealand!3m2!1d-45.6691043!2d167.67526909999998!4m5!1s0xa9d2c7ac550ffe4f%3A0xd7c9ecb10f95515!2s1300+Bluff+Hwy%2C+Woodend%2C+Awarua+9877%2C+New+Zealand!3m2!1d-46.5036713!2d168.3659571!4m5!1s0xa82be4e00f5f513d%3A0x500ef8684799941!2sDunedin%2C+New+Zealand!3m2!1d-45.8787605!2d170.50279759999998!4m5!1s0x6d322f4863c5ed01%3A0x500ef8684799945!2sChristchurch%2C+New+Zealand!3m2!1d-43.5320544!2d172.6362254!5e0!3m2!1sen!2sus!4v1492954445241" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p>
            Hier nun wie versprochen, f&uuml;r euch die beiden Reise Szenarien mal im Detail beleuchtet. Beide beginnen und enden weitestgehend gleich und k&ouml;nnen somit zusammengefasst werden.
        </p>

        <h2>Der Anfang in Neuseeland</h2>
        <p>
            Also der Plan ist es Anfang Oktober, wahrscheinlich so um den 08. Oktober, von Hamburg aus &uuml;ber London und Singapur in Richtung Auckland, Neuseeland zu fliegen. Die Reisezeit wird fast 2 Tage betragen, dazu kommt noch die Zeitverschiebung von dann +11 Stunden. Dort angekommen, sollte sp&auml;testens am n&auml;chsten Tag ein gemieteter Camper Van auf mich warten. Am liebsten w&auml;re mir aber, den Wagen direkt am selben Tag zu bekommen, damit ich direkt rein springen kann. Ab, an den n&auml;chsten Strand und mich ungest&ouml;rt lang machen. Ich geh davon aus, dass ich nach den langen Fl&uuml;gen doch ziemlich Platt und genervt sein werde.<!--more-->
        <p>
            Am n&auml;chsten Tag werde ich mich dann mit Sam treffen, da Sie den Auftrag bekommt f&uuml;r uns beide SIM-Karten zu besorgen, damit wir uns abstimmen k&ouml;nnen wann und wo wir uns treffen wollen. Weiterhin nat&uuml;rlich auch um hier und da mal GPS Daten und Twitter/Blog Posts via Mail zu versenden.
        </p>
        <p>
            In den n&auml;chsten 14 Tagen sollte es dann recht ungezwungen mit den Wohnmobilen &uuml;ber beide Inseln gehen. Also m&uuml;ssen wir auch zwischendurch mal mit der F&auml;hre von der Nord- auf die S&uuml;d- Insel &uuml;bersetzen.
        </p>
        <p>
            Ziel meiner 14 t&auml;gigen Reise wird dann Christchurch sein, welches einer der gr&ouml;&szlig;ten St&auml;dte auf der S&uuml;dinsel sein soll. Sam wird Ihre Camper Van Reise noch weitere 26 Tage vorsetzten. Ich wiederum werde dann meinen Wagen in Christchurch zur&uuml;ck geben und vielleicht noch einen oder 2 weitere Tage Christchurch zu Fu&szlig; erkunden, bevor es dann weiter nach Australien geht.
        </p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <h2>Szenario 1: Ich bekomme 3 Monate Urlaub</h2>
        <p>
            Dieses Szenario ist recht einfach und kurz gehalten, da ich seit Monaten nicht mehr wirklich davon aus gehe, das mein Urlaub genehmigt wird. In diesem Fall werde ich entweder nach Cairns im Norden der Ostk&uuml;ste oder nach Perth an die Westk&uuml;ste fliegen. Mir dort einen Camper Van kaufen oder mieten und damit zur&uuml;ck nach Sydney fahren. Immer dann anhalten wenn ich Lust habe oder es sich lohnt. Einfach nur die Sch&ouml;nheit der Natur und der K&uuml;ste genie&szlig;en. Was ist mit Arbeiten? Naja das werden wir dann vor Ort sehen. Was sich halt f&uuml;r Backpacker so ergibt. Auf jeden Fall m&ouml;chte ich dann auf eine Trainingsfarm. Mit oder ohne anschlie&szlig;ender Arbeitsstelle auf einer richtigen Farm. Silvester soll dann in Sydney gefeiert werden; mit riesigem Feuerwerk und so. Von dort aus zur&uuml;ck nach Irland soll es dann aber wieder &uuml;ber Hamburg gehen. Die liebsten besuchen und mit hoffentlich viel br&auml;une und vielen Erlebnissen protzen.
        </p>

        <h2>Szenario 2: Ich muss meinen Job aufgeben</h2>
        <p>
            Hier wird die Thematik schon aufwendiger. Also bevor ich &uuml;berhaupt Richtung Ozeanien aufbreche, breche ich hier in Irland alle Zelte ab und bringe alle meine Sachen nach Deutschland in mein Lager. Anfang Oktober dann wie oben beschrieben nach Neuseeland. Ende Oktober w&uuml;rde ich dann von Christchurch aus nach Sydney fliegen.
        </p>
        <p>
            Dort angekommen, erst einmal zu sehen, dass ich meine Papiere sortiert bekomme und einen Job in meinem Beruf finde. Diese sind, laut einschl&auml;giger Webseiten, ziemlich gut ges&auml;t und auch &auml;hnlich gut bezahlt. (Hoffe, dass die Daten stimmen). Ich werde nat&uuml;rlich versuchen schon von zu Hause aus einen guten Job vor Ort zu finden. Mit diesem Job w&uuml;rde ich dann bis Silvester in Sydney bleiben, um mir das riesige Feuerwerk anzuschauen.
        </p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m30!1m8!1m3!1d6624036.767220218!2d148.05456100000004!3d-35.839367!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%2C+New+South+Wales%2C+Australia!3m2!1d-33.868819699999996!2d151.2092955!4m5!1s0x6b164d69b05c9021%3A0x500ea6ea7695660!2sCanberra%2C+Australian+Capital+Territory+2601%2C+Australia!3m2!1d-35.2809368!2d149.1300092!4m5!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%2C+Victoria%2C+Australia!3m2!1d-37.8136276!2d144.96305759999998!5e0!3m2!1sen!2sus!4v1492955402891" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p>
            Im Januar will ich dann ganz gerne mit dem Bus von Sydney nach Melbourne fahren. Die Bustickets kostet ca. 100AU$ (ca. 85&euro;) f&uuml;r die insgesamt fast 1000km und die Reisezeit betr&auml;gt ungef&auml;hr 12 Stunden. Auf dem Weg dort hin ist ein Zwischenstopp in Canberra f&uuml;r ein oder zwei Tage mit Kulturprogramm eingeplant.
        </p>
        <p>
            In Melbourne m&ouml;chte ich dann vielleicht auch noch so ungef&auml;hr eine bis zwei Wochen bleiben und von dort aus die Steilk&uuml;ste ‘Zw&ouml;lf Apostel’ besuchen und mir die wild lebenden Pinguine anschauen. Ich glaube aber, dass volle 2 Wochen doch zu lang f&uuml;r mich sein k&ouml;nnten.
        </p>
        <p>
            Geplant ist von Melbourne aus nach Perth zu fliegen und dort einige Tage zu verweilen. Perth soll schlie&szlig;lich eine der sch&ouml;nsten St&auml;dte Australiens sein. Es ist geplant dort einen Camper Van zu kaufen. Mit diesem geht es nach einigen finalen Sicherheitschecks los in Richtung Adelaide. Insgesamt &uuml;ber 2.500km.
        </p>
        <p>
            Das meiste davon auf dem Highway 1 entlang der S&uuml;dk&uuml;ste. Auf dem Weg dort hin m&ouml;chte ich mir gerne einige der vielen, hoffentlich sch&ouml;nen Weing&uuml;ter und Whisky Destillieren anschauen und falls m&ouml;glich auch gerne die eine oder andere Woche dort arbeiten.
        </p>
        <p>
            Adelaide steht auch als Etappenziel auf meinem Zettel, da es im dortigen Zoo Pandas geben soll. Falls n&ouml;tig w&uuml;rde ich dort wieder versuchen einen Job in meinem Beruf zu finden und f&uuml;r einige Wochen dort bleiben. Falls der Camper Van genug Vertrauen in mir geweckt hat und sich ein bis zwei Mitfahrer finden, soll es dann von Adelaide aus durchs Outback &uuml;ber Alice Springs (Ulluru) nach Cairns gehen. Alternativroute entlang der Ostk&uuml;ste &uuml;ber Sydney und Brisbane nach Cairns habe ich mir auch schon herausgesucht. Ich hoffe aber eher, dass ich durch die W&uuml;ste zum Regenwald fahren kann.
        </p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>
            Der Regenwald ist einer der Pl&auml;tze die ich unbedingt auf meiner Reise durch Australien sehen m&ouml;chte. In der N&auml;he von Cairns gibt es den Daintree National Park. Ich hoffe dort irgendwo die eine oder andere gute Gruppentagesreise in den Regenwald zu finden. Ich m&ouml;chte dort die Natur in seiner reinsten Form erleben und fotografieren. Von Cairns aus soll es dann die K&uuml;ste entlang des Great Barrier Reef Richtung S&uuml;den gehen. Es ist mein Plan das Riff &uuml;ber wie unter Wasser zu besichtigen.
        </p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m54!1m8!1m3!1d29395787.189780723!2d134.711318!3d-25.923634!3m2!1i1024!2i768!4f13.1!4m43!3e0!4m5!1s0x2a32966cdb47733d%3A0x304f0b535df55d0!2sPerth%2C+Western+Australia%2C+Australia!3m2!1d-31.9505269!2d115.8604572!4m5!1s0x2a38234ac3375271%3A0x712519290cdd7173!2s2588+Gnowangerup+-+Jerramungup+Rd%2C+Kebaringup+WA+6335%2C+Australia!3m2!1d-34.030023!2d118.227121!4m5!1s0x6ab735c7c526b33f%3A0x4033654628ec640!2sAdelaide%2C+South+Australia%2C+Australia!3m2!1d-34.9284989!2d138.60074559999998!4m5!1s0x2b321944be8f1331%3A0x50217a82a254fd0!2sAlice+Springs%2C+Northern+Territory+0870%2C+Australia!3m2!1d-23.698041999999997!2d133.8807471!4m5!1s0x697862555ba22413%3A0x400eef17f207860!2sCairns%2C+Queensland%2C+Australia!3m2!1d-16.9185514!2d145.7780548!4m5!1s0x6b91579aac93d233%3A0x402a35af3deaf40!2sBrisbane%2C+Queensland%2C+Australia!3m2!1d-27.469770699999998!2d153.0251235!4m5!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%2C+New+South+Wales%2C+Australia!3m2!1d-33.868819699999996!2d151.2092955!5e0!3m2!1sen!2sus!4v1492955989957" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p>
            In der N&auml;he von Brisbane gibt es dann eine sehr interessant klingende Trainingsfarm. Falls ich nicht schon vorher auf eine andere Trainingsfarm gesto&szlig;en sein sollte, w&uuml;rde ich dort gerne das Farm Training absolvieren. Falls zuf&auml;llig dann auch noch irgendwo ein interessant klingender Job auf einer Farm frei sein sollte, w&uuml;rde ich mich um so mehr freuen. Ich w&uuml;rde gerne mit Pferden arbeiten falls m&ouml;glich.
        </p>
        <p>
            Irgendwann so Ende April ist dann der Plan wieder in Sydney anzukommen.
        </p>

        <h2>Die R&uuml;ckreise und die Zeit danach</h2>
        <p>
            In den letzten Wochen / Monaten meiner Reise werde ich dann anfangen intensiver nach neuen Jobs in Europa zu fahnden. Wieder in Sydney angekommen will ich dann den Camper Van verkaufen und mich so langsam auf meine R&uuml;ckreise vorbereiten. Also Australische Steuererkl&auml;rung machen, Konto abmelden falls nicht mehr ben&ouml;tigt und was noch so alles dazu geh&ouml;rt. Wenn sich zeitlich nichts verschiebt ist der Plan so ende April 2013 wieder in Richtung Hamburg zu fliegen.
        </p>
        <p>
            Ich hoffe ziemlich Zeitnah nach meinem kleinen Trip durch Australien irgendwo einen guten Job zu finden. Ich m&ouml;chte auch nicht ausschlie&szlig;en, dass ich mich wieder bei meiner jetzigen Firma bewerbe. Grundlegend macht der Job hier ja Spa&szlig; und Irland ist einfach wahnsinnig sch&ouml;n. Alternativ gerne auch Hamburg, Rostock, Wien und allgemein die bergigen Regionen des deutschsprachigen raumes. Eine Gute Zug oder Flug Verbindung in Richtung Familie vorausgesetzt.
        </p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <h2>Zusammenfassung</h2>
        <p>
            Insgesamt sollten es dann weit &uuml;ber 12.000km Fahrstrecke mit 2 Camper Van gewesen sein. &Uuml;ber 1000km mit dem Bus. Ich sollte dann beide Hauptinseln Neuseelands und alle 5 Regionen des Australischen Festlandes besichtigt haben. Bin mindestens 4 Mal geflogen., davon hoffentlich mindestens einmal mit einem Airbus A-380. Klingt also nach einer aufregenden Zeit. Ich kann es kaum noch erwarten!
        </p>
        <p>
            So nun seid Ihr auch auf dem aktuellsten Stand was den oder besser die Reisepl&auml;ne angeht.
        </p>
        <p>
            Bis bald.
            <br />
            Euer Basti
        </p>
    </div>
</div>
