---
layout: blog/de/travel-blog
title: Planung. Das A und O meiner Reise
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Australien
  - Neuseeland
  - Irland
  - Deutschland

overview:
  intro: "Hallo. Heute m&ouml;chte ich euch, wie versprochen, von meinen Reisevorbereitungen berichten. Da eine Work &amp; Travel Reise nach Australien etwas nicht allt&auml;gliches ist muss man auch bei den Vorbereitungen etwas mehr Vorsicht walten lassen. Man muss doch auf einiges mehr achten, da man ja schlie&szlig;lich f&uuml;r einige Monate von zu Hause weg ist. Australien und Neuseeland liegen ja auch nicht gerade um die Ecke sondern am anderen Ende der Welt. Also ist planen das Beste was man machen kann."
  image:
    url:
    alt:
---
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>
            Hallo. Heute m&ouml;chte ich euch, wie versprochen, von meinen Reisevorbereitungen berichten. Da eine Work &amp; Travel Reise nach Australien etwas nicht allt&auml;gliches ist muss man auch bei den Vorbereitungen etwas mehr Vorsicht walten lassen. Man muss doch auf einiges mehr achten, da man ja schlie&szlig;lich f&uuml;r einige Monate von zu Hause weg ist. Australien und Neuseeland liegen ja auch nicht gerade um die Ecke sondern am anderen Ende der Welt. Also ist planen das Beste was man machen kann.
        </p>
        <p>
            Nachfolgend habe ich mal eine Liste erstellt, was ich alles f&uuml;r ein gutes gelingen meiner Reise erledigen muss.
        </p>

        <h2>Allgemeines</h2>
        <ul>
            <li>Job k&uuml;ndigen (erledigt)</li>
            <li>Wohnung k&uuml;ndigen (erledigt)</li>
            <li>Auto nach Deutschland fahren (erledigt)</li>
            <li>Auto in Deutschland zulassen (erledigt)</li>
            <li>Working Holiday Visum beantragen (erledigt)</li>
            <li>Fl&uuml;ge buchen (erledigt)</li>
            <li>Auslands Haftpflicht Versicherung (erledigt)</li>
            <li>Spezielle Working Holiday Krankenversicherung (erledigt)</li>
            <li>Reise R&uuml;cktritts Versicherung (erledigt)</li>
            <li>Impfungen checken</li>
            <li>Irisches Handy freischalten lassen (erledigt)</li>
            <li>Skype Geb&uuml;hren nachschauen (erledigt)</li>
        </ul>

        <h2>Vorbereitungen f&uuml;r Neuseeland</h2>
        <ul>
            <li>Camper Van buchen (erledigt)</li>
            <li>g&uuml;nstige SIM-Karte heraussuchen (erledigt)</li>
            <li>Bargeld besorgen</li>
        </ul>

        <h2>Vorbereitungen f&uuml;r Australien</h2>
        <ul>
            <li>Job suchen in Sydney oder Melbourne (in arbeit)</li>
            <li>Mitgliedschaft f&uuml;r australische Jugendherbergen besorgen</li>
            <li>WWOOF Australia Mitgliedschaft beantragen</li>
            <li>Unterkunft f&uuml;r die ersten Tage (erledigt)</li>
            <li>Postanschrift in Sydney besorgen</li>
            <li>Bankkonto beantragen</li>
            <li>g&uuml;nstige SIM-Karte heraussuchen (erledigt)</li>
            <li>Bargeld besorgen</li>
        </ul>

        <h2>Nach Ankunft in Australien</h2>
        <ul>
            <li>Medicare Card beantragen</li>
            <li>Steuernummer beantragen</li>
        </ul>
        <p>
            Das ist die Liste an Dingen die ich noch zu erledigen habe. Es sind einige wenige aber wichtige bereits erledigt aber bei vielen gibt es noch einiges zu tun, bis ich diese abgehacken kann. Ich werde immer wieder &uuml;ber die Fortschritte beim abhacken berichten.
        </p>
        <p>
            Zum Beispiel habe ich gerade schon mit meinem Vermieter dar&uuml;ber gesprochen, dass ich ich die Wohnung aufgeben werde. Werde mich in den n&auml;chsten Tagen nochmal genau mit Ihm besprechen, wie das am Ende ablaufen soll mit der &Uuml;bergabe und meiner Kaution.
        </p>
        <p>
            In den n&auml;chsten Tagen werde ich &uuml;ber die Planungen f&uuml;r meine Reise mit dem PKW nach Deutschland &uuml;ber Frankreich, Belgien und den Niederlanden berichten.
        </p>
        <p>
            Bis bald.
            <br />
            Euer Basti
        </p>
    </div>
</div>