---
layout: blog/de/travel-blog
title: Mein erster Beitrag im neuen Blog
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Australien
  - Belgien
  - Deutschland
  - Frankreich
  - Irland
  - Neuseeland
  - Niederlande

overview:
  intro: "Dies ist nun mein erster richtiger Beitrag (Post) im neuen Blog. Tja was soll ich hier blo&szlig; schreiben? Ich hoffe das ich mich wieder daran gew&ouml;hne hier meine Erfahrungen &uuml;ber meine Reisen zu posten."
  image:
    url: /assets/img/sebastian_thoss.jpg
    alt: Ein Foto von Sebastian Tho&szlig;
---
<div class="row margin-bottom-10">
  <div class="col-md-3 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/sebastian_thoss.jpg"
         alt="Foto von Sebastian Tho&szlig;"
    />
  </div>
  <div class="col-md-9">
      <p>
          <span class="dropcap">D</span>
          ies ist nun mein erster richtiger Beitrag (Post) im neuen Blog. Tja was soll ich hier blo&szlig; schreiben? Ich hoffe das ich mich wieder daran gew&ouml;hne meine Erfahrungen &uuml;ber meine Reisen zu posten.
      </p>
      <h3>Kurz zu mir</h3>
      <p>
          Ich bin der Basti und bin s&uuml;chtig. S&uuml;chtig nach reisen.
          Ich will die Welt sehen solange ich noch jung, gesund und unabh&auml;ngig bin.
          Naja bei dem Thema jung kann man sich streiten. Bin doch schon aus dem Baujahr 1982.
          Ich stamme eigentlich aus Deutschlands norden.
          Lebe und arbeite aber zur Zeit in Irland.
          Ich arbeite hier in der IT.
          Ich bin somit ein echter B&uuml;rohengst aber kein Nerd.
          Ob ihr es nun glaubt oder nicht, ich mag meinem Job fast genau so sehr wie reisen.
          Er finanziert das ganze schlie&szlig;lich auch.
          Somit habe ich schon einige L&auml;nder bereist und auch schon so einiges gesehen.
      </p>

      <h4>Meine bereits bereisten L&auml;nder</h4>
      <p>
          Deutschland, Niederlande, Belgien, Frankreich, Spanien, Portugal, Italien, Schweiz, &Ouml;sterreich, Ungarn,
          Tschechoslowakei, Rum&auml;nien, Polen, D&auml;nemark, Irland (ROI) &amp; Nord Irland (NI), Schottland,
          England &amp; USA.
      </p>

  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/sebastian_thoss.jpg"
         alt="Foto von Sebastian Tho&szlig;"
    />
  </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>
            In all diesen L&auml;ndern bin ich bereits gewesen. Einige davon habe ich nur vom Fenster eines PKWs oder LKWs aus gesehen. Andere habe ich durchwandert und wieder andere durfte bzw. darf ich mein zu Hause nennen. Ich m&ouml;chte aber noch viel mehr von der Welt sehen. Die Welt ist gro&szlig;, weit, traumhaft sch&ouml;n und vor allem (zur Zeit) sehr freundlich und offen zu Reisenden.
        </p>
        <p>
            Mein n&auml;chster gro&szlig;er Plan ist nach Australien zu gehen um dort f&uuml;r einige Monate zu Leben und vor allem zu Reisen. Vor Ort m&ouml;chte ich mir das Reisen mit Gelegenheitsarbeit in meinem eigenen Beruf und auf Farmen verdienen. Das ist dank Working Holliday Visa kein Problem. In Deutschland eher bekannt als Work and Travel. Das ist auch der Hauptgrund warum ich mit diesem Blog hier starte damit meine liebsten immer auf dem aktuellsten Stand sind. Was die Planung angeht und sp&auml;ter auch das Reisen. Ich hoffe inst&auml;ndig damit meinen liebsten zu zeigen das es mir gut geht und das sie sich nicht all zu sehr sorgen m&uuml;ssen!
        </p>
        <p>
            Meine Posts werde ich Kategorisieren nach Orten, damit es f&uuml;r meine liebe Familie einfacher ist nur die Deutschen Beitr&auml;ge heraus zu filtern. Weiterhin werde ich manchmal via E-Mail posten und manchmal direkt vom Computer.
            Weiterhin habe ich mir ein Profil bei Twitter eingerichtet damit ich auch mal spontan ne kurze Mitteilung an euch schicken kann. F&uuml;r Diejenigen unter euch die kein Benutzerkonto bei Twitter haben <a href="http://twitter.com/dj_thossi">hier</a> der Link zu meinem Profil <a href="http://twitter.com/dj_thossi">http://twitter.com/dj_thossi</a> Weiterhin werden auch hier im Blog rechts neben dem Text meine letzten 5 Twitter Beitr&auml;ge (Tweets) angezeigt.
            Ich werde bei Facebook und Twitter bescheid gegeben wenn ich etwas geschrieben habe. Somit sollte ich die wichtigsten Kan&auml;le abgedeckt haben.
        </p>
        <p>
            Was gibt es noch &uuml;ber mich zu erz&auml;hlen? Nicht viel was hier hin geh&ouml;rt. Vielleicht noch eins. Die meisten meiner Freunde und Familie wissen, dass ich nicht das hellste Licht im Deutsch Unterricht war. Also verzeiht mir bitte wenn ich Rechtschreib und Grammatik Fehler mache. Ich werde mein bestes geben und versuchen alle meine Posts vorher nochmal Korrektur zu lesen und von einschl&auml;gigen Programmen kontrollieren zu lassen.
        </p>
        <p>
            So jetzt ist ja doch der erste Post ein wenig l&auml;nger geworden als geplant. Naja egal. Also lehnt euch zur&uuml;ck und genie&szlig;t die Show
        </p>
        <p>
            Lieben Gru&szlig; aus Dublin
            <br />
            Basti
        </p>
        <p>
            PS. an meine Familie: ‘Keep on smiling’!
        </p>
    </div>
</div>
