---
layout: blog/de/travel-blog
title: Nachruf auf zwei Jahre Irland
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Dublin
  - Irland

overview:
  external_link: https://sebastian301082.wordpress.com/2012/09/28/nachruf-auf-zwei-jahre-irland/
  intro: "Ich habe schon die meisten L&auml;nder Zentral und West Europas gesehen und ich kann nur sagen Irland hat mir bis jetzt am besten gefallen. Ich war nun fast genau 2 Jahre dort. Ich habe in diesen zwei Jahren so viel gesehen und erlebt. Daf&uuml;r bin ich sehr Dankbar."
  image:
    url: /assets/img/blog/auszeit/small/20121012-1123051.jpg
    alt: 
---
<p>Ich habe schon die meisten L&auml;nder Zentral und West Europas gesehen und ich kann nur sagen Irland hat mir bis jetzt am besten gefallen. Ich war nun fast genau 2 Jahre dort. Ich habe in diesen zwei Jahren so viel gesehen und erlebt. Daf&uuml;r bin ich sehr Dankbar.<!--more--></p>
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-1123051.jpg" alt="20121012-112305.jpg" class="alignleft size-full" /> Es fing aber alles sehr turbulent an. Eigentlich hatte ich schon nicht mehr mit einem Job in Irland gerechnet und mich in Deutschland nach etwas anderem umgesehen. Eines Tages rief dann eine Firma bei mir an und frage ob ich kurz Zeit h&auml;tte f&uuml;r ein kurzes Gespr&auml;ch. Es stellte sich heraus das es eine der Firmen war bei denen ich mich beworben hatte. Das hatte ich schon v&ouml;llig vergessen. 2 weitere Tage sp&auml;ter hatte ich den Job. In den n&auml;chsten 4 Wochen haben mir alle meine Freunde und meine Familie geholfen meine Wohnung in Hamburg aufzul&ouml;sen und in ein kleines Lager ich r&auml;umen.</p>
<p>Viele meiner Freunde haben mich damals gefragt was man denn alles beachten muss damit man als Deutscher in Irland arbeiten kann. Die Frage war recht schnell beantwortet. Nur eine PPS Nummer. Das ist eine Mischung aus Sozialversicherungs- und Steueridentifikationsnummer. Diese kann man direkt vor Ort beantragen und wird f&uuml;r alles weitere wie Bankkonto oder Handyvertrag ben&ouml;tigt.</p>
<p>Mitte Oktober 2010 fing ich dann in Dublin bei der neuen Firma an? In der alle Kollegen sehr freundlich waren und vor allem hilfsbereit. Ich fand schnell neue Freunde und f&uuml;hlte mich in meiner neuen WG sehr heimisch.</p>
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113008.jpg" alt="20121012-113008.jpg" class="alignright size-full" />Bl&ouml;d war nur, dass ich schon auf dem Flug nach Dublin merkte das irgendetwas mit meiner Stimme nicht in Orndung ist. Die ersten Tage in einem fremden Land und in fremder Sprache ohne wirklich reden zu k&ouml;nnen waren nicht ganz einfach. Besonders da ich mich in den English Kursen nie wirklich um das Thema Gesundheit/Medizin gek&uuml;mmert hatte. Also bin ich ohne wirklich reden zu k&ouml;nnen, geschweige denn die W&ouml;rter zu wissen, zur n&auml;chsten Apotheke und hab mir was zum inhalieren besorgt.</p>
<p>Noch von Deutschland aus organisierte ich einen Deutschsprachigen Abend in einem mir g&auml;nzlich unbekannten Pub um auf gleichgesinnte zu sto&szlig;en und gegebenenfalls noch weitere Tips zu bekommen. Ich lernte bei diesem Treffen eine echt nette Frau kennen. Mit Sam war ich seit dem regelm&auml;ssig auf Reisen und wir erkundeten viel Winkel Irlands. Anfangs noch kleinere Touren durch Dublin und in der Umbgebung, da zu diesem Zeitpunkt mein Auto noch in Deutschland war.</p>
<p>Wir sind w&auml;hrend dieser zeit traumhafte Wanderwege durch die Stadt und entlang der K&uuml;ste gelaufen. Sobald ich Ostern 2011 mein Auto nach Irland holte, ging das reisen erst richtig los. Ich war mit Familie in Galway und auf dem Ring of Kerry. Hab bekannte in Cork besucht. bin mit Sam am Giant's Causeway gewesen. Wir haben uns bewusst verfahren und sind mit dem Auto am Strand gelandet. Haben wundersch&ouml;ne berglandschaften erkundet. Waren auf dem h&ouml;chsten Berg in Wicklow. Wir haben tolle Ausritte am Strand und in den Bergen gemacht. Nat&uuml;rlich habe ich in den zwei Jahren auch fast jede gr&ouml;&szlig;ere Stadt besichtigt. Um nur einige zu nennen: Belfast, Newcastle, Bushmills, Sligo, Donegal, Galway, Killarney, Cork, Waterford, Wexford, Kilkenny, Athlone, Wicklow und nat&uuml;rlich auch Dublin.</p>
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113456.jpg" alt="20121012-113456.jpg" class="alignleft size-full" />In Dublin selbst habe ich viele sch&ouml;ne und traditionelle Pubs gesehen und nat&uuml;rlich auch die au&szlig;ergew&ouml;hnlichen Pubs. Ich habe Drinks in einer zum Pub umgebaute Kirche genossen sowie in einem alten Bankgeb&auml;ude. Ich wurde in irischen Pubs an die franz&ouml;siche Séine verf&uuml;hrt oder in einem Pub um die Ecke um mehrere Jahrhunderte zur&uuml;ck in der zeit versetzt.</p>
<p>Ich war in Dublin auch in den verschiedensten Restaurants. Angefangen mit betrunkenen Karaoke zum abendlichen Irish breakfast. Weiter ging es mit Burger in den verschiedensten Restaurants bis hin zu Libanesisch und Tepenyaki.</p>
<p>Auch mit Events habe ich um mich umworfen. Ich war bei Cirque du Soleil, Jeff Dunnham, Herr der Ringe Konzert, John Williams Soundtrack Konzert und mehreren Klasischen Konzerten. Mit der Firma war ich beim Pferde- und  Hunderennen. Ich war im Botanischen Garten zur Orchideenaustellung und habe mehrer Whiskey Distillereien besichtigt. Museen und Gallerien waren nat&uuml;rlich auch dabei. Ich auch noch bei Comedy Nights und im Theater. Zu guter Letzt waren in Dublin auch noch die Tall Ships die ich mir angeschaut habe.</p>
<p>Leider nicht geschafft habe ich das Cliff of Moher zu dem ich gefahren bin und dann doch am zu teuren Parkplatz wieder umgedreht habe und das Bundesland Donegal mit seiner traumhaften Natur habe ich auch NOCH nicht gesehen.</p>
<p>Ich glaube ich habe trotzdem die zeit in Irland sehr gut genutzt und das beste daraus gemacht. auch wenn ich nun erst gerade einmal wenige Tage aus Irland weg bin vermisse es ich schon irgendwie. Deswegen hier nun nachfolgend ein Abschiedssegen in Irisch und Englisch das ich von einer guten Kollegin bekommen habe.</p>
<p><code>Irisch:<br />
Go n-éirí an bóthar leat<img src="{{ site.url }}/assets/img/blog/auszeit/small/20121012-113731.jpg" alt="20121012-113731.jpg" class="alignright size-full" /><br />
Go raibh an ghaoth go brách ag do chúl<br />
Go lonraí an ghrian go te ar d'aghaidh<br />
Go dtite an bháisteach go mín ar do pháirceanna<br />
Agus go mbuailimid le chéile arís,<br />
Go gcoinní Dia i mbos A láimhe thú.</p>
<p>Englisch:<br />
May the road rise up to meet you.<br />
May the wind be always at your back.<br />
May the sun shine warm upon your face;<br />
the rains fall soft upon your fields and until we meet again,<br />
may God hold you in the palm of His hand</code></p>
<p>So das war mein Nachruf auf zwei traumhafte Jahre Irland. Vielleicht K&auml;mme ich irgendwann mal wieder dorthin zur&uuml;ck. Jetzt wird aber erst einmal Neuseeland und Australien erkundet.</p>
