---
layout: blog/de/travel-blog
title: 'Neuseeland: Taupo - Wanganui'
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Taupo
  - Wanganui

overview:
  external_link: https://sebastian301082.wordpress.com/2012/10/19/neuseeland-taupo-wanganui/
  intro: "Am morgen beschloss ich das ich mir die hei&szlig;en Quellen in Taupo anzuschauen und vielleicht darin baden zu gehen. Laut Touristeninfo und einigen Internetseiten soll es in Tapo 2 Quellen geben. Eine an der man bezahlen muss und die zweite ist kostenfrei. Somit beschloss ich doch lieber zur kostenfreien zu fahren. Sam wollte doch auch gleich mitkommen. Somit fuhren wir dort hin. Die Quellen sind sogar bis zum Parkplatz gut ausgeschildert. Danach aber leider nicht mehr."
  image:
    url: /assets/img/blog/auszeit/small/20121024-001313.jpg
    alt: 
---
<p>Am morgen beschloss ich das ich mir die hei&szlig;en Quellen in Taupo anzuschauen und vielleicht darin baden zu gehen. Laut Touristeninfo und einigen Internetseiten soll es in Tapo 2 Quellen geben. Eine an der man bezahlen muss und die zweite ist kostenfrei. Somit beschloss ich doch lieber zur kostenfreien zu fahren. Sam wollte doch auch gleich mitkommen. Somit fuhren wir dort hin. Die Quellen sind sogar bis zum Parkplatz gut ausgeschildert. Danach aber leider nicht mehr.</p>
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001313.jpg" alt="20121024-001313.jpg" class="alignleft size-full" />Nachdem wir ca. eine Stunde suchend durch die Gegend gelaufen sind und doch nur einen kleinen Bachlauf fanden der nach warmen Wasser aussah, beschlossen wir es sein zu lassen und uns auf den Weg zu machen. Wir hatten ja schlie&szlig;lich noch 3 Vulkane zu besichtigen und &uuml;ber mehrere Bergp&auml;sse zu fahren.</p>
<p>Kurz hinter Taupo fing die Strecke an schwieriger zu werden. Sie ging viele km entlang an Steilklippen oberhalb eines riesigen Sees bevor sie in die Berge ging. In den Bergen bekamen wir dann den ersten Vulkan des Tages (Tongario) zu sehen. Zwar nur von weiten aber n&auml;her heran an diesen wollte ich auch nicht unbedingt. Dieser Vulkan war n&auml;mlich gerade aktiv und ist nur einige Wochen zuvor ausgebrochen.</p>
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001527.jpg" alt="20121024-001527.jpg" class="alignright size-full" />Danach ging es quer &uuml;ber eine riesige Ebene. Immer die 3 Vulkane links von uns. Beim zweiten Vulkan trauten wir uns schon an den Fu&szlig; und hofften auf in paar gute Fotos. Dieser Vulkan und die Ebene davor ist durch den Film Herr der Ringe bekannt geworden. Die Gegend ist im Film Mordor und der Vulkan ist im Film der Schicksalsberg in den Frodo den Ring werfen soll. Uns wurde erz&auml;hlt das jeden Tag einige Leute f&uuml;r 100$ (65&euro;) einen solch Ring kaufen, den Vulkan hoch wandern und den Ring hinein werfen. Man muss dazu sagen das der Vulkan nicht aktiv ist und von Schnee bedeckt. Naja wenn sie meinen.</p>
<p>Beim dritten und h&ouml;chsten Vulkan des Tages (Ruhapeu) gingen wir auf alles und fuhren so weit rauf wie m&ouml;glich. An der Basisstation auf einer H&ouml;he von 1630m war Schluss mit fahren. Dort oben sind wir einige Meter durch bereits schmelzenden Schnee gefahren. Leider ging es f&uuml;r uns nicht weiter den Berg hinauf da die Sessellifte nicht mehr in Betrieb waren. Zu Fu&szlig; hatten wir aber auch keine Lust das doch arg kalt wa und der Gipfel noch weit &uuml;ber 1000m h&ouml;her lag.</p>
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001600.jpg" alt="20121024-001600.jpg" class="alignleft size-full" />Wir beschlossen dann doch lieber am Fu&szlig;e des Berges bei angenehmeren Temperaturen Mittag zu machen. Ich fand dort einen Parkplatz in der N&auml;he eines sehr sch&ouml;nen Wasserfalls den wir vorm essen noch besichtigen. Der weg dort hin ging durch wundersch&ouml;ne dichte Wald und Buschlandschaft. Mit Blick auf den zweiten Vulkan. Nach dem essen hatten wir sogar Gl&uuml;ck das die Wolken am Vulkan fast komplett verschwunden waren und wir doch noch Fotos vom zweiten Vulkan in voller Gr&ouml;&szlig;e bekamen. Nur der dritte weigerte sich den gesamten Tag aus den Wolken hervor zu kommen.</p>
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001841.jpg" alt="20121024-001841.jpg" class="alignright size-full" />Nach einigen letzten Fotos machten wir uns auf den Weg nach Wanganui. Die Stra&szlig;e dorthin f&uuml;hrte uns erst weiter durch die Ebene bevor wir durch ein mit Wiesen &uuml;berzogene Berglandschaften fuhren. Schafweiden so weit das Auge reicht. Das erste mal das ich &uuml;berhaupt Schafe in Neuseeland sah. Vorher kam ich nur an Rinderfarmen vorbei. In Wanganui angekommen beschlossen wir doch auf den kostenpflichtigen Campingplatz zu fahren, da der kostenfreie direkt an einer Eisenbahnstrecke lag und irgendwie nicht sch&ouml;n war.</p>
<p>Der weg zu dem anderen Campingplatz f&uuml;hrte erst durch in Industriegebiet und dann durch eine etwas verfallene Gegend. Am Campingplatz angekommen fragte ich den Herrn an der Rezeption ob die ganze Stadt so aussieht oder ob es irgendwo ein sch&ouml;neres Stadtzentrum gebe. Er zeigte es uns auf einer Karte und erz&auml;hlte uns was man noch so anstellen kann. Wir beschlossen es uns vielleicht am n&auml;chsten Tag anzuschauen. Was wir am n&auml;chsten Tag in Wanganui alles erlebten erz&auml;hle ich euch morgen.</p>
