---
layout: blog/de/travel-blog
title: NZ &amp; AU Die Entscheidung ist gefallen!
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Australien
  - Neuseeland

overview:
  intro: "Das ich meinen 30. Geburtstag alleine feiern will, steht ja schon seit vielen Jahren fest. Ich glaube ich habe schon vor ca. 10 Jahren entschieden, dass ich mich an diesem Tag irgendwo weit weg verstecken werde, wo mich niemand finden kann. Ich h&auml;tte nicht gedacht, das es so weit weg sein wird. Ich stehe wirklich nicht auf den Gedanken Rathaustreppen fegen zu m&uuml;ssen. 2009 bekam ich dann ja wie bereits geschrieben die Idee, an meinem 30. eine Australienreise zu machen. Letztes Jahr kam dann die Idee des Work &amp; Travel in Australien dazu. Dieses Jahr zus&auml;tzlich noch die M&ouml;glichkeit mit Sam durch Neuseeland zu touren, bevor ich &uuml;berhaupt nach Australien einreise."
  image:
    url: 
    alt: 
---
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>
            Das ich meinen 30. Geburtstag alleine feiern will, steht ja schon seit vielen Jahren fest. Ich glaube ich habe schon vor ca. 10 Jahren entschieden, dass ich mich an diesem Tag irgendwo weit weg verstecken werde, wo mich niemand finden kann. Ich h&auml;tte nicht gedacht, das es so weit weg sein wird. Ich stehe wirklich nicht auf den Gedanken Rathaustreppen fegen zu m&uuml;ssen.
        </p>
        <p>
            2009 bekam ich dann ja wie bereits geschrieben die Idee, an meinem 30. eine Australienreise zu machen. Letztes Jahr kam dann die Idee des Work &amp; Travel in Australien dazu. Dieses Jahr zus&auml;tzlich noch die M&ouml;glichkeit mit Sam durch Neuseeland zu touren, bevor ich &uuml;berhaupt nach Australien einreise.
        </p>
        <p>
            Heute hat sich nun entschieden, wo ich meinen 30. Geburtstag verbringen werde. Ich werde so weit wie nur m&ouml;glich entfernt sein. Mit ziemlich hoher Wahrscheinlichkeit in oder in der N&auml;he der Stadt Christchurch. Ich werde auch mit ziemlich hoher Wahrscheinlichkeit nicht alleine feiern, sondern mit Sam. Ich werde Ihr aber nur dann verraten wo ich an dem Tag genau bin, wenn Sie mir verspricht, dass ich nicht fegen muss. Christchurch liegt &uuml;brigens auf der S&uuml;dinsel von Neuseeland.
        </p>
        <p>
            Warum jetzt eigentlich dort? Ganz einfach. Laut Wikipedia ist Neuseeland der am weitesten entfernte Ort. Es ist aber sogar noch einfacher. Ich fliege am n&auml;chsten Nachmittag von Christchurch nach Sydney. Ich habe meine Fl&uuml;ge endlich gebucht und warte nur noch auf die Best&auml;tigung von Qantas das alles best&auml;tigt ist.
        </p>
        <p>
            Da meine Firma sich nach nun 7 Monaten immer noch nicht ansatzweise entscheiden konnte, ob eine Auszeit auf Basis von unbezahlten Urlaub &uuml;berhaupt m&ouml;glich w&auml;re, habe ich nun f&uuml;r mich entschieden die lange Tour zu buchen und zu planen. Somit werde ich nun am 09.10.2012 abends in Hamburg abfliegen. Meine R&uuml;ckkehr habe ich jetzt erst einmal auf den 23/24.04.2013 gelegt. Da an diesem Datum mein internationaler F&uuml;hrerschein abl&auml;uft und ich noch rechtzeitig f&uuml;r meines Bruders 35. Geburtstag zur&uuml;ck in Deutschland bin.
        </p>
        <h2>Hier meine Flugdaten im Detail</h2>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Strecke</th>
                    <th>Datum</th>
                    <th>Abflug</th>
                    <th>Flughafen</th>
                    <th>Ankunft</th>
                    <th>Flughafen</th>
                    <th>Flugzeit</th>
                </tr>
                <tr>
                    <td rowspan="3">1</td>
                    <td rowspan="2">09.10.2012</td>
                    <td>18:55</td>
                    <td>Hamburg</td>
                    <td>19:35</td>
                    <td>London</td>
                    <td>1 Std. 40 Min.</td>
                </tr>
                <tr>
                    <td>21:30</td>
                    <td>London</td>
                    <td>06:15</td>
                    <td>Sydney</td>
                    <td>22 Std. 45 Min.</td>
                </tr>
                <tr>
                    <td>10.10.2012</td>
                    <td>09:30</td>
                    <td>Sydney</td>
                    <td>14:40</td>
                    <td>Auckland</td>
                    <td>3 Std. 10 Min.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>31.10.2012</td>
                    <td>14:30</td>
                    <td>Christchurch</td>
                    <td>15:55</td>
                    <td>Sydney</td>
                    <td>3 Std. 25 Min.</td>
                </tr>
                <tr>
                    <td rowspan="2">3</td>
                    <td>23.04.2013</td>
                    <td>16:10</td>
                    <td>Sydney</td>
                    <td>06:35</td>
                    <td>London</td>
                    <td>24 Std. 25 Min.</td>
                </tr>
                <tr>
                    <td>24.04.2013</td>
                    <td>10:50</td>
                    <td>London</td>
                    <td>13:25</td>
                    <td>Hamburg</td>
                    <td>1 Std. 40 Min.</td>
                </tr>
            </tbody>
        </table>
        <p>
            Diese Fl&uuml;ge sind jetzt fast genau so wie ich es mir vorgestellt habe. Nur der Flug von Neuseeland nach Australien ist einige Tage sp&auml;ter geworden als gehofft. Dadurch sind sie aber &uuml;ber 100 &euro; g&uuml;nstiger geworden. Die beiden Langstrecken Fl&uuml;ge ( LHR - SYD &amp; SYD - LHR ) sind f&uuml;r mich aus zwei Gr&uuml;nden etwas besonderes. Erstens haben beide Fl&uuml;ge einem Tankstopp in Singapur. Solch einen Flug hatte ich noch nie. Zweitens handelt es sich bei diesen Fl&uuml;gen um einen Airbus A380-800. Mit solch einem Flugzeug wollte ich schon immer einmal fliegen. Auch wenn ich mir nur Holzklasse (Economy) leisten konnte. Trotzdem sollen laut einschl&auml;giger Webseiten die Sitze mindestens 2cm breiter sein. Bei &uuml;ber 22 Stunden auf dem selben Platz werden aus 2cm gerne einmal zu ganzen Welten.
        </p>
        <p>
            So dann wisst Ihr jetzt auch &uuml;ber meine Fl&uuml;ge bescheid. In den n&auml;chsten Tagen mache Ich mal eine Liste mit Aufgaben fertig, die ich f&uuml;r meine Reise noch zu erledigen habe und welche ich schon erledigt habe.
        </p>
        <p>
            Bis bald.
            <br />
            Euer Basti
        </p>
    </div>
</div>
