---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: Pullover f&uuml;r Australische Pinguine
date: 2012-09-13 19:06:23.000000000 +02:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Hamburg
  - Melbourne
overview:
  external_link: https://sebastian301082.wordpress.com/2012/09/13/pullover-fuer-australische-pinguine/
  intro: "Ich bin heute Mittag &uuml;ber einen echt unglaublichen Artikel im Internet gestolpert von dem ich euch heute berichten m&ouml;chte."
  image:
    url: /assets/img/blog/auszeit/small/pinguin_strick_pullover.jpg
    alt: 
---
<p>Ich bin heute Mittag &uuml;ber einen echt unglaublichen Artikel im Internet gestolpert von dem ich euch heute berichten m&ouml;chte.</p>
<p><!--more--></p>
<p>F&uuml;r die meisten ist es schon komisch, dass &uuml;berhaupt Pinguine in Australien zu Hause sein sollen. Zus&auml;tzlich ist Australien ein Land was f&uuml;r seine hohen Temperaturen bekannt ist. Was sollen also nun australische Pinguine mit gestrickten Pullovern.</p>
<p>Also zur Erkl&auml;rung. Es gibt im Phillip Island National Park, in der n&auml;he von Melbourne, eine große Kolonie Zwergpinguine. Da in dieser Gegend scheinbar regelm&auml;ßig &Ouml;ltanker Leck schlagen, standen die Parkbetreiber vor der Frage was sie tun wollen im Fall das Falles. Sie kamen auf die glorreiche Idee das den Pinguinen mit Strick Pullovern geholfen sei.</p>
<p>Also im Fall einer Verunreinigung durch &Ouml;l sollen diese Pullover mehreren Zwecken dienen. Zu einem sollen die Pullover w&auml;rmen, damit die Tiere wieder zu Kr&auml;ften kommen k&ouml;nnen. Zum anderen soll dadurch verhindert werden, dass die Tiere versuchen sich selbst von dem giftigen &Ouml;l zu befreien.</p>
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/pinguin_strick_pullover.jpg" alt="Pinguine mit Pullover" style="float:left;padding:0 15px 0 0;" /></p>
<p>Nun war die Frage wo bekommt man mehrere tausend Pullover f&uuml;r die nur ca 30cm großen Pinguine her. Ganz einfach. Man startet einen Aufruf bei den strickw&uuml;tigen Deutschen Umweltsch&uuml;tzern. Nur leider hat niemand damit gerechnet wie strickw&uuml;tig die deutschen sind.</p>
<p>Im Hamburger B&uuml;ro wurden ca. 12.000 dieser in handgefertigten Einzelst&uuml;cke vorbeigebracht oder per Post geschickt. Nun hat der Phillip Island National Park das n&auml;chste Problem. Wo sollen die Weltweit insgesamt 15.000 Pullover f&uuml;r Zwergpinguine lagern, in der Hoffnung sie nie zu ben&ouml;tigen.</p>
<p>Vielleicht sollten sie einen weiteren Aufruf starten und um eine geh&auml;kelte Lagerhalle f&uuml;r die vielen Pullis bitten.</p>
<p>Kurios. Oder was meint ihr?</p>
<p><small>Quelle: <a href="http://www.australien-panorama.de/news/archives/2240-15.000-deutsche-Strick-Pullover-fuer-australische-Zwergpinguine.html" target="_blank">http://www.australien-panorama.de</a></small></p>
