---
layout: blog/de/travel-blog
title: 'Neuseeland: Auckland - Rotorua'
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Auckland
  - Rotorua

overview:
  external_link: https://sebastian301082.wordpress.com/2012/10/19/neuseeland-auckland-rotorua/
  intro: "Am Sonntag bin ich von Auckland nach Rotorua gefahren, da ich mir dort die hei&szlig;en Quellen anschauen wollte und in einer Art Seifenkiste einen Berg herunter fahren wollte. Auf dem weg dorthin wurde die Strecke etwas kurvig und ansteigend. An einem sch&ouml;nen leeren Parkplatz weit oben machte ich Pause. Ich genoss f&uuml;r gerade einmal wenige Minuten den Ausblick &uuml;ber die weite Ebene  bis ein Bus und ein Van neben mir hielten. Beide waren voll gestopft mit Asiaten die alle ganz schnell an den Zaun gingen um den besten Platz f&uuml;r Fotos zu bekommen. Am&uuml;siert genoss ich die Show."
  image:
    url: /assets/img/blog/auszeit/small/20121022-222054.jpg
    alt: 
---
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/20121022-222054.jpg" alt="20121022-222054.jpg" class="alignleft size-full" />Am Sonntag bin ich von Auckland nach Rotorua gefahren, da ich mir dort die hei&szlig;en Quellen anschauen wollte und in einer Art Seifenkiste einen Berg herunter fahren wollte. Auf dem weg dorthin wurde die Strecke etwas kurvig und ansteigend. An einem sch&ouml;nen leeren Parkplatz weit oben machte ich Pause. Ich genoss f&uuml;r gerade einmal wenige Minuten den Ausblick &uuml;ber die weite Ebene  bis ein Bus und ein Van neben mir hielten. Beide waren voll gestopft mit Asiaten die alle ganz schnell an den Zaun gingen um den besten Platz f&uuml;r Fotos zu bekommen. Am&uuml;siert genoss ich die Show.</p>
<p><img src="{{ site.url }}/assets/img/blog/auszeit/small/20121022-222354.jpg" alt="20121022-222354.jpg" class="alignright size-full" />Einige hundert Meter vor dem eigentlichen Ort Rotorua liegt schon die Basisstation der Skyline Gondel. Diese sollte mich zu den Seifenkisten bringen. Leider ist Seifenkisten rennen nur bis 17 Uhr m&ouml;glich. Somit verschob ich die Seifenkisten auf den n&auml;chsten Tag. Da die Dame am Ticketschalter mir erlaubte &uuml;ber Nacht auf dem Parkplatz zu bleiben hatte ich wenigstens diese Sorge weniger.</p>
<p>Ich beschloss dann abends noch ein wenig in die Stadt zu fahren und zu schauen ob ich vielleicht die eine oder andere hei&szlig;e Quelle finden w&uuml;rde oder vielleicht noch ein nettes Foto vom See. Mein Gl&uuml;ck war das die hei&szlig;en Quellen in Rotorua so stark qualmen das man sie im vorbeifahren nicht &uuml;bersehen kann. Der Gestank nach faulen Eiern war auch ein wenig gew&ouml;hnungsbed&uuml;rftig. Im Stadtzentrum ist ein kleiner Park um die Quellen herum angelegt. An zwei stellen kann man sogar darin baden gehen. Zusammen mit den vielen bunten Bl&uuml;ten und Pflanzen die ich noch nie gesehen habe war das echt toll. Ein gelungener Abschluss f&uuml;r meinen ersten Tag mit dem Wohnmobil.</p>
