---
layout: blog/de/travel-blog
title: 'Neuseeland: Mount Cook - Christchurch'
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Christchurch
  - Dorie
  - Moeraki
  - Mount Cook
  - Oamaru

headline:
  image:
    url: "/assets/img/blog/auszeit/_IGP5423_tasman_gletscher.jpg"
    alt: "Der Tasman Gletscher am Fu&szlig;e des Mount Cook"

overview:
  intro: "Als ich am Morgen aufstand war nicht mehr viel zu merken von den 130km/h Sturm den wir nachts hatten. Da ich einen Platz mit Stromanschluss hatte, lief die Heizung &uuml;ber Nacht und ich bekam also auch nichts von der klirrenden K&auml;lte mit, die nachts geherrscht haben muss. Von alle dem war nicht mehr viel zu merken. Es war sonnig und angenehm drau&szlig;en zu sein. Nur die Berge die mich umzingelten hatten an Schnee zugelegt und die Schneegrenze um einige Meter nach unten verlagert."
  image:
    url: /assets/img/blog/auszeit/small/20121103-212033.jpg
    alt: "Sessel und Couch aus Steinen an den Menschenleeren Strand gebaut."
---
<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-210135.jpg" alt="Ein Viktorianischen Geb&auml;ude in Oamaru"
    />
  </div>
  <div class="col-md-9">
    <p>Als ich am Morgen aufstand war nicht mehr viel zu merken von den 130km/h Sturm den wir nachts hatten. Da ich einen Platz mit Stromanschluss hatte, lief die Heizung &uuml;ber Nacht und ich bekam also auch nichts von der klirrenden K&auml;lte mit, die nachts geherrscht haben muss. Von alle dem war nicht mehr viel zu merken. Es war sonnig und angenehm drau&szlig;en zu sein. Nur die Berge die mich umzingelten hatten an Schnee zugelegt und die Schneegrenze um einige Meter nach unten verlagert.</p>
    <p>Den Vormittag vertr&ouml;delte ich im Internet und mit Telefonaten zu meinen Liebsten. Das ganze bei herrlichem Ausblick &uuml;ber Mount Cook mit ca. 3700 Metern und seinen umliegenden 2000ern. Ich war schon kurz davor noch eine Nacht in der Gegend zu bleiben aber ich wollte mir noch mehr von Neuseeland anschauen. Somit fuhr ich am Nachmittag los, um mir den Tasman Gletscher anzuschauen. Der war wirklich beeindruckend mit seinem riesigem Gletschersee. Es ist dort recht einfach zu erkennen das sich ein Gletscher &uuml;ber die Zeit ausdehnt und auch wieder abtaut. Ich musste erst auf einen stattlichen H&uuml;gel klettern um dann oben einen traumhaften Ausblick auf See und Gletscher zu bekommen. Ich fand den Anblick viel besser und beindruckender als den vom Franz Josef oder Fox Gletscher, die beide extra beworben werden. Das die drei Gletscher um Mount Cook &uuml;berhaupt existieren, habe ich nur heraus gefunden, da ich mich selbst an eine Topographische Karte gesetzt hatte und nachgeschaut, was um Mount Cook &uuml;berhaupt so existiert. Ich kann mich auch nicht erinnern, dass ich auf den Stra&szlig;en irgendwo eine Beschilderung f&uuml;r die Gletscher gefunden h&auml;tte.</p>
    <p>Die anderen beiden Gletscher, die sich auch am Mount Cook herunter schieben h&auml;tte ich auch gerne noch gesehen aber ich wollte ja noch bis an die Ostk&uuml;ste fahren. Somit beschloss ich mich so langsam auf den Weg nach Oamaru zu machen.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-211931.jpg" alt="Die Moeraki Boulders"
     />
  </div>
  <div class="col-md-8">
    <p>Die Strecke dorthin war recht einfach zu fahren. Im Ort angekommen, fuhr ich direkt zu der im Reisef&uuml;hrer beschriebenen Pinguine Kolonie. Dort musste ich feststellen, dass um die Kolonie ein Touristenzentrum gebaut wurde was auch noch recht teure Eintrittspreise hat. Ich beschloss den Preis nicht zu bezahlen, holte mir g&uuml;nstig ne Pizza und fuhr zum Parkplatz f&uuml;r die Nacht.</p>
    <p>Am n&auml;chsten Morgen, fuhr ich dann als erstes zu den Moeraki Boulders. Ein Gruppe gro&szlig;er Steine die in der Brandung liegen und vom Wetter Kugelrund gelutscht wurden. War sch&ouml;n anzusehen aber wie schon so oft kam mit mir eine Gruppe rennender Asiaten an, die sich ums beste Motiv dr&auml;ngelten. Ich fuhr dann wieder zur&uuml;ck nach Oamaru zur Touristeninformation und fand heraus das es noch eine zweite Pinguin Kolonie im Ort gibt. Somit fuhr ich dorthin. Der Strand und die Klippen hei&szlig;en Buschy Beach. Dort konnte man selbst am Nachmittag schon vereinzelt Pingunine sichten. Was ich noch einmal genoss bevor ich dann zum n&auml;chsten Nachtlager fuhr.</p>
    <p>Als ich am Nachtlager in Dorie ankam, war das alles dort ein wenig gruselig. Kein Licht. Alles von hohen B&uuml;schen umgeben. Irgendwie sah es aus wie ein Geisterdorf. Am Morgen danach sah das ganze schon ein gutes St&uuml;ck freundlicher aus. Der Campingplatz lag direkt an einem sehr sch&ouml;nen und vor aller sehr einsamen Strand. Nachdem ich diesen Anblick f&uuml;r einige Zeit genossen hatte, machte ich mich auf meine letzte Etappe nach Chistchurch wo ich den Rest des Tages damit verbrachte das Auto zu putzen und meine Sachen wieder zusammen zu packen. Nat&uuml;rlich alles seeeeeeehr gem&auml;chlich.</p>
    <p>Was ich dann die Tage in Christchurch angestellt habe, erz&auml;hle ich euch beim n&auml;chsten mal.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-211931.jpg" alt="Die Moeraki Boulders"
    />
  </div>
</div>
