---
layout: blog/de/travel-blog
title: Wohnungssuche in Sydney
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Sydney

overview:
  external_link: https://sebastian301082.wordpress.com/2012/12/02/wohnungssuche-in-sydney/
  intro: "Da in Sydney die Betten in Hostels zwischen Weihnachten und Silvester extrem teuer und schlecht zu bekommen sind, beschloss ich mir ein Zimmer in einer Wohngemeinschaft zu besorgen. Au&szlig;erdem hatte ich keine Lust 3 Monate lang alle paar Tage das Zimmer wechseln zu m&uuml;ssen, da man es nicht anders hin bekommen w&uuml;rde."
  image:
    url: /assets/img/blog/auszeit/small/20121203-214811.jpg
    alt: K&ouml;nnte auch in Spanien sein
---
<p>Da in Sydney die Betten in Hostels zwischen Weihnachten und Silvester extrem teuer und schlecht zu bekommen sind, beschloss ich mir ein Zimmer in einer Wohngemeinschaft zu besorgen. Au&szlig;erdem hatte ich keine Lust 3 Monate lang alle paar Tage das Zimmer wechseln zu m&uuml;ssen, da man es nicht anders hin bekommen w&uuml;rde.</p>
<p>Naja somit schaute ich einmal nach was das Internet zu dem Thema WG Zimmer zu sagen hatte. Ich stolperte direkt &uuml;ber die Webseiten <a href="http://flatmates.com.au/" target="_blank">FlatMates.com.au</a>, was so viel bedeutet wie Mitbewohner und <a href="http://gumtree.com.au/" target="_blank">Gumtree.com.au</a> was eine Seite f&uuml;r Kleinanzeigen ist. Auf diesen Webseiten fand ich auch prompt das eine oder andere nette Angebot. Einige davon klangen fast zu gut um wahr zu sein. Ich antwortete auf einige Anzeigen direkt &uuml;ber die Webseiten und fragte nach ob das jeweilige Zimmer noch frei sei und ob ich es mir mal ansehen k&ouml;nnte.</p>
<p>[caption id="attachment_637" align="alignleft" width="300"]<img class="size-medium wp-image-637" alt="Reihenh&auml;user in Sydney" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-214811.jpg" height="201" width="300" /> K&ouml;nnte auch in Spanien sein[/caption]</p>
<h2 style="display:inline;">Es stinkt nach Betrug</h2>
<p>Auf eine dieser Nachrichten bekam ich prompt eine Antwort. Diese kam von einem Herrn namens Craig. Dieser teilte mir mit, dass die Wohnung noch frei w&auml;re und ich mich schnell melden m&ouml;chte wenn ich Interesse h&auml;tte. Da diese Adresse mitten in der Innenstadt liegt antwortete ich nat&uuml;rlich prompt und fragte nochmals nach einem Besichtigungstermin. Zur&uuml;ck bekam ich eine Weitergeleitete Mail von einem Michael der mir darin erkl&auml;rte das er aus beruflichen Gr&uuml;nden in den USA sei aber den Schl&uuml;ssel f&uuml;r die Wohnung bei FedEx hinterlegt h&auml;tte. Gegen die Kaution w&uuml;rde er mir die Abhol' Nummer verraten und ich k&ouml;nnte mir dann die Schl&uuml;ssel bei FedEx abholen.</p>
<p>Erstens habe ich in Australien noch kein FedEx gesehen und zweitens wurde ich langsam stutzig da der Typ erst Craig hie&szlig; und nun auf einmal Michael. Ich schrieb zur&uuml;ck das ich mir die Wohnung gerne erst einmal anschauen w&uuml;rde und wer er denn nun sei Craig oder Michael. Als Antwort wurde ich nun mit Michael angesprochen und es w&auml;re nur m&ouml;glich die Wohnung zu besichtigen wenn ich vorher die Kaution bezahlen w&uuml;rde. Nun war mir endg&uuml;ltig klar das es Betrug sein wird und beschloss mir andere Zimmer an zusehen.</p>
<p>[caption id="attachment_634" align="alignright" width="200"]<img class="size-medium wp-image-634" alt="Geb&auml;ude in der Wattle St in Ultimo" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-212549.jpg" height="300" width="200" /> Das Haus in dem ich jetzt wohne[/caption]</p>
<h2 style="display:inline;">Kein Gl&uuml;ck beim zweiten Versuch</h2>
<p>Als n&auml;chstes fand ich ein interessantes Zimmer in der N&auml;he meiner Arbeit. Es lag in einer netten Nebenstra&szlig;e die mich ein wenig an Spanische Kleinst&auml;dte erinnert. 2 Etagen mit Veranda und Balkon. Dieses Zimmer hat mir echt gut gefallen. Leider hatte ich kein Gl&uuml;ck in diesem Fall und jemand anderes bekam das Zimmer.</p>
<h2 style="display:inline;">Jemand wohnt im Wohnzimmer</h2>
<p>Die dritte Wohnung war Super gelegen. Mit tollem Ausblick Richtung Darling Harbour. Mit eigenem Pool, Fitnessraum und Sauna im Keller. Das ganze hatte nur zwei Haken. Erstens war die Miete ein gutes St&uuml;ck zu hoch, da ich einen Raum f&uuml;r zwei Personen alleine bewohnen w&uuml;rde. Zweites ein weiterer Mitbewohner lebt im Wohnzimmer in einem mit Bettlaken abgetrennten Bereich. Das fand ich doof da die Wohnung eine offene K&uuml;che hat und man somit abends nicht wirklich was zubereiten kann.</p>
<p>[caption id="attachment_638" align="alignleft" width="200"]<img class="size-medium wp-image-638" alt="Sehr neue und moderne K&uuml;che" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-214824.jpg" height="300" width="200" /> Die K&uuml;che in meiner neuen WG[/caption]</p>
<h2 style="display:inline;">R&uuml;ckwerts wieder raus</h2>
<p>Am selben Abend bekam ich dann noch die M&ouml;glichkeit mir eine weitere Wohnung anzusehen. Dort ging es um ein recht gro&szlig;es Zimmer mit direktem Zugang zum Garten hinterm Haus und eigenem Bad. Das ganze sogar f&uuml;r einen halbwegs ertr&auml;glichen Preis. Somit ging ich am Abend dort hin. Die Gegend gefiel mir recht gut. Es w&auml;re auch wirklich nicht weit weg von der Arbeit. Von au&szlig;en sah es jetzt auch nicht so schlecht aus. Als mir dann aber die Vermieterin &ouml;ffnete und ich die K&uuml;che und das unbenutzbare Wohnzimmer sah ging ich prompt R&uuml;ckwerts wieder raus. Dagegen war das <a href="http://sebastian301082.wordpress.com/2012/11/01/widerlich-balmain-backpackers/">Balmain Backpacker Hostel</a> ja klinisch rein. Na ne danke. Den Tod oder noch schlimmere Krankheiten wollte ich mir hier nicht holen. Somit blo&szlig; schnell weg.</p>
<h2 style="display:inline;">Endlich was passendes</h2>
<p>Am n&auml;chsten Tag schaute ich mir noch zwei weitere Wohnungen an. Die erste war eingentlich genehmigt. Es gab aber wieder einmal mehrere Bewerber und au&szlig;erdem hatte ich die leise Hoffnung auf die zweite Wohnung da diese erstens fast im Hinterhof meines aktuellen B&uuml;ro's liegt und zweitens weil das Geb&auml;ude erst wenige Jahre alt ist. Ich ging also auch noch zur zweiten Wohnungsbesichtigung. Es stellte sich heraus, dass auch hier kein Wohnzimmer existiert sondern zwei weitere R&auml;ume eingezogen wurden.</p>
<p>[caption id="attachment_639" align="alignright" width="200"]<img class="size-medium wp-image-639" alt="Ein recht neues und frisch geputztes Bad" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-214839.jpg" height="300" width="200" /> Das Badezimmer in meiner neuen WG[/caption] Einer davon sollte meiner werden. Und zwar der mit Klimaanlage und eigenem Zugang zum sehr grossen Balkon. Die K&uuml;che ist neu und Modern. Das Badezimmer? Naja. Nichts was nicht mit zwei Flaschen Meister Proper und einer gewissen Muskelkraft wieder sauber bekommt. Da mir der Vermieter dann sogar noch mit dem Mietpreis entgegen kam, schlug ich zu und nahm das Zimmer. F&uuml;r deutsche Verh&auml;ltnisse ist es trotzdem noch undenkbar teuer. Ich wohne hier zusammen mit 6 weiteren Personen in einer Wohnung die f&uuml;r 4 Personen gedacht ist und bezahle trotzdem noch 260 AU$ pro Woche. Das macht um- und hochgerechnet sage und schreibe &uuml;ber 900&euro; pro Monat.</p>
<p>Ist aber f&uuml;r die Lage noch OK. Erstens habe ich weniger als 3 Minuten zur Arbeit. Zweitens habe ich nur ca. 5 Minuten Fu&szlig;weg zum Hauptbahnhof und drittens sind es nur 10 Minuten in die Innenstadt. Somit kann ich hier alles zu Fu&szlig; erledigen und muss nicht immer mit dem Bus fahren.</p>
<p>Der Vermieter erz&auml;hlte mir dann noch das einige der Zimmer in den n&auml;chsten Tagen/Wochen frei werden, falls ich mir dann vielleicht ein gr&ouml;&szlig;eres aussuchen m&ouml;chte. Dazu sollte auch das gro&szlig;e Schlafzimmer mit eigenem Bad und auch eigenem Zugang zum Balkon geh&ouml;ren. Mir war es aber f&uuml;r mich alleine zu teuer, da dieses Zimmer f&uuml;r zwei Personen bestimmt ist.</p>
<p>Wer dann dort einzog? Darauf komm ich sp&auml;ter noch einmal zur&uuml;ck. Beim n&auml;chsten mal erz&auml;hle ich aber erst einmal mehr &uuml;ber meine restlichen Tage im Hostel.</p>
<p>Lieben Gru&szlig; aus Sydney.</p>
