---
layout: blog/de/travel-blog
title: Einl&auml;uten der Weihnachtszeit
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Sydney

overview:
  intro: "Hier in Sydney gibt es an Wochenenden zur Zeit mindestens ein Feuerwerk. Meistens sogar mehrere. Oft auch zur gleichen Zeit &uuml;ber die Stadt verteilt. Eines davon ist jeden Samstag um 21 Uhr im Darling Harbour, was nur 15 Minuten Fu&szlig;weg von der Wohnung entfernt ist. Am Samstag dem 24. November war ich auch wieder auf dem Weg zum Feuerwerk um noch ein wenig f&uuml;r die Silverster Fotos zu &uuml;ben. Als ich ankam waren schon sehr viele Menschen vor Ort, dabei war es noch einige Stunden hin bis zum Feuerwerk."
  image:
    url: /assets/img/blog/auszeit/small/20121212-002647.jpg
    alt: Drachenboote voller Weihnachtspaddler. Ich w&auml;re am liebsten mit rein geh&uuml;pft und h&auml;tte mit gemacht
---
<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
     src="{{ site.url }}/assets/img/blog/auszeit/small/20121212-002455.jpg" alt="Weihnachtsm&auml;nner auf Wasserski dazu mehrere Boote und Feuerwerk"
    />
  </div>
  <div class="col-md-8">
    <p>Hier in Sydney gibt es an Wochenenden zur Zeit mindestens ein Feuerwerk. Meistens sogar mehrere. Oft auch zur gleichen Zeit &uuml;ber die Stadt verteilt. Eines davon ist jeden Samstag um 21 Uhr im Darling Harbour, was nur 15 Minuten Fu&szlig;weg von der Wohnung entfernt ist. Am Samstag dem 24. November war ich auch wieder auf dem Weg zum Feuerwerk um noch ein wenig f&uuml;r die Silverster Fotos zu &uuml;ben. Als ich ankam waren schon sehr viele Menschen vor Ort, dabei war es noch einige Stunden hin bis zum Feuerwerk.</p>
    <p>Als hinter mir pl&ouml;tzlich ein Chor anfing Weihnachtslieder zu singen viel es mir wieder ein. Hier in Sydney wird genau einen Monat vor Weihnachten der gro&szlig;e Weihnachtsbaum feierlich zum erleuchten gebracht. ich suchte prompt einen guten Platz um mir die Show an zu sehen. Mit der Zeit wurde es nat&uuml;rlich voller und voller. Definitiv nichts f&uuml;r meine Dad. Gegen kurz vor 20 Uhr ging die ganze Show dann endlich los und zwar mit einem Wasserski fahrenden Santa.</p>
    <p>Danach eine Parade von Weihnachtsm&auml;nnern und Frauen. Die Weihnachtslieder singend um den Platz zogen. Dann ging die Schow im Hafenbecken aber erst richtig los. Mehrere gr&ouml;&szlig;ere Segelbote fuhren umher. Dazwischen mehrere Weihnachtsm&auml;nner in schnellen Booten oder in Formation auf Wasserskiern. </p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121212-002204.jpg" alt="Fliegender Mann im Weihnachtsmann Kost&uuml;m"
    />
  </div>
  <div class="col-md-8">
    <p>Dazwischen dr&auml;ngelten sich noch Pontons mit riesigen Matroschkas und einem Weihnachtsgeschenk so gro&szlig; wie eine kleines Haus. Auch zwei Drachenboote, voll besetzt mit Weihnachtsm&auml;nnern waren mit von der Partie. Ich muss dazu sagen das sich das ganze in einem Hafenbecken abspielt was maximal so gross ist wie die Binnenalster in Hamburg wenn nicht sogar kleiner. Zu allem &Uuml;berfluss stand das Feuerwerk ziemlich im Zentrum des Hafenbeckens um das alle herum fahren mussten.</p>
    <p>Der eigentliche "Haupt" Weihnachtsmann f&uuml;r diesen Tag wurde in einem kleinen Boot des Australischen Milit&auml;rs zur Veranstaltung gefahren. Dieser stieg dann um auf den Ponton mit dem Geschenk und verschwand dahinter. Einige Minuten sp&auml;ter tauchte er &uuml;berm Wasser schwebend hinter dem Ponton auf und flog, mit Hilfe eines Wasser betriebenen Jet-Pack, einmal um den Platz um dann an einer ganz bestimmten Stelle auf einen Knopf zu dr&uuml;cken und den gro&szlig;en Weihnachtsbaum einzuschalten.</p>
    <p>Das ganze wurde von einem kleine aber feinen Feuerwerk begleitet. Leider wurde mir im Laufe des Abends ein riesiger Luft betriebener Weihnachtsmann vor die Linse gestellt der die ganze Zeit durchs Bild wackelte und mir versuchte die eine oder andere Aufnahme zu versauen. Was er auch manchmal schaffte.</p>
    <p>Zwischendurch mussten dann alle am Platz f&uuml;r 10 Sekunden still halten, damit ein riesiges Panorama Foto gemacht werden kann.</p>
    <p>Ein wirklich sch&ouml;ner Abend und eine tolle Show. Danke</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121212-002204.jpg" alt="Fliegender Mann im Weihnachtsmann Kost&uuml;m"
    />
  </div>
</div>
