---
layout: blog/de/travel-blog
title: Der MINI zur&uuml;ck nach Hamburg Plan
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Belgien
  - Cambrai
  - Dublin
  - Hamburg
  - Niederlande
  - Roscoff

overview:
  intro: "Hallo. Ich mal wieder. Nachdem ich Euch gestern meine ToDo Liste vorgestellt habe, m&ouml;chte ich heute &uuml;ber die Reisevorbereitungen f&uuml;r meine PKW Tour nach Deutschland berichten. F&uuml;r die, die mich nicht so gut kennen. Ich fahre einen super coolen MINI. Den ich mir 2009 in Hamburg bei BMW gekauft habe. Als ich dann im Oktober 2010 nach Irland ging beschloss ich Ihn nach zu holen, falls ich l&auml;nger als nur die anf&auml;nglich geplanten 6 Monate bleibe. Dies tat ich dann auch Ostern 2011."
  image:
    url: 
    alt: 
---
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>
            Hallo. Ich mal wieder. Nachdem ich Euch gestern meine ToDo Liste vorgestellt habe, m&ouml;chte ich heute &uuml;ber die Reisevorbereitungen f&uuml;r meine PKW Tour nach Deutschland berichten.
        </p>
        <p>
            F&uuml;r die, die mich nicht so gut kennen. Ich fahre einen super coolen MINI. Den ich mir 2009 in Hamburg bei BMW gekauft habe. Als ich dann im Oktober 2010 nach Irland ging beschloss ich Ihn nach zu holen, falls ich l&auml;nger als nur die anf&auml;nglich geplanten 6 Monate bleibe. Dies tat ich dann auch Ostern 2011. Letzten Winter allerdings hat sich heraus gestellt, dass ich hier im Winter einfach kein Auto ben&ouml;tige und den Rest des Jahres auch fast nur f&uuml;r Wochenendausfl&uuml;ge benutze. Nach einigen Kalkulationen stellte sich sogar heraus das ein Mietwagen im Winter sogar g&uuml;nstiger kommt, als der Unterhalt eines Autos.
        </p>
        <p>
            Somit beschloss ich bereits letzten Winter, dass der MINI nach diesem Sommer verkauft werden soll. Da ich ja, wie bereits erw&auml;hnt, einen deutschen Linkslenker im irischen Linksverkehr fahre gestaltet sich der Verkauf ein wenig schwieriger als gedacht. Ich beschloss dann vor einigen Wochen den Wagen wieder nach Deutschland zur&uuml;ck zu fahren und Ihn dort zu verkaufen.
        </p>
        <p>
            Da ich den Wagen aktuell in Irland zugelassen habe, will ich ihn auch wieder vor dem Verkauf in Deutschland zulassen, damit der K&auml;ufer weniger sorgen hat und da mein kleines Auto sogar noch g&uuml;ltigen Deutschen T&Uuml;V hat um so besser. Ich dachte aber immer, das der T&Uuml;V noch mindestens 6 Monate g&uuml;ltig sein muss, damit ich Ihn in Deutschland zugelassen bekomme. Somit h&auml;tte ich Ihn im Juli noch zulassen m&uuml;ssen. Der Einfall war gut, kam aber leider zu sp&auml;t um es selber auf meiner letzten Flugreise nach Hamburg zu erledigen. Somit wollte ich Rolf fragen ob er nicht f&uuml;r mich zum Amt gehen k&ouml;nne und die Schilder f&uuml;r mich besorgt.
        </p>
        <p>
            F&uuml;r die Zulassung eines irischen PKW in Deutschland m&uuml;ssen zus&auml;tzlich zu den Papieren auch 2 ausl&auml;ndische Nummernschilder abgegeben werden. Keine Ahnung wof&uuml;r. Anders als in Deutschland kann man sich diese hier online bestellen und muss damit nicht noch einmal zum Amt und einen Aufkleber oder so zu bekommen. Damit mein Auto nun nicht mehrere Wochen ohne Nummernschilder auf der Stra&szlig;e steht, bestellte ich eines morgens auf dem Weg zur Arbeit einen Satz zweite Schilder direkt zu meiner Mutter nach Hause. Als ich soweit alles vorbereitet hatte rief ich bei meiner Mutter an, die mir dann erz&auml;hlte das nur ein Nummernschild angekommen sei. Nur eins? Mist was ist denn nun wieder schief gegangen. Es stellte sich heraus das ich morgens, im Halbschlaf, vom Bus aus, nicht via Handy online bestellen sollte. Ich hatte ausversehen nur eins bestellt anstatt zwei.
        </p>
        <p>
            Am n&auml;chsten Morgen rief ich dann nochmal bei der Hamburger Zulassungsstelle an um einige Ungereimtheiten zu kl&auml;ren. Die freundliche Dame die mich beriet, hatte noch nie etwas von dieser Regel mit dem T&Uuml;V geh&ouml;rt. Sie sagte nur das T&Uuml;V und AU g&uuml;ltig sein muss um ein Auto zu zulassen. Ich dachte nur super, dann kann ich das Auto selber zulassen und muss nicht Rolf damit belasten. Somit fahre ich das Auto jetzt mit irischen Kennzeichen nach Hamburg und lass es dann vor Ort zu.
        </p>
        <p>
            Da ich ja Irland, f&uuml;r meine Neuseeland und Australien Reise wieder verlassen werde, wird der MINI bis unters Dach voll gepackt werden, mit Dingen die wieder zur&uuml;ck nach Hamburg ins Lager sollen. Der Plan sieht vor, dass nur noch das N&ouml;tigste hier bleibt. Nur Dinge die auf meinem Flug am 29.09.2012 nach Hamburg ins aufgegebene- oder Handgep&auml;ck passen.
        </p>
        <p>
            Dieses mal werde ich den Wagen aber nicht alleine nach Deutschland fahren sondern in Begleitung einer meiner besten Freundinn. Der Plan sieht wie folgt aus.
        </p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d5200099.6655126!2d-3.2214802821589252!3d51.62649100356516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e0!4m5!1s0x48670c0cb6a06a33%3A0xda5ddb5e689e1fe9!2sKimmage+Rd+Lower%2C+Kimmage%2C+Co.+Dublin%2C+Ireland!3m2!1d53.318791!2d-6.2913611!4m5!1s0x48681b418ae76b3f%3A0xf74e5a06bdcb1c6f!2sTalbot+Hotel+Car+Park+R730%2C+The+Quay%2C+The+Gap%2C+Co.+Wexford%2C+Ireland!3m2!1d52.335795!2d-6.456411999999999!4m5!1s0x480c970b9d33188d%3A0x40c14484fb97e90!2sCherbourg-Octeville!3m2!1d49.633730799999995!2d-1.622137!4m5!1s0x47b19112dfdd9ed5%3A0xf258499fc0866a8b!2sWinsener+Str.%2C+Hamburg%2C+Germany!3m2!1d53.4367009!2d9.9857921!5e0!3m2!1sen!2sus!4v1493055117194" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>    </div>
    <div class="col-lg-6">
        <p>
        </p>
        <p>
            Steffi kommt am Mittwoch dem 29.08.2012 mit dem Flieger zu mir nach Dublin. Sie macht sich dann noch 2 sch&ouml;ne Tage alleine. Mittwoch und Donnerstag muss ich ja tags&uuml;ber arbeiten. Ich hoffe, dass ich schon vor Ihrer Anreise alles soweit f&uuml;r unsere Abreise vorbereitet bekomme, damit ich Abends mehr Zeit f&uuml;r Sie habe.
        </p>
        <p>
            Am Freitag in aller Herrgotts fr&uuml;he werde ich dann mein Auto beladen (auf Karte Punkt A). Zum Schluss noch Steffi auf den Beifahrersitz quetschen und Richtung F&auml;hre aufbrechen (auf Karte Punkt C). Wir sollten sp&auml;testens zwischen 14:00 Uhr und 14:30 Uhr an der F&auml;hre ankommen. Es sind ja auch nur ca. 170 km die meistens auch noch geradeaus gehen. Falls, wie ich hoffe, wir wirklich noch vor Mittag in der N&auml;he von Wexford ankommen ist mein Plan noch einen kleinen Ausflug in den <a href="https://www.inhp.com/?lang=de_de" target="_blank">Irish National Heritage Park</a> zu unternehmen (auf Karte Punkt B). Um 16:00 Uhr legt unsere F&auml;hre, die Oscar Wilde, in Richtung franz&ouml;sische K&uuml;ste ab.
        </p>
        <p>
            Am n&auml;chsten Morgen um 10:30 Uhr sind wir dann auch schon in Roscoff, Frankreich angekommen (auf Karte Punkt D). Von dort geht es dann Richtung Belgische Grenze. Immer in der N&auml;he der K&uuml;ste entlang und somit einen gro&szlig;en Bogen um den Pariser Ring. Der ist mir zu verwirrend. In oder um die Stadt Cambrai werden wir dann unser Nachtlager aufschlagen (auf Karte Punkt E). Leider hat unser pr&auml;feriertes Hotel noch nicht auf meine Anfrage, ob eine Ankunft nach 21 Uhr m&ouml;glich ist, reagiert. Ich hoffe, dass ich es noch erreicht bekomme, da es ziemlich g&uuml;nstig vom Preis und von der Lage her ist.
        </p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>
            Am Sonntag soll es dann weiter durch Belgien und die Niederlande nach Deutschland gehen. Das ganze in einem gro&szlig;en Bogen um den Ruhrpott herum. Ich hoffe nicht all zu sp&auml;t am Abend in Hamburg angekommen zu sein. Vielleicht sogar noch fr&uuml;h genug, um meine Sachen ins Lager zu bringen. Insgesamt waren es dann mindestens 2100km Strecke in 3 Tagen. Davon knapp 600 km mit der F&auml;hre.
        </p>
        <p>
            Am Montag steht dann Auto zulassen auf dem Plan und versuchen den Verkauf in die Wege zu leiten. So sehr wie es mir leid tut, aber er soll wirklich verkauft werden. Ich hoffe, dass ich bis dahin noch einen K&auml;ufer finde oder sich an diesem Tag noch einer findet. Der Nachmittag geh&ouml;rt dann wieder wie &uuml;blich Freunden und Familie. Dienstag fr&uuml;h fliege ich dann wieder zur&uuml;ck nach Dublin um dort direkt vom Flughafen ohne Umweg zur Arbeit zu fahren und meinen letzten Monat in der Firma zu beginnen.
        </p>
        <p>
            Also nun wisst Ihr auch dar&uuml;ber bescheid.
        </p>
        <p>
            Bis bald.
            <br />
            Euer Basti
        </p>
    </div>
</div>