---
layout: blog/de/travel-blog
title: Frohe Weihnachten
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Sydney

overview:
  intro: "Heute nur eine recht kurze Meldung von mir. Ich m&ouml;chte euch nur kurz erz&auml;hlen wie mein Heiliger Abend ist hier in Sydney."
  image:
    url: /assets/img/blog/auszeit/small/20121224-232512.jpg
    alt: Schon fast am durchdrehen
---
<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121224-232512.jpg" alt="Ich mit Weihnachtsbraten"
    />
  </div>
  <div class="col-md-7">
    <p>Heute nur eine recht kurze Meldung von mir. Ich m&ouml;chte euch nur kurz erz&auml;hlen wie mein Heiliger Abend ist hier in Sydney.</p>
    <p>Es ist heute zwar wieder angenehm warm drau&szlig;en aber leider regnet es immer wieder mal ein wenig. Au&szlig;erdem sa&szlig;en wir drei deutschen Jungs gestern Abend bei weitem zu lange zusammen und haben besinnlich in die Feiertage rein gefeiert. Somit haben wir es heute alles etwas entspannter angehen lassen. Ein wenig gekocht und Weihnachtspl&auml;tzchen gebacken.</p>
    <p>Heute Abend gab es dann das Highlight des Tages. Wir beschlossen alle zusammen essen zu gehen. Nicht irgendwo hin sonder in ein deutsches Restaurant zum Weihnachtsbraten essen. Leider ist dies wie der Rest Australiens nicht ganz g&uuml;nstig aber es gibt ja liebe Menschen in meinem leben.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         alt="Kekse und Stollen"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121224-232532.jpg"
    />
  </div>
  <div class="col-md-7">
    <p>Da m&ouml;chte prompt mal ein Wort des Dankes oder auch zwei an meine Familie los werden. Als erstes m&ouml;chte ich mich in aller Form bei euch allen entschuldigen das ich immer wieder solch komische Ideen habe wie zum Beispiel die mit dem Umzug nach Irland oder meiner Reise nach Australien. Zweitens m&ouml;chte ich mich bedanken das ihr mich trotzdem nach besten Kr&auml;ften unterst&uuml;tzt und immer f&uuml;r mich da seid. Ein besondere Danke geht heute an meine liebe Mutti und nat&uuml;rlich auch an Rolf die n&auml;mlich mein Abendessen heute bezahlt haben. DANKE daf&uuml;r. Es war wirklich gut.</p>
    <p>So und jetzt w&uuml;nsche ich euch allen, meine leiben Freunde und Familie, ein Frohes und gesegnetes Weihnachtsfest aus dem nasswarmen Sydney.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         alt="Kekse und Stollen"
         src="{{ site.url }}/assets/img/blog/auszeit/small/20121224-232532.jpg"
    />
  </div>
</div>