---
layout: blog/de/travel-blog
title: Probleme mit Camper Van f&uuml;r NZ
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Auckland
  - Christchurch

overview:
  intro: "Moin Moin aus dem sch&ouml;nen Dublin. Heute m&ouml;chte ich Euch von meinen Problemen bei der Buchung des Camper Vans f&uuml;r Neuseeland berichten. Zur Vorgeschichte: Nachdem jetzt nun fest steht, dass ich 20 Tage Zeit habe, um von Auckland nach Christchurch zu kommen, ging die Suche nach einem geeigneten Fortbewegungsmittel los. Schnell stellte sich heraus das es ein Camper Van sein sollte, der einen gr&uuml;nen sogenannten &quot;Self-Containment&quot; Sticker hat. Diesen Sticker bekommen nur Fahrzeuge die einen Abwassertank und eine Toilette haben. Nur damit darf man auf den meisten kostenfreien Camping Pl&auml;tzen &uuml;bernachten."
  image:
    url: 
    alt: 
---
<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>
            Moin Moin aus dem sch&ouml;nen Dublin. Heute m&ouml;chte ich Euch von meinen Problemen bei der Buchung des Camper Vans f&uuml;r Neuseeland berichten.
        </p>

        <h2>Zur Vorgeschichte</h2>
        <p>
            Nachdem jetzt nun fest steht, dass ich 20 Tage Zeit habe, um von Auckland nach Christchurch zu kommen, ging die Suche nach einem geeigneten Fortbewegungsmittel los. Schnell stellte sich heraus das es ein Camper Van sein sollte, der einen gr&uuml;nen sogenannten &quot;Self-Containment&quot; Sticker hat. Diesen Sticker bekommen nur Fahrzeuge die einen Abwassertank und eine Toilette haben. Nur damit darf man auf den meisten kostenfreien Camping Pl&auml;tzen &uuml;bernachten.
        </p>
        <p>
            Mein Wunsch war, den Wagen 2 Tage nach meiner Anreise in Auckland abzuholen, um vorher den Jetlag bek&auml;mpfen zu k&ouml;nnen. In Christchurch wollte ich ihn dann am Morgen vor meinem Weiterflug nach Sydney wieder zur&uuml;ckgeben.
        </p>

        <h2>Wunsch und Wirklichkeit</h2>
        <p>
            So sah mein Plan nun aus. Jetzt musste er nur noch in eine Buchung umgesetzt werden. Das war doch ein wenig schwieriger als gedacht. Ich hatte von meiner Reisebegleiterin Sam den Link zur Firma Wendekreisen bekommen. Dort hat Sie Ihr Wohnmobil bestellt. Nach ein wenig herumschauen war auch f&uuml;r mich klar das ich dort den Wagen bestellen wolle. Ich hatte mir den "Budget 2 Berth" ausgesucht und mit den obigen Daten angefragt.
        </p>
        <p>
            Am n&auml;chsten Tag bekam ich dann die R&uuml;ckmeldung das es doch alles kein Problem sei. Nur eine Kleinigkeit w&uuml;rde nicht gehen. Ich k&ouml;nnte den Wagen nur von Christchurch nach Auckland bekommen. Das geht f&uuml;r mich nat&uuml;rlich nicht wegen der Fl&uuml;ge.
        </p>
        <p>
            Dies teilte ich auch dem Kundenservice mit und fragte ob Sie nicht ein anderes Fahrzeug f&uuml;r mich h&auml;tten. W&auml;hrend ich auf die Antwort wartete stolperte ich &uuml;ber die Webseite www.rentacampervan.co.nz Es handelt ich bei dieser Webseite um Preisvergleiche von mehreren Wohnmobil Vermietungen in Neuseeland. Dort konnte ich genau die gleichen Fahrzeuge bekommen und sogar noch 10% Rabatt auf den Mietpreis. Zus&auml;tzlich bietet diese Website noch einen 24h Online Chat an, der sich noch als hilfreich herausstellen sollte.
        </p>
        <p>
            Am n&auml;chsten Tag bekam ich dann die R&uuml;ckmeldung von Wendekreisen, dass Sie mir einen anderen Van anbieten k&ouml;nnen. Der war sogar noch 6 Kiwi $ pro Tag g&uuml;nstiger und sogar f&uuml;r eine Person mehr ausgelegt. Leider k&ouml;nnte ich diesen daf&uuml;r aber nur f&uuml;r 15 Tage mieten. Von Sonntag 14.10.2012 bis Sonntag 28.10.2012
        </p>
        <p>
            Rechne. Rechne. Das macht 3 N&auml;chte Aufenthalt in Auckland bevor der Wagen abgeholt werden kann und nochmal 3 N&auml;chte in Christchurch nachdem ich den Wagen wieder abgeben muss. Das ist OK. Dann erkunde ich halt diese Gegenden zu Fu&szlig;, mit dem Bus oder mit Sam.
        </p>
        <p>
            Leider fand sich ein zweiter Haken. In der Beschreibung zu dem Bus war nichts &uuml;ber diesen “Self-Containment” Sticker zu finden. Ich war schon dabei erneute auf diese Mail zu antworten da viel mir ein, dass die andere Website den Camper Van doch auch anbieten w&uuml;rde und einen Online Chat hat. “Vielleicht k&ouml;nnen die mir ja schneller helfen”. Gesagt getan. Schnell stellte sich heraus, das der Kundenservice dort sehr gut ist. Diese erkl&auml;rten mir dann das genau dieser Camper Van zur Zeit noch keinen Aufkleber habe aber am 01. Oktober einen bekomme. Somit w&uuml;rde er den gewollten Sticker haben wenn ich den Wagen am 14.10.2012 abhole.
        </p>

        <h2>Die Buchung</h2>
        <p>
            Da der Wagen nun doch einen Sticker haben w&uuml;rde, machte ich mich gleich an die Bestellung. Durch den g&uuml;nstigeren Preis und die k&uuml;rzere Anmietzeit beschloss ich daf&uuml;r die Rundum Sorglos Versicherung zu buchen. Schnell stellte sich diese sogar als eine sehr gute Idee heraus, da ich nun zus&auml;tzlich ein Navi, ein Multimedia Center und eine Toilette ohne Aufpreis zu meiner Buchung dazu bekommen werde.
        </p>
        <p>
            Auf der finalen Buchungsseite kontrollierte ich dann noch einmal alle Angaben wie Abholstation und R&uuml;ckgabeort sowie meinen Namen und Bankdaten, bevor ich die Buchung abschickte. Prompt bekam ich auch eine Buchungsbest&auml;tigung per Mail. Beim &uuml;berfliegen dieser, erschrak ich. Auf einmal stand dort bei beiden, Abholstation und R&uuml;ckgabestation, die Stadt Auckland. Ich hatte, ein Gl&uuml;ck, den Kundenservice Chat auf der Webseite noch offen. Ich schilderte mein Problem. Sofort bekam ich die R&uuml;ckmeldung, dass ich bitte doch direkt auf die Buchungsbest&auml;tigung antworten m&ouml;chte und mein Problem dort noch einmal schildere. Nach wenigen Minuten teilte mir der Kundenservice dann via Chat mit, dass die Mail eingegangen sei und die Buchung ge&auml;ndert wurde. Ich m&uuml;sse nun bis zum n&auml;chsten Arbeitstag warten bis ich die Best&auml;tigung daf&uuml;r bekommen w&uuml;rde.
        </p>

        <h2>Ende gut, fast alles Gut</h2>
        <p>
            3 Tage sp&auml;ter, am Montag morgen bekam ich dann die lang erwartete Buchungsbest&auml;tigung mit dem richtigen R&uuml;ckgabeort. Daf&uuml;r war jetzt leider ein kleiner Schreibfehler in meinem Vornamen. Naja das kann man ignorieren hoffe ich. Ist ja schlie&szlig;lich kein Flugticket. Funktioniert doch alles wenn man ein wenig Geduld mitbringt.
        </p>
        <p>
            Also hier nochmal die finalen Daten f&uuml;r den gebuchten Camper Van<br />
            Fahrzeug: Budget 2+1 Berth<br />
            Abholung: 14.10.2012 in Auckland, Neuseeland<br />
            R&uuml;ckgabe: 28.10 .2012 in Christchurch, Neuseeland
        </p>

        <h2>Nachtrag</h2>
        <p>
            Ich h&auml;tte euch gerne auch Fotos vom Van gezeigt, aber leider hat sich der Webseiteninhaber bis jetzt immer noch nicht ge&auml;u&szlig;ert, ob das f&uuml;r Ihn OK ist. Falls Ihr mehr &uuml;ber das Auto wissen m&ouml;chtet k&ouml;nnt Ihr euch direkt auf der <a href="https://www.wendekreisen.co.nz/deutsch/campervans/campervan.aspx?VehID=12" target="_blank">Webseite</a> anschauen.
        </p>
        <p>
            Bis bald.
            <br />
            Euer Basti
        </p>
    </div>
</div>
