---
layout: blog/de/travel-blog
title: 09.06.2013 Riesiges Obst vor Ballina
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Ballina
  - Coffs Harbour

overview:
  external_link: https://sebastian301082.wordpress.com/2013/06/09/09-06-2013-riesiges-obst-vor-ballina/
  intro: "Wie gestern Abend lange erhofft, hatten wir heute endlich mal wieder anst&auml;ndiges Wetter. Wir entschieden aber auch auf diesem Campingplatz nicht lange zu verweilen und machten uns direkt nach dem Fr&uuml;hst&uuml;ck vom Acker und fuhren den Strand erkunden."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1880.jpg
    alt: Einer der Str&auml;nde von Coffs Harbour.
---
<p>Wie gestern Abend lange erhofft, hatten wir heute endlich mal wieder anst&auml;ndiges Wetter. Wir entschieden aber auch auf diesem Campingplatz nicht lange zu verweilen und machten uns direkt nach dem Fr&uuml;hst&uuml;ck vom Acker und fuhren den Strand erkunden.</p>
<p>Dabei stolperten wir &uuml;ber einen kleinen Markt direkt neben dem Strand und einer netten Seebr&uuml;cke. Auf dem Markt fanden wir ein Schmuckst&uuml;ck f&uuml;r Muttern. Einen in Silber gefassten und nicht gerade kleinen schwarzen Vulkanstein als Anh&auml;nger, der es ihr angetan hatte.</p>
<p>[caption id="attachment_2151" align="alignleft" width="300"]<a href="https://sebastian301082.wordpress.com/auszeit-1880/" rel="attachment wp-att-2151"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1880.jpg" alt="Eine mittelgro&szlig;e Bucht mit weichem Sandstrand und einigen wenigen Gu&szlig;g&auml;ngern," width="300" height="199" class="size-medium wp-image-2151" /></a> Einer der Str&auml;nde von Coffs Harbour.[/caption]</p>
<p>Nach dem wir uns die ca 15 B&uuml;dchen angeschaut hatten, machten wir uns auf den Weg zur Seebr&uuml;cke. Dort schossen wir einige sch&ouml;ne Fotos von der Bucht und der kleinen vorgelagerten Insel. Auf dem Steg ist auch noch ein Geocache versteckt, nach welchem wir uns auf die Suche gemacht haben. Nach einigen schnellen Fotos f&uuml;r den Schatz machten wir uns auf den Weg zur&uuml;ck zum Auto. Noch ein schnelles Foto hier, einen kleinen Snack dort und schon ging es weiter Richtung Ballina.</p>
<p>Nur wenige km n&ouml;rdlich Ballinas, quasi am Ortsausgang, stand auf einmal eine riesige Banane. So etwas kurioses. Da mussten wir direkt noch einmal anhalten. Bei "The Big Banana Coffs Harbour" handelt es sich um eine Bananen Farm mit angeschlossenem Freizeitpark. Da wir weiter wollten, schauten wir uns nur kuuuurz im Shop um. Es gab allerlei Dinge aus/mit Bananen und noch vieles mehr. Muttern fand nat&uuml;rlich noch einen kleinen Keramik Piepmatz, der unbedingt noch mit musste.</p>
<p>[caption id="attachment_2149" align="alignright" width="300"]<a href="https://sebastian301082.wordpress.com/auszeit-1881/" rel="attachment wp-att-2149"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1881.jpg" alt="Die Seebr&uuml;cke in Coffs Harbour" width="300" height="199" class="size-medium wp-image-2149" /></a> Die Seebr&uuml;cke in Coffs Harbour. Ein sehr sch&ouml;ner Ort zum entschleunigen[/caption]</p>
<p>Danach ging es weiter Richtung Norden. Immer auf den Bruce Highway entlang. Mir ging aber einfach nicht aus dem Kopf, dass ich die riesige Gruppe Wale in Port Macquire verpasst hatte. Somit beschlossen wir spontan, noch ein weiters mal vom Highway ab zufahren und in Woolgoolga zum Aussichtspunkt zu fahren. Kurz vor unserem Ziel war dann aber die Stra&szlig;e gesperrt! Der Grund war ein Stadtfest mit Parade. Ok. Nette Alternative. Also rauf auf einen freien Parkplatz und ab in die "Menge". Am Ende der Parade wurde auch ein Gruppe Stiere, samt Wagen, vorbei getrieben. Diese hatte aber so &uuml;berhaupt keinen Lust, dass zu tun, was der Bauer wollte. Auf einmal gingen die Tiere g&auml;nzlich durch und die Ketten rissen. Das war dann der Moment, wo wir beschlossen, die Beine in die Hand zu nehmen und abzuhauen.</p>
<p>[caption id="attachment_2179" align="alignleft" width="300"]<a href="https://sebastian301082.wordpress.com/auszeit-1890/" rel="attachment wp-att-2179"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1890.jpg" alt="Ein Schild an der Stra&szlig;e, das den Campingplatz anpreist" width="300" height="199" class="size-medium wp-image-2179" /></a> BIG4 Ballina Central Holiday Park. Den Namen BIG4 leider nicht Wert.[/caption]</p>
<p>Weitere Versuche Wale zu sehen haben wir heute nicht unternommen. Abends in Ballina angekommen, mussten wir leider feststellen, dass der Big4 Campingplatz unserer Wahl, leider schon voll ist. Schnell stellte sich heraus, dass im Ort noch ein weiterer Big4 Campingplatz existiert. Somit fuhren wir dort hin. Dieser hat leider seinen Namen als Big4 nicht verdient. Unter einem Big4 verstehe ich wesentlich mehr als nur einen Stellplatz und einen kleinen Raum, der K&uuml;che, Waschk&uuml;che, Trockenraum und Aufenthaltsraum in einem ist. Zu einem Big4 geh&ouml;rt mindestens ein Pool und ein stattlicher Kinderspielplatz.</p>
<p>War also leider eine kleine Entt&auml;uschung. Wir beschlossen uns dadurch nicht den Abend vermiesen zu lassen und machten uns China Nudeln aus der T&uuml;te.</p>
<p>Danach machten wir noch einen kleinen Spaziergang die Stra&szlig;e runter bis zur n&auml;chsten Kneipe. Dort machten wir uns einen Plan f&uuml;r morgen und die n&auml;chsten Tage.</p>
<p>Morgen geht es dann an die Gold Coast in der Hoffnung dass das Wetter h&auml;lt.</p>
