---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 17.02. Von Australien nach Afrika
date: 2013-02-17 22:37:22.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Canberra
  - Congo
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/17/17-02-von-australien-nach-afrika/
  intro: "F&uuml;r heute hatten wir nicht viel auf den Zettel. Eigentlich wollten wir nur ins Museum in Canberra und so endlich wieder Richtung Meer fahren."
  image:
    url: /assets/img/blog/auszeit/small/igp8093.jpg
    alt: eines von vielen Hinweisschildern zur Warnung von Buschfeuern
---
<p>F&uuml;r heute hatten wir nicht viel auf den Zettel. Eigentlich wollten wir nur ins Museum in Canberra und so endlich wieder Richtung Meer fahren.</p>
<p><!--more--></p>
<p>Heute Morgen k&auml;mpften wir als aller erstes mit unserem inneren Schweinehund, da uns dieser nicht aufstehen lassen wollte. Dabei verausgabte Steffi sich so sehr, dass bei einer Drehung nach hinten es ziemlich laut knackte und Steffi h&ouml;llische Schmerzen bekam. Supi, dass hat uns jetzt gerade noch gefehlt. Also schalteten wir einen Gang zur&uuml;ck und Steffi bewegte sich nur noch im Schneckentempo, da jede Bewegung im Genick schmerzte.</p>
<p>[caption id="attachment_1486" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1486" rel="attachment wp-att-1486"><img class="size-medium wp-image-1486" alt="Hinweisschild mit Drachenechse als Symbol zur Buschfeuervermeidung" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8093.jpg" width="300" height="200" /></a> eines von vielen Hinweisschildern zur Warnung von Buschfeuern[/caption]</p>
<p>Nach einer langen Dusche und mit einigen Minuten Versp&auml;tung fuhren wir dann trotzdem los in Richtung Museum. &Uuml;ber das Museum gibt's eigentlich nicht viel zu erz&auml;hlen. Es wurde mir von einer Freundin aus Irland empfohlen und ich hatte auch schon einiges gutes dar&uuml;ber im Internet gelesen. Naja der Bringer war es nicht. Es war OK daf&uuml;r das es kostenfrei war. Zus&auml;tzlich wurden wir auch noch dazu gezwungen unseren Rucksack abzugeben in dem nat&uuml;rlich das restliche Fotoequipment und die Geocoins steckten. Zu sehen gab es einiges zur Geschichte der Besiedlung Australiens und &uuml;ber das Farmleben. Nach ca. einer Stunde waren wir auch schon durch und beschlossen noch schnell einen Schatz zu finden. Leider waren zu viele Menschen in der N&auml;he und wir konnten am Zielort nicht ungest&ouml;rt suchen.</p>
<p>Wir beschlossen dann einen Abflug aus Canberra zu machen. Pers&ouml;nliches Res&uuml;mee: Canberra kann einem gestohlen bleiben. Es ist dort nichts was man nicht auch woanders finden kann. Selbst von der Regierung bekommt man nichts mit da alles hinter endlosen Vorg&auml;rten passiert. Der Umweg lohnt sich wirklich nicht.</p>
<p>[caption id="attachment_1485" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1485" rel="attachment wp-att-1485"><img src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01142.jpg" alt="Sonnenuntergang am verlassenen Strand" width="300" height="225" class="size-medium wp-image-1485" /></a> wo sind nur all die Touris hin?[/caption]Also wie gesagt, wir sahen dann zu das wir weg kommen. Wir hatten ja schlie&szlig;lich noch eine ziemliche Strecke vor uns. Wir wollten ja schlie&szlig;lich noch die 180km (auf einen anderen Kontinent) fahren. Unser Ziel f&uuml;r heute hie&szlig; n&auml;mlich Congo. Nur das dieses Congo kein eigenst&auml;ndiges Land ist, sondern ein kleines Dorf. Dieses ist nur &uuml;ber eine mehrere km lange Schotterpiste zu erreichen. Dort gibt es aber einen netten kleinen Campingplatz mit direktem Zugang zum Strand. Nachdem wir bei der netten Damen vom Campingplatz bezahlt hatten und noch den einen oder anderen Tipp erhalten haben, nutzten wir die Gunst der Stunde und verzogen uns an den Strand.</p>
<p>[caption id="attachment_1487" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1487" rel="attachment wp-att-1487"><img class="size-medium wp-image-1487" alt="klares Sternenbild am Himmel von Congo" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8113.jpg" width="300" height="200" /></a> klares Sternenbild am Himmel von Congo[/caption]</p>
<p>In der ziemlich schnell untergehenden Sonne genossen wir die letzten Sonnenstrahlen und freuten uns endlich wieder am Meer zu sein. Nach Sonnenuntergang versuchte ich mich noch an einigen Aufnahmen des wundersch&ouml;nen Sternenhimmels. Leider fing meine Kamera an Zicken zu machen und teile mir mit das alle 8 frisch geladenen Batterien leer seien. Somit gab ich es auf. Wir machen uns Bettfertig und genossen dabei das leise und beruhigende Rauschen des Meeres.</p>
