---
layout: blog/de/travel-blog
title: 23.02. Sonnenuntergang in Geelong
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Geelong
  - Melbourne

overview:
  intro: "Heute habe ich mal wieder das riesige Gl&uuml;ck das Steffi, dass Schreiben f&uuml;r mich &uuml;bernommen hat. DANKE Steffi Nachdem wir heute morgen auf dem Campingplatz auscheckten, haben wir den Wagen auf dem Parkplatz vor dem Eingang stehen lassen und sind mit dem Bus in die Innenstadt gefahren, da wir nochmals den Queen Victoria Markt sowie das ein oder andere in der Stadt aufsuchen wollten."
  image:
    url: /assets/img/blog/auszeit/small/20130708-074054.jpg
    alt: Rudern bei der W&auml;rme... nee nee
---
<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-074054.jpg" alt="Rudern bei der W&auml;rme... nee nee"
    />
  </div>
  <div class="col-md-7">
    <p>Heute habe ich mal wieder das riesige Gl&uuml;ck das Steffi, dass Schreiben f&uuml;r mich &uuml;bernommen hat. DANKE</p>
    <p><strong>Steffi</strong></p>
    <p>Nachdem wir heute morgen auf dem Campingplatz auscheckten, haben wir den Wagen auf dem Parkplatz vor dem Eingang stehen lassen und sind mit dem Bus in die Innenstadt gefahren, da wir nochmals den Queen Victoria Markt sowie das ein oder andere in der Stadt aufsuchen wollten.</p>
    <p>Hier hie&szlig; es schnell Geschenke f&uuml;r die Lieben daheim gebliebenen besorgen. Als wir alles gekauft hatten, steuerten wir den City Tourist Shuttlebus an. Dieser ist kostenlos und f&auml;hrt einen quer durch die Stadt. Am K&ouml;niglich Botanischen Garten war f&uuml;r uns die Fahrt dann zu Ende und wir steuerten als erstes das Kriegsdenkmal an, bevor wir uns dann in die gr&uuml;ne Oase verzogen. Nach kurzer Zeit sa&szlig;en wir auf einer Parkbank und genossen es, einige Minuten mal nichts zu tun. Als es weiter ging, kamen wir an einem Parkrestaurant-/ Café vorbei und wir g&ouml;nnten uns eine Eisschokolade! Diese war zwar nicht so lecker, wie die zwei Tage zuvor, aber als Drink zwischendurch beim Postkarten schreiben, war es OK.</p>
    <p>Kurz darauf kamen wir beim Yarra-River aus dem Botanischen Garten und machten uns langsam auf den Weg Richtung Innenstadt. Immer sch&ouml;n am Fluss entlang, begleitet von einem Ruderwettbewerb, welcher gerade statt fand.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Wieder in der Innenstadt schauten wir uns noch eine kleine Kirche an, bevor uns mal wieder der Hunger voran trieb. Wir landeten (mal wieder) in einem Asiatischen Restaurant! Die Portionen waren gewaltig und lecker und so fuhren wir gest&auml;rkt zur&uuml;ck zu Hugo und machten uns auf den Weg nach Geelong.</p>
    <p>Es sollte mal wieder eine kostenfreie &Uuml;bernachtung werden und so steuerten wir einen Parkplatz an, der an einem See und hinter einem Fast Food Restaurant lag. Als dieser Platz f&uuml;r OK befunden wurde, beschlossen wir an die Promenade von Geelong zu fahren, um dort ein wenig im Sonnenuntergang spazieren zu gehen.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         alt="Das Riesenrad von Geelong" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-073610.jpg"
    />
  </div>
  <div class="col-md-8">
    <p>Ein kostenfreier Parkplatz f&uuml;r Hugo war schnell gefunden und wir gingen los. Vorbei am Hafenbecken, wo es brodelte im Wasser, man aber nicht sehen konnte, wer dieses Veranstaltet hat. Weiter ging der Weg vorbei am Pier, worauf ein Restaurant oder &auml;hnliches samt Parkpl&auml;tzen errichtet wurde bis zum n&auml;chsten Eiswagen. Dieser zog unsere Aufmerksamkeit auf sich. Wir hatten schon die ganze Zeit Lust auf Eis, haben aber bisher nie zugeschlagen, da die Preise einfach zu ausversch&auml;mt sind. Naja, am Ende haben wir auch hier knapp 12,00 A$ f&uuml;r 2 Eis gelassen, welche nicht einmal schmeckten! Langsam ging dann auch die Sonne unter und wir spazierten weiter bis zum Riesenrad, was wir in einiger Entfernung ausmachten. Hier war allerdings nicht all zuviel zu sehen und so gingen wir, mittlerweile bei Mondschein, gem&uuml;tlich zur&uuml;ck zu Hugo. Nat&uuml;rlich nicht, ohne das ein oder andere Foto auf dem Weg zu machen!</p>
    <p>Wieder bei Hugo angekommen, machten wir soweit alles fertig, so dass wir nach der Katzenw&auml;sche bei der Fast Food-Kette gleich in den Wagen h&uuml;pfen konnten. Dort hie&szlig; es dann aber erst einmal "M&uuml;ckenjagt". Ja, diese Biester verfolgen uns wirklich und der See vor dem Wagen machte es nicht besser.</p>
    <p>Morgen geht es dann endlich auf die Great Ocean Road.</p>
    <p>Gute Nacht</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         alt="Das Riesenrad von Geelong" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-073610.jpg"
    />
  </div>
</div>
