---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 08.02. Aus und Einpacken in Katoomba
date: 2013-02-08 12:50:42.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Katoomba
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/08/08-02-aus-und-einpacken-in-katoomba/
  intro: "F&uuml;r den heutigen Tag hatten wir wieder nicht viel geplant und dieses mal sollte es auch endlich klappen."
  image:
    url: /assets/img/blog/auszeit/small/20130317-144038.jpg
    alt: Was ein bunter Vogel der uns am Abend beim packen besucht hat.
---
<p>F&uuml;r den heutigen Tag hatten wir wieder nicht viel geplant und dieses mal sollte es auch endlich klappen.</p>
<p><!--more--></p>
<p>[caption id="attachment_1202" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1202" rel="attachment wp-att-1202"><img class="size-medium wp-image-1202" alt="Ein Papagei mit Feuerroten, Himmelblauen und Schwarzen Federn." src="{{ site.url }}/assets/img/blog/auszeit/small/20130317-144038.jpg" width="300" height="225" /></a> Was ein bunter Vogel der uns am Abend beim packen besucht hat.[/caption]</p>
<p>Wir beschlossen erst einmal ein klein wenig die Gegend zu Fuß zu erkunden bevor es zu heiß ist um zu laufen. Wir gingen einige hundert Meter durch dichten Urwald bevor wir anfingen eine Baustelle zu h&ouml;ren was nat&uuml;rlich nicht so ganz in die Szenerie passte. Nach einigen weiteren hundert Metern sahen wir auch einen großen Kran und wussten das wir Scenic World gefunden hatten.</p>
<p>Scenic World ist ein Bezahlter der Teil der Blue Mountains. F&uuml;r einen saftigen Eintrittspreis von 28$ darf man so oft man m&ouml;chte mit mehreren Seilbahnen fahren die entweder in ein Tal oder &uuml;ber eine tiefe Schlucht f&uuml;hren. Zus&auml;tzlich hat man noch Zugang zu mehreren Wanderstrecken und einer 53 Grad Steilen Bergbahn. Leider war die Bergbahn wegen Modernisierungsarbeiten gesperrt.</p>
<p>[caption id="attachment_1197" align="alignright" width="225"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1197" rel="attachment wp-att-1197"><img class="size-medium wp-image-1197" alt="Auf einem Tisch stehen mehrere volle Teller mit frisch gegrilltem Fleisch und Gefl&uuml;gel." src="{{ site.url }}/assets/img/blog/auszeit/small/20130317-144010.jpg" width="225" height="300" /></a> Lecker Abendbrot wie es sich in Australien geh&ouml;rt.[/caption]</p>
<p>Da wir es heute langsam angehen lassen wollten und ja auch noch etwas vor hatten, beschlossen wir Scenic World und die dazugeh&ouml;rigen Wanderungen auf morgen zu verschieben. Da wir nun wussten wie man dort hin kommt beschlossen wir uns auf den Weg zur&uuml;ck zum Auto zu machen und f&uuml;r ein BBQ einzukaufen.</p>
<p>Den Nachmittag verbrachten wir damit den kompletten Van auszur&auml;umen und neu zu sortieren. Dabei sind auch gleich massenhaft unn&ouml;tige oder doppelte Dinge entsorgt oder verschenkt worden. Abends setzten wir uns dann an den Grill.</p>
<p>W&auml;hrend das Fleisch auf der Platte brutzelte und Steffi den Rest des Essens vorbereitete k&uuml;mmerte ich mich um die Tischplatte unseres Campingtisches. Diese ist rollbar und wird von Gummib&auml;ndern zusammen gehalten. Leider waren diese komplett ausgenuckelt aber NOCH in einem St&uuml;ck. Steffi hatte somit, vor ihrer Abreise aus Hamburg, den Auftrag bekommen uns g&uuml;nstig Gummiband zu besorgen. Nun saß ich da und friemelte das neue Band durch die L&ouml;cher.</p>
<p>Abends, als wir beim abwaschen ein wenig herumtobten, ging uns dann auch noch eine der Trinkflaschen stiften und fiel in einen tiefen Gulli. Schade war's aber Spaß hatten wir. :)</p>
