---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 06.03. Shopping in Adelaide
date: 2013-03-06 04:00:05.000000000 +01:00


categories:
  - de
  - Reiseblog
locations:
  - Adelaide
overview:
  external_link: https://sebastian301082.wordpress.com/2013/03/06/06-03-shopping-in-adelaide/
  intro: "Auch an unseren vorletzten gemeinsamen Urlaubstag hatten wir wieder einiges geplant. Erst sollte es mit dem Bus in die Innenstadt von Adelaide gehen und danach zum shoppen ins Outlet Center."
  image:
    url: /assets/img/blog/auszeit/small/dsc025161.jpg
    alt: buntes Markttreiben in Adelaide
---
<p>Auch an unseren vorletzten gemeinsamen Urlaubstag hatten wir wieder einiges geplant. Erst sollte es mit dem Bus in die Innenstadt von Adelaide gehen und danach zum shoppen ins Outlet Center.<!--more--></p>
<p>[caption id="attachment_1814" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1814" rel="attachment wp-att-1814"><img class="size-medium wp-image-1814" alt="buntes Markttreiben in Adelaide" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc025161.jpg" width="300" height="225" /></a> buntes Markttreiben in Adelaide[/caption]</p>
<p>Gesagt getan. Heute morgen haben wir uns dann in der immer w&auml;rmer werdenden Sonne an die Bushaltestelle gestellt und sind mit dem erst n&auml;chsten Bus in die Stadt gegurkt. Die Innenstadt war bereits hei&szlig; wie ein Backofen. Wir haben uns dann den direkten Weg zur Touriinfo gesucht um unsere zwei Fragen zu beantworten. Wie kommt man auf dem k&auml;ltesten Weg zum Chinesischen Markt und wo kann man hier in Adelaide ein gutes K&auml;nguru Steak bekommen?</p>
<p>Nachdem wir unsere Antworten hatten machten wir uns auf den Weg zu dem k&uuml;hlen und kostenfreien Bus der uns direkt zum Markt bringen sollte. Dieser fuhr auch fast genau vorm Informationsgeb&auml;ude ab. Leider hatte er einige Versp&auml;tung. Wir selbst waren bis dahin schon gut durchgekocht und unsere Laune auf Adelaide fing auch langsam an schmelzen.</p>
<p>Da wir vor einigen Tagen schon in Melbourne auf dem echt riesigen Queen Victoria Market waren, mussten wir von diesen hier in Adelaide nat&uuml;rlich entt&auml;uscht sein. Er ist vielleicht nur 10% von dem in Melbourne und viele der St&auml;nde hatten auch noch geschlossen. Somit machten wir uns ziemlich schnell auf den Weg Richtung Restaurant. Leider mussten wir dort feststellen, dass dieses Restaurant aktuell wegen Sanierungsarbeiten geschlossen ist. Die einzige Alternative vor Ort war uns dann doch einfach zu teuer und wir beschlossen uns abends selber K&auml;nguruburger zu machen.</p>
<p>[caption id="attachment_1817" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1817" rel="attachment wp-att-1817"><img class="size-medium wp-image-1817" alt="Adelaides Innenstadt" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02528.jpg" width="300" height="225" /></a> Adelaides Innenstadt[/caption]</p>
<p>Nachdem wir noch ein wenig durch die Stra&szlig;en gebummelt sind, beschlossen wir lieber wieder zum Campingplatz zur&uuml;ck zu fahren. Da wir eine andere Buslinie nahmen wurden wir nur in der N&auml;he des Campingplatzes abgesetzt. Wir suchten uns dann einfach den n&auml;chsten Strandzugang und gingen diesen entlang bis zum Campingplatz. Auf dem Weg dort hin sahen wir dann noch einen Stachelrochen der bis fast ganz an den Strand kam was uns kurz aufschrecken lie&szlig;.</p>
<p>Auf dem Campingplatz angekommen sprangen wir nach einer kurzen Pause in den Van und fuhren zum zweiten mal zum Outlet Shopping Center. Dort tr&ouml;delten wir ein wenig durch die Reihen und kauften noch das eine oder andere Mitbringsel f&uuml;r meinen Bruder zum Geburtstag. Steffi hatte mal wieder nicht so viel Gl&uuml;ck mit der Kleidungsauswahl. Wir probierten uns noch durch einige Parf&uuml;merien auf der Suche nach einem Duft f&uuml;r mich, den wir beide m&ouml;gen. Leider hatten wir auch damit kein Gl&uuml;ck.</p>
<p>[caption id="attachment_1815" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1815" rel="attachment wp-att-1815"><img class="size-medium wp-image-1815" alt="(un-)gesundes Abendessen am letzten Abend" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc025851.jpg" width="300" height="225" /></a> (un-)gesundes Abendessen am letzten Abend[/caption]</p>
<p>Beim anschlie&szlig;enden Lebensmitteleinkauf hatten wir dann doch ein klein wenig Gl&uuml;ck und fanden frisches fertiges K&auml;nguru-Burger Hack. Somit konnte der Grillabend kommen. Wir suchten uns daf&uuml;r ein ruhiges Pl&auml;tzchen auf dem Campingplatz und bauten alle Lebensmittel auf. Da hinter uns, auf der anderen Seite der D&uuml;ne, die Sonne in einem einfach traumhaften Farbenmeer versank schickte ich Steffi schnell alleine mit der Kamera los w&auml;hrend ich das essen vorbereitete. Die Fotos die sie mir anschlie&szlig;end zeigte machten mich glatt neidisch das ich nicht mit bin.</p>
<p>Das Abendessen war gut obwohl das K&auml;ngurufleisch nicht ganz Steffi's Geschmack traf. (*Anmerkung von Steffi: vielleicht lag es an der Zubereitung). Nach aufr&auml;umen und abwaschen machten wir uns dann ab in die Falle. Morgen ist dann leider Steffi's Abreise aus Australien.</p>
<p>Jetzt aber erst einmal eine gute Nacht.</p>
