---
layout: blog/de/travel-blog
title: 05.06.2013 Delphine und Koalas
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Anna Bay
  - Port Stephens

overview:
  intro: "Nach dem Fr&uuml;hst&uuml;ck, ging es f&uuml;r uns heute morgen als erstes an den nahegelegenen Strand. Wie schon beim letzten Besuch, war diese endlos erscheinende Strandw&uuml;ste wahrlich beeindruckend."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-18471.jpg
    alt: Kleiner Krebs ganz gro&szlig;
---
<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-18471.jpg" alt="Ein kleiner Krebs sitzt in einer Felsspalte"
    />
  </div>
  <div class="col-md-7">
    <p>Nach dem Fr&uuml;hst&uuml;ck, ging es f&uuml;r uns heute morgen als erstes an den nahegelegenen Strand. Wie schon beim letzten Besuch, war diese endlos erscheinende Strandw&uuml;ste wahrlich beeindruckend.</p>
    <p>Wir setzten uns auf ein paar Felsen, genossen die w&auml;rmer werdende Sonne und machten zahllose Fotos. Irgendwann badeten wir unsere F&uuml;&szlig;e in einer mit Wasser gef&uuml;llte Kuhle. Nach nur wenigen Momenten quiekte meine Mutter kurz auf, als sie feststellte, dass in der Pf&uuml;tze und in den Felsspalten Krebse sa&szlig;en.</p>
    <p>Nachdem wir den Krebsen noch einige Zeit zugesehen hatten, beschlossen wir uns auf die Suche nach den, f&uuml;r diese Region bekannten, Delphine und Koalas zu machen. Wir fuhren also nach Port Stephens an den Hafen. Da ich vor 4 Monaten schon einmal mit Steffi hier war, wusste ich noch von wo wir den besten Blick &uuml;ber die Bucht bekommen w&uuml;rden. Leider hatten wir, auch heute wieder einmal, kein Gl&uuml;ck mit den Delphinen und gingen zur Touristeninfo, vielleicht k&ouml;nnen die uns noch Tipps geben, wo wir hier Delphine sehen k&ouml;nnen. Leider nein! Die freundliche Dame konnte uns aber daf&uuml;r noch einen Tipp geben wo wir heute Abend m&ouml;glicherweise Koalas sehen k&ouml;nnen. Da diese Gegend auch noch direkt auf unserem Weg zur&uuml;ck zum Campingplatz lag, beschlossen wir abends dort noch anzuhalten.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Nach nun soviel Freizeit heute, beschlossen wir erst einmal einen der beiden Pflichtpunkte des heutigen Tages in Angriff zu nehmen. Wir fuhren also ins n&auml;chstgelegen Shoppingcenter um uns f&uuml;r die n&auml;chsten Tage mit Wegverpflegung, Naschkrams und Getr&auml;nken auszustatten.  Alles was ab morgen kommt kenne ich n&auml;mlich auch nicht und wei&szlig; daher auch nicht, wo wir einkaufen k&ouml;nnen. Die ersten Tage sollten noch problemlos sein, da wir in Richtung Brisbane unterwegs sind und auf der Karte noch viele gr&ouml;&szlig;ere Orte eingezeichnet sind. N&ouml;rdlich Brisbanes wird die Besiedelung dann aber d&uuml;nner.</p>
    <p>Ach wie ich euch gestern schon versprochen habe, will ich euch noch kurz erz&auml;hlen, das Muttern ihre erste Nacht im Van ganz gut &uuml;berlebt hat. Da Sie das Bett ein wenig hart findet, beschlossen wir, heute noch schnell bei Kmart ein Unterbett aus Schaumstoff zu besorgen. Dadurch werden wir heute Nacht ca. 5 - 10 cm h&ouml;her liegen aber auch ein gutes St&uuml;ck weicher.</p>
    <p>Nachdem das Auto nun wieder voll bepackt war, fuhren zur&uuml;ck zum Campingplatz Auf dem Weg hielten wir aber noch an einer Stelle, wo wir angeblich Chance auf wild lebende Koalas haben. Wir liefen ziemlich wagemutig auf Flip-Flops und offenen Sandalen durch das Grass, auf der Suche nach ihnen. Immer in der Hoffnung, dass alle Schlangen und andere bedrohliche Tiere ihren Winterschlaf genie&szlig;en. Leider hatten wir auch mit den Koalas heute kein Gl&uuml;ck und sahen au&szlig;er ein paar interessanter V&ouml;gel nur leere B&auml;ume.</p>

  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1849.jpg" alt="Distanzfoto vom Sandstrand. In seichtem Wasser ca 100m entfernt steht meine Mutter"
    />
  </div>
  <div class="col-md-7">
    <p>Da die Sonne aktuell sehr fr&uuml;h untergeht, fuhren wir weiter zum Campingplatz. Ich parkte den Van direkt vor dem K&uuml;chengeb&auml;ude und wir widmeten uns der zweiten Tagesaufgabe und zwar dem aus-, auf- und einr&auml;umen des Vans. W&auml;hrend Mutti wieder lecker f&uuml;r uns kochte holte ich alle Sachen aus dem Auto und verteilte sie auf den Tischen in der K&uuml;che. Danach machten wir uns an das strategisch beste verteilen aller Dinge auf die vorhandenen Kisten, damit wir in den n&auml;chsten Wochen nicht andauernd an die Kisten  m&uuml;ssen, die hinter anderen Kisten versteckt sind.</p>
    <p>Nebenbei machten wir mal einen groben Plan f&uuml;r den morgen. Es geht ins Hunter Vallay. Einer der angeblich sch&ouml;nsten Weinregionen Australiens. Naja erstens ist hier Winter und zweitens ist dort nicht viel los. Deswegen wollen wir dort quasi nur durchfahren auf dem Weg nach Port Macquire.</p>
    <p>Auf dem Weg ins Bett, sa&szlig;en heute Abend wieder echt einige Kaninchen auf dem Platz und lie&szlig;en sich von uns schon nicht einmal mehr st&ouml;ren.</p>
    <p>So jetzt wird geschlafen.<br />
      Gute Nacht.</p>

  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1849.jpg" alt="Distanzfoto vom Sandstrand. In seichtem Wasser ca 100m entfernt steht meine Mutter"
    />
  </div>
</div>
