---
layout: blog/de/travel-blog
title: 12.02. Delfine in Port Nelson?
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Anna Bay
  - Port Nelson
  - Port Stephens

overview:
  intro: "Als wir morgens aufstanden war der Himmel leider immer noch Grau und in der Ferne konnten wir einen leichten Schauer erkennen. Trotzdem hatten wir heute einiges vor."
  image:
    url: /assets/img/blog/auszeit/small/20130417-081806.jpg
    alt: Ist es nicht sch&ouml;n, morgens ganz gem&uuml;tlich und vor allem ganz alleine am Strand zu sein.
---
<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130417-081806.jpg" alt="Strand in Anna Bay. Links Wasser, Rechts Endlose Sandd&uuml;nen und vor uns keine Menschenseele"
    />
  </div>
  <div class="col-md-7">
    <p>Als wir morgens aufstanden war der Himmel leider immer noch Grau und in der Ferne konnten wir einen leichten Schauer erkennen. Trotzdem hatten wir heute einiges vor.</p>
    <p>Wir machten uns also fertig und wollten endlich einmal an den Strand. Wolken hin oder her. Wir sind schlie&szlig;lich hier her gefahren um, unter anderem, die endlosen Sandstr&auml;nde und w&uuml;sten&auml;hnlichen D&uuml;nen zu besichtigen. Am Strand angekommen, kam auch so langsam die Sonne ein wenig heraus gekrochen. Angenehme Temperaturen hatten wir ja schon. Da der Sand noch kalt und feucht war beschlossen wir ein wenig am Strand entlang zu gehen und unsere F&uuml;&szlig;e ins Wasser zu halten.</p>
    <p>Es war herrlich. Links endloses Wasser mit guten Wellen zum Surfen. Rechts endloser Strand und D&uuml;nen und vor uns nicht eine Menschenseele. Gott war das entspannend. Irgendwann stellten wir fest das wir ganz vergessen haben uns mit Sonnencreme einzuschmieren und das die Sonne scheinbar trotzdem einige Kraft hat, da wir anfingen rot anzulaufen.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Da mir auch leider so langsam wieder die F&uuml;&szlig;e weh taten machten wir uns auf den Weg zur&uuml;ck zum Auto um uns die fehlende Dosis Sonnencreme abzuholen. Danach ging es Richtung Port Stephens. Wir sind ja auch her gekommen um Delfine in freier Wildbahn zu sehen.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130417-082620.jpg" alt="Alter Fischkutter im Hafen von Port Nelson, Australien. Aus Holz und kurz vorm sinken."
     />
  </div>
  <div class="col-md-7">
    <p>So stand es zumindest in einem der Reisemagazine die Steffi mitgebracht hat. Leider stand in dem Heft nicht wo am Port Stephens man die Tiere sehen kann. Wir fuhren einfach mal nach Port Nelson, denn ich hatte gesehen das es dort eine Touristen Information gibt und hoffte das man uns dort weiterhelfen kann.</p>
    <p>Es war leider ein Fehlschlag. Die Dame dort konnte mir bei keiner meiner Fragen wirklich weiterhelfen. Da meine F&uuml;&szlig;e leider immer noch der Meinung waren zu brennen, beschlossen wir einfach das Auto am Hafen stehen zu lassen und das kurze St&uuml;ck ans Wasser zu laufen. Dort setzten wir uns und hofften darauf Delfine zu sichten.</p>
    <p>Leider hatten wir auch damit kein Gl&uuml;ck. Da Steffi noch weniger still sitzen kann als ich, beschlossen wir gem&uuml;tlich am Pier entlang zu spazieren und St&uuml;ck f&uuml;r St&uuml;ck den Hafen zu erkunden in der Hoffnung vielleicht doch noch eine graue R&uuml;ckenflosse zu sichten.</p>
    <p>Als wir dann irgendwann zum Auto zur&uuml;ck kamen, begr&uuml;&szlig;te uns im Baum &uuml;ber uns eine riesige Gruppe wei&szlig;er Kakadus. Diese machten Krach und &uuml;bten sich im synchronen tief fliegen. Uns ging es leider immer noch auf den Keks das Steffi's neue Kamera den fetten Fussel auf der Linse hatte und somit die Fotos von den Kakadus nicht 100% perfekt wurden. Mich &auml;rgerte es so sehr, dass ich die Kamera nahm und mit ausgefahrenem Objektiv auf meinen Fingerkn&ouml;chel schlug. Siehe da. Der Fussel war weg. Na ein Gl&uuml;ck.</p>
    <p>Da wir leider immer noch keine Delfine gesehen hatten, beschlossen wir einen anderen Weg zur&uuml;ck zum Campingplatz zu fahren in der Hoffnung vielleicht an einem anderen Streifen des Port Stephens Delfine zu sichten. Leider klappte es auch dort nicht.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130417-082620.jpg" alt="Alter Fischkutter im Hafen von Port Nelson, Australien. Aus Holz und kurz vorm sinken."
    />
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Somit machten wir uns wieder auf den Weg zur&uuml;ck zum Campingplatz. Noch gem&uuml;tlich Abendbrot essen. Leider war auch heute abend ein Gewitter in der N&auml;he. Wir beschlossen dann einfach ins Bett zu gehen und zu hoffen das es Morgen besser wird. Morgen soll es dann durch Sydney so langsam Richtung S&uuml;den gehen.</p>
  </div>
</div>
