---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 06.06.2013 Hunter Valley

categories:
  - de
  - Reiseblog

locations:
  - Anna Bay
  - Hunter Valley

overview:
  external_link: https://sebastian301082.wordpress.com/2013/06/06/06-06-2013-hunter-valley/
  intro: "Heute morgen beschlossen wir, nur schnell in der K&uuml;che Kaffee zu kochen und dann direkt auszuchecken. Wir wollten n&auml;mlich lieber am Strand mit Blick aufs weite Meer fr&uuml;hst&uuml;cken."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1855.jpg
    alt: Fehlt nur noch eine Gruppe Kangaroos im Bild.
---
<p>Heute morgen beschlossen wir, nur schnell in der K&uuml;che Kaffee zu kochen und dann direkt auszuchecken. Wir wollten n&auml;mlich lieber am Strand mit Blick aufs weite Meer fr&uuml;hst&uuml;cken.</p>
<p><!--more--></p>
<p>[caption id="attachment_2124" align="alignleft" width="300"]<a href="https://sebastian301082.wordpress.com/2013/06/06/06-06-2013-hunter-valley/auszeit-1855/" rel=" rel=&quot;attachment wp-att-2124&quot;"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1855.jpg" alt="Durch Weinreben hindurch Fotografiertrer Weinberg" width="300" height="199" class="size-medium wp-image-2124" /></a> Fehlt nur noch eine Gruppe Kangaroos im Bild.[/caption]</p>
<p>Dort angekommen, stand da ein v&ouml;llig ausgebrannter PKW, der gestern fr&uuml;h noch nicht da war. Ich schaute mir diesen etwas genauer an und stelle fest das, dass Feuer ziemlich hei&szlig; gewesen sein muss, denn um das Auto herum war &uuml;berall geschmolzenes Metall wo vorher bestimmt mal Felgen gewesen sind. Nach dem Fr&uuml;hst&uuml;ck, machten wir noch das eine oder andere Foto von den unendlichen weiten dieser Strandw&uuml;ste. Danach ritten wir, mit unserem Van Hugo, los in Richtung Hunter Valley.</p>
<p>Als Zwischenziel hatten wir uns eine Touristeninformation in Cessnock, einer der gr&ouml;ssten Ortschaften im Hunter Valley, ausgesucht. Zu dieser Touristeninformation f&auml;llt mir nur eins ein<br />
KEINE TOURI INFO. NUR EIN SCHILD AUF NEM PARKPLATZ MIT TOILETTE.</p>
<p>Das Internet erz&auml;hlte mir, dass ein St&uuml;ck weiter n&ouml;rdlich, au&szlig;erhalb Cessnock's eine weitere Touristeninformation sein soll. Diese war dann auch echt - und echt gro&szlig;. Direkt an einem kleinen privaten Flughafen gelegen. Wie sich herausstellte arbeitet dort auch eine Deutsche in der Information, so das Muttern direkt mitreden konnte. Die freundliche Dame half uns eine sch&ouml;ne Route durch die Weinberge zu finden und schickte uns zum Audrey Wilkinson Weingut.</p>
<p>[caption id="attachment_2127" align="alignright" width="300"]<a href="https://sebastian301082.wordpress.com/2013/06/06/06-06-2013-hunter-valley/auszeit-465/" rel=" rel=&quot;attachment wp-att-2127&quot;"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-465.jpg" alt="Zwei sch&ouml;ne Bl&uuml;ten in Frontalaufnahme" width="300" height="201" class="size-medium wp-image-2127" /></a> Wenn jemand wei&szlig; wie sie hei&szlig;t, bitte melden![/caption]</p>
<p>W&auml;hrend wir Pl&auml;ne schmiedeten, fiel mir ein, dass ich ja noch die Maut f&uuml;r die Harbour Bridge in Sydney bezahlen muss. W&auml;hrend ich die zust&auml;ndige Beh&ouml;rde anrief und alles per Kreditkarte bezahlte, stand Muttern an einem recht sch&ouml;nen Blumengestr&uuml;pp und bewunderte eingehend die Samen dieser Pflanze. Leider haben wir beide keine Ahnung wie diese wundersch&ouml;ne Pflanze hei&szlig;t. Vielleicht kann uns ja einer von euch aushelfen?</p>
<p>Auf dem Weg zu dem Weingut zog sich der Himmel mit laaaang gezogenen Schleierwolken zu und es wurde langsam ein wenig frisch. Auf der Fahrt durch die vielen Weinberge hoppelte auf einmal ein einsames K&auml;nguru zwischen den Rebst&ouml;cken umher. Leider war es das einzige und auch zu schnell wiede verschwunden. Am Weingut angekommen wurden wir als einzige G&auml;ste direkt pers&ouml;nlich begr&uuml;&szlig;t. Die freundliche Dame versuchte uns auch gleich zu einer Weinverkostung zu &uuml;berreden aber da ich ja noch fahren musste, konnte ich nicht und Mutti alleine hatte keine Lust. Somit spendierte Mutti schnell eine Flasche des, wie sagte die Dame so sch&ouml;n, "spritzigen" Rose f&uuml;r Schlappe 25$. Wir holten uns noch die Erlaubnis ein kleines St&uuml;ck am Hang durch die Weinreben laufen und Fotos machen zu d&uuml;rfen und fanden nat&uuml;rlich, neben uns selbst, noch das eine oder andere nette Motiv. Leider tauchten auch hier keine weiteren K&auml;ngurus auf.</p>
<p>[caption id="attachment_2125" align="alignleft" width="300"]<a href="https://sebastian301082.wordpress.com/2013/06/06/06-06-2013-hunter-valley/auszeit-1856/" rel=" rel=&quot;attachment wp-att-2125&quot;"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1856.jpg" alt="Ein Mittelgro&szlig;es Landhaus neben Weinreben" width="300" height="199" class="size-medium wp-image-2125" /></a> Die machen echt guten Wein.[/caption]</p>
<p>Da es nun langsam aber sicher Richtung Abend ging und ich nicht so gerne im dunkeln fahre, beschlossen wir, zur Touristeninfo zur&uuml;ck zu fahren und dort auf dem angeschlossenen Parkplatz zu &uuml;bernachten, denn dort gab es &ouml;ffentliche Toiletten die die gesamte Nacht gut beleuchtet sind. Also fuhren wir im letzten Abendlicht dorthin und verbrachten den Rest des Abends mit quatschen und spielen. Den gekauften Wein k&ouml;nnen wir aber leider nicht trinken, da Alkohol auf diesem Parkplatz ausdr&uuml;cklich verboten ist.</p>
<p>Naja dann bleibt der halt bis morgen Abend im K&uuml;hlschrank. So!</p>
