---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 16.02. Canberra
date: 2013-02-16 12:50:40.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Canberra
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/16/16-02-canberra/
  intro: "Mit ein wenig Wehmut und nicht der gr&ouml;&szlig;ten Vorfreude machten wir uns heute morgen fertig um den tollen Campinglatz am Wombats Grove zu verlassen."
  image:
    url: /assets/img/blog/auszeit/small/dsc01072.jpg
    alt: kleines Merinosch&auml;fchen auf dem Weg nach Canberra
---
<p>Mit ein wenig Wehmut und nicht der gr&ouml;&szlig;ten Vorfreude machten wir uns heute morgen fertig um den tollen Campinglatz am Wombats Grove zu verlassen.</p>
<p><!--more--></p>
<p>Das Wetter war der gleichen Meinung wie wir. Es war diesig. Die Wolken hingen so extrem tief, dass sie schon an den Baumwipfeln kratzten. Nachdem wir uns endlich vom Campingplatz trennen konnten viel uns wieder ein, welche Strasse wir den Berg herunter gekommen sind und das wir diese jetzt wieder hinauf m&uuml;ssen. Es handelt sich dabei um 6km Strasse mit einer Steigung von mindestens 10% und Kurven die selbst ohne Gegenverkehr nicht schneller als mit 15km durchfahren werden k&ouml;nnen. Nun hatte ich die Bef&uuml;rchtung das jetzt noch Nebel dazu kommt. Wir hatten aber Gl&uuml;ck die dichten Baumreihen entlang der Strasse hielten die Wolken ein Gl&uuml;ck fern genug.</p>
<p>[caption id="attachment_1489" align="alignleft" width="292"]<a href="http://sebastian301082.wordpress.com/2013/02/16/16-02-canberra/dsc01072/" rel="attachment wp-att-1489"><img class="size-medium wp-image-1489" alt="&quot;kleines&quot; Merinosch&auml;fchen auf dem Weg nach Canberra" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01072.jpg" width="292" height="300" /></a> "kleines" Merinosch&auml;fchen auf dem Weg nach Canberra[/caption]</p>
<p>Unser erstes Ziel des Tages waren die Fitzroy Falls Wasserf&auml;lle. Diese hatten wir uns schon kurz auf dem hinweg angeschaut und f&uuml;r gut befunden. Heute wollten wir zu einem zweiten Aussichtspunkt um noch bessere Fotos vom Wasserfall zu bekommen. Leider waren die Wolken anderer Meinung. Auf dem Parkplatz angekommen ging Steffi schnell vor um die Lage am Wasserfall zu &uuml;berpr&uuml;fen. Leider war das Wetter hier gegen uns und es fing an zu regnen und es herrschte dichter Nebel auf dem Weg. Somit viel der Ausflug aus und wir fuhren weiter in Richtung Australiens Hauptstadt Canberra. Auf dem Weg dorthin legten wir einen kurzen Stop auf einem Rasthof ein, um unser Fr&uuml;hst&uuml;ck nachzuholen. Dort fiel uns dann auch gleich nebenan eines der vielen der "kleinen" Sehensw&uuml;rdigkeiten von Australien ins Auge. Klein bedeutet in diesem Fall, knapp 2 Etagen oder h&ouml;her hoch!</p>
<p>In Canberra hatten wir uns einen Campingplatz direkt am Messegel&auml;nde heraus gesucht. Leider waren die GPS Koordinaten mal wieder Schrott und wir fuhren einige Male im Kreis bevor wir uns einfach mal wieder bei Mc Donalds auf den Platz stellten und online weiter suchten.</p>
<p>Wir fanden heraus, dass der Campingplatz wegen einer Messe gesperrt ist. Nach einigem suchen und herumtelefonieren fanden wir einen Campingplatz ein gutes St&uuml;ck au&szlig;erhalb Canberras. Somit beschlossen wir erst die Stadt zu erkunden und dann zum Campingplatz zu fahren. Auf dem Weg in die Stadt hielten wir doch noch bei der Touristeninformation. Wir fanden dort die neuste Ausgabe des Campingf&uuml;hrers. Zus&auml;tzlich konnten uns die Damen dort auch bei unserem &Uuml;bernachtungsproblem weiter helfen.</p>
<p>Wir fuhren dann doch erst schnell zum Campingplatz um uns einen Platz zu sichern und dann ging es endlich in die Stadt. Naja das was auf der Stra&szlig;enkarte nach Stadt aussieht. Wie landeten nat&uuml;rlich im Regierungsbezirk und stellten fest das die Reisef&uuml;hrer allesamt recht haben. Es ist wirklich sehr sehr weitl&auml;ufig. Wenn man mit dem Auto herum f&auml;hrt sieht man das meiste gar nicht erst, da es entweder mehrere hundert Meter Vorgarten hat oder gleich von mehreren Baumreihen verdeckt ist.</p>
<p>[caption id="attachment_1483" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/16/16-02-canberra/dsc01081/" rel="attachment wp-att-1483"><img class="size-medium wp-image-1483" alt="Parlamentsgeb&auml;ude mit riesiger Gr&uuml;nfl&auml;che und ringsherum B&auml;umen" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01081.jpg" width="300" height="225" /></a> Das Parlamentsgeb&auml;ude mit seiner Baumallee und dem riesigen Vorplatz[/caption]</p>
<p>Wir beschlossen einfach das Auto beim Wasser abzustellen und endlich mal wieder einige Meter zu Fu&szlig; zu gehen. Nur das bei dieser Weitl&auml;ufigkeit schnell aus Metern Kilometer wurden. Da es dazu auch noch hei&szlig; war beschlossen wir uns im Rosengarten des Alten Parlaments ein wenig in den Schatten zu setzen und danach vielleicht noch den Capitol Hill ganz hinauf zu laufen bis zum neuen Parlament.</p>
<p>Bis ganz oben haben wir es dann doch nicht mehr geschafft. Die Wiese vorm Parlament war uns dann doch zu gro&szlig;. Da wir zus&auml;tzlich noch gegen die Kleiderordnung des Paralaments verstie&szlig;en, h&auml;tten die uns sowieso nicht herein gelassen. Somit sind wir zur&uuml;ck zum Auto und haben uns auf den Weg zur&uuml;ck zum Campingplatz gemacht.</p>
<p>Unterwegs noch schnell mal angehalten um Wasser Vorr&auml;te aufzuf&uuml;llen und das Abendessen zu besorgen. Es gab heute Abend Wraps. Den Rest des Hacks haben wir zu Klopsen f&uuml;r morgen verarbeitet. Morgen geht es dann erst ins Museum und dann wieder ab in Richtung K&uuml;ste... will endlich wieder ans Meer. Gute Nacht.</p>
