---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 22.02. Pinguine auf Phillip Island
date: 2013-02-22 02:00:36.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Melbourne
  - Phillip Island
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/22/22-02-pinguine-auf-phillip-island/
  intro: "Guten morgen. Heute sind wir mal wieder fr&uuml;h raus da wir viel tolles auf dem Zettel haben und zwar Koalas, Seel&ouml;wen und K&auml;ngurus. Alle drei findet man auf Phillip Island. S&uuml;d&ouml;stlich von Melbourne"
  image:
    url: /assets/img/blog/auszeit/small/20130706-082244.jpg
    alt: einfach mal h&auml;gen lassen heißt die Devise
---
<p>Guten morgen. Heute sind wir mal wieder fr&uuml;h raus da wir viel tolles auf dem Zettel haben und zwar Koalas, Seel&ouml;wen und K&auml;ngurus. Alle drei findet man auf Phillip Island. S&uuml;d&ouml;stlich von Melbourne <!--more--></p>
<p>Da wir beschlossen hatten keine mautpflichtigen Straßen in Melbourne zu fahren ging unsere Fahrt als aller erstes quer durch die Stadt auf ziemlich langsamen Seitenstraßen. Wir brauchten also mehrere Stunden um nach Philip Island zu kommen und Steffi pennte nat&uuml;rlich wie immer sobald wir auf der Autobahn waren.</p>
<p>[caption id="attachment_1551" align="alignleft" width="225"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1551" rel="attachment wp-att-1551"><img class="size-medium wp-image-1551" alt="einfach mal h&auml;gen lassen heißt die Devise" src="{{ site.url }}/assets/img/blog/auszeit/small/20130706-082244.jpg" width="225" height="300" /></a> einfach mal h&auml;gen lassen heißt die Devise[/caption]</p>
<p>Somit beschlossen wir erst einmal an einem Strand halt zu machen, um ein wenig wach zu werden. Leider stellte sich heraus das an diesem Strandparkplatz ziemlich viele Fliegen unterwegs sind. Somit gingen wir nur kurz ans Wasser und da es auch noch kalt war gingen wir um so schneller wieder zur&uuml;ck zum Auto und fuhren weiter.</p>
<p>N&auml;chster halt war denn der Koalapark. Dort besorgten wir uns dann gleich die Tickets f&uuml;r den ganzen Tag. In dem Park waren echt viele Koalas zu sehen und zu fotografieren. Leider war meine Kamera auch heute der Meinung nicht arbeiten zu wollen. Mit 8 brandneuen Batterien, war die Kamera schon nach 3 Fotos der Meinung, das die Batterien leer w&auml;ren. Was mir ein klein wenig die Stimmung verhagelte. Naja ein Gl&uuml;ck haben wir ja noch Steffi's Kamera und diese macht grundlegend auch gute Fotos. Der Park selbst war gut angelegt aber f&uuml;r unseren Geschmack ein wenig zu sehr im Stil eines Tierparks und zu wenig was wir uns unter einer Forschungs- und Rettungsstation vorgestellt hatten.</p>
<p>Nachdem wir unz&auml;hlige Fotos von Koalas und Wallabies gemacht haben sind wir weiter zu den Seel&ouml;wen gefahren. Dort angekommen mussten wir feststellen, dass die Seel&ouml;wen auf einer vorgelagerten Insel leben und man sie nur mit Fernglas oder per Livestream sehen kann. Trotzdem entschieden wir uns f&uuml;r einen Spaziergang &uuml;ber die Steilklippen. Auf dem super angelegten Wanderpfad versuchten wir uns noch kurz an einem Geocache ohne Erfolg. Beim weiterlaufen fiel uns auf, dass &uuml;berall kleine Holzkisten entlang des Weges verteilt sind sowie hier und da einige kleine H&ouml;hlen im Fels sind. Da wir echt einige 50 Meter &uuml;ber dem Meeresspiegel und die Klippen recht steil sind, gingen wir davon aus das es irgendwelche V&ouml;gel sein m&uuml;ssen. Nach einigen 100m Weg sahen wir dann auch einen davon und staunten als wir erkannten was es f&uuml;r ein Vogel war.</p>
<p>Es war ein Pinguink&uuml;ken das versuchte dem kalten Wind zu entkommen, aber trotzdem noch Sonnenlicht abzubekommen. Da haben wir echt gestaunt und uns die Frage gestellt wie die Elterntiere hier herauf kommen ohne zu fliegen.</p>
<p>[caption id="attachment_1552" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1552" rel="attachment wp-att-1552"><img class="size-medium wp-image-1552" alt="zu Besuch bei den Zwergpinguinen" src="{{ site.url }}/assets/img/blog/auszeit/small/20130706-082318.jpg" width="300" height="225" /></a> zu Besuch bei den Zwergpinguinen[/caption]</p>
<p>Zum Abschluss des heutigen Tages stand dann noch ein besonderer Strandbesuch auf dem Zettel. Einige km bevor man zu den Seel&ouml;wen kommt, gibt es eine Bucht in der man beobachten kann wie die Pinguine nach Hause kommen. Der Strand selbst ist nat&uuml;rlich abgesperrt und einige Trib&uuml;nen aufgebaut damit die Menschenmassen auch was sehen k&ouml;nnen. Zum Sonnenuntergang tauchten drei Ranger auf und stellten sich an den Fuß der Trib&uuml;ne und erz&auml;hlte uns ein wenig &uuml;ber die Pinguine und das es strikt verboten sei Fotos zu machen und zu filmen. Was uns nat&uuml;rlich ganz sch&ouml;n ankotzte. Da selbst Fotos ohne Blitz verboten seien. Es w&uuml;rde die Tiere st&ouml;ren!?! (ohne Blitz wohlgemerkt!!!)</p>
<p>War am Ende aber auch egal, da die Pinguine in den meisten F&auml;llen nur als Schatten zu erkennen waren, die &uuml;ber den Strand huschten. Nachdem einige Tiere &uuml;ber den Strand gehuscht waren machten wir uns langsam auf den R&uuml;ckweg und mussten feststellen, dass die Pfade der Pinguine entlang des Wanderpfades gingen und wir dann doch noch die eine oder andere M&ouml;glichkeit hatten ein Foto (ohne Blitz nat&uuml;rlich) bzw. Filmchen zu machen und sogar das Geschrei der Jungtiere aufzunehmen.</p>
<p>[caption id="attachment_1553" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1553" rel="attachment wp-att-1553"><img class="size-medium wp-image-1553" alt="&quot;guck guck, jemand da?&quot;" src="{{ site.url }}/assets/img/blog/auszeit/small/20130706-082346.jpg" width="300" height="225" /></a> "guck guck, jemand da?"[/caption]</p>
<p>Am Parkplatz angekommen, machten wir wie aufgefordert, noch einmal eine Kontrolle, dass kein Pinguin unterm Auto sitzt bevor es dann wieder zur&uuml;ck zum Campingplatz ging. Steffi schlief auch dieses mal wieder die meiste zeit auf den Schnellstraßen.</p>
<p>Als wir endlich wieder auf dem Campingplatz ankamen sahen wir nur noch zu, dass wir ins Bett kommen. Morgen soll schließlich auch wieder ein langer Tag werden.</p>
<p>Gute Nacht.</p>
