---
layout: de_travel-blog
active_nav: travel-blog
title: 10.06.2013 Gold Coast und Brisbane

categories:
  - de
  - Reiseblog

locations:
  - Ballina
  - Coffs Harbour

overview:
  intro: "Heute morgen sind wir noch bei trockenen Wetter aufgestanden. Das sollte leider nicht so bleiben. Ich hatte irgendwo gehört / gelesen, dass es hier in der Bucht von Ballina Delphine geben soll, die manches mal sogar bis ganz nah an den Strand kommen sollen. "
  image:
    url: /assets/img/blog/auszeit-1880.jpg
    alt: Einer der Str&auml;nde von Coffs Harbour.
---
<div class="row margin-bottom-10">
    <div class="col-md-6 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive"
             src="{{ site.url }}/assets/img/php-uk-conference/php-car-air-refreshener.jpg"
             title="Copyright is with Vitis Events Ltd."
        />
    </div>
    <div class="col-md-6">
        <p>
            <span class="dropcap">H</span>
            eute morgen sind wir noch bei trockenen Wetter aufgestanden. Das sollte leider nicht so bleiben.
        </p>
        <p>
            Ich hatte irgendwo gehört / gelesen, dass es hier in der Bucht von Ballina Delphine geben soll, die manches mal sogar bis ganz nah an den Strand kommen sollen. Da der Strand, gleich auf der anderen Straßenseite anfängt, schickte ich Muttern mit der Kamera los während ich das Auto auf die Weiterfahrt vorbereitete.
        </p>
		<p>
			Delphine waren heute morgen leider nicht in der Bucht, dafür schon einige Pelikane. Die warteten mal wieder darauf, dass einige Fischer mit dem Putzen ihres Fangs fertig werden und sie die Reste bekommen können. Nachdem ich uns ausgecheckt hatte, ging ich noch auf ein paar Schritte mit an den Strand um mir das Spektakel anzuschauen. Danach machten wir uns auf den Weg.
		</p>
    </div>
    <div class="col-md-6 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive"
             src="{{ site.url }}/assets/img/php-uk-conference/php-car-air-refreshener.jpg"
             title="Copyright is with Vitis Events Ltd."
        />
    </div>
</div>


Weit sollte es ja heute eigentlich nicht gehen. Nur etwas mehr als 100km nach Surfers Paradise. Dort gibt es 3 Dinge die ich gerne machen möchte.
<ol>
	<li>Auf der Promenade mit Muttern spazieren gehen</li>
	<li>Ins Hard Rock Cafe und Shirts kaufen</li>
	<li>Auf's QDeck. Aussichtsdeck auf 77. und 78. Etage des Q1 Towers</li>
</ol>
Auf dem Weg wollten wir noch einmal an der ein oder anderen Aussichtsplattform vorbei fahren, in der Hoffnung, vielleicht doch noch einen Wal zu sehen. Am Lenox Head konnten wir dann sogar etwas in der Ferne ausmachen, was ein springender Wal hätte sein können. Somit beschlossen wir schnell weiterzufahren nach Byron Bay und unser Glück dort noch einmal zu versuchen.

Leider fing es schon auf dem Weg dort hin an, wie aus Eimern zu schütten. Somit beschlossen wir in Byron Bay, nicht die trockenen Sicherheit unseres Vans zu verlassen und auf besseres Wetter weiter nördlich zu hoffen.

In Surfers Paradise angekommen sah es kurz danach aus, als würde es aufhören zu regnen. Somit suchten wir uns schnell einen trockenen Parkplatz und machten uns auf die Suche nach dem Hard Rock Cafe. Auf dem Weg dorthin kamen wir in ein Shopping Centre von dem aus man, trocknen Hemdes auf die Promenade schauen kann. Mit diesem Weitblick, mussten wir leider der Realität ins Auge schauen, die uns sagte, dass es wohl doch nicht aufhören wird zu regnen. Zumindest nicht in nächster Zeit.

Im Hard Rock Cafe angekommen, hatte ich das Glück, wieder auf die Chefin zu treffen. Diese hatte ich, vor einigen Wochen, zufällig schon im HRC in Sydney kennengelernt und Sie versprach mir dort, ein Shirt in meiner Größe zu Seite zu legen. ;) Da der Himmel gerade mal wieder alle Tore auch gemacht hatte, plauschten wir noch ein wenig mit Ihr und einer netten Angestellten, die uns dann noch den Auftrag gab, eine Kiwi Kollegin im Hamburger Hard Rock Cafe zu grüßen.

Nach einiger Zeit machten wir uns wieder auf den Weg zurück zum Auto. Auf dem Weg durch die Stadt, beschlossen wir dann die anderen beiden Punkte auf meiner Liste ausfallen zu lassen und einfach nach Brisbane weiterzufahren. Wir haben einfach keine Lust mehr auf Regen.

In Brisbane war dann wieder einmal der Big4 Campingplatz voll. Da wir aber morgen früh gleich als erstes in die Werkstatt wollen, um die Stoßdämpfer zu tauschen. Die aktuellen sind schon etwas arg schwammig und kurz hinter Brisbane ist die Autobahn zu Ende. Was dann kommt wissen wir noch nicht.

Somit machen wir es uns jetzt auf dem Parkplatz einer Tankstelle bequem mit Fleischwurst und Käse.

Hoffe