---
layout: blog/de/travel-blog
title: 21.02. Tr&ouml;deln durch Melbourne
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Melbourne

overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/21/21-02-trodeln-durch-melbourne/
  intro: "Heute hatten wir echt nicht viel auf dem Zettel. Nach dem aufstehen sind wir ziemlich z&uuml;gig zum n&auml;chsten Shopping Center gelaufen um eine eine Hose f&uuml;r mich k&uuml;rzen zu lassen."
  image:
    url: /assets/img/blog/auszeit/small/photo.jpg
    alt: eindeutig zuviel Sonne abbekommen!
---
<p>Heute hatten wir echt nicht viel auf dem Zettel. Nach dem aufstehen sind wir ziemlich z&uuml;gig zum n&auml;chsten Shopping Center gelaufen um eine eine Hose f&uuml;r mich k&uuml;rzen zu lassen.</p>
<p>Danach ging es dann ins Stadtzentrum von Melbourne um uns dort ein wenig die Zeit um die Ohren zu hauen. Als erstes gingen wir auf den Queen Victoria Market. Dies ist eine echt riesige Marktfl&auml;che mit vielen kleinen St&auml;nden die dir echt alles verkaufen wollen. Echt sch&ouml;n dort einfach mal durch die Reihen zu schl&auml;ndern.</p>
<p>[caption id="attachment_1531" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/21/21-02-trodeln-durch-melbourne/photo-2/" rel="attachment wp-att-1531"><img class="size-medium wp-image-1531" alt="eindeutig zuviel Sonne abbekommen!" src="{{ site.url }}/assets/img/blog/auszeit/small/photo.jpg" width="300" height="225" /></a> eindeutig zuviel Sonne abbekommen![/caption]</p>
<p>Nachdem wir spontan einen Cowboy Hut f&uuml;r mich und ein Shirt f&uuml;r Steffi gefunden hatten gingen wir zu Fu&szlig; durch die Stadt auf der Suche nach einer Touristeninfo. Nachdem wir dann auch den Plan f&uuml;r morgen finalisiert hatten (es wird an dieser Stelle nichts verraten), beschlossen wir uns irgendwo am Fluss was zu trinken zu suchen. Nach einigen SMS und anrufen kam dann auch Melinda, die ich aus Melbourne kenne, noch auf eine Eisschokolade dazu.</p>
<p>Nach Austauschen einiger Reistipps machte ich mich mit Steffi wieder auf den Weg zur&uuml;ck zum Campingplatz. Also auf zur Bushaltestelle und mit dem Bus Richtung Platz. Wir hatten ja noch was vor heute.</p>
<p>[caption id="attachment_1528" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/21/21-02-trodeln-durch-melbourne/dsc01252/" rel="attachment wp-att-1528"><img class="size-medium wp-image-1528" alt="Melbourne's Skyline mit dem Yarra-River" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01252.jpg" width="300" height="225" /></a> Melbourne's Skyline mit dem Yarra-River[/caption]</p>
<p>Heute morgen, als wir los sind, haben wir uns n&auml;mlich das SPA f&uuml;r heute Abend reserviert und zwar gaaanz f&uuml;r uns alleine. So konnten wir, ganz ohne redselige Rentner und auch ohne nervige fr&uuml;hpubertierende Jugendliche, die Saune und den Whirlpool genie&szlig;en. F&uuml;r Steffi in der Hoffnung, dass der Hals wieder besser wird und f&uuml;r mich, in Vorbeugung f&uuml;r morgen. Morgen wird es n&auml;mlich wieder ein sehr langer Tag.</p>
<p>Gute Nacht.</p>
