---
layout: blog/de/travel-blog
title: 27.02. Warrnambool und das Hostel
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Warrnambool

overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/27/27-02-warrnambool-und-das-hostel/
  intro: "Heute sind wir nicht wirklich weit gekommen. Wir haben &uuml;ber 6 Std f&uuml;r gerade einmal 87km gebraucht. Macht durchschnittlich ungef&auml;hr was bei 13km/h."
  image:
    url: /assets/img/blog/auszeit/small/20130716-163622.jpg
    alt: grauer Himmel, aber lecker Fr&uuml;hst&uuml;ck in der Bucht von P. C.
---
<p>Heute sind wir nicht wirklich weit gekommen. Wir haben &uuml;ber 6 Std f&uuml;r gerade einmal 87km gebraucht. Macht durchschnittlich ungef&auml;hr was bei 13km/h.</p>
<p><!--more--></p>
<p>[caption id="attachment_1636" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1636" rel="attachment wp-att-1636"><img class="size-medium wp-image-1636" alt="grauer Himmel, aber lecker Fr&uuml;hst&uuml;ck in der Bucht von P. C." src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163622.jpg" width="300" height="225" /></a> grauer Himmel, aber lecker Fr&uuml;hst&uuml;ck in der Bucht von P. C.[/caption]</p>
<p>Aber es hat sich auch gelohnt. Denn heute morgen sind wir auch etwas sp&auml;t los gekommen. Alle anderen Tagesg&auml;ste um uns herum waren schon au&szlig;er Sicht. Nachdem wir uns gem&uuml;tlich fertig gemacht hatten und die Tiefk&uuml;hlakkus wieder in den K&uuml;hlschrank ger&auml;umt hatten, ging es los. Nur bis an den Strand, um dort erst einmal in aller Herrgotts Ruhe zu fr&uuml;hst&uuml;cken und den morgen zu genie&szlig;en.</p>
<p>Beim Fr&uuml;hst&uuml;ck mit Meerblick beschlossen wir dann einstimmig nur bis in den n&auml;chsten gr&ouml;&szlig;eren Ort Warrnambool zu fahren. Einmal, weil wir ein paar Lebensmittel einkaufen wollten und au&szlig;erdem sollten auf den n&auml;chsten km noch einige sch&ouml;ne Stellen kommen.</p>
<p>Also noch kurz Hugo was zu trinken besorgen (tanken) und dann los. Nach nur wenigen Minuten kamen wir an den ersten Parkplatz von dem man aus eine sch&ouml;ne Sicht auf unseren Schlafplatz der letzten Nacht hatte. Schnell ein zwei Fotos und dann weiter zum n&auml;chsten Parkplatz.</p>
<p>[caption id="attachment_1637" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1637" rel="attachment wp-att-1637"><img class="size-medium wp-image-1637" alt="rauhe See an der Great Ocean Road" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163720.jpg" width="300" height="225" /></a> rauhe See an der Greaz Ocean Road[/caption]</p>
<p>So ging es dann den gesamten Vormittag von Parkplatz zu Parkplatz. Ein Foto hier, ein Foto da. Immer wieder auch mal ein Foto von uns beiden zusammen und das ganze nat&uuml;rlich immer mit super tollem Ausblick aufs Meer und tolle Steilklippen. Leider wollte das Wetter nicht immer so wie wir wollten!</p>
<p>Als die Strasse dann so langsam und gem&auml;chlich vom Meer weg f&uuml;hrte, fing es neben mir mal wieder an zu schnarchen. Naja da sag ich nix mehr zu. Auf jeden Fall stand kurz vor Warrnambool dann was von einer Walschule dran. Da meine Begleitung ja mal wieder schlief beschloss ich halt alleine, das ich dort gerne mal vorbei fahren m&ouml;chte. Es stellte sich als eine Aussichtsplattform am Logan Beach heraus. An dem Meeresabschnitt vor dieser Plattform sollen angeblich seit Jahren Wale ihre Kinder zu Welt bringen. Man soll sie von hier oben besonders gut beobachten k&ouml;nnen.</p>
<p>[caption id="attachment_1639" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1639" rel="attachment wp-att-1639"><img class="size-medium wp-image-1639" alt="Mein Camper Hugo zwischen ganz vielen gr&uuml;nen B&uuml;schen." src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163747.jpg" width="300" height="225" /></a> Ei Ei Ei, wo ist er denn[/caption]</p>
<p>Da ja leider mal wieder keine Walsaison ist, ist hier wie erwartet nix los. Somit fuhren wir weiter bis zur Touristeninfo von Warrnambool. Dort versuchte die freundlich Mitarbeiterin als erstes, mal wieder einen Reitstall zu finden bei dem ich mit meinem dicken Bauch zugelassen bin. Leider scheinen alle australischen Pferde ein zul&auml;ssige Zuladung von maximal 100kg zu haben. Somit konnte ich Steffi leider nicht ihren Wunsch erf&uuml;llen, dass wir beide einen sch&ouml;nen Strandausritt zusammen machen.</p>
<p>Die freundliche Dame von der Touristeninfo hatte aber noch einen guten Tipp f&uuml;r uns. Sie schickte uns zu einem Hostel, bei dem wir f&uuml;r einen einigerma&szlig;en genehmigten Preis auf dem Hinterhof parken und alle Gemeinschaftsr&auml;ume sowie Toiletten mitbenutzen d&uuml;rfen.</p>
<p>Bevor wir aber zu den Hostel fuhren beschlossen wir aber erst einmal was gegen unseren Hunger zu tun in der Hoffnung, nicht wieder vor verschlossenen T&uuml;ren zu stehen. Auch darauf hatte die Touristeninfo eine nette Antwort und gab uns die Wegbeschreibung zu einem kleinen Lokal mitten in der Stadt, welches eine gute Auswahl an Gerichten hatte und auch zu einer Zeit ge&ouml;ffnet hat, an der wir Hunger haben.</p>
<p>[caption id="attachment_1640" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1640" rel="attachment wp-att-1640"><img class="size-medium wp-image-1640" alt="weitere Gesteinsformationen an der GOR" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163829.jpg" width="300" height="225" /></a> weitere Gesteinsformationen an der GOR[/caption]</p>
<p>Nach einem reichhaltigen D&ouml;nerteller bzw. Chickenburger ging es dann zum Hostel um uns einen Stellplatz zu sichern. Nach dem das auch erledigt war, beschlossen wir noch ein wenig spazieren zu gehen und nebenbei noch einen Schatz zu suchen. Leider hatten wir bei unserer Suche kein Gl&uuml;ck und langsam wurde es auch k&uuml;hl, so dass wir beschlossen es uns im Hostel mit einem Tee gem&uuml;tlich zu machen und mal zu &uuml;berlegen was wir die n&auml;chsten Tage noch so anstellen wollen, da Reiten ja leider ausf&auml;llt.</p>
<p>Eine Idee ist, ab morgen einfach zwei reine Fahrtage einzulegen um fast eine Woche eher in Adelaide anzukommen. Diese Zusatzzeit k&ouml;nnte man dann wiederum nutzen um noch einmal f&uuml;r 2 -3 Tage nach Alice Springs und zum Uluru zu fliegen.</p>
<p>Naja mal schauen wo uns diese Idee noch hin f&uuml;hrt.<br />
Jetzt aber erst einmal<br />
Gute Nacht.</p>
