---
layout: blog/de/travel-blog
title: 08.06.2013 Verpasste Wale in Coffs Harbour
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Coffs Harbour

overview:
  external_link: https://sebastian301082.wordpress.com/2013/06/08/08-06-2013-verpasste-wale-in-coffs-harbour/
  intro: "Als wir heute morgen aufgestanden sind, lachte uns schon die Sonne an und wir konnten im freien fr&uuml;hst&uuml;cken. Das blieb leider nicht so."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1877.jpg
    alt: Sch&ouml;n angelegter Campingplatz mit Eukalyptus B&auml;umen. Fehlen nur noch die Koalas
---
<p>Als wir heute morgen aufgestanden sind, lachte uns schon die Sonne an und wir konnten im freien fr&uuml;hst&uuml;cken. Das blieb leider nicht so.</p>
<p>Bei unserer Ankunft in Coffs Harbour, dem Ziel unserer Tagesetappe hatte sich der Himmel schon zugezogen. Wir fuhren also wieder als erstes zu dem ziemlich teuren und luxuri&ouml;s aussehenden Campingplatz. (Dieser liegt heute direkt an einigen Wanderwegen/Strand).</p>
<p>[caption id="attachment_2147" align="alignright" width="199"]<a href="https://sebastian301082.wordpress.com/2013/06/08/08-06-2013-verpasste-wale-in-coffs-harbour/auszeit-1877/" rel=" rel=&quot;attachment wp-att-2147&quot;"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1877.jpg" alt="Hochkant Foto mit gr&uuml;ner Wiese und vielen B&auml;umen" width="199" height="300" class="size-medium wp-image-2147" /></a> Sch&ouml;n angelegter Campingplatz mit Eukalyptus B&auml;umen. Fehlen nur noch die Koalas[/caption]</p>
<p>Als wir wieder aus dem Rezeptionsgeb&auml;ude treten, regnet es bereits recht kr&auml;ftig. Somit inspizierten wir nur schnell den Platz im Regen und fuhren dann ins n&auml;chstgelegene Shopping Centre. Wir hofften nat&uuml;rlich immer noch das es bald wieder aufh&ouml;ren w&uuml;rde zu regnen. Da es nach einiger Zeit nicht besser wurde und die L&auml;den hier auch nicht all zu sp&auml;t schlie&szlig;en, kauften wir noch schnell alles notwendige f&uuml;r Buletten und Blumenkohl ein und fuhren zur&uuml;ck zum Campingplatz.</p>
<p>Dort angekommen schleppten wir die, f&uuml;rs Abendessen notwendigen Utensilien in die K&uuml;che und machten uns ans kochen. Unser Gl&uuml;ck ist, dass diese K&uuml;che ausnahmsweise ein vollwertiges Geb&auml;ude ist und nicht wie sonst in Australien &uuml;blich einem Carport mit Waschtisch gleicht.</p>
<p>W&auml;hrend wir so in der K&uuml;che am hantieren sind, schaue ich nebenbei mal bei Twitter rein und fall vom Glauben ab. Steht da nicht tats&auml;chlich eine Nachricht von "Whale watching Australia" mit dem Text, dass am Vormittag mehrere hundert Buckelwale vor dem Hafen von Port Macquire gesichtet wurden und zwar vom Strand aus. So ein Scheibenkleister. Genau da standen wir gestern Abend noch und haben den Sonnenuntergang genossen. Heute fr&uuml;h h&auml;tten wir einfach nur noch ne Runde spazieren gehen sollen, bevor wir uns in den Regen aufgemacht haben.</p>
<p>Den restlichen Abend haben wir mit Spiele spielen und der Hoffnung auf besseres Wetter verbracht. Naja wir werden sehen, was der morgige Tag bringt.</p>
