---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 18.02. Von Afrika nach Mitteleuropa
date: 2013-02-18 12:01:39.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Cann River
  - Congo
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/18/18-02-von-afrika-nach-mitteleuropa/
  intro: "Steffi Nach einer entspannten und mit Meeresrauschen begleiteten Nacht in Congo zog es mich schon recht fr&uuml;h aus dem Camper. Warum liegen bleiben, wenn man schon unmittelbar am Strand schl&auml;ft und dazu noch zum Sonnenaufgang wach ist!"
  image:
    url: /assets/img/blog/auszeit/small/dsc01164.jpg
    alt: leider nicht zum mitnehmen. Wer hier wohl gewohnt hat?
---
<p><strong>Steffi</strong><br />
Nach einer entspannten und mit Meeresrauschen begleiteten Nacht in Congo zog es mich schon recht fr&uuml;h aus dem Camper. Warum liegen bleiben, wenn man schon unmittelbar am Strand schl&auml;ft und dazu noch zum Sonnenaufgang wach ist!<!--more--></p>
<p>Der Herr neben mir schlief noch, somit schlich ich mich leise aus dem Wagen und ging hinunter zum Strand. Da die Sonne sich noch hinter den Klippen versteckte, hie&szlig; es erst einmal Trainingshosenbeine hochkrempeln und durch Wasserkan&auml;le auf die andere Seite laufen, damit man den wirklich schicken Blick erhascht. Ich sch&auml;tze, so einen entspannten und sch&ouml;nen Morgen hatte ich lange nicht.<br />
Einen sch&ouml;nen Sonnenaufgang, einen menschenleeren Strand, das Rauschen der Wellen und ansonsten absolute Ruhe… was will man (ich) mehr???</p>
<p>Nachdem ich mich einfach in den Sand fallen lie&szlig; und den Moment f&uuml;r einige Zeit genoss, zog es mich dann doch wieder auf die Beine, um ein wenig am Strand spazieren zu gehen und um das ganze auf ein paar Bildern festzuhalten. Mittlerweile war die Sonne auch um die Klippen herum gekommen und ich machte mich langsam auf den R&uuml;ckweg zum Camper.</p>
<p>[caption id="attachment_1503" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/18/18-02-von-afrika-nach-mitteleuropa/dsc01164/" rel="attachment wp-att-1503"><img class="size-medium wp-image-1503" alt="leider nicht zum mitnehmen. Wer hier wohl gewohnt hat?" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01164.jpg" width="300" height="225" /></a> leider nicht zum mitnehmen. Wer hier wohl gewohnt hat?[/caption]</p>
<p>Nachdem wir alles soweit f&uuml;r die Abfahrt vorbereitet hatten, fing Basti an, den groben Plan f&uuml;r den Tag aufzustellen. W&auml;hrend dessen habe ich mir wieder die Kamera geschnappt und habe den, von der H&uuml;terin des Platzes, empfohlenen Weg zum Strand eingeschlagen. Dieser war recht schnell gefunden… Stufen am H&uuml;gel hinauf, andere Seite Stufen wieder herunter und erneut an einem wundersch&ouml;nen und vor allem, menschenleeren Strand angekommen. Was f&uuml;r ein Anblick… hier k&ouml;nnte man sich wohlf&uuml;hlen!<br />
Ich stand auf der letzten Stufe, wollte gerade meine Flipflops in die Ecke schie&szlig;en, um den letzten Schritt in den Sand zu tun, da sah ich dann die erste Qualle direkt vor meiner Nase. OK… also Flipflops anlassen und so weitergehen. Besser so, denn der Strand war &uuml;berseht mit Quallen und da diese f&uuml;r mich alle gleich aussehen, ob nun gef&auml;hrlich oder nicht…<br />
Aber es gab nicht nur Quallen dort zu sehen, sondern auch wirklich schicke Muscheln etc., welche einfach nur zum mitnehmen einluden. Echt frustrierend, dass man diese nicht mitnehmen darf!</p>
<p>Ich h&auml;tte noch Ewigkeiten dort verbringen k&ouml;nnen, aber die Fahrt musste ja weitergehen und so schlug ich nach 20 min. den R&uuml;ckweg ein und wir verstauten den Rest im Auto und fuhren los.</p>
<p><strong>Sebastian</strong><br />
Wir verlie&szlig;en das kleine Dorf Congo auf dem selben Weg den wir auch gekommen waren. Das hie&szlig; wir mussten wieder &uuml;ber die mehrere km lange Sandpiste, die sich eher anf&uuml;hlte wie ein Waschbrett. Da Steffi leider immer noch das Genick schmerzte, war dieses St&uuml;ck unserer Tagesetappe nicht das sch&ouml;nste.</p>
<p>[caption id="attachment_1484" align="alignright" width="300"]<img class="size-medium wp-image-1484" alt="kristallklares Meer mit menschen leeren Sandstrand" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01204.jpg" width="300" height="225" /> wer frisst nur all die Touris? Schon wieder keine da!!![/caption]</p>
<p>Es wurde aber schnell um einiges sch&ouml;ner, da ich auf unserer heutigen Tour einen weiteren Strand heraus gesucht hatte, der sehr sch&ouml;n sein sollte. Dort machten wir unsere erste gr&ouml;&szlig;ere Pause. Die kleine Bucht mit dem Namen Mystery Bay ist echt traumhaft. Wie aus einem Reisekatalog geklaut. Ein &auml;lteres P&auml;rchen war im Wasser am schwimmen. Als wir n&auml;her kamen waren sie gerade am herauskommen. Sonst war keine weitere Menschenseele zu sehen. Das P&auml;rchen bot uns noch an ein Foto von uns zu machen und gab uns noch einige weitere Tips wo man entlang fahren kann.</p>
<p>Sobald die beiden au&szlig;er Sicht waren ging eine kleine Schlacht los. Wir lie&szlig;en unsere wichtigsten elektronischen Ger&auml;te in den Schuhen am Strand stehen und begannen eine kleine Wasserschlacht. Nach nur wenigen Minuten waren wir nass bis auf die Knochen, was uns bei den wundersch&ouml;nen Wetter absolut nicht st&ouml;rte. Wir tollten noch einige Zeit herum bevor wir dann leider doch weiter mussten. Wir w&auml;ren liebend gerne da geblieben, aber die Toiletten auf dem Campinplatz waren einfach nur zum w&uuml;rgen.</p>
<p>Ich wollte ausserdem ein wenig zusehen nach Melbourne zu kommen, da mir Steffi's Genick doch ein wenig Sorgen machte, da es einfach nicht besser zu werden schien.</p>
<p>Ich fuhr keine 5 Minuten auf dem Highway (Bundestrasse in Deutschland) da schlief schon wieder jemand neben mir tief und fest. Ich machte mir einfach ein H&ouml;rbuch an und genoss die Fahrt durch scheinbar endlose Urw&auml;lder. Berg rauf und Berg runter.</p>
<p>[caption id="attachment_1536" align="alignleft" width="168"]<a href="http://sebastian301082.wordpress.com/2013/02/18/18-02-von-afrika-nach-mitteleuropa/was-ein-hoher-baum-jpg/" rel="attachment wp-att-1536"><img class="size-medium wp-image-1536" alt="Eukalyptus Baum am Cann River" src="{{ site.url }}/assets/img/blog/auszeit/small/20130705-132101.jpg" width="168" height="300" /></a> Gott ist der Hoch und wir schlafen direkt darunter[/caption]</p>
<p>Es dauerte echt noch einige Stunden und einen Tankstop in einer kleinen Stadt mit h&uuml;pschen Yachthafen bevor wir in Cann River ankamen. Einem kleinen verschlafenen Dorf. Leider waren die Koordinaten im Campingf&uuml;hrer mal wieder nicht akurat. Nach kurzem verfahren, hielten wir an einer Tankstelle um nach dem Weg zu Fragen. Man konnte uns Helfen und sagte uns auch gleich noch, dass wir Platzgeb&uuml;hren im gegen&uuml;berliegenden Hotel entrichten m&uuml;ssen.</p>
<p>Als wir 10 Minuten sp&auml;ter auf dem Campingplatz ankamen wurde uns auch klar warum. Ausser einem Toilettenh&auml;usschen und einer offenen K&uuml;che war dort nicht viel. Wir suchten uns also einen Platz aus und wollten uns den Cann River endlich anschauen. Leider war das ein Reinfall, da er in ermangels Regen nicht viel Wasser f&uuml;hrte und somit eher mit kleinen Bach beschreiben werden k&ouml;nnte.</p>
<p>Wir beschlossen, es uns trotzdem gem&uuml;tlich zu machen und den Tag einfach zu genie&szlig;en. Mit der Dunkelheit wurde es dann aber noch einmal spannend. Als wir beide auf den Weg vom Bad zur&uuml;ck zum Van waren schauten im Eukalyptusbaum hinterm Auto zwei paar pelzige Augen hervor. Erst wussten wir nicht um was f&uuml;r Tiere es sich handelt. Somit erst einmal Vorsicht walten lassen. Die beiden machten auch keine Anstalten sich von uns fern zu hlaten. Somit beschlossen wir einstimmig das Steffi schnell die restlichen Kleinigkeiten im Auto verstaut und ich darauf aufpasse das diese beiden Pelzkn&auml;uel uns nicht zu nahe kommen.</p>
<p>Diese &uuml;berlegten es sich dann doch anders und spazierten mit einer unersch&uuml;tterbaren Gelassenheit quer &uuml;ber den Platz zum n&auml;chsten Camper. Nachdem Steffi dann schon einmal ins Bett ist wollte ich noch einmal schnell zur Toilette. Auf dem Weg dort hin beobachtete ich wieder die beiden Tiere. Im vorbeigehen h&ouml;rte ich dann eine Dame auf Englisch erkl&auml;ren das es sich dabei um sogenannte "<a title="Deutsches Wiki zum Thema Ringatil Possum" href="http://http://de.wikipedia.org/wiki/Gew%C3%B6hnlicher_Ringbeutler" target="_blank">Ringtail Possums</a>" handle. So wie Sie &uuml;ber diese Tiere sprach war eindeutig das die beiden nicht gef&auml;hrlich sind. Somit konnten wir beide dann doch beruhigt einschlafen.</p>
<p><strong>Nachtrag von Steffi zum Thema "Einschlafen"</strong></p>
<p>Ich kann da nichts f&uuml;r... das liegt am Motor.!!!<br />
Kaum l&auml;uft das Teil, tritt man weg...ob man nun m&uuml;de ist oder nicht!</p>
