---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 24.02. Great Ocean Road
date: 2013-02-24 02:00:22.000000000 +01:00

categories:
  - de
  - Reiseblog

locations:
  - Apollo Bay
  - Great Ocean Road

overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/24/24-02-great-ocean-road/
  intro: "Und auch heute wieder bin ich ein fauler Kerl und &uuml;berlasse Steffi das Schreiben. DANKE Steffi Heute morgen steuerten wir als ersten den Outdoor-Laden an, den wir am Abend zuvor gesehen hatten. Dort besorgten wir erst einmal eine neue Stange f&uuml;r unser Sonnensegel und weiter ging die Fahrt Richtung Great Ocean Road!"
  image:
    url: /assets/img/blog/auszeit/small/20130708-224257.jpg
    alt: Touri-Magnet an der K&uuml;ste
---
<p>Und auch heute wieder bin ich ein fauler Kerl und &uuml;berlasse Steffi das Schreiben. DANKE</p>
<p><b>Steffi</b><br />
Heute morgen steuerten wir als ersten den Outdoor-Laden an, den wir am Abend zuvor gesehen hatten. Dort besorgten wir erst einmal eine neue Stange f&uuml;r unser Sonnensegel und weiter ging die Fahrt Richtung Great Ocean Road!<!--more--></p>
<p>[caption id="attachment_1591" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1591" rel="attachment wp-att-1591"><img class="size-medium wp-image-1591" alt="Touri-Magnet an der K&uuml;ste" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-224257.jpg" width="300" height="225" /></a> Touri-Magnet an der K&uuml;ste[/caption]</p>
<p>Unser erster Stop war eine Tankstelle, bevor es dann direkt an die K&uuml;stenstra&szlig;e ging. Diese haben wir noch nicht ganz angefahren, da steuerten wir schon den ersten Parkplatz an und machten uns ran, die Stufen nach unten zu erklimmen. Diese f&uuml;hrten uns an einen, mal wieder, menschen leeren Strand. Wir spazierten ein wenig hin und her, alberten im Wasser herum und dann forderte das ganze getrunkene Wasser und das um uns herum seinen Tribut! In einigen Kilometern Entfernung machten wir Leben aus und hofften dort auch auf sanit&auml;re Anlagen. Also alle Stufen wieder hinauf und weiter zum n&auml;chsten Punkt gefahren. Dort angekommen, gab es wirklich sanit&auml;re Anlagen und auch Leben am und im Wasser und nachdem wir dem Spektakel einige Minuten zugeschaut haben, fuhren wir weiter.</p>
<p>Unser n&auml;chstes Ziel war dann der Leuchtturm von Aireys Inlet. Man konnte f&uuml;r Geld auch hinauf auf den Leuchtturm, dieses lie&szlig;en wir aber und gingen einfach nur ein wenig den Weg entlang und macht das ein oder andere gute Foto, bevor es weiter ging zum n&auml;chsten Abschnitt. Hiervon habe ich allerdings nicht viel mitbekommen. Ich bin mal wieder weggepennt! *bl&ouml;der Motor*!!!</p>
<p>[caption id="attachment_1592" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1592" rel="attachment wp-att-1592"><img class="size-medium wp-image-1592" alt="genau deshalb hei&szlig;t die Great Ocean Road             &quot;Great Ocean Road&quot;" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-224514.jpg" width="300" height="163" /></a> genau deshalb hei&szlig;t die Great Ocean Road "Great Ocean Road"[/caption]</p>
<p>Ich war zwar immer wieder mal wach, aber viel realisiert habe ich nicht... au&szlig;er das die Strecke kurvig und einige Schlagl&ouml;cher beinhaltet, und mir dieses irgendwie auf den Magen geschlagen ist.</p>
<p>Unser Ziel Apollo Bay und den dortigen Cmpingplatz haben wir dann auch bald erreicht und nach dem Einchecken stellten wir Hugo direkt am Pool ab. Hier sollte n&auml;mlich unser Platz f&uuml;r die n&auml;chsten 2 N&auml;chte sein. Abends haben wir nicht mehr viel angestellt, au&szlig;er nochmals kurz in den Pool gesprungen und bei der Touristeninfo vorbei geschaut. Danach ging es dann ab ins Bett, da sich bei uns beiden eine nette kleine Erk&auml;ltung ank&uuml;ndigte.</p>
<p>Dazu aber morgen mehr.<br />
Gute Nacht.</p>
