---
layout: blog/de/travel-blog
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
title: 07.03. Steffi macht nen Abflug

categories:
  - de
  - Reiseblog

locations:
  - Adelaide

overview:
  external_link: https://sebastian301082.wordpress.com/2013/03/07/07-03-steffi-macht-nen-abflug/
  intro: "Heute ist der Tag gekommen auf den wir uns schon seit langen NICHT freuen. Steffi muss wieder nach Hause fliegen. Vorher hatten wir noch einiges auf dem Zettel und ein wenig wollten wir auch noch die Zeit zusammen genie&szlig;en."
  image:
    url: /assets/img/blog/auszeit/small/dsc02596.jpg
    alt: Hugo nach dem Ausr&auml;umen
---
<p>[caption id="attachment_1826" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/03/07/07-03-steffi-macht-nen-abflug/dsc02596/" rel="attachment wp-att-1826"><img class="size-medium wp-image-1826" alt="Hugo nach dem Ausr&auml;umen" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02596.jpg" width="300" height="225" /></a> Hugo nach dem Ausr&auml;umen[/caption]</p>
<p>Heute ist der Tag gekommen auf den wir uns schon seit langen NICHT freuen. Steffi muss wieder nach Hause fliegen. Vorher hatten wir noch einiges auf dem Zettel und ein wenig wollten wir auch noch die Zeit zusammen genie&szlig;en. <!--more--></p>
<p>Als erstes beschlossen wir Steffi's Sachen zusammen zu suchen. Also r&auml;umten wir Hugo komplett aus, auf der Suche nach allen Einzelteilen f&uuml;r Steffi's Koffer und den Dingen die ich Steffi mit nach Hause geben wollte. Wir nutzten dann gleich auch die Chance und machten ordentliche Fotos von Hugo f&uuml;r den sp&auml;teren Verkauf des Fahrzeuges. Danach beschlossen wir noch eine Runde in den Pool zu h&uuml;pfen und die warmen Temperaturen zu genie&szlig;en.</p>
<p>[caption id="attachment_1827" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/2013/03/07/07-03-steffi-macht-nen-abflug/dsc02608/" rel="attachment wp-att-1827"><img class="size-medium wp-image-1827" alt="letztes gemeinsames Abendessen in Oz" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02608.jpg" width="300" height="225" /></a> letztes gemeinsames Abendessen in Oz[/caption]</p>
<p>Nachdem wir uns wieder trocken gerubbelt hatten und alles andere in ihre Koffer gepackt hatten, beschlossen wir noch irgendwo was essen zu gehen bevor wir zu Flughafen fahren. Wir landeten in einem griechischen Restaurant und bestellten Fleisch. Leider bekamen wir dann auch nur Fleisch ohne Beilagen. Als Steffi's Teller kam, h&ouml;rte ich nur</p>
<p><em>"Ich hab aber Hunger!"</em></p>
<p>Das Essen war gut selbst ohne Beilagen. Danach machten wir uns schnell auf den Weg zu nahegelegenen Promenade und genossen unseren letzten gemeinsamen Sonnenuntergang f&uuml;r laaange Zeit.</p>
<p>[caption id="attachment_1828" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/03/07/07-03-steffi-macht-nen-abflug/dsc02612/" rel="attachment wp-att-1828"><img class="size-medium wp-image-1828" alt="... schnief ..." src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02612.jpg" width="300" height="225" /></a> ... schnief ...[/caption]</p>
<p>Als es dann langsam dunkel wurde fuhr ich sie zum Flughafen und wir genossen noch die letzten Momente bevor der internationale Sicherheitsbereich f&uuml;r ihren Flug ge&ouml;ffnet wurde und ich sie nicht mehr begleiten konnte.</p>
<p>Ich fuhr danach zur&uuml;ck zum Campingplatz und war auf einmal alleine. Was ich ziemlich doof finde. Morgen mach ich mich dann auf den weg zur&uuml;ck nach Sydney um dann dort noch einmal f&uuml;r einige Monate bei ProductReview.com.au zu arbeiten.</p>
<p>Jetzt gehe ich aber erst einmal in mein gro&szlig;es und einsames Bett. Gute Nacht!!!</p>
