---
layout: de_travel-blog
sitemap: false
active_nav: travel-blog
title: 06.02.2013 Steffi's Ankunft
date: 2013-02-06 23:50:01.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Sydney
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/06/06-02-2013-steffis-ankunft/
  intro: "&Uuml;ber den heutigen Tag gibt es echt einiges zu berichten. Er war vollgestopft mit Events und Dingen die zu erledigen waren da heute endlich meine liebste Steffi ankam und mein Urlaub begann."
  image:
    url: /assets/img/blog/20130310-112702.jpg
    alt: Ein Altes Segelschiff vor dem Maritim Museum
---
<p>&Uuml;ber den heutigen Tag gibt es echt einiges zu berichten. Er war vollgestopft mit Events und Dingen die zu erledigen waren da heute endlich meine liebste Steffi ankam und mein Urlaub begann.<!--more--></p>
<p>[caption id="attachment_1040" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/06/06-02-2013-steffis-ankunft/20130310-112702-jpg/" rel="attachment wp-att-1040"><img class="size-medium wp-image-1040" alt="3 Master im Drarling Harbour" src="{{ site.url }}/assets/img/blog/20130310-112702.jpg" width="300" height="200" /></a> Ein Altes Segelschiff vor dem Maritim Museum[/caption]</p>
<p>Alles fing morgens mit Steffi's Ankunft in Sydney an. Planm&auml;ßig sollte sie um 7 Uhr morgens landen. Im Vorhinein hatte Steffi mir das Versprechen abgerungen sie zu dieser Unchristlichen Zeit am Flughafen abzuholen. Vorm ins Bett gehen und nachdem der Wecker viel zu fr&uuml;h klingelte, checkte ich Steffi's Flug. Die Webseite erz&auml;hlte mir, dass der Flug p&uuml;nktlich ankommen sollte. Also machte ich mich fertig, besorgte mir ein Busticket und ging zur Haltestelle. Da ich ein wenig fr&uuml;h an der Haltestelle ankam checkte ich noch einmal den Flug und sah das er 1 Std. Versp&auml;tung hat. Spontan beschloss ich mir das Busticket f&uuml;r sp&auml;ter aufzuheben und zu Fuß zum Flughafen zu laufen.</p>
<p>[caption id="attachment_1044" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/06/06-02-2013-steffis-ankunft/20130310-112800-jpg/" rel="attachment wp-att-1044"><img class="size-medium wp-image-1044" alt="R&uuml;ckseite des QVB mit Bussen davor geparkt. Im Hintergrund Hochh&auml;user" src="{{ site.url }}/assets/img/blog/20130310-112800.jpg" width="300" height="225" /></a> Ein sch&ouml;ner R&uuml;cken kann auch entz&uuml;cken. Die R&uuml;ckseite des Queen Victoria Geb&auml;udes[/caption]</p>
<p>Auf dem Weg dorthin sah ich in einem Busch 2 giftige Schwarze Spinnen sitzen. Ich machte nat&uuml;rlich prompt einen großen Bogen um den Busch und sah zu das ich weg komme. Im Flughafen angekommen hatte ich noch genug Zeit mich kurz umzuschauen bevor Steffi's Flieger landete.</p>
<p>Einige Minuten sp&auml;ter stand eine v&ouml;llig ersch&ouml;pfte und von den Menschenmassen genervte Steffi vor mir. Wir sahen zu das wir aus dem Flughafen kamen und beschlossen den einfacheren Weg zu nehmen und mit dem teuren Zug in die Stadt zu fahren. Wir sind dann nur schnell zu mir,  um ihren Koffer los zu werden. Danach ging es Fuß durch die Stadt. Erst zum Paddy's Market und danach zum Darling Harbour. Da es recht warm war und wir beide m&uuml;de wurden beschlossen wir noch schnell meine Post abzuholen und dann langsam Richtung Hostel zu gehen um Steffi eine YHA (Jugendherbergsverbands) Karte ausstellen zu lassen.</p>
<p>[caption id="attachment_1047" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/06/06-02-2013-steffis-ankunft/20130310-113002-jpg/" rel="attachment wp-att-1047"><img class="size-medium wp-image-1047" alt="Sonnenuntergang &uuml;ber den Blue Mountains. Ein schmales Wolkenband Teil die Sonne in zwei H&auml;lften" src="{{ site.url }}/assets/img/blog/20130310-113002.jpg" width="300" height="225" /></a> Trotz einiger Wolken gab es einen echt netten Sonnenuntergang[/caption]</p>
<p>Was Steffi zu dem Zeitpunkt noch nicht wusste, war die Tatsache, dass ich in dem Hostel ein Zimmer f&uuml;r uns gebucht hatte, damit sie nach der langen Anreise in einem ruhigen Zimmer schlafen kann und sich in einem sauberen Bad waschen kann. Was wesentlich besser war als bei mir zu Hause. Der Gesichtsausdruck den sie aufsetzte war echt cool als sie die YHA Karte in die Hand bekam und ich die Zimmerschl&uuml;ssel. Danach gingen wir dann noch schnell zur&uuml;ck in meine Wohnung um unsere Sachen f&uuml;r die Nacht zu holen. Den Rest ließen wir da, da ich ja am n&auml;chsten Tag auszog und ich daf&uuml;r sowieso noch einmal hin musste.</p>
<p>Nachdem wir die Sachen im Hostel abgeliefert hatten gingen wir noch zum Skytower um uns die Stadt und den Sonnenuntergang von oben anzusehen. Leider lullte uns die M&uuml;digkeit immer mehr ein, so das die Fotos von uns beiden im Skytower echt b&ouml;se aussehen und nicht vorzeigbar geworden sind.</p>
<p>Nachdem doch noch das eine oder andere nette Foto vom Sonnenuntergang entstanden war, ging es endlich ins Hostel. Wir vielen nur noch mit schmerzenden F&uuml;ßen ins Bett und pennten ziemlich schnell weg.</p>
<p>Gute Nacht.</p>
