---
layout: de_travel-blog
sitemap: false
active_nav: travel-blog
title: Tauchgang oder auch nicht
date: 2013-05-15 16:54:30.000000000 +02:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Sydney
overview:
  external_link: https://sebastian301082.wordpress.com/2013/05/15/tauchgang-oder-auch-nicht/
  intro: "Ja tauchen macht Spaß. Auch wenn ich leider feststellen musste, dass ich nicht mehr 100% Hochseetauglich bin, seit der Schaukelei mit der F&auml;hre in Neuseeland."
  image:
    url: /assets/img/blog/imgp0384.jpg
    alt: Das Boot mit dem ich raus aufs offene Meer bin
---
<p>Ja tauchen macht Spaß. Auch wenn ich leider feststellen musste, dass ich nicht mehr 100% Hochseetauglich bin, seit der Schaukelei mit der F&auml;hre in Neuseeland.</p>
<p><!--more--></p>
<p>Meinen ersten Tauchgang vom Boot aus im offenen Meer musste ich leider abbrechen. Ich war so aufgeregt und die Wellen so hoch, das mir komisch wurde. Somit war ich nicht konzentriert genug aufs zusammensetzten und kontrollieren der Ausr&uuml;stung. Bin dann trotzdem ins Wasser dort ging es mir wieder etwas besser, aber daf&uuml;r kam ein komisches Gef&uuml;hl auf was meine Ausr&uuml;stung angeht. Nach kurzer Hand entschied ich nicht abzutauchen und den Tauchgang abzubrechen. Es war zu gef&auml;hrlich mit nicht richtig kontrollierter Ausr&uuml;stung zu tauchen. Schon gar nicht bei geplanter Tauchtiefe von 16m.</p>
<p>[caption id="attachment_1920" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/05/15/tauchgang-oder-auch-nicht/sea-life-5/" rel="attachment wp-att-1920"><img src="{{ site.url }}/assets/img/blog/imgp0384.jpg" alt="Ankommendes Boot im Hafenbecken von Sydney" width="300" height="198" class="size-medium wp-image-1920" /></a> Das Boot mit dem ich raus aufs offene Meer bin[/caption]Ich habe beschlossen erst einmal einige weitere Tauchg&auml;nge vom Land aus zu machen um sicherer zu werden. Mit einem Boot will ich auch raus fahren aber erst einmal ohne tauchen um mich wieder an Seegang zu gew&ouml;hnen. Ein gutes hatte der Tag aber trotzdem. Beim warten auf die anderen Taucher tauchte ein Buckelwaljunges 15m neben dem Boot auf. Leider ging alles so schnell das ich keine Zeit hatte die Kamera zu holen.</p>
<p>Den Neoprenanzug hatte Steffi mir mitgebracht, da das Wasser hier im Winter auch unter 20 Grad geht und der Anzug ein guter Schutz gegen Skorpionfische und Quallen ist. Maske, Schnorchel und Flossen habe ich hier f&uuml;r einen guten Preis bekommen. Die Maske hat sogar meine Sehst&auml;rke eingesetzt bekommen.</p>
<p>Ja ein netter Ersatz f&uuml;rs Reiten ist tauchen alle mal nur jetzt im Herbst wird es auch hier recht k&uuml;hl. Aktuell kommen wir Tags&uuml;ber gerade noch so an die 20 Grad Marke heran und das auch nur f&uuml;r wenige Minuten am Tag. In den letzte Tagen f&uuml;hlt es sich aber eher wie Irland im Fr&uuml;hherbst an. Fließjacke n&ouml;tig und Halstuch auch. Dicke Jacke aber noch nicht. Ich hoffe das bleibt so.</p>
