---
layout: de_travel-blog
sitemap: false
active_nav: travel-blog
title: 01. - 05.02.2013 Vor Steffi's Ankunft
date: 2013-02-06 04:25:30.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Sydney
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/06/01-05-02-2013-vor-steffis-ankunft/
  intro: "Heute m&ouml;chte ich beginnen &uuml;ber einen tollen Monat zu berichten. Mit vielen Erlebnissen, Spass, spontanen und ziemlich teuren Ideen und einer kleinen Erk&auml;ltung."
  image:
    url: 
    alt: 
---
<p>Heute m&ouml;chte ich beginnen &uuml;ber einen tollen Monat zu berichten. Mit vielen Erlebnissen, Spass, spontanen und ziemlich teuren Ideen und einer kleinen Erk&auml;ltung.</p>
<p><!--more--></p>
<p>Da im Februar wirklich quasi t&auml;glich so viel los war habe ich mir gedacht ich unterteile den Monat in viele kleine Beitr&auml;ge. &Auml;hnlich der schreibart wie meiner Berichte &uuml;ber Neuseeland. Ich hoffe nur etwas k&uuml;rzer.</p>
<p>Heute m&ouml;chte ich &uuml;ber die Zeit vom 01. - 05. Februar berichten. Dies sind die Tage bevor Steffi hier angekommen ist. &Uuml;ber diese 5 Tage gibt es eigentlich nicht sehr viel zu berichten. Die meiste Zeit war ich auf Arbeit oder zu Hause. Leider war in meiner Freizeit, weiterhin das Wetter nicht freundlich gestimmt. Ich bereitet also den Auszug aus meiner Wohnung vor &uuml;ber den ich mich immer mehr freute. Erstens wurde die Wohnung immer wenige gepflegt/geputzt und zweitens kam eines Tages Wasser unter der Wohnungst&uuml;r herein. Dieses kam aus der leerstehenden Nachbarwohnung in die es scheinbar hineinregnete. Da sich keiner um das Wasser k&uuml;mmerte fing die Wohnung an zu m&uuml;ffeln und der Geruch wurde immer st&auml;rker.</p>
<p>Auf Arbeit bereitete ich auch alles f&uuml;r meinen einmonatige Abwesenheit vor. Da wir mitten im Projekt waren musste noch einiges &uuml;bergeben werden, was hoffentlich weitestgehend Fehlerfrei war damit die Jungs ohne Probleme damit arbeiten k&ouml;nnen.</p>
<p>Das war auch schon so ziemlich alles was es &uuml;ber die ersten Tage im Februar zu erz&auml;hlen gibt. Fotos sind in den paar Tagen leider keine entstanden. Am n&auml;chsten Tag kam Steffi an aber dazu bei n&auml;chsten mal mehr. Vielleicht bekomme ich sie ja sogar &uuml;berzeugt den einen oder anderen eigenen Beitrag zu schreiben. Ich w&uuml;rde mich auf jeden fall dar&uuml;ber sehr freuen.</p>
