---
layout: blog/de/travel-blog
title: Fl&uuml;ge umbuchen April 2013
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Brisbane
  - Broome
  - Darwin
  - Exmouth
  - Perth
  - Sydney

overview:
  intro: "G'Day wieder aus Sydney. Heute m&ouml;chte ich euch erz&auml;hlen wie mein neuer Plan f&uuml;r meine Reise aussehen soll."
  image:
    url: /assets/img/blog/auszeit/small/stepmap-karte-rundreise-1371862.jpg
    alt: Rundreise von Sydney &uuml;ber Brisbane, Cairns, Darwin, Broome, Exmouth nach Perth
---
<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/stepmap-karte-rundreise-1371862.jpg" alt="Karte mit makierungen auf verschieden Australischen St&auml;dten"
    />
  </div>
  <div class="col-md-8">
    <p>G'Day wieder aus Sydney.<br />
    Heute m&ouml;chte ich euch erz&auml;hlen wie mein neuer Plan f&uuml;r meine Reise aussehen soll.<br />
    </p>
    <p>Ende letzten Monats hatte ich mir Gedanken gemacht wie lange ich noch in Australien bleiben m&ouml;chte und wann es f&uuml;r mich wieder zur&uuml;ck nach Deutschland gehen soll. Ausgesucht hatte ich mir Mitte / Ende August. Anfang diesen Monats setzte ich mich nun hin und detailierte meinen Plan f&uuml;r die restlichen Monate die mir in diesem sch&ouml;nen Land noch bleiben.</p>
    <p>Als erstes beschloss ich noch bis mitte Mai zu arbeiten, dann m&uuml;sste ich genug Geld verdient und gespart haben, um die restliche Zeit ohne Sorgen leben zu k&ouml;nnen. Ab Mitte Mai soll es dann erst Richtung Cairns &uuml;ber Brisbane gehen, um dann von dort aus &Uuml;ber Darwin, Broome immer an der K&uuml;ste entlang bis nach Perth gehen. Dort m&ouml;chte ich dann so gegen Mitte / Ende Juli ankommen um noch genug Zeit zu haben meinen Van Hugo zu verkaufen und mit dem Flieger nach Sydney zur&uuml;ck zu kommen.</p>
    <p>Auf den R&uuml;ckweg nach Deutschland habe ich mir dann noch einen Aufenthalt von 3 Tagen in Dubai eingeplant, damit ich nicht wieder 27 Std. und mehr am St&uuml;ck unterwegs sein werde. Dort wollte ich auch schon immer mal hin und dank dem kostenlosen 72 Std. Transfer-Visum f&uuml;r die Vereinigeten Arabischen Emirate, ist solch ein Kurztrip kein Problem.</p>

  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Die Fl&uuml;ge von Sydney &uuml;ber Dubai nach Hamburg habe ich heute umgebucht. Mein genaues R&uuml;ckreisedatum werde ich hier aber noch nicht verraten, da mir einige meiner Freunde immer noch androhen das ich dummes Zeug tun muss, sobald ich wieder nach Hause komme.</p>
    <p>Morgen f&auml;ngt der Praktische Teil meines Tauchkurses an. Dazu aber sp&auml;ter mehr.<br />
      Jetzt mach ich erst einmal Feierabend.<br />
      Bis bald</p>
  </div>
</div>
