---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 05.03. zur&uuml;ck nach Adelaide
date: 2013-03-05 04:05:35.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Adelaide
  - Alice Springs
overview:
  external_link: https://sebastian301082.wordpress.com/2013/03/05/05-03-zuruck-nach-adelaide/
  intro: "Steffi Nachdem wir heute morgen ausgecheckt hatten, steuerten wir den Aussichtspunkt „Anzac Hill“ in der Stadtmitte von Alice Springs an. Den Mietwagen stellten wir auf dem Parkplatz nebenan kostenlos ab und machten uns daran, schwitzend den „Berg“ zu erklimmen."
  image:
    url: /assets/img/blog/auszeit/small/dsc02500.jpg
    alt: XXL-Gef&auml;hrt names Roadtrain in Alice Springs
---
<p><strong>Steffi</strong><br />
Nachdem wir heute morgen ausgecheckt hatten, steuerten wir den Aussichtspunkt „Anzac Hill“ in der Stadtmitte von Alice Springs an. Den Mietwagen stellten wir auf dem Parkplatz nebenan kostenlos ab und machten uns daran, schwitzend den „Berg“ zu erklimmen.<!--more--></p>
<p>[caption id="attachment_1754" align="alignleft" width="225"]<a href="http://sebastian301082.wordpress.com/2013/03/05/05-03-zuruck-nach-adelaide/dsc02500/" rel="attachment wp-att-1754"><img class="size-medium wp-image-1754" alt="XXL-Gef&auml;hrt names &quot;Roadtrain&quot; in Alice Springs" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02500.jpg" width="225" height="300" /></a> XXL-Gef&auml;hrt names "Roadtrain" in Alice Springs[/caption]</p>
<p>Oben angekommen haben wir festgestellt, dass wir zwei unter Alzheimer leiden und unser Wasser vergessen hatten! Was soll’s! Wir entdeckten mitten in der Stadt einen Roadtrain und staunten, wie leicht dieser doch um die Kurven kommt. Basti hatte inzwischen noch einen Geocache im Internet ausgemacht und wir machten uns auch auf die Suche. Diesen fanden wir dann auch in einer Felsspalte, nur leider war der Cache von irgendwem verw&uuml;stet worden. Es befand sich nur noch die demolierte Box ohne Inhalt vor Ort.</p>
<p>Nun steuerten wir ein letztes Mal eine Tankstelle an, um den Mietwagen wieder aufzuf&uuml;llen und dann ging es zum Flughafen. Wagen abgegeben, laaaange angestanden f&uuml;r die Kontrolle und ab in den Souvenirshop. Hier hatten wir bei der Ankunft Shirts gesehen, die uns gefielen, aber diese waren nun nicht mehr aufzufinden. Somit setzten wir uns, mit unseren Postkarten bewaffnet, in den Abflugbereich, f&uuml;llten diese aus und steckten sie dort auch gleich in den Kasten. Nun hie&szlig; es noch ein wenig warten, bis wir aufgerufen wurden und dann war es soweit. Wie schon beim Hinflug &uuml;berlie&szlig; Basti mir den Fensterplatz, wobei wir diesmal allerdings die Sitzreihe f&uuml;r uns hatten und uns breit machen konnten.</p>
<p>Nach der Landung in Adelaide brachte uns der Shuttle wieder zum Dauerparkplatz. Hugo war noch ganz und so luden wir nur schnell ein und fuhren vom Hof und Richtung Campingplatz. Allerdings landeten wir erst einmal in einem schwedischen M&ouml;belhaus direkt am Flughafen, um einfach mal durchzubummeln und ggf. weitere Aus- bzw. Umbauideen f&uuml;r Hugo zu sammeln und um am Ende nat&uuml;rlich was zu essen.</p>
<p>[caption id="attachment_1804" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/2013/03/05/05-03-zuruck-nach-adelaide/dsc02504/" rel="attachment wp-att-1804"><img class="size-medium wp-image-1804" alt="Kriegerdenkmal &uuml;ber Alice Springs" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02504.jpg" width="300" height="225" /></a> Kriegerdenkmal &uuml;ber Alice Springs[/caption]</p>
<p><strong>Basti</strong><br />
Nachdem wir uns bei Ikea durch die Reihen gefuttert hatten, beschlossen wir zum Campingplatz zu fahren. Auch dieses mal hatten wir uns f&uuml;r einen Campingplatz mit Strandzug&auml;ngen entschieden. Dieser war aber diesmal gar nicht so weit von der Stadt und vom Flughafen entfernt und nat&uuml;rlich wieder von Big4. Als erstes stellte man uns direkt zwischen Kinderspielplatz, H&uuml;pfburg und Basketballfeld. Schnell freundlich nachgefragt und nat&uuml;rlich hatten sie noch zwei Reihen weiter einen Stellplatz f&uuml;r uns mit direkten K&uuml;chen- und B&auml;derzugang.</p>
<p>[caption id="attachment_1805" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/03/05/05-03-zuruck-nach-adelaide/dsc02511/" rel="attachment wp-att-1805"><img class="size-medium wp-image-1805" alt="Auf Wiedersehen &quot;rote W&uuml;ste&quot;" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02511.jpg" width="300" height="225" /></a> Auf Wiedersehen "rote W&uuml;ste"[/caption]</p>
<p>Auf dem Weg hier her und auch in den letzten Tagen hatten wir ganz in der N&auml;he ein Outlet Shopping Center gesehen, welches wir noch schnell erkunden wollten. Leider hatten wir nicht mehr viel Zeit da es schon sp&auml;ter Nachmittag war und die Laden hier ja leider immer sehr fr&uuml;h schlie&szlig;en. Somit versuchten wir uns nur schnell einen &Uuml;berblick der verf&uuml;gbaren Shops zu verschaffen und das eigentliche Schm&ouml;ckern auf morgen oder &uuml;bermorgen zu verlegen. Als wir dann aber doch &uuml;ber einen Jeep Store stolperten musste ich einfach noch mal schnell rein schauen. Die Preise waren toll und die Hemden passten sogar mal. Beim verlassen des Ladens war ich einiges &auml;rmer, aber um einige Hemden reicher.</p>
<p>Zum Schluss gingen wir dann nur noch schnell einige Lebensmittel einkaufen und fuhren zur&uuml;ck zum Campingplatz um am Auto gem&uuml;tlich auszuspannen.</p>
<p>Bis morgen.<br />
Gute Nacht.</p>
