---
layout: blog/de/travel-blog
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
title: 07.06.2013 Pelikane in Port Macquire

categories:
  - de
  - Reiseblog

locations:
  - Forster
  - Port Macquire
  - Tuncurry

overview:
  external_link: https://sebastian301082.wordpress.com/2013/06/07/07-06-2013-pelikane-in-port-macquire/
  intro: "Gestern Abend fing es langsam an immer wieder einmal ein wenig zu regnen. Dies setzte sich heute eigentlich bis zu unserer Ankunft in Port Macquire fort."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1858.jpg
    alt: Parkpl&auml;tze in Oz k&ouml;nnen so sch&ouml;n sein.
---
<p>Gestern Abend fing es langsam an immer wieder einmal ein wenig zu regnen. Dies setzte sich heute eigentlich bis zu unserer Ankunft in Port Macquire fort.</p>
<p><!--more--></p>
<p>[caption id="attachment_2137" align="alignleft" width="300"]<a href="https://sebastian301082.wordpress.com/2013/06/07/07-06-2013-pelikane-in-port-macquire/auszeit-1858/" rel=" rel=&quot;attachment wp-att-2137&quot;"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1858.jpg" alt="Palme in mitten eines kleinen Paradieses an Pflanzen" width="300" height="199" class="size-medium wp-image-2137" /></a> Parkpl&auml;tze in Oz k&ouml;nnen so sch&ouml;n sein.[/caption]</p>
<p>Somit fuhren wir nur einmal von Bruce Highway ab in einen kleinen Ort Namens Tuncurry / Forster. Auf der Schnellstra&szlig;e in den Ort hingen &uuml;ber der Stra&szlig;e &ouml;fters, wie kleine Miniatur H&auml;ngebr&uuml;cken vom Wald links der Fahrbahn, in die Baumwipfel rechts der Stra&szlig;e. Wie wir sp&auml;ter herausfinden sollten, handelt es sich dabei um Abk&uuml;rzungen f&uuml;r Koalas, damit sie nicht &uuml;ber die Fahrbahn m&uuml;ssen. Dort wollten wir eigentlich eine l&auml;ngere Pause einlegen und uns ein wenig bewegen.</p>
<p>Leider fing es nach nur wenigen Minuten schon wieder an zu tr&ouml;pfeln, so das wir beschlossen weiter zu fahren und unser Gl&uuml;ck mit besserem Wetter in Port Macquire noch einmal zu versuchen. Wir hatten uns, als Lager f&uuml;r die Nacht, einen Campingplatz mitten in Port Macquire ausgesucht. Dieser lag direkt an der Hafeneinfahrt und lud zum flanieren ein. Bei unserer Ankunft klarte der Himmel auch ganz langsam wieder auf. Wir stellten Hugo f&uuml;r die Nacht ab und gingen zu Fu&szlig; die Gegend erkunden.</p>
<p>[caption id="attachment_2138" align="alignright" width="300"]<a href="https://sebastian301082.wordpress.com/2013/06/07/07-06-2013-pelikane-in-port-macquire/auszeit-1870/" rel=" rel=&quot;attachment wp-att-2138&quot;"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1870.jpg" alt="Baum mit Knospe" width="300" height="199" class="size-medium wp-image-2138" /></a> Diese sch&ouml;nen B&auml;ume stehen hier &uuml;berall auf dem Platz[/caption]</p>
<p>Erst gingen wir gem&uuml;tlich die Promenade in Richtung Meer entlang. Der Weg ist Wasserseitig mit gro&szlig;en Steinen zur Uferbefestigung versehenen. Jeder einzelne dieser Steine ist von Touristen bunt bemalt worden und das in einer echt guten Qualit&auml;t. Einige dieser Malereien sind sogar schon &uuml;ber ein Jahr alt.</p>
<p>Die untergehende Sonne zeigte sich auch noch und verlieh diesem sch&ouml;nen Ort eine tolle Goldgelbe F&auml;rbung. Als es dann kurze Zeit sp&auml;ter ziemlich schnell Dunkel wurde, beschlossen wir uns den n&auml;chsten Lebensmittelmarkt zu suchen um f&uuml;r Bratkartoffeln, die fehlenden Zutaten zu besorgen. Auf dem Weg ins Stadtzentrum kamen wir an einem Platz zum Fische putzen vorbei. Auf der einen Seite des Tisches standen 2 Fischer und putzen ihren Fang. Auf der anderen Seite standen 6 ausgewaschene Pelikane und bettelten. Jedes mal wenn die M&auml;nner sich ihrem Gespr&auml;ch zuwandten, kamen die Pelikane vorsichtig dem Tisch n&auml;her.  Wir haben fast gelegen vor lachen.</p>
<p>[caption id="attachment_2139" align="alignleft" width="300"]<a href="https://sebastian301082.wordpress.com/2013/06/07/07-06-2013-pelikane-in-port-macquire/auszeit-1871/" rel=" rel=&quot;attachment wp-att-2139&quot;"><img src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1871.jpg" alt="Campingplatz im Sonnenuntergang" width="300" height="199" class="size-medium wp-image-2139" /></a> Campingplatz im Sonnenuntergang[/caption]</p>
<p>Einige Schritte weiter, schauten wir Sterne suchend gen Himmel und trauten fast unseren Augen nicht. &Uuml;ber uns flogen Flughunde. Aber nicht nur ein paar wenige, sondern so weit wir schauen konnten, waren da Flughunde am Himmel. Sie flogen in einem schier endlos scheinenden Schwarm gen S&uuml;den, immer entlang der K&uuml;stenlinie. Den gesamten Abend lang war dieser riesige Schwarm am vorbeiziehen, das m&uuml;ssen Millionen von Tieren gewesen sein.</p>
<p>Zum Abendessen machten wir uns dann den "spritzigen" Wein von Audrey Wilkinson auf. Es stellte sich heraus, dass die Dame recht hatte. Der Rose war wirklich spritzig und vor allem verdammt lecker. Seinen Preis ist er wirklich mehr als Wert. Noch einmal danke Mutti f&uuml;r dem leckern Tropfen.</p>
<p>Nach dem essen r&auml;umte ich unsere Kochutensilien zur&uuml;ck in den Van und Muttern machte sich auf die Suche nach der K&uuml;che. Dabei versuchte sie sich gleich im englischen und fragte eine Dame: "I must find the kitchen". F&uuml;r den Ersten Versuch echt nicht schlecht. Oder?</p>
<p>Jetzt geht es noch schnell Duschen und dann ab in die Falle.<br />
Morgen soll es fr&uuml;h weiter gehen.</p>
