---
layout: blog/de/travel-blog
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
title: 28.02. verr&uuml;ckte Ideen &amp; deren Umsetzung

categories:
  - de
  - Reiseblog

locations:
  - Keith

overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/28/28-02-verrueckte-ideen-und-deren-umsetzung/
  intro: "Basti Heute morgen tr&ouml;delten wir gar nicht lange rum und fuhren los. Campingpl&auml;tze f&uuml;r heute hatten wir uns gestern Abend ja schon raus gesucht und da wir die K&uuml;che des Hostels mitbenutzen durften war auch das Fr&uuml;hst&uuml;ck schnell erledigt."
  image:
    url: /assets/img/blog/auszeit/small/20130718-094639.jpg
    alt: Aktivierung des Autopiloten
---
<p><strong>Basti</strong><br />
Heute morgen tr&ouml;delten wir gar nicht lange rum und fuhren los. Campingpl&auml;tze f&uuml;r heute hatten wir uns gestern Abend ja schon raus gesucht und da wir die K&uuml;che des Hostels mitbenutzen durften war auch das Fr&uuml;hst&uuml;ck schnell erledigt.</p>
<p><!--more--></p>
<p>[caption id="attachment_1653" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1653" rel="attachment wp-att-1653"><img class="size-medium wp-image-1653" alt="&quot;Aktivierung des Autopiloten&quot; " src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-094639.jpg" width="300" height="225" /></a> "Aktivierung des Autopiloten"[/caption]</p>
<p>Die heutige Strecke &auml;nderte sich schnell von einer gestern noch gewunden K&uuml;stenstra&szlig;e zu einer endlosen Geraden die nur hier und da mal von Baustellen unterbrochen wurde. Links und rechts der Stra&szlig;e wurden die saftigen Wiesen auch immer mehr durch ausgetrocknete Weiden ersetzt. Nach einigen km fuhren wir dann immer mehr und mehr durch endlos wirkende Weinfelder. Wir sind also im Barrosa Valley angekommen, dem Weingebiet von South Australia!</p>
<p>Irgendwann mitten im nirgendwo sagte mein Navi dann ich solle rechts abbiegen. Gesagt getan. Nach weiteren 2km standen wir mitten zwischen Zwei Weing&uuml;tern auf einem Campingplatz und es war noch nicht einmal Mittag. Wir schauten uns beide an und beschlossen weiter zu fahren. Die Dame an der Rezeption schaute nur bel&auml;mmert als wir kehrt Marsch zur&uuml;ck auf die Hauptstra&szlig;e fuhren. Im n&auml;chsten Dorf machten wir dann noch einmal eine etwas l&auml;ngere Pause um, erstens aus dem Auto zu kommen und zweitens mal im Campingbuch nach zusehen, wo wir denn heute Nachmittag noch hin fahren.</p>
<p>[caption id="attachment_1652" align="alignright" width="225"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1652" rel="attachment wp-att-1652"><img class="size-medium wp-image-1652" alt="Schattenspender f&uuml;r die Schafe" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-094541.jpg" width="225" height="300" /></a> Schattenspender f&uuml;r die Schafe[/caption]</p>
<p><strong>Steffi</strong><br />
So f&uuml;hrte uns die Fahrt heute auf einem ziemlich verlassenen Campingplatz in Keith… keine anderen Camper, keine Person im B&uuml;ro… alles wie ausgestorben! Wir haben uns somit erst einmal einen Standort f&uuml;r unseren Wagen gesucht und von weiten schon einmal den Pool begutachtet, der uns freudig hinter dem Zaun erwartete bei den Temperaturen. Dort entdeckten wir dann auch eine Dame, die kurz darauf auf den Campingplatz kam und ins B&uuml;ro verschwand. Basti ist dann hinterher, um uns anzumelden sowie um zu bezahlen und kam kurz darauf mit lang gezogenem Gesicht wieder</p>
<p><em>„der Pool ist heute geschlossen, es w&auml;re zu kalt“</em></p>
<p>A&auml;&auml;&auml;&auml;&auml;&auml;&auml;&auml;h bitte was????<br />
OK, die Aussies haben doch zu viel Sonne abbekommen! Das ist mir schon bei einem Mitarbeiter von einer Fast-Food-Kette in Canberra aufgefallen. Dieser hat bei &uuml;ber 25 grad Au&szlig;entemperatur die Tische mit dicker Felljacke (geschlossen bis oben hin nat&uuml;rlich), langer Hose, dicken Schuhen etc. abgewischt!!! Dazu laufen die allesamt mit dicken Fellboots etc. rum, auch wenn die Au&szlig;entemperatur 35 grad betr&auml;gt… kein Kommentar!!!</p>
<p>[caption id="attachment_1654" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/?attachment_id=1654" rel="attachment wp-att-1654"><img class="size-medium wp-image-1654" alt="*ob die uns unser Abendbrot streitig machen wollen?*" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-094650.jpg" width="300" height="225" /></a> *ob die uns unser Abendbrot streitig machen wollen?*[/caption]</p>
<p>Also keine Ausspannung am Pool, sondern alles f&uuml;r das Essen vorbereiten… oder auch nicht. Denn unser Plan wurde von eine Gruppe K&auml;ngurus durchkreuzt, die auf der Wiese neben dem Campingplatz auftauchten. Diese waren so zutraulich, dass man recht nah an den Zaun konnte, um das ein oder andere Bild zu erhaschen. Das w&auml;re alles super schick gewesen, w&auml;ren da nicht diese Monster von Bulldoggenameisen, welche bis zu 45 mm gro&szlig; werden und nicht ganz ohne sind. Die liefen leider in einer enormen Vielzahl am Zaun entlang, wo sie den einen oder anderen Zugang zu ihrer Behausung hatten, so dass wir unsere K&auml;ngurubeobachtung einstellen mussten.</p>
<p>Wir haben uns dann mit unseren K&uuml;chenutensilien zur BBQ-Area verzogen und angefangen uns etwas zu kochen. Leider liefen auch hier sehr viele Bulldoggenameisen rum, so dass wir kurzerhand einen Kreis aus Insektenschutzmittel um uns herum gespr&uuml;ht haben. Dieses hat auch erst einmal geholfen!</p>
<p>Mir ging immer noch durch den Kopf, dass ich beim besten Willen keine rote Erde zu Gesicht bekommen sollte. Das hatte ich auch schon das ein oder andere Mal auf der Fahrt erw&auml;hnt, und wir haben jedes Mal rumgesponnen „wenn wir jetzt losfahren, schaffen wir das“, aber nein… umgesetzt haben wir das ganze nie. Man kann ja schlie&szlig;lich nicht alles haben! Und ich bekommen schon weit mehr auf dieser Reise zu sehen, als je zuvor in einem Urlaub!</p>
<p>Heute sollte sich das &auml;ndern. Die Spinnereien wurden mehr und auf einmal fanden wir uns auf Mietwagenfirmen-, Fluggesellschaftsseiten etc. wieder und es wurde konkreter! Auf einmal waren die Fl&uuml;ge gebucht und wir suchten nach einem Mietwagen, Unterk&uuml;nften und Dingen, die man unternehmen konnte. Leider wollte das Internet nicht so wie wir wollten und wir beschlossen, da es auch schon sp&auml;t war, die restlichen Buchungen auf morgen zu verschieben.</p>
<p>Gute Nacht</p>
