---
layout: de_travel-blog
sitemap: false
active_nav: travel-blog
title: 13.02. M&uuml;cken in Penrith
date: 2013-02-13 12:50:56.000000000 +01:00
type: post
published: true
status: publish
categories:
  - de
  - Reiseblog
locations:
  - Anna Bay
  - Penrith
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/13/13-02-muecken-in-penrith/
  intro: "Heute morgen war es leider wieder grau draußen. Somit beschlossen wir nicht groß zu tr&ouml;deln mit dem Fr&uuml;hst&uuml;ck und uns vom Acker zu machen."
  image:
    url: /assets/img/blog/auszeit/small/dsc00935.jpg
    alt: Noch 800m links durch die Strandw&uuml;ste bis zum Strand. Das wir da nicht gefressen wurden grenzt an ein Wunder.
---
<p>Heute morgen war es leider wieder grau draußen. Somit beschlossen wir nicht groß zu tr&ouml;deln mit dem Fr&uuml;hst&uuml;ck und uns vom Acker zu machen.<!--more--></p>
<p>[caption id="attachment_1435" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/13/13-02-muecken-in-penrith/dsc00935/" rel="attachment wp-att-1435"><img class="size-medium wp-image-1435" alt="Sandpfad durch letzte gr&uuml;ne Stellen vor Strandw&uuml;ste" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc00935.jpg" width="300" height="225" /></a> Noch 800m links durch die Strandw&uuml;ste bis zum Strand. Das wir da nicht gefressen wurden grenzt an ein Wunder.[/caption]</p>
<p>Beim Fr&uuml;hst&uuml;ck dr&auml;ngelte sich dann doch wieder die Sonne mit aller Kraft durch die Wolken und die Temperaturen gingen recht schnell durch die Decke.</p>
<p>Als ersten Tagespunkt hatten wir mal wieder Einkaufen gehen auf dem Zettel. Heute sollte es wieder etwas f&uuml;r mehr Komfort sein. Wir besorgten neue Scheibenwischer f&uuml;r den Van, Gurtpolster und einen Campingstuhl f&uuml;r Steffi. Danach haben wir noch schnell einige Lebensmittel eingekauft und los. Auf dem Weg zur&uuml;ck friemelten wir uns noch durch ein gerade entstehendes Wohngebiet in die N&auml;he des Strandes, da wir eigentlich noch einmal in Ruhe ans Wasser wollten bevor wir f&uuml;r die n&auml;chsten Tage landeinw&auml;rts fahren wollten.</p>
<p>[caption id="attachment_1436" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/13/13-02-muecken-in-penrith/dsc00939/" rel="attachment wp-att-1436"><img class="size-medium wp-image-1436" alt="Parkb&auml;nke am See" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc00939.jpg" width="300" height="225" /></a> Schatz. Schatz. Schau mal wie einsam das hier ist.[/caption]</p>
<p>Wir fragten uns also durch und fanden einen Platz in einer Sackgasse wo wir das Auto stehen lassen konnten. Die Damen die wir nach dem Weg fragten schauten uns nur ein wenig komisch an und wiesen uns dann den Weg durch ein kleines St&uuml;ck Wald zu den D&uuml;nen. Nachdem wir durch das St&uuml;ck Wald durch waren, standen wir vor Bergen und tiefen Schluchten aus Sand. Ich nahm mein Handy in die Hand und schaute wie weit es noch bis zum Strand sei.</p>
<p>Ohhhh. Beim betrachten der sich langsam aufbauenden Satellitenbilder wurde uns erst richtig bewusst wie riesig diese D&uuml;nenw&uuml;ste eigentlich ist. Wir hatten, Luftlinie, noch mindestens 800 - 1000m Sandd&uuml;nen vor uns. Dazu kommt noch das es ja kein flacher Strand ist, sondern ziemlich hohe D&uuml;nen. Nachdem wir auch noch eindeutige Spuren von Schlangen fanden und dazu noch Tazenabdr&uuml;cke in der Gr&ouml;ße einer Faust, beschlossen wir es zu lassen und gingen zur&uuml;ck zum Auto.</p>
<p>[caption id="attachment_1434" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/13/13-02-muecken-in-penrith/dsc00955/" rel="attachment wp-att-1434"><img class="size-medium wp-image-1434" alt="See im Hintergrund mit ein wenig Buschwerk umzingelt und Eukalyptus im Vordergrund" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc00955.jpg" width="300" height="225" /></a> Ist der nicht sch&ouml;n der Naturpark Bents Basin[/caption]</p>
<p>N&auml;chster Stop war dann eine kurze Pinkelpause bei Mc Donalds. Auf dem Weg wieder heraus aus dem Schnellimbiss sah ich das wieder die Mc Donalds Monopoly Aktion l&auml;uft. Auf einem Tisch stand noch eine leere Packung Pommes und eine Cola herum auf der die Aufkleber noch drauf waren. Ich nahm sie ab und siehe da wir haben prompt gewonnen. Eine Eintrittskarte unsere Wahl und einen kostenlosen Film zum ausleihen. Das entsch&auml;digte ein wenig f&uuml;r das nicht erreichen des Wassers.</p>
<p>Den Rest des Nachmittags verbrachten wir dann mal wieder im Großstadt Stau durch Sydney wodurch wir dann zu sp&auml;t auf den Campingplatz ankamen. Wir hatten aber noch einmal Gl&uuml;ck das noch ein Angestellter anwesend war und uns den riesigen gefallen Tat uns noch herein lassen. Da der Platz leider ein wenig M&uuml;ckenverseucht war, k&uuml;mmerte sich Steffi ums Bett und die Gardinen und ich mich ums essen. Nach einer schnellen Dusche ging es dann ins Bett. Bevor wir aber schlafen konnten mussten wir noch ein wenig auf M&uuml;ckenjagt gehen, da sich doch das eine oder andere Biest ins Auto gemogelt hatte.</p>
