---
layout: blog/de/travel-blog
title: Fl&uuml;ge umbuchen April 2013
active_nav: travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Brisbane
  - Broome
  - Darwin
  - Exmouth
  - Perth
  - Sydney

overview:
  external_link: https://sebastian301082.wordpress.com/2013/04/07/fluege-umbuchen-april-2013/
  intro: "G'Day wieder aus Sydney. Heute m&ouml;chte ich euch erz&auml;hlen wie mein neuer Plan f&uuml;r meine Reise aussehen soll."
  image:
    url: /assets/img/blog/auszeit/small/stepmap-karte-rundreise-1371862.jpg
    alt: Rundreise von Sydney &uuml;ber Brisbane, Cairns, Darwin, Broome, Exmouth nach Perth
---
<p>G'Day wieder aus Sydney.<br />
Heute m&ouml;chte ich euch erz&auml;hlen wie mein neuer Plan f&uuml;r meine Reise aussehen soll.<br />
<!--more--></p>
<p>[caption id="attachment_1857" align="alignleft" width="320"]<a href="http://sebastian301082.wordpress.com/2013/04/07/fluege-umbuchen-april-2013/rundreise/" rel="attachment wp-att-1857"><img src="{{ site.url }}/assets/img/blog/auszeit/small/stepmap-karte-rundreise-1371862.jpg" alt="Karte mit makierungen auf verschieden Australischen St&auml;dten" width="320" height="256" class="size-full wp-image-1857" /></a> Rundreise von Sydney &uuml;ber Brisbane, Cairns, Darwin, Broome, Exmouth nach Perth[/caption]Ende letzten Monats hatte ich mir Gedanken gemacht wie lange ich noch in Australien bleiben m&ouml;chte und wann es f&uuml;r mich wieder zur&uuml;ck nach Deutschland gehen soll. Ausgesucht hatte ich mir Mitte / Ende August. Anfang diesen Monats setzte ich mich nun hin und detailierte meinen Plan f&uuml;r die restlichen Monate die mir in diesem sch&ouml;nen Land noch bleiben.</p>
<p>Als erstes beschloss ich noch bis mitte Mai zu arbeiten, dann m&uuml;sste ich genug Geld verdient und gespart haben, um die restliche Zeit ohne Sorgen leben zu k&ouml;nnen. Ab Mitte Mai soll es dann erst Richtung Cairns &uuml;ber Brisbane gehen, um dann von dort aus &Uuml;ber Darwin, Broome immer an der K&uuml;ste entlang bis nach Perth gehen. Dort m&ouml;chte ich dann so gegen Mitte / Ende Juli ankommen um noch genug Zeit zu haben meinen Van Hugo zu verkaufen und mit dem Flieger nach Sydney zur&uuml;ck zu kommen.</p>
<p>[caption id="attachment_1856" align="alignright" width="320"]<a href="http://sebastian301082.wordpress.com/2013/04/07/fluege-umbuchen-april-2013/rueckflug/" rel="attachment wp-att-1856"><img src="{{ site.url }}/assets/img/blog/auszeit/small/stepmap-karte-rueckflug-1371858.jpg" alt="Welkarte mit den markierungen bei Sydney, Dubai und Hamburg" width="320" height="320" class="size-full wp-image-1856" /></a> R&uuml;ckflug von Sydney &uuml;ber Dubai nach Hamburg[/caption]Auf den R&uuml;ckweg nach Deutschland habe ich mir dann noch einen Aufenthalt von 3 Tagen in Dubai eingeplant, damit ich nicht wieder 27 Std. und mehr am St&uuml;ck unterwegs sein werde. Dort wollte ich auch schon immer mal hin und dank dem kostenlosen 72 Std. Transfer-Visum f&uuml;r die Vereinigeten Arabischen Emirate, ist solch ein Kurztrip kein Problem.</p>
<p>Die Fl&uuml;ge von Sydney &uuml;ber Dubai nach Hamburg habe ich heute umgebucht. Mein genaues R&uuml;ckreisedatum werde ich hier aber noch nicht verraten, da mir einige meiner Freunde immer noch androhen das ich dummes Zeug tun muss, sobald ich wieder nach Hause komme.</p>
<p>Morgen f&auml;ngt der Praktische Teil meines Tauchkurses an. Dazu aber sp&auml;ter mehr.<br />
Jetzt mach ich erst einmal Feierabend.<br />
Bis bald</p>
