---
layout: blog/de/travel-blog
title: 04.06.2013 Anna Bay die Zweite
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Anna Bay
  - Newcastle
  - Sydney

overview:
  intro: "Heute stand nicht all zu viel auf unserem Plan. Nach Fr&uuml;hst&uuml;ck und Auschecken aus dem Hotel lie&szlig;en wir den Van stehen und fuhren noch einmal mit der F&auml;hre zum Circular Quay und gingen zu Fu&szlig; um die Oper. Wir machten dort unz&auml;hlige Fotos voneinander und miteinander."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1844.jpg
    alt: Am Ende der Stra&szlig;e liegt das kleine Hotel in dem wir &uuml;bernachtet haben. Ab heute pennen wir im Auto
---
<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center"
         src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1844.jpg"
         alt="Kleine kurze Stra&szlig;e den Berg rauf."
    />
  </div>
  <div class="col-md-7">
    <p>Heute stand nicht all zu viel auf unserem Plan. Nach Fr&uuml;hst&uuml;ck und Auschecken aus dem Hotel lie&szlig;en wir den Van stehen und fuhren noch einmal mit der F&auml;hre zum Circular Quay und gingen zu Fu&szlig; um die Oper. Wir machten dort unz&auml;hlige Fotos voneinander und miteinander.</p>
    <p>Mutti wurder sogar gebeten mit einer Asiatin vor der Harbour Bridge zu posieren. Danach l&ouml;sten wir noch schnell einen Gutschein bei Hungry Jack's (Burger King Austrlaien) ein und fuhren zur&uuml;ck zum Van, denn wir wollten ja heute noch bis nach Anna Bay fahren.</p>
    <p>Auf dem Weg nach Anna Bay hielten wir noch einmal kurz in Newcastle. Dort zeigte ich Muttern nur kurz wo ich h&auml;tte arbeiten k&ouml;nnen und die Jugendherberge in der ich damals geschlafen habe. Danach sa&szlig;en wir nur kurz an der K&uuml;ste auf einen kurzen Kaffee mit Blick aufs Meer.</p>
    <p>Eine weitere Stunde sp&auml;ter sind wir dann endlich auf dem Campingplatz angekommen. Leider mussten wir feststellen, dass der Platz immer noch leer und genauso gruselig ist, wie vor 4 Monaten als ich mit Steffi hier war. Wir machten uns dann im K&uuml;chengeb&auml;ude breit und kochten ein wenig. Naja Mutti kochte und ich r&auml;umte unsere K&uuml;chenutensilien auf und machte endlich mal wieder ein wenig Ordnung im und unterm Bett.</p>
    <p>Morgen wollen wir mal schauen, ob wir ein paar wild lebende Delphine und Koalas zu Gesicht bekommen und Einkaufen m&uuml;ssen wir f&uuml;r die n&auml;chsten Tage auch noch einmal. Mal schauen wie Muttern Ihre erste Nacht im Van und in der Wildnis eines Campingplatzes &uuml;bersteht. Ich werde auf jeden Fall berichten. ;)</p>
    <p>Bis morgen</p>
  </div>
</div>