---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 07.02.2013 &Auml;rger mit Vermieter
date: 2013-02-07 12:35:57.000000000 +01:00


categories:
  - de
  - Reiseblog
locations:
  - Katoomba
  - Sydney
overview:
  external_link: https://sebastian301082.wordpress.com/2013/02/07/07-02-2013-arger-mit-vermieter/
  intro: "F&uuml;r den heutigen Tag standen eigentlich nur 3 Punkte auf dem Zettel. 1. Wohnungs&uuml;bergabe 2. Einkaufen 3. Gem&uuml;tlich nach Katoomba fahren"
  image:
    url: /assets/img/blog/auszeit/small/20130310-173921.jpg
    alt: Dort haben wir unsere erste Nacht verbracht. Nat&uuml;rlich im Geb&auml;ude und nicht in dem Auto.
---
<p>F&uuml;r den heutigen Tag standen eigentlich nur 3 Punkte auf dem Zettel.<br />
1. Wohnungs&uuml;bergabe<br />
2. Einkaufen<br />
3. Gem&uuml;tlich nach Katoomba fahren<!--more--></p>
<p>[caption id="attachment_1070" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/02/07/07-02-2013-arger-mit-vermieter/20130310-173921-jpg/" rel="attachment wp-att-1070"><img src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-173921.jpg" alt="YHA Schild mit Auto davor." width="300" height="225" class="size-medium wp-image-1070" /></a> Dort haben wir unsere erste Nacht verbracht. Nat&uuml;rlich im Geb&auml;ude und nicht in dem Auto.[/caption]Leider wurde aus diesem Plan nichts. Wir waren wie geplant 15 Minuten vor dem Termin in der Wohnung und bereiteten alles auf unseren Umzug in meinen Van vor der hinterm Haus geparkt nur auf uns wartete. 30 Minuten vergingen. Eine Stunde verging und nichts passierte. Ziemlich sauer versuchte ich den Vermieter per Handy zu erreichen. Nat&uuml;rlich ging niemand ans Telefon. Nach weiterer, nerv raubender, Wartezeit reichte es mir endg&uuml;ltig und ich beschloss erst einmal mit Steffi einkaufen zu gehen. Nach einer weiteren Stunde rief mich dieser Heini endlich zur&uuml;ck und erz&auml;hlte mir, er w&auml;re da gewesen um Punkt 11 Uhr und niemand h&auml;tte ihm ge&ouml;ffnet. Ich h&auml;tte ihn w&uuml;rgen k&ouml;nnen f&uuml;r diese plumpe L&uuml;ge.</p>
<p>L&uuml;ge hin oder her, nun h&auml;tte er keine Zeit vorbei zu kommen. Wenn ich meine Kaution zur&uuml;ck bekommen will, muss ich zu ihm ins B&uuml;ro kommen und sie pers&ouml;nlich abholen.</p>
<p>[caption id="attachment_1088" align="alignright" width="300"]<img src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-175901.jpg" alt="Schild vorm Campingplatz mit Aufschrift: Katoomba Falls Caravan Park. Welcome" width="300" height="225" class="size-medium wp-image-1088" /> Der Campingplatz f&uuml;r die ersten N&auml;chte.[/caption]Ich sag euch. Ich war lange nicht mehr so sauer wie in dem Augenblick. Ich h&auml;tte ihn am liebsten durchs Telefon gezerrt. Sein B&uuml;ro war nat&uuml;rlich in der Innenstadt wo man nicht mit dem Auto gut hinkommt. Er versprach, mir sofort eine SMS mit seiner genauen Adresse zu schicken was er nat&uuml;rlich nicht Tat. Es verging eine weitere Std. Und brauchte zwei weitere Anrufe bis ich endlich die Adresse erhielt. Ic war schon kurz davor ihm mit der Polizei zu drohen.</p>
<p>Mit einer Versp&auml;tung von 4 Stunden sa&szlig;en wir endlich im Van und machten uns auf die 100 km lange fahrt nach Katoomba in die Blue Mountains. Diese dauerte fast 3 Stunden da wir die erste H&auml;lfte fast ausschlie&szlig;lich im Stau standen.</p>
<p>Auf dem Campngplatz angekommen r&auml;umten wir nur noch schnell unsere Lebensmittel in den K&uuml;hlschrank. Kochen mussten wir dann sogar schon im dunkeln. Wir genossen die Natur um uns herum bevor wir in unser fahrendes Bett stiegen und selig einschlummerten.</p>
<p>Nun endlich sollte unser Abenteuerurlaub richtig los gehen.</p>
