---
layout: blog/de/travel-blog
sitemap: false
headline_type: top
pagination:
  previous: true
  next: true
active_nav: travel-blog
title: 01.03. Adelaide Airport
date: 2013-03-01 00:51:54.000000000 +01:00

categories:
  - de
  - Reiseblog
locations:
  - Adelaide
overview:
  external_link: https://sebastian301082.wordpress.com/2013/03/01/01-03-adelaide-airport/
  intro: "Basti Heute morgen waren wir auch wieder ziemlich schnell auf der Stra&szlig;e da wir ja heute noch echt einige hundert km zu fahren hatten. In Adelaide wollten wir dann ja auch noch einiges erledigen und mussten ja auch noch einen freien Campingplatz f&uuml;r die Nacht finden. So denn mal los."
  image:
    url: /assets/img/blog/auszeit/small/20130718-095809.jpg
    alt: wer findet Hugo hier beim Strandcamping?
---
<p><strong>Basti</strong><br />
Heute morgen waren wir auch wieder ziemlich schnell auf der Stra&szlig;e da wir ja heute noch echt einige hundert km zu fahren hatten. In Adelaide wollten wir dann ja auch noch einiges erledigen und mussten ja auch noch einen freien Campingplatz f&uuml;r die Nacht finden. So denn mal los.</p>
<p><!--more--></p>
<p><strong>Steffi</strong></p>
<p>[caption id="attachment_1658" align="alignleft" width="300"]<a href="http://sebastian301082.wordpress.com/2013/03/01/01-03-adelaide-airport/20130718-095809-jpg/" rel="attachment wp-att-1658"><img class="size-medium wp-image-1658" alt="wer findet Hugo hier beim Strandcamping?" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-095809.jpg" width="300" height="225" /></a> wer findet Hugo hier beim Strandcamping?[/caption]</p>
<p>Die Fahrt sollte uns, vorbei an vielen sch&ouml;nen Weingebieten, in den S&uuml;den von Adelaide f&uuml;hren. Dort landeten wir auf einem schicken Campingplatz direkt am Meer. Bevor wir dort allerdings aufschlugen, sind wir zum Flughafen gefahren, um dort die Mietwagenfirma aufzusuchen. Gesagt, getan und dann auch f&uuml;r nicht wenig Geld einen Mietwagen, welchen wir uns schon vorher im Internet auserkoren hatten, gebucht. Noch schnell geschaut, wo wir am n&auml;chsten Tag hinm&uuml;ssen, wo wir am besten Parken und wieder los. Da ein gro&szlig;es schwedisches M&ouml;belhaus direkt neben dem Flughafen lag, sind wir kurzerhand dort hinein, um einfach mal durch die G&auml;nge zu schm&ouml;kern und um den Fl&uuml;ssigkeitshaushalt sowie den Magen aufzuf&uuml;llen. Auf dem Campingplatz angekommen haben wir dann die Buchungen f&uuml;r die Unterk&uuml;nftige in Alice Springs und Yulara erledigt, um dann den Abend bei einem schicken Sonnenuntergang am Strand ausklingen lassen. Allerdings nicht, ohne den einen oder anderen Gedanken an unsere verr&uuml;ckte &Uuml;berlegung sowie die dazugeh&ouml;rige Umsetzung zu t&auml;tigen!</p>
<p>[caption id="attachment_1660" align="alignright" width="300"]<a href="http://sebastian301082.wordpress.com/2013/03/01/01-03-adelaide-airport/20130718-100019-jpg/" rel="attachment wp-att-1660"><img class="size-medium wp-image-1660" alt="wo sind all die Ind.. ach nee.. Leute hin??" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-100019.jpg" width="300" height="225" /></a> wo sind all die Ind.. ach nee.. Leute hin??[/caption]</p>
<p><em>Aber warum eigentlich verr&uuml;ckt?</em><br />
Wann hat man schon einmal die Gelegenheit, so was zu erleben? Basti hatte eh vor dort langzufahren und somit f&auml;llt dieser weite „Umweg“ f&uuml;r Ihn sp&auml;ter weg und er muss nicht alleine durchs Outback fahren… und ich kriege meinen roten Sand sowie den - es ist doch nur ein „Berg“- zusehen! (jaja, es ist eigentlich ein Stein…ich wei&szlig;!!!)</p>
<p>Wir hatten bis dahin knapp 3900 km in 24 Tagen hinter uns, da fallen die zus&auml;tzlichen 1100 km zzgl. der Fl&uuml;ge ins Rote Zentrum und zur&uuml;ck auch nicht mehr auf. Man lebt schlie&szlig;lich nur einmal und wie hei&szlig;t es so sch&ouml;n</p>
<p><em>die spontanen Ideen, sind doch die Besten.</em></p>
<p>Wieder zur&uuml;ck am Auto hie&szlig; es dann endlich mal „Koffer packen“, dieses hatten wir n&auml;mlich bis zum letzten Punkt irgendwie hinausgez&ouml;gert, das Wetter war einfach zu sch&ouml;n, und das Essen war auch noch nicht gemacht. Somit fing ich an, Sachen f&uuml;r die 3 Tage zusammen zusuchen und Basti stellte alles auf, damit wir uns dann auch ans Kochen machen konnten… dunkel wurde es ja nun auch langsam!</p>
<p>[caption id="attachment_1659" align="alignleft" width="225"]<a href="http://sebastian301082.wordpress.com/2013/03/01/01-03-adelaide-airport/20130718-095931-jpg/" rel="attachment wp-att-1659"><img class="size-medium wp-image-1659" alt="malerischer Sonnenuntergang in Adelaide" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-095931.jpg" width="225" height="300" /></a> malerischer Sonnenuntergang in Adelaide[/caption]</p>
<p>Nachdem grundlegend alles zusammen gesucht war, starteten wir das kochen… dieses sollte schnell gehen, denn es gab Asiatische Nudeln, welche bekannterma&szlig;en nach 4 min. fertig sind.<br />
Zwischenzeitlich hatten sich bei mir schon Kopfschmerzen eingeschlichen und kurz nach dem Essen ging es mir einfach nur noch schlecht. Im Kopf brummte es gewaltig, mir war spei&uuml;bel und ich brauchte nicht einmal in den Himmel schauen, um Sterne zu sehen.</p>
<p>Leider musste ich ab dem Punkt Basti alles alleine &uuml;berlassen… vom Koffer packen, &uuml;ber Abwaschen, Tisch abbauen etc., aber ich konnte beim besten Willen nicht geradeaus schauen, geschweige denn, mich auf den Beinen halten. So habe ich mir den Start in einen spontanen Trip aber nicht vorgestellt.</p>
<p>Nachdem Basti alles gepackt und zusammen ger&auml;umt hatte, hie&szlig; es dann langsam Richtung Waschr&auml;ume bewegen… bewegen?!... denkbar ung&uuml;nstige Idee, aber notwendig! Dank Basti bin ich dort auch heil hin- und auch wieder zur&uuml;ckgekommen und dann ging es ab in die Falle, in der gro&szlig;en Hoffnung, dass es am n&auml;chsten Tag Fit und Gesund Richtung Alice Springs geht.</p>
<p>Gute Nacht</p>
