---
layout: blog/de/travel-blog
title: "Tipps Tipps Tipps"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2017-asia-oz

locations:
  - Australien
  - Bundaberg

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170507-banner.jpg
    alt: "Der Markt in Bundaberg auf dem Gel&auml;nde einer Schule"

overview:
  intro: "Diesmal f&uuml;hrte uns der Highway nach Bundaberg."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170507-11.jpg
    alt: "Eine ziemlich verdreckte K&uuml;che"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
        <p>
			An der &ouml;rtlichen Touriinfo trafen wir auf Jamie, der superfreundlich war und zudem noch unz&auml;hlige Tipps f&uuml;r unsere weitere Strecke auspackte.
			Diese malte er sogar f&uuml;r uns in einer Karte ein.
			Leider hatte auch er keine guten Nachrichten, was das Wetter und vor allem den Wind angeht. 
			Der Wind wird einige weitere Tage zu stark bleiben, um tauchen oder schnorcheln zu gehen.
		</p>
		<p>
			Wir machten uns trotzdem gl&uuml;cklich und ein wenig mit Hoffnung bepackt wenigstens K&auml;ngurus zu sehen, auf den Weg zum Campingplatz f&uuml;r die Nacht.
		</p>
		<p>
			Dieser war leider gar nicht so einladend, aber f&uuml;r eine Nacht sollte es reichen.
			Der Platz war voll mit Arbeitern, Hippies und anderen Konsorten, welche so verpeilt waren, dass Sie es nicht einmal hinbekamen, den Herd samt Ofen auszumachen. 
			Zudem war die Campingk&uuml;che recht versifft und der Platz ebenfalls recht renovierungsbed&uuml;rftig.
			Soviel zu den Slogan "... stay with Friends"
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
