---
layout: blog/de/travel-blog
title: "verdammte Luftfeuchtigkeit"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2017-asia-oz

locations:
  - Singapur
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170602-banner.jpg
    alt: "Die Aussicht vom und &uuml;berm Marina Bay Sands"

overview:
  intro: "Kaum aus dem Hotel raus, haute schon jemand mit der Keule auf uns ein"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170602-14.jpg
    alt: "Die teueren Drinks der ersten Runde. &uuml;ber 20 Euro f&uuml;r ein Bier uns einen Saft"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}... verdammt ist das hei&szlig; und dann noch diese Luftfeuchtigkeit. Das kann ja lustig werden!
		</p>
		<p>
            Einen Plan hatten wir von Singapur nicht wirklich und so gingen wir erst einmal zu Fu&szlig; Richtung Marina Bay Sands (MBS), dem Touristenmagnet.
            Es ist ein Hotelkomplex, welcher aus drei 200m hohen Hochh&auml;usern besteht, die am oberen Ende durch eine mehrere hundert Meter lange Aussichtsplatform verbunden sind.
            Diese hat die Form eines Schiffs und ist mit Restaurants, Bars und einem weit &uuml;ber 100m langen Infinity Pool ausgestattet. Siehe oben!
        </p>
        <p>
            Da wir im Hotel kein Fr&uuml;hst&uuml;ck haben, hielten wir auf dem Weg bei den Locals Ausschau.
            Leider ist das hier anscheinend nicht wie in Hongkong mit den leckeren Br&ouml;tchen.
            Hier starten sie gleich mit Nudeln, Reis und Co., somit abgepackte "Rosinenbr&ouml;tchen" am Kiosk gekauft und weiter.
            Wir beschlossen irgendwann die Hauptstra&szlig;e zu verlassen und landeten in einem Park, der laut App auch irgendwo in unsere Richtung enden m&uuml;sste.
            Nach einer Weile entdeckten wir dann div. Partyzelte und wir &uuml;berlegten, was wir denn diesmal wieder erleben w&uuml;rden.
            Kurz darauf liefen wir dann auf einmal auf einer Rennstrecke... wie was... Moment mal... wir laufen grad auf der Formel 1 Rennstrecke und leider bauen die nicht auf, sondern ab.
            Mist verpasst!!!
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Dann landeten wir bei den Fahrerboxen und passierten auch schon die Ziellinie.
            Nat&uuml;rlich nicht, ohne ein obligatorisches Foto!
            Die Fahrbahn war noch voller Gummiteile der Reifen... der Reinigungstrupp fehlt also noch!
            Nach gef&uuml;hlt einer weiteren Ewigkeit in der W&auml;rme kamen wir dann am Marina Sands Shopping Center an.
            Gott war die Klimaanlage ein Segen, hier gehen wir erst einmal nicht mehr raus.
        </p>
        <p>
            Das Center erstrecke sich &uuml;ber viele Etagen inkl. Food Court im Erdgeschoss.
            Diesen steuerten wir als erstes an und g&ouml;nnten uns jeder einen frisch gepressten Saft.
            Beim runterk&uuml;hlen sagte uns die Uhrzeit auch schon, dass auf einmal Mittagszeit ist und so suchten wir uns dort gleich noch etwas zu essen aus.
            Basti entschied sich f&uuml;r Dims Sums (Chinesische Art der Maultaschen) mit verschiedenen F&uuml;llungen, w&auml;hrend ich mir Reisnudeln mit Gem&uuml;se und H&auml;hnchen bestellte.
            Ich hoffe zumindest, dass es das war, denn die beigestellt "Suppe" stank ganz f&uuml;rchterlich... nach Hund!
            Ja Vorurteil und so... aber es stimmt wirklich.
            Anders ist dieser widerw&auml;rtige Geruch nicht zu beschreiben gewesen und das sagte nicht nur meine Nase, sondern Basti's auch.
            Die Sch&uuml;ssel ging ganz fix an die andere Seite vom Tisch und dann ging es vorsichtig an die Hauptspeise ran.
            War ok, aber ich war so schnell satt, dass die H&auml;lfte auf dem Teller blieb.
            Sch&auml;tze, das Kopfkino war zu laut und hat mir einfach den Hunger verdorben.
            Naja zumindest hab ich nun schon richtig gute &Uuml;bung, um mit St&auml;bchen zu essen.
        </p>
        <p>
            Wir schlichen noch eine Weile im Center und in einem Casino herum, bis wir am Skypark des MBS ankamen.
            Diese wollten allerdings 23 $ pro Person haben und so entschieden wir, dass wir lieber zur Skybar gehen.
            Hier zahlt man zwar auch 20 $ pro Nase um hochzukommen, aber dieser Betrag wir umgewandelt in Getr&auml;nke oder Sonstiges.
            Oben angekommen bot sich eine super Aussicht auf den Pool sowie &uuml;ber die Skyline der Stadt.
            Leider war der Pool f&uuml;r uns unerreichbaren, da er ausschlie&szlig;lich den Hotelg&auml;sten vorbehalten ist und wir einfach zu geizig sind &uuml;m die &uuml;ber 400 Euro pro Nacht zu zahlen.
            In die andere Richtung gab es einen super Ausblick &uuml;ber den Gardens of the Bay sowie die gef&uuml;hlt 1000 Containerschiffe im Hafen.
            Wir pflanzten uns gem&uuml;tlich aufs Sofa unter Sonnenschirm und Ventilator, bestellten die ersten Drinks und zahlten schon mal drauf, trotz Gutschein.
            F&uuml;r ein Bier und ein Saft wollen die dort 31 Sigapur Dollar (ca. 20 Euro) haben.
            Aber gut, die Aussicht gibt es halt auch nicht ganz umsonst.
            Zumindest gab es Leitungswasser sowie eine Schale Chips dazu.
            Tja und da sa&szlig;en wir nun f&uuml;r Stunden und bewegten uns nicht mehr... der Sonnenuntergang kam, es wurde immer voller und wir blockierten das Sofa.
            Die deutschen wieder...
        </p>
        <p>
            Irgendwann beschlossen wir aber wirklich zu gehen und haben uns vor das MBS gesetzt, denn dort sollte in k&uuml;rze die Wasser-/ Lasershow starten.
            Die war auch ganz schick gemacht, aber wo waren die Laser?
            Nachdem die Show vorbei war, gingen wir noch um das Hafenbecken rum, machten div. Bilder vom Marina Bay Sands komplex, bis wir uns ein Taxi suchten, welches uns zum Hotel bringen sollte.
            Der Fahrer... der war schon einen Nummer f&uuml;r sich, aber vor allem war er laaaauuuut.
            Der hat sich so derma&szlig;en &uuml;ber Dinge gefreut, dass es glatt auf seine Stimmlage ging.
        </p>
        <p>
            Im Zimmer angekommen, hie&szlig; es erst einmal duschen und alles unter Wasser setzen.
            Schon komisch so ohne extra Duschkabine, Vorhang oder sonstiges zu duschen, aber vor allem nervig.
            Alles ist danach nass und nirgends kann man etwas hinlegen... ok, f&uuml;r die paar Tage wird das schon gehen!!!
        </p>
        <p>
            Das war ein verdammt langer Tag, wir haben eigentlich nicht viel gesehen oder gemacht, aber nun hie&szlig; es erst einmal gute Nacht Singapur.
        </p>
    </div>
</div>
<!--=== End Post ===-->
