---
layout: blog/de/travel-blog
title: "Packende G&auml;rten"
author: "Steffi"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2017-asia-oz

locations:
  - Australien
  - Sydney
  - Darling Harbour
  - Circular Quay

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170531-banner.jpg
    alt: "Eine weitere Lichtinstallation des VIVID 2017 in Sydney"

overview:
  intro: "Heute fr&uuml;h hie&szlig; es erst einmal packen."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170531-10.jpg
    alt: "Sebastian Tho&szlig; auf der Suche nach den Toiletten in der Sydney Oper"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
		<p>
			Unsere Rucks&auml;cke mussten wieder gef&uuml;llt werden und das stellte sich als ziemliche Herausforderung dar.
            Dieses viele einkaufen ist nicht f&ouml;rderlich f&uuml;r den eh schon vorhandenen Platzmangel. Mit kurzer oder auch l&auml;ngerer Unterbrechung um fr&uuml;hst&uuml;cken zu gehen, waren wir zur Mittagszeit endlich fertig mit packen und machten uns auf den Weg in die Innenstadt. Wir schlenderten die George Street hinauf und ich musste irgendwann mal Pipi. Also ins n&auml;chste Shoppingcenter und anschlie&szlig;end in einem Laden mit Klamotten gelandet, welcher ziemlich g&uuml;nstige Preise f&uuml;r Sachen mit Merenowolle anbot. Basti wurde ziemlich schnell f&uuml;ndig und musste nun noch 2 weitere Hosen im Rucksack unterbringen.
		</p>
		<p>
			Nicht ganz eine Runde um den Block und im n&auml;chsten Laden gelandet... Basti braucht mal neue Schuhe, da seine alten anfingen einem Golfplatz zu &auml;hneln!
			Wir sind tats&auml;chlich f&uuml;ndig geworden und das sogar zu einem guten Preis unter 40$.
		</p>
		<p>
			Da wir bis 18h noch etwas Zeit hatten, beschlossen wir nochmal ins Sealife Center zu gehen. Hier ging es mehr oder weniger z&uuml;gig durch, bevor wir nochmal fix zum HRC gingen, um doch noch das Hemd f&uuml;r Basti sowie ein Glas f&uuml;r meinen Kollegen zu besorgen.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
		</p>
		<p>
			Dann hie&szlig; es endlich Geburtstagsessen beim Brasilianer nachholen.
            Es gab eine gro&szlig;e Auswahl an div. Fleischvarianten und als Beilage konnte man sich immer kleine Sch&auml;lchen verschiedener Dinge (Salat, Polentafritten, etc.) bestellen. Leider hatte das Fleisch diesmal (laut Basti war es das letzte mal besser) keine so gute Qualit&auml;t. Es war doch sehr viel Fett und vor allem viele Sehnen vorhanden... damit komme ich ja gar nicht klar!!!
		</p>
		<p>
			Nachdem wir uns noch ein Nachtisch teilten, ging es anschlie&szlig;end zur F&auml;hre, um in Richtung Circular Quay zu fahren.
            Denn wir waren nun schon fast 1 Woche in Sydney ohne einmal direkt bei der Oper gewesen zu sein. In der Oper ging es obligatorisch wieder auf Klo, bis wir weiter Richtung botanischen Garten schlenderten. Hier waren einige echt sch&ouml;ne Dinge zu entdecken. Unter anderem war doch ein angestrahlter Baum, wo davor ein "do NOT press" Button stand. Klar h&auml;lt man sich daran nicht, also dr&uuml;cken und teils sch&ouml;ne (wenn man Gl&uuml;ck hatte) oder erschreckende (Pech eben) Animationen gezeigt bekommen. Pech, zeigt sich zB. darin, dass der Baum gef&auml;llt oder abgebrannt wird. Gl&uuml;ck wenn dieser in diversen Farben erstrahlt. Ein St&uuml;ck weiter gab es dann "blow". Hier musste man recht kr&auml;ftig pusten, um das ganze animiert zu erleben, denn nur so erstrahlten die Pusteblumen.
		</p>
		<p>
			Nun war es doch wieder sp&auml;ter als gedacht und wir machten uns auf den Weg zur Unterkunft.
		</p>
    </div>
</div>
<!--=== End Post ===-->
