---
layout: blog/de/travel-blog
title: "Ade Australien"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Australien
  - Sydney
  - Singapur
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170601-banner.jpg
    alt: "Sonnenuntergang in allen Farben des Regenbogens"

overview:
  intro: "Heute war es dann leider wieder einmal so weit."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170601-10.jpg
    alt: "Die Saltzseen auf dem Weg &uuml;ber den australischen Kontinent"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			 Ich muss, mal wieder, aus diesem Land raus ohne zu wissen ob und wann ich wieder herkommen werde. Das dr&uuml;ckte ganz sch&ouml;n auf die Stimmung auf dem Weg zum Flieger. Bei der Sitzplatzwahl hatten wir mal wieder Gl&uuml;ck und bekamen wieder einen zweier Sitz ganz am Ende des Fliegers.
		</p>
		<p>
			Nach ca. 2,5 Std. Flugzeit machte der Flieger eine unmerklichen Schlenker nach links, ging etwas tiefer und wurde etwas langsamer. 
			Der Grund daf&uuml;r war der Uluru auch Ayers Rock genannt.
			Wir flogen in perfekten Abstand vorbei um Fotos von dem 863 Meter hohen Stein zu machen. Eine Flugbegleiterin, machte scheinbar f&uuml;r alle Kollegen Fotos mit den Handys.
		</p>
		<p>
			Das war noch einmal ein beeindruckender i Tupferl zum Abschluss unserer Zeit hier in Australien. Nach insgesamt fast 6 Std. Flugzeit kam dann im Sonnenuntergang die Nordwestliche K&uuml;ste Australiens (in der N&auml;he von Broome) in Sicht. Das hie&szlig; nun endg&uuml;ltig Abschied. Doof. Es waren noch einmal 6 interessant Stunden gewesen. Es gab wirklich viel von dort oben zu sehen. Vor allem die vielen verschiedenen Formationen der H&uuml;gel und Berge sind der absolute Wahnsinn genau so wie die riesigen Saltzseen die wir &uuml;berflogen hatten. Naja, auf Wiedersehen OZ. Hoffentlich!!!!
		</p>
		<p>
			Weitere 2 Stunden sp&auml;ter landeten wir in Singapur. Wir g&ouml;nnten uns auch hier wieder ein Taxi bis zum Hotel und der Taxifahrer erkl&auml;rte uns, wie einige Sachen hier in Singapur organisiert sind und was wir alles sehen m&uuml;ssen.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Da wir genudelt vom Flug waren, beschlossen wir nicht um die Blocks zu ziehen sondern lieber mal fr&uuml;h schlafen zu gehen. Bis morgen.
		</p>
    </div>
</div>
<!--=== End Post ===-->
