---
layout: blog/de/travel-blog
title: "Welcome to China"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Cairns
  - Green Island
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170523-banner.jpg
    alt: "Green Island"

overview:
  intro: "Gestern haben wir eigentlich nicht viel angestellt."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170523-10.jpg
    alt: "Chinesen am Strand"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			Ich hab mich um den Blog und die vielen Fotos gek&uuml;mmert. Steffi hat Finanzen gecheckt und sich um unseren Proviant gek&uuml;mmert. Danach beschlossen wir einfach in den Pool zu h&uuml;pfen und den Rest des Tages die Sonne zu genie&szlig;en. Abends beschlossen wir noch, dass wir heute nach Green Island fahren.
		</p>
		<p>
			Heute morgen machten wir uns also wieder auf den Weg zum Hafen. Als wir am Schiff ankamen, waren wir sehr schnell von Asiaten umzingelt. Der Captain begr&uuml;&szlig;te uns dann auch noch mit den Worten "welcome to china". Na super dachten wir nur und leider sollte sich das best&auml;tigen.
		</p>
		<p>
			Auf der nur 600m langen Insel tummelten sich ca. 1000 Chinesen. Viel zu viel f&uuml;r diese sch&ouml;ne kleine Oase. Als erstes meldeten wir mich zu einem Bootstauchgang an und beschlossen spontan Steffi zum Schnorcheln mit raus zu nehmen. Das war die richtige Entscheidung, denn als wir wenige Minuten sp&auml;ter an den Strand kamen mussten wir feststellen, dass Ebbe ist und somit das Wasser viel zu flach, um von Strand aus Schnorcheln zu gehen.
		</p>
		<p>
			Wir beschlossen dann lieber eine Kleinigkeit essen zu gehen, bevor es dann endlich mit dem Boot die 700m zum Tauchplatz raus ging. 
			Es war ein sehr flacher Tauchgang mit einer maximalen Tiefe von nur 3,6m aber das war mehr als in Ordnung. 
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Wir tauchten mehrfach gem&uuml;tlich um eine Koralleninsel und trafen dabei auf viele kleine und gro&szlig;e Fische sowie 3 Schildkr&ouml;ten und einigen Riesenmuscheln. Da die Sichtweite nur so 3 bis 5 Meter war, hatte Steffi an der Oberfl&auml;che nicht ganz so viel Spa&szlig;. Viel bekam sie nicht zu sehen. Ich glaube das gr&ouml;&szlig;te was sie mehrfach zu sehen bekam, war ihr tauchender Hase, mich!
		</p>
		<p>
			Auf dem R&uuml;ckweg nach Cairns, waren wir beide irgendwie entt&auml;uscht von dem Tagesausflug. Ich beschloss daher, dass dieser Kurztrip nach China nicht als Abschluss f&uuml;r unsere Zeit beim Great Barrier Reef in Erinnerung bleiben soll. Sofort als wir in Cairns ankamen suchten wir einen Touristenshop der Infos &uuml;ber Franklands Islands hat. Nach kurzer &Uuml;berlegung buchten wir f&uuml;r morgen einen weiteren Tagestrip raus aufs Riff. Diesmal in dem Wissen, dass auf dieser Insel nur 100 Personen pro Tag zugelassen sind. Hoffentlich ist das Schiff nicht voll.
		</p>
		<p>
			Dazu aber morgen mehr.
		</p>
    </div>
</div>
<!--=== End Post ===-->
