---
layout: blog/de/travel-blog
title: Victoria Peak
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Hong Kong

overview:
  intro: "Heute war eigentlich unser Plan mit einer Straßenbahn den Victoria Peak hoch zu fahren."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170501-14.jpg
    alt: "Das Luxus Softeis in Hong Kong"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
		<p>
			Wir wollten uns dort Hong Kong von oben anschauen.
			Als wir aber die Menschmassen vor dem Ticketoffice sahen, beschlossen wir dann doch lieber in den Hong Kong Park zu gehen und einfach ein wenig zwischen den Hochh&auml;usern herum zu spazieren.
			Was uns wunderte war, dass zwichen den Hochh&auml;usern &uuml;nerall Menschen auf dem Boden saßen.
			Es sah aus, als w&uuml;rden die alle auf was warten.
			Nachdem wir aber einige Blocks weit gelaufen waren und immer noch &uuml;berall Menschen rumsaßen, wollten wir es genauer wissen.
		</p>
		<p>
			Wir fragten einen Wachmann, zwei Polizisten und eine Dame in einer Touristeninfo, bevor wir wirklich verstanden und glaubten was uns erz&auml;hlt wurde.
			In Hong Kong ist der 1. Mai auch ein Feiertag. Da die B&uuml;ros alle geschlossen sind, setzen sich die Menschen einfach mit Pappe und co. bewaffnet vor den B&uuml;ros auf die Straße und treffen sich dort mit Freunden auf einen Plausch.
			Andere Kulturen, andere Sitten.
		</p>
		<p>
			Den Rest des Tages tr&ouml;delten wir durch die Stadt und landeten am Ende in einer Eisdiele, wo wir uns ein v&ouml;llig &uuml;berteuertes Softeis leisteten.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
