---
layout: blog/de/travel-blog
title: "andere Welten"
active_nav: travel-blog
author: "Steffi &amp; Sebastian"
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Cairns
  - Moore Reef
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170521-banner.jpg
    alt: "Fischies am Pontoon"

overview:
  intro: "Heute schreiben wir mal beide zusammen. Steffi macht den Anfang:"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170521-12.jpg
    alt: "Eine Clownfisch Familie am Moore Reef"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			<strong><em>{{ page.overview.intro|raw }}</em></strong>	
		</p>
		<p>
			Um 8h kamen wir wieder am Terminal an, um p&uuml;nktlich bei Sunlovers einzuchecken und die Kohle f&uuml;r diesen Tripp raus aufs Great Barrier Reef loszuwerden.
			Auf Nachfrage hin, erz&auml;hlte uns der Herr dann auch, dass es eine ruhige Tour wird, da nicht einmal 90 Personen mitfuhren.
		</p>
		<p>
			Um 8.45h sollte es zum boarden gehen, also schon einmal "Travacalm" genommen, noch ein wenig Zeit im &ouml;rtlichen Shop vertr&ouml;delt und dann ging es zum Boot, welches Platz f&uuml;r mindestens 300 Personen bietet (gruselig die Vorstellung).
		</p>
		<p>
			Basti hatte sich erinnert, dass es einem am Oberdeck besser ging, also suchten wir uns dort eine Ecke. 
			Der kurze Rundgang durch das Boot zeigte "Jap, 3/4 Asiaten, dazu Inder und wir". 
			Alle waren sie schon flei&szlig;ig am Tee trinken und Chips etc. futtern... und das um die Zeit... vor einer Wellenreise!!!
			Basti meldete sich gleich beim betreten des Boots zum tauchen an und kam ziemlich angepisst wieder.
			Ihm wurde gesagt, dass es wohl nur 1 Tauchgang geben wird.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Die Fahrt ging p&uuml;nktlich los, es folgten ziemlich schnell b&ouml;se Wellen und zur Ablenkung gab es erst einmal die Schnorcheleinweisung in extra lustig. Als diese dann vorbei war, sah man bereits die ersten gr&uuml;nen Gesichter und dann ging es los! Wir haben uns ganz schnell unsere Kopfh&ouml;rer geschnappt, laaaaut Musik aufgedreht und aufs Meer gestarrt, um ja nichts von den anderen mitzubekommen. Der Wellengang war schon extrem b&ouml;se, aber diese Travacalm sind ziemlich gut. Ich hab gar nichts gemerkt, nur Basti f&uuml;hlte sich ein wenig wie in der Achterbahn. Aber gut ging es ihm trotzdem!
		</p>
		<p>
			Mit Zwischenstopp auf Fitzroy Island, ging es dann zur zweiten Etappe Richtung Ponton im "Moore Reef". Die Wellen wurden gef&uuml;hlt schlimmer, aber als wir das Ziel erreichten, war alles gut. Das Ponton stellte sich als sehr stabil in den Wellen heraus "jippie" und dann ging alles auch ganz fix. Basti musste sofort zum tauchen und ich machte mich zum Schnorcheln fertig. Alle anderen sa&szlig;en noch rum und versuchten ihren Magen zu beruhigen. Ich beschloss es ohne Neoprenanzug bzw. Quallenschutz auszuprobieren und ging Richtung Einstieg. Der Lifeguard sabbelte mir gleich freudestrahlend ein Ohr ab "jaaa du bist die erste, genie&szlig;e es" etc. und ich kl&auml;rte noch einmal die Wassertemperatur  Zitat "26 degrees and just the First Contact is freeeeesh". Hm ok... Stufen hinunter, das erste Bein im Wasser und fu... war das frisch. Aber recht hat er gehabt... man gew&ouml;hnte sich sofort daran. Viel Zeit zum dr&uuml;ber nachdenken hatte ich allerdings nicht, denn mir hat leider keiner gesagt, dass wenn man der Erste ist, die Fische mit einem einen heidenspass haben. Die silber-gelben Fischis sind sofort auf mich zu und haben gecheckt, ob da nicht was zu holen ist. Ganz sch&ouml;n aufdringlich so ein gro&szlig;er Schwarm.
		</p>
		<p>
			Flossen an die F&uuml;&szlig;e gepackt und ins Wasser gleiten lassen... ui friiiisch und vieeeeel Fisch. Ich war nicht einmal ganz unter Wasser, da glitten schon zich verschiedene Fischarten, in vielen verschiedenen Farben unter und neben mir vorbei. Die Wellen waren schon ziemlich l&auml;stig, aber durch die Schnorchelweste, ging das ganz gut zu meistern. So musste ich mich wenigstens nicht aufs oben bleiben konzentrieren etc., sondern konnte ganz die bunte Unterwasserwelt geniessen. Und... ich hab Nemo gefunden, samt Geschwister!!! Knapp 1 Std. Sp&auml;ter brauchte ich dringend was zu trinken und hab mich Richtung Ponton bewegt. Dort traf ich auch wieder auf Basti, der ziemlich happy war. Zudem stand nun doch noch ein 2. Tauchgang in Aussicht. (ein wenig rumst&auml;nkern hilft manchmal)
		</p>
		<p>
			Ich berichtete ihm kurz von meinen Erlebnissen, und das ich Nemo gefunden hatte und er beschloss, seine Pause mit mir im Wasser zu verbringen. Also wieder rein und Nemo's zu Hause nochmal im wirklich gro&szlig;em Schnorchelgebiet gesucht und gefunden!
		</p>
		<p>
			<strong><em>Ab hier schreibe ich mal weiter.</em></strong>
		</p>
		<p>
			Nachdem Steffi mir einen Seestern gezeigt hatte und die Clownfish Familie, machte ich mich auf zu meinem zweiten Tauchgang. Dieses Mal sollte es ein cooler drift Tauchgang werden. Der Plan war, mein Guide und ich werden mit dem Boot etwas abseits vom Ponton abgesetzt und die Str&ouml;mung bringt uns wieder zur&uuml;ck. Irgendwie hat leider nur niemand mit einer Gegenstr&ouml;mung gerechnet. Wir mussten also erst einmal 18 Minuten gegen die Str&ouml;mung anschwimmen, was fast 3/4 meines Luftvorrats verbraucht hat. Da an der Oberfl&auml;che weniger Str&ouml;mung herrschte beschlossen wir, erst einmal aus der Str&ouml;mung zu Schnorcheln und uns die restliche Luft f&uuml;r den sch&ouml;neren Teil aufzuheben. Nach weiteren 5 Minuten hatten wir dann die richtige Str&ouml;mungsrichtung gefunden und tauchten wieder ab. Da ich nur noch recht wenig Luft &uuml;brig hatte, beschloss ich auf nur 2m Tiefe zu bleiben um weniger zu verbrauchen. Mit nur noch 19 Bar Restdruck (ca. 3 bis 5 Minuten Tauchzeit) kamen wir wieder am Ponton an. War ein echt anstrengender Tauchgang, aber gut war es trotzdem.
		</p>
		<p>
			Kurze Zeit sp&auml;ter gingen wir alle wieder zur&uuml;ck an Board des Schiffes und fuhren schon wieder zur&uuml;ck nach Cairns. Auch auf dem R&uuml;ckweg hatten wir Dank Travacalms keine Probleme mit Seekrankheit.
		</p>
		<p>
			Abends gingen wir noch ein wenig in Cairns spazieren. Da wir ja beim Ausflug nicht zum Essen kamen, beschlossen wir heute mal Japanisch (kein Sushi) essen zu gehen. War Mega lecker und genug um davon morgen noch einmal Mittag zu machen. Auf dem Weg zur&uuml;ck zum Auto h&ouml;rten wir auf einmal Irische Volksmusik. Dieser gingen wir noch nach und endeten f&uuml;r einen letzten Drink in einem s&uuml;&szlig;en kleinen irischen Pub. Danach ging es aber definitiv ab zur&uuml;ck auf dem Campingplatz und ins Bett.
		</p>
    </div>
</div>
<!--=== End Post ===-->
