---
layout: blog/de/travel-blog
title: Ankunft in Hong Kong
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Hong Kong
  - London
  - Hamburg

overview:
  intro: "Wie Ihr ja wisst, ist unser erstes Reiseziel Hong Kong."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170429-03.jpg
    alt: "Ein ziemlich dreckiger A380 von British Airways"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">

        <p>
            {{ page.overview.intro|raw }}
			Der Weg dorthin f&uuml;hrte &uuml;ber London.
			Dort stiegen wir in einen ziemlich schmutzigen und beengten A380 der Bristish Airways.
			Fast 20 Std. nach unserem Abflug in Hamburg erreichten wir dann endlich die Jugendherberge in Hong Kong.
		</p>
        <p>
            Komplett im Eimer, machten wir uns trotzdem auf den Weg in Richtung Hard Rock Cafe.
			Auf dem Weg dorthin, kreuzten wir noch einen Nachtmarkt und nutzten die Chance zum Bummeln.
			Kurz darauf landeten wir in einer Markthalle, in der Seafood verkauft wurde. 
			Also alles was am oder im Wasser lebt, gibt es dort zu kaufen.
			LEBT, ist das Stichwort. 
			Denn so ziemlich alles was wir dort sahen, lebte noch oder zumindest halbwegs. 
			Neben Fischen, Krabben und Garnelen, gab es dort auch Wasserschlagen, Schildkr&ouml;ten und Fr&ouml;sche zu kaufen.
			Trotz das alles extrem versifft aussah und &uuml;berall Fischreste auf dem Boden lagen, roch es nicht einmal nach Fisch.
            Nach dem Kulturschock und vergangenem Hunger, machten wir uns auf ins Hard Rock Cafe.
			Dort gab es sogar noch Steffi's Lieblingsgericht, den Haystack Salad.
			Danach ging es ab ins Bett. Endlich schlafen!
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
