---
layout: blog/de/travel-blog
title: "Burger statt BBQ"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2017-asia-oz

locations:
  - Australien
  - Bundaberg
  - Rockhampton
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170508-banner.jpg
    alt: "Weite Felder und wilde W&auml;lder"

overview:
  intro: "Morgens ging es noch fix in den Stadtkern, wo die schicke Post als zentraler Punkt gilt"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170508-12.jpg
    alt: "Die Post von Bundaberg"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}, um ein paar Karten an die lieben zu Hause zu senden. 
		</p>
		<p>
			Danach ging es an den von Jamie empfohlenen Ort, wo es sonst K&auml;ngurus und Co. geben soll.
			Da es hierf&uuml;r aber schon zu sp&auml;t am Tag war, spazierten wir das Areal bis zum Strand ab, entdeckten w&auml;hrenddessen div. Schmetterlinge, welche wundersch&ouml;n aussahen, aber uns leider nicht den Gefallen getan haben, sich hinzusetzen.
		</p>
        <p>
			Der Strand an dem wir landeten, nennt sich Mon Repos.
			Dort kommen von Dezember bis April Schildkr&ouml;ten an Land, um ihre Eier im Sand zu vergraben.
			OK, auch hier sind wir gleich einen ganzen Monat zu sp&auml;t dran.
		</p>		
        <p>
			Also keine Fotos!
			Leider blieben die Schmetterlinge und die eigentlich sch&ouml;ne Natur das Einzige, was sich uns gezeigt hat.
		</p>
        <p>
			Nach knapp 2 Std. zur&uuml;ck am Camper entdeckten wir noch div. Loris und andere V&ouml;gel im Baum &uuml;ber uns, welche dann auch noch sehr kamerafreundlich waren.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			Weiter f&uuml;hrte uns der Weg nach Rockhampton.
			Leider haben wir die Touriinfo um kurze Zeit verpasst, daf&uuml;r aber zwei &auml;ltere Damen samt Hunden vor der T&uuml;r getroffen, welche uns u.a. berichteten, das bis vor kurzem die gesamte Stra&szlig;e noch unter Wasser stand.
			Davon war nicht ansatzweise etwas zu sehen!
			Eigentlich hatten wir gedacht, wir schlafen auf dem Platz hinter der Touriinfo, aber da wir auch noch Grillen wollten und sich die Station vor Ort als indiskutable herausstellte, sowie uns diverse Moskitos auf den Z&uuml;nder gingen, suchten wir weiter.
			Nach mehrmaligen Kreisen in der Innenstadt, wo von &Uuml;berflutung wirklich nichts mehr zeugte, landeten wir erst einmal im Steakhouse und vertilgten wirklich leckere Burger.
			Somit auch kein Grillen mehr und daher den n&auml;chsten Mc Doof aufgesucht, breit gemacht und schlafen gelegt.
		</p>
    </div>
</div>
<!--=== End Post ===-->
