---
layout: blog/de/travel-blog
title: Auf nach Brisbane
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2017-asia-oz

locations:
  - Hong Kong
  - Australien
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170502-banner.jpg
    alt: "Die Achterbahn in der 9ten Etage eines Shopping Centers"

overview:
  intro: "An unserem letzten Tag in Hong Kong, packten wir morgens schon alles zusammen f&uuml;r den Flug nach Australien."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-11.jpg
    alt: "Das Wilkommenschild der Jugendherberge Hong Kong"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
		<p>
			Wir beschlossen, dass Fr&uuml;hst&uuml;ck in der Jugendherberge auch heute wieder ausfallen zu lassen und daf&uuml;r die leckeren Br&ouml;tchen mit Zuckerkruste an einem kleinen Stand zu kaufen.
			Jeder mit zwei Br&ouml;tchen bewaffnet, machten wir uns auf den Weg zwischen den H&auml;userreihen hindurch &uuml;ber die lokalen M&auml;rkte auf der Suche nach Handyzubeh&ouml;r f&uuml;r einen guten Preis.
		</p>
		<p>
			Als wir eine kleine Erfrischungspause bei Mc Doof einlegten, machten wir uns den Spa&szlig; auszurechnen wieviel Prozent der Menschen hier um uns herum aufs Handy starren.
			Wir kamen auf &uuml;ber 87% aller G&auml;ste im Lokal. In der Metro ist der Prozentsatz noch wesentlich h&ouml;her.
		</p>
		<p>
			Da es doch ziemlich hei&szlig; war, beschlossen wir ins n&auml;chste Shopping Center zu gehen, um uns dort ein wenig umzuschauen.
			Wir stellten fest, dass in der obersten Etage nicht nur eine Automatenspielwelt f&uuml;r Kinder ist, sondern auch noch eine Achterbahn und eine Eislaufbahn eingebaut wurde.
		</p>
		<p>
			Nachmittags ging es dann zum Flughafen.
			Wir hatten ein wenig Sorgen, dass mein Handgep&auml;ck einige kg zu schwer sein k&ouml;nnte, da Qantas nur 7kg pro Person erlaubt.
			Ein Gl&uuml;ck, hat den Herrn am Schalter nur unser aufgegebenes Gep&auml;ck interessiert.
			Im Flieger, hatten wir wieder einen Doppelplatz f&uuml;r uns alleine.
			Neben uns war sogar noch eine ganze 4er Reihe frei.
			Die Chance nutzte ich und machte mich dort der L&auml;nge nach breit.
			Leider konnte ich trotzdem nicht wirklich schlafen.
			Dazu aber sp&auml;ter mehr.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
