---
layout: blog/de/travel-blog
title: "Chinesisch statt Rodizio"
active_nav: travel-blog
author: "Steffi"
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Australien
  - Sydney
  - Coogee
  - Clovalley
  - Darling Harbour
  - Zetlands

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170527-banner.jpg
    alt: "Der Darling Harbour beim VIVID Lichterfestival 2017"

overview:
  intro: "Heute ging es erst einmal nach Coogee, um ggf. 1 - 2 Tauchg&auml;nge f&uuml;r Basti klarzumachen."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170527-11.jpg
    alt: "Steffi mit Blick ins Wasser"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
		<p>
			Bei ProDive angekommen und tats&auml;chlich f&uuml;r den n&auml;chsten Tag angemeldet bekommen. Dieses war hier n&auml;mlich nicht selbst verst&auml;ndlich, da eigentlich keiner mehr ins Wasser geht bei den Temperaturen von nur ca. 20 Grad. Wir beschlossen dann ein St&uuml;ck dem K&uuml;stenweg zu folgen und landeten eine Bucht weiter in Clovalley. Viel weiter kamen wir dann auch nicht, denn wir setzten uns an die Wasserkante, genossen die Sonne und schauten in das kristallklare Meer, beobachten Fische und das ablaufende Wasser.
		</p>
		<p>
			Mit dem Bus ging es zur&uuml;ck in die Stadt, um den Paddys Market aufzusuchen. Hier wurden wir auch wieder einmal f&uuml;ndig und haben einiges an Geld gelassen. Wir kauften uns zwei sch&ouml;ne Bilder f&uuml;r die K&uuml;che, welche von Aborigines gemalt wurden. Weiter ging es &uuml;ber Chinatown zum Darling Harbour. Dort erwarteten uns erst einmal ziemlich viele Z&auml;une und Barrieren... Sicherheit geht auch hier vor!
		</p>
		<p>
			Das erste Ziel war das Hard Rock Café, wo zumindest ich g&uuml;nstig auf dem "Sale St&auml;nder" f&uuml;ndig wurde, denn alles andere war wirklich ausversch&auml;mt teuer.
		</p>
        <p>
			Weiter sollte es dann zum Geburtstagsessen gehen. Daraus wurde nur leider nichts, denn irgendwie haben wir das Tischreservieren beim Brasilianer verdr&auml;ngt. Es war nat&uuml;rlich alles voll und so entschieden wir, zur&uuml;ck nach Chinatown zu gehen - dort gab es dann "echt chinesische K&uuml;che". Mein Fall war das gar nicht und Basti... ich zitiere "war ok".
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			Zur&uuml;ck am Darling Harbour steuerten wir als erstens die "Scheinwerfer" an. Eine Konstruktion, wo einfach Lichter nach oben gestrahlt und in div. Formationen positioniert werden. Damit es wirklich wirkt, sind darunter Matten gelegt worden, so dass man sich hinlegen kann. Hier lagen wir dann auch eine Weile, da unter anderem Basti's Kamera mal wieder zickte und eine liebe Kolleginen mich aus Deutschland anrief.
		</p>
		<p>
			Die n&auml;chste Darstellung befand sich dann in einem ganz normalen &Uuml;berseecontainer. Am Eingang dr&uuml;ckte man uns Schwarzlichttaschenlampen in die Hand und drinnen erwarteten uns dann teilweise echt schicke Bilder, welche nochmal extra was hermachten, wenn man sie richtig ausleuchtet. Am Hafenbecken angekommen fing kurz darauf auch schon die Wassershow an. Auf &uuml;ber 60m Breite/H&ouml;he schossen die Wasserstrahlen nach oben und wurden mit div. Bildern angestrahlt. Anschliessen schlichen wir weiter dort rum, weil wir auf das Feuerwerk warteten, was samstags immer im Hafen ist. Zwischenzeitlich sahen wir das Wasserspiel viermal und haben auch noch eine "Vivid Cruise Tour mit Buffet" gebucht. Mittlerweile stellten wir fest, dass es diesmal leider kein gro&szlig;es Feuerwerk geben sollte, da dieses mehr oder weniger in die Wasserspiele mit eingebaut wurde.
		</p>
		<p>
			Irgendwann sp&auml;t abends ging es dann langsam Richtung Bus der uns zum apartment bringen sollte. Gute Nacht!
		</p>
    </div>
</div>
<!--=== End Post ===-->
