---
layout: blog/de/travel-blog
title: Spontan mal stecken bleiben
author: Steffi
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Mooloolaba
  - Rainbow Beach
  - Inskip Point

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170504-banner.jpg
    alt: "Der sch&ouml;ne Strand von Mooloolaba"

overview:
  intro: "Um 9h ging der gottverdammte Wecker"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-17.jpg
    alt: "Der Campingplatz in Mooloolaba"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}, aber schon ab 6.30h haben uns Vogelwelt und G&auml;rtner das erste Mal geweckt.
			Da wir um 10h vom Platz sein mussten, hieß es nur fix frisch machen, zusammen r&auml;umen und auschecken.
			Weit ging es aber nicht, nur auf die andere Straßenseite auf den Parkplatz.
			Dort haben wir dann erst einmal gefr&uuml;hst&uuml;ckt und sind dann in das Sealife Center rein gegangen.
			Dort habe ich von Basti dann mein verfr&uuml;htes Geburtstagsgeschenk, in Form von der Merlin-Karte bekommen.
			So haben wir dort freien Eintritt gehabt und k&ouml;nnen noch div. andere Einrichtungen kostenfrei besuchen, die uns noch &uuml;ber den Weg laufen.
			Da es mittlerweile 10.45h war, haben wir alles &uuml;bersprungen und sind direkt zur Seel&ouml;wen-Pr&auml;sentation gegangen.
			Nachdem diese dann vor&uuml;ber war, sind wir beim Eingang raus und vorne wieder rein (wozu so eine Karte doch gut ist).
			Diesmal haben wir uns alles in Ruhe angeschaut und gleichzeitig noch etwas gelernt. Direkt am Eingang war ein Becken mit Seesternen etc., sowie kleinen Schildkr&ouml;ten in Plastikk&auml;sten.
			Der Mitarbeiter erkl&auml;rte uns, dass es sich um Wallriffschildkr&ouml;ten handelt.
			Dies ist eine Art, die hier heimisch ist. 
			Da es nur noch extrem wenige Tiere gibt, versuchen sie durch kontrollierte Aufzucht diese Art zu retten und mehr &uuml;ber sie zu erfahren. Weiter erkl&auml;rte er, dass sie 1 Jahr dort aufgezogen werden und dann zur&uuml;ck in die Natur kommen.
		</p>
		<p>
			Nach Sealife ging es f&uuml;r uns direkt an den traumhaften Strand und wir genossen das Wasser an den Beinen und die Sonne von oben. Manchmal kann das Leben wirklich gem&uuml;tlich sein!!!
		</p>
		<p>
			
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			Zur&uuml;ck am Camper gab es noch fix eine Sch&uuml;ssel mit Cornflakes, w&auml;hrend wir beschlossen Richtung Rainbow Beach zu fahren. Unterwegs sahen wir dann diverse, leider tote, Tiere an der Straße... Schlangen, Igel, Beutelratte etc.  Bei einem Zwischenstopp auf einem Rastplatz in Gympie, haben wir nach dem Tanken, die Touriinfo aufgesucht und uns noch einige Tipps abgeholt. Leider haben wir auf dem Weg nach RB irgendwo den Regen aufgegabelt und kamen zudem schon im Dunkeln im Ort an. Dazu muss man sagen, es war nicht einmal 18h!
		</p>
		<p>
			Diesmal sollte es eine kostenfreie &Uuml;bernachtung werden.. also Parkplatz gesucht, wo zudem noch ein sauberes Klohaus daneben steht und gut ist. Geparkt und ab ins Restaurant, um Burger und Drinks zu vertilgen.
		</p>
		<p>
			Nachdem wir von Essen zur&uuml;ck waren, machten wir uns es im Camper bequem. Leider nur nicht allzulange, denn gegen 21.30h kam ein Ordnungsh&uuml;ter vorbei, der uns sowie zwei andere Camper h&ouml;flich gebeten hat, hier nicht zu &uuml;bernachten. Naaaaa super!!! Also im Stockdunkeln, jeder Aussie weiss, dass man das nicht tut,  wieder losgefahren und 12km sp&auml;ter auf einem Campingplatz gelandet. Vorsichtig geschaut, ob wir nicht beim Befahren im Sand stecken bleiben und f&uuml;r OK befunden. Bl&ouml;derweise blieb der Weg nicht so... w&auml;ren wir weitergefahren, w&auml;ren wir stecken geblieben. Also an der breitestes Stelle zum drehen angesetzt  und ... festgefahren!!! Es ging weder vor noch zur&uuml;ck und so standen wir 3/4 auf der Durchfahrt und mit dem Rest im Sand. Da nichts mehr zu machen war, beschlossen wir uns hinzulegen. An Schlaf war aber f&uuml;r uns beide nicht zu denken, da wir den Kopf einfach nicht freibekommen haben "was passiert weiter, wer hilft uns, finden wir jemanden der uns hilft... "
		</p>
		<p>
			Kommentar von Basti: Macht euch um uns keine Sorgen, wir berichten im n&auml;chsten Beitrag wie wir das Auto wieder frei bekommen haben.
		</p>
    </div>
</div>

<!--=== End Post ===-->
