---
layout: blog/de/travel-blog
title: "Wallaby-Herden am Highway"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2017-asia-oz

locations:
  - Australien
  - Cairns
  - Port Douglas
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170520-banner.jpg
    alt: "Stapelsteine zwischen Cairns und Port Douglas"

overview:
  intro: "Nach einem guten Fr&uuml;hst&uuml;ck auf dem Campingplatz"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170520-13.jpg
    alt: "Eine kleine Bucht in der Innenstadt von Port Douglas"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}, f&uuml;hrte uns der Weg &uuml;ber eine verdammt kurvige K&uuml;stenstra&szlig;e nach Port Douglas.
			Einfach mal schauen, was da so los ist und vor allem, wie dort das Ausflugsangebot ist.
			Zuerst fuhren wir zum LookOut "Four Miles Beach"... halt auch nur ein Strand... also wieder runter, in einer Wrap-Bar gelandet und am Blog gearbeitet.
			Mir wurde das nach 1 Std. zu langweilig, also ging ich Richtung Hafen und schaute nach Krokodilen. 
			Leider keine einziges.
			Vorbei an div. kleinen L&auml;den kam ich knapp 40 min. sp&auml;ter wieder bei Basti an, der mittlerweile im Tauchshop war.
			Fix noch zu Coles rein und Lebensmittel besorgt, und dann ging es wieder zur&uuml;ck.
			Kurz um... Port Douglas kann man, muss man aber nicht!
		</p>
		<p>
			Einen Stop hatten wir f&uuml;r die R&uuml;ckfahrt geplant: bei den Stapelsteinchen (siehe oben)... uns f&auml;llt kein besseres Wort daf&uuml;r ein!
			Direkt zwischen Stra&szlig;e und Meer stehen hunderte dieser Formationen.
			Basti war vor 4 Jahren schon einmal, erst mit Muttern und dann mit Bekannten hier, somit nat&uuml;rlich Bilder gemacht und an diese geschickt.
		</p>
		<p>
			Die Fahrt ging weiter und kurz vor Cairns sahen wir sie dann... Unmengen von Wallabies auf den Wiesen neben der Stra&szlig;e.
			Dort war parken leider gar nicht m&ouml;glich, also fix ein St&uuml;ck weiter, auf dem Parkplatz eines Bowls-Vereins gelandet, freundlich gefragt, ob das OK w&auml;re und los ging es zu Fu&szlig; das St&uuml;ck zur&uuml;ck.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Wir schlichen und leise an, aber nat&uuml;rlich haben sie uns dennoch geh&ouml;rt und beobachteten uns aufmerksam.
			Nach einigen Bildern ging es zur n&auml;chsten gro&szlig;en Wiese und es folgte das gleiche Prozedere.
			Zur&uuml;ck am Camper sahen wir dann ein handgemaltes Schild am Eingang vom Bowls-Verein, dass es "-> da lang zu den Wallabies" geht.
			Der Einladung sind wir gefolgt und wir kamen nochmal ein gutes St&uuml;ck n&auml;her an die Tiere, da wir auf dem Vereinsgel&auml;nde waren.
		</p>
		<p>
			Nun hie&szlig; es aber Beine in die Hand nehmen, denn wir mussten f&uuml;r morgen noch eine Tour buchen.
			Am Hafen von Cairns angekommen, ging es ins Hafen-Terminal und wir entschieden uns f&uuml;r "Sunlovers", da Konkurrent "Reef Magic" leider nicht mehr da war.
			Der Preis war h&ouml;her als im Prospekt, daf&uuml;r haben wir aber nochmal 20% Rabatt bekommen.
			Die Tour ist als "Asiaten-Kotz-Tour" bekannt.. also schon einmal den Plan gemacht "Kopfh&ouml;rer einpacken!!!"
			Zur&uuml;ck am Platz haben wir dann noch fix gekocht und irgendwann ging es in die Falle, da der Wecker f&uuml;r 6.30h gestellt ist.
		</p>
    </div>
</div>
<!--=== End Post ===-->
