---
layout: blog/de/travel-blog
title: Buddha und Rinder auf Lantau
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2017-asia-oz

locations:
  - Hong Kong

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "Der Zug der Kuranda Scenic Railway"

overview:
  intro: "Heute m&ouml;chten wir kurz &uuml;ber unseren Ausflug nach Lantau berichten."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170430-14.jpg
    alt: "Eine Kuh vorm Kiosk"
---
<!--=== Post ===-->
<div class="row  margin-bottom-10">
    <div class="col-md-6">
	{% include 'blog/snippet/headline.html.twig' %}

        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
			Am Sonntag fuhren wir mit dem Bus R1 nach Lantau, wo wir uns einen riesigen Buddha anschauten. 
			Man sollte zwecks der Wegbeschreibung aber nicht google maps fragen. 
			Diese schickte uns via &Ouml;ffis einmal um Kreis, wie wir merkten, denn wir landeten 2 Stationen sp&auml;ter genau dort, wo wir urspr&uuml;nglich herkamen.
			&Ouml;ffentliche Verkehrsmittel sind hier so g&uuml;nstig, da macht das Mitfahren doch gleich wieder richtig viel Spa&szlig;.
			Die 1,5 Std. fahrt mit dem Express Bus kostete nur schlappe 43HK$ (ca. 5 &euro;).
			F&uuml;r Hong Kong sogar schon etwas teuer.
			Eine F&auml;hrfahrt dagegen kostet nur 4,3HK$ f&uuml;r die gehobene Klasse. Also nur 10%.
		</p>
	</div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
	      <p>
			Lantau ist eine Insel vor Hong Kong an der auch der neue Flughafen gebaut wurde.
			Oben auf dem Berg sitzt eine riesige Buddha Statur.
			Je nach Start/Landerichtung, kann man Buddha sogar schon sehr gut vom Flugzeug aus erkennen.
			Als wir dort oben mit dem Bus ankamen, war auf dem Berg verh&auml;ltnism&auml;&szlig;ig wenig los.
			Wir konnten uns also in aller Ruhe umschauen.
			Zu sehen gibt es dort oben aber nicht nur Buddha selbst und div. Shops, sondern sogar noch ein buddhistisches Kloster.
			Wer m&ouml;chte, kann (nat&uuml;rlich gegen Geb&uuml;hr) mit den M&ouml;nchen beten oder mit Ihnen essen.
			Uns hat ein wenig beim Gesang zuh&ouml;ren gereicht und da wir nicht so auf schmatzen und schl&uuml;rfen stehen, hatten wir uns einfach eine Portion Nudeln mit Gem&uuml;se am Imbiss geteilt.
			Tiere gibt es hier auch, Rinder um genau zu sagen, zudem auch noch freilebende. 
			Diese laufen &uuml;berall auf der Insel frei herum und warten sehns&uuml;chtig auf Ihr Erfrischungsgetr&auml;nk (s. Bild).
			Zutraulich sind diese im &Uuml;brigen auch noch und stehen "gern" f&uuml;r Bilder und Streicheleinheiten bereit.
        </p>
        <p>
			Zur&uuml;ck nach Hong Kong sind wir dann abends mit einem Boot gefahren.
			Leider ohne Aussicht, da die Scheiben vom Salzwasser verkrustet waren.
		</p>  
	</div>
</div>
	


<!--=== End Post ===-->
