---
layout: blog/de/travel-blog
title: "Manly Beach"
active_nav: travel-blog
author: "Steffi"
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Sydney
  - Manly
  - Circular Quay
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170530-banner.jpg
    alt: "Manly Beach"

overview:
  intro: "Heute brachte uns die F&auml;hre nach Manly hinaus."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170530-11.JPG
    alt: "Die Schaukeln vor der Oper"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
		<p>
			Die Fahrt verlief ruhig und so steuerten wir als erstens das Sealife Sanctuary Center an. Gleich am Eingang wurde uns berichtet, dass die Seepferdchenf&uuml;tterung in K&uuml;rze stattfinden w&uuml;rde. Somit lie&szlig;en wir uns seeehr viel Zeit bei den ersten Aquarien, um die F&uuml;tterung zu erleben. Bert, der Sealife-Mitarbeiter, kam dann auch schon und startete, samt div. Erkl&auml;rungen und Fragen an die Zuh&ouml;rer, mit der F&uuml;tterung. Als diese vorbei war, schaute er kurz in die kleine Runde von uns 4 Erwachsenen plus Baby und bat uns mitzukommen. Er f&uuml;hrte uns tats&auml;chlich hinter die Kulissen und zeigte uns das Aufzuchtaquarium, in dem sich viele ultrakleine Seepferdchen t&uuml;mmelten.
		</p>
		<p>
			Danach zogen wir von Becken zu Becken bis wir am Ende wieder beim Ausgang landeten. Das Sealife ist zwar nicht gro&szlig;, aber durch unsere Merlin Karte ist es f&uuml;r uns kostenlos und so kann man das ruhig mitnehmen. Hier ist es zumindest nicht so voll, wie bei vielen anderen.
		</p>
        <p>
			Beim schlendern durch die Einkaufstrasse gab's f&uuml;r mich dann noch ein Shirt und da es schon wieder weit &uuml;ber die Mittagszeit hinaus war, beschlossen wir gleich noch in ein Restaurant zu gehen, bevor es wieder hei&szlig;t "Pause - essen wieder ab 17/18 Uhr"
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			Am langen Sandstrand angekommen, waren wir so gar nicht mehr motiviert uns zu bewegen und so suchten wir uns kurzerhand eine Bank in der Sonne und genossen einfach. Leider wurde es ziemlich schnell frisch durch den Wind und die verschwundene Sonne, so dass wir beschlossen den R&uuml;ckweg anzutreten. Vorher gab's allerdings noch eine heisse Schokolade in einer gro&szlig;en Kaffeekette. Zur&uuml;ck in der Stadt f&uuml;hrte uns der Weg erst in eine Galerie eines M&uuml;nchener K&uuml;nstlers, mit waaaahnsinns Preisen, bis wir wieder bei den Vivid Konstruktion "R&auml;der" landeten. Hier sollten heute Schattenbilder entstehen - die Idee dazu ist allerdings nicht von uns. Als wir bei Canon Bilder drucken waren, liefen Bilder von anderen Besuchern &uuml;ber die Leinwand und dort haben wir ein Bild entdeckt, was wir unbedingt auch wollten.
		</p>
		<p>
			Leider stellte sich das alles als nicht ganz einfach heraus (stillstehen, Gr&ouml;&szlig;e etc.), so dass wir ziemlich lange daf&uuml;r brauchen, bis was passendes dabei war. Zumal die Show nur alle 15 Minuten f&uuml;r jeweils 3 Minuten statt findet. Danach haben wir uns dann zum schaukeln selbst angestellt. Dieses ging zum Gl&uuml;ck recht schnell, nur leider mussten wir uns die 5 Minuten auf der Schaukel mit 2 anderen noch teilen.
		</p>
		<p>
			Nachdem dieses auch erledigt war, war mir mittlerweile so kalt und Hunger hatte ich auch, dass wir beschlossen bei "Pancakes on the Rocks" reinzuschneien. Es gab sofort einen Tisch, viel zu viel und vor allem ungesundes zu essen (der Name ist schlie&szlig;lich Programm), aber warm wurde mir trotzdem nicht. Bl&ouml;derweise war n&auml;mlich direkt hinter uns die Klimaanlage!!!
		</p>
		<p>
			Anschlie&szlig;end landeten wir wieder bei Canon, um die n&auml;chsten Bilder zu drucken (den genialen Service muss man schlie&szlig;lich nutzen). Bevor es dann zum Bus ging, probierten wir noch unser Gl&uuml;ck beim Brasilianer. Die T&uuml;ren waren zum Gl&uuml;ck noch auf und so konnten wir f&uuml;r den n&auml;chsten Tag 18 Uhr einen Tisch reservieren.
		</p>
    </div>
</div>
<!--=== End Post ===-->
