---
layout: blog/de/travel-blog
title: "Pokern in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Cairns
  - Sydney

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170526-banner.jpg
    alt: "Die Skyline Sydney's vom Flieger aus gesehen"

overview:
  intro: "Heute war nun der Tag."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170526-11.jpg
    alt: "Steffi flei&szlig;ig am Auto waschen"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			Der Tag an dem ein gro&szlig;er Teil unserer Reise endete. Bevor wir aber das Auto zur&uuml;ckgaben, fuhren wir noch ein letztes Mal in die Stadt um dort auf den Rusty's Market zu gehen und ein wenig zu schlendern.
		</p>
		<p>
			 Nachdem wir das Auto zur&uuml;ckgeben und am Flughafen eingecheckt hatten stellten wir fest, dass wir mal wieder viel zu fr&uuml;h dran waren und noch &uuml;ber 3 Std. bis Boarding Zeit hatten. Wir vertr&ouml;delten die Zeit im Sicherheitsbereich mit schm&ouml;kern in den verschiedensten Shops.
		</p>
		<p>
			Als wir dann endlich abflogen hatte uns der Wettergott noch einmal sehr lieb. Er hielt die Wolken noch so lange zur&uuml;ck bis wir noch einige Fotos vom Great Barrier Reef gemacht hatten. Die Wolken gaben aber recht schnell den Blick auf Australien wieder frei. Mit jedem km den wir n&auml;her an Sydney heran kam verd&uuml;sterte sich meine Laune. Eigentlich h&auml;tte ich gl&uuml;cklich sein m&uuml;ssen, da ich nach nun 4 Jahren endlich wieder in meiner liebsten Grossstadt bin. Dem war aber leider nicht so. Unter uns zeigte sich so viel Natur und Landschaft, die ich so gerne erkunden w&uuml;rde. Leider wurde mir bewusst, dass ich es wohl nie schaffen werde, hier gen&uuml;gend Zeit zu verbringen und diese Orte wohl nie von nahen zu sehen. Dies stimmte mich wohl so sehr traurig. In Sydney flogen wir dann &uuml;ber die Stadt rein, so dass wir wenigstens zwei gute Bilder von Br&uuml;cke und Oper bekamen.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Hier in Sydney sind wir in einem Apartment Hotel untergekommen. Super ausgestattet (sogar Waschmaschine und Trockner) und Dank Metrobus ist man auch noch schnell in der Stadt. Heute nahmen wir trotzdem ein Taxi bis zu meinem ehemaligen B&uuml;ro. Dort traf ich auf meinen fr&uuml;heren Boss und einige ehemalige Kollegen mit denen wir dann einige Runden pokerten und &uuml;ber alte und neue Zeiten philosophierten und das ganze bei einigen Drinks.
		</p>
		<p>
			Morgen machen wir uns dann auf zum Strand nach Coogee, um dort spazieren zu gehen. 
		</p>
    </div>
</div>
<!--=== End Post ===-->
