---
layout: blog/de/travel-blog
title: "Suche nach Nemo"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2017-asia-oz

locations:
  - Australien
  - Airlie Beach
  - Whithaven
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170512-banner.jpg
    alt: "Aussicht auf Whithaven Inlet"

overview:
  intro: "Heute sollte es nun endlich mal aufs Wasser gehen. Wir hatten ja gestern diese Tour mit der Bullet gebucht."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170512-16.jpg
    alt: "Anemonen ohne Nemo"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			Sie soll angeblich extrem ruhig im Wasser liegen. 
		</p>
		<p>
			Als wir gegen kurz vor 8 Uhr am Treffpunkt vor dem Campingplatz auf den Abholdienst warteten, gesellte sich noch ein junges Paar aus Deutschland zu uns.
			Sie hatten die gleiche Tour gebucht. 
			Wir kam schnell ins Gespr&auml;ch und als uns dann noch die Dame des Fahrdienstes Reisetipps gab und uns mit Fragen zu unseren Reisen ausquetschte, war die Stimmung schnell ganz oben.
		</p>
		<p>
			Am Hafen angekommen, mussten wir noch einmal einige Formulare ausf&uuml;llen, bevor es dann endlich los ging.
			Als erstes ging es nach Point Bay, wo wir eine kurze Wanderung zu zwei Aussichtsplattformen machten.
			Von dort aus hatten wir einen sch&ouml;nen Blick &uuml;ber die Bucht von Whithaven.
			Leider sind wir zu Hochwasser dort oben angekommen und dadurch konnten wir die verschlungenen Wasserwege nur angedeutet in der F&auml;rbung des Wassers erkennen.
			Gestern sind wir bei Niedrigwasser dr&uuml;ber geflogen und da sah das hier noch ganz anders aus.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Nachdem jeder die obligatorischen Fotos erledigt hatte, ging es zur&uuml;ck an Board und wir machten uns auf den Weg zum Strand von Whithaven.
			Auf dem Weg dorthin gab es dann doch noch ein paar gr&ouml;ssere Wellen.
			Der Schiffsf&uuml;hrer machte aber einen echt guten Job und stabilisierte das Boot quasi sofort wieder durch geschickte Lenkman&ouml;ver.
		</p>
        <p>
			Am Strand angekommen machten wir 4 es uns im Sand bequem und hatten nun 2 Std. Zeit in der Sonne zu braten und endlich mal was zu essen.
			Zwischenzeitlich sah es kurz nach regen aus, aber nachdem wir zu viert die Wolken weg gepustet hatten, kam die Sonne schnell wieder hervor.
		</p>
		<p>
			Als letztes ging es mit der Bullet zu einem echt sch&ouml;nen Schnorchelplatz.
			Ich hab mich nat&uuml;rlich sofort auf die Suche nach Anemonen und den passenden Bewohnern (Nemo und Dori) gemacht.
			Leider waren beide nicht zu finden. Steffi hatte leider auch kein Gl&uuml;ck bei der Suche.
			Die anderen beiden, hatten zwar auch kein Gl&uuml;ck mit Nemo, aber daf&uuml;r hatten Sie das Gl&uuml;ck auf eine Schildkr&ouml;te zu treffen.
			Diese sind hier, dank Zyklon Debbie n&auml;mlich nicht zu finden.
		</p>
		<p>
			Leider durften wir nur 40 Minuten im Wasser bleiben, bevor wir uns wieder auf den R&uuml;ckweg nach Airlie Beach machten.
			Da der Schiffsf&uuml;hrer noch einmal alles gab, damit das Boot so wenig wie m&ouml;glich schaukelte, entschieden wir, dass er sich auf jeden Fall ein Trinkgeld verdient hatte.
			Der Preis von 132$ (ca. 90&euro;) f&uuml;r diese Ganztagestour war absolut gerechtfertigt.
		</p>
		<p>
			Zur&uuml;ck auf dem Campingplatz gingen wir alle erst einmal Duschen, um das Salzwasser los zu werden und uns aufzuw&auml;rmen, da der Fahrtwind doch recht frisch war.
			Danach setzten wir vier uns zusammen in die Campk&uuml;che und kochten zusammen.
			Den Rest des Abends verbrachten wir mit quatschen und Uno spielen. 
		</p>
    </div>
</div>
<!--=== End Post ===-->
