---
layout: blog/de/travel-blog
title: "18.03.2018 Steffi endlich da"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute morgen stand nicht viel auf dem Zettel. Ich tr&ouml;delte bis kurz vor 12 Uhr mit fertig machen und auschecken rum. "
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4657.jpg"
    alt: "Da sitzt Steffi drin in dem Flieger"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Per Tricycle fuhr ich dann zu unseren Schlafplatz f&uuml;r heute Nacht. Mal wieder das Flying Fish Hostel, in dem ich vor 2 Wochen schon mal &uuml;bernachtet habe. Es ist aber auch wieder nur f&uuml;r eine Nacht, da wir Morgen in das Kav’s Beach Resort umziehen, wo wir dann bis mindestens Freitag bleiben werden.
        </p>
        <p>
            Nach dem Check-in ging ich zu Fuss in die Stadt,um dann wieder einmal im Rollin Pin Cafe zu landen, wo ich die letzten Wochen fast t&auml;glich herumlungerte und French Toast mit Wassermelonenshake genoss.
        </p>
        <p>
            Dort blieb ich bis ich in meiner Flugzeug App sah, dass Steffi im Landeanflug ist. Ich lie&szlig; mich dann von einem Tricycle zum Flughafen fahren. Nach wenigen Minuten Wartezeit, kam meine Steffi endlich aus dem Ankuftsbereich raus. Endlich hab ich sie wieder.
        </p>
        <p>
            Nachdem wir Ihre Sachen ins Hostel gebracht hatten, fuhren wir noch in die Innenstadt und schlenderten dort noch ein wenig durch die Reihen, bevor wir an der Promenade ein Restaurant f&uuml;rs Abendessen suchten.
        </p>
        <p>
            Morgen geht es ins Resort. Hoffentlich ist das Internet dort gut genug zum arbeiten.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
