---
layout: blog/de/travel-blog
title: "19.12.18 Ankunft in New York"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - New York
  - Niederlande
  - Amsterdam

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

overview:
  intro: "Dieses Jahr haben Steffi und ich das Glück gleichzeitig über Weihnachten Urlaub nehmen zu können. Daher beschlossen wir, dieses Mal"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_6698.jpg"
    alt: "Der Eingang des Hilton GardenInn Financial District Downtown Manhatten"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} einfach abzuhauen. Erst hatten wir den Plan, uns einfach irgendwo in den Bergen eine kleine Hütte für uns zwei zu suchen. Dann gab es Überlegungen nach Ägypten abzuhauen und Am Ende fanden wir günstige Flüge nach New York.
        </p>
        <p>
            Nun sind wir heute, via Amsterdam, nach New York geflogen. Dieses Mal sollte es mit KLM über den großen Teich gehen. Eigentlich eine renommierte Airline aus den Niederlanden, wo wir bisher nur gutes gehört haben. Leider war der Flieger von Amsterdam aber sehr eng. Gefühlt enger als die Billigfluglinie Ryanair. Die dreckigen Toiletten erwähnen wir nun mal nicht, dafür aber das gute Essen und das freundliche Personal.
        </p>
        <p>
            In New York gelandet, dauerte es noch etwa 1,5 Stunden bis wir durch Passkontrolle und Zoll waren. Wir waren aber scheinbar gerade noch rechtzeitig da, denn als wir endlich dran waren, war ca. die 3-fache Menge an Menschen hinter uns.
        </p>
        <p>
            Eine weitere Stunde später sind wir in Manhattan, genauer im Hilton GardenInn zwischen Wall Street und Staten Island Fähre, angekommen. Unser Zimmer ist in der 20ten Etage und hat Stadtblick. Stadtblick meint dabei Blick auf die nächsten 3 Hochhäuser.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Wir suchten uns nur noch eine Kleinigkeit zu essen und kauften auf dem Rückweg noch Wasser, bevor wir dann bereits um 20 Uhr Ortszeit (02:00 deutsche Zeit) im Bett lagen und noch eine Folge unserer Lieblingsserie schauen wollten. Diese müssen wir uns heute Abend aber noch einmal anschauen, da wir beide innerhalb von Sekunden eingeschlafen sind.
        </p>
        <p>
            Wie geht es weiter?
        </p>
        <p>
            Wir bleiben hier in New York bis zum 25.12. und fahren dann mit dem Zug nach Washington D.C. Am 30.12. fahren wir dann wieder zurück nach New York. Hier bleiben wir dann noch einmal eine Nacht in der Nähe des Flughafen JFK und fliegen am 31.12. um 21:30 wieder zurück nach Deutschland und landen etwa 14:10 wieder in Hamburg.
        </p>
        <p>
            Bis dahin wünschen Steffi und Basti noch ein paar schöne und entspannte Vorweihnachtstage. Bis bald.
        </p>
    </div>

</div>
<!--=== End Post ===-->
