---
layout: blog/de/travel-blog
title: "25.02.2018 Ausruhen in Manila"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Manila
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Die Party in der angrenzenden Schule ging noch bis in die Morgenstunden. Daher war auch diese Nacht nicht viel an Schlaf zu denken."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4208.jpg"
    alt: "Ein sch&ouml;ner und farbenfroher Sonnenuntergang &uuml;ber Manila"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
            Morgens war ich trotz des wenigen Schlafs viel zu fr&uuml;h wach.
            Das Fr&uuml;hst&uuml;ck war sehr einfach aber gut.
            Es gab R&uuml;hrei und Butterbr&ouml;tchen. Dazu schwarzen Tee.
        </p>
        <p>
            Nach dem Fr&uuml;hst&uuml;ck beschloss ich langsam zu machen, da meine Erk&auml;ltung leider noch immer nervig ist.
            Somit genoss ich die Ruhe auf dem Balkon und leget mich Mittags noch einmal eine Runde aufs Ohr.
        </p>
        <p>
            Nachmittags beschloss ich, dann doch noch ein wenig die Stadt zu erkunden.
            Ich machte mich auf den Weg in eines der gr&ouml;ssten Shopping Center hier in der Stadt.
            Die Greenbelt Super Mall.
            &Uuml;ber 250 Shops, mehrere Kinos und eine riesige Auswahl an Restaurants.
            Zu Abendbrot gab es dann einfach eine Pizza bevor ich mich wieder auf den Weg zur&uuml;ck zur Unterkunft machte.
        </p>
        <p>
            Dort angekommen, genoss ich die Ruhe auf dem Balkon bevor ich mich zum schlafen hinlegte.
            Konnte aber auch heute wieder nicht wirklich einschlafen.
            Morgen geht es weiter mit dem Flieger in den S&uuml;den der Philippinen, nach Cebu.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
