---
layout: blog/de/travel-blog
title: "22.12.18 Brooklyn wir kommen"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

author: "Steffi"

overview:
  intro: "Heute wollten wir unseren Sightseeing-pass f&uuml;r den Hop on Hop off Bus einl&ouml;sen, somit machen wir uns erst einmal auf Richtung"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4396.jpg"
    alt: "Der Eingang zum Union Square Weihnachtsmarkt"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Times Square. Auf dem Weg dorthin landeten wir allerdings erst einmal bei Applebees und g&ouml;nnten uns ein Fr&uuml;hst&uuml;ck.
        </p>
        <p>
            Frisch gest&auml;rkt stiegen wir dann in den Bus und kurvten durch Manhattan. Hier merkten wir uns dann gleich einige Punkte, die wir sp&auml;ter noch einmal zu Fu&szlig; aufsuchen wollten. Obwohl der Bus wirklich langsam fuhr und auch sehr langsam voran kam, war es derma&szlig;en kalt, dass wir auf H&ouml;he unseres Hotels ausstiegen und uns erst einmal eine hei&szlig;e Schokolade holten. Da wir einfach nicht warm wurden, beschlossen wir unser Zimmer aufzusuchen. Allerdings kauften wir vorher noch einen, auf Wunsch geordneten, NYPD-Mantel f&uuml;r Nachbars Hund Skippy.
        </p>
        <p>
            Nachdem wir anschlie&szlig;end eine ganze Weile im Zimmer verweilten, fiel uns auf, dass der letzte Brooklyn Bus in K&uuml;rze fahren sollte, so dass wir fix wieder loszogen. Den Bus erwischen wir gerade noch so und obwohl wir nun noch mehr Klamotten anhatten, blieb es verdammt kalt. Nach Brooklyn ging es leider nicht &uuml;ber die Brooklyn Bridge, daf&uuml;r aber &uuml;ber die Manhattan Bridge, so dass wir die Nachbarbr&uuml;cke gut aufs Foto bekamen.
        </p>
        <p>
            Am letzten Stop in Brooklyn verlie&szlig;en wir den Bus, fuhren 1 Station mit der Metro und landeten dann auf den anvisierten Food Market. Basti holte sich beim Italiener eine frittierte  Mozzarella Tasche, w&auml;hrend ich mir beim Afghanen Reis mit H&auml;hnchen und viel zu scharfer So&szlig;e holte.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Anschlie&szlig;end schlenderten wir noch kurz in das Einkaufszentrum nebenan, wo ich dann auch noch eine Hose fand.
        </p>
        <p>
            Zur&uuml;ck in der Metro steuerten wir den Union Square Holiday market an. Quasi ein Weihnachtsmarkt wie bei uns, nur nicht ganz so &uuml;berf&uuml;llt und weniger auf Weihnachten ausgelegt. Mit Umweg &uuml;ber einen Drogeriemarkt ging es dann weiter zum Madison Square Park. Hier sollte ein gro&szlig;es, echtes Lebkuchenhaus stehen. Angekommen fanden wir allerdings nichts, au&szlig;er Wiese und einen einsamen Weihnachtsbaum. Basti schaute dann nochmal im Netz nach und entdeckte, dass das Haus nur bis zum 19. da stand. Verdammt!
        </p>
        <p>
            Mittlerweile waren wir wieder so erledigt, dass wir den R&uuml;ckzug zum Hotel antraten, auf dem Weg noch was zu trinken besorgten und ins Bett fielen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
