---
layout: blog/de/travel-blog
title: "25.12.18 Schuhe anlassen!!!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - New York
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

overview:
  intro: "Der heutige Tag war recht unspektakulär. Nachdem wir uns irgendwann endlich mal aus dem Bett hievten, packten wir unsere Sachen und"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4514.jpg"
    alt: "Das große kuschelige Bett im Residence Inn Hotel"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} machten uns auf den Weg zum Zug. An der Penn Station (34. Straße) angekommen, suchten wir erst einmal etwas bis wir die Wartehalle von Amtrak gefunden hatten. Denn hier hat scheinbar jede Zuggesellschaft Ihren eigenen Teil des recht großen Bahnhofs.
        </p>
        <p>
            Steffi machte es sich in der Wartehalle bequem und ich holte mir noch fix was warmes zu trinken. Kurze Zeit später wurde auch schon unser Zug nach Washington D.C. aufgerufen. Im Zug angekommen, machten wir es uns einfach auf freien Sitzen bequem und los ging die Fahrt. Prompt kam auch die übliche Willkommensansage, dass gleich ein Schaffner alle Fahrkarten kontrollieren wird und dass man doch bitte seine Schuhe zu jedem Zeitpunkt an hat und auch nicht mal als schlappen tragen darf. Hä? Steffi und mein Blick trafen sich. “Haben wir das richtig verstanden?” Wir dürfen die Schuhe nicht ausziehen. Die Auslegware hier im Zug sah sehr sauber aus, so dass wir trotzdem aus den Schuhen rutschten und die erste Stunde unserer Fahrt noch wach genossen. Dann fanden wir, dass es Zeit für Mittagsschlaf war. Da die Züge hier anders als bei uns aber ganz schön ruckeln, war für mich nicht lange an schlafen zu denken.
        </p>
        <p>
            Nach 3,5 Stunden waren wir endlich in Washington und ließen uns von einem Uber (Billig-Taxi) zum Hotel fahren.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Das Auto stank jedoch so sehr nach Duftbäumen, das ich prompt richtig böse Kopfschmerzen bekam, die den Rest des Tages nicht mehr weg gehen wollten. In Washington haben wir ein schönes großes Apartment mit eigener Küche, Schreibtisch, Sofa und TV. Nur das Bad ist etwas komisch. Waschbecken ist in einer Nische direkt neben dem Bett. Nur Dusche und Toilette sind in einem Extra Raum. Da direkt neben dem Hotel heute doch ein kleiner Shop auf hatte, beschloss Steffi Pasta für uns zu kochen.
        </p>
        <p>
            Den Rest des abends verbrachten wir mit Film schauen, Klamotten waschen und faulenzen.
        </p>
        <p>
            Mal schauen, ob wir morgen mehr schaffen.
        </p>
        <p>
            Bis dahin: Gute Nacht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
