---
layout: blog/de/travel-blog
title: "20.03. wir sagen nur 'autsch'"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Zamboanguita

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Die Nacht war soweit ok, nur leider haben unsere Nachbarn (H&uuml;hner, Spatzen und Hunde) kein Mitgef&uuml;hl f&uuml;r Touristen."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4740.jpg"
    alt: "Lagerfeuer im Sonnenuntergang"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Die machen sch&ouml;n brav ab 4.30h „L&auml;rm“, so dass man sich schon ordentlich zusammen rei&szlig;en muss, damit man weiterschlafen kann.
        </p>
        <p>
            Basti verzog sich ziemlich zeitig, samt Rechner, an den Strand und ich kam eine halbe Stunde bis Stunde sp&auml;ter dazu und legte mich fertig eingeschmiert an den Strand. Nach gef&uuml;hlt 20 Minuten (Basti sagt, es war eine Stunde) beschlossen wir in den Pool zu h&uuml;pfen. Das Wasser war wirklich angenehm, der Pool sch&ouml;n sauber und so probierten wir auch gleich unsere neue Kamera aus. Nach 2 Std. (Bastis Aussage) lie&szlig;en wir uns in der Sonne bzw. im Schatten trocknen und dann war es auch schon Essenszeit.
        </p>
        <p>
            Nach einem wirklich leckern Mittagessen, einer kurzen Pause, sowie einem Strandspaziergang ging es dann wieder in den Pool und ooohhh... wo kommt denn das her... wir leuchteten! Jaja... diese Touris wieder, gleich erst einmal sch&ouml;n verkohlen! Naja nun war es passiert und &auml;ndern l&auml;sst sich das eh nicht mehr. Den restlichen Nachmittag/Abend arbeitete Basti wieder und ich las weiter an meinem Buch und genoss den sch&ouml;nen Sonnenuntergang, die Ruhe und vor allem die W&auml;rme.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
