---
layout: blog/de/travel-blog
title: "27.12.18 Freimengen ausgesch&ouml;pft"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

author: "Steffi &amp; Basti"

overview:
  intro: "Heute Vormittag beschlossen wir spontan, zum Tanger Outlet im S&uuml;den von Washington zu fahren. Dies ist auch ein Shopping Center, in dem es"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7382.jpg"
    alt: "Da lachen uns bei Johnny Rockets Buchstaeblich die kcal an"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            <strong>Basti:</strong>
            <br />
            {{ page.overview.intro|raw }} fast alle gro&szlig;en Marken zu kleinen Preisen gibt. In manchen Gesch&auml;ften gibt es bis zu 80% Rabatt. Da die Amerikaner etwas breiter sind als die Deutschen, hatte ich Hoffnung auf die eine oder andere gute Hose. Leider mussten wir uns bereits beim ersten Herrenausstatter belehren lassen, dass es hier zwar kein Problem ist, meine Weite zu bekommen. Nur bin ich leider f&uuml;r amerikanische Verh&auml;ltnisse zu gro&szlig; und es wird schwierig die richtige L&auml;nge zu bekommen.
        </p>
        <p>
            Wir schlichen, im wirklich sehr leeren und entspannten Outlet von Laden zu Laden und diesmal hatte Steffi mehr Gl&uuml;ck als ich, so dass sich schnell der Rucksack f&uuml;llte.
        </p>
        <p>
            Zwischenzeitlich rief ziemlich laut der Hunger nach uns, so dass wir erst einmal bei Johnny Rockets einkehrten und uns eine gro&szlig;e Ladung ungesundes einverleibten, bis es weiter durch die L&auml;den ging.
        </p>
        <p>
            In einem Gesch&auml;ft fanden wir dann noch etwas f&uuml;r unsere M&uuml;tter, was wir dann auch mehr oder weniger spontan mitnahmen.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            <strong>Steffi:</strong>
            <br />
            Bl&ouml;derweise ging mein Blick dann zu einem Schuhladen und in dem Schaufenster standen Turnschuhe, die quasi nach mir riefen.
            Nach knapp 4,5 Stunden waren wir dann durch, unsere Rucks&auml;cke voll, mehrere Tragetaschen hatten wir auch und so ging es wieder Richtung D.C.
            Dort ging es dann erst einmal zum Hard Rock Cafe, wo wir allerdings f&uuml;r uns nicht f&uuml;ndig wurden. Hier gab es diesmal nur Dinge f&uuml;r Kollegen und Verwandte.
        </p>
        <p>
            Weiter ging es dann Richtung Hotel, mit Umweg &uuml;ber den Supermarkt, um nochmal Wasser nachzukaufen.
            Eigentlich wollten wir dann nur Sachen abladen und wieder losziehen, beschlossen aber, dass wir mal probe packen und den Zoll ausrechnen. Und da kam die Erkenntnis…
        </p>
        <p>
            Koffer voll und Zollfreibetrag v&ouml;llig ausgesch&ouml;pft. Ups!!!
        </p>
    </div>

</div>
<!--=== End Post ===-->
