---
layout: blog/de/travel-blog
title: "28.02.2018 A Space Cebu"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute gibt es nicht all zu viel zu erzählen. Den Vormittag hab ich verschlafen um weiter gegen meine Erkältung zu kämpfen."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4320.jpg"
    alt: "Ein Mann versucht am Straßenrand Pomelos an vorbeifahrende Autos zu verkaufen."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
            Den Nachmittag und die Nacht verbrachte ich mit arbeiten. Auf dem Weg zum A Space Cebu machte ich noch einen kleinen Abstecher in einen Lebensmittelmarkt namens Lenders. Dies scheint ein Großhändler zu sein. Man kommt aber als Tourist gegen Vorlage eines Reisepasses rein. Es war irgendwie komisch zu sehen, dass hier drin so viele Menschen in großen Mengen und im Überfluss einkaufen und nur 50m weiter andere Menschen ihren Lebensunterhalt auf der Strasse verdienen müssen, in dem sie einzelne Früchte oder Kaugummis an vorbeifahren oder an den Ampeln wartende verkaufen müssen. Bei dem Fahrstil hier eine Lebensgefährliche Angelegenheit.
        </p>
        <p>
            Im Büro angekommen lief grundlegend alles gut, nur leider war die Internetleitung immer wieder mal nicht so der Hit. Da hat die Internetleitung in meiner Unterkunft wesentlich besser funktioniert. Die habe ich aber auch für mich alleine.
        </p>
        <p>
            Heute Abend war aber auch noch ein Meetup im A Space Cebu angesetzt, zu dem ich hin wollte. Ein Meetup ist quasi ein Treffen einer Interessengruppe und diese sind im Normalfall öffentlich und kostenfrei. Es gibt viele verschiedene über die ganz welt verteilt. Ich selbst unterstütze meine Kolleginnen bei der kartenmacherei öfters beim organisieren eines Meetups bei denen es oft um IT Themen geht.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Heute war hier das erste Treffen der Wordpress Meetup Gruppe in Cebu. Am Anfang sollte sich jeder einmal kurz vorstellen und seine IT/Wordpress Kenntnisse mitteilen. Ich erwähnte das mein Spezialgebiet Architektur und Testen von Webapplikationen ist. Prompt wurde ich gebeten an einer Diskussionsrunde teilzunehmen, da ein geladener Software Architekt leider nicht aufgetaucht ist. Die Diskussion war recht angenehm und ging auch in manchen Fragen komplett in mein Spezialgebiet Testen von Verfügbarkeiten sowie das Thema clean code und Remote working kamen auch zur Sprache. Nach dem Meetup habe ich mich noch mit mehreren Software Entwicklern unterhalten und noch unterschwellig Werbung für die kartenmacherei als Arbeitgeber gemacht. 3 Waren von Ihren Kenntnissen sogar mehr als interessant für uns. Mal schauen ob sich jemand bewirbt.
        </p>
        <p>
            Mehr lag heute wirklich nicht an. War halt ein Arbeitstag.
        </p>
    </div>
</div>
<!--=== End Post ===-->
