---
layout: blog/de/travel-blog
title: "09. & 10.03.2018 Endlich tauchen"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Gestern hab ich wieder nicht so viel gemacht, da ich irgendwie schlecht geschlafen hatte. Bin den Vormittag nur ein wenig durch die Stadt gestreift und hab"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4517.jpg"
    alt: "Dive Cafe Dauin"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} und hab f&uuml;rs Wochenende eingekauft. Abends musste ich dann ja auch noch eine letzte Runde arbeiten vor dem lang ersehnten Wochenende. Da ich die Tage schon einige Stunden vorgearbeitet hatte, machte ich auch nicht so lange und ging lieber mal etwas eher ins Bett. Schlaf nachholen.
        </p>
        <p>
            Heute morgen machte ich mich aber wieder mit dem Bus auf den Weg nach Dauin ins Dive Cafe. Dort traf ich auf den Tauchlehrer Per. Nach einem Briefing und Zusammenbauens des Tauchger&auml;ts, ging es auch schon mit einem Minibus die wenigen hundert Meter bis zum Strand. Da es mein erster Tauchgang hier ist, lies ich wie immer die Kamera zur&uuml;ck, um mich erst mal an das Tauchen hier zu gew&ouml;hnen.  Am Strand angekommen gingen wir direkt von dort aus ins Wasser, tauchten bis auf 15m Tiefe ab und machten dann einen schwenk nach rechts. Wir tauchten &uuml;ber mehrere riesige bunte Korallenfelder. Diese waren voll mit Fisch. Ich hab in 5 Jahren Tauchen schon einiges gesehen, aber so viele Fischarten und Farben sind mir auch noch nicht bei einem einzigen Tauchgang untergekommen. Wir trafen sogar auf eine mittelgrosse Schildkr&ouml;te mit einer Panzerl&auml;nge von etwa einen halben Meter. Diese sa&szlig; komplett entspannt in einer Kuhle. Nach einer Weile l&ouml;ste Sie sich aus der Kuhle und machte sich ganz gem&uuml;tlich auf den Weg zur Oberfl&auml;che. Ein tolles Bild, welches ich bestimmt lange nicht vergessen werde.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Wir kamen dann noch an vielen anderen interessanten Tieren vorbei. Wir sahen bestimmt noch 7 bis 10 mit Clownfischen (Nemos) bewohnte Anemonen, eine grosse Mor&auml;ne und einige verschiedene Arten von Papageienfische. Zum Schluss kurz vor dem Strand, im Flachwasser sahen wir sogar noch einen Schwarm Sepia.
        </p>
        <p>
            Nach dem Tauchgang machte ich es mir im Dauin Dive Cafe bequem und lie&szlig; mein Equipment im Hinterhof abtropfen, k&uuml;mmerte mich um mein Taucher Logbuch und genoss den Tag. Sp&auml;ter fuhr einer der Angestellten 2 G&auml;ste mit dem Minibus zur&uuml;ck nach Dumaguete. Ich nutzte die Chance und schloss mich an.
        </p>
        <p>
            F&uuml;r morgen hab ich keinen Plan, ausser Mutti anrufen und zum Geburtstag gratulieren.
        </p>
    </div>
</div>
<!--=== End Post ===-->
