---
layout: blog/de/travel-blog
title: "28.02.2018 A Space Cebu"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute gibt es nicht all zu viel zu erz&auml;hlen. Den Vormittag hab ich verschlafen um weiter gegen meine Erk&auml;ltung zu k&auml;mpfen."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4320.jpg"
    alt: "Ein Mann versucht am Stra&szlig;enrand Pomelos an vorbeifahrende Autos zu verkaufen."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
            Den Nachmittag und die Nacht verbrachte ich mit arbeiten. Auf dem Weg zum A Space Cebu machte ich noch einen kleinen Abstecher in einen Lebensmittelmarkt namens Lenders. Dies scheint ein Gro&szlig;h&auml;ndler zu sein. Man kommt aber als Tourist gegen Vorlage eines Reisepasses rein. Es war irgendwie komisch zu sehen, dass hier drin so viele Menschen in gro&szlig;en Mengen und im &Uuml;berfluss einkaufen und nur 50m weiter andere Menschen ihren Lebensunterhalt auf der Strasse verdienen m&uuml;ssen, in dem sie einzelne Fr&uuml;chte oder Kaugummis an vorbeifahren oder an den Ampeln wartende verkaufen m&uuml;ssen. Bei dem Fahrstil hier eine Lebensgef&auml;hrliche Angelegenheit.
        </p>
        <p>
            Im B&uuml;ro angekommen lief grundlegend alles gut, nur leider war die Internetleitung immer wieder mal nicht so der Hit. Da hat die Internetleitung in meiner Unterkunft wesentlich besser funktioniert. Die habe ich aber auch f&uuml;r mich alleine.
        </p>
        <p>
            Heute Abend war aber auch noch ein Meetup im A Space Cebu angesetzt, zu dem ich hin wollte. Ein Meetup ist quasi ein Treffen einer Interessengruppe und diese sind im Normalfall &ouml;ffentlich und kostenfrei. Es gibt viele verschiedene &uuml;ber die ganz welt verteilt. Ich selbst unterst&uuml;tze meine Kolleginnen bei der kartenmacherei &ouml;fters beim organisieren eines Meetups bei denen es oft um IT Themen geht.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Heute war hier das erste Treffen der Wordpress Meetup Gruppe in Cebu. Am Anfang sollte sich jeder einmal kurz vorstellen und seine IT/Wordpress Kenntnisse mitteilen. Ich erw&auml;hnte das mein Spezialgebiet Architektur und Testen von Webapplikationen ist. Prompt wurde ich gebeten an einer Diskussionsrunde teilzunehmen, da ein geladener Software Architekt leider nicht aufgetaucht ist. Die Diskussion war recht angenehm und ging auch in manchen Fragen komplett in mein Spezialgebiet Testen von Verf&uuml;gbarkeiten sowie das Thema clean code und Remote working kamen auch zur Sprache. Nach dem Meetup habe ich mich noch mit mehreren Software Entwicklern unterhalten und noch unterschwellig Werbung f&uuml;r die kartenmacherei als Arbeitgeber gemacht. 3 Waren von Ihren Kenntnissen sogar mehr als interessant f&uuml;r uns. Mal schauen ob sich jemand bewirbt.
        </p>
        <p>
            Mehr lag heute wirklich nicht an. War halt ein Arbeitstag.
        </p>
    </div>
</div>
<!--=== End Post ===-->
