---
layout: blog/de/travel-blog
title: "27.02.2018 Cebu City"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Cebu
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Leider ist gestern Abend auf dem Weg zurück in meine Unterkunft der Tragegurt meiner Laptoptasche kaputt gegangen."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4295.jpg"
    alt: "Eine Kerze für meinen kürzlich verstorbenen Opa"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
            Im nahegelegen Shopping Center fand ich auch einen solchen Shop. Leider war der Schneider morgens noch nicht da. Eine freundliche Dame erklärte mir, dass er vielleicht (wenn überhaupt) so gegen 12 Uhr zur Arbeit kommt.
        </p>
        <p>
            Die Wartezeit verbrachte ich in einer Pizzeria mit einem Glas Eistee, was alle paar Minuten wieder aufgefüllt wurde. Da ich auch von Cebu noch nicht wirklich überzeugt bin, beschloss ich mal zu schauen wie man nach Dumaguete kommt. Drei Möglichkeiten fand ich. Entweder mit dem Flugzeug, einer Übernacht-Fähre oder dem Bus. Nach einiger Zeit suchen, gab ich es auf einen Bus Fahrplan im Internet finden zu wollen. Taxi einfach zum Busbahnhof zu fahren und dort selbst zu schauen.
        </p>
        <p>
            Also machte ich mich nach 12 Uhr wieder auf den Weg zum Schuster und siehe da, er kam heute zur Arbeit. Es dauerte keine 10 Minuten, dann war meine Tasche für knapp 3 Euro repariert. DANKE.
        </p>
        <p>
            Am Busbahnhof angekommen, ging ich die Gänge mit den Bussen entlang und schaute nach Dumaguete als Ziel. Man muss dazu sagen, das Dumaguete auf einer anderen Insel namens Negros liegt, die nur mit Schiff erreichbar ist. Also bringen viele Busse die Fahrgäste nur bis zur Fähre und von dort aus muss man dann selbst weiter sehen.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Dieser Fähranleger ist ca. 120km von hier entfernt und der Bus braucht ca. 3 bis 4 Std dorthin. Die ersten Busse mit dem richtigen Ziel, waren so schäbig abgenutzt und alt, dass ich beschloss dort nicht einsteigen zu wollen. Etwas weiter hinten waren aber neue gute Reisebusse zu sehen. Ich ging dort und schau einer an, der Bus fährt bis nach Dumaguete. Ich fragte den Fahrer ob er nur bis zum Schiff fährt. Er sagte Nein. Der gesamte Bus wird dort im Hafen auf eine Fähre verladen und auf die Insel Negros überführt. Finales Ziel ist also wirklich Dumaguete. Der Preis liegt bei 250 Peso (ca. € 4,-) Mal schauen was bis ende der Woche meine Erkältung macht. Je nach dem werde ich entweder den Flieger oder den Bus nehmen.
        </p>
        <p>
            Vom Busbahnhof machte ich mich auf die Suche nach Wasser. Ich bin schliesslich auf einer Insel. Hier muss doch irgendwo Wasser sein. Der Weg führte mich durch einen Stadtteil der aus vielen kleinen Shops besteht, die alles mögliche anbieten. Von Schmuck über gefälschte Markenprodukte bis hin zu Einrichtungsgegenständen. Am Ende dieses Stadtteils trifft man dann auf die Pilgerstätte und die Basilica Minore del Santo Niño de Cebu. Eine sehr schöne und sehr alte Kirche in der ich einige Zeit nachdenklich verbrachte und noch eine Kerze für meinen Opa anzündete bevor ich mich weiter auf die Suche nach dem Meer machte.
        </p>
        <p>
            Wenige hundert Meter weiter fand ich das Meer endlich. Leider stand mir ein Fährterminal im Weg und so weit wie ich links und rechts schauen konnte, waren weitere Anleger. Leicht enttäuscht machte ich mich mit dem nächsten Taxi auf den Weg ins nächstgelegene Shopping Center, wo ich einige Lebensmitteleinkäufe erledigte und den rest des Abends verbrachte.
        </p>
        <p>
            Morgen geht es dann wieder an die Arbeit. Ich hab gleich zu Beginn ein Vorstellungsgespräch im Kalender stehen. Drückt mir die Daumen, dass die Internetleitung stabil bleibt und ich den Kandidaten gut verstehen kann.
        </p>
    </div>
</div>
<!--=== End Post ===-->
