---
layout: blog/de/travel-blog
title: "15.03.2018 Missverst&auml;ndnisse"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute morgen, wollte ich eigentlich langsam anfangen meine Sachen wieder zur&uuml;ck in den Rucksack zu stopfen. Aber erst nach dem Fr&uuml;hst&uuml;ck."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4563.jpg"
    alt: "Blog schreiben im Cafe"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Morgen ist es mal wieder so weit, die Unterkunft zu wechseln, da ich dieses Apartment leider nicht l&auml;nger buchen konnte. Dacht ich zumindest.
        </p>
        <p>
            W&auml;hrend ich mich fertig machte bekam ich eine Nachricht vom Inhaber des Apartments, dass sein Personal heute im Geb&auml;ude ist und sich um die anderen Apartments k&uuml;mmert und ob ich noch irgendwas br&auml;uchte. Ich bedankte mich und teilte Ihm gleich mit, dass ich plane morgen so gegen 11 Uhr das Apartment zu verlassen, damit er seinen Reinigungstrupp schon mal bescheid geben kann. Nach wenigen Sekunden schrieb er dann zur&uuml;ck und fragte, was denn nicht Stimme, ich h&auml;tte doch bis Samstag gebucht. Nach einigem hin und her stellte sich heraus, dass wir ein wenig aneinander vorbei gesprochen hatten. Er meinte Ich kann die N&auml;chte 10. - 16. buchen. Also abreise erst am Samstag dem 17.03. Ich hatte verstanden ich kann nur bis 16.03. bleiben.
        </p>
        <p>
            Nun hab ich aber bereits eine Unterkunft von Freitag bis Sonntag gebucht. Diese ist am Standrand und ein Gl&uuml;ck nicht sehr teuer, denn jede &Auml;nderung resultiert in den Kosten der ersten &Uuml;bernachtung. Naja dann hab ich halt 2 Unterk&uuml;nfte f&uuml;r die Nacht von Freitag auf Samstag.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Somit verschob ich das mit dem Packen auf heute Nacht oder morgen und beschloss lieber am Blog zu arbeiten. Ich machte mich also auf die Suche nach einem B&auml;cker, um mir ein trockenes Br&ouml;tchen gegen den Hunger zu besorgen und mich dann irgendwo in ein Cafe mit einem Milchshake zu setzen.
        </p>
        <p>
            Ich fand einen sch&ouml;nen kleinen Laden in einer Seitenstra&szlig;e und die Auslage sagte, Kalorien hoch 15. Kekse, Popcorn, Sahnetorten. Ein Gl&uuml;ck habe ich mich unter Kontrolle und bestellte nur einen Ananas Fruchtshake ohne extra Zucker. Einige Zeit sp&auml;ter meldete sich der Mittagshunger und das Cafe f&uuml;llte sich zusehends. Ich machte mich dann auf den Weg in ein Restaurant mit Strandblick. Dort blieb ich auch noch einige Zeit und genoss die Aussicht, bevor ich mich wieder auf den Weg zur&uuml;ck ins Apartment machte, denn so langsam rief die Arbeit wieder.
        </p>
        <p>
            Oh eins noch. Morgen geh ich wieder tauchen. Freu mich drauf.
        </p>
    </div>
</div>
<!--=== End Post ===-->
