---
layout: blog/de/travel-blog
title: "13. & 14.03.2018 Arbeit genie&szlig;en"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Gestern und heute standen wieder ganz im Zeichen der Arbeit. Als ich gestern fr&uuml;h Aufstand und einen Blick Richtung Meer warf, sah ich ..."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4547.jpg"
    alt: "Paradiesische Ruhe am Strand"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
            … nichts. Eine graublaue Wand, k&uuml;ndigte schlechteres Wetter an. Ich lie&szlig; mich davon aber erst einmal nicht beeindrucken und ging die Promenade entlang und machte es mir dann in einem Coffee Shop bequem mit Blick aufs Wasser. Es dauert gar nicht lange bis es anfing zu st&uuml;rmen und zu regnen. Somit richtete ich mich gem&uuml;tlich mit einem weiteren Getr&auml;nk ein und fing an zu arbeiten. Als einige Stunden sp&auml;ter, das Wetter besser wurde nutzte ich die Chance, ging fix einkaufen und machte mich dann auf den Weg zur&uuml;ck ins Apartment.
        </p>
        <p>
            Heute morgen beschloss ich dann, mich wieder in den Bus nach Dauin zu setzen, um dort ein wenig am Blog zu basteln und meine F&uuml;&szlig;e ins Wasser zu bekommen. In Dauin machte ich es mir nat&uuml;rlich wieder im Dauin Dive Cafe gem&uuml;tlich und genoss die interessanten Gespr&auml;che mit den anderen Tauchern.
        </p>
        <p>
            Nachmittags ging ich dann noch ein sch&ouml;nes St&uuml;ck am Strand spazieren und genoss die W&auml;rme und das Wasser. Ein wirklich sch&ouml;nes kleines St&uuml;ck Paradies. So sch&ouml;n ruhig und entspannt. Irgendwann musste ich mich aber wieder auf den R&uuml;ckweg nach Dumaguete machen, denn die Arbeit rufte.
        </p>
        <p>
            Nach der Arbeit telefonierte ich dann noch lange mit Steffi und wir fanden spontan ein sch&ouml;nes kleines Resort auf der Insel Bohol, was uns wirklich gut gefiel. Das Blue Star Dive & Resort liegt an einer Steilklippe mit einem Ministrand direkt davor. Es gefiel uns so sehr, dass wir es spontan f&uuml;r das Osterwochenende buchten.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
