---
layout: blog/de/travel-blog
title: "19.03. Umzug ins Resort"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Dumaguete
  - Zamboanguita

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Nach einer ziemlich unruhigen und verdammt kurzen Nacht, haben wir uns morgens erst einmal mit"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4677.jpg"
    alt: "Restaurant und Strandbar"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}  dem Tricycle zum n&auml;chsten Shoppingcenter fahren lassen. Hier besorgten wir noch Getr&auml;nke, Fr&uuml;hst&uuml;ck f&uuml;r die n&auml;chsten Tage sowie Kleinkram. Anschlie&szlig;end ging es dann ins, zumindest f&uuml;r Basti, altbekannte Rollin Pin-Café und dort gab es erst einmal anst&auml;ndiges Fr&uuml;hst&uuml;ck. Basti hat dann schon mal ein St&uuml;ck vorgearbeitet, w&auml;hrend ich mir die Zeit mit lesen vertrieben habe. So langsam ging es dann auf 12h zu und wir fuhren via tricycle zur&uuml;ck zum Hostel, da um 12h Check-out war.
        </p>
        <p>
            Nachdem dort alles erledigt war, ging es f&uuml;r uns zum Busbahnhof und zum Gl&uuml;ck stand der passende, und vor allem klimatisierte, Bus schon bereit und 2 zusammenh&auml;ngende Pl&auml;tze waren auch noch frei. Gl&uuml;ck muss man haben! Hinter uns sa&szlig; eine Familie, die sichtlich Spa&szlig; mit uns Europ&auml;ern hatte, vor allem, wenn diese auch noch reagieren und den Spa&szlig; mitmachen. Nachdem die Fahrt losging, kam ziemlich schnell der Fahrkarte-Verteiler rum und stellte jedem seine Karte aus. Bezahlt wird erst in der zweiten Runde, wenn alle versorgt sind. Nachdem dann noch kassiert wurde, folge sein dritter Durchgang: Wechselgeld zur&uuml;ck geben! Erstaunlicher Weise wei&szlig; der immer ganz genau, was ihm wer gegeben hat!!! Ich w&auml;re hoffnungslos aufgeschmissen.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>&nbsp;</p>
        <p>
            In Zamboanguita angekommen, wurden wir gleich schon von einem Tricycle-Fahrer aufgesammelt, welcher uns auf einer ziemlich neuen Maschine, inkl. viel PS, zum Resort bringen sollte. Die PS wollte er uns auch gleich pr&auml;sentieren, er war auch sichtlich stolz darauf, aber wir haben ihn doch freundlich gebremst! Die restlichen Meter abseits der Hauptstra&szlig;e gingen &uuml;ber eine sandige Holperpiste, bis wir endlich ankamen. Leider war unser Zimmer noch nicht fertig, so dass wir uns erst einmal kalte Drinks g&ouml;nnten und uns den Strand anschauten. Leider erwies sich dieser Strandabschnitt als sehr steinig im Meer, aber es gibt ja zum Gl&uuml;ck noch Ausweichm&ouml;glichkeiten nach links oder rechts. Nachdem wir kurze Zeit sp&auml;ter das Zimmer bezogen-klein, fein und vor allem aber sauber- ging es f&uuml;r uns zur&uuml;ck zur Bar. Basti fing an zu arbeiten und ich suchte mir ein sch&ouml;nes Pl&auml;tzchen und genoss erst einmal. Mehr passiert an dem Tag dann auch nicht, au&szlig;er einem guten Mittag-/Abendessen.
        </p>
    </div>
</div>
<!--=== End Post ===-->
