---
layout: blog/de/travel-blog
title: "Einleitung: Canada Brothers"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2019-kanada

locations:
  - Kanada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "Die Skyline von Toronto vom Flieger aus gesehen"

author: "Matze"

overview:
  intro: "Moin Gemeinde! Nun sitze ich hier im Zug von Montreal nach Toronto und tippe, very wichtig, diesen Blog. Und liebe M&auml;dels, solltet ihr"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5203.jpg"
    alt: "Matze im Zug am Blog schreiben"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Rechtschreib,- und Grammatikfehler finden d&uuml;rft ihr sie behalten.
        </p>
        <p>
            Warum sitze ich hier? Weil mein Bruder als Speaker an der ConFoo IT Konferenz in Montreal teilnimmt. Mein Bruder, das ist Sebastian, bekannt aus Blogs wie: Workation Philippinen und Australienreise 2017.
        </p>
        <p>
            Ach so, ich bin Matthias. Gro&szlig;er Bruder des kleinen Sebastian;)
        </p>
        <p>
            Da Basti’s Steffi nicht nach Kanada reisen kann, haben wir entschieden, dass ich als Chronist mitfahre. Leider musste ich daf&uuml;r in den Winterferien arbeiten.
        </p>
        <p>
            Der grobe Plan steht bereits seit November und seitdem haben wir alles generalstabsm&auml;&szlig;ig geplant. Wir entschieden, dass wir 4 volle Tage vor der Konferenz nach Kanada fliegen und uns mal Nordamerika im Winter anschauen. Also haben wir einen Plan und die n&auml;chsten Tage werden zeigen ob der funktioniert. Falls nicht, haben wir einen Plan B!
        </p>
        <p>
            Selbstverst&auml;ndlich handelte ich mir ein paar Tage vorher noch einen Infekt ein. Den brachte mein lieber Sohn aus der Schule mit. Danke daf&uuml;r, Ceddi. Deshalb fiel es mir auch schwer mich vorzubereiten. Parallel dazu gab es noch ein paar private Dinge zu organisieren. Aber nun ist es fast wieder gut.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Und pl&ouml;tzlich und unerwartet war der 08.03.2019 da.
        </p>
    </div>

</div>
<!--=== End Post ===-->
