---
layout: blog/de/travel-blog
title: "Einleitung: Canada Brothers"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Kanada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "Die Skyline von Toronto vom Flieger aus gesehen"

author: "Matze"

overview:
  intro: "Moin Gemeinde! Nun sitze ich hier im Zug von Montreal nach Toronto und tippe, very wichtig, diesen Blog. Und liebe Mädels, solltet ihr"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5203.jpg"
    alt: "Matze im Zug am Blog schreiben"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Rechtschreib,- und Grammatikfehler finden dürft ihr sie behalten.
        </p>
        <p>
            Warum sitze ich hier? Weil mein Bruder als Speaker an der ConFoo IT Konferenz in Montreal teilnimmt. Mein Bruder, das ist Sebastian, bekannt aus Blogs wie: Workation Philippinen und Australienreise 2017.
        </p>
        <p>
            Ach so, ich bin Matthias. Großer Bruder des kleinen Sebastian;)
        </p>
        <p>
            Da Basti’s Steffi nicht nach Kanada reisen kann, haben wir entschieden, dass ich als Chronist mitfahre. Leider musste ich dafür in den Winterferien arbeiten.
        </p>
        <p>
            Der grobe Plan steht bereits seit November und seitdem haben wir alles generalstabsmäßig geplant. Wir entschieden, dass wir 4 volle Tage vor der Konferenz nach Kanada fliegen und uns mal Nordamerika im Winter anschauen. Also haben wir einen Plan und die nächsten Tage werden zeigen ob der funktioniert. Falls nicht, haben wir einen Plan B!
        </p>
        <p>
            Selbstverständlich handelte ich mir ein paar Tage vorher noch einen Infekt ein. Den brachte mein lieber Sohn aus der Schule mit. Danke dafür, Ceddi. Deshalb fiel es mir auch schwer mich vorzubereiten. Parallel dazu gab es noch ein paar private Dinge zu organisieren. Aber nun ist es fast wieder gut.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Und plötzlich und unerwartet war der 8.3. da.
        </p>
    </div>

</div>
<!--=== End Post ===-->
