---
layout: blog/de/travel-blog
title: "14.03.19 Canada Brothers Day 6 & 7"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2019-kanada

locations:
  - Kanada
  - Montreal

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "Die Skyline von Toronto vom Flieger aus gesehen"

author: "Matze"

overview:
  intro: "Diese beiden Tage liefen ziemlich ähnlich ab. Basti organisierte Obst und Kuchen zum Frühstück. Dann musste er arbeiten und nebenbei noch gesund"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7843.jpg"
    alt: "Hauptsaal der ConFoo.ca Konferenz"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} werden.
        </p>
        <p>
            Ich habe mir also, mal wieder, alleine die Stadt angeschaut. Außerdem hatte ich ja noch Souveniraufträge zu erfüllen. Ein paar Kirchen hab ich mir angesehen und abends sollte es eigentlich Partys auf der Konferenz geben.
        </p>
        <p>
            Diese waren aber eher lahme Veranstaltungen. So sind wir noch auf einen Drink in die Hotel Bar. Einen Drink für mich und wegen der Medikamente für Basti nur eine Limonade.
        </p>
        <p>
            Danach ging es wie üblich pünktlich zu Bett.
        </p>
        <p>
            Gute Nacht da draußen
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div>
<!--=== End Post ===-->
