---
layout: blog/de/travel-blog
title: "08.03.19 Canada Brothers Day 1"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2019-kanada

locations:
  - Hamburg
  - London
  - Montreal
  - Deutschland
  - Great Britain
  - Kanada

headline:
  image:
    url: "/assets/img/blog/2019-canada/headline-flug-montreal.jpg"
    alt: "Die Skyline von Toronto vom Flieger aus gesehen"

author: "Matze"

overview:
  intro: "Den Mietwagen der Marke Elefantenrollschuh habe ich gestern schon geholt. Nach dem Abschied von meiner, mich meistens liebenden, Ehefrau und meinem"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7789.jpg"
    alt: "Unsere Flugtickets mit dem Upgrade"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Sohn fuhr ich nach Ahrensburg. Merke: Kleinwagen auf der Autobahn bei Sturm sind nicht lustig!
        </p>
        <p>
            In Ahrensburg angekommen, sammelte ich Basti samt Gep&auml;ck ein und wir fuhren gleich zum Flughafen. Dort wurden wir wirklich schnell und problemlos den Mietwagen los. Nun hatten wir noch reichlich Zeit bis zum Boarding. Also erstmal im „Restaurant zur Goldenen M&ouml;we“ die Stullen ausgepackt und gefr&uuml;hst&uuml;ckt. Zwei Stunden vor Abflug wollten wir das Gep&auml;ck aufgeben.
        </p>
        <p>
            PANIK: mit meiner Einreisebest&auml;tigung f&uuml;r Kanada stimmt etwas nicht. Bei Beantragung des ETA habe ich die Passnummer nicht richtig eingegeben. Das eine O war in Wirklichkeit eine 0. Wie wir nun lernen durften gibt es in Passnummern keine O’s. Zum Gl&uuml;ck konnte die Dame am Schalter das Problem kl&auml;ren. Dank unserer exzellenten Vorbereitung haben wir auch den Sicherheitscheck fix passiert.
        </p>
        <p>
            Der Flug nach London Heathrow verlief Ereignislos bis auf die Tatsache, das British Airways jetzt auf Kurzstreckenfl&uuml;gen Geld f&uuml;r Getr&auml;nke nimmt. Fr&uuml;hzeitig in London angekommen hatten wir wieder einen Sicherheitscheck zu passieren. Also alle elektronischen Ger&auml;te wieder auspacken. Und davon haben wir einige dabei.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            An der Bordkartenkontrolle (die wir auf dem Handy hatten) dann der n&auml;chste Schock. „Bitte melden sie sich am Schalter“. Dort wurde uns aber mitgeteilt, dass wir ein Upgrade in die World Traveller Plus Klasse bekommen. Super!!! Also mit Grinsen im Gesicht bisschen im Harry Potter Shop geschm&ouml;kert und dann noch fix ein paar Pommes gegessen. Im Wartebereich versuchten wir unauff&auml;llig, unter Lachkr&auml;mpfen, in unsere Thrombosesocken zu kommen. Was auch fast funktionierte.
        </p>
        <p>
            Das Einsteigen in die Boing 787 nach Montreal begann erstmal mit einer halben Stunde Versp&auml;tung. Wir durften mal wieder mit dem Bus zum Flieger. Unsere Pl&auml;tze waren super. Wir konnten zusammen sitzen und sogar die Beine lang machen. Es gab Kissen, Decke, ger&auml;uschd&auml;mmende Kopfh&ouml;rer und lecker Essen. Und auch die Getr&auml;nke waren inklusive. Also bestellen wir uns erstmal Bier und Whisky um auf unsere Reise anzusto&szlig;en. Der Flieger startete dann mit 1,5 Stunden Versp&auml;tung um 18:12 da auch noch das Pushback Fahrzeug kaputt war. Mit etwas R&uuml;ckenwind landeten wir 19:52 in Montreal. Ortszeit selbstverst&auml;ndlich. Nun haben wir eine Zeitverschiebung von 6 Stunden zu Deutschland.
        </p>
        <p>
            Die Einreise nach Kanada lief erstaunlich reibungslos. Pass scannen, Foto machen, schriftlichen und m&uuml;ndlichen Test und schon waren wir in Kanada.
        </p>
        <p>
            Nun noch das wichtigste: Telefonkarten f&uuml;rs Handy organisieren. Auch das ging schnell und so lieferte uns der Uber gegen 21:30 im BestWestern Hotel ab. Das Zimmer war ganz ok, wir m&ouml;lten  noch ein bisschen umher und sind dann p&uuml;nktlich 22:30 ins Bett.
        </p>
        <p>
            Gute Nacht da drau&szlig;en.
        </p>
    </div>

</div>
<!--=== End Post ===-->
