---
layout: blog/de/travel-blog
title: "10.03.19 Canada Brothers Day 3"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2019-kanada

locations:
  - Kanada
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "Die Skyline von Toronto vom Flieger aus gesehen"

author: "Matze"

overview:
  intro: "Bis wir morgens in die G&auml;nge kamen, dauerte es eine Weile. Basti arbeitete noch an seinen Vortr&auml;gen und ich befasste mich mit dem Fr&uuml;hst&uuml;ck und"
  image:
    url: "/assets/img/blog/2019-canada/small/LRG_MTS00552.jpg"
    alt: "Unsere Unterkunft ist das Hochaus mit den runden L&ouml;chern in der Dachplatte"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} der weiteren Planung f&uuml;r den Tag.
        </p>
        <p>
            Wir hatten gestern vom Zug aus einen alten Stadtteil gesehen der sich Distillery District nennt. Den mussten wir, als Whisky Fans, nat&uuml;rlich genauer erkunden. Dorthin wollten wir mit der Stra&szlig;enbahn fahren. Aber erstmal finden! Toronto durchzieht ein &uuml;ber 30 Km langes Netz von Tunneln die die einzelnen Geb&auml;ude verbinden. Also theoretisch. Praktisch wird an vielen Verbindungen noch gebaut und so verliefen wir uns erst einmal in diesem Labyrinth. Man kann sich ja nicht wirklich orientieren und das Navi ist auch keine Hilfe.
        </p>
        <p>
            Irgendwann fanden wir zur&uuml;ck ans Tageslicht und dann auch die Stra&szlig;enbahn.
        </p>
        <p>
            Also dann zum Distillery District. Der entpuppte sich als ein kleiner niedlicher Stadtteil aus ehemaligen Schnapsbrennereien in denen jetzt kleine Kunstgewerbel&auml;den und Gastst&auml;tten sind. &Uuml;berall hat man moderne Kunst auf die Wege gestellt. Dort waren wir also fix fertig. Dann also wieder in die Stra&szlig;enbahn und auf nach China-Town. Dort gibt es hunderte kleine L&auml;den und tausende Restaurants oder Imbissbuden. An jeder Ecke riecht es anders. Wir kehrten in ein Café ein und bestellten Waffeln mit Schokolade. Beim Essen beschlossen wir noch zum CN Tower zu fahren. Der steht gleich neben unserer Unterkunft und ist eigentlich ein Fernsehturm. Mittlerweile ist der Turm DAS Wahrzeichen von Toronto.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Auf dem Weg dorhin suchten wir noch schnell einen GeoCache an einer Schule. Dieser war, mit dem Hinweis, schnell gefunden. Leider war der Zettel darin nass und wir konnten uns nur Digital verewigen. Oben im CN Tower angekommen genossen wir die Aussicht &uuml;ber die Stadt und machten, wie alle anderen auch, die &uuml;blichen Fotos.
        </p>
        <p>
            Dann noch ein paar Kleinigkeiten eingekauft und Pizza zum Abendbrot gemacht. Diese l&ouml;ste erstmal beim Backen den Feueralarm aus, war dann aber sehr lecker.
        </p>
        <p>
            Gute Nacht da drau&szlig;en.
        </p>
    </div>

</div>
<!--=== End Post ===-->
