---
layout: blog/de/travel-blog
title: "15.03.19 Canada Brothers Day 8"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2019-kanada

locations:
  - Kanada
  - Montreal

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "Die Skyline von Toronto vom Flieger aus gesehen"

author: "Matze"

overview:
  intro: "Auch heute das &uuml;bliche Prozedere. So langsam komme ich in Stress, denn ich brauche noch eine Sportjacke mit Kanada Aufdruck f&uuml;r mein Lieblingskind."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5328.jpg"
    alt: "Montreals Innenstadt vom Hafen aus gesehen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Also bin ich wieder mal in den Untergrund abgetaucht und 15 km durch die Einkaufszentren gelaufen. Hab alles gefunden bis auf die Trainingsjacke.
        </p>
        <p>
            Dann war erstmal ein Mittagsschlaf f&auml;llig.
        </p>
        <p>
            Sp&auml;ter sind wir dann beide noch einmal los. Schlie&szlig;lich wollte Basti auch noch etwas von Kanada sehen. Gemeinsam fanden wir noch einen Sportladen im Bell Center. Das ist eine gro&szlig;e Sportarena in der auch Konzerte stattfinden und die Montreal Canadiens spielen. Eishockey nat&uuml;rlich!
        </p>
        <p>
            Dort fanden wir dann auch die Trainingsjacke und eine M&uuml;tze f&uuml;r Basti. Wir beschlossen, die Abschlussfeier der Konferenz sausen zu lassen und liefen noch runter zum alten Hafen, vorbei an Notre Dame.
        </p>
        <p>
            Ja richtig. Die Kirche sieht auch von au&szlig;en so aus wie das Original in Paris. Daf&uuml;r ist die Kathedrale hier in Monetral, dem Petersdom im Vatikan nachempfunden. Am Hafen suchten wir noch schnell einen Geocache, damit wir wenigstens 2 von Kanada eintragen k&ouml;nnen.
        </p>
        <p>
            Anschlie&szlig;end sind wir wegen -Hunger, Pipi, Kalt- in eine Bar eingekehrt. Wir bestellten uns typisch Kanadisches Essen und Bier. Es gab H&uuml;hnchenfl&uuml;gel und Poutine. Das sind Pommes mit K&auml;sew&uuml;rfeln die mit einer Bratenso&szlig;e &uuml;bergossen werden. Recht lecker.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Und dann war auch schon wieder Schlafenszeit.
        </p>
        <p>
            Gute Nacht da drau&szlig;en
        </p>
    </div>

</div>
<!--=== End Post ===-->
