---
layout: blog/de/travel-blog
title: "11.03.19 Canada Brothers Day 4"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Kanada
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/headline-eishockey-arena.jpg"
    alt: "Die Eishockey Arena in Toronto in der sich Matze das Spiel leider alleine angeschaut hat"

author: "Matze"

overview:
  intro: "So, nun hat es das Bastikind richtig erwischt. Erkältung vom feinsten! Es liegt auf der Couch und leidet. Ich hatte gestern ja schon Zitronen und"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5264.jpg"
    alt: "Ein Foto des Spiels Toronto Marlies gegen die Bellville Senators"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Kiwis besorgt. Aber wohl leider zu spät.
        </p>
        <p>
            Mein Wunsch war es, im Mutterland des Eishockey ein Spiel live zu sehen. Die Karten dafür hatten wir schon in Deutschland besorgt. Und das Spiel ist heute! Basti hat heute nun leider Bettruhe, und so bin ich dann alleine los. Natürlich nicht ohne ihm noch eine heiße Zitrone zu machen und bei unserer Mama anzurufen.
        </p>
        <p>
            Happy Birthday!!!
        </p>
        <p>
            Das Stadion liegt direkt neben unserem Wohnturm, trotzdem brauchte ich eine Weile um den richtigen Eingang zu finden. An der Sicherheitskontrolle gabs noch eine Mütze umsonst und schon war ich drin in der Menschenmenge. Für einen Montag Nachmittag sind hier unglaublich viele Menschen die das Spiel sehen wollen. In Rostock gehen wir ja auch ab und zu mal zum Eishockey. Aber das ist überhaupt kein Vergleich. Unsere Plätze sind toll, direkt neben der Penalty Box ganz vorn an der Scheibe. Leider ist der Platz neben mir leer. Die Stimmung im Stadion ist super, die Leute singen selbst bei der Nationalhymne laut mit. Leider verliert Toronto trotzdem 3:5 gegen Bellville. Trotzdem bleibt alles entspannt. Niemand ist aggressiv. Es gibt keine Fanblocks. Die Fans der gegnerischen Mannschaften sitzen bunt durcheinander in den Reihen. Ein wirklich tolles Erlebnis.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Nach dem Spiel lief ich noch durch Downtown Toronto auf der Suche nach einer Apotheke. Ich kaufte für Basti Medizin und für mich Indisches Essen zum Abendbrot. Mein Bruder hatte noch keinen Appetit. Also bekam er trockenes Brot und Kiwi. Zum Nachtisch durfte er noch inhalieren. Hoffentlich geht es ihm morgen besser.
        </p>
        <p>
            Gute Nacht da draußen
        </p>
    </div>

</div>
<!--=== End Post ===-->
