---
layout: blog/de/travel-blog
title: "09.03.19 Canada Brothers Day 2"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2019-kanada

locations:
  - Kanada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "Die Skyline von Toronto vom Flieger aus gesehen"

author: "Matze"

overview:
  intro: "Wir waren fr&uuml;hzeitig wach und stellten fest, dass sich der gef&uuml;rchtete Jetlag nur moderat &auml;u&szlig;erte. Das wir so fr&uuml;h wach wurden lag n&auml;mlich an"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7811.jpg"
    alt: "Matze und Sebastian vor dem kanadischen Zug in Toronto"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} der lauten Klimaanlage die dauernd ansprang. Richtig wach wurden wir aber erst nachdem der Feueralarm ausgel&ouml;st wurde. Also mal fix in die Hosen gesprungen. Zum Gl&uuml;ck wurde nicht evakuiert. Doch als wir sp&auml;ter in die Hotelhalle kamen, roch es nach Karamell und die Feuerwehrleute standen relativ entspannt rum.
        </p>
        <p>
            Nun also Fr&uuml;hst&uuml;ck. In meiner Funktion als „Feelgood Manager“ hatte ich schon ein Lokal herausgesucht. Dort gab es dann, typisch Kanadisch, Zimtbr&ouml;tchen mit Speck und Ei unter einem Berg von frischen Fr&uuml;chten. Selbstverst&auml;ndlich sollte dieses dann noch mit Ahornsyrup &uuml;bergossen werden. Sehr lecker!
        </p>
        <p>
            Frisch gest&auml;rkt gaben wir unsere gro&szlig;en Koffer noch im Hotel Bonaventure ab. Dort findet dann ab Mittwoch die Konferenz statt. Mittags fuhren wir dann, mit kleinem Gep&auml;ck, per Bahn von Montreal nach Toronto. So gewannen wir einen ersten Eindruck von der Weite des Landes. Wirklich sehr viel Gegend hier. Unterwegs begann ich dann diesen Blog zu schreiben.
        </p>
        <p>
            Mit weniger Versp&auml;tung als bei der Deutschen Bahn, kamen wir in Toronto an.
        </p>
        <p>
            Das von uns gemietete Apartment fanden wir in einem der Wolkenkratzer gleich neben dem Bahnhof. Nur der Weg dorthin war etwas umst&auml;ndlich, da hier alles zugebaut ist. Man weiss gar nicht in welchem Geb&auml;ude man sich befindet und &uuml;berall wird gebaut.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Ein sehr gehetzt wirkender junger Mann brachte uns hoch in den 13. Stock und &uuml;bergab uns die Schl&uuml;ssel. Die Wohnung ist sehr modern mit Bodentiefen Fenstern und zwei Schlafzimmern.
        </p>
        <p>
            Wir hielten uns nicht lange auf und gaben unserem Bewegungsdrang nach. Wir liefen am Wasser entlang bis uns kalt wurde. In einem der Hochh&auml;user fanden wir einen kleinen Supermarkt. Dort kauften wir Steaks und Gem&uuml;se f&uuml;rs Abendessen und sogar richtiges K&ouml;rnerbrot f&uuml;rs Fr&uuml;hst&uuml;ck.
        </p>
        <p>
            Also machte ich mich ans Kochen und so sehr alt wurden wir dann auch nicht mehr.
        </p>
        <p>
            Gute Nacht da drau&szlig;en.
        </p>
    </div>

</div>
<!--=== End Post ===-->
