---
layout: blog/de/travel-blog
title: "01.07.2021 Ein Letztes mal Baad"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2021-alpen

locations:
  - Deutschland
  - Österreich

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Der letzte Tag startete, wie könnte es anders sein, mit Regen. In der Nacht hat es leise aufs Autodach getrommelt, am Morgen war alles grau und"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0655.jpeg"
    alt: "Der blick von oben in Richtung Baad"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} feucht. Also ließen wir es langsam angehen, trödelten ein bisschen herum, lasen, packten schon mal Kleinigkeiten zusammen – und warteten auf eine Wetterlücke.
        </p>
        <p>
            Gegen kurz nach elf sah es endlich ein bisschen freundlicher aus. Also rein in die Schuhe und los nach Oberstdorf. Dort schlenderten wir durch die Straßen, warfen letzte Blicke in Schaufenster und überlegten, ob wir noch ein Mitbringsel brauchen – die übliche „Gott ist das schön hier“-Runde.
        </p>
        <p>
            Aber irgendwie zog es uns dann doch noch einmal zurück nach Baad. Vielleicht war es die Lust auf einen letzten Bergblick, vielleicht aber auch der Schoko-Bananen-Kuchen, den ich gestern schon im Kopf hatte. Jedenfalls: Es hat sich gelohnt. Der Kuchen war fantastisch, und dazu gab’s ein wenig Sonne auf der Nase – fast wie ein kleines Abschiedsgeschenk.
        </p>
        <p>
            Nach der Stärkung machten wir noch einen kleinen Spaziergang den Hang hinauf, um die Webcam zu suchen, die wir im Winter regelmäßig zur „Schneekontrolle“ ansteuern. Mal schauen wie es um die Kamera herum aussieht.
        </p>
        <p>
            Zum Abschluss gönnten wir uns noch ein richtig gutes Abendessen, bevor es wieder zurück nach Oberstdorf ging. Dort ließen wir den Tag ruhig ausklingen, mit müden Beinen, vollem Bauch und einem letzten Blick auf die Berge.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Ein entspannter letzter Tag – ein letzter Blick auf die Berge, ein letzter Bissen Kuchen – und ganz viel Vorfreude aufs nächste Mal.
        </p>
    </div>

</div>
<!--=== End Post ===-->
