---
layout: blog/de/travel-blog
title: "20.06.2021 Rubi Camp Oberstdorf"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2021-alpen

locations:
  - Deutschland
  - Ulm
  - Kempten
  - Sonthofen
  - &Ouml;sterreich
  - Riezlern

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Irgendwann am viel zu fr&uuml;hen Morgen weckte uns das Gewitter und Basti verzog sich nach vorne. Bei Regen auf dem Dach kann Basti nur schlecht"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0551.jpg"
    alt: "Riezlern und die Seilbahn zur Kanzelwand"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} schlafen, ich daf&uuml;r schlummere um so besser.
        </p>
        <p>
            Irgendwann in der Nacht hatten sich die Rettungskr&auml;fte verzogen, auf dem Platz herrschte wieder Ruhe und Entspannung, als wir so langsam zusammenpackten. Zumindest solange, bis wieder der Alarm nebenan losbrach. Die Rettungskr&auml;fte ben&ouml;tigten nur 8 Minuten bis sie wieder vorfuhren. Ein Teil fuhr allerdings recht schnell wieder ab und wir machten uns ebenfalls auf den Weg.
        </p>
        <p>
            Nachtrag; wie wir mittlerweile aus der Presse wissen, ist Ammoniak ausgetreten!
        </p>
        <p>
            Zwischenziel: Kempten!
        </p>
        <p>
            Dort gab es lecker Fr&uuml;hst&uuml;ck in einen wohl sehr angesagten Café. Zumindest lie&szlig; das Klientel und auch die Preise darauf schlie&szlig;en. Leider war das aber auch die einzige M&ouml;glichkeit, was zu essen zu finden, die Stadt war ansonsten n&auml;mlich ausgestorben.
        </p>
        <p>
            Als n&auml;chstes steuerten wir Sonthofen an. Dort gibt es ein Automaten-Supermarkt, welchen wir eigentlich pl&uuml;ndern wollten. Die Preise haben uns dann aber eines besseren belehrt und wir sind gleich weiter ins Kleinwalsertal  gefahren, und haben dort im Spar das n&ouml;tigste gekauft. Mittlerweile war es dann auch schon nach 15h und wir g&ouml;nnten uns in einem Restaurant gegen&uuml;ber der Kanzelwandbahn was leckeres, bevor wir nach Oberstdorf zur&uuml;ck fuhren und auf dem Rubi Camp eincheckten.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Hier genie&szlig;en wir nun den ausklingenden Tag bei immer wieder mal auftretenden Regen und freuen uns auf hoffentlich 12 wunderbare Tage in und ums Kleinwalsertal.
        </p>
    </div>

</div>
<!--=== End Post ===-->
