---
layout: blog/de/travel-blog
title: "18.06.2021 H&uuml;nfeld"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2021-alpen

locations:
  - Deutschland
  - H&uuml;nfeld

author: Steffi &amp; Basti

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Endlich ist es wieder soweit... Urlaub und zwar richtiger. Nicht einfach mal ein Wochenende, sondern 3 lange (... oder auch viel zu kurze)"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0435.jpg"
    alt: "Wildwiese"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Wochen!
        </p>
        <p>
            Bis heute zum Abreisetag hatten wir keinen Plan wo es hingehen sollte. Fest stand nur, dass es die Berge in &Ouml;sterreich werden. Mutig wie wir sind, haben wir auch nichts gebucht.
        </p>
        <p>
            Gestern Abend hatten wir mal das Rubi Camp in Oberstdorf angeschrieben, um einfach mal nachzufragen, wie es mit Platz aussieht. Prompt hatten wir die R&uuml;ckmeldung und auch schon die Buchungsbest&auml;tigung. Ok, dann kein Salzburger Land etc, sondern wieder ins Kleinwalsertal. Da haben wir die Bequemlichkeit, dass wir wissen wie gut alles ausgebaut ist und vor allem wie schick das dort ist.
        </p>
        <p>
            Die 2. Corona Impfung gestern haben wir gut vertragen, also ging es heute gleich fr&uuml;h auf die A7 Richtung S&uuml;den. Die Autobahn war recht leer und wir fuhren knappe 430 km bis nach H&uuml;nfeld.
        </p>
        <p>
            Der Stellplatz lag direkt neben einem Freibad, allerdings waren wir durch die Hitze so derma&szlig;en im Eimer, dass wir nur noch die Klimaanlage anschmissen und mehr oder weniger erst einmal Komat&ouml;s aufm Bett lagen.
        </p>
        <p>
            Sp&auml;ter gabs nur noch einige Folgen unserer Lieblingsserie auf die Augen, bis das Traumland folgte.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div>
<!--=== End Post ===-->
