---
layout: blog/de/travel-blog
title: "21.06.2021 Nebelhorn ohne Nebel"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2021-alpen

locations:
  - Deutschland
  - Oberstdorf

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Heute ging es nach dem Fr&uuml;hst&uuml;cken direkt zur neuen Nebelhornbahn. Drum herum ist zwar noch Baustelle, aber die Bahn ist schon in Betrieb. So ging"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0467.jpg"
    alt: "Blick rauf zumn Nebelhorn"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} es ohne anstehen auf 2224 m H&ouml;he inkl. traumhaften Ausblick bei muckeligen 13grad. Die Sonne brannte daf&uuml;r aber kr&auml;ftig, so dass die Temperatur nicht einmal auffiel. Ein kleiner Rundgang und wir g&ouml;nnten uns erst einmal eine Erfrischung mit Aussicht, bevor wir uns an den Abstieg zur n&auml;chsten Station machen. Anders als bei unserem ersten Mal auf dem Nebelhorn, lag diesmal noch sehr viel Schnee, welcher fr&ouml;hlich vor sich hinschmolz. Sch&ouml;n anzusehen, allerdings f&uuml;hrte das auch dazu, dass die Wege schon teilweise sehr rutschig waren. Ein Schritt nach dem anderen und bewaffnet mit Wanderst&ouml;cken ging das aber ganz gut.
        </p>
        <p>
            An der Station angekommen, plagte uns so langsam der Hunger. Bevor wir es uns aber in der Gastst&auml;tte dort oben bequem machten, beschlossen wir noch eine weitere Station mit der Bahn weiter runter zu fahren, um die dortige mal auszuprobieren. Bevor wir uns dort aber einen Tisch suchten, gingen wir um den neuangelegten See, in dem es von Kaulquabben und Salamanders wimmelte. Echt schick, aber f&uuml;r unseren Geschmack zu wenig B&auml;nke. Sp&auml;ter gab es dann lecker Mittag mit Aussicht.
        </p>
        <p>
            Da wir nicht mit den Massen wegen der letzten Bahn nach unten fahren wollten, machten wir uns irgendwann auf zur Seilbahn. Nichts los, wollten wir in eine Gondel einsteigen, wo schon zwei &auml;ltere drin sa&szlig;en. Der Blick und auch die Art wie sie dort sa&szlig;en, sprach eigentlich schon B&auml;nde (Beine sch&ouml;n lang machen bzw auf der Bank gegen&uuml;ber) aber h&ouml;flich wie wir sind „d&uuml;rften wir bitte“, kam als Antwort nur „nehmen sie doch einfach die n&auml;chste“. Echt jetzt, dachte ich nur. Prompt rutschte mir ein „Arrogantes Arschloch“ raus.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Basti wollte das eigentlich nicht auf sich sitzen lassen. Er schaute ob die n&auml;chsten mit machen und wir uns einfach zu viert &uuml;ber das Arschloch hinwegsetzen und trotzdem in die Gondel einsteigen. Leider wollten sie nicht mitmachen und wir warteten auf die n&auml;chste Gondel. Dort sa&szlig; auch nur ein Ehepaar drin. Die waren aber freundlicher und machten prompt Platz. Die Frau hatte eine verbl&uuml;ffende &Auml;hnlichkeit mit unserer Haus&auml;rztin. Es h&auml;tte die gro&szlig;e Schwester sein k&ouml;nnen. Auf Nachfrage verneinte sie allerdings die Verwandtschaft. Unten im Ort schlenderten wir noch ein wenig durch die Einkaufsstra&szlig;e, besorgten Brot und landeten mal wieder im Franziskus Café. Es gab viel zu lachen dazu Crêpes bzw.  Windbeutel mit Eis und Erdbeeren.
        </p>
    </div>

</div>
<!--=== End Post ===-->
