---
layout: blog/de/travel-blog
title: "22.06.2021 Ähm Fahrkarte?!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2021-alpen

locations:
  - Deutschland
  - Oberstdorf
  - Österreich
  - Hirscheck

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Heute haben wir uns eine Route am Fluss Breitach ausgesucht. Somit ging es mit Frühstück To Go  zum Walserbus, um ins Kleinwalsertal zu kommen."
  image:
    url: "/assets/img/blog/2021-alps/IMG_0519.jpg"
    alt: "Ein schönes Haus im Kleinwalsertal"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Dieser kam auch unmittelbar, Karten an das Lesegerät gehalten und möööp, nix ist. Nochmal… weiter möööp. Hä? Ok, erst einmal fix eine einfache Fahrt bezahlen und dann sehen wir weiter. Beim sitzen dann gegrübelt, was denn nicht stimmte. Das war doch immer dabei, oder doch nicht? Was haben wir denn immer dazu gebucht?!?
        </p>
        <p>
            Naja im Kleinwalsertal wollten wir dann den Bus wechseln und wieder mööööp. Und dann machte es bei uns Klick. Wir mussten das Busticket immer noch separat dazu buchen, da wir auf Deutscher Seite übernachenten. Direkt im Kleinwalsertal ist die Fahrkarte in der Kurkarte integtiert. Das haben wir irgendwie gekonnt verdrängt und so schlugen wir anstatt unserer angepeilte Route, die Route zum Walserhaus ein, um dort die Fahrkarten nach zu buchen. Anstatt die 2,5 Kilometer an der Straße zu laufen, gingen wir ein Stück am Breitach lang und genossen die angenehme Luft direkt am Wasser. Im Walserhaus angekommen, buchten wir über einige Diskussionen hinweg, dann die Fahrkarten für die nächsten Tage nach und beschlossen erst einmal eine Runde Sessellift am Heuberg zu fahren. Auf dem Weg nach unten zog dann schon ein recht frischer Wind auf und die ersten dicken Wolken kamen ins Sichtfeld. So landeten wir also erst einmal in dem angrenzenden Café und aßen zu Mittag. Mittlerweile zog es sich weiter zu und die Wetter App erzählte was von Gewitter. Hm ok, wir hatten kurze Sachen an und uns wurde es dann doch langsam zu frisch. Also nochmal fix zum Supermarkt und dann ging die Fahrt zurück, mit gültigen Bustickets, nach Oberstdorf.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Dort dann noch schnell die Autovermietung angesteuert und für das Wochenende einen Mietwagen klar gemacht. Dieses Mal wollen wir nämlich mal ein wenig rausfahren und auch andere Gegenden erkunden. Nachdem der Papierkram dort erledigt war, ging es zurück zum Campingplatz und wir machten es uns bequem.
        </p>
        <p>
            Die Wolken verzogen sich größtenteils wieder, ohne Regen und Gewitter, so dass wir nochmal zu einer Runde am Illersprung loszogen. Anschließend gabs lecker gegrilltes, bis wir uns ins Auto verziehen mussten, da es wieder zu schütten anfing.
        </p>
        <p>
            Um 22h hörte es endlich soweit auf zu Regnen, dass ich mich zur Dusche aufmachte. Wie sich später herausstellte, beschissene Idee! Denn dieser Abend endete auf der Polizeiwache von Oberstdorf. Zurück im Wohnmobil konnte ich erst gegen 4h morgens einschlafen.
        </p>
        <p>
            Warum?
        </p>
        <p>
            Weil sich so ein gottverdammtes Arschloch in die Duschkabine neben mir gesellte und sein Handy kurzerhand unter der Kabine in meine Richtung hielt. Also ran ans Telefon, Cops rufen, und warten. Kurz um; Die Nacht endete auf der Polizeiwache zur Vernehmung und in einer sehr unruhigen Nacht, da natürlich der Kopf nicht abschalten konnte.
        </p>
    </div>

</div>
<!--=== End Post ===-->
