---
layout: blog/de/travel-blog
title: "04.07.2021 Wanderabenteuer"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2021-alpen

locations:
  - Deutschland

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Gestern begann der Tag mit einer langen Fahrt von knapp 370 Kilometern, die uns nach Poppengrün in Sachsen führten, wo wir auf Bastis"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0677.jpeg"
    alt: "Hund Oscar"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Verwandtschaft trafen. Seine Tanten, deren Männer und dazu die Kids seiner Cousine. Ach und Hund Oscar nicht zu vergessen. Nach der Ankunft genossen wir einen entspannten Nachmittag mit Hunde Kraueln, Kuchen auf der Terrasse, gefolgt von ein paar Runden Tischtennis. Der Pool lockte, und obwohl ich ursprünglich nur mit den Füßen rein wollte, machten es die beiden Kids unmöglich, trocken zu bleiben. Schnell war ich ganz im Wasser – ein willkommener Spaß, den wir alle lachend mitnahmen.
        </p>
        <p>
            Am Abend wurde der Tag mit einem leckeren Grillessen und kühlen Getränken abgerundet. Bei netten Gesprächen ließen wir der Tag so langsam ausklingen, aber wir wussten, dass auch der nächste Tag wieder spannend werden würde.
        </p>
        <p>
            Heute begann der Tag ruhig mit einem gemütlichen Frühstück, bei dem wir mit gekochten Eiern und anderen Leckereien verwöhnt wurden. Steffi krauelte Oscar weiter in Grund und Boden. Dabei besprachen wir, dass wir bis Montag bleiben würden, bevor es weiter ins Elbsandsteingebirge geht. Gestärkt machten wir uns mittags auf den Weg, um uns mit Kerstin, Thomas und den beiden Mädels für eine Wanderung zu treffen.
        </p>
        <p>
            Es begann mit einer kleinen Verwirrung, als wir am falschen Parkplatz landeten. Doch Onkel Thomas, der uns zuvorkam, fuhr uns die 500 Meter zum richtigen Treffpunkt. Die Wanderung startete dann richtig: Zuerst eine kleine Runde um den See und anschließend ab in den Wald zur Muldenberger Talsperre. Steffi ging irgendwann ohne große Motivation vorneweg – ihr Motto: „Wenn ich stehen bleibe, komme ich nicht mehr weiter!“
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Nach etwa acht Kilometern erreichten wir die Flößerstube in Muldenberg und gönnten uns Kuchen und Getränke. Fast einstimmig beschlossen wir, den Rückweg mit dem Zug anzutreten. Auf dem Weg zum Zug hatten die Mädels noch ihren Spaß, als sie sich selbst mit einem Floß über einen Tümpel zogen.
        </p>
        <p>
            Zurück in Schöneck verabschiedeten wir uns von Tante, Onkel und den Mädels, nahmen uns aber noch etwas Zeit, um die IFA Ferienanlage zu erkunden. Es gibt hier wirklich viel zu entdecken – Wanderwege, Skikurse, Wellnessprogramme und vieles mehr. Nach einem kleinen Abendessen im Hotel fuhren wir zurück zu Tante Babsi und Uwe, die noch unterwegs waren. Wir machten es uns vor dem TV bequem, spielten eine Runde und unterhielten uns, bis die beiden zurückkamen. Dann war es Zeit, ins Bett zu gehen und die Erlebnisse des Tages zu verdauen.
        </p>
        <p>
            So war es ein Tag voller schöner Erlebnisse. Davon nehmen wir gerne noch viele mehr! Bis morgen
        </p>
    </div>

</div>
<!--=== End Post ===-->
