---
layout: blog/de/travel-blog
title: "07.09.2024 Marina Mall"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2024-ist-dxb

locations:
  - VAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_9715.jpg"
    alt: "Der Blick in Richtung Burj al Arab und im Hinergrund das Burj Khalifa"

overview:
  intro: "Viel stand heute wieder nicht auf dem Zettel – was auch völlig okay ist. Weiter entspannen, Hörbuch hören, ein bisschen treiben lassen. Genau"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240907-IMG_9707.jpg"
    alt: "Dubai Marina mit historischem Boot"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} so, wie es sein soll.
        </p>
        <p>
            Am Nachmittag wurde der Hunger dann doch zu groß – und zwar auf asiatisches Essen. Steffi hatte mir da einen Floh ins Ohr gesetzt. Danke dafür ;) Also: ab ins Auto und rüber zur Dubai Marina Mall. In der Umgebung sollte es einige asiatische Restaurants geben, die nicht ganz so astronomisch teuer sind.
        </p>
        <p>
            Die Mall war schnell gefunden – naja, zumindest das Gebäude. Die richtige Parkhauseinfahrt zu erwischen, dauerte dann doch drei Versuche. Aber irgendwann war das Auto abgestellt, und ich schlenderte durch die Mall. Das erste, was mir ins Auge fiel: eine Dönerbude. Großes Schild: „Berliner Döner“. Aha. Nett. Aber heute bitte kein Döner – heute will ich Asia.
        </p>
        <p>
            Im Erdgeschoss wurde ich schließlich fündig. Ein kleines asiatisches Restaurant, das nicht nur gut aussah, sondern auch gutes Essen hatte. Mission erfüllt.
        </p>
        <p>
            Anschließend lief ich noch ein wenig an der Marina entlang, genoss die Stimmung, schaute auf die Boote, auf das Wasser. Nebenbei besorgte ich mir eine Nol Card – Dubais Prepaid-Fahrkarte für den ÖPNV. Die gilt nicht nur für Bus und Metro, sondern auch für Fähren und sogar für Wassertaxis. Sehr praktisch, und ich werde sie die nächsten Tage sicher gut gebrauchen können.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Auf dem Rückweg zum Hotel machte ich noch einen kleinen Schlenker: Auf der Palm Jumeirah bog ich spontan in die rechte Seitenstraße ein, die an den Atlantis Hotels entlangführt. Dort hielt ich kurz an, machte ein paar Fotos mit dem Handy und genoss den Blick auf die Insel bei Sonnenuntergang. Morgen nehme ich definitiv das Stativ mit – dann will ich etwas tiefer einsteigen, die Stadt mehr erkunden und langsam in den „Entdeckermodus“ wechseln.
        </p>
        <p>
            Ein paar Sehenswürdigkeiten stehen schon auf der Liste, und auch einige Touren will ich in den kommenden Tagen planen.
        </p>
        <p>
            Aber heute war’s noch einmal entspannt – und das war gut so.
        </p>
    </div>

</div>
<!--=== End Post ===-->
