---
layout: blog/de/travel-blog
title: "06.09.2024 Nix tun"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2024-ist-dxb

locations:
  - VAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "Der Blick in Richtung Dubai Marina über die Palmeninsel"

overview:
  intro: "Heute war offiziell der entspannteste Tag der Reise bisher. Geplant war… nichts. Aufgabe des Tages: Ausruhen, Hörbuch hören, entspannen. Und das"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240906-IMG_9685.jpg"
    alt: "Die Hotelanlange nach Sonnenuntergang"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} habe ich auch ziemlich konsequent durchgezogen.
        </p>
        <p>
            Obwohl ich mir nichts vorgenommen hatte, war ich schon kurz nach acht wach. Also nutzte ich die Zeit für ein ruhiges, langes Frühstück. Ganz gemütlich herumsitzen, in den Tag starten, einfach da sein. Zwischendurch musste ich allerdings doch mal kurz ins Zimmer – mir war trotz der warmen Außentemperaturen kalt. Die Klimaanlagen hier in den Gebäuden laufen auf arktisch, also schnell eine Sweatjacke übergezogen und weitergefrühstückt.
        </p>
        <p>
            Nach dem Essen ging’s zurück zum eigentlichen Plan: Hörbuch hören, Füße hoch, Kopf abschalten. Ich wechselte immer mal wieder zwischen Zimmer und Terrasse – drinnen kühl mit Aussicht, draußen warm wie im Backofen. Beides hatte seinen Reiz.
        </p>
        <p>
            Am Nachmittag zog es mich dann ans Wasser. Ich machte es mir am Strand gemütlich, setzte mich eine Weile ins Meer, ließ mich treiben und legte mich schließlich unter einen Sonnenschirm – wo ich prompt wegnickte. Ein richtig schöner Nachmittagsschlaf, mit Meeresrauschen im Hintergrund und Schatten auf der Haut. Als ich wieder richtig wach wurde, war es schon fast dunkel. Das geht hier wahnsinnig schnell – eben noch Tag, plötzlich Nacht. Und das alles vor 19 Uhr.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Zum Abendessen gab es dann Pasta mit Tomatensoße – ganz pragmatisch, aus dem Glas. Keine kulinarischen Höhenflüge, aber genau das Richtige für heute. Einfach, unkompliziert, sättigend.
        </p>
        <p>
            Und damit endet ein Tag, der genau so sein sollte, wie er war.
        </p>
    </div>

</div>
<!--=== End Post ===-->
