---
layout: blog/de/travel-blog
title: "13.09.2024 Faulenzen"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2024-ist-dxb

locations:
  - VAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "Der Blick in Richtung Dubai Marina über die Palmeninsel"

overview:
  intro: "Heute Morgen habe ich extra lange geschlafen, da ich mir vorgenommen habe, heute nicht allzu viel zu machen und mich weiter zu"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240913-IMG_0188.jpg"
    alt: "Dubai Marina bei Nacht"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} entspannen.
        </p>
        <p>
            Nach dem Frühstück ging es erst einmal gemütlich auf die Terrasse. Danach ab ins Meer und in den Pool. Auch wenn es heute "nur" noch 37 Grad werden sollte – das ist immer noch ganz schön heiß. Vor allem in der Sonne brennt es ordentlich. Selbst der Sand ist so heiß, darin könnte man vermutlich Eier kochen. Genießen kann man es trotzdem – man muss nur genug trinken. Ich habe mich zwischendurch immer wieder im klimatisierten Apartment abgekühlt.
        </p>
        <p>
            Zum Sonnenuntergang bin ich dann doch nochmal losgefahren. Eigentlich wollte ich spontan eine Dinner Cruise machen. Ich bekam dann aber einen kleinen „Ohne-Steffi-ist-alles-doof“-Anfall und hatte keine Lust mehr, alleine zwischen all den anderen Touristen an Bord zu sitzen.
        </p>
        <p>
            Stattdessen trödelte ich zur nächsten Wassertaxi-Haltestelle und nahm spontan das nächste Boot ans andere Ende der Dubai Marina. Dort ging ich von Bord und blieb in einem türkisch-asiatischen Restaurant hängen. Es gab gutes Essen und eine Apfel-Limonade, die einfach nur Waldmeister-grün war und auch genauso künstlich schmeckte. Hat mich irgendwie an meine Kindertage erinnert – Zucker pur mit Aussicht auf die Hochhäuser der Marina.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Danach ging es mit dem Wassertaxi wieder zurück zur Mall, wo mein Auto parkte. Ich besorgte noch ein paar süße Mitbringsel für Familie, Freunde und Kollegen und fuhr dann wieder zurück in meine Unterkunft auf The Palm Jumeirah.
        </p>
        <p>
            Morgen Nachmittag geht’s auf Wüstensafari. Ich bin gespannt, was ich alles sehen und erleben werde.
        </p>
        <p>
            Bis morgen!
        </p>
    </div>

</div>
<!--=== End Post ===-->
