---
layout: blog/de/travel-blog
title: "29.05.25 Strand, Tampa & Orlando"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2025-usa

locations:
  - USA
  - Cape Coral
  - Tampa
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_8885.jpg"
    alt: "Der Blick vom Fort De Soto Park in Richtung Sunshine Skyway Bridge"

overview:
  intro: "Der Tag begann ein letztes Mal mit meinem Spezialfrühstück: Pancakes – diesmal zum Mitnehmen. Dazu gab’s ein kleines Restefrühstück, dann"
  image:
    url: "/assets/img/blog/2025-usa/small/DSC09320.jpg"
    alt: "Der Schriftzug Florida 2025 aus Muscheln im Sand"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} hieß es auch schon: Koffer packen, alles verstauen, Haus abschließen – und los.
        </p>
        <p>
            Unser erster Stopp war der Manatee Park, in der Hoffnung, vielleicht nochmal ein paar Seekühe zu sehen. Tatsächlich entdeckte ich ganz kurz zwei Manatees, doch kaum hatte ich Steffi darauf hingewiesen, tauchten sie auch schon wieder ab – und waren nicht mehr zu sehen. Steffi sah gerade noch den letzten Flossenschlag beim Abtauchen. Immerhin war der Park schön für einen kleinen Spaziergang, aber die Luftfeuchtigkeit war enorm – nach dem gestrigen Regenwetter lief uns regelrecht die Suppe.
        </p>
        <p>
            Danach ging’s auf den Highway Richtung Tampa, genauer gesagt in den Fort De Soto Park. Unser Ziel dort: der North Beach. Schon beim Parkplatz fiel uns ein abgesperrtes Nest einer Meeresschildkröte auf, ordentlich mit Warnschild markiert – beeindruckend, wie stark hier der Schutz der Tiere geregelt ist.
        </p>
        <p>
            Am Strand sammelte Steffi Muscheln, um damit den Schriftzug "Florida 2025" zu legen – ein tolles Fotomotiv und eine schöne Erinnerung an unseren Aufenthalt im Sunshine State.
        </p>
        <p>
            Weiter ging es nach Tampa, wo wir eigentlich beim Stadion der Tampa Bay Buccaneers Halt machen wollten – aber leider war dort schon alles geschlossen. Also stoppten wir stattdessen noch bei Publix, Walmart und Dick’s, auf der Suche nach Shorts und Socken für Freunde. Leider erfolglos: Die Shorts gab’s nur in ultrakurz für Damen, und die Socken waren irgendwie alle zu groß.
        </p>
        <p>
            Unterwegs auf der weiteren Strecke begleitete uns ein Gewitter, das immer knapp vor uns herzog. Schließlich entschieden wir uns etwa 30 Minuten vor unserem Ziel noch für einen letzten Stopp bei Ross und Co., einfach um nicht mitten ins schlechte Wetter zu fahren.
        </p>
        <p>
            Weit nach 20 Uhr kamen wir dann endlich im Hotel "Tryp by Wyndham Orlando" an. Unser Zimmer: 208 – allerdings mit einer Temperatur von nur 60°F (etwa 15°C). Viel zu kalt nach diesem heißen Tag!
        </p>
        <p>
            Zum späten Abendessen ließen wir uns asiatisches Essen liefern, das erst gegen 21:45 Uhr eintraf. Wir machten es uns trotzdem gemütlich, schauten weiter unsere Serie und freuten uns schon auf morgen – denn dann geht es gleich in zwei Freizeitparks an einem Tag: die Universal Studios und die Islands of Adventure!
        </p>
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8923.jpg" alt="Der Schriftzug der Tampa Bay Buccaneers vorm Trainingsgelände" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Was für ein Kontrastprogramm – wir sind gespannt.
        </p>
        <p>
            Gute Nacht und bis morgen!
        </p>
    </div>

</div>
<!--=== End Post ===-->
