---
layout: blog/de/travel-blog
title: "17.05.2025 Bootsfahrten"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2025-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_DSC08146.jpg"
    alt: "Der Blick vom Wasser in Richtung Downtown Manhatten"

overview:
  intro: "Fast durchgeschlafen – bis sieben Uhr, nur einmal kurz zwischendurch wach. Es hilft einfach, wenn meine hübsche wieder bei mir ist."
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2423.jpg"
    alt: "Die Freiheitstatue vom Wasser aus"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Und dann auch noch das: Beim ersten Blick aus dem Fenster war die Skyline von Süd-Manhattan in klarer Sicht. Sogar die Freiheitsstatue konnten wir gut erkennen. Wir machten es uns noch einmal im Bett gemütlich und genossen den Ausblick, bevor wir zum Frühstück gingen. Leider gab’s dort fast nur abgepackte Produkte – schade und unnötig.
        </p>
        <p>
            Mit der Linie 1 fuhren wir zum World Trade Center und liefen weiter zum Fähranleger im Battery Park. Von dort ging’s mit der SG-Fähre nach Staten Island. Die kostet zwar 4,50 $, fährt aber deutlich näher an der Freiheitsstatue vorbei als die kostenlose Staten Island Ferry – das war es uns wert.
        </p>
        <p>
            Ein echtes Highlight war der Typ im gelben Haikostüm an Bord. Begleitet von einem Kamera- und Social-Media-Team wurde der Hai inszeniert, posierte an Deck und grinste für unzählige Aufnahmen – eine schräge Aktion, aber irgendwie sehr NYC.
        </p>
        <p>
            In Staten Island schlenderten wir durch die Empire Outlet Mall und fanden gleich zwei Hosen für Steffi. Zum Mittag gab es Chicken, Pommes und Corn Dogs – dazu ein Kokos-Mango-Slush mit Aussicht auf die Skyline von Manhattan.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2415.jpg" alt="Der Typ im Haikostüm" />

        </div>
    </div>
    <div class="col-md-12">
        <p>
            Danach entschieden wir uns, die gleiche Fähre zurückzunehmen, dieses Mal aber weiter bis zur Pier 73 an der 39. Straße zu fahren. Und was für ein Panorama von Manhatten und New Jersey!
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2457.jpg" alt="Der Food Markt auf der 8. Avenue in NYC" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Beim Aussteigen fiel uns auf, dass sich am Nachbaranleger eine ziemlich lange Schlange gebildet hatte. Wohin die wohl alle wollen? Ein Schild klärte auf: zum IKEA nach Brooklyn. Kostenlos! Jeden Samstag und Sonntag.
        </p>
        <p>
            Für alle, die geografisch gerade nicht mitkommen: Wir waren eben noch links um Manhattan herum unterwegs. Brooklyn liegt allerdings rechts. Um dorthin zu gelangen, fährt man also einmal komplett unten um Manhattan herum. Knapp 40 Minuten.
        </p>
        <p>
            Aber: Das Boot legte in fünf Minuten ab, wir dachten nicht lange nach und stellten uns einfach an. Und ja – IKEA Brooklyn hat tatsächlich einen eigenen Fähranleger. Was für eine Geschäftsidee!
        </p>
        <p>
            Wir fuhren hin, stiegen einmal kurz aus – und gleich wieder ein für die Rückfahrt.
        </p>
        <p>
            Dank Fahrtwind hatte ich keine Chance, ein Basecap zu tragen. Ergebnis: verbrannte Platte. Aua.
        </p>
        <p>
            Zurück an Pier 73 zog es uns in den Schatten zwischen den Hochhäusern. Unterwegs kamen wir noch an der Intrepid vorbei – einem Flugzeugträger, der heute ein Museum ist. Dann landeten wir zufällig auf dem „8th Avenue International Food Festival“, noch größer als das letzte Woche auf der 6th Avenue. Danach bummelten wir langsam Richtung Central Park.
        </p>
        <p>
            Zwischendurch holten wir noch bei CVS eine Packung Erkältungsmittel – einfach auf Vorrat, weil sie 2022 so gut gewirkt hatten. Kurz bei TJ Maxx reingeschaut, aber nix gefunden. Danach eine kleine Runde durch den Central Park und dann zu Target, um Abendessen für die Mikrowelle zu holen.
        </p>
        <p>
            Zurück im Hotel gab’s erst Essen, dann leckere Erdbeeren zum Nachtisch – und als Tagesabschluss „Die Unglaublichen 2“ auf Englisch im Disney Channel.
        </p>
        <p>
            Dann nur noch: Licht aus.
            <br />
            Gute Nacht – bis morgen!
        </p>
    </div>

</div>
<!--=== End Post ===-->
