---
layout: blog/de/travel-blog
title: "10.01.2026 Tauchgang Nr. 4"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2025-vietnam-bali

locations:
  - Indonesien
  - Bali
  - Kubu

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/bali-fische.jpg"
    alt: "Fischschwarm vor der Küste von Bali"

overview:
  intro: "Da waren wir also wieder und es hieß, die nächsten Tage zu planen, denn eigentlich wollten wir ja die Insel noch weiter erkunden. Wir schauten an der"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_2172.jpg"
    alt: "Die Aussicht vom Yoga Pavillion"

add_css:
  - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.css
  - /assets/plugins/owl-carousel/owl-carousel/owl.theme.css
  - /assets/css/owl.carousel.css
  - /assets/plugins/fancybox/source/jquery.fancybox.css

js:
  scripts:
    - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.js
    - /assets/js/plugins/owl-carousel.js
    - /assets/plugins/fancybox/source/jquery.fancybox.pack.js
    - /assets/js/plugins/fancy-box.js
  run_code:
    - OwlCarousel.initOwlCarousel();
    - FancyBox.initFancybox();
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Rezeption was Angeboten wird, aber irgendwie war da nichts für uns dabei.
            Somit vertagten wir das Thema noch einmal auf später, da wir mit Jackie für einen Videocall verabredet waren.
            Für diesen machten wir es uns im Yoga-Pavillion auf Sitzsäcken gemütlich und quatschten eine weile mit Ihr.
        </p>
        <p>
            Basti hatte sich gestern noch zum Tauchen angemeldet, sodass er heute wieder im Wasser verschwand. Dieses Mal mit Made (nicht unserem Fahrer Made), da Komang krank zu Hause geblieben war.
        </p>
        <h3>
            Basti's Tauchbericht
        </h3>
        <p>
            Ich freute mich sehr über die Möglichkeit, hier noch ein paar Mal tauchen zu können. Auch für diesen Tauchgang entschied ich mich wieder für das Hausriff. Es gibt hier einfach so viel zu sehen und immer wieder Neues zu entdecken. Da muss man gar nicht woanders hinfahren. Vor dem Tauchgang ging Made mit mir noch einmal den Plan durch, wo wir entlang tauchen wollten und dass es eventuell eine Drift geben könnte. Diese wollten wir dann nutzen, um uns durch das Riff zurück zum Eingang treiben zu lassen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Und schon ging es ins Wasser. Als erstes wieder zur Familie Clownfisch und dann weiter Richtung der großen Buddha-Statuen. Kurz davor kamen wir in die Strömung und ließen uns zurücktreiben. Zu sehen gab es aber auch diesmal wieder eine Menge: von Skorpionfischen über riesige Schwämme bis hin zu nur wenige Millimeter kleinen Nacktschnecken und sogar Seespinnen. Am Ende wartete während des Sicherheitsstopps noch eine Muräne auf uns und präsentierte sich wunderschön vor der Kamera. Nur die pinken Halsband-Anemonenfische wollten sich wieder nicht vor die Kamera begeben. Es war aber trotzdem ein toller Tauchgang, auch wenn die Strömung stärker wird und dadurch die Sicht langsam schlechter.
        </p>
    </div>

    <div class="col-md-12">
        {% include 'owl-carousel-v4.html.twig' with {
            'additionalContainerCss': 'margin-bottom-10 margin-top-10',
            'imageBasePath': '/assets/img/blog/2025-vietnam-bali/',
            'images': {
                'IMG_2174.jpg': 'Die Karte des Hausriffs an der Wand der Tauchbasis',
                'P1100013.jpg': 'Familie Clownfisch war auch wieder dabei',
                'P1100038.jpg': 'In der Anemone lebt ja auch noch ein kleiner Krebs (ca. 3 cm breit)',
                'P1100066.jpg': 'Ein riesiger Schwamm',
                'P1100075.jpg': 'Eine winzig kleine Weichkorallen-Spinnenkrabbe (Candy-Crab im englischen). Leider kam die Strömung',
                'P1100099.jpg': 'Zwei süße nur wenige mm kleine Prachtsternschnecken',
                'P1100146.jpg': 'Und eine ziemlich große Muräne',
            }
        } %}
    </div>

    <div class="col-md-12">
        <h3>
            Zurück zu Steffi
        </h3>
        <p>
            Kurz danach gingen wir noch eine Runde schnorcheln. Da die Strömung immer noch ordentlich war, ließen wir uns einfach von einem Einstieg zum nächsten treiben und genossen die Pflanzen- und Tierwelt unter Wasser.
        </p>
        <p>
            Danach dümpelte ich mit meinem Buch am Pool und genoss die Ruhe. Hätte ich da schon gewusst, was aus dem Wetter noch wird, wäre ich sicherlich noch ein zweites Mal ins Meer gegangen. Später gönnte ich mir noch eine Manipedi im Spa-Bereich. Verbunden mit einer Arm-, Hand-, Bein- und Fußmassage war das wirklich sehr angenehm. Allerdings müssen die Damen noch ein wenig an ihrer Fähigkeit arbeiten, den Nagellack aufzutragen. An mehreren Stellen ging die Farbe deutlich über den Rand hinaus.
        </p>
        <p>
            Gegen Nachmittag nahm der Wind etwas zu und deshalb bummelten wir Richtung Hauptstraße und suchten den großen Supermarkt auf. Für uns ist das eher ein größerer Kiosk, aber am Ende bekommt man dort mehr oder weniger alles. Allerdings kann man hier nur bar bezahlen. Doof.
        </p>
        <p>
            Google Maps sagte uns außerdem, dass es noch ein Café an der Straße geben soll. Dieses fanden wir dann auch – allerdings leer und verlassen. Wie leider vieles hier in der Ecke.
        </p>
        <p>
            Abends ging es dann wieder ins Hotelrestaurant. Dazu gab es Entspannung auf der Terrasse bevor es für uns, in einem sauberen Bett, ins Land der Träume ging.
            <br />
            Gute Nacht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
