---
layout: blog/de/travel-blog
title: "05.01.2026 Buddha bei die Fische"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2025-vietnam-bali

locations:
  - Indonesien
  - Bali
  - Kubu

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/bali-fische.jpg"
    alt: "Fischschwarm vor der Küste von Bali"

overview:
  intro: "Wir waren heute erstaunlich früh wach – sogar noch vor dem Wecker. Statt mich noch einmal umzudrehen, beschloss ich spontan: Raus aus dem Bett,"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/P1050051.jpg"
    alt: "Famile Clownfisch schaut neugiereig aus Ihrer Anemone"

add_css:
  - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.css
  - /assets/plugins/owl-carousel/owl-carousel/owl.theme.css
  - /assets/css/owl.carousel.css
  - /assets/plugins/fancybox/source/jquery.fancybox.css

js:
  scripts:
    - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.js
    - /assets/js/plugins/owl-carousel.js
    - /assets/plugins/fancybox/source/jquery.fancybox.pack.js
    - /assets/js/plugins/fancy-box.js
  run_code:
    - OwlCarousel.initOwlCarousel();
    - FancyBox.initFancybox();
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} rein ins Meer. Vormittags ist das Wasser hier oben deutlich ruhiger als später am Tag und da ich ja schneller seekrank werde, als man „Buh“ sagen kann, war das der perfekte Zeitpunkt.
        </p>
        <p>
            Während ich mir Maske und Flossen schnappte, ging Basti schon eine Kleinigkeit frühstücken. Für ihn stand um 10 Uhr wieder ein Tauchgang an.
            Und bevor jetzt jemand denkt: „Allein ins Meer – das macht man doch nicht!“ – keine Sorge. Am Einstieg sitzt hier immer jemand vom Resort oder vom Dive Center und behält alles im Blick. Mein Handy hatte ich heute sogar mit in der wasserdichten Hülle dabei.
        </p>
        <p>
            Schon nach wenigen Minuten war klar: Es hatte sich gelohnt. Die Fischmenge war wieder beeindruckend, überall Bewegung, Farben, Leben. Zwischendurch hob ich den Kopf aus dem Wasser und entdeckte Basti am Ufer sitzen. Kurzer Blickkontakt, ein Grinsen – und spontan tauschten wir das Equipment. Ich schnappte mir seine Kamera mit Beleuchtung und tauchte wieder ab. Auch wenn es immer noch viele Fische waren: Vor dem Tausch schien es irgendwie noch mehr gewesen zu sein.
        </p>
        <p>
            Irgendwann meldete sich leider mein Nacken. Also übergab ich Basti meine Schnorchelsachen, wünschte ihm viel Spaß für seinen Tauchgang mit Komang und machte mich langsam zurück zum Bungalow.
        </p>

    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_1858.jpg" alt="Der morgendliche Blick aufs Meer. Direkt aus dem Bett">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Es war mittlerweile 9:40 Uhr. Salz abduschen, kurz durchatmen – und dann im Eiltempo zum frühstücken, denn hier ist 10 Uhr Schluss mit bestellen. Gerade noch geschafft.
        </p>
        <h3>
            Basti's Tauchbericht
        </h3>
        <p>
            Heute war ein ganz besonderer Tauchgang. Komang und ich gingen zu zweit ins Wasser. Mein großes Ziel: die Buddha-Statuen vom Vortag – diesmal um Fotos zum machen – und hoffentlich noch einmal die schwarz-blaue veränderliche Kopfschildschnecke wiederfinden.
        </p>
        <p>
            Komang erzählte mir außerdem von einer zweiten Stelle mit kleineren Buddha-Statuen, die flach genug liegt, damit meine Kamera keinen Herzinfarkt bekommt. Denn ab etwa 12 Metern fängt sie an zu piepen und unter 15 Metern ist endgültig Schluss.
        </p>
        <p>
            Kaum im Wasser, wurden wir wieder von einem wahren Meer aus Fischen empfangen. Es dauerte keine Minute, bis sich auch eine riesiger Schwarm Makrelen zu uns gesellte. Weiter ging es zu den Nemos in ihrer großen Anemone. Sie spielten Verstecken mit der Kamera – neugierig, aber vorsichtig. Trotzdem entstanden hier schon richtig starke Bilder.
        </p>
        <p>
            Als wir den sandigen Bereich mit den großen Buddha-Statuen erreichten, wirkte es zunächst fast leer. Der Grund zeigte sich schnell: Eine kleine Gruppe Barrakudas zog gemächlich ihre Kreise zwischen den Figuren. Nicht unbedingt meine Lieblingsfische – aber sie zogen ruhig weiter, als sie uns bemerkten. Danach hatten wir den Platz fast für uns allein.
        </p>
        <p>
            Wir nutzten die Ruhe für Fotos – von den Statuen selbst und von mir zwischen den Figuren. Kurz darauf fanden wir sie wieder: die schwarz-blaue veränderliche Kopfschildschnecke, tatsächlich fast an derselben Stelle wie gestern. Und nur wenige Meter weiter sogar noch eine zweite. Leider waren meine Hände heute nicht ganz so ruhig – die Bilder sind etwas unscharf. Vielleicht morgen noch einmal?
        </p>
    </div>

    <div class="col-md-12">
        {% include 'owl-carousel-v4.html.twig' with {
            'additionalContainerCss': 'margin-bottom-10 margin-top-10',
            'imageBasePath': '/assets/img/blog/2025-vietnam-bali/',
            'images': {
                'P1050040.jpg': 'Familie Clownfisch noch etwas scheu',
                'P1050051.jpg': page.overview.image.alt|raw,
                'P1050061.jpg': 'Eine Meerbarbe auf der Suche nach einem neuen Futterplatz',
                'P1050071.jpg': 'Ein Baracude auf dem Rückzug',
                'P1050084.jpg': 'Die etwa 3 cm lange veränderliche Kopfschildschnecke',
                'P1050092.jpg': 'Basti zwischen den großen Buddha Statuen',
                'P1050107.jpg': 'Der kleine männliche Blaue Bandaal',
                'P1050142.jpg': 'Der Blaupunktrochen auf der Suche nach einen Versteck',
                'P1050151.jpg': 'Das obere Ende eine Riesenschwamms mit vielen kleineren Riffbewohnern',
                'P1050158.jpg': 'Die echte Karettschildkröte',
                'P1050165.jpg': 'Die kleinen Buddhas vor dem großen Felsen',
                'P1050171.jpg': 'Aus dern Nähe sieht man wie gut sie schon bewachsen sind',
                'P1050195.jpg': 'Die grüne Meeresschildkröte',
                'P1050210.jpg': 'Ein kleiner Schwarm Orange gefleckter Kaninchenfische',
                'P1050229.jpg': 'Ein gestreifter Korallenwächter während er Wache hält. ;)',
                'P1050243.jpg': 'Ein paar Stachelmakrelen die Ihrem Schwarm hinterherschwimmen',
            }
        } %}
    </div>
    <div class="col-md-12">
        <p>
            Auf etwa 10 Metern Tiefe ging es zurück Richtung Korallen. Riesige Schwärme kleiner Fische umgaben uns. Dann entdeckten wir einen winzigen männlichen blauen Bandaal – nur wenige Millimeter dick. Wer auf den Fotos nur einen schwarzen Aal mit gelbem Streifen sieht: Genau das ist er. Erst später wird er blau, ändert dann das Geschlecht zu weiblich und wechselt schließlich sogar noch einmal die Farbe zu Gelb. Kein Wunder, dass man ihn die „Marine Drag Queen“ nennt. Unter Wasser wird einem immer wieder klar, wie verrückt und faszinierend diese Welt ist.
        </p>
        <p>
            Wir kamen an großen, mit Korallen überwachsenen Felsen vorbei, entdeckten einen massiven Zackenbarsch, sicher über 40 Kilo schwer, und einen fast ausgewachsenen Blaupunktrochen. Kurz darauf tauchte wieder eine Karettschildkröte auf – diesmal mit deutlich dunklerem Panzer als die von gestern.
        </p>
        <p>
            Dann endlich der zweite Buddha-Platz: kleinere Statuen, am Fuß eines riesigen Felsens, teilweise schon komplett von Muscheln und Korallen überwachsen. Ein magischer Ort. Wir blieben lange, machten Fotos, schwebten einfach nur.
        </p>
        <p>
            Auf dem Rückweg begegneten wir noch einer grünen Meeresschildkröte. Sie sah der Karettschildkröte sehr ähnlich, hatte aber diesen weniger papageienartigen Schnabel. Leider wollte sie nicht posieren und verschwand lieber zwischen Seegras und Korallen.
        </p>
        <p>
            Zurück an Land half ich beim Reinigen des Equipments und setzte mich danach mit Komang an mein Logbuch. Während draußen der Regen einsetzte, suchten wir in Ruhe alle gesehenen Arten in den Fischbüchern zusammen. Zwei besondere Stempel gab es auch: einen für die Schildkröten und einen für einen gut versteckten Rotfeuerfisch.
        </p>
        <p>
            Als der Regen gegen Mittag nachließ, ging ich zurück zum Bungalow – zu Steffi.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_1878.jpg" alt="Rauchwolken gegen Mücken" />
        </div>
    </div>
    <div class="col-md-6">
        <h3>In der Zwischenzeit bei Steffi</h3>
        <p>
            Die Terrasse unseres Bungalows war heute genau der richtige Ort für mich. Gegen 11:35 Uhr begann es zu regnen und ich saß einfach da, hörte zu, schaute zu, wie der warme Regen auf Pflanzen und Dächer fiel. Abgesehen vom Ankunftstag war das erst der zweite Regen hier – und nach nicht einmal 20 Minuten war alles wieder vorbei. Regenzeit, ja klar.
        </p>
        <p>
            Irgendwann stand Basti wieder vor mir. Nach einer kurzen Pause ging es gemeinsam zum Pool. Schatten, Shirts, wenig Bewegung – der Sonnenbrand hatte uns beide fest im Griff.
        </p>
        <p>
            Mittags gab es einen kleinen Snack an der Poolbar. Kurz spielten wir mit dem Gedanken, noch einmal ins Meer zu gehen, aber die Wellen wurden immer stärker. Stattdessen erlebten wir eine sehr balinesische Maßnahme gegen Insekten: Die Hotelcrew zog mit motorisierten Nebelgeräten durch die Anlage und legte alles in eine duftende Wolke.
        </p>
        <p>
            Nachdem Basti sich für den nächsten Tauchtag angemeldet hatte, war weiter Nichtstun angesagt. Terrasse. Ruhe. Einfach sein.
        </p>
        <p>
            Zwischendurch schrieben wir noch mit Yuda, unserem Guide von vor zwei Jahren. Am 08.01. holt er uns hier ab und bringt uns nach Ubud – in unser nächstes Highlight: eine große Villa mit privatem Pool, Outdoor-Whirlpool und Blick über Reisterrassen. Die Fahrt dorthin wollen wir direkt für eine kleine Inseltour nutzen. Erste Ideen haben wir schon gesammelt.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Wenn ihr irgendwann mal nach Bali kommt: Meldet euch. Yuda ist Gold wert – spricht Deutsch, fährt entspannt und bringt eine Ruhe mit, die einfach gut tut.
        </p>
        <p>
            Am Abend zog dann ein kräftiger Wind auf, der den Regen direkt auf unsere Terrasse drückte. Keine Lust auf Rollos. Also ab nach drinnen. Fertignudeln, Fotos sichten, runterkommen.
        </p>
        <p>
            Mal sehen, was morgen für uns bereithält.
        </p>
    </div>

</div>
<!--=== End Post ===-->
