---
layout: blog/de/travel-blog
title: "04 & 05.05.26 Wo ist der Strand?"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2026-sizilien

locations:
  - Italien
  - Sizilien

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/ausblick-von-erice.jpg"
    alt: "Der Weitblick nach Nord Osten von Erice"

overview:
  intro: "Nach einem gemütlichen Frühstück im Café sowie dem Einkauf von Obst und Gemüse beim örtlichen Händler fahren wir los und landen noch an einem"
  image:
    url: "/assets/img/blog/2026-sicily/small/DSC02271.jpg"
    alt: "Die Salinen bei Trapani"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Aussichtspunkt, von dem aus man über Cefalù blickt. Diesen haben wir am Abend zuvor auf einem Bild in einem Schaufenster entdeckt. Der kleine Stopp hat sich wirklich gelohnt.
        </p>
        <p>
            Weiter ging es nach Valderice, wo wir für zwei Tage ein Ferienhaus beziehen. Es ist zwar wirklich sehr schön und wir haben das ganze Haus für uns allein, aber die Enttäuschung ist trotzdem groß: Weit und breit kein Sandstrand, sondern nur raue Felsen. Schade!
        </p>
        <p>
            Nach einem Frühstück am nächsten Morgen entschädigt uns der Ausflug nach Erice, einem mittelalterlichen Ort hoch oben auf dem Berg. Weil angenehm wenig los ist, schlendern wir ganz entspannt durch die alten Gassen.
        </p>
        <p>
            Weiter geht es nach Trapani – und ehrlich gesagt: mehr Schein als Sein. Uns gefällt es gar nicht. Wir trennen uns wieder als Paare. Basti und ich machen es uns einfach in einem gemütlichen Café am Hafen bequem, während die anderen beiden an den Strand wollen.
        </p>
        <p>
            Am späten Nachmittag besuchen wir noch die Saline di Trapani e Paceco. Hier gibt es ein Salzpäckchen für mich. So etwas nehme ich gern mit. Das ist deutlich nützlicher als irgendwelcher Nippes. Eintritt für die Anlage selbst haben wir übrigens nicht bezahlt. Das empfanden wir als nicht lohnenswert.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Morgen geht es dann auf die Insel. Also bleibt dran.
        </p>
    </div>

</div>
<!--=== End Post ===-->
