---
layout: english
title: Homepage

meta:
  description: Here, my english speaking friends can see my most recent timeline entries.
  keywords:
    - Homepage
    - Timeline

hreflang:
  href: http://www.sebastianthoss.de/de/

add_css:
  - /assets/css/pages/shortcode_timeline1.css

active_nav: home
---
<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2">
    <div class="container">
        <h1>Sebastian Thoss</h1>
        <p>IT geek and trainer with heart and soul</p>
    </div>
</div>
<!-- End Interactive Slider v2 -->

<!--=== Content Part ===-->
<div class="container content">
    <ul class="timeline-v1">

        {% include timeline/en/2017-02-16-smoke-tests-at-php-uk-conference.html %}
        {% include timeline/en/2016-10-24-don-t-fear-the-walking-dead-at-ipc-munich.html css_class="timeline-inverted" %}
        {% include timeline/en/2016-10-11-99-percent-is-not-enough-at-phpughh.html %}
        {% include timeline/en/2016-09-30-don-t-fear-the-walking-dead-at-code-talks.html css_class="timeline-inverted" %}
        {% include timeline/en/2016-05-10-don-t-fear-the-walking-dead-at-phpughh.html %}

        <li class="clearfix" style="float: none;"></li>
    </ul>
</div><!--/container-->
<!-- End Content Part -->