<li class="{{ include.css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/don-t-fear-the-walking-dead/ipc-1.png" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Don't fear the walking dead<br/>@ International PHP Conference 2016</h2>
            <p class="text-justify">
                Sebastian Heuer and me were quite happy when we got told that our talk about fury made it onto the well
                selected sessions-list of 2016s edition of international PHP conference in munich.
                There were quite some interesting talks and workshops.
                I spend 4 days of constantly learning new things.
            </p>
            <p class="text-justify">
                Sebastian Heuer's and my session about our fast, reliable and beautiful architecture was packed too.
            </p>

            <p class="text-justify">
                I wrote a blog post about the conference and one about our talk. Please see in Tech Blog for more
                details.
            </p>
            <a href="{{ site.github.url }}/en/tech-blog/" class="btn-u btn-u-sm">Tech Blog<i class="fa fa-angle-double-right margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 23 to 27 October 2016
        </div>
    </div>
</li>