<li class="{{ include.css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="/assets/img/don_t_fear_the_walking_dead/ipc_1.png" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Don't fear the walking dead<br/>@ International PHP Conference 2016</h2>
            <p class="text-justify">
                Sebastian Heuer and me were quite happy when we got told that our talk about fury made it onto the well selected sessions-list of 2016s edition of international PHP conference in munich.
                There were quite some interesting talks and workshops.
                I spend 4 days of constantly learning new things. For example about docker, technical debts, ansible and elastic stack.
                Especially I was happy to get the opportunity to be in a full day workshop about PHP7 held by Arne Blankerts, Stefan Priebsch and Sebastian Bergmann from thePHP.cc
                The workshop was definitely worth to get up at 3am in te morning and fly to Munich on a sunday.
            </p>
            <p class="text-justify">
                Sebastian Heuer's and my session about our fast, reliable and beautiful architecture was packed too.
                There were more people in the room than seats available. I couldn't see bored faces during talk.
                After finishing our presentation there were even several questions we happily answered.
            </p>
            <p class="text-justify">
                I wrote a blog post for all the people which could not come to our talks and see how we are killing our zombie.
            </p>
            <a target="_blank" href="https://tech.kartenmacherei.de/dont-fear-the-walking-dead-6baca1a96f6f#.6c4jf66yk" class="btn-u btn-u-sm">Blog post</a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 23 bis 27 October 2016
        </div>
    </div>
</li>