<li class="{{ include.css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/don-t-fear-the-walking-dead/code.talks-1.jpg" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Don't fear the walking dead<br/>@ code.talks 2016 Hamburg</h2>
            <p class="text-justify">
                This years code.talks in Hamburg was absolutely awesome.
                For me it was the first time joining this conference as a speaker.
                Code.talks was really big with about 1900 guests.

                <!-- Raus start -->
                Apart from regular annoying issues with Wi-Fi, was everything amazingly well organized.
                List of talks was well selected and all the other small events like speakers dinner or drone flying was great.
                <!-- Raus ende -->
            </p>
            <p class="text-justify">
                Our talk went quite well. We had a quite good filled hall and no one left during our session.
                Because of the fact that we held this talk before in a smaller group we learned that there will be probably a lot of questions and discussions.
                We planned to talk for about 30 minutes to have enough time afterwards for them but we were mistaken.
                Just one audience member was keen enough to talk into the microphone.
                Luckily after we finished our talk there were quite some people which asked their questions.
                In the end it was a great session and a great conference,
            </p>
            <a target="_blank" href="https://www.codetalks.de/2016/programm/don-t-fear-the-walking-dead-how-to-get-rid-of-a-zombie" class="btn-u btn-u-sm">code.talks Website</a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 30 September 2016
        </div>
    </div>
</li>