<li class="{{ include.css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/don-t-fear-the-walking-dead/phpughh_99.jpg" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Don't fear the walking dead<br/>@ PHP-Usergroup Hamburg<br/>and @ Symfony User Group Hamburg</h2>
            <p class="text-justify">
                It was first time long since I have given a talk in front of an bigger group.
                It was about a project I worked on for last couple of months. Kind of my baby.
                We talked about the architecture of our new component and server setup and how we managed to deliver pages below 100ms time to first byte.
            </p>
            <p class="text-justify">
                About 5 months later I went to a Symfony User Group Meetup and it happened that they needed a second talk.
                Well, I held this talk again.
                After a short presentation there was quite a constructive discussion for over an hour.
                Thanks again for the great evening.

            </p>
            <a target="_blank" href="http://www.slideshare.net/kartenmacherei/dont-fear-the-walking-dead-how-we-get-rid-of-our-monolith" class="btn-u btn-u-sm">Slides</a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 10 May 2016 & 04 October 2016
        </div>
    </div>
</li>