<li class="{{ include.css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/99-percent-is-not-enough/phpughh-1.jpg" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">99% is not enough<br/>@ PHP-Usergroup Hamburg</h2>
            <p class="text-justify">
                Today it was up to Sebastian Heuer, Kruno Knego and me to talk about a new topic.
                This time it is about testing of source code. How to achieve 100% code coverage and why it is so important not to stop there.
                This topic is quite important for us and we are proud to have 100% but to prepare this talk was not easy at all.
                How to present such a technical topic without to bore the audience.
            </p>
            <p class="text-justify">
                I like that we managed to give such a great session and keept all listeners in line.
                Even after this 48 minutes presentation, a lot of people asked quite some questions about mocking and how to test databases.
            </p>
            <a target="_blank" href="http://de.slideshare.net/kartenmacherei/99-is-not-enough" class="btn-u btn-u-sm">Slides</a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 11 October 2016
        </div>
    </div>
</li>