<li class="{{ include.css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <!--div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/don-t-fear-the-walking-dead/ipc_1.png" alt=""/>
        </div-->
        <div class="timeline-body">
            <h2 class="font-light">SmokeTests<br/>@ PHP UK Conference 2017</h2>
            <p class="text-justify">
                A couple of days ago I got to know that I'm allowed to speak at another conference.
                I'm quite proud because the topic is one of my favourites and the conference is actually in London.
                Full name of my Session is
                "SmokeTests - Why you should try to burn down your production environment"
                I'm looking forward to prepare and give this session.
            </p>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 16 and 17 February 2017
        </div>
    </div>
</li>