---
layout: english
title: Travelblog
meta:
  description: "Here my family and friends can find an overview of all blog posts about our trip to the Philippines in 2018"
  keywords:
    - Philippines
    - Manila
    - Cebu
    - Bohol
    - Dumaguete
    - Blog
    - Travel
    - Workation
active_nav: blog-2018-philippines

add_css:
  - /assets/css/pages/blog_masonry_3col.css
js:
  scripts:
    - /assets/plugins/masonry/jquery.masonry.min.js
    - /assets/js/pages/blog-masonry.js

generator: pagination
pagination:
  max_per_page: 9
  provider: filtered.travelblog.categories.2018-philippines
  reverse: true
---

<div class="heading margin-bottom-20 margin-top-20">
  <h1>Workation Philippines 2018</h1>
  <p>Here you can find all blog articles and <a href="{{ site.url }}/en/travelblog/2018-philippines/photos/">photos</a> of our trip to the Philippines.</p>
</div>

<!--=== Content Part ===-->
{% include 'blog/overview/masonry_3col.html.twig' with {'posts': page.pagination.items, 'readMore': 'Read more'} %}
<!--=== End Content Part ===-->

<!--Pagination-->
{% include 'pagination.html.twig' with {'pagination': page.pagination} %}
<!--End Pagination-->
