---
layout: english
title: Homepage

meta:
  description: Here, my english speaking friends can see my most recent timeline entries.
  keywords:
    - Homepage
    - Timeline

hreflang:
  en:
    href: /en/
  de:
    href: /de/

add_css:
  - /assets/css/pages/shortcode_timeline1.css

active_nav: home
---
<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 home-image">
    <div class="container">
        <h1>Sebastian Thoss</h1>
        <p>IT geek and trainer with heart and soul</p>
    </div>
</div>
<!-- End Interactive Slider v2 -->

<!--=== Content Part ===-->
<div class="container content">
    <ul class="timeline-v1">

        {% set timelineEntries = [
                'timeline/en/2017-09-29-smoke-tests-at-code-talks.html.twig',
                'timeline/en/2017-08-29-tech-recruiting-at-true-tech-talks.html.twig',
                'timeline/en/2017-02-16-smoke-tests-at-php-uk-conference.html.twig',
                'timeline/en/2017-01-23-git-basics-at-bs-14.html.twig',
            ]
        %}

        {% for entry in timelineEntries %}
            {% if (loop.index % 2) == 0 %}
                {% include entry with {'css_class': 'timeline-inverted'} %}
            {% else %}
                {% include entry %}
            {% endif %}
        {% endfor %}

        <li class="clearfix" style="float: none;"></li>
    </ul>
</div><!--/container-->
<!-- End Content Part -->