---
layout: german
title: News Archiv

meta:
  description: Hier k&ouml;nnen meine Freunde sehen, was in meinem Leben gerade so abgeht.
  keywords:
    - News
    - Aktuelle
    - Zeitlinie

hreflang:
  en:
    href: /en/news/
  de:
    href: /de/news/

add_css:
  - /assets/css/pages/shortcode_timeline1.css

active_nav: news
---
<!-- Breadcrumb v3 -->
<div class="breadcrumbs-v3 news-image">
    <div class="container text-center">
        <h1>News Archive</h1>
        <p>Alle News f&uuml;r Familie, Freunde und Bekannte</p>
    </div>
</div>
<!-- End Breadcrumb v3 -->

<!--=== Content Part ===-->
<div class="container content">
    <ul class="timeline-v1">

        {% set timelineEntries =
            [
                'timeline/de/2024-10-01-celebrate-ende.html.twig',
                'timeline/de/2024-03-01-celebrate-kuendigung.html.twig',
                'timeline/de/2023-10-21-aws-certificate.html.twig',
                'timeline/de/2023-01-01-pentzin-ausstieg.html.twig',
                'timeline/de/2022-01-01-einstieg-bei-teppana.html.twig',
                'timeline/de/2020-06-01-pentzin-einstieg.html.twig',
                'timeline/de/2020-02-01-bpp-production.html.twig',
                'timeline/de/2019-12-23-closing-smest-it.html.twig',
                'timeline/de/2019-10-24-speaking-at-ipc-munich.html.twig',
                'timeline/de/2019-05-26-speaking-at-php-srbija-conference.html.twig',
                'timeline/de/2019-01-27-speaking-at-confoo-montreal.html.twig',
                'timeline/de/2018-08-14-smest.it-tech-startup-2018-finalist.html.twig',
                'timeline/de/2018-01-27-gruender-hands-on.html.twig',
                'timeline/de/2018-01-05-smest.it-founding.html.twig',
                'timeline/de/2017-12-02-gruender-hands-on.html.twig',
                'timeline/de/2017-09-29-smoke-tests-at-code-talks.html.twig',
                'timeline/de/2017-08-29-tech-recruiting-at-true-tech-talks.html.twig',
                'timeline/de/2017-02-16-smoke-tests-at-php-uk-conference.html.twig',
                'timeline/de/2017-01-23-git-basics-at-bs-14.html.twig',
                'timeline/de/2016-11-26-first-node-js-application.html.twig',
                'timeline/de/2016-10-24-don-t-fear-the-walking-dead-at-ipc-munich.html.twig',
                'timeline/de/2016-10-11-99-percent-is-not-enough-at-phpughh.html.twig',
                'timeline/de/2016-09-30-don-t-fear-the-walking-dead-at-code-talks.html.twig',
                'timeline/de/2016-05-10-don-t-fear-the-walking-dead-at-phpughh.html.twig',
            ]
        %}

        {% for entry in timelineEntries %}
            {% if (loop.index % 2) == 0 %}
                {% include entry with {'css_class': 'timeline-inverted'} %}
            {% else %}
                {% include entry %}
            {% endif %}
        {% endfor %}

        <li class="clearfix" style="float: none;"></li>
    </ul>
</div><!--/container-->
<!-- End Content Part -->