<div class="container content blog-page blog-item">
    <!--Blog Post-->
    <div class="blog margin-bottom-40">
        <div class="blog-img">
            {% if page.headline.image.url %}
                <img class="img-responsive" src="{{ site.github.url }}{{ page.headline.image.url }}" alt="{{ page.headline.image.alt }}">
            {% else %}
                <img class="img-responsive" src="{{ site.github.url }}{{ include.defaultImageSrc }}" alt="{{ include.defaultImageAlt }}">
            {% endif %}
        </div>

        <div class="headline">
            <h2>{{ page.title }}</h2>
        </div>

        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="fa fa-calendar"></i> {{ page.date | date_to_long_string }}</li>
                <li><i class="fa fa-globe"></i>
                    {% for location in page.locations %}
                        {% if forloop.last == false %}
                            {{ location }},
                        {% else %}
                            {{ location }}
                        {% endif %}
                    {% endfor %}
                </li>
                <li>
                    <i class="fa fa-align-left"></i>
                    {{ page.content | number_of_words }} {{ include.words }}
                </li>
            </ul>
        </div>

        {{ page.content }}
    </div>
    <!--End Blog Post-->

</div><!--/container-->