---
layout: blog/de/familie
title: "Kein Futter in Bowen"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Bowen
  - Townsville
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170514-banner.jpg
    alt: "Aussicht auf die Whitsundays von Bowen aus."

overview:
  intro: "Gestern war f&uuml;r uns nix tun angesagt."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170514-10.jpg
    alt: "Das Schild des Big4 Campingplatzes am Ortseingang von Airlie Beach"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			Wir hatten noch eine Nacht auf dem Big4 verl&auml;ngert, um den Pool zu nutzen, nix zu tun und was man sich sonst noch vornimmt oder eben nicht.
			Leider spielte das Wetter nicht ganz so mit, so dass es hin und wieder leicht regnete und es am Pool etwas frischer wurde. 
			Demnach verzogen wir uns einfach in die Campk&uuml;che.
		</p>
		<p>
			Heute sah der Plan schon etwas voller aus. 
			Nach dem ausschlafen, ging es heute als erstes nach Bowen, wo es angeblich traumhafte Str&auml;nde nach thail&auml;ndischen Vorbild geben sollen.
			Dort angekommen waren wir entweder zu doof die sch&ouml;nen Str&auml;nde zu finden oder aber sie sind nicht mehr so sch&ouml;n wie fr&uuml;her einmal.
		</p>
		<p>
			Nachdem wir einige Str&auml;nde abgefahren sind und sogar von einem hohen Aussichtspunkt keine Traumstr&auml;nde zu sehen bekamen, beschlossen wir erst einmal ein sch&ouml;nes Restaurant zu suchen und mal wieder so richtig gut essen zu gehen.
			Auf dem Weg zur&uuml;ck in den Ort hielten wir an einer Touristeninfo, um uns Tipps f&uuml;r ein gutes Restaurant zu holen.
			Leider erz&auml;hlte uns die Dame, dass es nach 14 Uhr hier in Bowen  nur zwei Pl&auml;tze gibt, wo man was zu essen bekommen kann.
			Entweder Mc Donalds oder Subways. Mist!!! Da wir wirklich hungrig waren, viel unsere Wahl auf Mc Donalds. 
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
		Danach fuhren wir noch bis Townsville, wo wir uns dann ein fr&uuml;hes Abendessen in einem Italienischen Restaurant g&ouml;nnten, bevor wir uns einen kostenfreien Schlafplatz auf einem Rasthof suchten.
		Bevor wir uns zum schlafen hinlegten, telefonierten wir noch schnell mit unseren M&uuml;ttern.
		Ist ja schlie&szlig;lich Muttertag.
		</p>
    </div>
</div>
<!--=== End Post ===-->
