---
layout: blog/de/familie
title: "Auf zu den Cassowaries"
active_nav: travel-blog
sitemap: false

categories:
  - de
  - Familie

locations:
  - Australien
  - Townsville
  - South Mission Beach

overview:
  intro: "Letzte Nacht haben wir beide irgendwie nicht so gut geschlafen."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-20.jpg
    alt: "Cassowary auf dem Campingplatz"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			Somit machten wir uns heute schon früh auf den Weg Richtung South Mission Beach.
			Dort wollten wir auch wieder auf einen Big4 Campingplatz. Und zwar auf den Big4 Beachcomber Coconut Campingplatz.
			Dieser wurde uns vor einigen Tagen wärmstens von zwei Naturliebhabern empfohlen. 
			Der Grund für die Empfehlung sind die Cassowaries, die auf dem Platz frei herumlaufen würden.
		</p>
		<p>
			Auf der 250km langen Fahrt zog sich der Himmel vor uns mehr und mehr zu. Als wir vom Highway abfuhren, fing es dann auch prompt an zu regnen. 
			Auf dem Campingplatz angekommen hatte es sich komplett eingeregnet.
		</p>
		<p>
			Wir packten dann alle Utensilien zum kochen zusammen und machten uns auf den Weg in die Campküche.
			Während wir in den letzten Zügen des kochens waren, kam ein Cassowary aus dem Gebüsch. 
			Er hatte sogar zwei junge dabei. Diese ähneln im jungen Alter noch sehr den Emus.
			Schnell schossen wir 2 oder 3 Fotos bevor sich die 3 in aller hergottsruhe auf den Weg über den Campingplatz machten.
			Da wir ja erstens am kochen waren und zweitens es aus Eimern schüttete liefen wir nicht hinterher um weitere Fotos zu machen. 
			Außerdem sind Cassowaries nicht ganz ungefährlich. 
			Mit ihrer bis zu 13cm rasiermesserscharfen Kralle gehen sie gerne auch mal auf Menschen los, wenn sie sich bedroht fühlen.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Pünktlich um kurz vor 17 Uhr (die Camper die uns das empfahlen, meinten der kommt immer gegen 17h) kam scheinbar der gleiche Cassowary samt seiner beiden jungen noch einmal vorbei.
			Aber auch jetzt schüttete es leider immer noch kräftig aus Eimern.
		</p>
		<p>
			Wir saßen noch einige Zeit in der Küche,  kümmerten uns um den Blog und Steffi versuchte sich mehrfach erfolglos auf ein Sudoku zu konzentrieren.
			Als wir uns dann auf den Weg ins Bett machten, mussten wir zu unserem Bedauern feststellen, dass die Dachfenster unseres Wohnmobils nicht dicht sind und bereits das Bett (natürlich meine Seite davon) nass tropften. 
			Naja viel konnten wir da jetzt auch nicht machen außer mit den zusätzlichen Handtüchern trocken rubbeln und versuchen alles weitere eindringenden Wasser direkt ins Handtuch umzuleiten.
			Das funktionierte auch ganz gut, für den Moment.
		</p>
		<p>
			Wie der Kampf mit dem Wasser endete und wer gewonnen, erzählen wir euch morgen.
		</p>
    </div>
</div>
<!--=== End Post ===-->
