---
layout: blog/de/familie
title: "Neue Freunde"
active_nav: travel-blog
author: Steffi
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Townsville
  - Magnetic Island
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170516-banner.jpg
    alt: "Alma Bay auf Magentic Island"

overview:
  intro: "Heute sollte es f&uuml;r Basti endlich zum tauchen gehen."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-17.jpg
    alt: "Wollaby inspiziert die Kamera"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			Entsprechend fr&uuml;h waren wir wach, damit wir p&uuml;nktlich kurz vor 9h an der Tauchbasis sind.
			Nachdem alle Formalit&auml;ten erledigt waren, ging es zu Fuß an die Geoffrey Bucht.
			(Das Equipment wurde mit dem Auto gebracht) 
		</p>
		<p>
			Basti ging mit Guide und Tauchpartnerin via Bootsrampe ins Wasser und ich ging 5 Meter weiter zu den Rockwallabies. 
			Diese saßen auch um diese Zeit draußen und ich hatte zudem das Gl&uuml;ck, dass keine weiteren Leute da waren.
			Somit einfach einen passenden Stein gesucht, hingepflanzt und kurz darauf war ich auch nicht mehr alleine. 
			Es gesellten sich immer mehr Rockwallabies zu mir.
			Darunter sogar eine Mama mit Baby, was sich ziemlich oft zeigte. 
			Hmmm Freunde oder Feinde.
			Ich hab's mit der Variante wie beim Hund ausprobiert, Hand hinhalten, schnuppern lassen und gut.
			Ein Wallaby war so zutraulich, dass es sich fast durchgehend streicheln lies. 
			Als ich mir ein neuen Sitzplatz gesucht habe, kam dieses sogar hinterher. 
			Ich verbrachte dort knapp 45 min, bis ich sah, dass die Taucher wieder an Land kamen
		</p>
		<p>
			Basti berichtete freudestrahlend vom Baracuda sowie von ziemlich großen Fischen am Wrack.
			Leider aber alles ohne Bilder oder Videos, da die GoPro beim ersten anmachen gleich leer war.
			Zur&uuml;ck an der Tauchbasis entschloss er sich, noch den zweiten Tauchgang zu machen. Nach kurzer Entspannungsphase sowie Ladezeit f&uuml;r die GoPro, ging es an die Alma Bucht.
			Diesmal ging es via Strand in das Wasser und ich genoss w&auml;hrenddessen das Wasser an den F&uuml;ßen bzw. saß faul auf der Bank und genoss die Sonne.
			
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Abends fuhren wir dann mit der vorletzten F&auml;hre zur&uuml;ck aufs Festland und machten uns etwas außerhalb von Townsville auf einem v&ouml;llig &uuml;berteuerten und direkt am Highway gelegenen Big4 Campingplatz bequem.
		</p>
    </div>
</div>
<!--=== End Post ===-->
