---
layout: blog/de/familie
title: "Da sind wir wieder"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Singapur
  - England
  - Deutschland
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170602-banner.jpg
    alt: ""

overview:
  intro: "Als wir heute morgen aufwachten, stellten wir fest, dass wir noch immer im Flieger nach London saßen."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170602-14.jpg
    alt: ""
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
            Auf dem Display im Vordersitz ließen wir uns anzeigen, wo genau wir uns aktuell befinden.
            Steffi tippte mich irgendwann an zeigte mir, dass wir direkt &uuml;ber Plauen waren. Ortszeit 4:45.
            Irgendwo da unten hab ich Familie, die sich jetzt bestimmt noch in den tiefsten Tr&auml;umen befindet und nicht ahnt, dass wir gerade so nah und doch so fern sind.
            Im vorbeifliegen schickte ich meiner Omi noch einen Luftkuss und dann waren wir auch schon in London.
            Der Flug war wirklich schlecht, sowohl was das unfreundliche Personal als auch Organisation anging.
            Denen ging doch glatt das Essen aus, sowohl bei der Abendessen als auch beim Fr&uuml;hst&uuml;ck.
        </p>
		<p>
            Im Londoner Flughafen hatten wir Zeit gem&uuml;tlich herum zu st&ouml;bern und noch etwas zu fr&uuml;hst&uuml;cken, bevor wir es uns dann im ziemlich leeren Flieger nach Hamburg bequem machten.
            Es war so viel Platz das jeder von uns mal wieder eine eigene Reihe f&uuml;r sich hatte.
            Ich verpennte die H&auml;lfte des Fluges und Steffi machte Fotos von den Inseln, die sich wie eine Perlenschnur vor der Nordseek&uuml;ste aufreihen.
            Von hier oben sehen die fast genauso aus wie die Koralleninseln des Great Barriere Reefs.
            Ich hatte schon kurz die Hoffnung, ich h&auml;tte doch l&auml;nger geschlafen und wir w&auml;ren wieder nach Australien zur&uuml;ck geflogen.
            Als dann aber doch die typisch Deutsche Felderwirtschaft und die vielen Ortschaften zu sehen waren, wurde mir klar das wir fast wieder zu Hause sind.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            In Hamburg angekommen, holte Steffi’s Mama uns dankenderweise  ab und brachte uns samt der schweren Rucks&auml;cke heim.
            Nach einem kurzen Mittagsschlaf f&uuml;r Steffi, gingen wir in die Stadt und g&ouml;nnten uns zum Abschluss endlich mal wieder Pizzabr&ouml;tchen und Schnitzel.
        </p>
        <p>
            Alles in allem, hatten wir wundersch&ouml;ne 5,5 Wochen Urlaub. Es waren 7 Fl&uuml;ge, 3 L&auml;nder, ca. 3000km mit dem Wohnmobil, &uuml;ber 250km zu Fuß, 8 Tauchg&auml;nge, 5 Tagestouren aufs Riff, 2 Zugfahrten, 3700 Fotos und fast 8 Stunden Videomaterial.
            Wir konnten sogar bei 2 weitere Tierarten eine Hacken auf der “In freier Wildbahn gesehen” Liste machen.
            Rockwallabies auf Magentic Island und die Cassowaries am South Mission Beach.
            Nur das Salzwasserkrokodil haben wir uns f&uuml;r den n&auml;chsten Besuch in Australien aufgeheben m&uuml;ssen.
            Es gab keine gr&ouml;ßeren Verletzungen als einen leichten Sonnenbrand.
            Keiner war zwischendurch mal krank. Sogar das Wetter hat auch fast immer mitgespielt.
            Es war einfach eine sch&ouml;ne Zeit.
            Ich hoffe das bis zum n&auml;chsten Besuch in Australien nicht wieder 4 Jahre vergehen.
        </p>
        <p>
            <strong>Bitte Bitte Bitte.</strong>
        </p>
    </div>
</div>
<!--=== End Post ===-->
