---
layout: blog/de/no_headline
sitemap: false
active_nav: travel-blog
title: Noch 18 Tage
categories:
  - de
  - Familie
locations:
  - Hong Kong
  - Australien
  - Singapur
overview:
  intro: "Noch 18 Tage bis zum Abflug in unseren lang ersehnten Urlaub"
  image:
    url: /assets/img/blog/2017-asia-oz/small/IMG_3409.JPG
    alt:
---
<!--=== Post ===-->
<div class="container content-xs">
    <div class="row">
        <div class="col-md-6">
            {% include 'blog/snippet/headline.html.twig' %}

            <p>
                Noch 18 Tage bis zum Abflug in unseren lang ersehnten Urlaub.
            </p>
            <p>
                Seit einigen Tage wird unser G&auml;stezimmer zur Vorbereitung benutzt.
                So langsam suchen wir alle Teile und Taschen zusammen um zu entscheiden was mit muss, soll und darf.
                Vor allem versuchen wir aber noch heraus zu finden was unn&ouml;tig ist und daher zu Hause bleiben kann.
            </p>
            <p>
                Unser Plan ist es f&uuml;r jeden von uns einen grossen Wanderrucksack und ein Handgep&auml;ckst&uuml;ck (Koffer oder Tagesrucksack) mitzunehmen.
                Naja wir werden sehen wie es ausgeht. Auf jeden Fall werden wir hier berichten.
            </p>
        </div>
        <div class="col-md-6 overflow-h">
            <div class="box-shadow shadow-effect-3">
                <img class="img-responsive img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/IMG_3409.JPG" alt="Sofa mit den ersten Reiseutensilien best&uuml;ckt">
            </div>
        </div>
    </div>
</div>
<!--=== End Post ===-->
