---
layout: blog/de/familie
title: "Schildkröten statt Krokodile"
active_nav: travel-blog
sitemap: false

categories:
  - de
  - Familie

locations:
  - Australien
  - Cairns
  - Franklands Islands
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170524-banner.jpg
    alt: "Der Strand von Franklands Islands"

overview:
  intro: "Heute morgen startete der Tag wieder sehr früh."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170524-15.jpg
    alt: "Schildkröte die ich beim tauchen gesehen habe"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
		<p>
			Um zum Schiff für die Tour auf die Franklands Islands zu kommen, mussten wir erst einmal 45 min. Richtung Süden fahren, da das Boot nicht von Cairns abfährt, sondern an einem kleinen versteckten Anleger zwischen Feld und Urwald. Die Fahrt raus zu den Inseln ging erst ganz gemütliche 25 min. auf einem Fluss durch den Regenwald. Wir beide hofften vielleicht sogar ein Krokodil zu sehen. Leider hatten wir kein Glück. Sobald das Boot dann die Nase aufs offene Meer raus Streckte ging das geschaukel auch schon los. Gut das wir erstens Reisetabletten genommen hatten und zweitens es nur noch weitere 25 min. bis zu Insel waren. Viel länger hätte ich heute nicht vertragen. 
		</p>
		<p>
			 Auf der Insel angekommen, machten wir es uns zusammen mit 16 weiteren Tagesgästen an einigen Parkbänken bequem. Da es sich hier um einen Naturschutzpark handelt, sind diese Bänke das einzige, durch den Menschen veränderte hier auf der Insel. 
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Als nächstes sollte es Schnorcheln gehen. Bevor wir aber alle ins Wasser hüpften, sah Steffi schon die erste Schildkröte vom Strand aus. Im Wasser war die Sicht leider wieder nicht so gut. Wir bekamen einige Korallen und sogar einige Nemos zu sehen. Dazu war es auch noch recht wellig, so das man im flacheren Wasser aufpassen musste, dass man nicht auf die Korallen geschoben wird. Der Guide schrie öfters mal "Turtle", Schildkröte aber wir zwei waren jedes Mal viel zu weit weg, um sie zu Gesicht zu bekommen. 
		</p>
		<p>
			Nachdem die Sicht auf dieser Seite der Insel nicht so gut war, wurden wir alle mit dem Boot auf die andere Seite der Insel gefahren, wo ich zusammen mit einem anderen Herrn und dem Guide einen Strömungstauchgang machte. Diesmal ging die Strömung auch erstens wie geplant in die richtige Richtung und außerdem hörten wir immer das Sicherungsboot, welches in der Nähe blieb. Zu sehen gab es auch wieder viel. Insgesamt sogar 10 Schildkröten. Leider war nur eine so entspannt, dass ich ein gutes Foto bekam. Alle anderen verschwanden sofort Richtung offenes Meer, als sie uns sahen. 
		</p>
		<p>
			Steffi hatte schnorchelnd an der Oberfläche mal wieder nicht ganz so viel Glück. Zu sehen gab es wohl genug nur leider war nun das Wasser zu flach an der Stelle wo sie vom Boot abgesetzt wurden. Nach nur wenigen Minuten ließen sich wohl alle wieder an Board holen, da viele bereits aufgeschürfte Knie und Arme hatten.  
		</p>
		<p>
			Nachmittags gab es dann noch eine geführte Tour über die Insel, die wir zwei aber nicht mitmachten, da sie erstens zu Fuß durch den mittlerweile trockenen Teil des Riffs gehen sollte und außerdem wollten wir zwei gerne nochmal ein wenig Zeit für uns auf dieser Trauminsel. So genossen wir den Nachmittag in der Sonne und spazierten selbst ein wenig entlang der Korallenbänke, wobei wir sogar noch Seesterne und Baby Stachelrochen zu sehen bekamen. 
		</p>
		<p>
			Die 25 Minuten Rückweg übers offene Meer, waren wieder eher schaukelig, aber dieses Mal haben wir es besser vertragen. Auf ruhigen Gewässern angekommen stellten wir uns wieder an Deck, in der Hoffnung dieses Mal Krokodile zu sehen. Der Tourguide gesellte sich zu uns und zeigte uns die stellen, an denen bei Sonnenschein meistens ein zwei Krokodile zu sehen sind. Leider waren nur Spuren im Sand zu sehen, nur keine Krokos. 
		</p>
		<p>
			Naja dann versuchen wir halten morgen unser Glück noch einmal mit den Krokodilen im Regenwald. Der Plan ist, morgen noch eine kurze Tour zum Daintree River zu machen, um dort bei einer Krokodil- und Schlangentour mitzufahren. 
		</p>
    </div>
</div>
<!--=== End Post ===-->
