---
layout: blog/de/familie
title: "Feuchte Träume"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - South Mission Beach
  - Cairns

overview:
  intro: "Heute morgen um kurz vor 5 Uhr machte es auf ein platsch und nochmal platsch."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170518-10.jpg
    alt: "Willkommens Schoki in Form eines Koalas"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			 Ich lag noch im Bett innerhalb des Wohnmobils.
			 Alle Fenster waren geschlossen und trotzdem regnete es in mein Gesicht. 
			 Sch....!
			 Naja noch ein Handtuch gesucht, in die tropfende Lücke gestopft, umgedreht und weiter gepennt.
			 1,5 Stunden später war die Nacht dann aber doch endgültig vorbei. 
		</p>
		<p>
			Da nun mittlerweile insgesamt 3 Handtücher komplett durchgeweicht waren, beschlossen wir einen Frühstart hinzulegen und nach Cairns zu fahren.
			Ersten sollte es da nicht regnen und zweites ist in Cairns die Hippie Camper Filiale, in der wir das Wohnmobil in 8 Tagen zurück geben sollen.
		</p>
		<p>
			Auf dem Weg dorthin erstellten wir eine Liste aller Mängel, die uns bei diesem Wohnmobil aufgefallen sind. 
			Von Scheibenwischern die schon so hart sind, dass man sie als Säge benutzen kann, bis hin zu dem ekligen Geruch nach Katzenpipi der hier regelmäßig durchs Auto weht und heute gefühlt immer schlimmer wurde.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Gegen kurz vor Mittag kamen wir bei Hippie Camper an und durften erst einmal warten, bis ein Lehrling sich unserer annahm. 
			Nachdem wir Ihm die Sachlage mit zwei Sätzen erklärt hatten und Ihm die Mängelliste zeigte, holte er prompt Unterstützung von der Managerin.
			Dieser zeigten wir nur kurz das von innen nasse Fahrzeug.
			Da das Auto mittlerweile echt erbärmlich nach Katzenpipi stank, hielt die Dame es auch nur kurz im Auto aus. 
			Eine halbe Std. und einige Telefonate später, hatte Sie zum Glück einen Ersatzwagen für uns organisiert. 
			Also stellten wir die beiden Fahrzeuge nebeneinander und räumten von A nach B. 
			Die Dame entschuldigte sich noch ein paar Mal und nahm auch die restlichen Mängel des ersten Fahrzeugs auf.
		</p>
		<p>
			Alles in allem dauerte die ganze Aktion ca. 2 Stunden.
			Da es hier mittlerweile schwüle 28 Grad warm war, waren wir beide reif für die Dusche. 
			Auf dem Weg zum Campingplatz besorgten wir dann noch schnell alle nötigen Lebensmittel, um Abends Burger selber machen zu können. 
		</p>
		<p>
			Auf dem schönen Big4 Coconut Campingplatz trafen wir dann auch wieder auf das deutsche Paar, welches wir in Airlie Beach kennen gelernt hatten.
			Wir beschlossen einfach wieder alle zusammen, Burger zu essen und den Abend bei Wein und anderen alkoholischen Drinks ausklingen zu lassen. 
		</p>
    </div>
</div>
<!--=== End Post ===-->
