---
layout: blog/de/familie
title: "Frühstück mit Wallabies"
active_nav: travel-blog
author: Steffi
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Cape Hillsborough
  - Bloomsbury
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170510-banner.jpg
    alt: "Frühstück mit Wallabies am Strand"

overview:
  intro: "Um 5.30h ging der Wecker"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170510-12.jpg
    alt: "Ein extra kleines Wallaby"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}, denn die Dame von der Rezeption sagte uns tags zuvor, dass gegen 6h früh die Kängurus und Wallabies an den Strand kommen bzw. es da hell genug ist, um etwas zu sehen. 
			Zum Glück wurde es wirklich recht schnell hell und trocken war es auch noch (war nach dem Abend ja nicht selbstverständlich), so dass wir beim betreten des Strandes schon die Wallabies entdeckten.
			Diese verspeisten genüsslich Krabben, herumliegende Äste sowie Grünzeug.
			Es entstanden div. Bilder und Videos und eines der Wallabies war sogar so "zutraulich", dass es sich nicht daran störte, als man sich quasi direkt zu ihm auf einen Stein setzte.
		</p>
		<p>
			Gegen kurz nach 7h haben wir uns dann Richtung Camper aufgemacht und erst einmal gefrühstückt.
			Anschließend haben wir uns dann noch mit zwei Nachbarn unterhalten, welche ins berichteten, dass am Abend zuvor oben am Platz zwei große Kängurus waren. 
			Die haben wir leider nicht zu sehen bekommen.
		</p>
		<p>
			Da das Wetter leider nicht viel hergab, und es nur noch ca. 120 km bis nach Airlie Beach sind, beschlossen wir zurück nach Mackay zu fahren und das Shoppingcenter vom gestrigen Tag unsicher zu machen. 
			Dort haben wir dann bis 15.30h rumgetrödelt und sind nach 1 Std. fahrt auf dem kostenfreien Platz in Bloomsbury gelandet. 
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Dort entdeckten wir dann auch glatt am Klo eine kleine Schlange, leider auch schon im Jenseits, welche aber noch recht frisch aussah. 
			Lange kann sie also noch nicht dahin gewesen sein.
			Selbst die fiesen kleinen Zähne waren noch zu erkennen.
		</p>
        <p>
			Nach Resteessen am Camper, gestern war es einfach zuuuu viel, ging es dann begleitet von der lautstarken Tierwelt ins Film- und Traumreich.
		</p>
    </div>
</div>
<!--=== End Post ===-->
