---
layout: blog/de/familie
title: "Don't worry Mate"
active_nav: travel-blog
sitemap: false

categories:
  - de
  - Familie

locations:
  - Australien
  - Rainbow Beach
  - Inskip Point
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170505-banner.jpg
    alt: "Sonne am Strand überm Rainbow Beach"

overview:
  intro: "Heute möchte ich euch kurz berichten, wie hilfsbereit die Menschen hier doch sind."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-23.jpg
    alt: "Hinterrad steckt im Sand fest."
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
        <p>
           Wie Steffi ja schon berichtet hatte, haben wir uns gestern Abend ein wenig im Sand fest gefahren. 
		   Das war wieder so ein perfektes Beispiel, für glauben ist nicht wissen. 
		   Auf Arbeit predige ich regelmässig, dass man seine Annahmen überprüft und messbar macht, bevor man etwas in die Tat umsetzt, aber im Urlaub halte ich mich selber nicht daran. 
		   Diesmal ist es nun schiefgegangen. 
		   Meine Annahme war, dass unser Mietmobil einen Vorderradantrieb hat. 
		   Somit sollte es kein Problem sein wenn ich die Hinterräder ein wenig auf Sand stelle.
		   So lange wie die Vorderräder noch auf festen Untergrund stehen, sollten wir keine Probleme bekommen.
		   Naja, falsch gedacht! Dieses Auto hat einen Heckantrieb und sobald ich die Räder nur ansatzweise auf den Sand stellte fuhren wir uns fest! 
		   Was sagt uns das wieder: nicht annehmen, sondern Annahmen beweisen!
		</p>
		<p>
			Da ich mich noch nie mit einem Fahrzeug festgefahren habe, geschweige denn mir einen Kopf darum gemacht habe, hatte ich natürlich nicht den Schimmer was in solchen Fällen zu tun ist.
			Wo steckt eigentich mein Bruder, der Offroad Fan, wenn man Ihn mal braucht.
			Da wir aber auf einem Campingplatz waren und viele weitere Camper in Sichtweite standen, beschloss ich nach dem ersten fehlgeschlagenen Versuch bereits, auf den nächsten Morgen zu warten und es nicht noch schlimmer zu machen.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			So stecken wir nun die gesamte Nacht im Sand fest. 
			Geschlafen haben wir auch nur wenige Stunden da wir uns im Kopf die verschiedenen "Worse Case" Szenarien ausmalten. 
			Wie sich aber am Morgen herausstellen sollte, waren alle unsere Sorgen unbegründet.
		</p>
		<p>
			Kurz nach Sonnenaufgang, merkte ich, dass die ersten Mitcamper in den Tag starteten. 
			Somit standen wir auch auf und machten uns auf die Suche nach Unterstützung. 
			Wir fragten einen netteren älterer Herr um Hilfe.
			Er Antwortete natürlich Aussie typisch mit "Don't worry Mate" und war sofort zur Stelle, uns zu helfen.
			Nach nur 10 Minuten schaufeln sowie "nice and steady" vor und zurück, vor und zurück mit anschieben, waren wir wieder mit allen vier Rädern auf festem Untergrund.
			Wir beschlossen dann doch spontan den kompletten festen Weg im Rückwärtsgang zurück zu fahren ohne zu wenden, versteht sich.
			Da wir nun aber schon hier waren, beschlossen wir das Auto auf festem Untergrund an den Wegesrand zu stellen und für noch ein paar Minuten an den Strand zu gehen, den frühen Morgen genießen.
		</p>
		<p>
			Danach fuhren wir zurück nach Rainbow Beach und verbrachten den Rest des Tages auf dem dortigen Campingplatz mit faulenzen und schlaf nachholen. 
		</p>
    </div>
</div>

<!--=== End Post ===-->
