---
layout: blog/de/familie
title: "Chinesisch statt Rodizio"
active_nav: travel-blog
author: "Steffi"
sitemap: false

categories:
  - de
  - Familie

locations:
  - Australien
  - Sydney
  - Coogee
  - Clovalley
  - Darling Harbour
  - Zetlands

overview:
  intro: "Heute ging es erst einmal nach Coogee, um ggf. 1 - 2 Tauchgänge für Basti klarzumachen."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170527-11.jpg
    alt: "Steffi mit Blick ins Wasser"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
		<p>
			Bei ProDive angekommen und tatsächlich für den nächsten Tag angemeldet bekommen. Dieses war hier nämlich nicht selbst verständlich, da eigentlich keiner mehr ins Wasser geht bei den Temperaturen von nur ca. 20 Grad. Wir beschlossen dann ein Stück dem Küstenweg zu folgen und landeten eine Bucht weiter in Clovalley. Viel weiter kamen wir dann auch nicht, denn wir setzten uns an die Wasserkante, genossen die Sonne und schauten in das kristallklare Meer, beobachten Fische und das ablaufende Wasser. 
		</p>
		<p>
			Mit dem Bus ging es zurück in die Stadt, um den Paddys Market aufzusuchen. Hier wurden wir auch wieder einmal fündig und haben einiges an Geld gelassen. Wir kauften uns zwei schöne Bilder für die Küche, welche von Aborigines gemalt wurden. Weiter ging es über Chinatown zum Darling Harbour. Dort erwarteten uns erst einmal ziemlich viele Zäune und Barrieren... Sicherheit geht auch hier vor!
		</p>
		<p>
			Das erste Ziel war das Hard Rock Café, wo zumindest ich günstig auf dem "Sale Ständer" fündig wurde, denn alles andere war wirklich ausverschämt teuer.
		</p>
        <p>
			Weiter sollte es dann zum Geburtstagsessen gehen. Daraus wurde nur leider nichts, denn irgendwie haben wir das Tischreservieren beim Brasilianer verdrängt. Es war natürlich alles voll und so entschieden wir, zurück nach Chinatown zu gehen - dort gab es dann "echt chinesische Küche". Mein Fall war das gar nicht und Basti... ich zitiere "war ok". 
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			Zurück am Darling Harbour steuerten wir als erstens die "Scheinwerfer" an. Eine Konstruktion, wo einfach Lichter nach oben gestrahlt und in div. Formationen positioniert werden. Damit es wirklich wirkt, sind darunter Matten gelegt worden, so dass man sich hinlegen kann. Hier lagen wir dann auch eine Weile, da unter anderem Basti's Kamera mal wieder zickte und eine liebe Kolleginen mich aus Deutschland anrief. 
		</p>
		<p>
			Die nächste Darstellung befand sich dann in einem ganz normalen Überseecontainer. Am Eingang drückte man uns Schwarzlichttaschenlampen in die Hand und drinnen erwarteten uns dann teilweise echt schicke Bilder, welche nochmal extra was hermachten, wenn man sie richtig ausleuchtet. Am Hafenbecken angekommen fing kurz darauf auch schon die Wassershow an. Auf über 60m Breite/Höhe schossen die Wasserstrahlen nach oben und wurden mit div. Bildern angestrahlt. Anschliessen schlichen wir weiter dort rum, weil wir auf das Feuerwerk warteten, was samstags immer im Hafen ist. Zwischenzeitlich sahen wir das Wasserspiel viermal und haben auch noch eine "Vivid Cruise Tour mit Buffet" gebucht. Mittlerweile stellten wir fest, dass es diesmal leider kein großes Feuerwerk geben sollte, da dieses mehr oder weniger in die Wasserspiele mit eingebaut wurde. 
		</p>
		<p>
			Irgendwann spät abends ging es dann langsam Richtung Bus der uns zum apartment bringen sollte. Gute Nacht!
		</p>
    </div>
</div>
<!--=== End Post ===-->
