---
layout: blog/de/familie
title: "der endlose Highway"
active_nav: travel-blog
author: Steffi
sitemap: false

categories:
  - de
  - Familie

locations:
  - Australien
  - Mackay
  - Cape Hillsborough
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170509-banner.jpg
    alt: "Auf dem Parkplatz direkt am Highway Zähne putzen"

overview:
  intro: "Über diesen Tag gibt es nicht viel zu berichten, denn es war so ziemlich ein reiner Fahrtag"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170510-10.jpg
    alt: "Das erste Wallaby am Cape"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}, welcher uns nach Cape Hillsborough zu den Wallabies und Känguru bringen sollte.
			Der Weg führte über den endlosen Bruce Highway.
			Durch diverse Schilder auf Koalas und Kängurus hingewiesen, hielten wir natürlich die Augen auf. 
			Ich entdeckte tatsächlich im vorbeifahren mind. 3 Kängurus unter einem Baum, aber dabei blieb es leider auch. 
		</p>
		<p>
			In Mackay legten wir einen Stop am Shoppingcenter ein, um meine Mobilkarte ein wenig aufzuladen für den Notfall.
			Nachdem dieses erledigt war, füllten wir noch unsere Wasservorräte auf und weiter ging es Richtung Cape.
			Kurz vor dem Platz entdeckte Basti dann auch schon auf einer Grünfläche das erste Wallaby und natürlich ließen wir es uns nicht nehmen, anzuhalten und die Kamera auszupacken.
			Es gesellte sich noch ein Kookaburra dazu und Basti hat sich diesem zugewandt.
			Beim Einchecken sagte man uns gleich, dass wir um 6h an den Strand sollten, wenn wir die Tiere dort erleben wollen.
			Nachdem wir uns einen Stellplatz ausgesucht hatten, schnappten wir uns unser Grillgut und machten uns in der offenen Campküche breit.
			Leider fing es ziemlich bald an zu regnen, aber das sollte uns erst einmal nicht kümmern.
			Das Essen war fertig und eindeutig vieeeel zu viel.
			Davon würden wir morgen noch essen können.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Zwischenzeitlich schüttete es extrem, es bildeten sich richtige Sturzbäche auf dem Platz und Blitze zogen auch noch vorbei.
			Nachdem es einfach nicht besser wurde, räumten wir fix alles zusammen und eilten zum Camper.
			Wie so üblich war natürlich kurz darauf alles vorbei. 
			Wir gingen fix duschen, schauten noch einen Film und weg waren wir, schließlich sollte es früh aus den Federn gehen. 
		</p>
    </div>
</div>
<!--=== End Post ===-->
