---
layout: blog/de/familie
title: Unsere Flugdaten
active_nav: travel-blog
sitemap: false

categories:
  - de
  - Familie

locations:
  - Hong Kong
  - Macau
  - Australien
  - Singapur

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/ba-british-airways-airbus-a380.jpg
    alt: "Ein Airbus A380 der British Airways"

overview:
  intro: "Noch 5 Tage bis zum Abflug in unseren lang ersehnten Urlaub."
  image:
    url: /assets/img/blog/2017-asia-oz/small/qantas-airbus-a380.jpg
    alt: "Die Nase eines Airbus A380 der Airline Qantas parkend an einem Gate"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}

        <p>
            {{ page.overview.intro|raw }}
            Heute m&ouml;chten wir euch mal &uuml;ber unsere Flugdaten informieren.
            Die nachfolgenden Uhrzeiten sind Ortszeiten.
            In Klammer findet Ihr, wieviele Stunden unterschied zur Deutschen Zeit besteht.
            Als Besipiel ist es in London, eine Stunde fr&uuml;her (-1 Std.) und in Australien acht Stunden sp&auml;ter (+8 Std.) als hier in Deutschland.
        </p>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Strecke</th>
                <th>Datum</th>
                <th>Abflug</th>
                <th>Flughafen</th>
                <th>Ankunft</th>
                <th>Flughafen</th>
                <th>Flugzeit</th>
            </tr>
            <tr>
                <td rowspan="2">1</td>
                <td rowspan="2">28.04.2017</td>
                <td>14:10</td>
                <td>Hamburg</td>
                <td>14:55 (-1 Std.)</td>
                <td>London</td>
                <td>1 Std. 45 Min.</td>
            </tr>
            <tr>
                <td>18:40 (-1 Std.)</td>
                <td>London</td>
                <td>13:40 (+6 Std.)</td>
                <td>Hong Kong</td>
                <td>12 Std.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>02.05.2017</td>
                <td>20:00 (+6 Std.)</td>
                <td>Hong Kong</td>
                <td>14:40 (+8 Std.)</td>
                <td>Brisbane</td>
                <td>8 Std. 45 Min.</td>
            </tr>
            <tr>
                <td>3</td>
                <td>26.05.2017</td>
                <td>13:25 (+8 Std.)</td>
                <td>Cairns</td>
                <td>16:20 (+8 Std.)</td>
                <td>Sydney</td>
                <td>2 Std. 55 Min.</td>
            </tr>
            <tr>
                <td>4</td>
                <td>01.06.2017</td>
                <td>14:50 (+8 Std.)</td>
                <td>Sydney</td>
                <td>21:05 (+6 Std.)</td>
                <td>Singapur</td>
                <td>8 Std. 15 Min.</td>
            </tr>
            <tr>
                <td rowspan="2">5</td>
                <td>04.06.2017</td>
                <td>22:35 (+6 Std.)</td>
                <td>Singapur</td>
                <td>05:05 (-1 Std.)</td>
                <td>London</td>
                <td>13 Std. 30 Min.</td>
            </tr>
            <tr>
                <td>05.06.2017</td>
                <td>07:10 (-1 Std.)</td>
                <td>London</td>
                <td>09:45</td>
                <td>Hamburg</td>
                <td>1 Std. 35 Min.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--=== End Post ===-->
