---
layout: blog/de/familie
title: "Zeit verplempern in Cairns"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Cairns

overview:
  intro: "Heute morgen wollten wir eigentlich in den Regenwald fahren"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170525-10.jpg
    alt: "Mit den F&uuml;ßen im Wasser der Lagune in Cairns"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }} um Krokodile zu sehen aber irgendwie waren wir hoch motiviert nichts zu tun bzw. wir wollten uns nicht komplett zerstechen lassen von den Moskitos im Regenwald. So ließen wir den Tag gem&uuml;tlich mit Pfannkuchen beginnen, die es hier auf dem Campingplatz immer donnerstags kostenfrei gibt.
		</p>
		<p>
			Nach dem Festmahl spielten wir eine Runde Minigolf gegen zwei Deutsche die wir hier auf dem Campingplatz kennengelernt haben.  
		</p>
		<p>
			Danach schleppten wir uns in die Stadt, um wenigstens noch ein wenig spazieren zu gehen. Wir kamen auch wieder an der Lagune vorbei. Dort k&uuml;hlten wir unsere F&uuml;ße im Freibad. Einen  Nachmittags fingen wir an unsere Sachen zu packen, denn morgen geben wir das Wohnmobil wieder ab und fliegen dann nach Sydney weiter.
		</p>
		<p>
			Abends saßen wir noch mit den zwei deutschen vom Vormittag zusammen und tauschten Tipps und Geschichten &uuml;ber Australien aus. Ausserdem schwatzten wir denen unsere ganzen ungenutzten Lebensmittel auf.
		</p>
		<p>
			Morgen geht es dann nun nach Sydney. Ich freue mich schon darauf einige Bekannte zu treffen und wieder zwischen den Hochh&auml;usern und den Buchten hin und her zu laufen.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
