---
layout: blog/de/familie
title: "Tipps Tipps Tipps"
active_nav: travel-blog
author: Steffi
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Bundaberg

overview:
  intro: "Diesmal führte uns der Highway nach Bundaberg."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170507-11.jpg
    alt: "Eine ziemlich verdreckte Küche"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
        <p>
			An der örtlichen Touriinfo trafen wir auf Jamie, der superfreundlich war und zudem noch unzählige Tipps für unsere weitere Strecke auspackte. 
			Diese malte er sogar für uns in einer Karte ein.
			Leider hatte auch er keine guten Nachrichten, was das Wetter und vor allem den Wind angeht. 
			Der Wind wird einige weitere Tage zu stark bleiben, um tauchen oder schnorcheln zu gehen.
		</p>
		<p>
			Wir machten uns trotzdem glücklich und ein wenig mit Hoffnung bepackt wenigstens Kängurus zu sehen, auf den Weg zum Campingplatz für die Nacht.
		</p>
		<p>
			Dieser war leider gar nicht so einladend, aber für eine Nacht sollte es reichen.
			Der Platz war voll mit Arbeitern, Hippies und anderen Konsorten, welche so verpeilt waren, dass Sie es nicht einmal hinbekamen, den Herd samt Ofen auszumachen. 
			Zudem war die Campingküche recht versifft und der Platz ebenfalls recht renovierungsbedürftig. 
			Soviel zu den Slogan "... stay with Friends"
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
