---
layout: blog/de/familie
title: "Kuranda aber ohne Seilbahn"
active_nav: travel-blog
author: Steffi
sitemap: false

categories:
  - de
  - Familie

locations:
  - Australien
  - Cairns
  - Kuranda
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170519-banner.jpg
    alt: "Kuranda Scenic Railway in einer Kurve mit schöner Aussicht"

overview:
  intro: "Heute mussten wir wieder früh hoch"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-27.jpg
    alt: "Einer der vielen bunten Vögel."
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}, da wir schon um 8 Uhr am Hauptbahnhof in Cairns einchecken mussten, um mit der Kuranda Scenic Railway, einem fast 100 Jahre alten Zug, im Schneckentempo von Cairns nach Kuranda hoch zu fahren.
			Leider war das Wetter nicht sehr vielversprechend; es zeigten sich dicke Wolken und es versprach Regen.
			Geregnet hat es zwar auf dem schaukeligem Weg nach oben nicht, dafür gab es aber grauen Himmel und Wolken zwischen den Bergen. 
			Am Barron Wasserfall legte der Zug eine Pause von 10 min. ein, in der man aussteigen und Bilder machen konnte. 
			Leider war der Wasserfall kaum zu sehen wegen der Wolken, somit beschloss ich erst einmal zu schauen, ob sich das aussteigen lohnt, während Basti sitzen blieb. 
			Hier bewährte sich wieder das Pusten!!! 
			Ich hab's getan und keine 5 min. später war alles frei von Wolken und es gab doch noch das ein oder andere gescheite Bild! 
		</p>
		<p>
			Oben in Kuranda angekommen, haben wir uns erst einmal fix jeder ein Sandwich geholt, bevor es weiter zum Koala Gardens ging.
			Hier haben wir ein Doppelticket gekauft... für den Koala Gardens und für die Birdworld, welche direkt nebenan liegt.
		</p>
		<p>
			Der Koala Gardens gab nicht viel her, aber mein "Highlight" war hier das Füttern von Wallabies. 
			Man konnte direkt durchs Gehege laufen und diese dabei füttern. 
			Aber natürlich war das nicht zu vergleichen mit den freilebenden auf Magnetic Island. 
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Quasi waren wir dann auch schon durch und sind rüber zur Birdworld... hätten wir gewusst, was uns da erwartet!!!
		</p>
		<p>
			Am Eingang wurde uns erzählt, dass dort 400 Arten zu Hause sind und das wir uns vor den Gelbbrustara's in acht nehmen sollten, da diese aktuell Kücken haben.
			Durch die Schleuse durch und OH WEIA... die Fliegen alle kreuz und quer ohne Gitter und Co.!!!
			Die Damen, die schon drinnen waren, waren schon gut mit Piepmätzen besetzt und fütterten diese... "Hmm will auch"... also Rückwärtsgang eingelegt und an der Kasse danach gefragt.
			Dort gab es tatsächlich eine Futtertüte für 3$ zu erwerben... hätte ich das mal gelassen. 
			Kaum wieder drin, samt Tüte in der Hand, flogen schon die ersten Piepmätze auf uns. 
			Bei den kleineren war ja alles gut, aber die größeren jagen einem schon einen heiden Respekt mit ihren Schnäbeln ein.
			Groß war die "World" nun auch nicht, aber gelohnt hat es sich auf jeden Fall. War mal was anderes. 
			Blöderweise fing es zwischenzeitlich an zu regnen und so beschlossen wir noch bei den Marktständen vorm Eingang zu schmökern. 
			Hier gabs dann glatt noch ein Shirt für mich sowie Untersetzer aus Mangoholz für unseren Tisch zu Hause.
		</p>
		<p>
			Der Regen hörte nicht auf, der Hunger stellte sich ein, also zogen wir los auf der Suche nach was essbarem. 
			Wir landeten in einem Restaurant, wo wir uns eine Kleinigkeit holen wollten, bekamen einen Tisch mit Aussicht und entdeckten vor dem Fenster ein Baumarmeisen-Nest.
			Tja leider waren die nicht nur draußen, denn in den Moment als wir dachten "gut das die draußen sind" bis mich schon eine ins Kinn und Basti kurz darauf in den Hals.
			Wir zogen an einen anderen Tisch um, es kribbelte aber alles weiterhin (Psyche und so), das wir unsere Sachen nahmen und wieder verschwunden sind. 
			Der Biss tat echt weh!!!
		</p>
		<p>
			Wir landeten am Ende in einem Café mit Donuts und anderem ungesunden, bis um 15.30h der Zug zurückgehen sollte.
			Blöderweise fährt aktuell nämlich die Seilbahn nicht, da diese bis Anfang Juni 2017 gewartet wird. 
			Danach soll der Zug dann folgen! Blööööööööd!
		</p>
		<p>
			Wir waren so erledigt, dass wir Teilstücke der Strecke glatt verschlafen haben. 
			Wieder am Bahnhof angekommen, erreichte uns auch schon eine Nachricht der beiden anderen deutschen, dass wir uns im 18h an der Lagune treffen.
			Wir hatten also noch gut eine halbe Std. Zeit. 
			Auto umgeparkt, fix in den Tauchladen und schon waren wir pünktlich an der Lagune. 
			Zum Essen ging es dann zum Italiener an der Ecke... essen war ok, aber irgendwie war mein Teller leer, dabei hab ich doch Gnocci Bolognese bestellt. 
			Die Portion war echt eine Lachnummer, aber was soll's. Wir flanierten noch am Hafen entlang, bis sich schließlich unsere Wege trennten. 
			Für die beiden anderen geht es morgen mit den Flieger Richtung Heimat und für uns ging es zurück auf den Campingplatz zum schlafen. 
		</p>
    </div>
</div>
<!--=== End Post ===-->
