---
layout: blog/de/familie
title: "Wilde Wachsfiguren"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Sydney
  - Darling Harbour
  - Ultimo
  - Circular Quay
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170529-banner.jpg
    alt: "Kurios aber war. Dies ist die Aussenfasade eines Hochhauses und damit der h&ouml;hste vertikale Garten der Welt."

overview:
  intro: "Heute stand auch wieder viel auf dem Zettel."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170529-11.jpg
    alt: "Steffi rettet E.T."
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			Als erstes trafen wir uns mit Fairina Cheng, einer Schmuckdesignerin, auf eine hei&szlig;e Schokolade. Sie ist die Designerin des Armbandes, welches Steffi vor einigen Jahren zu Weihnachten geschenkt bekommen hat. Leider ist Steffi Anfang des Jahres an einem T&uuml;rgriff h&auml;ngen geblieben, wobei das Armand kaputt ging. Circa 1,5 Monate vor unserem Urlaub hatten wir dann das Armband per Post schon einmal nach Sydney geschickt und Fairina hat es sogar kostenfrei f&uuml;r Steffi repariert. Als Dankesch&ouml;n spendieren wir ihr wenigstens einen Drink.
		</p>
		<p>
			 Danach trennten sich Steffi und mein Weg f&uuml;r ein paar Stunden. Steffi tr&ouml;delte f&uuml;r einige Zeit am Darling Harbour herum und verbrachte viel Zeit im SeaLife. Ich hingegen traf mich mit Elmar, meinem ehemaligen Chef zum Mittag, um uns gegenseitig auf dem aktuellsten Stand der Dinge zu bringen.
		</p>
		<p>
			Nach dem Mittag ging ich dann mit Steffi erst ins Wild Life, Tiere schauen und danach noch bei Madame Tussaud rein. Sie rettete sogar erst E.T. und lie&szlig; sich dann selbst von John McClane retten.
		</p>
		<p>
			Abends ging es dann aufs Schiff zur gebuchten Dinner Cruse. Nat&uuml;rlich waren auch dort wieder viel zu viele Menschen an Board.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Es gab auch keine Tische auf dem unteren Deck. Nur St&uuml;hle und das Buffet. Auf dem oberen Deck gab es dann doch noch ein paar wenige Tische auf knieh&ouml;he. Wir reservierten uns prompt einen und Steffi stellte sich in die lange Schlange f&uuml;rs Buffet an. Dir f&auml;hrt dauerte 2 Stunden und bot einen sch&ouml;nen Blick auf Sydney's Skyline und die bunt beleuchteten Geb&auml;ude. Die 60&euro; f&uuml;r uns beide mit Essen und je einem Getr&auml;nk war die Tour alle mal wert. Danach fuhren wir mit der F&auml;hre direkt zum Circular Quay um noch einmal bei Canon vorbei zu schauen, um uns noch das einen oder andere Bild f&uuml;r zu Hause drucken zu lassen. Den Rest des Abends tr&ouml;delten wir weiter auf dem Vivid Festival herum und genossen die Zeit.
		</p>
    </div>
</div>
<!--=== End Post ===-->
