---
layout: blog/de/familie
title: Camper abholen und los
author: Steffi
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Brisbane
  - Mooloolaba
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170503-banner.jpg
    alt: "Die BBQ Station Mooloolabas ist auch bei Nacht ge&ouml;ffnet"

overview:
  intro: "V&ouml;llig im Eimer sind wir p&uuml;nktlich in Brisbane gelandet..."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-15.jpg
    alt: "Sonnenaufgang &uuml;ber Australien"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
		<p>
			...nur aussteigen konnten wir erst einmal nicht, da die Gangway zum Flieger einen Defekt hatte. 
			Die gerufenen Techniker hatten leider auch keine L&ouml;sung, so dass wir am Ende &uuml;ber manuelle Treppen hinunterbef&ouml;rdert wurden.
		</p>
		<p>
			Nachdem wir am Mobilfunkshop die passenden Karten f&uuml;r unsere Telefone geholt hatten, ging es weiter zum Taxistand und von dort f&uuml;r 35$ zur Autovermietung.
			Nach kurzem Vertragskram, hieß es &uuml;ber 1 Std. Geduld aufbringen, um endlich den Camper zu bekommen.
		</p>
		<p>
			Nachdem rundherum Sch&auml;den aufgenommen wurden... und es sind wirklich viele Sch&auml;den..., Bettw&auml;sche nachgeliefert wurde etc. ging es zum n&auml;chsten Coles, um uns mit dem n&ouml;tigsten einzudecken.
			Nat&uuml;rlich durften hier die "ber&uuml;hmten" H&auml;hnchenschnitzel f&uuml;r 2$ von der frische Theke nicht fehlen.
			Dazu haben wir dann noch frischen Nudelsalat geholt, welcher uns besonders in Erinnerung bleiben sollte, wie sich sp&auml;ter herausstellte.
			Weiter ging es dann zum gesetzen Ziel des Tages - Mooloolaba! Am Campingplatz angekommen, einen kurzen Blick auf den Strand und es hat mich, Steffi, f&uuml;r die n&auml;chsten 2 Std. ins Reich der Tr&auml;ume versetzt.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			Basti saß w&auml;hrenddessen vor dem Camper, genoss die Sonne und schrieb am Blog.
			Nachdem er mich geweckt hat, haben wir zusammen das Bett bezogen und beschlossen Arbeitsteilung zu machen. 
			Ich fing an, die Rucks&auml;cke zu leeren und die Sachen im Camper zu verteilen, w&auml;hrend er am Grill des Campingplatz die Schnitzel zubereitete (da kann er nicht viel falsch machen, die muss man nur aufw&auml;rmen).
			Als er den K&uuml;hlschrank &ouml;ffnete, um Schnitzel und Nudelsalat rauszuholen, kam eine ziemliche b&ouml;&ouml;&ouml;&ouml;se Knoblauch-Fahne raus... ups!
			Der Nudelsalat hatte es ganz sch&ouml;n in sich.
		</p>
		<p>
			Nach dem Essen ging es auf einen Spaziergang an die Promenade. 
			Bl&ouml;derweise sind wir direkt an einem Café vorbeigekommen, die so herrliche Sachen wie "ice chocolate" oder "Ice Cookie Creme with white chocolate" im Angebot hatten.
			Nicht g&uuml;nstig, aber nach kurzem gr&uuml;beln... meins!!! War jetzt nicht der Burner, aber zumindest habe ich w&auml;hrend des trinkens Basti in 4 gewinnt platt gemacht.
			Zur&uuml;ck am Campingplatz ging es noch fix unter die Dusche, bis uns um 22h die Augen zufielen.
		</p>
    </div>
</div>

<!--=== End Post ===-->
