---
layout: de_travel-blog
sitemap: false
active_nav: travel-blog
title: Noch 18 Tage
categories:
  - de
  - Familie
locations:
  - Hong Kong
  - Australien
  - Singapur
overview:
  intro: "Noch 18 Tage bis zum Abflug in unseren lang ersehnten Urlaub"
  image:
    url: /assets/img/blog/2017-asia-oz/IMG_3409.JPG
    alt:
---
<div class="row">
    <div class="col-sm-5">
        <img class="img-responsive img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/IMG_3409.JPG" />
    </div>
    <div class="col-sm-7">
        <p>
            Noch 18 Tage bis zum Abflug in unseren lang ersehnten Urlaub.
        </p>
        <p>
            Seit einigen Tage wird unser G&auml;stezimmer zur Vorbereitung benutzt.
            So langsam suchen wir alle Teile und Taschen zusammen um zu schauen was mit muss, soll und kann.
            Vor allem versuchen wir aber noch heraus zu finden was unn&ouml;tig ist und daher zu Hause bleiben kann.
        </p>
        <p>
            Unser Plan ist es f&uuml;r jeden von uns einen grossen Wanderrucksack und ein Handgep&auml;ckst&uuml;ck (Koffer oder Tagesrucksack) mitzunehmen.
            Naja wir werden sehen wie es ausgeht. Auf jeden Fall werden wir hier berichten.
        </p>
    </div>
</div>
