---
layout: blog/de/familie
title: "Haaaaaaai!!!! Na endlich!"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Sydney
  - Coogee
  - Darling Harbour
  - Circular Quay

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170528-banner.jpg
    alt: "Die Sydney Oper mit der Animation des VIVID Lichterfestivals 2017"

overview:
  intro: "Heute morgen wartete schon um 7:15 Uhr ein Taxi auf mich."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170528-14.jpg
    alt: "Port Jackson Hai"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			Dieses brachte mich zur Pro Dive Tauchbasis nach Coogee. Die Fahrt dauerte nur 5 min. und kostete stattliche $ 37.
		</p>
		<p>
			Nachdem einchecken, ging es auch schon los zur Gordons Bay, meinem absoluten Lieblingstauchplatz. Es handelt sich dabei um eine kleine Bucht n&ouml;rdlich von Coogee Beach, mit einem Unterwasserpfad dem man als Taucher folgen kann. Dort habe ich 2013 tauchen gelernt und bin sehr froh, dass ich heute dort wieder tauchen durfte.
		</p>
		<p>
			Der erste Tauchgang war bereits der Hammer. Wir sind zu sechst plus Guide reingegangen und glitten entlang des Pfades. Nachdem wir an eine kleine Steilwand kamen, Bogen wir rechts ab und schwammen abseits des Pfades. Anfangs war ich am Ende der Gruppe und ein wenig entt&auml;uscht, weil ich bei weitem nicht so viel Fisch zu sehen bekam, wie ich in Erinnerung hatte. Nachdem mich auch noch 2 mal die Flossen anderer Taucher plagten, beschloss ich nach vorne zu schwimmen und neben dem Guide mein Gl&uuml;ck mit der Natur noch eine Chance zu geben. Nach wenigen Minuten stellten sich meine Augen auf die Fische hier ein. Es gab echt viel zu sehen. Man muss nur hinschauen. Ich habe ganz viele verschiedene Arten gesehen. Von Kugelfischen &uuml;ber Tiegerrochen und Steinfischen bis hin zu ganzen schw&auml;rmen von silbergelben Butterfischen. Sogar eine Schildkr&ouml;te war f&uuml;r kurze Zeit zu sehen. Leider war nach 50 min. der Tauchgang beendet. Dabei hatte ich doch noch fast ne halbe Flasche Luft &uuml;brig. :(
		</p>
		<p>

		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Der zweite Tauchgang war noch beeindruckender. Nachdem meine Augen nun bereits auf die Fischwelt hier eingestellt waren, bekam ich von Anfang an einiges zu sehen. Leider war das Wasser auf ca. 13m Tiefe mit nur 19 Grad recht k&uuml;hl f&uuml;r meinen Warmwasseranzug. Daf&uuml;r bekamen wir aber sogar einen ca. 1,20m langen Hai zu sehen. Auf dem R&uuml;ckweg w&auml;re ich am liebsten noch 2 - 5 weitere Stunden im Wasser geblieben, denn beim Ausstieg war so viel Fisch unterwegs, dass ich gar nicht wusste wo ich zuerst hinschauen sollte.
		</p>
		<p>
			Auch f&uuml;r den R&uuml;ckweg zum Hotel g&ouml;nnte ich mir wieder ein Taxi. Dieses Mal dauerte die Fahrt ca. 25 min. und kostete daf&uuml;r nur $ 28. Ich bef&uuml;rchte, der Fahrer heute morgen hat mich mal komplett abgezockt.
		</p>
		<p>
			Den Abend verbrachten wir wieder auf dem Vivid Festival in der Innenstadt von Sydney. Heute wollten wir endlich mal die Oper zu Gesicht bekommen. Auf dem Weg durch die Schluchten der Hochh&auml;user. Als wir am Skytower vorbei kamen, beschlossen wir spontan hoch zu fahren und uns Sydney nach Sonnenuntergang von oben anzuschauen. Die Aussicht war wie schon vor 4 Jahren, der Hammer. Ich kann machen was ich will, aber ich finde diese Stadt toll. Mir gefiel der Gedanke &uuml;berhaupt nicht, nicht zu wissen ob oder wann ich mal wieder hier her zur&uuml;ck komme.
		</p>
		<p>
			Nach 2 schnellen Runden &uuml;ber die Aussichtsplattform fuhren wir auch schon wieder runter, da wir die vielen bunten Lichter doch auch noch aus der N&auml;he sehen wollten. Als erstes kamen wir zum Martin Place. Dort war echt einiges an Licht und Kunst aufgebaut. Am besten hat uns eine Videoprojektion gefallen, die direkt an die Form eines Geb&auml;udes angepasst war. Zu sehen gab es eine mehrmin&uuml;tige Animation &uuml;ber einen Frosch und wo er &uuml;berall vorbei kommt.
		</p>
		<p>
			Danach machten wir uns auf Richtung Botanischen Garten. Dort war es leider nur so voll, dass wir beschlossen lieber direkt zum Hafenbecken zu laufen und den Garten an einem anderen Tag zu besuchen. Am Hafen angekommen, waren dort auch sehr viele Besucher. Da die Organisatoren aber wieder Z&auml;une aufgebaut hatten und mit sehr viel Personal den Fluss der Besucher lenkten, war das ganze recht angenehm und gem&uuml;tlich zu laufen. Kurz vor der Oper wurde es uns dann doch zu voll und wir drehten um und gingen auf die andere Seite des Hafenbeckens. Im dortigen Kunstmuseum vielen wir dann endg&uuml;ltig vom Glauben ab. Canon hatte dort eine Armada von Druckern aufgestellt und jeder der wollte, konnte Bilder bis Gr&ouml;&szlig;e A2 drucken lassen... kostenlos!!! Zus&auml;tzlich bot Canon auch noch mehrfach am Abend kostenfrei Workshops zu verschiedenen Themen an. Und wer kein anst&auml;ndiges Equipment hat, konnte sich das sogar kostenfrei f&uuml;r die Workshops leihen. Wir nutzten die Chance und lie&szlig;en uns ein Bild in A3 drucken.
		</p>
		<p>
			Als der Drucker fertig war, ging es f&uuml;r uns weiter am Hafenbecken entlang immer auf der Suche nach der besten Position, um Fotos von der animierten Oper zu machen. Am Ende waren es bestimmt so &uuml;ber 300 Fotos. Zus&auml;tzlich sind wird wir noch an Schaukeln vorbei gekommen, die alle 20 Minuten, selbst&auml;ndig eine Show vorf&uuml;hrten und perfekt als Fotomotiv dienten. Davon holen wir uns morgen auch noch einen Druck bei Canon ab.
		</p>
		<p>
			Dann ging es aber zur&uuml;ck in Richtung Unterkunft. Nach Mitternacht vielen wir dann endlich komplett ersch&ouml;pft ins Bett.
		</p>
    </div>
</div>
<!--=== End Post ===-->
