---
layout: blog/de/familie
title: "Keine Delphine in Tin Can"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Rainbow Beach
  - Tin Can Bay
  - Hervey Bay
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170506-banner.jpg
    alt: "Der Sonnenuntergang &uuml;ber Hervey Bay"

overview:
  intro: "Nach einer ruhigen und erholsamen Nacht und einem gem&uuml;tlichen morgen, machten wir uns heute auf den Weg nach Hervey Bay."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170506-15.jpg
    alt: "Ein Habicht beim Segeln"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
        <p>
			Auf dem Weg dorthin, machten wir einen kleinen Abstecher nach Tin Can Bay. 
			Wir hatten im Internet gelesen, dass man dort Delphine von Land aus sehen kann.
			Wir waren wahrscheinlich mal wieder zu sp&auml;t dran, denn als wir ankamen war weit und breit kein Delphin zu sehen.
			Im Internet war die Empfehlung morgens um 8 Uhr da zu sein. Naja da wir uns gerade noch einmal im Bett umgedreht.
			Aber nicht nur die Delphine fehlten, sondern auch an vielen Stellen das Wasser.
			Es war Ebbe.
			Beim genaueren betrachten des Bodens, stellen wir fest, dass dort hunderte kleine Krebse "Soldier Crabs" den Sand nach Fressbarem absuchten.
			Was eine Menge an Tieren und alle nicht gr&ouml;ßer als 4cm.
		</p>
		<p>
			Nachdem wir uns das Spektakel eine Weile angeschaut hatten, machten wir uns wieder auf den Weg nach Hervey Bay. 
			Dort fuhren wir als erstes zu einen sch&ouml;nen Strand, an dem mehrere Habichte "Brahminenweih" im Wind gleiteten.
			Beim spazieren dort viel uns das erste Mal auf, dass das Great Barriere Reef nicht mehr weit sein kann, da am Strand Korallengerippe herumlagen.
			In den letzten Pf&uuml;tzen der Ebbe, fanden wir sogar noch Einsiedlerkrebse, die ihre bis zu 10cm langen Schneckenh&auml;user durchs Wasser schleiften.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			Danach gingen wir noch ein wenig im Botanischen Garten spazieren, bevor wir uns zum Sonnenuntergang an den n&auml;chsten Strand begaben.
			Dort bekamen wir sogar noch weiße Kakadus und bunte Loris zu sehen.
			Nach Sonnenuntergang um 17:30 wollten wir dann ins n&auml;chste Shopping Center, Getr&auml;nke einkaufen gehen.
			Leider mussten wir fest stellen, dass die Uhren hier etwas anders ticken.
			Samstags macht alles bereits um 17:30 zu. Alle anderen Tage erst um 21:30 Uhr.
			Somit besorgten wir uns in einem kleinen Supermarkt am anderen Ende der Stadt noch schnell zwei Flaschen Wasser und suchten uns einen kostenfreien Schlafplatz hinter einem 24 Std. Mc Donalds und ließen den Abend dort mit einer heißen Schokolade ausklingen.
		</p>
    </div>
</div>
<!--=== End Post ===-->
