---
layout: blog/de/familie
title: "Packende Gärten"
author: "Steffi"
active_nav: travel-blog
sitemap: false

categories:
  - de
  - Familie

locations:
  - Australien
  - Sydney
  - Darling Harbour
  - Circular Quay
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170523-banner.jpg
    alt: ""

overview:
  intro: "Heute früh hieß es erst einmal packen."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170523-10.jpg
    alt: ""
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
		<p>
			Unsere Rucksäcke mussten wieder gefüllt werden und das stellte sich als ziemliche Herausforderung dar. Dieses viele einkaufen ist nicht förderlich für den eh schon vorhandnen Platzmangel. Mit kurzer oder auch längerer Unterbrechung um frühstücken zu gehen, waren wir zur Mittagszeit endlich fertig mit packen und machten uns auf den Weg in die Innenstadt. Wir schlenderten die George Street hinauf und ich musste irgendwann mal Pipi. Also ins nächste Shoppingcenter und anschließend in einem Laden mit Klamotten gelandet, welcher ziemlich günstige Preise für Sachen mit Merenowolle anbot. Basti wurde ziemlich schnell fündig und musste nun noch 2 weitere Hosen im Rucksack unterbringen. 
		</p>
		<p>
			Nicht ganz eine Runde um den Block und im nächsten Laden gelandet... Basti braucht mal frische Schuhe!
		</p>
		<p>
			Wir sind tatsächlich fündig geworden und das sogar zu einem guten Preis unter 40$. 
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Da wir bis 18h noch etwas Zeit hatten, beschlossen wir nochmal ins Sealife Center zu gehen. Hier ging es mehr oder weniger zügig durch, bevor wir nochmal fix zum HRC gingen, um doch noch das Hemd für Basti sowie ein Glas für meinen Kollegen zu besorgen. 
		</p>
		<p>
			Dann hieß es endlich Geburtstagsessen beim Brasilianer nachholen. Es gab eine große Auswahl an div. Fleischvariaten und als Beilage konnte man sich immer kleine Schälchen verschiedener Dinge (Salat, Polentafritten, etc.) bestellen. Leider hatte das Fleisch diesmal (laut Basti war es das letzte mal besser) keine so gute Qualität. Es war doch sehr viel Fett und vor allem viele Sehnen vorhanden... damit komme ich ja gar nicht klar!!!
		</p>
		<p>
			Nachdem wir uns noch ein Nachtisch teilten, ging es anschließend zur Fähre, um Richtung Circular Quay. Denn wir waren nun schon fast 1 Woche in Sydney ohne einmal direkt bei der Oper gewesen zu sein. In der Oper ging es obligatorisch wieder auf Klo, bis wir weiter Richtung botanischen Garten schlenderten. Hier waren einige echt schöne Dinge zu entdecken. Unter anderem war doch ein angestrahlter Baum, wo davor ein "do. NOT press" Button stand. Klar hält man sich daran nicht, also drücken und teils schöne (wenn man Glück hatte) oder erschreckende (Pech eben) Animationen gezeigt bekommen. Pech, zeigt sich zB. darin, dass der Baum gefällt oder abgebrannt oder. Glück wenn dieser in diversen Farben erstrahlt. Ein Stück weiter gab es dann "blow". Hier musste man recht kräftig pusten, um das ganze animiert zu erleben, denn nur so erstrahlten die Pusteblumen. 
		</p>
		<p>
			Nun war es doch wieder später als gedacht und wir machten uns auf den Weg zur Unterkunft. 
		</p>
    </div>
</div>
<!--=== End Post ===-->
