---
layout: blog/de/familie
title: "Auf nach Magnetic"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Townsville
  - Magnetic Island
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170515-banner.jpg
    alt: "Magnetic Island von der Fähre aus."

overview:
  intro: "Heute Vormittag beschlossen wir nach Magnetic Island zu fahren."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-15.jpg
    alt: "Baby Koala beim Futtern"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
			 Also schnell zu Touriinfo, Fährtickets buchen und ab zum Hafen von Townsville. 
			 Auf der Fähre beschlossen wir, uns erst um einen Stellplatz für die Nacht zu kümmern und dann erst die Insel zu erkunden. 
		</p>
		<p>
			Wir haben unser Nachtlager auf dem Campingplatz der offiziellen Jugendherberge aufzuschlagen. 
			Nachdem alles erledigt war, fuhren wir nach Arcadia, um dort Schnitzel essen zu gehen und mich für morgen zum tauchen anzumelden. 
		</p>
		<p>
			Eigentlich wollten wir nach dem essen noch eine Runde Schnorcheln gehen aber wir waren so voll gefuttert, dass wir beschlossen stattdessen lieber auf die Suche nach Rockwallabies zu gehen.
			Wir hatten Glück und uns begrüßten einige dieser niedlichen kleinen Hüpfer aus dem kühlenden Schatten der Felszwischenräume heraus.
			Nach und nach kamen auch immer mehr Menschen dazu und uns wurde es langsam zu voll.
			Da hier die Sonne ja auch schon um 17:45 untergeht, beschlossen wir uns noch schnell auf die Suche nach den auf der Insel lebenden Koalas zu machen.
			Dazu fuhren wir hoch auf den Berg und gingen ca. 20 min. einen Wanderpfad entlang bis wir zu einer Gruppe junger Mädels kamen die einen ganz kleinen niedlichen Koala fotografierten. 
			Steffi gesellte sich natürlich mit Kameras bewaffnet und ganz viel "Ah" und "Oh ist der niedlich" dazu.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Danach machten wir uns im Sonnenuntergang auf den Weg zurück zur Jugendherberge, wo wir uns einen Drink und einen Snack an der Bar gönnten, bevor wir uns mit den Stühlen ins Dunkel vor unser Wohnmobil setzten und den Sternen zuschauten.
		</p>
    </div>
</div>
<!--=== End Post ===-->
