---
layout: blog/de/familie
title: "Schildkr&ouml;ten statt Krokodile"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Familie

locations:
  - Australien
  - Cairns
  - Franklands Islands
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170524-banner.jpg
    alt: "Der Strand von Franklands Islands"

overview:
  intro: "Heute morgen startete der Tag wieder sehr fr&uuml;h."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170524-15.jpg
    alt: "Schildkr&ouml;te die ich beim tauchen gesehen habe"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
		<p>
			{{ page.overview.intro|raw }}
		</p>
		<p>
			Um zum Schiff f&uuml;r die Tour auf die Franklands Islands zu kommen, mussten wir erst einmal 45 min. Richtung S&uuml;den fahren, da das Boot nicht von Cairns abf&auml;hrt, sondern an einem kleinen versteckten Anleger zwischen Feld und Urwald. Die Fahrt raus zu den Inseln ging erst ganz gem&uuml;tliche 25 min. auf einem Fluss durch den Regenwald. Wir beide hofften vielleicht sogar ein Krokodil zu sehen. Leider hatten wir kein Gl&uuml;ck. Sobald das Boot dann die Nase aufs offene Meer raus Streckte ging das geschaukel auch schon los. Gut das wir erstens Reisetabletten genommen hatten und zweitens es nur noch weitere 25 min. bis zu Insel waren. Viel l&auml;nger h&auml;tte ich heute nicht vertragen.
		</p>
		<p>
			 Auf der Insel angekommen, machten wir es uns zusammen mit 16 weiteren Tagesg&auml;sten an einigen Parkb&auml;nken bequem. Da es sich hier um einen Naturschutzpark handelt, sind diese B&auml;nke das einzige, durch den Menschen ver&auml;nderte hier auf der Insel.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
			Als n&auml;chstes sollte es Schnorcheln gehen. Bevor wir aber alle ins Wasser h&uuml;pften, sah Steffi schon die erste Schildkr&ouml;te vom Strand aus. Im Wasser war die Sicht leider wieder nicht so gut. Wir bekamen einige Korallen und sogar einige Nemos zu sehen. Dazu war es auch noch recht wellig, so das man im flacheren Wasser aufpassen musste, dass man nicht auf die Korallen geschoben wird. Der Guide schrie &ouml;fters mal "Turtle", Schildkr&ouml;te aber wir zwei waren jedes Mal viel zu weit weg, um sie zu Gesicht zu bekommen.
		</p>
		<p>
			Nachdem die Sicht auf dieser Seite der Insel nicht so gut war, wurden wir alle mit dem Boot auf die andere Seite der Insel gefahren, wo ich zusammen mit einem anderen Herrn und dem Guide einen Str&ouml;mungstauchgang machte. Diesmal ging die Str&ouml;mung auch erstens wie geplant in die richtige Richtung und außerdem h&ouml;rten wir immer das Sicherungsboot, welches in der N&auml;he blieb. Zu sehen gab es auch wieder viel. Insgesamt sogar 10 Schildkr&ouml;ten. Leider war nur eine so entspannt, dass ich ein gutes Foto bekam. Alle anderen verschwanden sofort Richtung offenes Meer, als sie uns sahen.
		</p>
		<p>
			Steffi hatte schnorchelnd an der Oberfl&auml;che mal wieder nicht ganz so viel Gl&uuml;ck. Zu sehen gab es wohl genug nur leider war nun das Wasser zu flach an der Stelle wo sie vom Boot abgesetzt wurden. Nach nur wenigen Minuten ließen sich wohl alle wieder an Board holen, da viele bereits aufgesch&uuml;rfte Knie und Arme hatten.
		</p>
		<p>
			Nachmittags gab es dann noch eine gef&uuml;hrte Tour &uuml;ber die Insel, die wir zwei aber nicht mitmachten, da sie erstens zu Fuß durch den mittlerweile trockenen Teil des Riffs gehen sollte und außerdem wollten wir zwei gerne nochmal ein wenig Zeit f&uuml;r uns auf dieser Trauminsel. So genossen wir den Nachmittag in der Sonne und spazierten selbst ein wenig entlang der Korallenb&auml;nke, wobei wir sogar noch Seesterne und Baby Stachelrochen zu sehen bekamen.
		</p>
		<p>
			Die 25 Minuten R&uuml;ckweg &uuml;bers offene Meer, waren wieder eher schaukelig, aber dieses Mal haben wir es besser vertragen. Auf ruhigen Gew&auml;ssern angekommen stellten wir uns wieder an Deck, in der Hoffnung dieses Mal Krokodile zu sehen. Der Tourguide gesellte sich zu uns und zeigte uns die stellen, an denen bei Sonnenschein meistens ein zwei Krokodile zu sehen sind. Leider waren nur Spuren im Sand zu sehen, nur keine Krokos.
		</p>
		<p>
			Naja dann versuchen wir halten morgen unser Gl&uuml;ck noch einmal mit den Krokodilen im Regenwald. Der Plan ist, morgen noch eine kurze Tour zum Daintree River zu machen, um dort bei einer Krokodil- und Schlangentour mitzufahren.
		</p>
    </div>
</div>
<!--=== End Post ===-->
