---
layout: blog/de/familie
title: Auf nach Brisbane
active_nav: travel-blog
sitemap: false

categories:
  - de
  - Familie

locations:
  - Hong Kong
  - Australien
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170502-banner.jpg
    alt: "Die Achterbahn in der 9ten Etage eines Shopping Centers"

overview:
  intro: "An unserem letzten Tag in Hong Kong, packten wir morgens schon alles zusammen für den Flug nach Australien."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-11.jpg
    alt: "Das Wilkommenschild der Jugendherberge Hong Kong"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
		<p>
			Wir beschlossen, dass Frühstück in der Jugendherberge auch heute wieder ausfallen zu lassen und dafür die leckeren Brötchen mit Zuckerkruste an einem kleinen Stand zu kaufen.
			Jeder mit zwei Brötchen bewaffnet, machten wir uns auf den Weg zwischen den Häuserreihen hindurch über die lokalen Märkte auf der Suche nach Handyzubehör für einen guten Preis.
		</p>
		<p>
			Als wir eine kleine Erfrischungspause bei Mc Doof einlegten, machten wir uns den Spaß auszurechnen wieviel Prozent der Menschen hier um uns herum aufs Handy starren.
			Wir kamen auf über 87% aller Gäste im Lokal. In der Metro ist der Prozentsatz noch wesentlich höher.
		</p>
		<p>
			Da es doch ziemlich heiß war, beschlossen wir ins nächste Shopping Center zu gehen, um uns dort ein wenig umzuschauen.
			Wir stellten fest, dass in der obersten Etage nicht nur eine Automatenspielwelt für Kinder ist, sondern auch noch eine Achterbahn und eine Eislaufbahn eingebaut wurde.
		</p>
		<p>
			Nachmittags ging es dann zum Flughafen.
			Wir hatten ein wenig Sorgen, dass mein Handgepäck einige kg zu schwer sein könnte, da Qantas nur 7kg pro Person erlaubt.
			Ein Glück, hat den Herrn am Schalter nur unser aufgegebenes Gepäck interessiert.
			Im Flieger, hatten wir wieder einen Doppelplatz für uns alleine.
			Neben uns war sogar noch eine ganze 4er Reihe frei.
			Die Chance nutzte ich und machte mich dort der Länge nach breit.
			Leider konnte ich trotzdem nicht wirklich schlafen.
			Dazu aber später mehr.
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
