---
layout: blog/de/familie
title: Camper abholen und los
author: Steffi
active_nav: travel-blog
sitemap: false

categories:
  - de
  - Familie

locations:
  - Australien
  - Brisbane
  - Mooloolaba
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170503-banner.jpg
    alt: "Die BBQ Station Mooloolabas ist auch bei Nacht geöffnet"

overview:
  intro: "Völlig im Eimer sind wir pünktlich in Brisbane gelandet..."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-15.jpg
    alt: "Sonnenaufgang über Australien"
---
<!--=== Post ===-->
<div class="row margin-bottom-10">
    <div class="col-md-12">
	    {% include 'blog/snippet/headline.html.twig' %}
	</div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
		<p>
			...nur aussteigen konnten wir erst einmal nicht, da die Gangway zum Flieger einen Defekt hatte. 
			Die gerufenen Techniker hatten leider auch keine Lösung, so dass wir am Ende über manuelle Treppen hinunterbefördert wurden. 
		</p>
		<p>
			Nachdem wir am Mobilfunkshop die passenden Karten für unsere Telefone geholt hatten, ging es weiter zum Taxistand und von dort für 35$ zur Autovermietung. 
			Nach kurzem Vertragskram, hieß es über 1 Std. Geduld aufbringen, um endlich den Camper zu bekommen. 
		</p>
		<p>
			Nachdem rundherum Schäden aufgenommen wurden... und es sind wirklich viele Schäden..., Bettwäsche nachgeliefert wurde etc. ging es zum nächsten Coles, um uns mit dem nötigsten einzudecken. 
			Natürlich durften hier die "berühmten" Hähnchenschnitzel für 2$ von der frische Theke nicht fehlen. 
			Dazu haben wir dann noch frischen Nudelsalat geholt, welcher uns besonders in Erinnerung bleiben sollte, wie sich später herausstellte. 
			Weiter ging es dann zum gesetzen Ziel des Tages - Mooloolaba! Am Campingplatz angekommen, einen kurzen Blick auf den Strand und es hat mich, Steffi, für die nächsten 2 Std. ins Reich der Träume versetzt. 
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<p>
			Basti saß währenddessen vor dem Camper, genoss die Sonne und schrieb am Blog. 
			Nachdem er mich geweckt hat, haben wir zusammen das Bett bezogen und beschlossen Arbeitsteilung zu machen. 
			Ich fing an, die Rucksäcke zu leeren und die Sachen im Camper zu verteilen, während er am Grill des Campingplatz die Schnitzel zubereitete (da kann er nicht viel falsch machen, die muss man nur aufwärmen). 
			Als er den Kühlschrank öffnete, um Schnitzel und Nudelsalat rauszuholen, kam eine ziemliche bööööse Knoblauch-Fahne raus... ups! 
			Der Nudelsalat hatte es ganz schön in sich.
		</p>
		<p>
			Nach dem Essen ging es auf einen Spaziergang an die Promenade. 
			Blöderweise sind wir direkt an einem Café vorbeigekommen, die so herrliche Sachen wie "ice chocolate" oder "Ice Cookie Creme with white chocolate" im Angebot hatten. 
			Nicht günstig, aber nach kurzem grübeln... meins!!! War jetzt nicht der Burner, aber zumindest habe ich während des trinkens Basti in 4 gewinnt platt gemacht. 
			Zurück am Campingplatz ging es noch fix unter die Dusche, bis uns um 22h die Augen zufielen.
		</p>
    </div>
</div>

<!--=== End Post ===-->
