---
layout: blog/de/no_headline
sitemap: false
active_nav: travel-blog
title: Noch 24 Tage
categories:
  - de
  - Familie
locations:
  - Hong Kong
  - Australien
  - Singapur
overview:
  intro: "Noch 24 Tage bis zum Abflug in unseren lang ersehnten Urlaub"
  image:
    url: /assets/img/blog/2017-asia-oz/small/stepmap-karte-world-trip-1703410.jpg
    alt:
---
<!--=== Post ===-->
<div class="container content-xs">
    <div class="row">
        <div class="col-md-8">
            {% include 'blog/snippet/headline.html.twig' %}

            <p>
                Noch 24 Tage bis zum Abflug in unseren lang ersehnten Urlaub.
            </p>
            <p>
                Dieses mal geht es Nach Hong Kong, Australien und Singapur und das ganze gleich f&uuml;r etwas mehr als 5 Wochen.
                Die wichtigsten Dinge f&uuml;r unsere Reise sind auch bereits vorbereitet.
                Dazu z&auml;hlen die Fl&uuml;ge, die Visa f&uuml;r Australien, Die Unterkunft in Hong Kong und den
                Mietwagen f&uuml;r unseren Road Trip enlang des Great Barrier Reefs.
                Was wir noch nicht fest gebucht haben, ist eine Unterkunft in Sydney und auch bei dem Hotel in Singapur sind wir uns noch nicht ganz einig.
            </p>
            <p>
                Hier in diesem Blog werden wir euch auf dem laufenden halten und über unsere Reise berichten.
            </p>
        </div>
        <div class="col-md-4 overflow-h">
            <div class="box-shadow shadow-effect-3">
                <img class="img-responsive img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/stepmap-karte-world-trip-1703410.jpg" alt="Unsere Reiseroute auf einer Map">
            </div>
        </div>
    </div>
</div>
<!--=== End Post ===-->
