---
layout: blog/de/familie
title: "28.12.18 und da lagen Sie flach"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

author: "Steffi"

overview:
  intro: "Gestern Abend merkte ich schon irgendwie eine dicke Nase, schob dieses aber in guter Hoffnung auf die Klimaanlage. "
  image:
    url: "/assets/img/blog/2018-usa/small/cold-1947995.jpg"
    alt: "Zwei erkältete Plüschtiere"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Blöderweise war meine dicke Nase heute Morgen leider immer noch nicht weg, sondern noch dicker geworden. Ich versuchte es einfach mal mit ignorieren und wir fuhren bei strömenden regen zum Air & Space Museum.
        </p>
        <p>
            Die Idee hatten, bei dem Wetter leider auch alle anderen, so dass an allen Eingängen Schlangen von bis zu 200m waren. Das war uns zu viel, das Wohlbefinden sank eh weiter, Basti fing auch langsam an, so dass wir beschlossen, uns ins Hotel zurückzubegeben.
        </p>
        <p>
            Dort wegetierten wir dann denn Tag über auf dem Sofa und schauten bzw verschliefen eine Folge nach der anderen unserer Serie.
        </p>
        <p>Hoffen wir mal auf morgen!!!</p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div>
<!--=== End Post ===-->
