---
layout: blog/de/familie
title: "23.03. Umzug nach Dauin"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Zamboanguita
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Heute hieß es erst einmal packen, denn um 12h war Check-out und nach einem abschließenden Drink, sollte es für uns ins J&amp;P Familie Beach House gehen."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4815.jpg"
    alt: "Das Eingangsschild des J&amp;P Family Bwach House"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Dieses liegt direkt am Riff, welches wir schon durch das Dumaguete Dive Team / Dauin Dive Café kennen. Das Kav‘s Resort bestellte uns zu um 13h ein Tricycle, welches uns eigentlich nur zum Bus bringen sollte. Kurzerhand beschlossen wir aber, das er uns direkt bis zur neuen Unterkunft bringen sollte. Entsprechend freute sich der Fahrer natürlich über den erheblichen Extraverdienst.
        </p>
        <p>
            Die Fahrt verlief wie immer reibungslos und wir konnten sogar vorzeitig unser neues Quartier beziehen. Als wir die Tür öffneten, erreichte uns erst einmal ein ziemlicher Muff, somit Klimaanlage gestartet und gehofft, das sich dieser halbwegs verzieht. Das Zimmer war spartanisch, aber ausreichend eingerichtet (inkl. großem Kühlschrank) und sauber war es zudem. Abgesehen vom Bad, das könnte ein wenig reinlicher sein. Als erstes begutachteten wir den Pool und gingen anschließend zum Meer weiter. Nachdem wir div. Bilder für Basti’s Arbeitgeber machten, hieß es zurück ins Zimmer, umziehen, Kamera schnappen und rein in die Fluten. Zumindest für einen von uns, denn Basti musste mal wieder an den Rechner. Dieser schaute mir aber vom Strand aus zu, denn alleine ins Meer ist nie eine gute Idee. Nach einer Punktlandung von 30 min. war ich durch mit Schnorcheln und sprang anschließend nochmal eine kleine Runde in den Pool. Dabei entdeckten wir dann an der Palme eine recht große Echse. Diese war nur leider gar nicht drauf erpicht, vor die Kamera zu kommen.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Zu 17h machten wir uns dann zu Fuß auf ins Dauin Dive Café, denn dort sollte ein BBQ-all you can eat statt finden. Es gab sogar lecker Sachen für mich und am Ende gingen wir satt und zufrieden zur Unterkunft zurück. Da zeigte sich dann auch, das Internetbewertungen manchmal stimmen. Die lieben Nachbarn vom Grundstück gegenüber des Hotels lieben Karaoke! Der Fernseher stand draußen auf dem Grundstück und die Karaokemaschine lief auf Hochtouren, inkl. voller Lautstärke. Die hatten Ihren Spaß!
        </p>
        <p>
            Im Zimmer hat man davon zum Glück nicht mehr all zuviel mitbekommen, obwohl unser Zimmer in dessen Richtung lag.
        </p>
    </div>
</div>
<!--=== End Post ===-->
