---
layout: blog/de/familie
title: "31.03.2018 bloß nicht bewegen"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Basti war schon recht früh wach. Er setzte sich auf die Terrasse und genoss die Ruhe der Natur während er ein wenig an seinem eigenen Unternehmen bastelte."
  image:
    url: "/assets/img/blog/2018-philippines/small/P3310545.jpg"
    alt: "Steffi und Sebastian Thoss geniessen Ihre gemeinsame Zeit im Pool auf Bohol, Philippinen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Nachdem ich mich dann auch aus dem Bett geschält hatte, gingen wir gemütlich frühstücken. Dieses geschah mit einer wunderschönen Aussicht und in Gesellschaft der Hauskatze von gestern Abend. Heute war sie das genaue Gegenteil von gestern und total lieb und komplett ohne fauchen. Nachdem alles verputzt war, gingen wir als erstes runter zum Strand.
        </p>
        <p>
            Bevor wir dort landeten, mussten wir allerdings erst einmal eine Menge Stufen überwinden und dann fanden wir den Strand. Naja Strand konnte man das nun wirklich nicht nennen. Ehr eine aus toten Korallen und Muscheln bestehende kleine Fläche, um ins Wasser zu kommen. Die Fläche war wirklich sehr klein und wurde nur minimal mehr, wenn Ebbe war. Zudem befand sich dort aber in der Steilklippe, eine vom Meer ausgewaschene Felsformation, leider mit vielen Spinnen, welche recht schön anzusehen waren.
        </p>
        <p>
            Wir quälten uns die Stufen wieder hinauf und gingen gleich zur Tauchbasis auf dem Gelände. Dort wurden wir sehr freundlich durch eine junge Filipina begrüßt und diese erzählte, das wir quasi schon am Mittag mit rausfahren könnten. Darauf hatten wir allerdings so gar keine Lust und so meldeten wir uns für den nächsten morgen an. Wir erledigten gleich das schriftliche, damit das für morgen von Tisch ist und anschließend hüpften wir in die Badeklamotten.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>

    <div class="col-md-12">
        <p>
            Der Pool ruft! Wir nahmen uns 2 Liegen samt Sonnenschirm und dann ging es ins kühle Nass. Äh kühl, nee Fehlanzeige. Auch der Pool bot keine wirkliche Abkühlung im Vergleich zum Meer. Irgendwann hatten wir genug und legten uns auf die Liegen, genossen das alleine sein und beobachten gleichzeitig den „Mann für Alles“ beim Liegen und Boden reinigen auf der anderen Seite.
        </p>
        <p>
            Natürlich machte sich irgendwann der Hunger bemerkbar und wir setzen uns wieder an den Tisch mit schöner Aussicht. Dort gab es dann Putenfilet, Kartoffelmus und Gemüse samt Sauce für mich und für Basti Spare Rips und dreckige Finger. Vollgefuttert packten wir uns wieder auf die Liegen und genossen den restlichen Tag. Zwischenzeitlich trafen wir dann auch auf eine Familie, besteht aus Oma und Opa, Mama, Papa und 2 Teenies. Wir hatten natürlich gehört wo Sie herkamen und Basti sagte dann er komme ursprünglich aus dem Vogtland. Daraufhin meinte die Oma dann „wir sind aus Sachsen“. Hääää, Vogtland... Sachsen...?!? Kein Kommentar!!!
        </p>
        <p>
            Zum Abendbrot gab es dann leckeres Bruschetta für mich, sowie Putensandwich für Basti.
        </p>
    </div>

</div>
<!--=== End Post ===-->
