---
layout: blog/de/familie
title: "11.03.2018 Bummeln und nähen"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Gestern Abend stellte, sich dann doch noch, ein kleines Problem mit dem tauchen heraus. Über Wasser trage ich ja immer ein Basecap, um meinen Kopf"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4515.jpg"
    alt: "Die haben Gottvertrauen in Ihre Fahrzeuge."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} vor der Sonne zu schützen. Da das Wasser hier 28 Grad hat und ich auf keinen Fall mein Kaltwasser Hoodie aufsetze, war meine “Platte” der Sonne direkt ausgesetzt. Somit hab ich mir doch glatt beim tauchen einen Sonnenbrand eingehandelt. Damit mir das nicht wieder vorkommt, beschloss ich heute hier in der Stadt nach einer Lösung für den nächsten Tauchgang zu suchen, denn ich beschloss gestern Abend noch, dass ich morgen wieder tauchen gehen will.
        </p>
        <p>
            Somit stromerte ich die meiste Zeit des Tages durch die Stadt und über die Märkte auf der Suche nach einem Basecap, welches passt und bei dem ich den Schirm auslösen kann. In der grossen Mall am Busbahnhof bin ich dann auch fündig geworden. Auf dem Rückweg fing es dann an zu nieseln. Somit machte ich mich dann auf den Weg zurück ins Apartment.
        </p>
        <p>
            Den Abend verbrachte ich dann damit Mutti anzurufen und zum Geburtstag zu gratulieren. Happy Birthday Mutti. Ich telefonierte danach auch gleich noch länger mit Steffi und Papa. Nebenbei trennte ich die Naht am Basecap auf, entfernte den Schirm und vernähte das ganze wieder. Ich seh zwar total doof damit aus aber wenn es soll ja auch nur unter Wasser vor der Sonne schützen.
        </p>
        <p>
            Morgen geht es dann wieder nach Dauin zum tauchen. Ich freue mich drauf.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
