---
layout: blog/de/familie
title: "24.12.18 Oh Happy Day"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

overview:
  intro: "Der heutige Tag fing zwar etwas später an, aber sehr ähnlich zu gestern. Als erstes ging es wieder nach Staten Island, um die Soßen für Steffi"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7228.jpg"
    alt: "Bei National Geogrphics Ocean Odyssey konnte man Puzzelteile beschriften und zu einem großen ganzen zusammensetzen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} abzuholen.
        </p>
        <p>
            Danach beschlossen wir wieder den “Hop-On Hop-Off Downtown” Bus zurück zum Times Square zu nutzen und dort in den “Uptown” Bus umzusteigen. Leider mussten wir 30 Minuten warten bis endlich ein Bus kam. Dieser war auch noch so überfüllt, dass wir kurzerhand entschlossen, nicht einzusteigen und lieber in eine Ausstellung von National Geographic’s zu gehen.
        </p>
        <p>
            Das ganze nennt sich Ocean Odyssey. Dies ist ein Tauchgang in die Weltmeere, ganz ohne nass zu werden oder sich aus den kuscheligen Klamotten zu pellen. Dies ist eine rein virtuelle Tour, das einzige echte Wasser hier, ist ein kleiner Springbrunnen im Treppenhaus. Auch echte Tiere/Korallen gibt es hier nicht, dafür aber um so mehr Monitore, Projektionen und Personal, die einem alles erklären. Es sind viele kleine einzelne Räume, in denen immer etwas anderes auf einen wartet. Am besten haben uns die Seehunde und der Kelbwald gefallen. Ein Ort an dem man viel über unsere Meere lernen kann und ganz beiläufig wird man auch noch zum Thema Umweltschutz informiert und zwar ohne dass es aufdringlich oder mit erhobenen Zeigefinger wirkt.
        </p>
        <p>
            Nach dieser spannenden Erfahrung wollte Steffi endlich mal einen Burger essen. Sie ist ja schon so lange hier und wir hatten noch keinen. Somit landeten wir gleich auf der anderen Straßenseite in einem kleinen Diner uns aßen leckere Burger.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Proppenvoll machten wir uns auf den Weg zurück ins Hotel. Schnell schick machen, denn heute ist ja schließlich Weihnachten und da beschenkt man sich ja ein wenig. Da wir dieses Jahr nicht zu Hause sind, haben wir beschlossen uns zu Weihnachten lieber ein schönes gemeinsames Erlebnis zu schenken. Wir schenkten uns gegenseitig Karten für den Harlem Gospel Chor in der Sony Hall am Broadway. Auf dem Weg dorthin kamen wir noch an einem weiteren Weihnachtsmarkt vorbei und nutzen die Chance noch eine Runde darüber zu schlendern.
        </p>
        <p>
            Das Konzert war wie gesagt in der Sony Music Hall. Was sich als eine Art Restaurant mit Bühne herausstellte. Wir waren noch so rechtzeitig da, dass wir einen schönen etwas erhöhen Platz mit guter Sicht weiter hintern bekamen. Vor uns saßen etwa noch 20 Reihen, was aber überhaupt nicht störte. Da auch nur die Lautsprecher direkt an der Bühne angeschaltet waren, war die Musik bei uns auch nicht zu laut, so dass ich das Konzert dieses Mal sogar ohne Gehörschutz genießen konnte. Nach etwa einer Stunde machte der Chor eine kurze Pause. Steffi nutzte gleich die Chance fix mal auszutreten. Einige Minuten später kommt Sie breit grinsend zurück und erzählt, dass links wie rechts neben Ihr in den Kabinen gesungen wurde. Als sie raus kam stellte sie fest, das es die Sängerinnen persönlich waren. In der Warteschlange zu den Toiletten standen die restlichen Damen vom Chor. Die müssen halt auch mal wohin. Das Konzert ging insgesamt 2 Stunden und der Chor hatte sichtlich Spaß auf der Bühne und schloss das Publikum in die Show mit ein. Nach dem Konzert saßen alle Sänger noch am Ausgang und waren für Gespräche, Fotos und Unterschriften verfügbar.
        </p>
        <p>
            Danach ging es auch schon wieder zurück ins Hotel. Es war ja nun schon nach 22 Uhr und morgen geht unser Zug nach Washington D.C.
        </p>
        <p>
            Gute Nacht.
        </p>
    </div>

</div>
<!--=== End Post ===-->
