---
layout: blog/de/familie
title: "13. & 14.03.2018 Arbeit genießen"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Gestern und heute standen wieder ganz im Zeichen der Arbeit. Als ich gestern früh Aufstand und einen Blick Richtung Meer warf, sah ich ..."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4547.jpg"
    alt: "Paradiesische Ruhe am Strand"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
            … nichts. Eine graublaue Wand, kündigte schlechteres Wetter an. Ich ließ mich davon aber erst einmal nicht beeindrucken und ging die Promenade entlang und machte es mir dann in einem Coffee Shop bequem mit Blick aufs Wasser. Es dauert gar nicht lange bis es anfing zu stürmen und zu regnen. Somit richtete ich mich gemütlich mit einem weiteren Getränk ein und fing an zu arbeiten. Als einige Stunden später, das Wetter besser wurde nutzte ich die Chance, ging fix einkaufen und machte mich dann auf den Weg zurück ins Apartment.
        </p>
        <p>
            Heute morgen beschloss ich dann, mich wieder in den Bus nach Dauin zu setzen, um dort ein wenig am Blog zu basteln und meine Füße ins Wasser zu bekommen. In Dauin machte ich es mir natürlich wieder im Dauin Dive Cafe gemütlich und genoss die interessanten Gespräche mit den anderen Tauchern.
        </p>
        <p>
            Nachmittags ging ich dann noch ein schönes Stück am Strand spazieren und genoss die Wärme und das Wasser. Ein wirklich schönes kleines Stück Paradies. So schön ruhig und entspannt. Irgendwann musste ich mich aber wieder auf den Rückweg nach Dumaguete machen, denn die Arbeit rufte.
        </p>
        <p>
            Nach der Arbeit telefonierte ich dann noch lange mit Steffi und wir fanden spontan ein schönes kleiner Resort auf der Insel Bohol, was uns wirklich gut gefiel. Das Blue Star Dive & Resort liegt an einer Steilklippe mit einem Ministrand direkt davor. Es gefiel uns so sehr, dass wir es spontan für das Osterwochenende buchten.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
