---
layout: blog/de/familie
title: "22.03.2018 Ausruhen im Resort"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Zamboanguita

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Zum heutigen Tag gibt es nicht viel zu sagen, denn wir machten einen auf faul und besetzten die Sonnenliegen, den Pool und füllten zwischenzeitlich unsere Mägen."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4759.jpg"
    alt: "Steffi und Sebastian am Strand von Zamboanguita"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-6">
        {% include 'blog/snippet/headline.html.twig' %}
        <p>
            {{ page.overview.intro|raw }}
        </p>
        <p>
            Naja und Basti arbeitete natürlich. Als Pause gab es einen kleinen Spaziergang am Strand sowie eine vermeintliche Abkühlung im Meer. Soweit man es Abkühlung nennen kann, denn das Meer hat hier eindeutig Badewannentemperatur von etwa 29 Grad.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
