---
layout: blog/de/familie
title: "08.03.2018 Arbeiten im Paradies"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Am Donnerstag beschloss ich endlich mal mit dem Bus in den Nachbarort, nach Dauin zu fahren um dort bei einem Taucher Cafe vorbeizuschauen und wenigstens"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4495.jpg"
    alt: "Arbeiten am Strand von Dauin"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} endlich mal die Füße ins Wasser zu bekommen. In Dauin gibt es ein Naturschutzreservat, welches große Teile der Küstengewässer umfasst, da es dort ein Korallenriff gibt, welches bis zum Strand reichen soll.
        </p>
        <p>
            Ich saß erst 2 Stunden im Cafe und hab ein wenig gearbeitet.
            Ich liess mir dann den Weg zum Strand erklären und machte mich auf den Weg. Nach 5 Min. Fußmarsch durch unwegsames Gelände kam der Strand in Sicht.
            Der Sand hat eine schöne Milchkaffee braune Farbe und ist verhältnismässig Grobkörnig.
            Das hatte ich nicht erwartet, da normalerweise der Strand an einem Korallenriff meistens weiss ist und aus abgestorbenen Korallen besteht.
        </p>
        <p>
            Hier aber nicht. Das beste aber war, dass ich fast komplett alleine am Strand war. Ich lief nur etwa 100m den Strand entlang bevor mich einige kleine Bambuspavilions zum verweilen einluden. Ich machte es mir dort bequem und beschloss noch eine weitere Aufgabe abzuarbeiten. Noch hatte ich ja Akku. So stelle ich mir arbeiten im Paradies vor und ja es war echt paradiesisch.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z-qQWCiZzws?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4502.jpg" alt="Das Loch im Dach unter dem ich gerade noch saß" />
        </div>
    </div>

    <div class="col-md-6">
        <p>
            &nbsp;
        </p>
        <p>
            Meine Konzentration wurde nur von einem Gecko unterbrochen, der sich in einem Bambusrohr vor mir und meiner Kamera versteckte. Der gab so komische Laute von sich und die dann noch durch den Bambus verstärktet, dass ich erst dachte es wäre irgendeine mir noch unbekannte Funktion meines neuen Handys. Der Gecko schaute dann alle 30 Minuten mal aus dem Rohr heraus um mich und meine Kamera weiter zu ärgern.
        </p>
        <p>
            Nebenan saß noch eine weitere Familie Touristen. Diese gingen nach einer Weile Schnorchel und ich hörte mit einem Ohr wie schön es doch sei und das überall Fische sind. Ich glaub ich muss hier demnächst mal tauchen gehen. Ich hoffe das meine Nase bald endlich wieder frei ist.
        </p>
        <p>
            Als mein Laptop Akku fast leer war, knirschte und knackte es ziemlich laut über mir und ich hörte wie was größeres vom Baum über mir herunter kam. Es knallte mehrfach wirklich laut. Ich sah nur noch zu, Richtung Wasser zu rennen und hoffte, dass es die richtige Richtung ist.
        </p>
        <p>
            Ja, ein Glück war es das. Nach nur wenigen Sekunden war es auch schon wieder ruhig als ob nie was gewesen wäre. Ich blieb kurz vor dem Wasser stehen und schaute mich um. Ich sah diesen 15 bis 20 kg schweren Ast direkt neben dem Tisch liegen an dem ich gerade noch saß. Auf der anderen Seite des Pavilions lagen weitere Äste und Teile des Paviliondachs.
        </p>
        <p>
            Ich schaute mir das Dach genauer an und stellte fest, dass so ziemlich genau an der Stelle, an der ich eben noch gesessen hatte, ein nettes Loch klaffte und nur die dickere Bambusstrebe verhindert hat, dass der Ast mich getroffen hätte. Puh, dass war verdammt knapp.
        </p>
        <p>
            Großen dank an meinen Schutzengel. Da der Akku meins Laptop alle war und nun nicht mehr an Konzentration zu denken war, machte ich mich langsam auf den Rückweg nach Dumaguete.
        </p>
        <p>
            Abends hab ich dann die restlichen Stunden gearbeitet und bin heute mal eher ins Bett.
        </p>
    </div>
</div>
<!--=== End Post ===-->
