---
layout: blog/de/familie
title: "21.03. Hallo Familie Clownfisch"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philipinen
  - Zamboanguita
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi &amp; Basti"

overview:
  intro: "Heute ging es, trotz ziepender Haut -dafür ausgestattet mit langärmeligen Schwimmshirt etc.- Richtung Dauin, Genauer gesagt"
  image:
    url: "/assets/img/blog/2018-philippines/small/P3210063.JPG"
    alt: "Clownfisch Familie vor ihrem Anemonenhaus"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} ins dortige Taucher-Café samt Riff vor der Tür.
        </p>
        <p>
            Vom Resort aus gingen wir zur Hauptstraße und warteten auf den Bus, der alle naselang kommt... oder auch nicht. Wir standen und keiner kam. Zwischenzeitlich hatten wir gemerkt, dass dort Start / Ziel der Jeepney‘s ist und wir beschlossen, bei einem einzusteigen. Natürlich kam, als wir gerade vorne beim Fahrer saßen, der Bus von hinten an. Egal, nun saßen wir und wir lernten nun auch das andere typisch-philippinische Fortbewegungsmittel kennen. Wir waren zwar nicht ansatzweise so schnell Unterwegs, wie mit dem Bus, aber wir kamen heil an und das zählt!
        </p>
        <p>
            Beim aussteigen holten wir uns noch fix das Frühstück an einem Stand und gingen dann langsam Richtung Café. Dort holte sich Basti flossen und ich zog mich derweil schon mal um, und dann ging es Richtung Wasser. Auf dem Weg dahin, sahen wir einen Baum mit lustig aussehendem was auch immer dran und ich wollte ein Foto machen. Also neue Kamera an uuuuuuuund nichts! Es gab zwar ein Bild... vermeintlich... aber wir konnten die Speicherkarte nicht aufrufen. Also wieder zurück zum Café, Per-den Tauchlehrer- nach einem Backup der Karte auf seinem Rechner fragen, die ganze Karte am Ende formatieren und hoffen! Dieses funktionierte zum Glück und so machten wir uns nun endlich auf den Weg ins Wasser.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Am Stand hieß es dann erst einmal „Schnorchelgebühr“ zahlen und dann ging es endlich rein ins Riff. Kaum drin im badewannenwarmen Wasser, trafen wir auch schon die ersten Fische und kurz darauf landeten wir auch schon bei der ersten Clownfisch Familie im Wohnzimmer. Beim abtauchen, um sich das ganze genauer anzuschauen, schauten die einen regelrecht an, als ob sie sagen wollten „ey wer bist denn du und vor allem, was willst du?“. Wir machten einige Fotos und schwammen dann weiter über das Korallendach. Wie sahen viele verschiedene Fisch- und Korallenarten. Das Wasser war immer etwa zwischen 1,5m und 7m tief und leichte Strömung entlang des Strandes gab es auch.
        </p>
        <p>
            Nach ca. 1 Stunde beschlossen wir, dass wir genug zeit in der Sonne verbracht hatten und machten uns auf den Rückweg zum Dive Cafe. Dort verbrachten wir noch einige Zeit, bevor wir uns auf den Rückweg ins Resort machten, denn Basti’s Arbeit rief. Auf dem Weg dort hin besorgten wir uns noch ein paar Brötchen für Abendessen und Frühstück. Diese packten wir in einen Beutel und lagerten sie im Zimmer. Wenig später als ich ins Zimmer kam stellte ich fest, dass die Armeisen leider unser Abendbrot entdeckt hatten und anfingen es weg zu tragen. Somit schnell das Insekten Spray raus, alles einsprühen und die Brötchen in den Müll. Natürlich ausserhalb unseres Bungalows. Somit gab es dann doch wieder Abendessen im Resort.
        </p>
    </div>
</div>
<!--=== End Post ===-->
