---
layout: blog/de/familie
title: "16.03.2018 Nemo, Marlin, Khan, Crush und Co"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute Vormittag war ich wieder einmal tauchen. Ich beschloss heute nicht sehr weit runter oder raus zu tauchen. Es ging wieder vom Strand aus ins Wasser und als maximale Tiefe war 10m ausgemacht, damit ich in Ruhe an meinen Filmkünsten arbeiten"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4580_09.jpg"
    alt: "Viele kleine bunte Fischies"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} kann und die Kamera auch Unterwasser noch ruhiger halte.
        </p>
        <p>
            Im Wasser hatte ich dann sehr schnell das Gefühl im Film “Findet Nemo” zu sein, nach etwa 10 Minuten tauchen über Korallen hinweg und von tausenden kleinerer Fische umgeben, trafen wir auf Crush. Crush ist die Meeresschildkröte die Nemo’s Papa Marlin hilft nach Sydney zu kommen. Kurze Zeit später trafen wir noch zwei weitere ziemlich große Exemplare (bestimmt fast 1m Panzerlänge), die sich von uns nicht stören liessen.
        </p>
        <p>
            Hier ist Clownfische finden simpel. Such dir eine Anemone und schau genauer hin. Jede Anemone die wir fanden war bewohnt von einer Clownfisch Familie. Meistens zwischen 2 und 4 Tieren. Zum Schluss zeigte sich sogar noch Khan in voller Pracht und ohne Narben. Khan ist im waren Leben ein Halfterfisch und wird bis zu 22cm groß.
        </p>
        <p>
            Was ein Tauchgang und beim durchschauen des Videomaterials stellt sich heraus, dass fast alle Aufnahmen was geworden sind. Daher hier ein kleiner Vorgeschmack an Fotos und ein kleiner Clip, den ich mit meinem Handy erstellt habe. Viel spass beim schauen.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/67yrimCpnDk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!--=== End Post ===-->
