---
layout: blog/de/familie
title: "12.03.2018 Tauchen vorm arbeiten"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute morgen war ich wieder viel zu früh wach und saß schon vor 8 Uhr im Bus nach Dauin. Heute ging es tauchtechnisch ans andere Ende Dauin’s an den Tauchplatz J & P. Heute nahm ich aber die Kamera mit und filmte alles. Es ging heute sogar auf 17 Meter Wassertiefe wo wir über weite Sandbänke schwebten."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4518.jpg"
    alt: "Die Korallen unterwasser."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Es gab zwar wieder viel zu sehen aber nicht ganz so viel oder bunt wie vorgestern. Leider war heute keine Schildkröte in der Nähe. Das nächste Mal, möchte ich dann doch lieber wieder an den ersten Tauchplatz und da nochmal in Ruhe filmen und Fotos machen.
        </p>
        <p>
            Nach dem tauchen blieb ich wieder noch einige Zeit im Dive Cafe sitzen und tauschte mich mit anderen Tauchern aus.
        </p>
        <p>
            Nachmittags hiess es dann aber wieder, ran an die Arbeit.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
