---
layout: blog/de/familie
title: "03.03.2018 Bus nach Dumaguete"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Cebu
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-cebu-negros.jpg"
    alt: "Die Inseln Cebu (links) und Negros (rechts) zusammen auf einem Bild"

overview:
  intro: "Heute morgen war ich schon recht früh wach und vor allem fühlte ich mich fitter als die letzten Tage. Scheint also doch endlich besser zu werden."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4390.jpg"
    alt: "Hie sitzen 7 verschiedene Nationalitäten zusammen. Stressfrei!"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
            Wird auch Zeit.
        </p>
        <p>
            Ich machte mich gemütlich fertig und packte meine Sachen. Besorgte mir noch ein paar Flaschen Wasser und bestellte mir ein Taxi zum Busbahnhof Cebu South Bus Terminal. Dort stand bereits ein Bus mit laufender Klimaanlage zum einsteigen bereit. Ich ließ mein Gepäck verstauen und suchte mir einen Platz. Während der restlichen Wartezeit kamen alle paar Sekunden fliegende Händler in den Bus und versuchten ihre Waren los zu werden. Von Burgern, Pommes, Nüssen, Donuts über Kekse bis hin zu Ray Ben Sonnenbrillen.
        </p>
        <p>
            Steffi fragte mich die Tage ob es eine Toilette an Bord des Busses gibt. Dies kann ich nur verneinen. Habe keine gefunden. Der Bus hielt aber unterwegs zweimal an für eine Pipi Pause. Die Toiletten waren sogar sehr sauber und frisch gewischt. ;)
        </p>
        <p>
            Nach 7 Std fahrt inklusive Fähre war ich endlich in Cebu. Dort setzte mich der Busfahrer erst einmal komplett an der falschen Stelle ab. Naja. Kommt vor. Also Zeug geschnappt und ab in die entgegengesetzte Richtung. Nach nur wenigen Sekunden hielt neben mir ein Tricycle (Tryk) an und der Fahrer schaute mich fragend an.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7w8vaxeIpZ8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Ich zeigte ihm auf dem Handy, dass ich ins Flying Fish Hostel möchte, er nickte nur kurz und dann quetschte ich mein Gepäck und mich auf den Beifahrersitz. Nach 5 Minuten Fahrt waren wir auch schon am Hostel. Ich bezahlte mit 100 Peso (€ 1,50) wahrscheinlich viel zu viel war mit in dem Moment aber egal, denn ich war endlich angekommen.
        </p>
        <p>
            Nach dem einchecken saß ich, den Rest des Abends mit einigen anderen Reisenden zusammen und wir tauschten Geschichten und Tips aus. Zu trinken gab es bei mir selbstgemischtes Alsterwasser, was natürlich für einigen Spott und Hohn sorgte. Da stehe ich aber ein Glück drüber. Jetzt geh ich aber erst mal pennen. Gute Nacht.
        </p>
    </div>
</div>
<!--=== End Post ===-->
