---
layout: blog/de/familie
title: "26.02.2018 Von Manila nach Cebu"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-philippines

locations:
  - Philippinen
  - Manila
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute morgen hab ich mir ein Taxi vorbestellt, welches mich zum Flughafen bringen sollte. Laut der Internetseite von AirAsia sollte ich"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4226.jpg"
    alt: "Chicken Adobo im Flieger von Manila nach Cebu"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} einplanen 4 Stunden vor Abflug am Flughafen zu sein.  Google Maps sagte ich brauche circa anderthalb Stunden vom Hotel bis zum Flughafen mit dem Taxi. Um 12:40 Uhr sollte mein Flug gehen, somit bestellte ich das Taxi zu 7:45 Uhr. Dieses kam natürlich wie üblich mit wenigen Minuten Verspätung an. Das liegt aber an dem vielen Verkehr hier. Da ich, dank App die gesamte Zeit sehen konnte,  wo das Fahrzeug steckt, war das auch alles nicht schlimm.
        </p>
        <p>
            Nach circa einer halben Stunde fahrt, waren wir bereits am Flughafen. Hier am nationalen Flughafen laufen die Prozesse etwas anders, man muss erst samt Gepäck durch eine Sicherheitskontrolle, danach sind erst die Check-In Schalter. Diese waren natürlich fast leer. Es dauerte also auch nur 5 Minuten bis mein Gepäck eingecheckt war und ich mein Ticket hatte. Ich fragte danach an der nächsten Sicherheitskontrolle wie lange ich ungefähr bis zum Gate brauchen würde. Die Dame schaute mich etwas verwundert an und sagte 1 Minute. Ich dachte nur oh je, es ist gerade mal 8:30 Uhr und ich muss erst um 12:00 Uhr am Gate sein. So viel zu man braucht 4 Stunden um durch alle Sicherheitskontrollen zu kommen und rechtzeitig im Flieger zu sein. Naja hilft nix. Ich hab mich dann einfach auf den nächsten freien Stuhl gesetzt, mein Laptop ausgepackt und an dieser Webseite gebastelt.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Der Flug später war sehr entspannt. Wir sind sogar am Vulkan Mayon vorbei geflogen, der vor etwas über einem Monat anfing Lava zu spucken. Es war aber kein Rauch oder sonst ein Anzeichen eines Ausbruchs zu sehen zu sehen. Während des Fluges habe ich auch das erste Mal traditionell philippinisches essen serviert bekommen. Es gab Chicken Adobo. Das ist Hähnchen Brust klein gezupft, mit Gewürzen angebraten und auf einem Reisbett serviert. Als ich das Essen entgegennahm dachte ich schon „oh je da ist aber viel Knoblauch drin“. Nachdem ich das Essen auf hatte, was übrigens sehr lecker war, hatte ich das Gefühl ich brauche dringend eine Zahnbürste und Mundwasser. Als ich aus dem Flugzeug stieg hatte ich bereits das Gefühl „Verdammt, du stinkst gewaltig nach Knoblauch. Armer Taxifahrer.“
        </p>
        <p>
            Auch mit der Unterkunft hat alles bestens geklappt. Hab ein kleines aber feines Apartment in der 19ten Etage eines Hochhauses ganz für mich alleine. Die Aussicht ist gut und in der 17ten Etage gibt es einen Pool mit toller Aussicht über die Stadt. Den habe ich abends auch gleich noch genutzt. Trotz das es hier ständig warm ist, war der Pool aber ganz schön frisch. Abends hatte ich mir auch noch ein CoWorking Büro angeschaut. Das ist quasi ein Büro in dem man sich einen Schreibtisch auf Tagesbasis mieten kann. Das A Space Cebu, ist ganz nett und praktisch eingerichtet und die WLAN Geschwindigkeit ist ganz nett. Sollte für die Meetings am Mittwoch ausreichen.
        </p>
        <p>
            Morgen hab ich noch einmal komplett frei. Da werde ich hier mal ein wenig herumstöbern und mir die Umgebung anschauen.
        </p>
    </div>
</div>
<!--=== End Post ===-->
