---
layout: blog/de/familie
title: "25.03. Waschen in Dumaguete"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philipinen
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Da uns so langsam die Klamotten ausgingen und das Bargeld erst recht, beschlossen wir heute in die Stadt zu fahren und unsere Sachen beim Waschcenter abzugeben."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4809.jpg"
    alt: "Steffi in einem Trycicle"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Nach der Abgabe sind wir mit Tricycle zu einer Bar an den Strand gefahren und haben dort einige Zeit vertrödelt. Anschließend ging es zu Fuß in die Innenstadt, da wir noch nach einem neuen Schwimmshirt bzw. nach Tourishirts schauen wollten. Die Suche blieb leider erfolglos und somit suchten wir uns wieder einen Fahrer und fuhren in ein größeres Shoppingcenter, welches mittlerweile auch geöffnet hatte. Als erstes sind wir Geld wechseln gegangen und dann zogen wir durch die Reihen. In einem Laden gab es wirklich schicke Turnschuhe für mich, aber ich ließ sie doch stehen. Der Preis war nicht viel weniger als zu Hause und so müsste ich sie noch schleppen!
        </p>
        <p>
            In der Mitte des Centers fand ein landesweites Turnier statt. Wie sich später herausstellte... einfach nur in Ausrüstung aufeinander eindreschen, bis der andere auf der Matte liegt! Unsere knurrenden Mägen sagten mittlerweile was von Mittagszeit und somit suchten wir außerhalb vom Center ein kleines Restaurant auf und haben uns dort was feines gegönnt. Blöderweise gingen mir die Turnschuhe nicht mehr aus dem Kopf und ich suchte diese im Internet... gibt’s die überhaupt in Deutschland?! Die Suche blieb erfolglos und wir beschlossen, uns diese nochmal genau anzuschauen. Tja und schon waren sie gekauft!!!
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Im Center hatten wir nun alles gesehen und somit holten wir unsere Klamotten ab und machten uns auf den Rückweg ins Hotel. Dort wieder angekommen, beschlossen wir beim Abendbrot, bestehend aus lecker Brötchen, Marmelade und Wassermelone, noch eine Runde Uno zu spielen und hatten dabei Gesellschaft eines Hundes vom Nachbargrundstück.
        </p>
    </div>
</div>
<!--=== End Post ===-->
