---
layout: blog/de/familie
title: "20.03 wir sagen nur 'autsch'"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philipinen
  - Zamboanguita

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

author: "Steffi"

overview:
  intro: "Die Nacht war soweit ok, nur leider haben unsere Nachbarn (Hühner, Spatzen und Hunde) kein Mitgefühl für Touristen."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4740.jpg"
    alt: "Lagerfeuer im Sonnenuntergang"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Die machen schön brav ab 4.30h „Lärm“, so dass man sich schon ordentlich zusammen reißen muss, damit man weiterschlafen kann.
        </p>
        <p>
            Basti verzog sich ziemlich zeitig, samt Rechner, an den Strand und ich kam eine halbe Stunde bis Stunde später dazu und legte mich fertig eingeschmiert an den Strand. Nach gefühlt 20 Minuten (Basti sagt, es war eine Stunde) beschlossen wir in den Pool zu hüpfen. Das Wasser war wirklich angenehme, der Pool schön sauber und so probierten wir auch gleich unsere neue Kamera aus. Nach 2 Std. (Bastis Aussage) ließen wir uns in der Sonne bzw. im Schatten trocknen und dann war es auch schon Essenszeit.
        </p>
        <p>
            Nach einem wirklich leckern Mittagessen, einer kurzen Pause, sowie einem Strandspaziergang ging es dann wieder in den Pool und ooohhh... wo kommt denn das her... wir leuchteten! Jaja... diese Touris wieder, gleich erst einmal schön verkohlen! Naja nun war es passiert und ändern lässt sich das eh nicht mehr. Den restlichen Nachmittag/Abend arbeitete Basti wieder und ich las weiter an meinem Buch und genoss den schönen Sonnenuntergang, die Ruhe und vor allem die Wärme.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
