---
layout: blog/de/familie
title: "04. - 07.03.2018 Blöde Erkältung"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philipinen
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "a ich die letzten Tage viel mit Arbeiten zu tun hatten, hatte ich leider nicht die Zeit hier täglich zu berichten."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4404.jpg"
    alt: "Promenade von Dumaguete"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}
            Daher möchte ich die letzten Tage nun einmal kurz zusammenfassen.
        </p>
        <p>
            Da ich ja nicht nur zum Reisen hier bin, sondern auch zum arbeiten und da das Hostel schlechte Internetanbindung hatte, zog ich nach nur 2 Nächten in ein Apartment am Stadtzentrum. Dort gibt es wesentlich schnelleres Internet mit dem Handy und es sollte auch ein schnelleres WLAN geben. Der Inhaber des Apartments war sehr hilfsbereit und wir testeten als erstes die Geschwindigkeit. Diese war aber alles andere als schnell. Er rief sofort beim Anbieter an, diese kamen probt nächsten morgen und versuchten das Problem zu lösen. Leider stellte sich heraus, dass es an der nahegelegenen Schule liegt und einfach zu viele Menschen sich in den selben Funkturm einwählen. Da der Umbau zu kabelgebundenen Internet einige Tage in Anspruch nehmen wird, bot mir der Inhaber des Apartments an, eine Etage nach oben zu ziehen, dort hat er bereits Kabelgebundenes Internet. Dieses Angebot nahm ich natürlich an und verlängerte meinen Aufenthalt bei Ihm gleich bis zum 16.03. Arbeiten von hier aus ist also für die nächsten Tage kein Problem.
        </p>
        <p>
            Bis einschliesslich Mittwoch kämpfte ich weiter mit aller Kraft gegen die Reste meine Erkältung und machte vormittags nur kleinere Spaziergänge hier in der Stadt. Es gibt eine längere Promenade direkt am Meer auf der man endlich mal flanieren kann. Ich verbrannte mir mehrfach den Popo bei dem Versuch mich an der einen oder anderen Stelle auf die Mauer entlang des Wassers zu setzen. Autsch ;)
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
