---
layout: blog/de/familie
title: "30.12.18 Welcome back to New York"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

author: "Steffi"

overview:
  intro: "Heute trödelten wir bis zur Auscheckzeit im Hotel rum und ruhten uns weiter aus. Um 13 Uhr ging dann unser Zug zurück nach"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7531.jpg"
    alt: "Ein Krankenwagen vorm Hotel"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Manhattan.
        </p>
        <p>
            Die Fahrt verlief wie schon auf dem Hinweg ruckelnd und nach diesmal nur 3 Stunden fahrt, da wir ein Expresszug hatten, waren wir wieder in New York. Weiter ging es dann mit der Metro Richtung Queens, denn dort war unser Zimmer für die letzte Nacht.
        </p>
        <p>
            Angekommen erwartete uns eine reine Wohngegend inkl. Shopping-Centern etc. Gut, dass unser Limit erreicht ist, sonst hätte es wirklich böse enden können.
        </p>
        <p>
            Nachdem wir das Zimmer bezogen hatten, ließen wir uns erst einmal knapp 1 Stunde aufs Bett fallen. Anschließend ging es allerdings wirklich ins Center aber nur zum Food Court fürs Abendessen.
        </p>
        <p>
            Wieder in der Metro führte uns der Weg zum Rockefeller Center, nur haben wir nicht mit solchen Massen an Menschen gerechnet. Natürlich bestand keinerlei Chance mehr hoch aufs Ausichtsdeck zu kommen, so dass wir wieder abzogen und doch wieder ins Hotel fuhren.
        </p>
        <p>
            Die Erkältung macht uns wirklich fertig.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div>
<!--=== End Post ===-->
