---
layout: blog/de/familie
title: "23.02.2018 Aufruch nach Manila"
active_nav: travel-blog
sitemap: false
pagination:
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Manila
  - Dubai
  - Verinigte Arabische Emirate

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute ging es endlich los Richtung Philippinen. Nach ein noch paar Stunden Arbeit und einigen letzten Abstimmungen im Büro, ging es für mich zum Flughafen."
  image:
    url: /assets/img/blog/2018-philippines/small/IMG_4172.jpg
    alt: "Basti am Hamburger Flughafen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">

        <p>
            {{ page.overview.intro|raw }}
            Dort wartete bereits eine freundliche Damen von Emirates auf mich um mir zu erzählen, dass 12,5kg Handgepäck auf keinen fall OK wäre.
            Nach einigem umpacken, war die Dame glücklich und liess mich nur noch 7,5kg gewähren.
        </p>
        <p>
            Der Flug nach Dubai war stellenweise etwas holpriger und ich war ziemlich im Eimer als ich dort ankam.
            Leider wartete dort kein Hotelzimmer sonder nur eine 3 Stündige Pause und ein weiterer Flug auf mich.
        </p>
        <p>
            Der Flug nach Manila war wesentlich entspannter und ich konnte sogar die eine oder andere Stunde schlafen.
            Am Flugahfen holte ich mir direkt eine inlands SIM Karte mit der Nummer ‭+63 920 672 9544‬.
            Ich bin aber auch ganz normal weiterhin über meine altbekannte Nummer per WhatsApp oder iMessage zu erreichen.
        </p>
        <p>
            Die Taxifahrt zur 8,5km entfernten Unterkunft war sehr staureich.
            Wir brauchten glatte 70 Minuten.
            Gut das ich einen Festpreis von nur 5 Euro online gebucht hatte.
            In Deutschland wäre das richtig teuer geworden.
            Unterkunft, Bett und Balkon ist gut.
            Nur leider war noch bis spät in den nächsten Morgen Party in der angrenzdenen Schule.
            Wenigstens war die Musik gut.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
