---
layout: blog/de/familie
title: "21.12.18 Flutalarm"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York
  - New Jersey
  - Elizabeth

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

overview:
  intro: "Heute morgen wurden wir durch Steffi‘s Handy geweckt. Auf Ihrem Telefon tauchte auf einmal eine Benachrichtigung auf, die uns"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_6822.jpg"
    alt: "Der US-typische Reisebus zur Outlet Mall"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} vor einer möglichen Überflutung warnte. Da unser Hotel nur 50m vom Wasser entfernet ist, ist das schon eine wichtige Info. Diese Warnung galt bis 10:45 und tauchte alle paar Minuten wieder auf Ihrem Handy auf und machte einen heiden Lärm, wenn man nicht grad den Ton ausmacht. So vibriert das einfach nur ohne Ende. Da wir aber gestern schon nach dem Wetter geschaut hatten, war uns klar, dass es nicht so schlimm wird. Es war nur maximal 1m über normalem Hochwasser angesagt. Das wird uns in der 20ten Etage nicht wirklich treffen.
        </p>
        <p>
            Wir beschlossen dann aber einfach in eine Outlet Shopping Mall zu fahren, und die Wahl für auf die „The Mills at Jersey Gardens“. Die Fahrt dort hin dauerte nur kurze 30 Minuten mit einem Jersey-Reisebus. Dafür brauchten wir knappe 8 Stunden, um einmal durch das Shoppingcenter zu laufen. Wir sind auch überhaupt nur in etwa 15% aller Shops rein gegangen. So riesig ist das hier. Zwischendurch taten uns bereits so sehr die Füße weh, dass Steffi sich spontan bequeme Schuhe kaufte (Stiefel sind für sowas einfach nicht geeignet) und ich mich meiner Einlagen entledigte.
        </p>
        <p>
            Nachdem shoppen fuhren wir mit vollen Rucksäcken und 2 extra Beuteln wieder zurück nach Manhattan und machten uns einen entspannten Abend auf dem Hotelzimmer mit Hähnchen auf Reis und einer Calzone. Dazu gab es unsere Lieblingsserie zum einschlafen.
        </p>
        <p>
            Resultat des Tages: Aua!!!!
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
