---
layout: blog/de/familie
title: "22.12.18 Brooklyn wir kommen"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Die Skyline von Downtown Manhattan in schwarz weiss am fruehen Vormittag"

author: "Steffi"

overview:
  intro: "Heute wollten wir unseren Sightseeing-pass für den Hop on Hop off Bus einlösen, somit machen wir uns erst einmal auf Richtung Times Square. Auf dem"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4396.jpg"
    alt: "Der Eingang zum Union Square Weihnachtsmarkt"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Weg dorthin landeten wir allerdings erst einmal bei Applebees und gönnten uns ein Frühstück.
        </p>
        <p>
            Frisch gestärkt stiegen wir dann in den Bus und kurvten durch Manhattan. Hier merkten wir uns dann gleich einige Punkte, die wir später noch einmal zu Fuß aufsuchen wollten. Obwohl der Bus wirklich langsam fuhr und auch sehr langsam voran kam, war es dermaßen kalt, dass wir auf Höhe unseres Hotels ausstiegen und uns erst einmal eine heiße Schokolade holten. Da wir einfach nicht warm wurden, beschlossen wir unser Zimmer aufzusuchen. Allerdings kauften wir vorher noch einen, auf Wunsch geordneten, NYPD-Mantel für Nachbars Hund Skippy.
        </p>
        <p>
            Nachdem wir anschließend eine ganze Weile im Zimmer verweilten, fiel uns auf, dass der letzte Brooklyn Bus in Kürze fahren sollte, so dass wir fix wieder loszogen. Den Bus erwischen wir gerade noch so und obwohl wir nun noch mehr Klamotten anhatten, blieb es verdammt kalt. Nach Brooklyn ging es leider nicht über die Brooklyn Bridge, dafür aber über die Manhattan Bridge, so dass wir die Nachbarbrücke gut aufs Foto bekamen.
        </p>
        <p>
            Am letzten Stop in Brooklyn verließen wir den Bus, fuhren 1 Station mit der Metro und landeten dann auf den anvisierten Food Market. Basti holte sich beim Italiener eine frittierte  Mozzarella Tasche, während ich mir beim Afghanen Reis mit Hähnchen und viel zu scharfer Soße holte.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Anschließend schlenderten wir noch kurz in das Einkaufszentrum nebenan, wo ich dann auch noch eine Hose fand.
        </p>
        <p>
            Zurück in der Metro steuerten wir den Union Square Holiday market an. Quasi ein Weihnachtsmarkt wie bei uns, nur nicht ganz so überfüllt und weniger auf Weihnachten ausgelegt. Mit Umweg über einen Drogeriemarkt ging es dann weiter zum Madison Square Park. Hier sollte ein großes, echtes Lebkuchenhaus stehen. Angekommen fanden wir allerdings nichts, außer Wiese und einen einsamen Weihnachtsbaum. Basti schaute dann nochmal im Netz nach und entdeckte, dass das Haus nur bis zum 19. da stand. Verdammt!
        </p>
        <p>
            Mittlerweile waren wir wieder so erledigt, dass wir den Rückzug zum Hotel antraten, auf dem Weg noch was zu trinken besorgten und ins Bett fielen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
