---
layout: blog/de/familie
title: "17.03.2018 Man bin ich alt"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Philippinen
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "ein Jeepney in Manila. Hier sind das die lokalen Busse"

overview:
  intro: "Heute morgen hab ich beschlossen, erst einmal meine Sachen in die Unterkunft zu bringen. Ich bin heute Nacht im Dino Residences und habe dort ein"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4648.jpg"
    alt: "Die LKWs machen nen heiden Krach"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} kleines aber feines Zimmer und eine gut funktionierende Klimaanlage. Was will man mehr.
        </p>
        <p>
            Dann kümmerte ich mich noch fix um meine Dreckwäsche. Das ist ein Glück hier einfach. Im Erdgeschoss ist ein Waschsalon die für kleines Geld sogar Rundum sorglos Service anbieten. Ich gab einer Dame dort nur meine Beutel mit den Klamotten, meine Zimmernummer und zahlte. Abends bekam ich dann meine Klamotten trocken und Zusammengelegt zurück. Fast wie früher bei Mutti zu Hause, nur dass ich heute etwa 2,50 Euro dafür bezahlen darf.
        </p>
        <p>
            <strong>
                Danke Mama, dass Du mich früher so verwöhnt hast.
            </strong>
        </p>
        <p>
            Heute wollte ich mal eine andere Gegend der Stadt besichtigen in der ich bis jetzt noch nicht war. Ich holte mir also zwei Flaschen Wasser und machte mich auf den Weg. Die Strecke war nicht mal 3 km lang aber die Sonne brannte wieder ganz schön. Als Ziel hatte ich mir die Hayahay Treehouse Bar ausgesucht. Von dort aus hat man einen schönen Blick übers Wasser und kann 3 Nachbarinseln sehen. Als ich am Ziel ankam, hatte ich das mittlerweile warme Wasser ausgetrunken und brauchte erst einmal einen Mango Shake und eine Sprite um mich wieder runter zu kühlen. Dort blieb ich einige Zeit im Schatten sitzen und genoss die Aussicht aus dem Baumhaus.  Ich musste leider feststellen, dass ich langsam echt alt werde. Nicht mal 1 Stunde in der Sonne spazieren und ich bin reif für einen Mittagsschlaf? Ich glaub ich werde langsam Alt!!!!
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Leider war der Handyempfang hier nicht sehr gut, was wahrscheinlich am Aludach des Baumhauses lag.  Ich wollte aber guten Empfang haben, wenn Steffi in Manila landet. Ich suchte mir ein Trike das mich in die Stadt brachte, wo ich dann als erstes in einen Supermarkt ging um so richtig herunter zu kühlen. Steffi meldete dann auch, dass Sie einen guten Flug hatte und soweit alles glatt läuft. Heute Nacht bleibt Sie in Manila und morgen Mittag fliegt sie dann endlich in meine Arme hier in Dumaguete.
        </p>
        <p>
            Ich machte es mir dann noch mit einem Donut und einem viel zu süßen Erdbeershake (Heute ist offiziell Sündetag) bequem bevor ich wieder zurück in die Unterkunft fuhr.
        </p>
        <p>
            Dort gab es dann noch bis 21 Uhr Dauerbeschallung aus gleich zwei Richtungen. Von der Shopping Mall auf der anderen Strassenseite kam laute Musik aus Lautsprechern. Hinterm Haus kam Live Musik (Pop und Rock) aus einer Kirche. Da an schlafen nicht zu denken war, beschloss ich einfach noch ein wenig zu arbeiten und die Geräuschkulisse mit meinen guten Kopfhörern auszusperren.
        </p>
        <p>
            Morgen hab ich meine kleine wieder für mich. Freu mich drauf.
        </p>
    </div>
</div>
<!--=== End Post ===-->
