---
layout: blog/de/familie
title: "09.03.19 Canada Brothers Day 2"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Kanada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "Die Skyline von Toronto vom Flieger aus gesehen"

author: "Matze"

overview:
  intro: "Wir waren frühzeitig wach und stellten fest, dass sich der gefürchtete Jetlag nur moderat äußerte. Das wir so früh wach wurden lag nämlich an"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7811.jpg"
    alt: "Matze und Sebastian vor dem kanadischen Zug in Toronto"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} der lauten Klimaanlage die dauernd ansprang. Richtig wach wurden wir aber erst nachdem der Feueralarm ausgelöst wurde. Also mal fix in die Hosen gesprungen. Zum Glück wurde nicht evakuiert. Doch als wir später in die Hotelhalle kamen, roch es nach Karamell und die Feuerwehrleute standen relativ entspannt rum.
        </p>
        <p>
            Nun also Frühstück. In meiner Funktion als „Feelgood Manager“ hatte ich schon ein Lokal herausgesucht. Dort gab es dann, typisch Kanadisch, Zimtbrötchen mit Speck und Ei unter einem Berg von frischen Früchten. Selbstverständlich sollte dieses dann noch mit Ahornsyrup übergossen werden. Sehr lecker!
        </p>
        <p>
            Frisch gestärkt gaben wir unsere großen Koffer noch im Hotel Bonaventure ab. Dort findet dann ab Mittwoch die Konferenz statt. Mittags fuhren wir dann, mit kleinem Gepäck, per Bahn von Montreal nach Toronto. So gewannen wir einen ersten Eindruck von der Weite des Landes. Wirklich sehr viel Gegend hier. Unterwegs begann ich dann diesen Blog zu schreiben.
        </p>
        <p>
            Mit weniger Verspätung als bei der Deutschen Bahn kamen wir in Toronto an.
        </p>
        <p>
            Das von uns gemietete Apartment fanden wir in einem der Wolkenkratzer gleich neben dem Bahnhof. Nur der Weg dorthin war etwas umständlich, da hier alles zugebaut ist. Man weiss gar nicht in welchem Gebäude man sich befindet und überall wird gebaut.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Ein sehr gehetzt wirkender junger Mann brachte uns hoch in den 13. Stock und übergab uns die Schlüssel. Die Wohnung ist sehr modern mit Bodentiefen Fenstern und zwei Schlafzimmern.
        </p>
        <p>
            Wir hielten uns nicht lange auf und gaben unserem Bewegungsdrang nach. Wir liefen am Wasser entlang bis uns kalt wurde. In einem der Hochhäuser fanden wir einen kleinen Supermarkt. Dort kauften wir Steaks und Gemüse fürs Abendessen und sogar richtiges Körnerbrot fürs Frühstück.
        </p>
        <p>
            Also machte ich mich ans Kochen und so sehr alt wurden wir dann auch nicht mehr.
        </p>
        <p>
            Gute Nacht da draußen
        </p>
    </div>

</div>
<!--=== End Post ===-->
