---
layout: blog/de/familie
title: "19.06.2021 Donaubad Ulm"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Deutschland
  - Ulm

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Heute fr&uuml;h f&uuml;hrte uns die Autobahn dann nach Ulm. Bevor wir Abfuhren, reservierte Basti uns noch einen Slot f&uuml;r das Freibad. Dieses lag n&auml;mlich"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0545.jpg"
    alt: "Der Ulmer M&uuml;nster"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} erneut neben dem Stellplatz und das Wetter versprach wieder gl&uuml;hende Temperaturen.
        </p>
        <p>
            Am Stellplatz angekommen, wohlgemerkt ein sehr sch&ouml;n und neu angelegter mit ausreichend gro&szlig;en Fl&auml;chen, hie&szlig; es erst einmal einchecken und testen lassen am Zentrum nebenan. Denn auf dem Stellplatz ging nichts ohne negativen Coronatest. 15 min sp&auml;ter alles erledigt, Badesachen geschnappt und rein ins k&uuml;hle nass und den Tag genossen. Gerade als wir uns fertig machten, um zur&uuml;ck ins WoMo zu gehen, brach ein H&ouml;llen-Alarm in der Eishalle nebenan aus. Naja Fehlalarm halt… kurz darauf die &uuml;blichen Sirenen der Feuerwehr geh&ouml;rt und der Alarm h&ouml;rte auf.
        </p>
        <p>
            Nachdem wir dann aber das Freibad verlie&szlig;en, staunten wir nicht schlecht. Es waren mind. 20 Feuerwehren, 10 Krankenwagen etc vor Ort und es wurden mehr und mehr. Fehlalarm war es auf jeden Fall nicht. Es ist wohl irgendwas an der Eismaschine „ausgelaufen“ und hat daf&uuml;r gesorgt, dass weiterer Gro&szlig;alarm ausgel&ouml;st wurde und div. Rettungskr&auml;fte mit Spezialanz&uuml;gen in die Halle vordrangen.
        </p>
        <p>
            Wir machten es uns vor dem WoMo unter der Markise bequem und schauten dem Schauspiel zu. Und mussten zudem feststellen, dass die Menschheit wirklich Hirn eingeb&uuml;&szlig;t hat. Die Einsatzkr&auml;fte haben alles abgesperrt und die Leute versuchten tats&auml;chlich durch die Absperrung zu fahren, um zu ihren Schreberg&auml;rten zu kommen. W&auml;hrend sie noch darauf hingewiesen wurden, dass das mal gerade nicht ist, fingen die doch tats&auml;chlich an zu diskutieren und b&ouml;lkten die Rettungskr&auml;fte an.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Bisher dachte ich, sowas wird im TV nur aufgebauscht, aber nein… wir haben es mehrfach an diesem Abend erlebt und wurden selbst echt Aggro und haben zusammen mit den Rettungskr&auml;fte die hirnverbrannten Leute angeb&ouml;lkt.
        </p>
        <p>
            Irgendwann knurrte der Magen dann aber so laut, dass wir uns auf Richtung Innenstadt machten. Nat&uuml;rlich steuerten wir erst einmal den M&uuml;nster an. Leider war dieser aber schon zu und zudem auch noch in Ger&uuml;ste geh&uuml;llt. Somit keiner sonderlich schicker Anblick. Wir landeten kurz darauf bei „Enchilada“, einem echt schicken mexikanischen Restaurant mit lecker Essen und freundlicher Bedienung.
        </p>
        <p>
            Frisch gest&auml;rkt ging es zur&uuml;ck zum Stellplatz, wo die Rettungskr&auml;fte immer noch voll in Gange waren. Dies waren Sie auch noch, als wir uns gegen Mitternacht schlafen legten.
        </p>
    </div>

</div>
<!--=== End Post ===-->
