---
layout: blog/de/familie
title: "26.06.2021 Wandern hier und da"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Deutschland

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Auch heute hatten wir ja den Mietwagen und beschlossen irgendwo hinzufahren, wo wir mit Öffentlichen nicht so einfach hinkommen würden."
  image:
    url: "/assets/img/blog/2021-alps/IMG_0593.jpeg"
    alt: "Der Blick Richtung Oberstdorf über schöne blühende Wiesen"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} hatten wir vom Berg Mittag aus das Ofterschwanger Horn entdeckt und für interessant befunden. Somit sollte es heute einfach dahin gehen. Unsere Wander App zeigte uns mehrere Seilbahnen den Berg rauf an. Unter anderem auch die Ossi-Reichert-Bahn. Da ich dafür an der Straße auch schon mal Beschilderungen gesehen hatte, beschloss ich einfach dort hinzufahren. Die Fahrt war nicht sehr lang aber schön durch kleine Ortschaften den Berg rauf. Als wir ankamen, mussten wir leider feststellen, dass hier im Sommer nicht auf ist. Na ja es gibt ja noch weitere Seilbahnen, die zum Horn hochfahren. Irgendeine wird ja schon auf sein, denn den Berg rauf laufen ist uns mal wieder zu steil und wir waren zu faul. Gesagt, getan. Auf der anderen Seite des Bergs ist die Bergbahn Weltcup-Express auch im Sommer offen. Also wieder ab ins Auto, um den Berg herum und ab mit der Seilbahn den Berg rauf.
        </p>
        <p>
            Oben wanderten wir erst um das Horn auf einem gut ausgebauten Wanderweg über eine Kuhweide. Wir genossen erst den Blick über das Gunzesrieder Tal in dem viele Weiden und kleinere Wälder zu sehen waren und alles sehr naturbelassen wirkte. Bestimmt auch nochmal ein schöner Ort für Wanderungen in wilder Natur.
        </p>
        <p>
            Auf der zweiten Hälfte des Rundwanderwegs bekamen wir dann einen tollen Blick auf das Tal zwischen Sonthofen und Oberstdorf. Nur über den Bergen, in der Ferne hingen ein paar Dekowolken, die sich gut auf unseren vielen Fotos machen werden.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">

        <p>
            Da der Wanderweg nicht sehr lang war, beschlossen wir direkt ohne Pause weiter den Berg runter zu laufen. Erst ging es ein Stück entlang des Bergrückens bis zu einem Luxushotel. Von dort an ging es durch wunderschöne Wälder, die stellenweise mit Farnen zugewachsen waren, entlang von Wildblumen und Heuwiesen.
        </p>
        <p>
            Unten angekommen, beschlossen wir erst einmal was in einer Wirtschaft trinken zu gehen und einen Plan für den restlichen Nachmittag zu machen. Da die umliegenden Seilbahnen ja immer so früh schließen, beschlossen wir, einfach mit dem PKW zum Söllereck zur neuen Seilbahn zu fahren. Dort auch wieder mit der Bahn rauf zu fahren, um dann den ziemlich steilen Weg zu Fuß zum Auto zurückzulaufen. Steil war der Abstieg wirklich aber dafür auch spaßig und immer gut asphaltiert, sodass man beim Laufen auch mal die Aussicht genießen konnte.
        </p>
        <p>
            Morgen wird es dann in nach Bad Hindelang und die Täler dahiter gehen. Dort wollen wir zum Vilsalpsee, die Gegend erkunden.
        </p>
    </div>

</div>
<!--=== End Post ===-->
