---
layout: blog/de/familie
title: "27.06.2021 Keine Zufahrt"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Deutschland
  - Österreich

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/IMG_0603.jpeg"
    alt: "Der Blick über den Haldensee den Berg hinauf"

overview:
  intro: "Heute sollte unsere Fahrt Richtung Bad Hindelang und ins Tannheimer Tal in Österreich gehen. Eigentlich wollten wir den Vilsalpsee umrunden,"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0600.jpeg"
    alt: "Eine tolle Berglandschaft"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} doch die Zufahrt ist tagsüber gesperrt. Vier Kilometer pro Strecke plus die See-Umrundung waren uns dann doch zu viel, da wir noch mehr an diesem Tag sehen wollten. Also Planänderung – und ab zum Haldensee!
        </p>
        <p>
            Dort entdeckten wir einen wunderschön gelegenen Campingplatz direkt am See, perfekt für ein paar Tage auf der Durchreise. Gleich nebenan gibt es ein beheiztes Freibad – ideal für alle, die sich nicht in den kalten See wagen. Nach etwas mehr als der Hälfte des Wegs um den See gönnten wir uns im SB-Restaurant erst einmal eine Erfrischung mit traumhafter Aussicht. Ja, hier könnte es einem wirklich gefallen!
        </p>
        <p>
            Zurück am Auto hieß es erst einmal Sprit nachfüllen – in Österreich satte 35 Cent günstiger als in Deutschland. Danach ging es weiter nach Hinterstein, wo die „Prinze Gumpe“ auf uns wartete – ein liebevoll angelegter Kneipp-Kur-Garten mit einer kostenlosen Bademöglichkeit. Das Wasser war kristallklar, gespeist unter anderem von einem nahegelegenen Gebirgsbach. Also schnell umgezogen und rein ins erfrischende Nass – gemeinsam mit zahlreichen Eidechsen, die sich im Wasser tummelten. Später entdeckten wir auch noch Blutegel … gruselig! Zum Glück erst nach dem Schwimmen – sonst wäre ich wohl nicht reingegangen.
        </p>
        <p>
            Nach einem entspannten Sonnenbad zog uns der Hunger zurück nach Oberstdorf. Schnell alles am Campingplatz ausgeladen, den Mietwagen im Ortskern abgestellt und ab zum Abendessen – draußen, bei angenehm milden Temperaturen. Den Rückweg zum Campingplatz genossen wir bei untergehender Sonne und ließen den Abend entspannt beim Plausch mit den Platznachbarn ausklingen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div>
<!--=== End Post ===-->
