---
layout: blog/de/familie
title: "30.09.2021 Viel Leerstand"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Spanien
  - Teneriffa

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "Der Blick vom Hotelzimmer des Riu Arecas"

overview:
  intro: "Zu gestern gibt es nicht viel zu sagen. Frühstück, Sonne tanken, Planschen, nochmal Sonne, dann etwas Leckeres essen. Ein kleiner Schnack mit Hauke"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1640.jpeg"
    alt: "Der Blick vom Meer in die Berge"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} vor dem Hotel, anschließend eine gemütliche Runde an der Promenade entlang, Abendessen – und ab ins Bettchen.
        </p>
        <p>
            Heute nach dem Frühstück ging es mit dem Bus nach Playa de las Américas. Dort zeigten sich die Auswirkungen von Corona deutlich: Viel Leerstand, geschlossene Läden, eine eher trübe Stimmung. Als wir beim Shop des Hard Rock Cafés ankamen, besorgten wir uns Shirts und Kleinigkeiten. Die Dame vom Personal erzählte uns, dass auch das Restaurant noch geschlossen ist – es öffnet erst in anderthalb Wochen wieder. Schade, denn wir hatten eigentlich geplant, dort etwas zu trinken.
        </p>
        <p>
            Also ging es weiter zum Hotel, das Freunde von uns regelmäßig buchen. Wir wollten mal sehen, ob es für uns auch infrage kommt. Ganz nett soweit, aber leider ein klassisches Familienhotel – das ist gerade nicht das, was wir suchen.
        </p>
        <p>
            Anschließend gönnten wir uns einen Drink im Café direkt am Strand. Wir blätterten noch ein wenig in unseren Büchern, bevor wir beschlossen, mit dem Bus zurückzufahren. Auf dem Weg hatten wir einen Markt gesehen, bei dem wir noch stoppen wollten – tja, leider falsch getimt: Der Markt war nur bis 14 Uhr geöffnet.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Also direkt zurück ins Hotel, rein in die Badesachen, den Schnorchelkram geschnappt und ab zum Meer. Leider war das Wasser heute zu aufgewühlt, sodass wir unter Wasser kaum etwas sehen konnten. Erfrischend war es aber trotzdem. Danach hieß es wieder Entspannen auf den Hotelliegen – und wie immer ein leckeres Abendessen zum Tagesausklang.
        </p>
    </div>

</div>
<!--=== End Post ===-->
