---
layout: blog/de/familie
title: "23.06.2021 Klopf Klopf"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Deutschland
  - Oberstdorf

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Wie die Beamten in der Nacht schon ankündigten, stand um kurz nach 8 Uhr die Kripo am WoMo und klopfte uns aus dem"
  image:
    url: "/assets/img/blog/2021-alps/seilbahn-im-nebel.jpg"
    alt: "TEXT_HERE"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Bett.
        </p>
        <p>
            Da es ein laufendes Verfahren ist, gibt es dazu hier nun nichts weitere mehr dazu.
        </p>
        <p>
            Vom den Platzbesitzern gab es noch ein kleines Frühstück als „Entschädigung“.
        </p>
        <p>
            Die Kripo bat uns nicht allzu weit rauszufahren und so blieben wir den Tag in Oberstdorf und drehten hier in der Umgebung unsere Runden. Als wir kurz vor der Nebelhornbahn waren, beschlossen wir hochzufahren. Wir hatten ein wenig Hoffnung, dass die Wolken uns als Treppen zu Füßen liegen… aber nein, wieder nicht. Oben angekommen, standen wir in einer undurchsichtigen Suppe, welche zudem jedes Geräusch schluckte. Somit einfach nur eine kleine Runde gedreht, was getrunken und wieder runtergefahren. Zurück am Platz beschlossen wir, dass wir endlich mal unser Vorzelt aufzubauen. Wir waren dann auch gerade so rechtzeitig fertig, dass der einsetzende Hagel uns nichts mehr konnte und wir nicht sofort ins Auto flüchten mussten.
        </p>
        <p>
            So verbrachten wir den Abend im Vorzelt und genossen die Zeit und die Gewitter, die in der Ferne zu sehen waren.
        </p>
        <p>
            Bis morgen.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div>
<!--=== End Post ===-->
