---
layout: blog/de/familie
title: "05.07.2021 Softeis-Überraschungen"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Deutschland

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "Der Blick vom Nebelhorn runter zur Bergstation"

overview:
  intro: "Nach den letzten ereignisreichen Tagen beschlossen wir, heute mal einen Gang zurückzuschalten. Die einzige Aufgabe des Tages war die Fahrt zur"
  image:
    url: "/assets/img/blog/2021-alps/schafe-am-wegesrand.jpeg"
    alt: "Schafe am Wegesrand"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Festung Königstein im Elbsandsteingebirge – da kann man sich ruhig mal einen entspannten Morgen gönnen. Also, was haben wir gemacht? Ausschlafen natürlich! Keine Hektik, kein Stress. Wir haben uns einfach die Zeit genommen, ordentlich zu duschen, in Ruhe zu frühstücken und das Ganze mit einem kleinen Dankeschön auf dem Tisch für unsere Gastgeber abzuschließen. Und nun ab auf die Straße – so muss das sein!
        </p>
        <p>
            Unser Ziel war, auf Anraten der Verwandtschaft, die Festung Königstein, und wir hatten uns einen kleinen Stellplatz unterhalb der Festung ausgesucht. Als wir ankamen, sahen wir sofort, dass es hier richtig idyllisch war. Der Stellplatz lag direkt unterhalb der imposanten Festung, und es war noch genug Platz – bisher war nur ein weiteres Fahrzeug dort. Ganz entspannt.
        </p>
        <p>
            Da Basti immer für ein Softeis zu haben ist, nutzte er die Gelegenheit und holte sich ein leckeres Eis am Kiosk nebenan. Während er das Eis genüsslich vernichtete, stellte sich heraus, dass man an dem Kiosk den Stellplatz bezahlen müsse. Okay, kein Problem – aber dann fragte der Verkäufer uns, ob wir am nächsten Morgen gerne Frühstück hätten. Ohne groß nachzudenken – und vermutlich von der charmanten Atmosphäre des Kiosks mitgerissen – rutschte mir ein fröhliches „Ja“ heraus. Zack, das Frühstücksbuffet für 10 € pro Person war gebucht. Na, das kann ja was werden!
        </p>
        <p>
            Es war bereits Nachmittag, als wir uns entschieden, das Abendessen selbst zu machen. Also schnippelte ich fleißig in der Küche, während Basti sich ausgiebig mit den Platznachbarn unterhielt.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Zwischendurch reservierte ich noch zwei Tickets für die Festung, die wir morgen in Ruhe besichtigen wollen.
            Als der Tag langsam in den Abend überging, zogen wir uns ins Auto zurück, um noch einen Film zu schauen und den Tag gemütlich ausklingen zu lassen. Es war einer dieser entspannten Tage, an denen man nicht viel tut, aber trotzdem das Gefühl hat, eine kleine Auszeit vom Alltag zu genießen. Und das Beste daran: Morgen geht’s weiter mit einem Besuch der Festung – wir sind gespannt, was uns dort erwarten wird.
        </p>
    </div>

</div>
<!--=== End Post ===-->
