---
layout: blog/de/familie
title: "22.05.2025 Hollywood ganz nah"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - USA
  - New York

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "Der Blick vom Huddson River in Richtung Manhatten"

overview:
  intro: "Heute ging es Basti nicht wirklich gut. Er hatte sich eine fette Erkältung eingehandelt und sich noch vor dem Frühstück wieder im Bett umdrehte"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_8511.jpg"
    alt: "Zwei kleine Kupferfiguren in der Metrostation in der 14. Strasse in Manhattan"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} und weiter gepennt, so dass ich mich gleich in der früh alleine auf den Weg durch Manhattan machte. Tags zuvor hatte ich bei Socialmedia gesehen, dass Hugh Jackman bei „the view“ zu Gast ist. Da man in der Stadt bei div. TV Shows von außen gut zuschauen kann, bin ich direkt mal zu dem Studio gefahren. Leider zählte dieses nicht zur „gut zuschauen“ Variante, denn es war ein großer neuer Klotz, wo man nicht ansatzweise was sehen kann, geschweige denn, den Gast ggf. erwischt. Dafür sind es viel zu viele Eingänge.
        </p>
        <p>
            Also bin ich durch die Gegend getapert und am Ende wieder am Hudson River gelandet.
            Alleine war’s schon langweilig, also schaute ich auf die deutsche Uhrzeit und überlegte, wem ich ne Runde auf den Zünder gehen kann. Sonja!
        </p>
        <p>
            Ich rief sie per WhatsApp an, aber es nahm keiner ab. Sie schrieb aber… hmm warum nimmt sie dann aber den call nicht an?! Es lag an den Einstellungen. Dieses kurz schriftlich geklärt und wir wechselten zum Audio WhatsApp Call und kurz darauf sogar zum Videocall, so dass Sie auch ein wenig von der Stadt sehen konnte. Vor allem wusste sie dann, wovon ich in den Moment rede. Vom Battery Park auf an begleitete sie mich bis hin zu „Little Island“. Wir gingen „zusammen“ über den 2021 angelegten Park und quatschten über alles mögliche.
        </p>
        <p>
            Nachdem wir aufgelegt hatten, überlegte ich, ob ich meinen Akku schone oder den nächsten anrief. Letzteres! Meine Mutter war die auserwählte und auch sie begleitete mich via Videocall durch die Gegend. Als auch dieser Anruf beendet war, beschloss ich, dass es Zeit wird zum Minetta Lane Theater zu laufen. Hier spielt Hugh Jackman derzeit das Stück „Sexual Misconduct of the Middle class“ und wenn man Socialmedia glauben darf, dann trifft man ihn da sehr leicht. Auf dem Weg dahin holte ich mir endlich Frühstück, es war mittlerweile 11.30, bestehend aus einem Bagel mit Avocado und Tomate. Der Macher schaute mich zwar dumm an und fragte auch 3x ob ich wirklich nichts anderes drauf möchte, aber das war mir egal.
        </p>
        <p>
            Das Theater lang direkt um die Ecke vom Shop, so dass ich gleich darauf am Theater war. Hier hatten sich auch schon knapp 10 Personen versammelt. Ich stellte mich abseits und joa… wartete und wartete. Über die Straße hörte ich div. Gespräche und merkte daran, dass dieses wohl große Hugh Jackman Fans waren. Einige waren schon öfters da und kamen teilweise aus Dänemark, Deutschland etc.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8483.jpg" alt="Hugh Jackman vor meiner Linse" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Um 15h sollte die Mittagsaufführung starten, es kann ja also nicht so lange dauern, bis Hugh Jackman auftaucht. Tja denkste. Vollprofi, der braucht nicht proben oder sich warm machen. Knapp 2,5 Stunden „musste“ ich warten.
        </p>
        <p>
            Um 14.03 blickte ich nach vorne zur Straße und aus dem nichts stand da ein Paparazzi und schoss Bilder. Das kann doch nur eins bedeuten, also fix die kleine Straße zum Theater überquert und da kam er schon. Hugh Jackman kam mir samt Fahrradhelm in der Hand entgegen und strahlte die Leute an und begrüßte jeden. Himmel, er kam wirklich zu Fuß bzw. mit dem Rad. Und OMG er steht gerade vor mir!
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8504.jpg" alt="Ein Baum in der Austellung The Forrest Within" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Leider wurde es da ein wenig wusselig, so dass richtige Bilder mit Ihm nicht möglich waren, aber ein Schnappschuss mit ihm drauf passte noch. Er quatschte ein wenig mit uns und er ist wirklich herrlich normal und sehr sympathisch. Da er aber nun doch recht spät dran war, ging es recht schnell für ihn rein. Egal… ich hab ihn getroffen und bin mega happy. New York ist schon anders was das Treffen der Promis hier angeht.
        </p>
        <p>
            „schwerelos“ überlegte ich nun was ich denn noch anstellen sollte. Hmmm erst einmal div. Leuten auf den Keks gehen, was gerade passiert ist. Das muss ich doch mit denen teilen 😁
        </p>
        <p>
            Basti rief ich auch an, der war aber komplett Out of Order. Also machte ich mich auf den Weg zurück zum Hotel, um mal zu schauen, wie es Ihm wirklich geht.
        </p>
        <p>
            Ich hielt vorher noch am Supermarkt an, besorgte mir frisch gekochtes Asia Essen, was ich eigentlich draußen essen wollte, aber das Wetter machte mir einen Strich durch die Rechnung, somit machte ich es mir im Chelsea market bequem. Auch nach dem Essen war es noch nass, also ab in die Bahn. Angekommen auf dem Zimmer schlief bzw. lag Basti komatös im Bett.
        </p>
        <p>
            Wirklich verarbeitet hat er mich nicht als ich ankam. Daher versuchte ich meine Freude wegen Hugh Jackman zu zügeln, ging erst einmal heiß duschen und daddelte dann auf dem Handy rum. Anscheinend war ich aber müde, denn mich hat es kurze Zeit später ausgeknockt.
        </p>
        <p>
            Nachdem ich wach wurde, schlief Basti immer noch und ich machte mich nochmals auf den Weg. Ziel dieses Mal: das Genesis House. Dort ist derzeit die Ausstellung „the forest within“ in Zusammenarbeit mit Gwyneth Paltrow.
        </p>
        <p>
            Hier läuft man durch eine Art Wald. Alles Pflanzen sind echt und es läuft entspannende Musik. Leider kann man dieses nicht ganz genießen, denn Möglichkeiten zum sitzen gibt es keine. Dennoch ist es sehr nett gemacht, zudem kostenfrei und bei dem Wolkenbruch draußen eine willkommene und vor allem trockene Abwechslung.
        </p>
        <p>
            Leider schüttete es beim rauskommen noch mehr als vorher, also stampfe ich zur U-Bahn und landete in der 14. Straße. Hmm hier war doch was. Ach ja, die kleinen, teils verstecken Figuren. Ein paar habe ich gefunden, ich war aber so nass, dass ich wirklich zurück ins Hotel musste. Die heiße Dusche rief erneut. Wer ahnt denn, dass NY nochmal einen Temperatursturz auf 8 grad erlebt. Darauf waren wir Klamottentechnisch nicht ausgelegt. Wenigstens hatte ich für die zweite Tour Bastis Regenjacke gemopst.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            An der Ecke vom Hotel holte ich dann noch fix Brot und Getränke und landete kurz darauf dann auf dem Zimmer. Der Abend verlief ruhig mit Serie schauen auf dem Laptop und gemütlichen einkuscheln ins warme und gemütliche Bett.
            Hoffentlich geht es Basti morgen besser.
        </p>
        <p>
            Jetzt aber erst mal Gute Nacht!
            <br />
            Bis morgen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
