---
layout: blog/de/familie
title: "03.05.2026 Neue Sehnsuchtsorte"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Italien
  - Sizilien

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/pool-milazzo.jpg"
    alt: "Der Natrupool in Milazzo von der Wasserseite"

overview:
  intro: "Nachdem wir wirklich sehr lange beim Frühstück saßen – Italiener unter sich halt – ging es erst um kurz vor 12 Uhr los. Nächster Stopp: der"
  image:
    url: "/assets/img/blog/2026-sicily/small/DSC02231.jpg"
    alt: "Die Promenade in Cefalu"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Naturpool von Milazzo. Der Abstieg ist zwar anstrengend, aber die Mühe wert, denn wir verbringen knapp zwei Stunden an diesem schönen Fleck Erde.
        </p>
        <p>
            Basti sorgt hier für ein Action-Highlight: Er watet mutig mitten durch das Wasser bzw. über die Felsen, um ganz an den vorderen Rand zu kommen. Siehe Bild oben. Er will die Wellen eben hautnah spüren! Er fällt zum Glück nicht rein und kommt auch ohne Verletzungen durch die Steine zurück. Eigentlich ist es wirklich sehr, sehr schön hier. Aber so auf Felsen sitzen ist wirklich nicht meins. Dann lieber Strand oder Kies.
        </p>
        <p>
            Wieder oben angekommen, stärken wir uns erst mal mit einem Mittagessen am Imbiss. Für mich gibt es Pasta mit Öl und Chili. Tatsächlich sehr lecker und vor allem käsefrei!
        </p>
        <p>
            Danach geht es weiter nach Cefalù. Die Besitzerin der Unterkunft schrieb, dass wir einen bestimmten Parkplatz ansteuern sollten. Das war allerdings eine Herausforderung und forderte einige Runden im Kreis, bis wir diesen auch gefunden hatten. Aber was soll schon eine Herausforderung? Wir brauchen zwei. Hier wartete nämlich direkt die nächste – eine echte Fitnessherausforderung. Denn unsere Unterkunft lag wieder in einem Wohnhaus, die Zimmer befanden sich in der fünften Etage. Ohne Fahrstuhl. Echt jetzt?
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Naja, fix eingecheckt, ein wenig ausgeruht und zur verabredeten Zeit mit KaDa an der Rezeption getroffen.
            Basti und ich verlieben uns sofort in diesen Ort! Was es genau ist, können wir beide, glaube ich, gar nicht so genau sagen, aber uns gefällt Cefalù auf Anhieb. Wir spinnen sogar herum, dass man sich hier zwischendurch mal eine Wohnung nehmen könnte.
        </p>
        <p>
            Nachdem wir eine Weile zu viert durch die Gassen gelaufen waren, trennten sich später unsere Wege. Basti und ich landeten noch in einem Restaurant, wo wir uns durch die Vorspeisen probierten. Er hatte zudem noch einen Wein – ein kleines Glas wohlgemerkt –, der ihm mächtig zu Kopf gestiegen ist. Anschließend schlenderten wir noch lange durch die Gassen und fanden den Ort mit jedem Schritt einladender.
        </p>
        <p>
            Die Unterkunft selbst... naja, kann man machen, muss man aber nicht. (Name?) Sehr spartanisch und der Preis dafür dann doch recht hoch gewesen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
