---
layout: blog/de/familie
title: "09.05.2026 Blumen & Cannolo"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Italien
  - Sizilien

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/mount-etna.jpg"
    alt: "Der Vulkan Ätna nahe Catania auf Sizilien, Italien"

overview:
  intro: "Heute stand leider schon der Rückweg nach Catania an. Ganz ohne Zwischenstopp wollten wir die Strecke aber nicht fahren und legten deshalb noch"
  image:
    url: "/assets/img/blog/2026-sicily/small/IMG_7222.jpg"
    alt: "Cannolo in Noto"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} einen Halt in Noto ein.
        </p>
        <p>
            Dort wurde gerade das alljährliche Blumenfest vorbereitet. Überall wurde aufgebaut und dekoriert, sodass man schon gut erahnen konnte, wie beeindruckend das Ganze ein paar Tage später aussehen würde. Wir schlenderten ein wenig durch die Gassen und gönnten uns natürlich auch jeder ein traditionelles Cannolo. Unfassbar lecker war das! Viel Zeit blieb uns leider nicht mehr, aber eins ist sicher: Noto bleibt auf unserer Reiseliste. Hier müssen wir uns irgendwann noch einmal ganz in Ruhe umschauen.
        </p>
        <p>
            Am Nachmittag erreichten wir schließlich wieder Catania. Unsere Unterkunft aus den ersten Nächten war leider nicht mehr verfügbar, sodass wir direkt um die Ecke eine andere gebucht hatten. Joa... kann man machen, muss man für den Preis aber eher nicht.
        </p>
        <p>
            Am Abend trafen wir uns dann noch mit Davides Cousin zum Essen. Vorab hatten wir extra abgeklärt, dass das Restaurant auch etwas für mich auf der Speisekarte haben würde. Jo... alles kein Problem.
        </p>

        <p>
            Denkste!
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Die sizilianischen Speisekarten schlugen mal wieder gnadenlos zu. Alles war voller Käse oder Meeresfrüchte. Selbst die Burger hatten den Käse schon eingearbeitet, sodass man ihn nicht einfach weglassen konnte. Für mich gab es am Ende mühsam zusammengesuchte Vorspeisen, während die anderen sich durch die Speisekarte schlemmen konnten. Hauptsache satt – auch wenn ich dieses Mal nicht wirklich glücklich damit war.
        </p>
        <p>
            Als Belohnung für diesen kulinarischen Überlebenskampf gönnte ich mir nach dem Essen aber noch ein ordentliches Eis. Das hatte ich mir nach den ganzen Vorspeisen definitiv verdient!
        </p>
        <p>
            Danach ging es auch schon zurück in die Unterkunft und früh ins Bett. Am nächsten Morgen hieß es schließlich wieder zeitig aufstehen.
        </p>
    </div>

</div>
<!--=== End Post ===-->
