---
layout: blog/de/familie
title: "03.01.2026 Ankunft im Paradies"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Indonesien
  - Bali
  - Kubu

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/bali-fische.jpg"
    alt: "Fischschwarm vor der Küste von Bali"

overview:
  intro: "Viel zu früh wach… denn eine richtige Zimmerverdunkelung gibt es hier nicht, sondern nur Rollos – und die oberen Fenster haben gar keine"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_1791.jpg"
    alt: "Unser Bungalow Nr. 27"

add_css:
  - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.css
  - /assets/plugins/owl-carousel/owl-carousel/owl.theme.css
  - /assets/css/owl.carousel.css
  - /assets/plugins/fancybox/source/jquery.fancybox.css

js:
  scripts:
    - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.js
    - /assets/js/plugins/owl-carousel.js
    - /assets/plugins/fancybox/source/jquery.fancybox.pack.js
    - /assets/js/plugins/fancy-box.js
  run_code:
    - OwlCarousel.initOwlCarousel();
    - FancyBox.initFancybox();
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-12">
        <p>
            {{ page.overview.intro|raw }} Jalousien. Die Nacht war so schon unruhig genug: Kopfschmerzen und eine nervige Mücke hätten uns ruhig länger schlafen lassen dürfen.
        </p>
        <p>
            Nach einem entspannten Frühstück, bei dem man sich eine Hauptkomponente aus der Karte aussucht und den Rest am Buffet nimmt, ging es für uns an den Pool. Für mehr waren wir heute einfach nicht zu gebrauchen. Tja… und was macht der dumme Deutsche? Natürlich sofort mächtig verbrennen. Davon haben wir auf jeden Fall länger was.
        </p>
        <h3>Aber erst einmal zum Ort des Geschehens</h3>
        <p>
            Unser Resort, das Siddhartha Oceanfront Resort & Spa, hat uns vom ersten Moment an begeistert. Dieses wunderschöne Boutique-Resort liegt an der ruhigen Nordostküste Balis im Dorf Kubu – fernab der hektischen Touristenmeilen, umgeben von einer friedlichen, fast dörflich-natürlichen Atmosphäre und beeindruckender Naturkulisse. Die Anlage erstreckt sich über mehrere Hektar direkt am Meer, mit üppig gepflegten tropischen Gärten, einem großen Garten-Infinity-Pool mit direktem Meerblick und einem lockeren, offenen Restaurantbereich mit Blick auf den Ozean. Überall stehen kleinere und größere Buddha-Statuen, die dem Ganzen eine wunderbar ruhige, fast meditative Stimmung geben. Dazwischen ragen unzählige Palmen in den Himmel – viele davon schwer behangen mit frischen Kokosnüssen.
        </p>

    </div>
    <div class="col-md-12">
        {% include 'owl-carousel-v4.html.twig' with {
            'additionalContainerCss': 'margin-bottom-10 margin-top-10',
            'imageBasePath': '/assets/img/blog/2025-vietnam-bali/',
            'images': {
                'IMG_1835.jpg': 'Die Einfahrt zum Resort',
                'IMG_1791.jpg': page.overview.image.alt|raw,
                'IMG_1805.jpg': 'Basti beim Tester der Unterwasserkamera',
                'IMG_1796.jpg': 'Ein Bereich zum ausruhen und für den Yogaunterricht',
                'IMG_1815.jpg': 'Zwischen Pool und Meer stehen noch weitere Liegen',
                'IMG_1839.jpg': 'Die verschlungen Wege von der Rezeption ans Meer',
                'IMG_1846.jpg': 'Vorbei an Bungalows und dem Spa',
                'IMG_1847.jpg': 'Hin zum Restaurant und an den Pool',
            }
        } %}
    </div>
    <div class="col-md-12">
        <p>
            Unser Bungalow 27 liegt direkt am Wasser. Schon morgens hören wir das Meer, noch bevor wir die Augen richtig geöffnet haben. Von unserer Terrasse blicken wir direkt hinaus auf den Ozean, während eine leichte Brise durch die Palmen zieht. Unser Bungalow ist hell, liebevoll gestaltet und ist genau das, was wir hier gesucht haben: Ruhe, Weite und das Gefühl, wirklich im Urlaub angekommen zu sein.
        </p>
        <p>
            Zum Resort gehören außerdem ein kleines, sehr stilvolles Spa sowie ein eigenes Dive Center direkt auf dem Gelände. Beides fügt sich perfekt in die Anlage ein und unterstreicht diesen besonderen Mix aus Entspannung und Abenteuer, den dieser Ort bietet.
        </p>
        <p>
            Zu Mittag gab es für uns Sandwiches beziehungsweise Wraps an der Poolbar, bevor wir uns dann zur Tauchbasis aufmachten. Dort meldete sich bei Basti sofort das Taucherherz: Für den nächsten Tag buchte er einen Refresher am Hausriff. Schließlich war er schon lange nicht mehr im offenen Meer tauchen, und auch das Pooltraining daheim war eher selten.
        </p>
        <p>
            Der Rest des Nachmittags bestand aus faul rumliegen – genau so, wie ein Urlaub sein sollte – bis uns der Hunger in das Restaurant des Resorts rief. Hier gab es für Basti Nasi Goreng mit Hähnchen, während ich das gleiche Gericht als vegetarische Variante mit Nudeln statt Reis genoss. Beides war lecker und gemütlich serviert, mit Blick auf den Pool und das Meer.
        </p>
        <p>
            Wir ließen den Abend auf unsere Veranda gemütlich ausklingen. Bis morgen.
        </p>
        <h3>Nachtrag</h3>
        <p>
            Auch wenn dieser Blogbeitrag nach bezahlter Werbung klingen mag, haben wir keinerlei Vorteile durch diesen Inhalt erhalten. Wir wollen hier nur unseren Freunden und unserer Familie zeigen wo wir schönes unterwegs sind.
        </p>
    </div>

</div>
<!--=== End Post ===-->
