---
layout: blog/de/familie
title: "19.01.2026 Epilog: Südostasien"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Singapur
  - Vietnam
  - Ho Chi Minh
  - Indonesien
  - Bali

author: Basti

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/besakih.jpg"
    alt: "Die Besakih Tempel auf Bali"

overview:
  intro: "Nun sitzen wir also wieder zu Hause. Die Koffer sind ausgepackt, der Jetlag hält sich erstaunlich in Grenzen und langsam kommt auch der Alltag"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_1993.jpg"
    alt: "Steffi und Basti auf einer Treppe im Besakih Tempel"

add_css:
  - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.css
  - /assets/plugins/owl-carousel/owl-carousel/owl.theme.css
  - /assets/css/owl.carousel.css
  - /assets/plugins/fancybox/source/jquery.fancybox.css

js:
  scripts:
    - /assets/plugins/owl-carousel/owl-carousel/owl.carousel.js
    - /assets/js/plugins/owl-carousel.js
    - /assets/plugins/fancybox/source/jquery.fancybox.pack.js
    - /assets/js/plugins/fancy-box.js
  run_code:
    - OwlCarousel.initOwlCarousel();
    - FancyBox.initFancybox();
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} wieder zurück. Zeit also, noch einmal auf diese Reise zurückzublicken. Drei Wochen Südostasien liegen hinter uns – mit vielen schönen Momenten, ein paar kleinen Pannen und jeder Menge Erinnerungen.
        </p>
        <p>
            Wenn wir dem Urlaub eine Bewertung geben müssten, würden wir wohl bei einer 8 von 10 landen. Es war eine wirklich tolle Reise, aber eben auch nicht ganz perfekt. Ein paar Dinge liefen anders als geplant, und gerade am Anfang in Vietnam haben wir doch weniger unternommen als wir ursprünglich vorhatten. Manchmal fehlte uns schlicht die Energie, manchmal spielte das Wetter nicht ganz mit und manchmal war es auch einfach schöner, einen Gang runterzuschalten statt noch einen weiteren Programmpunkt abzuhaken.
        </p>
        <p>
            Dafür gab es aber auch einige echte Highlights. Ganz vorne mit dabei waren definitiv die Tauchgänge und Schnorchelausflüge ins Hausriff des Siddhartha Oceanfront Resorts. Die Unterwasserwelt dort war wirklich beeindruckend. Von winzigen Schnecken und Garnelen bis hin zu Schildkröten war alles dabei, und jeder Tauchgang hatte wieder etwas Neues zu bieten. Dass ich dabei einmal etwas ungeschickt mit dem Arm in den Korallen gelandet bin, gehört wohl auch zu den Geschichten dieser Reise. Der blutrote Arm juckt übrigens immer noch wie Sau und wird mich wohl noch ein paar Tage begleiten.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Auch unser kurzer Abstecher nach Ubud bleibt uns in Erinnerung – allerdings eher aus gemischten Gründen. Die Unterkunft klang auf dem Papier wirklich spektakulär: Villa, privater Pool, Jacuzzi und Blick über Reisfelder. In der Realität war davon dann nicht viel zu merken. Vieles wirkte komplett verwohnt, schimlig oder war einfach defekt. Am Ende blieb es deshalb auch bei genau einer Nacht, bevor wir am nächsten Tag doch lieber wieder zurück ins Siddhartha geflüchtet sind. Manchmal merkt man eben erst vor Ort, was wirklich zu einem passt.
        </p>
        <p>
            Unvergessen bleibt dagegen der Ausflug über die Insel mit unserem Guide Yuda. Solche Tage sind oft die, an die man sich später am liebsten erinnert. Man bekommt einen ganz anderen Eindruck vom Land, sieht Orte abseits der typischen Touristenpfade und erfährt nebenbei noch jede Menge Geschichten aus dem Alltag vor Ort.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Und dann war da natürlich noch ein ganz anderer Luxusfaktor dieser Reise: das Fliegen in der Business Class. Die Lounges, die bequemen Sitze, das entspannte Einsteigen und die Möglichkeit, auf einem Langstreckenflug tatsächlich ein paar Stunden Schlaf zu bekommen – daran könnte man sich durchaus gewöhnen. Auch wenn es wahrscheinlich nicht bei jeder Reise so sein wird.
        </p>
        <p>
            Nicht alles lief perfekt. Das Wetter zeigte uns auf Bali zwischendurch sehr deutlich, warum diese Jahreszeit Regenzeit heißt. Einige Tage waren deutlich ruhiger als geplant, weil Sturm, Wind und hohe Wellen uns einfach ausgebremst haben. Und irgendwie schien es auch ein kleines Naturgesetz zu geben: Immer wenn wir mit Made im Auto saßen, fing es zuverlässig an aus Eimern zu schütten.
        </p>
        <p>
            Was bleibt, sind vor allem viele kleine Erinnerungen: Spaziergänge durch tropische Parks, frische Säfte aus Automaten am Straßenrand, Begegnungen mit fremden Menschen, ungewöhnliche Hotelarchitektur, improvisierte Abende mit Fertignudeln auf der Terrasse und natürlich die vielen Stunden unter Wasser. Genau diese kleinen Momente sind es am Ende, die eine Reise besonders machen.
        </p>
        <p>
            Zum Abschluss wollen wir hier noch einmal ein paar unserer Lieblingsbilder dieser Reise zeigen. Bilder, die für uns die vielen kleinen Momente festhalten, die diesen Urlaub ausgemacht haben.
        </p>
    </div>


    <div class="col-md-12">
        {% include 'owl-carousel-v4.html.twig' with {
            'additionalContainerCss': 'margin-bottom-10 margin-top-10',
            'imageBasePath': '/assets/img/blog/2025-vietnam-bali/',
            'images': {
                'IMG_5393.jpg': 'Lufthansa Business Class von München nach Singapur',
                'IMG_1310.jpg': 'Singapur aus dem Buddha Tooth Relic Tempel & Museum',
                'IMG_5582.jpg': 'Eine Obstverkäuferin auf den Straßen von Ho-Chi-Minh City',
                'DSC01569.jpg': 'Der Black Virgin Mountain Buddha vor den Toren von Ho-Chi-Minh City',
                'IMG_5779.jpg': 'Silvester in Vietnam',
                'IMG_1791.jpg': 'Der Bungalow Nr. 27 im Siddhartha Oceanfront Resort and Spa',
                'P1041630.jpg': 'Ein Shiggi die wir beim schnorcheln gemütlich beobachten konnten.',
                'P1050092.jpg': 'Basti beim tauchen',
                'IMG_2018.jpg': 'Einer der ältesten Tempel in der Bsakih Tempelanlage auf Bali',
                'IMG_2067.jpg': 'Ein altes traditionelles Dorf, welches für die Öffentlihkeit zugänglich ist',
                'IMG_2172.jpg': 'Zurück in Kubu am Meer',
                'P1100013.jpg': 'Nemos die Basti beim tauchen immer wieder getroffen hat.',
                'P1110075.jpg': 'Die hübschen Unterwasser Schnecken vor Bali',
                'IMG_2313.jpg': 'Clarke Quay, Singapur. Ruhig und bunt bei Tag. Laut undd voll bei Nacht. ',
                'IMG_6106.jpg': 'Der Luxus Minivan der uns zum Singapur Airport gebracht hat',
            }
        } %}
    </div>

    <div class="col-md-12">
        <p>
            Und während wir diese Zeilen schreiben, wandert der Blick schon wieder ein kleines Stück in die Zukunft. Die nächste Reise steht nämlich bereits fest. Im April beziehungsweise Mai geht es gemeinsam mit Freunden nach Sizilien. Darauf freuen wir uns jetzt schon sehr.
        </p>
        <p>
            Aber zuerst genießen wir noch ein bisschen das Gefühl, wieder zu Hause zu sein – mit vielen schönen Erinnerungen an Südostasien im Gepäck.
            <br />
            Liebe Grüße und bis bald!
        </p>
    </div>

</div>
<!--=== End Post ===-->
