---
layout: blog/de/familie
title: "4 verrückte für 12 Tage auf Sizilien"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Italien
  - Sizilien

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/mount-etna.jpg"
    alt: "Der Vulkan Ätna nahe Catania auf Sizilien, Italien"

overview:
  intro: "KaDa – das sind Kati und Davide, unsere Freunde aus dem Schwarzwald. Und genau mit ihnen hat diese Reise eigentlich schon viel früher begonnen,"
  image:
    url: "/assets/img/blog/2026-sicily/small/IMG_7212.jpg"
    alt: "4 Verrückte am Strand beim Herumalbern"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} als wir damals 2023 gemeinsam in Irland unterwegs waren. Schon dort kam irgendwann die Idee auf, dass sie uns irgendwann „ihr“ Sizilien zeigen wollen. Kein Wunder eigentlich, denn Davide stammt von dort, seine Familie lebt noch auf der Insel, und die beiden sind regelmäßig dort unterwegs.
        </p>
        <p>
            2026 war es dann soweit. Aus einer Idee wurde eine konkrete Planung – und erstaunlicherweise lief das trotz der Distanz zwischen Nord- und Süddeutschland ziemlich reibungslos. Schnell stand ein Zeitraum fest: Mai sollte es werden. Und schnell war auch klar, dass wir das Ganze bewusst offen halten wollen. Kein straff durchgeplantes Programm, sondern ein Mietwagen, ein bisschen Struktur und ansonsten viel Spontanität – je nach Wetter, Lust und Laune.
        </p>
        <p>
            Ein paar Dinge haben wir aber trotzdem festgelegt: Basti und ich sollten direkt nach der Landung den Mietwagen übernehmen (wir sind einen Tag früher angekommen), und unser erster gemeinsamer Fixpunkt war der 02.05., bis zu dem wir in Catania bleiben würden.
        </p>
        <p>
            Alles andere blieb offen – genau so, wie es sich für diese Art von Reise richtig angefühlt hat.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Und damit: viel Spaß beim Mitreisen durch unsere Tage auf Sizilien.
        </p>
    </div>

</div>
<!--=== End Post ===-->
