---
layout: blog/de/familie
title: "10.05.2026 Der frühe Vogel ..."
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Italien
  - Sizilien

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/mount-etna.jpg"
    alt: "Der Vulkan Ätna nahe Catania auf Sizilien, Italien"

overview:
  intro: "... kann mich mal. Der Wecker klingelt trotzdem zu einer unchristlichen Zeit um kurz nach 3 Uhr in der Früh. Um 4:00 Uhr morgens fahren wir zum"
  image:
    url: "/assets/img/blog/2026-sicily/small/IMG_4115.jpg"
    alt: "Wie 4 in der Lounge auf Sizilien"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} Flughafen. Zum Glück können wir uns in die Lounge setzen und entspannen (wo ich mir erst mal ein käsefreies Brötchen sichere). Danach geht es für Basti und mich in den Flieger – dieses Mal hoffentlich mit besser riechenden Nachbarn!
        </p>
        <p>
            Natürlich haben wir KaDa mit in die Lounge genommen. Die beiden sind nämlich gleich mit zum Flughafen gekommen, auch wenn ihr Flieger erst drei Stunden nach unserem geht. So müssen sie nicht erst noch mit den Öffentlichen durch die Gegend fahren und sitzen zudem auch noch bequem in der Lounge mit nettem Ausblick aufs Rollfeld.
        </p>
        <p>
            Wir machen noch einmal einen Zwischenstopp zum Umsteigen in Mailand, bevor wir endgültig und voller schöner Erinnerungen wieder zu Hause landen.
        </p>
        <p>
            Ich habe bestimmt etwas ganz Wichtiges in diesem Blog vergessen, aber eines steht fest: Es war wirklich schön, auch wenn wir in den wenigen Tagen mehr als 1.200 km gefahren sind. Sizilien ist eine Reise wert. Wir waren sicherlich nicht das letzte Mal dort!
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div>
<!--=== End Post ===-->
