---
layout: blog/de/familie
title: "{#title#}"
active_nav: travel-blog
sitemap: false
pagination:
  previous: true
  next: true

categories:
  - de
  - Reiseblog

locations:
  - Türkei
  - VAE
  - Istanbul
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "Der Blick in Richtung Dubai Marina über die Palmeninsel"

overview:
  intro: "{#intro#}"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240903-IMG_9472.jpg"
    alt: "TEXT_HERE"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} {#afterIntro#}
        </p>
{#additionalNextToImage#}
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
{#additionalContent#}
</div>
<!--=== End Post ===-->
