    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/auszeit/auszeit-83.jpg" alt="TEXT_HERE" />
        </div>
    </div>
    <div class="col-md-6">
{#content#}
    </div>
