    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/P4050890.jpg" alt="Eine seltenere Art der Anemonenfische" />
        </div>
    </div>
    <div class="col-md-6">
{#content#}
    </div>
