    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240903-IMG_9472.jpg" alt="TEXT_HERE" />
        </div>
    </div>
    <div class="col-md-6">
{#content#}
    </div>
