---
layout: german
title: Reiseblog
sitemap: false
meta:
  description: "Hier findet Familie und Freunde eine &Uuml;bersicht aller Blogeintr&auml;ge &uuml;ber unsere aktuelle Reisen"
  keywords:
    - Reiseblog
    - Blog
    - Reisen
    - Urlaub
    - Auszeit
    - Welt
    - Weltreise
active_nav: travel-blog

add_css:
  - /assets/css/pages/blog_masonry_3col.css
js:
  scripts:
    - /assets/plugins/masonry/jquery.masonry.min.js
    - /assets/js/pages/blog-masonry.js

generator: pagination
pagination:
  max_per_page: 9
  provider: data.familie
---

<div class="heading margin-bottom-20 margin-top-20">
  <h1>Reiseblog f&uuml;r Familie und Freunde</h1>
  <h2>Aktuell sind wir arbeiten und verdienen das Geld f&uuml;r unsere n&auml;chste Reise</h2>
  <p>Normalerweise findet Ihr hier alle <a href="{{ site.url }}/familie/">Infos</a> und <a href="{{ site.url }}/familie/fotos/">Bilder</a> unserer aktuellen Reise.</p>
</div>

<!--=== Content Part ===-->
{% include 'blog/overview/masonry_3col.html.twig' with {'posts': page.pagination.items, 'readMore': 'Weiterlesen'} %}
<!--=== End Content Part ===-->

<!--Pagination-->
{% include 'pagination.html.twig' with {'pagination': page.pagination} %}
<!--End Pagination-->
