---
layout: english
title: Travelblog
meta:
  description: "Here our family and friends can find an overview of all blog posts of Matze's and my trip to Canada in 2019"
  keywords:
    - Canada
    - Montreal
    - Toronto
    - Travel

active_nav: blog-2019-canada

add_css:
  - /assets/css/pages/blog_masonry_3col.css
js:
  scripts:
    - /assets/plugins/masonry/jquery.masonry.min.js
    - /assets/js/pages/blog-masonry.js

generator: pagination
pagination:
  max_per_page: 10
  provider: filtered.travelblog.categories.2019-canada
  reverse: true
---

<div class="heading margin-bottom-20 margin-top-20">
  <h1>Matze and Basti in Canada</h1>
  <p>Here you can find all blog articles and <a href="{{ site.url }}/en/travelblog/2019-canada/photos/">photos</a> of our trip to Canada in 2019.</p>
</div>

<!--=== Content Part ===-->
{% include 'blog/overview/masonry_3col.html.twig' with {'posts': page.pagination.items, 'readMore': 'Read more'} %}
<!--=== End Content Part ===-->

<!--Pagination-->
{% include 'pagination.html.twig' with {
    'pagination': page.pagination,
    'pagination_newer': 'Older',
    'pagination_older': 'Newer',
    'pagination_posts': 'posts'
} %}
<!--End Pagination-->
