{% extends "german.html.twig" %}

{% set layoutAddCss = ['/assets/css/pages/blog.css'] %}
{% set defaultImageSrc = '/assets/img/blog/travel-blog-headline.jpg' %}
{% set defaultImageAlt = 'Standardbanner f&uuml;r die Headline des Reiseblogs.' %}

{% block contentWrapper %}
<div class="container content blog-page blog-item">

    <!--=== Content Part ===-->
    {% if page.headline_type == 'top' %}
        {% include 'blog/post/top_headline.html.twig'
            with {
                'defaultImageSrc': defaultImageSrc,
                'defaultImageAlt': defaultImageAlt
            }
        %}
    {% else %}
        {% include 'blog/post/no_headline.html.twig'
            with {
                'defaultImageSrc': defaultImageSrc,
                'defaultImageAlt': defaultImageAlt
            }
        %}
    {% endif %}
    <!--=== End Content Part ===-->

    {% if page.pagination %}
        {% include 'blog/snippet/post_pagination.html.twig'
            with {
                'next': page.next_reiseblog,
                'previous': page.previous_reiseblog,
                'showNext': page.pagination.next,
                'showPrevious': page.pagination.previous,
                'nextPostLinkText': 'N&auml;chster<span class="hidden-xs"> Beitrag</span>',
                'previousPostLinkText': 'Vorheriger <span class="hidden-xs"> Beitrag</span>'
            }
        %}
    {% endif %}

</div><!--/container-->
{% endblock %}
