---
layout: german
title: Reiseblog
meta:
  description: "Hier findet meine Familie und Freunde eine &Uuml;bersicht aller Blogeintr&auml;ge &uuml;ber meine Reisen"
  keywords:
    - Reiseblog
    - Blog
    - Reisen
    - Urlaub
    - Auszeit
    - Welt
    - Weltreise
active_nav: blog-newest

add_css:
  - /assets/css/pages/blog_masonry_3col.css
js:
  scripts:
    - /assets/plugins/masonry/jquery.masonry.min.js
    - /assets/js/pages/blog-masonry.js

generator: pagination
pagination:
  max_per_page: 9
  provider: data.reiseblog
<!--provider: filtered.reiseblog.categories.2017-asia-oz-->
---

<div class="heading margin-bottom-20 margin-top-20">
  <h1>Alle Blogartikel</h1>
  <p>Hier findet Ihr alle Blogartikel meiner Reisen quer durch die Welt. Nicht jeder Artikel ist selbstgeschrieben. Oft hatte ich auch Hilfe von Familie und Freunden</p>
</div>

<!--=== Content Part ===-->
{% include 'blog/overview/masonry_3col.html.twig' with {'posts': page.pagination.items, 'readMore': 'Weiterlesen'} %}
<!--=== End Content Part ===-->

<!--Pagination-->
{% include 'pagination.html.twig' with {'pagination': page.pagination} %}
<!--End Pagination-->
