---
layout: en_tech-blog
active_nav: tech-blog
title: PHP UK CONFERENCE London

meta:
  description: "Here you can read about my time in London at the PHP UK CONFERENCE 2017"
  keywords:
    - blog
    - php
    - uk
    - conference
    - London
    - talks
    - sessions
    - SmokeTests

categories:
  - en
  - tech-blog

locations:
  - London
  - England

headline:
  image:
    url: /assets/img/blog/tech-blog-headline.jpg
    alt: "Banner of 2017's PHP UK CONFERENCE in London"

overview:
  intro: "After last years success with giving talks at bigger conferences. This year is starting quite similar. First I showed some teachers for software development how git works. Now I got the luck to be invited as a speaker at the PHP UK CONFERENCE in London."
  image:
    url: /assets/img/php-uk-conference/logo.png
    alt: Logo of PHP UK CONFERENCE 2017 in London
---
<div class="row margin-bottom-10">
    <div class="col-md-6 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive"
             src="{{ site.url }}/assets/img/php-uk-conference/php-car-air-refreshener.jpg"
             title="Copyright is with Vitis Events Ltd."
        />
    </div>
    <div class="col-md-6">
        <p>
            <span class="dropcap">A</span>
            fter last years success with giving talks at bigger conferences.
            This year is starting quite similar.
            First I showed some teachers for software development how git works.
            Now I got the luck to be invited as a speaker at the PHP UK CONFERENCE in London.
            They asked me to talk about my newly build SmokeTests library and how it will help developers around the world to test their pages.
            I want to say thank you to Jo.
            She was my contact person for getting everything organized.
            She did an amazing job.
            She booked a room for me in a brand new 5 star Hotel and it was even a double room so Steffi could come with me to London.
            The room was great and the Hotel even provided a mobile phone in each room. Great service.
        </p>
        <p>
            Good part as a speaker at a conference is that you usually get a pass for the rest of the conference for free.
            I decided to take the most out of it and went to a lot of talks. My first day at the PHP UK CONFERENCE I started with listening to David Zuelke talking about web servers written in PHP.
            He started off by giving us a brief history about where PHP internals like CGI and how it worked.
            Afterwards I directly went to see Michiel Rook’s session about continuous deployment which was very interesting as well.
        </p>
    </div>
    <div class="col-md-6 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive"
             src="{{ site.url }}/assets/img/php-uk-conference/php-car-air-refreshener.jpg"
             title="Copyright is with Vitis Events Ltd."
        />
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe width="550" height="309" src="https://www.youtube.com/embed/snDOv9J_vTY?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p>
            <span class="dropcap">A</span>
            fter lunch I decided to skip one session in order to prepare my own talk.
            While adding one more fun slide I realised that my MacBook I use for presentations has bigger issues with either memory or graphics unit.
            Not good. Luckily Paul Dragoonis, our docker consultant was at this conference too.
            He gladly wanted to help out with his laptop for my talk.
            With every moment my slot came closer I got a bit more nervous and annoyed because of that messed up hardware.
        </p>
        <p>
            In the conference room it got better.
            There was a ready to use MacBook provided.
            Still I was quite nervous if everything will work out correct and if I have enough content to show for 45 minutes.
            Soon the room filled up to 150 people.
            Quite on time I got the sign to start my session.
            I went through my slides far too quick and after just 36 minutes I was already done.
            In the moment I got to my Questions and Answers slide I realised that I completely forgot about some questions I wanted to ask during the talk.
            They should have got me to my goal of 45 minutes.
            In the end the audience filled up the time with a lot of good questions.
        </p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-6 visible-sm visible-xs margin-bottom-10">
        <img class="img-bordered img-responsive"
             src="{{ site.url }}/assets/img/php-uk-conference/food.jpg"
             title="Copyright is with Vitis Events Ltd."
        />
    </div>

    <div class="col-md-6">
        <p>
            <span class="dropcap">L</span>
            ater that day I talked to some people which have been sitting in my session and they all gave good feedback and some really constructive ideas how to improve on my SmokeTesting library.
            Within 1 hour after I finished my talk I already got 6 Pull Requests to my lib. Greatest feedback to get.
        </p>
        <p>
            The second day of PHP UK CONFERENCE I used again to listen to awesome talks like Jennifer Wong’s Keynote “I Think I Know What You’re Talking About, But I'm Not Sure” or Mark Jelen talking about “Docker, Kubernetes, and OpenShift for PHP Developers“.
            In between the sessions I had more interesting conversations about “how to send text messages with PHP” and “How a perfect code review in developers daily life looks like”.

        </p>
        <p>
            For me the PHP UK CONFERENCE was another success.
            I learned a lot not just about new technologies in PHP ecosystem but how I can even more improve as a speaker as well. Most important learning of all. Do not try to use half working laptop for presenting. This messes with concentration. As well I learned a lot poise of body and that I still look to often at my screen.
        </p>
        <p>
            Thanks to Jo for inviting me and supporting me on getting to London and safely back home.
            <br />
            Looking forward to 2018’s PHP UK CONFERENCE. I’d love to participate again.
        </p>
    </div>

    <div class="col-md-6 hidden-sm hidden-xs">
        <img class="img-bordered img-responsive"
             src="{{ site.url }}/assets/img/php-uk-conference/food.jpg"
             title="Copyright is with Vitis Events Ltd."
        />
    </div>
</div>
