---
layout: en_tech-blog
active_nav: tech-blog
title: SmokeTest in development
categories:
  - en
  - tech-blog
locations:
  - Hamburg
  - Germany
overview:
  intro: "Today I want to tell you about what SmokeTests in software development are, and how they help us at kartenmacherei to identify problems early."
  image:
    url: /assets/img/blog/kartenmacherei-smoke-testing.jpg
    alt: Showing a pipe filled with smoke which exits through small cracks in the pipe
  external_link: https://tech.kartenmacherei.de/smoketest-in-development-ff23159dfe25
---
<p>
    I wrote this post for die kartenmacherei GmbH. So please follow
    <a href="https://tech.kartenmacherei.de/smoketest-in-development-ff23159dfe25" target="_blank">this link</a>
    in order to read it in full.
</p>