---
layout: en_tech-blog
active_nav: tech-blog
title: Smest.it - Finalist Tech Startup 2018

meta:
description: "Smest.it got announced to be in the finals for Top Tech Startup 2018"
keywords:
- blog
- Smest.it
- Tech
- Startup
- Award

categories:
- en
- tech-blog

locations:
- Cologne
- Germany

headline:
    image:
        url: /assets/img/blog/startup-con-2018/top-tech-startup-banner.png
        alt: "Banner of Top Tech Startup 2018 Finalist"

overview:
    intro: "Great news. Smest.it got announced among the 20 best Tech Startups 2018. It is important to know that this is not a local"
    image:
        url: /assets/img/blog/startup-con-2018/logo-tech-startup-2018-finalist.png
        alt: "The Logo of Tech Startup 2018 finalist"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-6">
        <p>
            Great news. <a href="https://www.smest.it" target="_blank">Smest.it</a> got announced among the 20 best Tech Startups 2018. It is important to know that this is not a local or regional competition but part of the <a href="http://www.innovationworldcup.com/top-20-tech-start-ups-of-2018/" target="_blank">INNOVATION WORLD CUP® SERIES</a>. This in essence implies that <a href="https://www.smest.it" target="_blank">Smest.it</a> has become one of the 20 best Tech Startups 2018 globally. This is an exceptional accomplishment.
        </p>
        <p>
            Being on that list bestows on us now the opportunity to present our Smoke testing service at 2018th StartupCon in Cologne in front of investors, participants as well as possible business partners and without a doubt in front of potential customers/clients. I’ll be on grand stage on Tuesday 18th September 2018, at around 3pm. In addition to that, i have the opportunity to present the whole day at an own stall in the finalists section of the Startup City where <a href="https://www.smest.it" target="_blank">Smest.it</a> is going to be available for virtually any sort of questions, demonstrations as well as discussions.
        </p>
        <h4>
            <strong>This is the part where I need your help</strong>
        </h4>
        <p>
            To emerge as No.1 Tech Startup 2018, I need the utmost support of the community. Yes, You! The 20 finalists are announced and at this point it really is up to the community to cast their vote for us thereby making us No. 1 Tech Startup 2018 worldwide. Therefore, I indulge you to <a href="http://www.startupcon.de/tech-startup-2018/" target="_blank">open this page</a> and vote for “Smest.it UG”.
        </p>
        <p>
            <a href="http://www.startupcon.de/tech-startup-2018/" target="_blank">http://www.startupcon.de/tech-startup-2018/</a>
        </p>
        <p>
            Thank you for your support.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">

    </div>

</div>
<!--=== End Post ===-->
