---
layout: english
title: Talks Overview
meta:
  description: "Here my friends can see a list of all the talks I currently can give and prepare"
  keywords:
    - overview
    - list
    - architecture
    - testing
    - development

active_nav: talks-index

hreflang:
  en:
    href: /en/talks/
  de:
    href: /de/vortraege/

add_css:
  - /assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css
  - /assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css

js:
  scripts:
  - /assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js
  - /assets/js/cube-portfolio-overlay-bottom.js
---
<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v3">
    <div class="container text-center">
        <h1>Talks Overview</h1>
        <p>All sessions can be given in english or german</p>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Cube-Portfolio ===-->
<div class="cube-portfolio container margin-bottom-60">
    <div class="content-xs">
        <div id="filters-container" class="cbp-l-filters-text content-xs">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
            <div data-filter=".architecture" class="cbp-filter-item"> Architecture </div> |
            <div data-filter=".testing" class="cbp-filter-item"> Testing </div> |
            <div data-filter=".git" class="cbp-filter-item"> Git </div> |
        </div>
        <!--/end Filters Container-->
    </div>

    {% include 'talks.html.twig' with {'talks': site.talks.en, 'cols': '3'} %}

</div>
<!--=== End Cube-Portfolio ===-->
