---
layout: german
title: Reiseblog
meta:
  description: "Hier findet unsere Familie und Freunde eine &Uuml;bersicht aller Blogeintr&auml;ge meiner Reise nach Istanbul und Dubai in 2024"
  keywords:
    - Türkei
    - Istanbul
    - Vereinigte Arabische Emirate
    - Dubai

active_nav: blog-2024-ist-dxb

add_css:
  - /assets/css/pages/blog_masonry_3col.css
js:
  scripts:
    - /assets/plugins/masonry/jquery.masonry.min.js
    - /assets/js/pages/blog-masonry.js

generator: pagination
pagination:
  max_per_page: 9
  provider: filtered.reiseblog.categories.2024-ist-dxb
  reverse: true
---

<div class="heading margin-bottom-20 margin-top-20">
  <h1>Istanbul und Dubai zum Entspannen 2024</h1>
  <p>Hier findet Ihr alle Blogartikel und <a href="{{ site.url }}/de/reiseblog/2024-ist-dxb/fotos/">Bilder</a> meiner Reise nach Istanbul und den Dubai.</p>
</div>

<!--=== Content Part ===-->
{% include 'blog/overview/masonry_3col.html.twig' with {'posts': page.pagination.items, 'readMore': 'Weiterlesen'} %}
<!--=== End Content Part ===-->

<!--Pagination-->
{% include 'pagination.html.twig' with {'pagination': page.pagination} %}
<!--End Pagination-->
