<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/node-image-converter-example.jpg" alt="Example image used for image converter written in Node.js"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Sunrise for Node.js</h2>
            <p class="text-justify">
                Over last months I tried several times to get me head around Node.js.
                Last weekend I spend another couple of hours to get used to it and tried to find some use cases for me.
            </p>
            <p class="text-justify">
                Today it happened! Finally I found a use case for Node.js.
                I created a script which is resizing images for my website.
                I put it on GitHub for you to use it too and to get feedback on how to improve.
            </p>
            <a target="_blank" href="https://github.com/DjThossi/image-converter" class="btn-u btn-u-sm">Image Converter<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 26 November 2016
        </div>
    </div>
</li>