<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/git-basics/bs-14-slides-001.jpg" alt="Sebastian Thoss first slide of git basics talk"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Git - basics @<br/>Berufliche Schule ITECH Elbinsel Wilhelmsburg</h2>
            <p class="text-justify">
                This is a complete new talk I gave for teachers of Hamburg’s IT school. Not many IT
                teachers have side projects or other possibilities to do internships. So they don’t have many practical
                skills with version control systems. I want to get them a better insight of how git works.
                I'm glad to help.
            </p>
            <a href="{{ site.github.url }}/en/talks/git-basics.html" class="btn-u btn-u-sm">Git - basics talk<i class="fa fa-angle-double-right margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 23 January 2017
        </div>
    </div>
</li>