<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/code.talks/logo.png" alt="Logo of the code.talks 2017 in Hamburg"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">SmokeTests<br/>@ code.talks Hamburg 2017</h2>
            <p class="text-justify">
                I'm very happy that I got invited to speak at the code.talks in Hamburg.
                My session is about one of my favorite topics. Automated testing with SmokeTests.
                In more detail I will show why developers should do SmokeTests, how a good server setup could look
                like and how often SmokeTests should run. The session will be recorded and later available on youtube.
            </p>
            <a target="_blank" href="https://www.codetalks.com/de/2017/speaker/sebastian-thoss-4323" class="btn-u btn-u-sm">code.talks Website<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 29 September 2017
        </div>
    </div>
</li>