<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/sebastian-thoss-talking-about-3-plus-2-regelung-fuer-fluechtlinge.jpg" alt="Sebastian Thoss talking about new german law regarding refugees in apprenticeship"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Fun around recruiting<br/>@ True Tech Talks</h2>
            <p class="text-justify">
                I'm very happy that I got the opportunity to give talk together with my colleague Misha Skyda regarding
                recruiting and apprenticeship.
                We had over 30 minutes of Questions and Answers session involving even our HR and CEO.
            </p>
            <a target="_blank" href="https://pt.slideshare.net/MihailSkida1/fun-around-recruiting" class="btn-u btn-u-sm">Slides<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 28 August 2017
        </div>
    </div>
</li>