<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="/assets/img/php-uk-conference-logo.png" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">SmokeTests<br/>@ PHP UK Conference 2017</h2>
            <p class="text-justify">
                I'm very proud to announce that I got invited to speak at the PHP conference in London.
                My session will be about one of my favorite topics. Automated testing.
                In more detail I want to show why developers should do SmokeTests, how a good server setup could look
                like and how often SmokeTests should run.
            </p>
            <p class="text-justify">
                Just for this presentation I created a library which should make developer's live much easier when
                creating SmokeTests.
            </p>
            <a target="_blank" href="http://phpconference.co.uk/" class="btn-u btn-u-sm">PHP UK website<i class="fa fa-external-link margin-left-5"></i></a>
            <a target="_blank" href="https://github.com/DjThossi/Smoke-Testing-PHP" class="btn-u btn-u-sm">SmokeTestingPhp<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 16 and 17 February 2017
        </div>
    </div>
</li>