<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/blog/startup-con-2018/logo-tech-startup-2018-finalist.png" alt="The Logo of Tech Startup 2018 finalist"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Smest.it is Tech Startup 2018 Finalist</h2>
            <p class="text-justify">
                Today I learned in that my company <a href="https://www.smest.it" target="_blank">Smest.it</a> made it into the finals of the Top Tech Startup 2018 Awards.
                Before I got notified by the organizer I saw already traffic from their announcement page comming in.
                What a big surprise.
                I haven't expected it.
                Now <strong>you</strong> need to vote for "Smest.it UG" on their website.
                Thanks in advance for your support.
            </p>
            <a href="{{ site.url }}/en/tech-blog/2018/08/23/smest-it-one-of-the-best-tech-startups-2018.html" target="_blank" class="btn-u btn-u-sm">More Details<i class="fa fa-angle-double-right margin-left-5"></i></a>
            <a href="https://www.startupcon.de/tech-startup-2018/" target="_blank" class="btn-u btn-u-sm">Vote for Smest.it<i class="fa fa-external-link margin-left-5"></i></a>

        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 14 August 2018
        </div>
    </div>
</li>