<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/smest.it.png" alt="Logo of Smest.it UG (haftungsbeschr&auml;nkt)"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Closing Smest.it</h2>
            <p class="text-justify">
                I'm closing Smest.it after 2 years of trying to get the marketing for Smest.it right and still not seeing any opportunity to make this company profitable in the future.
                I was not an easy decision but even being a Top 20 Tech Startup is not helping today if the marketing is not converting.
                In the next days I'll regain some energy I put the last years into this project.
                Next year new topics will get my attention.
                It won't get boring with me. Promise.
                Ich wish you all a merry Christmas.
            </p>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 23 December 2019
        </div>
    </div>
</li>