<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/confoo.jpg" alt="The Logo of ConFoo developers conference"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">I'll speak @ ConFoo Montreal</h2>
            <p class="text-justify">
                I'm happy to announce that I got invited to speak twice at this years developers conference ConFoo in Montreal, Canada.
                The topic of both talks is testing of software and websites.
                Well, that's the topic I spend most of my time with.
                The fist one is called "PHPUnit in 4 parts" and the second is called "SmokeTests - The what, why and how".
                What makes me even more happy is that my brother is joining me on this journey.
                We'll take a few days ahead of the conference to visit Toronto and maybe the Niagara Falls.
            </p>
            <a href="{{ site.url }}/en/talks/phpunit-in-four-parts.html" class="btn-u btn-u-sm">PHPUnit Talk<i class="fa fa-angle-double-right margin-left-5"></i></a>
            <a href="{{ site.url }}/en/talks/smoke-tests-the-what-why-and-how.html" class="btn-u btn-u-sm">SmokeTests Talk<i class="fa fa-angle-double-right margin-left-5"></i></a>
            <a href="https://confoo.ca/en/speaker/sebastian-thoss" target="_blank" class="btn-u btn-u-sm">ConFoo Website<i class="fa fa-external-link margin-left-5"></i></a>

        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 27 January 2019
        </div>
    </div>
</li>