<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/php-srbija.png" alt="The Logo of PHP Srbjia conference"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">PHP Srbjia in Belgrad</h2>
            <p class="text-justify">
                I'm happy that I got this weekend the opportunity to speak at PHP Srbjia in Belgrad.
                I talked again about SmokeTests - The what, why and how.
                This time I had 15 minutes more for going into more details about testing of websites.
                Again I was not alone in Belgrad.
                This time Steffi joined me on my journey to Serbia and we enjoyed her birthday before we had to go back home.
            </p>
            <a href="{{ site.url }}/en/talks/smoke-tests-the-what-why-and-how.html" class="btn-u btn-u-sm">SmokeTests Talk<i class="fa fa-angle-double-right margin-left-5"></i></a>
            <a href="https://2019.phpsrbija.rs/speakers/7" target="_blank" class="btn-u btn-u-sm">PHP Srbjia Website<i class="fa fa-external-link margin-left-5"></i></a>

        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 26 May 2019
        </div>
    </div>
</li>