<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="/assets/img/don-t-fear-the-walking-dead/phpughh-99.jpg" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Don't fear the walking dead<br/>@ PHP-Usergroup Hamburg<br/>and @ Symfony User Group Hamburg</h2>
            <p class="text-justify">
                Das erste mal seit langem, wieder vor einer gr&ouml;ßeren Gruppe stehen und &uuml;ber ein Projekt sprechen, dass mir auch pers&ouml;nlich sehr am Herzen liegt. Die Architektur ist so super schlank und mega schnell geworden. Ich bin heute noch begeistert davon.
            </p>
            <p class="text-justify">
                Auch der spontane Vortrag bei der Symfony User Group Hamburg hat mir sehr viel Spaß bereitet. Es war ein kurzer Vortrag. Daf&uuml;r aber eine um so l&auml;ngere Diskussionsrunde. War sehr Kreativ und Konstruktiv. Nochmals Danke daf&uuml;r.
            </p>
            <a target="_blank" href="http://www.slideshare.net/kartenmacherei/dont-fear-the-walking-dead-how-we-get-rid-of-our-monolith" class="btn-u btn-u-sm">Die Slides<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 10. Mai 2016 & 04. Oktober 2016
        </div>
    </div>
</li>