<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="/assets/img/99-percent-is-not-enough/phpughh-1.jpg" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">99% is not enough<br/>@ PHP-Usergroup Hamburg</h2>
            <p class="text-justify">
                Heute haben sich Sebastian Heuer, Kruno Knego und ich an einem neuen Thema versucht.
                Dieses mal ging es um das Thema testen von Sourcecode, wie man 100% Code Coverage schafft und warum es Sinn macht dar&uuml;ber hinaus noch viel mehr zu machen.
                Dieses Thema liegt uns als Team sehr am Herzen aber glaubt uns, es war nicht einfach einen Vortrag vorzubereiten der so extrem technisch ist.
                Vor allem wollten wir die Pr&auml;sentation nicht mit zu viel Sourcecode &uuml;berladen.
            </p>
            <p class="text-justify">
                Ich finde wir haben es wirklich gut hinbekommen, den Vortrag spannend zu gestallten und die Zuh&ouml;rer bei der Stange zu halten.
                Nach dem 48 min&uuml;tigen Vortrag gab es noch viele Fragen zum Thema Unit testing und wie man was auf welchen Ebenen Mocken sollte. Zus&auml;tzlich ging es noch darum wie man Datenbanken testen sollte.
            </p>
            <a target="_blank" href="http://de.slideshare.net/kartenmacherei/99-is-not-enough" class="btn-u btn-u-sm">Die Slides<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 11. Oktober 2016
        </div>
    </div>
</li>