<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/node-image-converter-example.jpg" alt="Besipielbild welches ich nutze f&uuml;r Image Converter geschrieben in Node.js"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Sonnenaufgang f&uuml;r Node.js</h2>
            <p class="text-justify">
                W&auml;hrend der letzten Monate, habe ich mir mehrfach Node.js angeschaut.
                Erst letztes Wochenende hab ich wieder an einem Workshop teilgenommen und immer wieder versucht
                Verwendungsm&ouml;glichkeiten f&uuml;r Node.js zu finden.
            </p>
            <p class="text-justify">
                Heute ist es dann endlich passiert! Ich hab eine Verwendung f&uuml;r Node.js gefunden.
                Hab mir ein kleines Programm geschrieben, welches Bilder f&uuml;r meine Webseite runter rechnet.
                Ich stelle es euch auf GitHub zur Verf&uuml;gung. Bitte gebt mir Feedback, was ich noch verbessern kann.
            </p>
            <a target="_blank" href="https://github.com/DjThossi/image-converter" class="btn-u btn-u-sm">Image Converter<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 26. November 2016
        </div>
    </div>
</li>