<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/code.talks-1.jpg" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Don't fear the walking dead<br/>@ code.talks 2016 Hamburg</h2>
            <p class="text-justify">
                Die diesj&auml;hrigen code.talks in Hamburg waren wieder einmal der absolute Hammer.
                F&uuml;r mich war es dieses Jahr das erste mal, dass ich als Speaker an einer so gro&szlig;en Konferenz teilgenommen habe.
                <!-- Raus start -->
                Mal abgesehen von regelm&auml;&szlig;igen WLAN aussetzern, waren die zwei Tage sehr gut organisiert und die Liste der Talks war echt nett.
                Auch das Rahmenprogramm und das Essen ist eine Erw&auml;hnung wert.
                <!-- Raus ende -->
            </p>
            <p class="text-justify">
                Der Vortrag verlief reibungslos. Niemand hat den Saal w&auml;hrend des Vortrags verlassen.
                Da wir den Vortrag bereits einmal bei einer kleineren Veranstaltung gehalten hatten, sind wir auch hier wieder von einer interessanten Diskussions- und Fragerunde ausgegangen.
                Dies war leider nicht der Fall. Nur einer hat sich getraut ins Mikro zu sprechen.
                Nachdem der Vortrag beendet war, kamen dann aber doch noch einige Zuh&ouml;rer mit Fragen auf uns zu.
                Alles in allem ein guter Vortrag.
            </p>
            <a target="_blank" href="https://www.codetalks.de/2016/programm/don-t-fear-the-walking-dead-how-to-get-rid-of-a-zombie" class="btn-u btn-u-sm">code.talks Website<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 30. September 2016
        </div>
    </div>
</li>