<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/don-t-fear-the-walking-dead/ipc-1.png" alt=""/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Don't fear the walking dead<br/>@ International PHP Conference 2016</h2>
            <p class="text-justify">
                Auf der 2016er IPC in M&uuml;nchen durften wir zwei Sebastians den Vortrag &uuml;ber Fury ein weitere
                mal halten. Dieses mal hatten wir sogar eine ganze Stunde Zeit. Somit hatten wir die chance einiege
                Teile unserer Applikation etwas genauer zu beleuchten.
            </p>
            <p class="text-justify">
                F&uuml;r alle die leider keine Zeit hatten zu unserem Talk zu kommen, gibt es gute Nachrichten.
                Ich habe einen Blog post draus gemacht. Schaut gerne mal rein.
            </p>
            <a href="{{ site.url }}/en/tech-blog/" class="btn-u btn-u-sm">Zum Blog<i class="fa fa-angle-double-right margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 23. bis 27. Oktober 2016
        </div>
    </div>
</li>