<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.github.url }}/assets/img/git-basics/bs-14-slides-001.jpg" alt="Sebastian Thoss erste Folie seines git basic Vortrags"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Git - basics @<br/>Berufliche Schule ITECH Elbinsel Wilhelmsburg</h2>
            <p class="text-justify">
                Als Ausbilder f&uuml;r IT Berufe, liegt mir am Herzen, dass unsere Auszubildenden die best m&ouml;glich
                Unterst&uuml;tzung beim lernen erhalten.
                Deswegen ist es f&uuml;r mich ganz normal, auch mal den Lehrern und Lehrerinnen der Berufsschule beim
                weiterbilden zu helfen.
            </p>
            <p class="text-justify">
                Es war ein interessanter Abend und ich freu mich bereits auf eine Vortsetzung.
            </p>
            <a href="{{ site.github.url }}/de/vortraege/git-basics.html" class="btn-u btn-u-sm">Zum Vortrag<i class="fa fa-angle-double-right margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 23. Januar 2017
        </div>
    </div>
</li>