<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/code.talks/logo.png" alt="Logo der code.talks 2017 in Hamburg"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">SmokeTests<br/>@ code.talks Hamburg 2017</h2>
            <p class="text-justify">
                Ich freue mich sehr, dass ich doch noch kurzfristig als Redner auf der code.talks in Hamburg eingeladen wurde.
                Mein Vortrag ist &uuml;ber mein liebstes Thema.
                Automatisiertes testen mit SmokeTests.
                Dabei m&ouml;chte ich Entwicklern zeigen warum sie SmokeTests haben sollten und wie ein passendes Server Setup aussieht.
                Der Vortrag wurde sogar aufgezeichnet und ist auf youtube zu finden.
            </p>
            <a target="_blank" href="https://www.codetalks.com/de/2017/speaker/sebastian-thoss-4323" class="btn-u btn-u-sm">code.talks Webseite<i class="fa fa-external-link margin-left-5"></i></a>
            <a target="_blank" href="https://www.youtube.com/watch?v=fxvWJyE38us" class="btn-u btn-u-sm">My talk on youtube<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 29. September 2017
        </div>
    </div>
</li>