<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/smest.it.png" alt="Logo der Smest.it UG (haftungsbeschränkt)"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Grünung der Smest.it UG<br/>(haftungsbeschränkt)</h2>
            <p class="text-justify">
                Heute war es endlich so weit. Nach über einem Jahr evaluieren, kalkulieren, ausprobieren,
                fragen und abwägen war heute endlich der lang ersehnte Termin beim Notar um die Gründung offiziell zu machen.
                Ab sofort kann jeder Websitebetreiber alle seine Seiten auf Verfügbarkeit und Geschwindigkeit prüfen.
                Ziel ist es mit <a href="https://www.smest.it" target="_blank">Smest.it</a>, Fehlerseiten ein für ale mal aus dem Internet zu verbannen.
            </p>
            <a href="https://www.smest.it" target="_blank" class="btn-u btn-u-sm">Zu Smest.it<i class="fa fa-external-link margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 05. Januar 2018
        </div>
    </div>
</li>