<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/gruender-hands-on/teamwork.jpg" alt="Zusammenarbeit der Teilnehmer der Gründerakademie 2017"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Gründer Hands On<br/>@ kartenmacherei</h2>
            <p class="text-justify">
                Der erste Gründer Hands On Workshop war ein ziemlicher Erfolg.
                Wir haben einiges über Markenrecht, Markenschutz gelernt und gemeinsam an unseren Geschäftsmodellen gearbeitet.
                Nun haben wir beschlossen einen weiteren Hands On Workshop zu machen.
                Dieses mal soll es um Motivation, Marketing und die Strategie gehen.
            </p>
            <a href="{{ site.url }}/de/gruender-hands-on/" class="btn-u btn-u-sm">Mehr Details<i class="fa fa-angle-double-right margin-left-5"></i></a>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 27. Januar 2018
        </div>
    </div>
</li>