<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/confoo.jpg" alt="Das Logo der Konferenz ConFoo in Kanada"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Ich darf zur ConFoo nach Montreal</h2>
            <p class="text-justify">
                Ich freue mich sehr euch mitteilen zu können, dass ich das große Glück habe im März nach Montreal fliegen zu dürfen um dort auf der Entwicklerkonferenz ConFoo gleich zwei Fachvorträge zu halten.
                In den beiden Vorträgen wird es um das testen von Software und Webseiten gehen.
                Also genau um die Themen womit ich mich einen großem Teil meiner Zeit beschäftige.
                Der erst Vortrag nennt sich "PHPUnit in 4 parts" und der zweite lautet "SmokeTests - The what, why and how".
                Was mich aber noch mehr freut ist, dass ich nicht alleine dort hin fliege.
                Mein Bruder begleitet mich auf die Reise bei der wir uns noch ein paar Tage vorne weg in Toronto gönnen werden.
            </p>
            <a href="{{ site.url }}/de/vortraege/phpunit-in-four-parts.html" class="btn-u btn-u-sm">PHPUnit Vortrag<i class="fa fa-angle-double-right margin-left-5"></i></a>
            <a href="{{ site.url }}/de/vortraege/smoke-tests-the-what-why-and-how.html" class="btn-u btn-u-sm">SmokeTests Vortrag<i class="fa fa-angle-double-right margin-left-5"></i></a>
            <a href="https://confoo.ca/en/speaker/sebastian-thoss" target="_blank" class="btn-u btn-u-sm">ConFoo Webseite<i class="fa fa-external-link margin-left-5"></i></a>

        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 27. Januar 2019
        </div>
    </div>
</li>