<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/smest.it.png" alt="Das Logo der Smest.it UG"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Smest.it schließt</h2>
            <p class="text-justify">
                Auch 2 Jahre nach dem Start, habe ich es nicht hinbekommen mein Marketing so auf die Reihe zu bekommen,
                dass sich Smest.it anfängt zu rentieren.
                Da half leider auch nicht das ich es letztes Jahr unter die Top 20 Tech Startups gekommen bin.
                Mir fiel die Entscheidung zwar nicht leicht aber ich sehe keine Zukunft für dieses Modell mehr.
                Daher mache ich das Unternehmen zum heutigen Tag zu.
                In den nächsten Tagen wird erst einmal Energie gesammelt und im neuen Jahr mache ich mich dann an neue Ideen.
                Langweilig wird mir nicht so schnell. Versprochen. Ich wünsche euch allen Frohe Weihnachten.
            </p>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 23. Dezember 2019
        </div>
    </div>
</li>