<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/business-4838852_640.jpg" alt="Schreibtisch mit Laptop auf dem 2 Hände ein Puzzel zusammensetzen"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Minijob als IT-Berater</h2>
            <p class="text-justify">
                Corona Lockdown und ältere Strukturen führten bei Steffi auf der Arbeit zu Problemen.
                Irgendwann vor ein paar Wochen kam Ihr Chef dann auf mich zu und fragte, ob ich nicht als IT-Berater einsteigen möchte.
                Er und das Unternehmen benötigen dringend Hilfe um endlich den Schritt ins 21. Jahrhundert zu schaffen.
                Da sage ich doch natürlich nicht nein und helfe gerne, Themen wie Remote Work, modernere Software und Cloud Telefonie einzurichten.
                Ich freue mich darauf.
            </p>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 01. Juni 2020
        </div>
    </div>
</li>