<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/magnifying-glass-541626.jpg" alt="Ein Bild mit Farbmustern"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Neue Aufgabe, Neues Team</h2>
            <p class="text-justify">
                Nachdem ich in den letzen Wochen meine Akkus wieder aufgeladen habe, gibt es heute eine kleine berufliche Veränderung mitzuteilen.
                Ich werde in den nächsten Tagen die Verantwortung für die Backendentwickler und die Backendentwicklerin abgeben und meinen Fokus auf das IT Team in der Produktion legen.
                Die Produktion unserer Karten und Kalender findet im Schwarzwald statt. Somit werde ich in nächster Zeit regelmäßig dorhin reisen und vor Ort lernen wie alles aus IT sicht zusammenhängt und wie das Team heute aufgestellt ist.
                Ich weiß bereits dass es sich beim Team Vor Ort um 2 Personen handelt.
                Mit einer Kollegin arbeite ich bereits länger, sehr gut auf Augenhöhe zusammen.
                Ich freue mich auf die neuen Aufgaben und vor allem aus das viele Wissen, was ich mir da noch aneignen kann.
            </p>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 01. Februar 2020
        </div>
    </div>
</li>