<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/rugs-5453374_640.jpg" alt="Mehrere Teppiche zum Verkauf aufgehängt."/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Nebenjob als Head of Tech</h2>
            <p class="text-justify">
                Vor einigen Wochen rief mich mein ehemaliger Kollege Ramin an und bat mich um Rat für sein junges Startup.
                Nach einigen Gesprächen und Brainstormings frage er, ob ich Lust hätte, bei ihm als Head of Tech einzusteigen.
                Ihr fragt euch jetzt bestimmt, was die Teppiche auf dem Foto mit einem Job als Head of Tech zu tun haben?
                Es geht um einen Nebenjob in einer Produktion für waschbare Teppiche bei der Teppana Produktion.
                Da der Mini bei Steffi's arbeit bald erledigt ist, habe ich mich entschlossen die Challenge anzunehmen und bei Teppana zu helfen.
                <br />
                Kleiner Spaß am Rande: Als ich Matze davon erzählte, sagte er, dass er bereits einen Teppana Teppich in der Küche liegen hat. Das muss ein Zeichen sein.
            </p>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 01. Januar 2022
        </div>
    </div>
</li>