<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/aws-certified-cloud-practitioner.png" alt="Das Zertifikatslogo des AWS Cloud Practitioner"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">AWS Zertifiziert</h2>
            <p class="text-justify">
                Heute habe ich nach langem, mal wieder eine Zertifizierung abgeschlossen.
                In den letzten Jahren habe ich immer häufiger Server und Technolgien bei Amazon Web Service (AWS) genutzt.
                Nun habe ich mich die letzten 3 Wochen hingesetzt und mir die erste Zertifizierung genauer angschaut und fleißig gelernt.
                Heute Vormittag habe ich mich hingesetzt und die Prüfung abgelegt.
                Ich habe mit 883 von 1000 möglichen bestanden.
            </p>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 21. Oktober 2023
        </div>
    </div>
</li>