<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/farewell-3258939_640.jpg" alt="Ein Stempel aus Holz mit den Wort erledigt"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Über 9,5 Jahre</h2>
            <p class="text-justify">
                Ich war lange bei KAMTUM, die kartenmacherei, better group, celebrate company und celebrate digital printing.
                Es mag nach vielen Firmen klingen, aber es war immer nur eines: eine wunderbare Zeit.
                Oft anstrengend und manchmal weit über meine Grenzen hinausgegangen, um das Team und die Firma zu unterstützen.
                Nach 9,5 Jahren heißt es nun, loszulassen und mich auf die Produktion von waschbaren Teppichen bei Teppana zu konzentrieren.
                Ich werde mein Team und die vielen freundlichen Gesichter vermissen.
            </p>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 01. Oktober 2024
        </div>
    </div>
</li>