<li class="{{ css_class }}">
    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <img class="img-responsive" src="{{ site.url }}/assets/img/frog-1339892_640.jpg" alt="Ein Plastikfrosch mit zu vielen Akten auf dem Arm"/>
        </div>
        <div class="timeline-body">
            <h2 class="font-light">Das Leben genießen</h2>
            <p class="text-justify">
                In den letzten Jahren hab ich mehr und mehr gearbeitet und viel auf mich genommen, um alle meine Arbeitgeber glücklich zu machen.
                In einem weiteren sehr stressigen Weihnachtsgeschäft, habe ich beschlossen, den Stress mal wieder zu reduzieren und die Früchte meiner Arbeit zu ernten.
                <br />
                Im Detail bedeutet es, dass ich aus zwei Jobs, einen machen werde.
                Ich werde bei der kartenmacherei (heute celebrate company) noch ein letztes Migrationsprojekt abschließen und mich dann zum Ende September verabschieden.
                Meinen Job bei Teppana werde ich ab Oktober auf 32 Std. pro Woche hochfahren und mich nur noch um die waschbaren Teppiche aus Hamburg kümmern.
                Die freie Zeit werde ich zur Entspannung nutzen und um noch mehr von der Welt zu sehen.
                Wer weiß denn schon wie lange das noch möglich sein wird.
            </p>
        </div>
        <div class="timeline-footer">
            <i class="fa fa-clock-o"></i> 01. März 2024
        </div>
    </div>
</li>