---
layout: english
title: Contact me

meta:
  description: "On this page friends can directly contact me."
  keywords:
    - direct
    - contact
    - form
    - message
    - mail
    - send

hreflang:
  en:
    href: /en/contact/
  de:
    href: /de/kontakt/

active_nav: contact

add_css:
  - /assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css
  - /assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css

add_css_lt_ie_9:
  - /assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css

js:
  scripts:
    - http://maps.google.com/maps/api/js?key=AIzaSyCynS0zY2Og3GJBw7HlXlGXUacyScSQQ54
    - /assets/plugins/gmap/gmap.js
    - /assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js
    - /assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js
    - /assets/js/forms/en/contact.js
    - /assets/js/pages/page_contacts.js
  scripts_lt_ie_10:
    - /assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js
  scripts_lt_ie_9:
    - /assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js
  run_code:
    - ContactPage.initMap();
    - ContactForm.initContactForm();
---

<!-- Google Map -->
<div id="map" class="map">
</div><!---/map-->
<!-- End Google Map -->

<!--=== Content Part ===-->
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-12 mb-margin-bottom-30">
            <div class="headline">
                <h2>Contact me</h2>
            </div>
            <p>
                In order to reach me in person, directly and fast please fill in contact form or use other contact details below.
            </p>

            <form action="https://formspree.io/thoss_sebastian@web.de" method="post" id="sky-form3" class="sky-form contact-style">
                <fieldset class="no-padding">
                    <label for="name">Name <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                <input type="text" name="name" id="name" class="form-control">
                            </div>
                        </div>
                    </div>

                    <label for="email">E-Mail address <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                        </div>
                    </div>

                    <label for="message">Your message <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-11 col-md-offset-0">
                            <div>
                                <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <p>
                        <input type="hidden" name="_next" value="/en/contact/thank-you.html" />
                        <input type="hidden" name="_subject" value="New contact request" />
                        <button type="submit" onclick="return confirm('I give my consent to data being processed by service provider formspree.io located in the United States.');" class="btn-u">Send message</button>
                    </p>
                </fieldset>
            </form>
        </div><!--/col-md-12-->
    </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part ===-->