/* Add here all your css styles (customizations) */
@media (min-width: 992px) {
    .header-v6 .navbar-nav {
        float: none;
    }

    .header-fixed .header-v6.header-sticky {
        box-shadow: 0 0 3px #bbb;
    }
}

/*Interactive Slider v2
------------------------------------*/
.interactive-slider-v2.home-image {
    background: url("../img/bg/home.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.breadcrumbs-v3.news-image {
    background: url("../img/bg/news.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 450px) {
    .interactive-slider-v2 {
        padding: 100px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    img#logo-footer {
        margin: 0;
    }
}

img#smestItLogo {
    padding-right: 25px;
}

@media (max-width: 768px) {
    img#smestItLogo {
        padding-right: 0;
    }
}

/*Link News*/
.footer-v2 .footer .link-news {
    margin-bottom: 0;
}

.footer-v2 .footer .link-news li {
    padding: 12px 0;
    border-top: solid 1px #555;
}

.footer-v2 .footer .link-news li:first-child {
    padding-top: 0;
    border-top: none;
}

.footer-v2 .footer .link-news li a {
    font-size: 14px;
    margin-bottom: 3px;
    display: inline-block;
}

.footer-v2 .footer .link-news a:hover {
    color: #bbb;
}

.footer-v2 .footer .link-news li small {
    display: block;
}

/* Color of description text over talks overview CTAs */
.cbp-l-caption-desc {
    color: #ffffff;
}

@media (min-width: 991px) {
    #pfe img {
        float: right;
        margin-top: 35px;
        margin-right: 50px;
    }
}

.heading h2:before,
.heading h2:after {
    border-color: #337ab7;
}




@media (max-width: 992px) {
    .text-center-md-max {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .text-center-sm-only {
        text-align: center;
    }
}