---
layout: blog/en/travelblog
title: "2 weeks Ireland"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - Hamburg
  - Ireland
  - New Zealand

overview:
  intro: "Today is Saturday and I\'m sitting in a nice quiet café in the Dublin city center. I realize that I will leave Ireland for an indefinite time in 2 weeks today and go back to Hamburg. I think about what I have experienced here in the past 2 years. Who I knew everything and the fun we all had here. Anyone who has left the country in front of me and who will do it in the next few days."
  image:
    url:
alt: ""
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Today is Saturday and I'm sitting in a nice quiet caf&eacute; in the Dublin city center. I realize that I will leave Ireland for an indefinite time in 2 weeks today and go back to Hamburg. I think about what I have experienced here in the past 2 years. Who I knew everything and the fun we all had here. Anyone who has left the country in front of me and who will do it in the next few days. </p>
    <p> 3.5 weeks until I fly to New Zealand and Australia and will make the region unsafe from there. Nevertheless, the approaching farewell to this wonderful phase of life presses more and more regularly on the mind. I just hope that the next phase of life will be just as wonderful, if not even better. In addition, the sometimes frightening certainty is slowly not to have a permanent job for several months and, if necessary, not to make any money. But that's how it is planned and hopefully prepared well enough. </p>
    <p> So that I don't get depressed here, I am often looking for interesting stories and travel reports on New Zealand and Australia. Yesterday I stumbled through a list of senseless or bizarre Australian laws. </p>
    <p> My personal top 5: </p>
    <ul>
      <li> You must never leave your car keys in an unattended vehicle </li>
      <li> Running on the right side of a footpath is illegal </li>
      <li> An internet modem must not answer immediately when ringing the first thing. Punishment $ 12,000 </li>
      <li> In order to carry a bundle of hay in the trunk, a taxi is required </li>
      <li> Sex with a kangaroo is only allowed if you are drunk </li>
    </ul>
    <p> Such small jokes and the many great travel reports then let my anticipation in Australia rise again. I'm really looking forward to half a year. First it goes to New Zealand with Sam, which I am very looking forward to. Even more I look forward to spending 10 days Germany and 10 days with my family. </p>
    <p> So now I am moving my F ..... butt in the fresh air and enjoying the last few days in this wonderful country. </p>
    <p><small> Source: <a href="https://www.sinnlose-gesetze.de/" target="_blank"> https://www.sinsinless-gesetze.de </a></small></p>

  </div>
</div>
