---
layout: blog/en/travelblog
title: "Knitted Sweaters for Australian Penguins"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Hamburg
  - Melbourne

overview:
  intro: "This afternoon I stumbled across an absolutely incredible article online that I just have to share with you."
  image:
    url: /assets/img/blog/auszeit/small/pinguin_strick_pullover.jpg
    alt: "Penguins wearing knitted sweaters"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/pinguin_strick_pullover.jpg" alt="Penguins wearing knitted sweaters">
  </div>
  <div class="col-md-7">
    <p>This afternoon I stumbled across an absolutely incredible article online that I just have to share with you.</p>
    
    <p>Most people find it surprising that there are penguins in Australia at all. After all, Australia is known for its scorching temperatures. So why on earth would Australian penguins need knitted sweaters?</p>
    
    <p>Well, here's the explanation: There's a large colony of little penguins in Phillip Island National Park, near Melbourne. Because oil tankers occasionally spring leaks in the area, the park managers had to figure out what to do in case of an oil spill. They came up with an ingenious idea: provide the penguins with knitted sweaters.</p>
    
    <p>In the event of an oil spill, these sweaters would serve multiple purposes. First, they would keep the penguins warm while they recover their strength. Second, they would prevent the penguins from trying to clean the toxic oil off themselves.</p>
    
    <p>The next question was: where do you get several thousand sweaters for penguins that are only about 30cm tall? Simple solution: put out a call to Germany's enthusiastic environmentalist knitters. What they didn't expect was just how enthusiastic German knitters would be!</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/pinguin_strick_pullover.jpg" alt="Penguins wearing knitted sweaters">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>The Hamburg office received around 12,000 of these handmade sweaters, either delivered in person or sent by mail. Now Phillip Island National Park faces a new challenge: where to store all 15,000 penguin sweaters that have been collected worldwide, hoping they'll never need to use them.</p>
    
    <p>Maybe they should put out another call - this time asking for a crocheted warehouse to store all these sweaters!</p>
    
    <p>Pretty bizarre, right? What do you think?</p>
    
    <p><small>Source: <a href="https://www.australien-panorama.de/news/archives/2240-15.000-deutsche-Strick-Pullover-fuer-australische-Zwergpinguine.html" target="_blank">https://www.australien-panorama.de</a></small></p>
  </div>
</div>
