---
layout: blog/en/travelblog
title: "Visa? The Most Important Part of My Trip"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "Today I want to tell you about how I got my visa and what I needed to consider and plan for. As I mentioned before, I've decided to do Work and Travel in Australia. For this, I need a Working Holiday Visa instead of a regular tourist visa. What exactly is a Working Holiday Visa and what does it allow me to do? This visa lets you stay in Australia for up to 12 months from your first entry. During this time, you can enter and leave the country as often as you want. You're allowed to work in any profession, though you can't work for the same employer for more than 6 months. You can also study for up to 4 months."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>Today I want to tell you about how I got my visa and what I needed to consider and plan for. As I mentioned before, I've decided to do Work and Travel in Australia. For this, I need a Working Holiday Visa instead of a regular tourist visa.</p>
        
        <p>What exactly is a Working Holiday Visa and what does it allow me to do?</p>
        <ol>
            <li>This visa lets you stay in Australia for up to 12 months from your first entry.</li>
            <li>During this time, you can enter and leave the country as often as you want.</li>
            <li>You're allowed to work in any profession, though you can't work for the same employer for more than 6 months.</li>
            <li>You can study for up to 4 months.</li>
        </ol>
        
        <p>Sounds pretty good, right? But there are some rules you have to follow:</p>
        <ol>
            <li>The application costs AU$280 (approximately €240) and is non-refundable.</li>
            <li>You must be a German citizen and have a German passport. (Though citizens of other countries can also apply for similar visas.)</li>
            <li>You can only apply for a Working Holiday visa (First Year) once in your lifetime.</li>
            <li>You must be at least 18 years old when you apply.</li>
            <li>You must be under 31 years old when you apply.</li>
            <li>You must be outside Australia when you apply.</li>
            <li>Once your visa is approved, you must enter Australia within 12 months to activate it.</li>
            <li>You can't work for the same employer for more than 6 months.</li>
            <li>You can't study for more than 4 months.</li>
            <li>You must show proof of having AU$5,000 when you enter Australia.</li>
        </ol>
        
        <p>These are the basic and most important rules. The authorities might ask for additional documents in some cases. For instance, if you have a criminal record or want to work in education or healthcare, they'll probably ask for things like a police clearance certificate or medical certificate.</p>
        
        <p>Under certain conditions, you can apply for a second Working Holiday visa. The basic rules are the same, but there's one additional requirement: during your first year, you must have worked for at least 3 months in a "qualifying job." This means working on a farm, on a fishing boat, for a mining company, or in construction. If you meet this requirement, you can apply for a second visa and potentially stay in Australia for another year.</p>
        
        <p>Since I don't have a criminal record and don't plan to work in education or healthcare - and I meet and will continue to meet all the other requirements - the Working Holiday visa is perfect for me. The next question was how to apply for it. The immigration authority's website offers two options: by mail or online. I first looked at the mail option and carefully read through the application to figure out what documents I'd need. I found out that for the paper application, you only need your passport and, if you have one, your ID card. Of course, I didn't have my passport with me at the time.</p>
        
        <p>The next day, I brought my passport to work. During my lunch break, I decided to fill out the online application since it's faster and easier. The questions were mostly the same and pretty straightforward. I listed my mother's address as an additional contact, since they might need to communicate with me while I'm in Australia. At the end of the application, I had to save it and then proceed to payment. I paid the AU$280 by credit card - quick and hassle-free.</p>
        
        <p>After I finished the application and saw the confirmation page, I noticed that the online form hadn't asked for my email address or ID card information. However, the confirmation page had a link where you could provide additional information and check your current status. I followed this link. After identifying myself with my personal details and a transaction number, I saw an overview of my application with three entries:</p>
        <ol>
            <li>Application received</li>
            <li>Application fee received</li>
            <li>Application approved</li>
        </ol>
        
        <p>I thought, "WHAT? Application approved? Already? Wow!" That was quick! It only took a few minutes for my application to be approved. I was stunned - I'd expected to wait at least 2 or 3 days to hear back. Instead, it took just minutes.</p>
        
        <p>Now I have until early July 2013 to enter Australia to activate my visa. That should be no problem, especially since I'm planning to leave Germany for the land of kiwis and the red continent in early October.</p>
        
        <p>I still haven't decided whether to fly from Christchurch to Sydney, Perth, or Cairns. And I still don't know if I'll get those 3 months of unpaid leave or if I'll have to quit my job to go to Australia. Hopefully, I'll find out today, or at least get some indication. I need to book the flights soon - they're getting more expensive.</p>
        
        <p>So now you're up to date on the visa situation. Have a great weekend, and I'll be back soon with more information about my trip preparations.</p>
        
        <p>Until next time,<br>Your Basti</p>
        
        <p>All information about the visa has been researched to the best of my knowledge. While I've tried to be accurate, I can't guarantee that everything is complete and correct. You can find all the official information and rules about the visa on the <a href="https://www.immi.gov.au/visitors/working-holiday/417/">Australian Immigration Authority's website</a>.<br>
            <a title="https://www.immi.gov.au/visitors/working-holiday/417/" href="https://www.immi.gov.au/visitors/working-holiday/417/" target="_blank">https://www.immi.gov.au/visitors/working-holiday/417/</a>
        </p>
    </div>
</div>
