---
layout: blog/en/travelblog
title: "First job search on Australian"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Newcastle
  - Sydney

overview:
  intro: "Finally, as has been promised for a long time, a short post about my job search here in Sydney. Well what should I say. I was very lucky in my life so far. How would my brother say: I was often even more luck than mind. For this I would like to thank everyone at this point who helped me on my way so far."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Finally, as has been promised for a long time, a short post about my job search here in Sydney. </p>
    <p> Well what should I say. I was very lucky in my life so far. How would my brother say: I was often even more luck than mind. For this I would like to thank everyone at this point who helped me on my way so far. </p>
    <p> In any case, many years ago I was lucky that I became software developer. In addition, I had prepared myself for my first job search here in Australia and contacted some personnel consultants and companies in advance. When I arrived here I had already identified a few appointments and agreed on the phone. </p>
    <p> In my last post I had already reported on my interview in Newcastle and that it went very well. On Monday after that I am still at <a href="https://www.ProductReview.com.au" target="_blank"> Productreview.com.au </a> near Sydney Central Station. There I had a pretty nice conversation, this time without a technical test. But they only wanted to let me know at the end of the week whether I would get the job or not. </p>
    <p> On the same evening I applied to one or the other job on the website <a href="https://www.seek.com.au" target="_blank"> Seek.com.au </a> had found. It didn't take long for me to get an invitation to an interview the next morning. Of course I agreed and went there the next morning. This conversation was also pleasant and relaxed. I even got a prompt promise. </p>
    <p> It would also have been a flexible contract, which means I work until the beginning of February and, if I do well instead, can work again later. Unfortunately, the salary was only 75% of that in Newcastle. On the way back to the hostel I got an email that I could take another job interview with another company. </p>
    <p> I didn't really feel like talking about this company because I had been excited about this company several times in the curtain. Since the 3-month contract for a junior to mid-level software developer presented an application process Senior Software Manager. Furthermore, this person claimed that I had stolen the code of my laboriously developed flickr search and would not have written it himself. What is a smooth lie because I had worked out this specially for him in the presence of the agent. </p>
    <p> Happiness, however, I got the promise in the afternoon that I had the job <a href="https://www.ProductReview.com.au" target="_blank"> Productreview.com.au </a> can get. I promptly agreed. The payment is not quite as good as in Newcastle, but the contract is flexible for that, so that I can travel through the southeast of Australia in February. </p>
    <p> So I had now found work within 6 days. The next problem was now an accommodation for the time. But more about that next time. </p>
  </div>
</div>
