---
layout: blog/en/travelblog
title: "I pack my suitcase and take with me"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "My world currently only consists of lists, lists and even more lists. I have a todo list, a web list, a \"time after\" list and one or the other list more. Today I need help with the packing list. But first of all, the question \"How much can actually be taken to Australia?\"  Qantas is basically adhering to the usual values. A case and a piece of hand luggage is allowed in the Economy Class. The suitcase may be a maximum of 23 kg and does not exceed 158cm."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> My world currently only consists of lists, lists and even more lists. I have a todo list, a web list, a "time after" list and one or the other list more. Today I need help with the packing list. </p>
        <p> But first of all, the question "How much can actually be taken to Australia?" Qantas is basically adhering to the usual values. A case and a piece of hand luggage is allowed in the Economy Class. The suitcase may be a maximum of 23 kg and does not exceed 158cm. The hand luggage, other than with many other airlines, may only be 7kg and do not exceed the measure of 115cm. In addition, the hand luggage must fit into the dimensions of 56cm x 36cm x 23cm so that it fits into the compartments over or under the seats. The dimensions 158cm and 115cm result from the simple formula length + width + height = total size. </p>
        <p> I don't know exactly what I take as a hand luggage and what to give up. I only think that decides when it is clear what should be done. In any case, I have some options for hand luggage to choose from. With the abandoned piece of luggage I still have the bigger worries. My hiking backpack is a little small (50 liter) to give it up and I don't have a large suitcase. I am also not sure whether I want to carry a big suitcase at all. </p>
        <p> I would say I get my packing list now and then see what I can accommodate where. </p>
        <ul>
            <li> Clothes for 3-4 days </li>
            <li> Washing bag </li>
            <li> First aid set </li>
            <li> Hiking shoes </li>
            <li> Razor + charging cable </li>
            <li> Reitzeuge (at least the gaiters) </li>
            <li> Multi knife + pocket knife </li>
            <li> laptop </li>
            <li> Camera + tripod + accessories </li>
            <li> Power distributor (at least the 3 subject distributor) </li>
            <li> Charging cable Nokia </li>
            <li> Charging cable iPhone </li>
            <li> Auto Lade Box + connector </li>
            <li> USB vehicle loader </li>
            <li> iPhone battery </li>
        </ul>
        <p> I have the feeling again I forget something very important on my list. Please write me a comment or a email which I have already forgotten everything again. In addition, I am extremely grateful for ideas for transporting all of these things. What would you take for suitcases/backpacks on such a trip? </p>
        <p> That's it again for today. </p>
        <p> See you soon. <br> Your basti </p>
    </div>
</div>
