---
layout: blog/en/travelblog
title: "Merry Christmas"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Just a short message from me today. I want to briefly tell you about my Christmas Eve here in Sydney."
  image:
    url: /assets/img/blog/auszeit/small/20121224-232512.jpg
    alt: "Almost at my breaking point"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121224-232512.jpg" alt="Me with Christmas roast">
  </div>
  <div class="col-md-7">
    <p>Just a short message from me today. I want to briefly tell you about my Christmas Eve here in Sydney.</p>
    <p>It's pleasantly warm outside today, but unfortunately it keeps raining on and off. Plus, we three German guys stayed up way too late last night, peacefully celebrating the start of the holidays. So today we took things a bit easier. We did some light cooking and baked Christmas cookies.</p>
    <p>Tonight was the highlight of the day. We all decided to go out to eat together. Not just anywhere, but to a German restaurant for a traditional Christmas roast. Unfortunately, like everything else in Australia, it wasn't exactly cheap, but thankfully there are some dear people in my life.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Cookies and stollen" src="{{ site.url }}/assets/img/blog/auszeit/small/20121224-232532.jpg">
  </div>
  <div class="col-md-7">
    <p>I'd like to share a word or two of thanks to my family. First, I want to sincerely apologize to all of you for always coming up with such crazy ideas, like moving to Ireland or my trip to Australia. Second, I want to thank you for supporting me anyway, with all your strength, and for always being there for me. A special thank you today goes to my dear mom and of course to Rolf, who paid for my dinner tonight. Thank you for that. It was really delicious.</p>
    <p>And now I wish all of you, my dear friends and family, a merry and blessed Christmas from warm and wet Sydney.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Cookies and stollen" src="{{ site.url }}/assets/img/blog/auszeit/small/20121224-232532.jpg">
  </div>
</div>
