---
layout: blog/en/travelblog
title: "NZ & AU: The Decision Has Been Made!"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "I've known for many years that I want to spend my 30th birthday alone. I think I decided about 10 years ago that I'd hide somewhere far away on that day, where nobody could find me. I never thought it would be quite this far away though! I really don't fancy having to sweep the town hall steps (a German tradition for unmarried people turning 30). As I mentioned before, in 2009 I got the idea to take a trip to Australia for my 30th. Last year, that evolved into the idea of doing Work & Travel in Australia. And this year, the opportunity came up to tour New Zealand with Sam before even entering Australia."
  image:
    url: 
    alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>I've known for many years that I want to spend my 30th birthday alone. I think I decided about 10 years ago that I'd hide somewhere far away on that day, where nobody could find me. I never thought it would be quite this far away though! I really don't fancy having to sweep the town hall steps (a German tradition for unmarried people turning 30).</p>
        
        <p>As I mentioned before, in 2009 I got the idea to take a trip to Australia for my 30th. Last year, that evolved into the idea of doing Work & Travel in Australia. And this year, the opportunity came up to tour New Zealand with Sam before even entering Australia.</p>
        
        <p>Today, I finally decided where I'll spend my 30th birthday. I'll be about as far away as possible - most likely in or near Christchurch. Though I probably won't be celebrating alone after all, as Sam will be there too. But I'll only tell her my exact location if she promises I won't have to sweep any steps! By the way, Christchurch is located on New Zealand's South Island.</p>
        
        <p>Why there? Well, according to Wikipedia, New Zealand is literally the furthest place I could go. But there's also a practical reason: I'll be flying from Christchurch to Sydney the next afternoon. I've finally booked my flights and am just waiting for Qantas to confirm everything.</p>
        
        <p>Since my company still hasn't been able to decide after 7 months whether unpaid leave would be possible, I've decided to go ahead and book the longer trip. So I'll be flying out of Hamburg on the evening of October 9th, 2012. I've scheduled my return for April 23rd/24th, 2013. I picked this date because my international driver's license expires then, and it also means I'll be back in Germany in time for my brother's 35th birthday.</p>
        
        <h2>Here are my flight details:</h2>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Route</th>
                    <th>Date</th>
                    <th>Departure</th>
                    <th>Airport</th>
                    <th>Arrival</th>
                    <th>Airport</th>
                    <th>Flight time</th>
                </tr>
                <tr>
                    <td rowspan="3">1</td>
                    <td rowspan="2">Oct 9, 2012</td>
                    <td>18:55</td>
                    <td>Hamburg</td>
                    <td>19:35</td>
                    <td>London</td>
                    <td>1h 40m</td>
                </tr>
                <tr>
                    <td>21:30</td>
                    <td>London</td>
                    <td>06:15</td>
                    <td>Sydney</td>
                    <td>22h 45m</td>
                </tr>
                <tr>
                    <td>Oct 10, 2012</td>
                    <td>09:30</td>
                    <td>Sydney</td>
                    <td>14:40</td>
                    <td>Auckland</td>
                    <td>3h 10m</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Oct 31, 2012</td>
                    <td>14:30</td>
                    <td>Christchurch</td>
                    <td>15:55</td>
                    <td>Sydney</td>
                    <td>3h 25m</td>
                </tr>
                <tr>
                    <td rowspan="2">3</td>
                    <td>Apr 23, 2013</td>
                    <td>16:10</td>
                    <td>Sydney</td>
                    <td>06:35</td>
                    <td>London</td>
                    <td>24h 25m</td>
                </tr>
                <tr>
                    <td>Apr 24, 2013</td>
                    <td>10:50</td>
                    <td>London</td>
                    <td>13:25</td>
                    <td>Hamburg</td>
                    <td>1h 40m</td>
                </tr>
            </tbody>
        </table>
        
        <p>These flights are almost exactly what I was hoping for. The only change is that the flight from New Zealand to Australia is a few days later than planned, but that actually made it over €100 cheaper. The two long-haul flights (LHR-SYD & SYD-LHR) are special for two reasons. First, both flights have a stopover in Singapore - I've never had a flight with a stopover before. Second, these flights are on an Airbus A380-800. I've always wanted to fly on one of these planes, even if I could only afford economy class ("wood class" as we say in German). According to various websites, the seats are at least 2cm wider than usual. When you're sitting in the same spot for over 22 hours, those 2cm can make a world of difference!</p>
        
        <p>So now you're up to date on my flight plans. In the next few days, I'll put together a list of tasks that I still need to do for my trip, along with what I've already completed.</p>
        
        <p>Until next time,<br>Your Basti</p>
    </div>
</div>
