---
layout: blog/en/travelblog
title: "Travel Scenarios in Detail"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "As promised, here are the two travel scenarios in detail. Both begin and end in pretty much the same way, so I'll start with what they have in common. The plan starts in early October, around October 8th, flying from Hamburg to Auckland, New Zealand via London and Singapore. The journey will take almost 2 days, plus there's an 11-hour time difference to deal with. Once there, I'll have a rented camper van waiting for me - ideally on the same day, but at the latest the next day. I want to get the van right away so I can head straight to the nearest beach and just relax. I'm guessing I'll be pretty exhausted and cranky after those long flights."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m60!1m8!1m3!1d12320737.826805418!2d165.37966947074187!3d-41.06915366893261!3m2!1i1024!2i768!4f13.1!4m49!3e0!4m5!1s0x6d0d47fb5a9ce6fb%3A0x500ef6143a29917!2sAuckland%2C+New+Zealand!3m2!1d-36.8484597!2d174.7633315!4m5!1s0x6d6ea9067b8616bb%3A0xde3bfe719f4a10cf!2s4188+SH+5%2C+Mihi+3083%2C+New+Zealand!3m2!1d-38.4770627!2d176.3017341!4m5!1s0x6d6b01c0f7329c8d%3A0x2f485442ac782e1d!2sBruce+Rd%2C+Tongariro+National+Park+4691%2C+New+Zealand!3m2!1d-39.2163841!2d175.5440309!4m5!1s0xa9d51df1d7a8de5f%3A0x500ef868479a600!2sQueenstown%2C+New+Zealand!3m2!1d-45.0311622!2d168.6626435!4m5!1s0xa9d3f2390ff0c3cd%3A0xb4ae05168f20bfb!2s2427+Blackmount-Redcliff+Rd%2C+Whare+Creek+9679%2C+New+Zealand!3m2!1d-45.6691043!2d167.67526909999998!4m5!1s0xa9d2c7ac550ffe4f%3A0xd7c9ecb10f95515!2s1300+Bluff+Hwy%2C+Woodend%2C+Awarua+9877%2C+New+Zealand!3m2!1d-46.5036713!2d168.3659571!4m5!1s0xa82be4e00f5f513d%3A0x500ef8684799941!2sDunedin%2C+New+Zealand!3m2!1d-45.8787605!2d170.50279759999998!4m5!1s0x6d322f4863c5ed01%3A0x500ef8684799945!2sChristchurch%2C+New+Zealand!3m2!1d-43.5320544!2d172.6362254!5e0!3m2!1sen!2sus!4v1492954445241" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p>As promised, here are the two travel scenarios in detail. Both begin and end in pretty much the same way, so I'll start with what they have in common.</p>

        <h2>Starting in New Zealand</h2>
        <p>The plan is to fly in early October, around October 8th, from Hamburg to Auckland, New Zealand via London and Singapore. The journey will take almost 2 days, plus there's an 11-hour time difference to deal with. Once there, I'll have a rented camper van waiting for me - ideally on the same day, but at the latest the next day. I want to get the van right away so I can head straight to the nearest beach and just relax. I'm guessing I'll be pretty exhausted and cranky after those long flights.</p>
        <p>The next day, I'll meet up with Sam, who's in charge of getting SIM cards for both of us so we can coordinate when and where to meet. The SIM cards will also let us share GPS data and send Twitter/blog posts via email from time to time.</p>
        <p>For the next 14 days, we'll casually explore both islands in our motorhomes. We'll need to take a ferry to cross from the North to the South Island at some point.</p>
        <p>My 14-day journey will end in Christchurch, one of the largest cities on the South Island. While Sam will continue her camper van adventure for another 26 days, I'll return my van in Christchurch. I might spend an extra day or two exploring Christchurch on foot before heading to Australia.</p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <h2>Scenario 1: I Get 3 Months Leave</h2>
        <p>This scenario is pretty straightforward and brief, mainly because I haven't really been counting on getting the leave approved for months now. If I do get it, I'll either fly to Cairns on the north east coast or to Perth on the west coast. I'll buy or rent a camper van there and drive back to Sydney, stopping whenever I feel like it or when there's something worth seeing. The idea is to just enjoy the beauty of nature and the coastline. As for work? Well, we'll see what opportunities come up for backpackers along the way. I definitely want to spend some time at a training farm, whether or not it leads to a job on a real farm afterward. I plan to celebrate New Year's Eve in Sydney with its famous fireworks display. Then it's back to Ireland via Hamburg, where I can visit my loved ones and hopefully show off my tan and share all my adventures.</p>

        <h2>Scenario 2: I Have to Leave My Job</h2>
        <p>This scenario is more complex. Before heading to Oceania, I'll need to pack up everything in Ireland and move all my belongings to storage in Germany. Then it's off to New Zealand in early October as described above. At the end of October, I'll fly from Christchurch to Sydney.</p>
        <p>Once in Sydney, my first priority will be sorting out paperwork and finding work in my field. According to various websites, these jobs are quite plentiful and well-paid (hoping that information is accurate!). I'll try to line up a good job before leaving home if possible. The plan would be to work in Sydney until New Year's Eve so I can experience the spectacular fireworks display.</p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m30!1m8!1m3!1d6624036.767220218!2d148.05456100000004!3d-35.839367!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%2C+New+South+Wales%2C+Australia!3m2!1d-33.868819699999996!2d151.2092955!4m5!1s0x6b164d69b05c9021%3A0x500ea6ea7695660!2sCanberra%2C+Australian+Capital+Territory+2601%2C+Australia!3m2!1d-35.2809368!2d149.1300092!4m5!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%2C+Victoria%2C+Australia!3m2!1d-37.8136276!2d144.96305759999998!5e0!3m2!1sen!2sus!4v1492955402891" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p>In January, I plan to take the bus from Sydney to Melbourne. The ticket costs about AU$100 (around €85) for the nearly 1000km journey, which takes about 12 hours. I'll make a stop in Canberra for a day or two to explore the cultural attractions.</p>
        <p>I'm thinking of staying in Melbourne for one to two weeks to visit the Twelve Apostles cliffs and see the wild penguins. Though I suspect two full weeks might be too long for me.</p>
        <p>After Melbourne, I'll fly to Perth and spend a few days there. Perth is supposed to be one of Australia's most beautiful cities. I plan to buy a camper van there and, after some final safety checks, drive the 2,500km to Adelaide.</p>
        <p>Most of this journey will be along Highway 1 on the south coast. Along the way, I'd like to visit some of the many (hopefully beautiful) wineries and whiskey distilleries, and maybe even work at some of them if possible.</p>
        <p>Adelaide is another key stop on my itinerary, partly because their zoo has pandas! If necessary, I might look for work in my field there and stay for a few weeks. If the camper van proves reliable and I can find one or two travel companions, I'd like to drive through the Outback via Alice Springs (Uluru) to Cairns. I've also mapped out an alternative route along the east coast via Sydney and Brisbane to Cairns, but I'm really hoping to make that desert-to-rainforest journey.</p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>The rainforest is one of the places I absolutely must see during my Australian journey. Near Cairns, there's the Daintree National Park. I hope to find some good group day trips into the rainforest. I want to experience and photograph nature in its purest form. From Cairns, I'll head south along the Great Barrier Reef. My plan is to explore the reef both above and below the water.</p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m54!1m8!1m3!1d29395787.189780723!2d134.711318!3d-25.923634!3m2!1i1024!2i768!4f13.1!4m43!3e0!4m5!1s0x2a32966cdb47733d%3A0x304f0b535df55d0!2sPerth%2C+Western+Australia%2C+Australia!3m2!1d-31.9505269!2d115.8604572!4m5!1s0x2a38234ac3375271%3A0x712519290cdd7173!2s2588+Gnowangerup+-+Jerramungup+Rd%2C+Kebaringup+WA+6335%2C+Australia!3m2!1d-34.030023!2d118.227121!4m5!1s0x6ab735c7c526b33f%3A0x4033654628ec640!2sAdelaide%2C+South+Australia%2C+Australia!3m2!1d-34.9284989!2d138.60074559999998!4m5!1s0x2b321944be8f1331%3A0x50217a82a254fd0!2sAlice+Springs%2C+Northern+Territory+0870%2C+Australia!3m2!1d-23.698041999999997!2d133.8807471!4m5!1s0x697862555ba22413%3A0x400eef17f207860!2sCairns%2C+Queensland%2C+Australia!3m2!1d-16.9185514!2d145.7780548!4m5!1s0x6b91579aac93d233%3A0x402a35af3deaf40!2sBrisbane%2C+Queensland%2C+Australia!3m2!1d-27.469770699999998!2d153.0251235!4m5!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%2C+New+South+Wales%2C+Australia!3m2!1d-33.868819699999996!2d151.2092955!5e0!3m2!1sen!2sus!4v1492955989957" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p>Near Brisbane, there's a training farm that sounds really interesting. If I haven't found another training farm by then, I'd like to complete my farm training there. And if by chance there happens to be an interesting farm job available somewhere, even better! I'd especially love to work with horses if possible.</p>
        <p>The plan is to be back in Sydney by the end of April.</p>

        <h2>The Return Journey and Beyond</h2>
        <p>During the last weeks/months of my trip, I'll start looking more seriously for new jobs in Europe. Once back in Sydney, I'll sell the camper van and start preparing for my return journey. This includes sorting out my Australian tax return, closing any unnecessary bank accounts, and taking care of other administrative tasks. If everything stays on schedule, I plan to fly back to Hamburg at the end of April 2013.</p>
        <p>I hope to find a good job pretty quickly after my Australian adventure. I'm not ruling out applying to my current company again - after all, I do enjoy the work here, and Ireland is absolutely beautiful. Alternatively, I'd be happy with positions in Hamburg, Rostock, Vienna, or generally in the mountainous regions of German-speaking countries - as long as there's good train or flight connections to visit family.</p>
    </div>
</div>

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <h2>Summary</h2>
        <p>All told, I'll be covering over 12,000km in two different camper vans, plus more than 1,000km by bus. I'll have explored both main islands of New Zealand and all five regions of mainland Australia. I'll have taken at least four flights, hopefully including one on an Airbus A380. It's shaping up to be quite an adventure. I can hardly wait!</p>
        <p>So now you're all up to date on my travel plans - or should I say, travel possibilities!</p>
        <p>Until next time,<br>Your Basti</p>
    </div>
</div>
