---
layout: blog/en/travelblog
title: "New Zealand: Wellington - Saint Arnaud"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Blenheim
  - Picton
  - Saint Arnaud
  - Wellington


headline:
  image:
    url: "/assets/img/blog/auszeit/IGP4826_lake_rotoiti.jpg"
alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "A little complaint in advance. I have been writing this article for the second time now. The first time I wrote it offline directly in the WordPress app. When I went online to finish the article, the app updated all entries and overwritten my contribution. That has already disappeared the second time that has disappeared several hours of work. I reported it to WordPress again this time and hope that they will soon fix this mistake. It annoys me animal and above all it annoys. But now to the actual contribution."
  image:
    url: /assets/img/blog/auszeit/small/20121028-004404.jpg
alt: "The sign in front of the entrance to the Te Papa Museum in Wellington"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121028-004404.jpg" alt="The sign in front of the entrance to the Te Papa Museum in Wellington">
  </div>
  <div class="col-md-9">
    <p> A little complaint in advance. I have been writing this article for the second time now. The first time I wrote it offline directly in the WordPress app. When I went online to finish the article, the app updated all entries and overwritten my contribution. That has already disappeared the second time that has disappeared several hours of work. I reported it to WordPress again this time and hope that they will soon fix this mistake. It annoys me animal and above all it annoys. But now to the actual contribution. </p>
    <p> When we arrived in Wellington, we found a parking lot right next to the Te Papa Museum. There we pulled a parking ticket for 24 hours at 10:30 a.m. So we had already found our place for the night and one problem less. </p>
    <p> We went straight to the museum. The museum is just huge. It goes through countless levels that are divided into several subject areas again. Outside there is even a tropical rainforest with a waterfall and reproduced stalactite caves. We only went into the area that showed us how much New Zealand was in the lack of primeval forces such as volcanoes and earthquakes. Then it was about animal life ashore and in the water before we plunged into the culture of the Maori. Currently you can even learn something about the Maori and its meaning in a special exhibition. </p>
    <p> We got hungry slowly. Since the museum is free of charge, we first decided to go back to the cars and make lunch. Then it continued with the culture of the Maori and the settlement history of the western peoples. Even themes such as the problems between the peoples are dealt with there. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> In another area of &#8203;&#8203;the museum, we found out about unwanted immigrants such as rats and other animals. How these have come in and what a threat they represent for local flora and fauna. In the end it went through an art gallery and a peculiar private collection of various jugs, vases and porcelain. </p>
    <p> After we were through the exhibition in the late afternoon, we decided to visit the city. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-3 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121028-004423.jpg" alt="The shopping street with small buildings and high -rise buildings">
  </div>
  <div class="col-md-9">
    <p> We walked along a street lined with pubs and restaurants. At the end of this, we found that we run in the wrong direction. So we turned over and found each other again three in the main shopping street. After a round through the streets, we decided to run back to the museum on the water and use the free WiFi and free electricity there to plan the next stages. Before we made our way to our beds, we enjoyed a little walk through the alley with the pubs and restaurants. </p>
    <p> The next morning the alarm clock rang very early, as we had to make our way to the ferry to overlap from the north to the South Island. Everything went smoothly on the ferry when you disregard the small kick -off that we got because we had tickets for small vans and not for motorhomes. However, our cars are not larger than small vans. I don't see it to pay for a large motorhome just because there is a bed on the loading area. </p>
    <p> But as the saying goes: God immediately punishes God. As soon as the ferry stuck out of the harbor, it started to rock quite violently. Since about 50% of the 3.5 hour crossing went over the open sea and Sam became so suspicious, I decided to get such tablets against swinging for both of us. Green faces could be seen everywhere on the way to the shop. I saw a woman coming out of the toilet who was greener on the face than the grass in Ireland. She took 5 steps. Looked around and ran back into the toilet with a handkerchief in front of his mouth. At the sight, I slowly got a little strange and I watched that we both took tablets. After about 30 minutes I got really nice heartburn and so I could choose whether I was sick or swing. </p>
  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121028-004423.jpg" alt="The shopping street with small buildings and high -rise buildings">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121028-004432.jpg" alt="Picton from the water side">
  </div>
  <div class="col-md-8">
    <p> Fortunately, we finally drove into the fjord landscape and the swings stopped. After a few maneuvers through narrow islands, we reached Picton. When we left, we found that there was still a little snow on the side of the road. We then made our way to Blenheim, where I wanted to get fresh bread one last time before we drove to the weakly populated west coast. <br> The road from Blenheim to Saint Arnaud goes across a wide level that can be driven more relaxed than the a little north of the SH6 that leads across mountains. The level reminds me a little of the route in front of Sibiu before driving through the Romanian Carpathians. </p>
    <p> When we arrived at the campsite, we made ourselves over 3 parking spaces with our 2 small cars so that nobody could adjust the view and the promised sunshine for the next morning. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> We then quickly got shower stamps and treated ourselves to a little walk through the surrounding forest before we started cooking. Since the campsite is located on a lake (see photo at the top) and mountains covered with snow, we adjusted to a cold night and rummaged out our heaters before we went to bed. </p>
  </div>
</div>
