---
layout: blog/en/travelblog
title: "My first post in the new blog"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - Belgium
  - Germany
  - France
  - Ireland
  - New Zealand
  - Netherlands

overview:
  intro: "This is now my first real contribution (post) in the new blog. Well what should I write here? I hope that I will get used to post my experiences about my trips here."
  image:
    url: /assets/img/sebastian_thoss.jpg
alt: "A photo by Sebastian Thoß"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/sebastian_thoss.jpg" alt="Photo by Sebastian Thoß">
  </div>
  <div class="col-md-9">
      <p>
          <span class="dropcap">T</span>his is now my first real contribution (post) in the new blog. Well what should I write here? I hope that I will get used to post my experiences about my trips again. </p>
      <h3> Briefly to me </h3>
      <p> I am the basti and I am addicted. Addicted to travel.
          I want to see the world as long as I am still young, healthy and independent.
          Well, you can argue on the topic of young. I'm already from the 1982 year of construction.
          I actually come from Germany's north.
          But live and work in Ireland at the moment.
          I work here in IT.
          So I'm a real office stallion but not a nerd.
          Whether you believe it or not, I like my job almost as much as travel.
          He finally finances the whole thing too.
          So I have already traveled some countries and have already seen a lot. </p>

      <h4> My countries already traveled </h4>
      <p> Germany, Netherlands, Belgium, France, Spain, Portugal, Italy, Switzerland, Austria, Hungary,
          Czechoslovakia, Romania, Poland, Denmark, Ireland (Roi) &amp; North Ireland (Ni), Scotland,
          England &amp; USA. </p>

  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/sebastian_thoss.jpg" alt="Photo by Sebastian Thoß">
  </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> I have already been in all of these countries. I only saw some of them from the window of a car or truck. I hiked others and I was allowed to or may call my home. But I want to see a lot more of the world. The world is large, wide, fantastically beautiful and, above all, very friendly and open to travelers. </p>
        <p> My next big plan is to go to Australia to live there for a few months and, above all, travel. On site I would like to earn travel with occasional work in my own profession and on farms. Thanks to Working Holliday Visa, this is not a problem. In Germany rather known than work and travel. This is also the main reason why I start with this blog here so that my loved ones are always up to date. As for planning and later traveling. I hope to show my loved ones that I am fine and that you don't have to worry too much! </p>
        <p> I will categorize my posts to places so that it is easier for my dear family to only filter out the German contributions. Furthermore, I will sometimes post via email and sometimes directly from the computer.
            I also set up a profile on Twitter so that I can spontaneously send a short message to you. For those among you who have no user account on Twitter <a href="https://twitter.com/dj_thossi"> here </a> The link to my profile <a href="https://twitter.com/dj_thossi"> https://twitter.com/dj_thossi </a> ,
            I will let me know on Facebook and Twitter when I wrote something. So I should have covered the most important channels. </p>
        <p> What else is there to tell about me? Not much that belongs here. Maybe one more. Most of my friends and family know that I wasn't the brightest light in German lessons. So please forgive me if I make errors and grammar mistakes. I will do my best and try to read all my posts again beforehand and have relevant programs checked. </p>
        <p> So now the first post has become a little longer than planned. Well, it doesn't matter. So lean back and enjoy the show </p>
        <p> Greetings from Dublin <br> Basti </p>
        <p> PS. To my family: 'Keep on Smiling'! </p>
    </div>
</div>
