---
layout: blog/en/travelblog
title: "YHA Railway Square in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP6534_harbour_bridge.jpg"
    alt: "The enormous Sydney Harbour Bridge"

overview:
  intro: "Hello everyone! This time I'd like to tell you about my stay at the YHA Railway Square and some of the issues I experienced there. On my second arrival in Sydney, I had better luck with the hostel I had chosen. I selected the YHA Railway Square for two main reasons. First, it's part of the Australian Youth Hostel Association, which means I get a nice discount as a member, and you can expect a certain minimum level of quality. Second, they offer the unique opportunity to stay either in a railway carriage or in the main building. This hostel even has an outdoor pool, which I unfortunately never used—either the weather wasn't great or I was busy doing other things."
  image:
    url: /assets/img/blog/auszeit/small/20121206-141807.jpg
    alt: "Track 1 of the main station is right behind the carriages"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-141807.jpg" alt="Sleeping carriage">
  </div>
  <div class="col-md-8">
    <p>Hello everyone!</p>
    <p>This time I'd like to tell you about my stay at the YHA Railway Square and some of the issues I experienced there.</p>
    <p>On my second arrival in Sydney, I had better luck with the hostel I had chosen. I selected the YHA Railway Square for two main reasons. First, it's part of the Australian Youth Hostel Association, which means I get a nice discount as a member, and you can expect a certain minimum level of quality. Second, they offer the unique opportunity to stay either in a railway carriage or in the main building. This hostel even has an outdoor pool, which I unfortunately never used—either the weather wasn't great or I was busy doing other things.</p>
    <p>I had booked my first few nights in a sleeping carriage. It turned out that these carriages were separated by glass walls, located right next to Track 1 of Sydney's Central Station, which meant you were essentially sleeping in the train station! ;) The hostel had implemented this feature really well. It's a nice concept, though sometimes the arriving and departing trains made it difficult to fall asleep.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>For my second week at the hostel, I had booked a weekly package that moved me from an 8-bed dorm to a 4-bed room. According to the plan, I was supposed to change rooms again for the last night. Unfortunately, this didn't go smoothly. The hostel changed their plans and wanted me to move to another room a day earlier than expected. This wouldn't have been a problem in principle, except they forgot to inform me about it. However, everyone at the hostel assumed I had been notified.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Steam locomotive" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-141709.jpg">
  </div>
  <div class="col-md-8">
    <p>So I left the hostel in the morning as usual, thinking nothing of it. Since I hadn't provided my cell phone number to the hostel, they couldn't call to ask why I hadn't moved my belongings. As a result, the hostel staff broke open my locker, stored my valuables at the reception, and left me a note asking me to report to the front desk.</p>
    <p>You can imagine how upset I was when I found the note. The reception staff had simply stuffed all my belongings into garbage bags. My toothpaste had been crushed onto my camera lens by my tripod. They didn't even apologize to me, but after it became clear that the error was on the hostel's part, I at least received a new padlock free of charge, since they had destroyed mine to clear out my locker.</p>
    <p>So I was moved to the room directly opposite a day earlier than planned. I spent two more pre-booked and paid nights in this room, and then I was finally able to move into my apartment.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Steam locomotive" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-141709.jpg">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-141734.jpg" alt="Young woman standing in the sunset">
  </div>
  <div class="col-md-8">
    <p>During these two weeks, I met a group of Germans with whom I spent my free time. We went out to eat together, attended the weekly fireworks, or cooked meals together. When cooking, we frequently discovered that someone in the hostel was stealing food. Almost every day, something went missing from someone in our group. The stolen items varied widely—sometimes tomatoes, sometimes eggs, and once even an entire bag of groceries. I actually got off quite lightly; I only lost some ketchup. Unfortunately, my iPhone charger also disappeared. I can't say with certainty whether I lost it on my way from the lounge area to my room or if someone deliberately stole it.</p>
    <p>Overall, I had two really pleasant weeks at YHA Railway Square. The quality is good for the very reasonable price. The location is excellent. The staff is usually friendly, and on Wednesdays, they serve free pancakes for breakfast. I met nice people during my time there, mostly Germans. Two of the guys from this group would unexpectedly cross paths with me again a few weeks later. But more about that later.</p>
  </div>
</div>
