---
layout: blog/en/travelblog
title: "New Zealand: From Wanganui to Wellington"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Paraparaumu
  - Wanganui
  - Wellington

overview:
  intro: "After a stormy night on Wednesday, we decided to explore the beach that the campsite owner had recommended. I was really excited to finally visit a New Zealand beach."
  image:
    url: /assets/img/blog/auszeit/small/20121025-114646.jpg
    alt: "White driftwood on black sand beach"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121025-114646.jpg" alt="White driftwood on black sand beach">
  </div>
  <div class="col-md-8">
    <p>After a stormy night on Wednesday, we decided to explore the beach that the campsite owner had recommended. I was really excited to finally visit a New Zealand beach. What awaited me there was nothing like I had expected.</p>
    <p>We left our vehicles at the campsite for a while and set off on foot. As soon as we left the campsite, I developed a creeping feeling of unease and uncertainty. The streets were eerily empty. At one corner, a few people stood staring at us as if we were aliens. The whole scene felt like it was stolen from a horror movie - long, empty, straight streets lined with small, poorly maintained houses. We were half-expecting vampires or monsters to jump out from the bushes on either side, wanting our brains for breakfast.</p>
    <p>But the only thing that hopped out of a bush was a small sparrow. When we reached the beach, we discovered that the sand was black and the shoreline was covered with driftwood. The wood must have been there for ages, as some branches had been polished by sand and water into round, holey shapes like hag stones. I had imagined the beach quite differently, but my camera was absolutely delighted with these unexpected photo opportunities.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121025-114712.jpg" alt="Beautiful landscape">
  </div>
  <div class="col-md-8">
    <p>After our little beach excursion, we decided it was time to move on. Since we wanted to get a second impression of Wanganui, we drove through the city center to refuel, hoping we might like it better there. It was a disappointment. While the downtown area was much livelier and less creepy, it still wasn't particularly appealing.</p>
    <p>So we continued to our next overnight stop in Paraparaumu. The journey there was relatively straightforward, though we had to be mindful of the increasingly strong crosswinds that shook our vehicles quite a few times. When we arrived and found a nice spot by the sea with a good view, the wind was so fierce that we each retreated to our own vehicles. After a while, I couldn't stand sitting around anymore and needed to move. I decided to drive to the nearest shopping center. Sam joined me, and we spent some time wandering from shop to shop without buying anything.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121025-114712.jpg" alt="Beautiful landscape">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121025-114728.jpg" alt="Wellington from above">
  </div>
  <div class="col-md-8">
    <p>For the rest of the day, we sat in our vehicles and went to bed early. The night was so windy that our cars were rocked violently; I woke up several times and considered driving to the shopping center parking lot, where it wasn't nearly as windy as at the beach. But each time, I fell back asleep until the night was finally over.</p>
    <p>The next morning, we just looked at each other through our car windows, and it was clear that Sam had also had a rough night. So we decided to get going and cover the final 50km to Wellington.</p>
    <p>Once there, we drove around the city for quite a while until we finally found an affordable parking spot. Fortunately, it was right next to Te Papa Museum, which we wanted to visit. But more about that next time.</p>
  </div>
</div>
