---
layout: blog/en/travelblog
title: "New Zealand: From Auckland to Rotorua"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland
  - Rotorua

overview:
  intro: "On Sunday, I drove from Auckland to Rotorua, where I wanted to check out the hot springs and ride down a mountain in a type of luge cart. As I traveled, the route became increasingly curvy and steep. I took a break at a beautiful, empty parking area high up. I only enjoyed the panoramic view over the vast plain for a few minutes before a bus and a van pulled up next to me."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-52.jpg
    alt: "Ferns as tall as trees"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-55.jpg" alt="Ferns as tall as trees">
  </div>
  <div class="col-md-8">
    <p>On Sunday, I drove from Auckland to Rotorua, where I wanted to check out the hot springs and ride down a mountain in a type of luge cart. As I traveled, the route became increasingly curvy and steep. I took a break at a beautiful, empty parking area high up. I only enjoyed the panoramic view over the vast plain for a few minutes before a bus and a van pulled up next to me. Both vehicles were packed with Asian tourists who quickly rushed to the fence to get the best spots for photos. I watched the show with amusement.</p>
    <p>A few hundred meters before reaching Rotorua itself, I came across the base station of the Skyline gondola, which would take me to the luge track. Unfortunately, the luge rides were only available until 5 PM, so I postponed that activity until the next day. Thankfully, the woman at the ticket counter allowed me to stay overnight in the parking lot, which was one less thing to worry about.</p>
    <p>I decided to drive into town that evening to see if I could find some hot springs or perhaps take a nice photo of the lake. As it turned out, the hot springs in Rotorua produce so much steam that they're impossible to miss when driving by. The smell of sulfur (like rotten eggs) took some getting used to. In the city center, there's a small park built around the springs, with two spots where you can actually go for a swim. Combined with the many colorful flowers and plants I'd never seen before, it was really wonderful. A perfect end to my first day with the motorhome.</p>
  </div>
</div>
