---
layout: blog/en/travelblog
title: "30th birthday in New Zealand"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Christchurch

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP5777_birthday_flowers.jpg"
alt: "Birthday flowers"

overview:
  intro: "After I had released the motorhome again, Christchurch was now in front of me for 3 days. First I decided to go towards the city center and to see what is left of the city, after 4 large and over 10800 small earthquakes in the past 2 years."
  image:
    url: /assets/img/blog/auszeit/small/IGP5620.jpg
alt: "The city map of Christchurch after the earthquake"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/IGP5620.jpg" alt="The city map of Christchurch after the earthquake">
  </div>
  <div class="col-md-8">
    <p> After I had released the motorhome again, Christchurch was now in front of me for 3 days. First I decided to go towards the city center and to see what is left of the city, after 4 large and over 10,800 small earthquakes in the past 2 years. </p>
    <p> In the bus I read what of a red zone in the city center on a advertising sign. With a little googling, I found out that most of the city center is still completely closed. When I arrived there I saw what earthquakes could do with my own eyes for the first time. The entire business center of the city is gone or is being demolished. A road card was then drawn on the fence, which is blocked. Pretty much the entire city center. As far as I could see, there were buildings that were partially destroyed and were only waiting for their demolition. The cathedral was still in front of it, but the bell tower had collapsed and already removed. </p>
    <p> Since the entire shopping mile was also affected, the residents have come up with a really good temporary solution. A temporary shopping street was simply built from trucks containers on an open area. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-213017.jpg" alt="The Haka Lodge in Christchurch">
  </div>
  <div class="col-md-8">
    <p> Very simply two floors of containers can be stacked on top of each other, in between colorful canvas in between and paint the containers colorful. A nice and inviting atmosphere is created. The concept now works for over a year. It wasn't a lot of business, but it was a beginning. So this area was also called, just in English Re: Start. </p>
    <p> I then continued by bus to the hostel, the Haka Lodge. This is really nice and highly recommended. Nice small company with a sleeping hall with 7 single beds. These are divided into 2/3 groups and with thin walls from each other under the roof. Which conveys a little the feeling of privacy. The common room was also quite well equipped, maintained and modern. A place where you can go well. The people who live there were very nice and helpful. To have the staff very friendly and always for fun. I can only say that I haven't laughed as much for a long time and as hearty as in the 3 days there. </p>
    <p> I then spent my birthday with 2 of the boys staying there longer in the botanical garden in search of beautiful motifs for our cameras. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-213017.jpg" alt="The Haka Lodge in Christchurch">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/IGP5726.jpg" alt="Flowers and peace bell in the botanical garden in Christchurch">
  </div>
  <div class="col-md-8">
    <p> Actually, I wanted to go to a range zoo but only I didn't get an answer to my email in which I asked about the shuttle service offered and when I called I told me that the Setvice should cost $ 60 back and forth. That was a bit too expensive for me because another $ 28 would get there. So the excursion would cost almost &euro; 60. That is really too much money for me to go to a zoo. </p>
    <p> In the afternoon I baked my birthday cake myself and nibbled together with everyone present. Was a really good tarte de Santiago. It was a very pleasant day. Everything is quite relaxed, apart from the egg with a manual hand mixer. </p>
    <p> The next day we went to Australia. But before I flew there, I should experience a little earthquake. When I just grabbed my things, suddenly the padlocks on the personal subjects of the guests started to clatter. It took about 30 seconds and before I realized what was going on, it was over again. It later turned out that it was an earthquake of the strength 4. The epicenter was the newly created fault line west of Christchurch. </p>
    <p> But now only one off to the next "island" and let's see how it is there. I am excited. </p>
  </div>
</div>
