---
layout: blog/en/travelblog
title: "New Zealand: From Mount Cook to Christchurch"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Christchurch
  - Dorie
  - Moeraki
  - Mount Cook
  - Oamaru

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP5423_tasman_gletscher.jpg"
    alt: "The Tasman Glacier at the foot of Mount Cook"

overview:
  intro: "When I woke up in the morning, there was barely any sign of the 130km/h storm we'd had overnight. Since I'd secured a spot with an electrical hookup, my heater had run all night, and I hadn't felt any of the biting cold that must have descended. It was now sunny and pleasant to be outside. Only the surrounding mountains showed evidence of the storm, with fresh snow having lowered the snowline by several meters."
  image:
    url: /assets/img/blog/auszeit/small/20121103-212033.jpg
    alt: "Stone chairs and sofa built on the deserted beach."
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-210135.jpg" alt="A Victorian building in Oamaru">
  </div>
  <div class="col-md-9">
    <p>When I woke up in the morning, there was barely any sign of the 130km/h storm we'd had overnight. Since I'd secured a spot with an electrical hookup, my heater had run all night, and I hadn't felt any of the biting cold that must have descended. It was now sunny and pleasant to be outside. Only the surrounding mountains showed evidence of the storm, with fresh snow having lowered the snowline by several meters.</p>
    <p>I spent the morning lazily browsing the internet and calling my loved ones, all while enjoying the magnificent view of Mount Cook (approximately 3,700 meters high) and the surrounding 2,000-meter peaks. I was almost tempted to stay another night in the area, but I wanted to see more of New Zealand. So in the afternoon, I set off to see the Tasman Glacier. It was truly impressive with its enormous glacier lake. There, you could easily see how a glacier expands over time and then melts back again. I had to climb a substantial hill to reach the top, where I was rewarded with a breathtaking view of the lake and glacier. I found this sight much better and more impressive than either Franz Josef or Fox Glacier, both of which are heavily promoted. I only discovered that these three glaciers existed around Mount Cook because I sat down with a topographical map and checked what was actually in the area. I don't recall seeing any road signs for these glaciers at all.</p>
    <p>I would have liked to see the other two glaciers that also flow down from Mount Cook, but I wanted to reach the east coast. So I decided to gradually make my way to Oamaru.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-211931.jpg" alt="The Moeraki Boulders">
  </div>
  <div class="col-md-8">
    <p>The route there was relatively easy to drive. Once in town, I went directly to the penguin colony mentioned in the travel guide. There, I discovered that a tourist center had been built around the colony, with rather expensive admission fees. I decided not to pay the price, grabbed an inexpensive pizza instead, and drove to the overnight parking area.</p>
    <p>The next morning, I first drove to the Moeraki Boulders - a group of large, spherical stones in the surf that have been rounded by weather and water over time. They were beautiful to see, but as so often happens, a group of hurried Asian tourists arrived at the same time, all crowding around to get the best photos. I then drove back to Oamaru to visit the tourist information center, where I learned there was a second penguin colony in town. So I headed there next. The beach and cliffs are called Bushy Beach, where you could spot individual penguins even in the afternoon. I enjoyed this sight before driving on to my next overnight stop.</p>
    <p>When I arrived at the campsite in Dorie, it seemed a bit eerie. There was no light, and everything was surrounded by tall bushes. It looked somewhat like a ghost town. By the next morning, everything appeared much friendlier. The campsite was located directly on a beautiful and extremely deserted beach. After enjoying this view for some time, I set off on my final leg to Christchurch, where I spent the rest of the day cleaning the car and repacking my belongings - all at a very leisurely pace, of course.</p>
    <p>I'll tell you about my days in Christchurch next time.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-211931.jpg" alt="The Moeraki Boulders">
  </div>
</div>
