---
layout: blog/en/travelblog
title: "New Zealand: Auckland - Rotorua"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland
  - Rotorua

overview:
  intro: "On Sunday I drove from Auckland to Rotorua because I wanted to look at the hot springs there and wanted to drive down a mountain in a kind of soap box. On the way there the route became a bit curvy and increasing. I took a break in a beautiful empty parking lot. I enjoyed the view over the wide level for just a few minutes until a bus and a van kept next to me."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-52.jpg
alt: "Ferns as high as trees"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-55.jpg" alt="Ferns as high as trees">
  </div>
  <div class="col-md-8">
    <p> On Sunday I drove from Auckland to Rotorua because I wanted to look at the hot springs there and wanted to drive down a mountain in a kind of soap box. On the way there the route became a bit curvy and increasing. I took a break in a beautiful empty parking lot. I enjoyed the view over the wide level for just a few minutes until a bus and a van kept next to me. Both were fully stuffed with Asians who all quickly went to the fence to get the best place for photos. I enjoyed the show amused. </p>
    <p> A few hundred meters before the actual place Rotorua, the base station of the Skyline gondola is already located. This should bring me to the soap boxes. Unfortunately, soap boxes race is only possible until 5 p.m. So I postponed the soap boxes to the next day. Since the lady at the ticket counter allowed me to stay in the parking lot overnight, at least I had this worry less. </p>
    <p> I decided to go to the city a little in the evening and to see if I might find one or the other hot source or maybe a nice photo from the lake. My luck was that the hot springs in Rotorua smoke so much that you cannot overlook them when driving past. The stench of lazy eggs also took some getting used to. In the city center there is a small park around the sources. You can even go swimming in two places. Together with the many colorful flowers and plants that I have never seen before, it was really great. A successful end to my first day with the motorhome. </p>
  </div>
</div>
