---
layout: blog/en/travelblog
title: "My 36-Hour Journey from Hamburg to Auckland"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland
  - Hamburg
  - Singapore
  - Sydney

overview:
  intro: "Hi everyone! Today I want to share my experience of the 36-hour journey to New Zealand. We hit some traffic on the way to Hamburg Airport, which had me a bit worried, but fortunately it wasn't too bad - we still had 30 minutes to spare before I needed to go through security."
  image:
    url: /assets/img/blog/auszeit/small/basti-in-auckland-airport.jpg
    alt: "Sebastian Thoss at Auckland Airport next to Maori carvings"
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Hi everyone!<br>
    Today I want to share my experience of the 36-hour journey to New Zealand.</p>
    <p>We hit some traffic on the way to Hamburg Airport, which had me a bit worried, but fortunately it wasn't too bad - we still had 30 minutes to spare before I needed to go through security.</p>
    <p>The flight from Hamburg to London went smoothly, and we even arrived a few minutes early. The connection in London was the only part I'd been nervous about, as transfers there usually take quite a while. I can say this much: transferring at Terminal 3 is much less stressful and involves less hassle than at Terminal 1. All I had to do was go through another security check, and that was it.</p>
    <p>After a short wait, we were able to board the A380 for our flight to Singapore. I can confirm that this Airbus is noticeably quieter than the smaller models and much smoother during takeoff and landing. You can really feel the extra 2.5cm of seat width, and the wider aisles make a difference too.</p>
    <p>The service on Qantas is really excellent. When we boarded, pillows, blankets, sleep masks, and dental kits were already waiting at our seats. After takeoff, everyone received a menu with the meal schedule, which I found particularly helpful as it allowed us to plan when we'd be eating what. The A380 also has several self-service bars, so drinks and snacks were always available.</p>
    <p>Upon arriving in Singapore, everyone had to deplane. Since we could exit directly into the transit area, I quickly made my way from Terminal 1 to Terminal 3 to buy my traditional Hard Rock Café T-shirt. On my way back to the gate, I managed to pop into an Apple store to pick up a Camera Connection Kit for my iPad.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/basti-in-auckland-airport.jpg" alt="Sebastian Thoss at Auckland Airport next to Maori carvings">
  </div>
  <div class="col-md-7">
    <p>The flight from Singapore to Sydney was just as relaxing as the previous one. At Sydney Airport, I didn't need to go through immigration as I could stay in the transit area. I spent my waiting time Skyping from a café with a view of the Sydney skyline. It was in Sydney that I first noticed my sense of balance was off - I kept getting this strange swaying sensation, like after a long voyage at sea.</p>
    <p>The final flight to Auckland was a bit turbulent. As compensation, they treated us each to an ice cream for dessert. Once again, we landed 30 minutes ahead of schedule in Auckland. There, I had to partially unpack my bag for the first time to show my riding gaiters. The friendly customs officer complimented my cleaning skills and let me pack them back up. He didn't even need to spray them with disinfectant as they must have still smelled strongly of it.</p>
    <p>The airport bus to the hotel was waiting right outside the exit. As if it had been waiting just for me, it departed as soon as I got on. Fifty minutes later, I arrived at the hostel where Sam was already waiting for me - she'd even gotten me a SIM card. But more about that later, perhaps.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>I'm definitely glad I don't have to fly again for the next three weeks. I had five full meals across four flights on three different aircraft. My seat was changed twice, and one flight was a bit bumpy. I spent almost two days traveling, crossed ten time zones, and flew from autumn straight into spring. I boarded the plane on Tuesday at 6:25 PM and got off on Thursday at 2:30 PM. Despite all that, it was relatively relaxed.</p>
    <p>Well, this entry was supposed to be brief. But here we are, several paragraphs later. Sorry about that!</p>
    <p>P.S.: I'll add the few photos I took during the journey in the next few days. Promise!</p>
  </div>
</div>
