---
layout: blog/en/travelblog
title: "New Zealand: Haast - Mount Cook"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Haast
  - Mount Cook
  - Wanaka

overview:
  intro: "Today was again a special day, albeit from a not so nice occasion. Today unfortunately the last day had come when we drove through New Zealand. We were lucky again and dreamy weather paired with a really nice route along two huge lakes."
  image:
    url: /assets/img/blog/auszeit/small/20121031-083254.jpg
alt: "The lake near Wanaka"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-083254.jpg" alt="The lake near Wanaka">
  </div>
  <div class="col-md-8">
    <p> Today was a special day again, albeit from a not so nice occasion. Today unfortunately the last day had come on the Sam and I drove through New Zealand together. We were lucky again and dreamy weather paired with a really nice route along two huge lakes. </p>
    <p> We first had to look for the campsite for the night a little in Wanaka. We were already in the right street but doubted that there was more than a gravel road. It was only when another camper came towards us that it was clear that we were right. So far, the campsite has been the best. We got places with a fantastic view over the lake and on the mountains. </p>
    <p> After, emptying and filling the water tanks again, we decided to drive into the city with just one car and go out to eat there. After all, it is our last evening together. We found a pub with a view of the lake and treated ourselves to a good meal. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Since Sam has his birthday soon, I had a travel guide for the filming locations from the Lord of the Rings. So she can search and visit other locations on her route. The rest of the evening, we sat in the cars and told who wanted to do what the next few days and where the trip goes. </p>
    <p> The next morning it was time. Now our paths should separate indefinitely, since Sam has three months and I slowly have to make my way towards Christchurch. After more than two years of good friendship and countless weekend trips. We were on many mountains during that time and are all the more valleys. Have researched countless cities and regions by car and on foot. Machnal even by ship. Drove to Sligo to learn to ride on the beach, were in countless pubs and enjoyed the mostly Irish culture together. All of this should now be over for an indefinite time, since none of us know whether and where we will see each other again in life. I definitely hope that it won't take too long. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-084018.jpg" alt="Sam on the horse in Sligo">
  </div>
  <div class="col-md-8">
    <blockquote class="text-righ bq-green"> Sam, I wish you the best of luck and above all success on the next stages in life that you too may find your dream job and hope that you will not miss our beloved Ireland too much. I will definitely miss you and our trips. </blockquote>
    <p> Sam decided to continue towards Queenstown and I towards Mount Cook. The route to the Mount Cook drove quite easily through layers and valleys and thanks to a good audio book, the time went around there very quickly. When I arrived at Mount Cook, I drove to the tourist information after the weather. Since there should be frost at night and wind up to 130km/h, I decided to drive 20km back and spend the night on a protected campsite with electricity for heating and hot water to shower. Well, the showers were a bit miserably low. I was able to look at the cabin separation without worrying at the top and wash my hair. The outlook on Mount Cook the next morning should compensate for a lot. But more about that later. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-084018.jpg" alt="Sam on the horse in Sligo">
  </div>
</div>
