---
layout: blog/en/travelblog
title: "New Zealand: Wanganui - Wellington"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Paraparaumu
  - Wanganui
  - Wellington

overview:
  intro: "When we got up on Wednesday after a stormy night, we decided to walk the beach advertised from the campsite. I was really looking forward to getting to the beach in New Zealand."
  image:
    url: /assets/img/blog/auszeit/small/20121025-114646.jpg
alt: "White driftwood ham black beach"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121025-114646.jpg" alt="White driftwood ham black beach">
  </div>
  <div class="col-md-8">
    <p> When we got up on Wednesday after a stormy night, we decided to walk the beach advertised from the campsite. I was really looking forward to getting to the beach in New Zealand. I didn't expect what to expect there. </p>
    <p> So we left the cars on the campsite for a while and started. As soon as we were down from the campsite, I got a creeping feeling of restlessness and uncertainty. The streets were ghostly empty. Only on one corner there were a few people who looked at us as if we were aliens. The whole scenery looked like a scary shocker stolen.  Street long empty straight. Small poorly well -groomed houses. We literally just waited for the left and right from the bushes vampires or monsters that jumped our brains for breakfast. </p>
    <p> But the only thing that hopped out of a bush was a small sparrow. So we went to the beach to find out that the sand was black and the beach was covered with driftwood. The wood must have been there for so long that some branches of the sand and water have been rounded and holey like chicken gods. I had imagined it differently but my camera was extremely happy. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121025-114712.jpg" alt="Beautiful landscape">
  </div>
  <div class="col-md-8">
    <p> After our little trip to the beach, we decided to slow down. Since we absolutely wanted to have a second impression of Wanganui, we decided to drive through the city center to refuel. Maybe we like it better there. That was a failure. The city center was much more lively and not creepy, but somehow it wasn't nice. </p>
    <p> So we went to our next sleeping place in Paraparaumu. The way there was pretty simple. We just had to be a little on the stronger to be careful that shook us through well a few times. When we arrived and looked for a nice place by the sea with good views, the wind was so strong that each of us retired to his own car. After a time I just couldn't sit back and had to move. I decided to go to the next shopping center. Sam joined and we raged from shop to shop for some time without buying anything. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121025-114712.jpg" alt="Beautiful landscape">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121025-114728.jpg" alt="Wellington from above">
  </div>
  <div class="col-md-8">
    <p> The rest of the day we sat again in our vehicles and went to bed early. The night shook our cars as strongly through which I woke up several times and considered driving to the parking lot from the shopping center, as it was not as windy with wide as on the beach. But then I always fell asleep until the night was finally around. </p>
    <p> The next morning we only looked through the windows of the cars and it was clear that Sam also had a modest night. So we watched that we were on track and brought the last 50km to Wellington behind us. </p>
    <p> Once there, we drove through the city for some time until we had finally found an affordable parking space. Luck directly at the Te Papa Museum that we wanted to look at. But more about that next time. </p>
  </div>
</div>
