---
layout: blog/en/travelblog
title: "My 30th Birthday in New Zealand"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Christchurch

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP5777_birthday_flowers.jpg"
    alt: "Birthday flowers"

overview:
  intro: "After returning the motorhome, I had three days to explore Christchurch on foot. I decided to first head toward the city center to see what remained after 4 major earthquakes and over 10,800 smaller ones in the past two years."
  image:
    url: /assets/img/blog/auszeit/small/IGP5620.jpg
    alt: "The city map of Christchurch after the earthquake"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/IGP5620.jpg" alt="The city map of Christchurch after the earthquake">
  </div>
  <div class="col-md-8">
    <p>After returning the motorhome, I had three days to explore Christchurch on foot. I decided to first head toward the city center to see what remained after 4 major earthquakes and over 10,800 smaller ones in the past two years.</p>
    <p>While on the bus, I noticed an advertisement mentioning a "red zone" in the city center. After a quick Google search, I discovered that most of the city center was still completely closed off. When I arrived, I saw with my own eyes for the first time what earthquakes can do. The entire business district was either gone or in the process of being demolished. A map posted on the fence showed which areas were blocked off - basically the entire city center. As far as I could see, there were partially destroyed buildings just waiting to be demolished. The cathedral was still standing, but its bell tower had collapsed and had already been removed.</p>
    <p>Since the entire shopping district was affected, the residents had come up with an ingenious temporary solution. They had built a provisional shopping street using shipping containers on an empty lot.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-213017.jpg" alt="The Haka Lodge in Christchurch">
  </div>
  <div class="col-md-8">
    <p>The concept was quite simple: two levels of containers stacked offset from each other, with colorful canvas stretched between them and the containers painted in bright colors. It created a welcoming and cheerful atmosphere. This concept had been working for over a year. There weren't many shops, but it was a fresh start. Appropriately, the area was called "Re:Start."</p>
    <p>I then continued by bus to my hostel, the Haka Lodge. It was really nice and highly recommended. It's a lovely small establishment with a dorm room containing seven single beds. These were arranged in groups of two or three, separated by thin walls under the roof, which gave a sense of privacy. The common room was also well-equipped, clean, and modern - a place where you could really feel comfortable. The people staying there were very friendly and helpful, and the staff were welcoming and always up for a laugh. I can honestly say that I hadn't laughed as much or as heartily in a long time as I did during those three days there.</p>
    <p>I spent my birthday with two of the long-term residents, exploring the Botanical Gardens in search of beautiful subjects for our cameras.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-213017.jpg" alt="The Haka Lodge in Christchurch">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/IGP5726.jpg" alt="Flowers and peace bell in the botanical garden in Christchurch">
  </div>
  <div class="col-md-8">
    <p>I had originally planned to visit a wildlife park, but I never received a response to my email inquiring about their shuttle service. When I called, they told me the shuttle would cost $60 round-trip, plus another $28 for admission. That would bring the total cost of the excursion to almost €60, which seemed too expensive for a zoo visit.</p>
    <p>In the afternoon, I baked my own birthday cake - a delicious Tarta de Santiago - and shared it with everyone at the hostel. It was a really pleasant day, quite relaxed, apart from the challenge of beating eggs with a manual hand mixer.</p>
    <p>The next day, I was due to fly to Australia. But before I left, I got to experience a small earthquake. As I was packing my things, the padlocks on the guests' personal lockers suddenly started to rattle. It lasted about 30 seconds, and before I fully realized what was happening, it was over. Later, I found out it was a magnitude 4 earthquake, with its epicenter at a newly formed fault line west of Christchurch.</p>
    <p>But now it's off to the next "island," and we'll see what it's like there. I'm excited!</p>
  </div>
</div>
