---
layout: blog/en/travelblog
title: "Planning. The be -all and end -all of my trip"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand
  - Ireland
  - Germany

overview:
  intro: "Hello. Today, as promised, I would like to tell you about my travel preparations. Since a Work & Travel trip to Australia is not everyday, you also have to exercise a little more caution when preparing. You have to pay more attention to a lot, because after all you are away from home for a few months. Australia and New Zealand are not exactly around the corner but at the other end of the world. So planning is the best thing you can do."
  image:
    url:
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> Hello. Today, as promised, I would like to tell you about my travel preparations. Since a Work &amp; Travel trip to Australia is not everyday, you also have to exercise a little more caution when preparing. You have to pay more attention to a lot, because after all you are away from home for a few months. Australia and New Zealand are not exactly around the corner but at the other end of the world. So planning is the best thing you can do. </p>
        <p> Below I created a list of what I have to do for a good luck of my trip. </p>

        <h2> General </h2>
        <ul>
            <li> Cance on job (done) </li>
            <li> Terminate the apartment (done) </li>
            <li> Drive car to Germany (done) </li>
            <li> Allow the car in Germany (done) </li>
            <li> Apply for working Holiday visa (done) </li>
            <li> Book flights (done) </li>
            <li> Foreign liability insurance (done) </li>
            <li> Special Working Holiday health insurance (done) </li>
            <li> Travel resignation insurance (done) </li>
            <li> Check vaccinations </li>
            <li> Let the Irish cell phone unlock (done) </li>
            <li> Check Skype fees (done) </li>
        </ul>

        <h2> Preparations for New Zealand </h2>
        <ul>
            <li> Camper van Buchen (done) </li>
            <li> Check out cheap SIM card (done) </li>
            <li> Get cash </li>
        </ul>

        <h2> Preparations for Australia </h2>
        <ul>
            <li> Search job in Sydney or Melbourne (in the works) </li>
            <li> Get membership for Australian youth hostels </li>
            <li> Apply for a WWOOF Australia membership </li>
            <li> Accommodation for the first few days (done) </li>
            <li> Get postal address in Sydney </li>
            <li> Apply for bank account </li>
            <li> Check out cheap SIM card (done) </li>
            <li> Get cash </li>
        </ul>

        <h2> By arrival in Australia </h2>
        <ul>
            <li> Apply for Medicare Card </li>
            <li> Apply for a tax number </li>
        </ul>
        <p> This is the list of things I still have to do. There are a few but important ones already done but many still have a lot to do until I can cut them off. I will repeatedly report on the progress in hacking. </p>
        <p> For example, I have just spoken to my landlord that I will give up the apartment. I will discuss with him again in the next few days, how this should work in the end with the handover and my deposit. </p>
        <p> In the next few days I will report on planning for my trip by car to Germany via France, Belgium and the Netherlands. </p>
        <p> See you soon. <br> Your basti </p>
    </div>
</div>
