---
layout: blog/en/travelblog
title: "Finding an Apartment in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Since hostel beds in Sydney are extremely expensive and hard to find between Christmas and New Year's Eve, I decided to look for a room in a shared apartment. Plus, I didn't want to have to change rooms every few days for three months, which would have been inevitable with hostel stays."
  image:
    url: /assets/img/blog/auszeit/small/20121203-214811.jpg
    alt: "Could also be in Spain"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-214811.jpg" alt="Row houses in Sydney">
  </div>
  <div class="col-md-7">
    <p>Since hostel beds in Sydney are extremely expensive and hard to find between Christmas and New Year's Eve, I decided to look for a room in a shared apartment. Plus, I didn't want to have to change rooms every few days for three months, which would have been inevitable with hostel stays.</p>
    <p>So I searched online to see what the internet had to say about shared apartments. I quickly found the websites <a href="https://flatmates.com.au/" target="_blank">Flatmates.com.au</a> (which means roommates) and <a href="https://gumtree.com.au/" target="_blank">Gumtree.com.au</a>, a classifieds site. On these websites, I immediately found some nice offers. Some of them sounded almost too good to be true. I responded to several ads directly through the websites, asking if the rooms were still available and whether I could view them.</p>
    <h2 style="display:inline;">Something Smells Like Fraud</h2>
    <p>I promptly received a response to one of my messages from a gentleman named Craig. He informed me that the apartment was still available and asked me to reply quickly if I was interested. Since the address was right in the city center, I naturally responded right away and asked again about a viewing appointment.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-212549.jpg" alt="Building on Wattle St in Ultimo">
  </div>
  <div class="col-md-8">
    <p>In return, I received a forwarded email from someone named Michael who explained that he was in the USA for work reasons and had left the apartment keys with FedEx. He would tell me the pickup number once I paid the deposit, and then I could collect the keys from FedEx.</p>
    <p>First of all, I hadn't seen any FedEx locations in Australia, and secondly, I became suspicious because the guy was first called Craig and suddenly now Michael. I wrote back saying that I'd like to view the apartment first and asked who he actually was—Craig or Michael. In response, he addressed me as Michael and said viewing the apartment would only be possible if I paid the deposit first. At that point, it was completely clear to me that this was a scam, so I decided to look at other rooms.</p>
    <h2 style="display:inline;">No Luck on the Second Try</h2>
    <p>Next, I found an interesting room near my workplace. It was on a nice side street that reminded me a little of small Spanish towns. Two floors with a veranda and balcony. I really liked this room. Unfortunately, I wasn't lucky in this case, and someone else got the room.</p>
    <h2 style="display:inline;">Someone Living in the Living Room</h2>
    <p>The third apartment was in a fantastic location with a great view toward Darling Harbour. It had its own pool, fitness room, and sauna in the basement. However, there were two issues: first, the rent was much too high because I would be living alone in a room meant for two people. Second, another roommate was living in the living room in an area separated by bed sheets. I found that problematic because the apartment had an open kitchen, and it would be awkward to prepare meals in the evening.</p>
    <h2 style="display:inline;">A Quick Retreat</h2>
    <p>That same evening, I had the opportunity to see another apartment. This one featured a fairly large room with direct access to the garden behind the house and a private bathroom, all for a reasonably affordable price. So I went there in the evening. I quite liked the area, and it really wasn't far from work. It didn't look too bad from the outside. But when the landlord opened the door and I saw the kitchen and the unusable living room, I promptly backed out again. Compared to this place, the <a href="/de/reiseblog/2012/11/01/widerlich-balmain-backpackers.html">Balmain Backpacker Hostel</a> was clinically clean. No thanks! I didn't want to risk serious illness or worse here. So I made a quick exit.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-212549.jpg" alt="Building on Wattle St in Ultimo">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-214824.jpg" alt="Very new and modern kitchen">
  </div>
  <div class="col-md-8">
    <h2 style="display:inline;">Finally Something Suitable</h2>
    <p>The next day, I looked at two more apartments. The first one was actually quite acceptable. However, there were several applicants again, and I had a quiet hope for the second apartment because it was practically in the backyard of my current office and because the building was only a few years old. So I went to the second apartment viewing as well. It turned out that there was no living room here either; instead, two additional rooms had been created.</p>
    <p>One of these would become mine—the one with air conditioning and its own access to the very large balcony. The kitchen was new and modern. The bathroom? Well, nothing that couldn't be cleaned with a couple of bottles of household cleaner and some muscle power. Since the landlord even came down on the rental price for me, I took the plunge and accepted the room. By German standards, it's still unthinkably expensive. I live here with six other people in an apartment designed for four people and still pay $260 per week. That amounts to more than €900 per month.</p>
    <p>But it's still okay for the location. First, I have less than a 3-minute walk to work. Second, it's only about a 5-minute walk to the main train station, and third, it's just 10 minutes to the city center. So I can do everything on foot here and don't always have to take the bus.</p>
    <p>The landlord then told me that some of the rooms would become available in the coming days/weeks if I might want to choose a larger one. This included the master bedroom with its own bathroom and also direct access to the balcony. But it was too expensive for me alone since this room was intended for two people.</p>
    <p>Who ended up moving in there? I'll come back to that later. Next time, I'll tell you more about my remaining days in the hostel.</p>
    <p>Greetings from Sydney.</p>
  </div>
</div>
