---
layout: blog/en/travelblog
title: "New Zealand: From Rotorua to Taupo"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Rotorua
  - Taupo

overview:
  intro: "Since it was quite a cold night, I decided to get up early and head to the lake. I managed to capture some really beautiful shots there."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-73.jpg
    alt: "The gondola lift in Rotorua"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-83.jpg" alt="Me in a luge cart">
  </div>
  <div class="col-md-8">
    <p>Since it was quite a cold night, I decided to get up early and head to the lake. I managed to capture some really beautiful shots there, including black swans and some stunning architecture.</p>
    <p>After that, I went back to Skyline and finally treated myself to the luge rides. The ticket cost $41 (€27), which included the gondola ride plus three luge runs on different tracks. I can tell you, it was absolutely fantastic and I highly recommend it! There's so much more to see and discover up there too. The view over the city is absolutely spectacular. You could easily spend hours up there on a nice day.</p>
    <p>By then it was almost noon, and I had plans to meet Sam near Taupo. So it was back down the mountain and onto the road. The drive to Taupo was really pleasant. When I arrived at the campsite, I found Sam easily - she was sitting by the river having lunch. The campsite was beautifully maintained and perfectly situated between the mountains and the river. Just a few hundred meters downstream, there's even an impressive waterfall. After taking some time to relax, we decided to head into town and visit the tourist information center to check if the routes to the three volcanoes we wanted to visit tomorrow were open.</p>
  </div>
</div>
