---
layout: blog/en/travelblog
title: "Australia? When? How come? Why?"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "Friends and relatives asked me how I actually came up with the idea of ​​wanting to go to Australia and that for a few months. Short answer: I\'ve been planning this for a long time. Here I would like to comment in detail about these questions and bring you all the latest state of preparations. I never thought about Australia. It was far too far away. A foreign language. A foreign culture. In addition, it is fundamentally too hot for me there. A first thought of Australia came to me when I read a fishing magazine in spring 2009. I stumbled across an article about a very difficult fish that was almost only found in the Great Barrier Reef."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> Friends and relatives asked me how I actually came up with the idea of &#8203;&#8203;wanting to go to Australia and that for a few months. <br> Short answer: I've been planning this for a long time. </p>
        <p> Here I would like to comment in detail about these questions and bring you all the latest state of preparations. </p>
        <p> I never thought about Australia. It was far too far away. A foreign language. A foreign culture. In addition, it is fundamentally too hot for me there. </p>
        <p> A first thought of Australia came to me when I read a fishing magazine in spring 2009. I stumbled across an article about a very difficult fish that was almost only found in the Great Barrier Reef. The author told of a one -week fishing trip on a boat in the middle of the reef. No cell phone. No contact with the outside world. That sounded perfect for me for my 30th birthday. The cost is around &euro; 5000 plus equipment for a week and flight. </p>
        <p> Why now the 30th birthday will ask some of you. So in some areas of Germany in which I lived, a bachelor is forced to stupid things by his friends for his 30th birthday. A little like a bachelor- farewell party. Since I definitely don't like such humiliating events, I have been looking for ideas for years where I can hide for my 30th birthday. One of them was the fishing trip to Australia. </p>
        <p> At the end of 2011 I started to deal with the topic "Vacation in Australia". I quickly thought that 5000 &euro; was just too much on a small ship for a week. Friends and acquaintances started to tell me that they were already in Australia and did work &amp; travel there. At some point I checked out what it was all about online. </p>
        <p> I quickly learned that this is a special visa type and that it is even available for different countries in the world. The visa is a residence permit for max. One year and a limited work permit. In most participating countries you can only apply for this visa before the 31st birthday. In addition, at least in Australia, you have to show 5000 AU $ when entering. </p>
        <p> It all sounded so nice. I continued through the network in search of information about Australia and especially about Working Holidays (the name outside of Germany). I quickly realized that Australia is simply perfectly adjusted to backpackers and that there are also appropriate jobs. Help out in coffees, work on farms, pastures or at the harvest. Are only some of the best known and not exactly poorly paid jobs in Australia. </p>
        <p> It matured the idea for me instead of hiding the money for a week, using it for a few more weeks and really visiting Australia and not just flying over it. So I thought. Well, I saved the money together piece by piece. But I also have a job here in Ireland and I really like it. I took a calendar and thought about when and how long I would like to go to Australia. It quickly became clear that I would like to go to Australia in early October and would like to stay up to New Year's Eve. That would give me 3 months to travel and the company is not too much going on in this time anyway. </p>
        <p> So at the beginning of 2012 I went on good courage to talk to my manager. Of course I also addressed Australia. I only asked if it might be possible to work in our office in Sydney and maybe even shorten the 3 months of vacation to 2 or 1. Unfortunately it was said that our office in Sydney would be too small and even our colleague was working from too much. But it also meant that it would generally be possible to get unpaid vacation. You just have to deny that with our HR Manager. So I prepared for the fact that I can let everything rest for 3 months and then put myself into work with new energy in early 2013. </p>
        <p> Since I have always read from great jobs on farms on the Internet where the art of riding was assumed, I went to Silo with my very good friend Sam, on a riding stable where we then got our first riding lessons and even made beach outdates. The whole thing, of course, with the ulterior motive on Australia. </p>
        <p> But whatever my father says. It comes different and 2. When you think. <br> Of course it turned out differently. When I spoke to my supervisors again a few weeks later on my Australia idea, he no longer sounded so convinced. It seemed as if the personnel management didn't mean my idea well. The statements became more vague from time to time. The whole thing went so far that we got to a point where it was suddenly called I had to terminate for such a trip and then apply again. Of course, that kept me a lot. Each of these statements always started with &lsquo;it could be&rsquo; or &lsquo;maybe&rsquo;. This slowly but surely got on my nerves. At some point, together with my manager, I decided that we would let the topic rest until the end of June. </p>
        <p> Since I now knew it could be that my company does not give me unpaid vacation, I started to plan 2 different scenarios. </p>
        <ol>
            <li> I get vacation: I go for 3 months and travel through Australia and go here and there work on farms and somewhere where people are needed. The main thing is not in my job for others than my current company. </li>
            <li> I have to leave the company: I may only start the trip later and then go to Australia for longer. Find me in a big city for 2-3 months in my job to fill my rice base a little better and then go on trips. In addition, I could already explore the area for my workplace. </li>
        </ol>
        <p> When I was back from my vacation from the USA in mid -June, the second part of my father saying &rsquo;2. When you think. On the way to riding lessons, Sam then revealed to me that she decided to leave Ireland in early October. Bang. The next blow. She continued that the trip does not go directly to a new home, but similar to me, but would make a 3-month trip through New Zealand. She also said that she wanted to travel over the two main islands for the first 40 days with a camper van to visit the area. </p>
        <p> It all sounded interesting. Nevertheless, I didn't think it was very great that even my favorite travel companion here in Ireland would also go away. Many other friends are already back or will also go in the next few weeks. </p>
        <p> The next day I spoke to my superior again about Australia and revealed my idea again to go either this year in October or otherwise next year. Since his statements were still vague on the subject of unpaid vacation, we first stated that I decided for myself when I would go to Australia. </p>
        <p> This question was not too difficult to answer. Many of my best friends are already gone or go by October this year. So the time is almost perfect when I already go this year. Another idea came to me. Sam wants pretty much in the same direction as me and New Zealand should come on the travel schedule anyway if I have to give up my job. Why don't you fly directly to New Zealand. Rent a camper van and explore the islands for a few days. After about 2 weeks I could fly directly from Christchurch to Sydney. With this change of plan, I would even save a flight. So I now threw my original plan over the heap and planned the trip to New Zealand directly. </p>
        <p> On the last Tuesday I applied for my visa online and I was also approved immediately and directly. I only thought that quickly because I always read online beforehand that it takes at least 2 days to 4 weeks until the visa is approved. Incidentally, it cost almost &euro; 240. To start the visa, I now have to enter Australia by 09.07.2013. The working holiday year starts when entering. </p>
        <p> Then on Wednesday I asked my manager again whether I would get vacation or whether I had to cancel. In this email I made it clear again that I actually like my job very much and that I would like to come back after my vacation. I also roughly introduced his two scenarios on him. Unfortunately, I have not yet received an answer to this email. But could also be because I was sick for the last few days. </p>
        <p> So my loved ones. So you are now on the latest state of things. There will be more information in the next few days. Like for example: </p>
        <ul>
            <li> Information about applying for the working Holiday Visa </li>
            <li> Both trip scenarios in detail </li>
        </ul>
        <p> So see you soon. </p>
        <p> Your basti </p>
    </div>
</div>
