---
layout: blog/en/travelblog
title: "My First Australian Job Search"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Newcastle
  - Sydney

overview:
  intro: "Finally, as promised long ago, here's a short post about my job search in Sydney. What can I say? I've been very fortunate in my life so far. As my brother would put it: I've often had more luck than sense. I'd like to take this opportunity to sincerely thank everyone who has helped and supported me along the way."
  image:
    url: 
    alt: ""
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Finally, as promised long ago, here's a short post about my job search in Sydney.</p>
    <p>What can I say? I've been very fortunate in my life so far. As my brother would put it: I've often had more luck than sense. I'd like to take this opportunity to sincerely thank everyone who has helped and supported me along the way.</p>
    <p>In any case, many years ago I was lucky enough to become a software developer. I also prepared for my first job search in Australia by contacting several recruiters and companies in advance. By the time I arrived here, I had already scheduled several appointments and arranged phone calls.</p>
    <p>In my last post, I already mentioned my interview in Newcastle and how well it went. The following Monday, I went to <a href="https://www.ProductReview.com.au" target="_blank">ProductReview.com.au</a> near Sydney Central Station. I had a pretty nice conversation there, this time without a technical test. However, they said they would only let me know at the end of the week whether I would get the job or not.</p>
    <p>That same evening, I applied for a few other jobs I found on the website <a href="https://www.seek.com.au" target="_blank">Seek.com.au</a>. It didn't take long before I received an invitation for an interview the next morning. Of course, I accepted and went there the next day. This conversation was also pleasant and relaxed. I even received an immediate job offer.</p>
    <p>It would have been a flexible contract, meaning I would work until the beginning of February and, if I performed well, could work for another three months later. Unfortunately, the salary was only 75% of what was offered in Newcastle. On my way back to the hostel, I received an email offering me another job interview with a different company.</p>
    <p>I wasn't really looking forward to interviewing with this company because I had been annoyed by them several times before. For a 3-month contract position for a junior to mid-level software developer, they were conducting an application process suitable for a Senior Software Manager. Furthermore, this person claimed that I had stolen the code for my laboriously developed Flickr search and hadn't written it myself. This was a complete lie, as I had specifically developed it for him in the presence of the agent.</p>
    <p>Fortunately, I received confirmation in the afternoon that I had gotten the job at <a href="https://www.ProductReview.com.au" target="_blank">ProductReview.com.au</a>. I promptly accepted. The pay isn't quite as good as in Newcastle, but the contract is flexible, allowing me to travel through southeastern Australia in February.</p>
    <p>So I had found work within just six days. The next challenge was finding accommodation for this period. But more about that next time.</p>
  </div>
</div>
