---
layout: blog/en/travelblog
title: "Australia? When? How come? Why?"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "Friends and relatives have been asking me how I came up with the idea of going to Australia for a few months. Short answer: I've been planning this for a long time. Here, I'd like to share the detailed story behind this decision and bring you up to speed on my preparations. I never really thought much about Australia before. It seemed too far away, with a foreign language and culture. Plus, it's way too hot for me there. My first real thought about Australia came when I was reading a fishing magazine in spring 2009. I came across an article about a very rare fish that could only be found in the Great Barrier Reef."
  image:
    url: 
    alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>Friends and relatives have been asking me how I came up with the idea of going to Australia for a few months.<br>Short answer: I've been planning this for a long time.</p>
        <p>Here, I'd like to share the detailed story behind this decision and bring you up to speed on my preparations.</p>
        <p>I never really thought much about Australia before. It seemed too far away, with a foreign language and culture. Plus, it's way too hot for me there.</p>
        <p>My first real thought about Australia came when I was reading a fishing magazine in spring 2009. I came across an article about a very rare fish that could only be found in the Great Barrier Reef. The author described a week-long fishing trip on a boat in the middle of the reef. No phone. No contact with the outside world. That sounded perfect for my 30th birthday. The cost? Around €5,000, plus equipment and flights for the week.</p>
        <p>Some of you might wonder why I'm focusing on my 30th birthday. Well, in some parts of Germany where I've lived, it's tradition for friends to make a bachelor do embarrassing things on his 30th birthday. It's a bit like a bachelor party. Since I definitely don't enjoy such humiliating events, I've been looking for years for ways to "hide" on my 30th birthday. The fishing trip to Australia was one such escape plan.</p>
        <p>At the end of 2011, I started seriously looking into "Vacationing in Australia". I quickly realized that €5,000 was too much to spend for just a week on a small boat. Around that time, friends started telling me about their experiences doing Work & Travel in Australia. Eventually, I looked up what that was all about online.</p>
        <p>I learned that it's a special type of visa that's available for various countries worldwide. It's a residence permit for up to one year with a limited work permit. In most participating countries, you can only apply for this visa before your 31st birthday. Also, for Australia specifically, you need to show proof of having 5,000 AUD when entering the country.</p>
        <p>It all sounded pretty good. I kept researching online about Australia and especially about Working Holidays (as it's known outside Germany). I quickly discovered that Australia is perfectly set up for backpackers and has plenty of suitable jobs. Working in cafes, on farms, in pastures, or helping with harvests - these are just some of the most common and reasonably well-paid jobs available in Australia.</p>
        <p>That's when an idea started forming: instead of spending all that money to hide away for a week, why not use it for a few weeks to actually explore Australia properly, not just fly over it? I thought about it - I'd already saved up the money bit by bit. But I also have a job here in Ireland that I really enjoy. So I got out a calendar and started thinking about when and for how long I'd like to go to Australia. It quickly became clear that I'd like to go in early October and stay through New Year's Eve. That would give me 3 months to travel, and it's a quieter time at work anyway.</p>
        <p>So at the beginning of 2012, I optimistically went to talk to my manager. Of course, I brought up Australia. I first asked if it might be possible to work in our Sydney office and maybe even reduce my vacation from 3 months to 2 or 1. Unfortunately, I was told our Sydney office was too small - even our colleague there works from home. However, they did say it might be possible to get unpaid leave, I'd just need to discuss it with our HR Manager. So I started preparing for the possibility of taking 3 months off and returning to work with renewed energy in early 2013.</p>
        <p>Since I kept reading about great job opportunities on farms that required riding skills, I went with my good friend Sam to Silo, to a riding stable where we took our first riding lessons and even got to ride on the beach. All of this, of course, with Australia in mind.</p>
        <p>But as my father always says, "Things turn out differently than you expect." And they did. When I brought up my Australia plans with my supervisor a few weeks later, he didn't sound as convinced anymore. It seemed like HR wasn't too keen on the idea. The responses became more and more vague. Things got to the point where they suddenly said I'd have to quit for such a trip and then reapply afterward. That hit me hard. Every statement started with "it could be" or "maybe". It was really getting on my nerves. Eventually, my manager and I decided to put the topic on hold until the end of June.</p>
        <p>Now knowing that my company might not grant me unpaid leave, I started planning two different scenarios:</p>
        <ol>
            <li>If I get the leave: I'll go for 3 months, travel through Australia, and work here and there on farms or wherever help is needed. The main thing is not working in my profession for any company other than my current one.</li>
            <li>If I have to leave the company: I might start the trip later and stay in Australia longer. I'd look for work in my field in a major city for 2-3 months to build up my travel fund, and then go traveling. This would also give me a chance to explore the area around where I'd be working.</li>
        </ol>
        <p>When I returned from my US vacation in mid-June, the second part of my father's saying came true - "things turn out differently than you expect." On the way to riding lessons, Sam revealed that she had decided to leave Ireland in early October. Bang. Another blow. She continued by saying that she wasn't heading straight to a new home, but like me, was planning a 3-month trip - through New Zealand. She mentioned wanting to spend the first 40 days traveling the two main islands in a camper van to explore the area.</p>
        <p>It all sounded interesting. Still, I wasn't thrilled that even my favorite travel companion in Ireland was leaving. Many other friends have already left or will be leaving in the coming weeks.</p>
        <p>The next day, I spoke with my supervisor again about Australia and reiterated my plan to go either this October or definitely next year. Since his responses about unpaid leave were still vague, we agreed that I should decide for myself when I want to go to Australia.</p>
        <p>That question wasn't too hard to answer. Many of my best friends have already left or will be gone by October this year. So the timing is almost perfect if I go this year. Then another idea came to me. Sam is heading in roughly the same direction as me, and New Zealand was already on my potential itinerary if I had to quit my job. Why not fly directly to New Zealand? Rent a camper van for a few days and explore the islands. After about 2 weeks, I could fly directly from Christchurch to Sydney. This change of plans would even save me a flight. So I scrapped my original plan and included New Zealand in the itinerary.</p>
        <p>Last Tuesday, I applied for my visa online and it was approved immediately. That was surprisingly quick, as I'd read online that it usually takes anywhere from 2 days to 4 weeks for approval. It cost about €240, by the way. I now have until July 9, 2023, to enter Australia to activate the visa. The Working Holiday year starts upon entry.</p>
        <p>Then on Wednesday, I asked my manager again whether I would get the leave or if I needed to resign. In this email, I emphasized again that I really like my job and would love to come back after my trip. I also briefly outlined both scenarios to him. I haven't received a response to this email yet, but that might be because I've been sick these past few days.</p>
        <p>So there you have it, my dear ones. You're now up to date on everything. I'll share more information in the coming days, including:</p>
        <ul>
            <li>Details about applying for the Working Holiday Visa</li>
            <li>Both travel scenarios in detail</li>
        </ul>
        <p>Until then!</p>
        <p>Your Basti</p>
    </div>
</div>
