---
layout: blog/en/travelblog
title: "New Zealand: From Saint Arnaud to Greymouth"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Greymouth
  - Saint Arnaud
  - Westport

overview:
  intro: "When I woke up in the morning after a hot night, the sun was already shining and the clouds had mostly disappeared. The night was hot because I'd set the heater too high and was too lazy to turn it down during the night."
  image:
    url: /assets/img/blog/auszeit/small/20121029-012159.jpg
    alt: "Fern palm in the rainforest near the Pancake Rocks"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012159.jpg" alt="Fern palm in the rainforest near the Pancake Rocks">
  </div>
  <div class="col-md-8">
    <p>When I woke up in the morning after a hot night, the sun was already shining and the clouds had mostly disappeared. The night was hot because I'd set the heater too high and was too lazy to turn it down during the night.</p>
    <p>As I mentioned, the morning was beautiful and cool, at least outside my campervan. I took a few more souvenir photos before we attended to our vehicles. We emptied the wastewater tanks and refilled the freshwater supplies. Since this was our first time doing this, it took us a bit longer than expected. As a result, we got a late start to our day.</p>
    <p>We had previously identified two possible routes to Greymouth for the day. The first would be considerably longer but seemed much less demanding than the second option. The second route would be significantly shorter but very winding along the coast - though likely more scenic. Before we had to decide, we needed to drive 100km to the fork in the road. Once there, we quickly opted for the more challenging but more beautiful route via Westport.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012252.jpg" alt="Basti among the Pancake Rocks">
  </div>
  <div class="col-md-8">
    <p>In Westport, we made a quick stop at the tourist information center, where they advised us not to dawdle if we wanted to see the blowholes at Pancake Rocks in action, as they're only truly impressive during certain tide and wind conditions.</p>
    <p>We quickly refueled, knowing there wouldn't be another gas station for the next 100km. The road to the Pancake Rocks is winding but absolutely stunning. You just want to stop, even in the middle of the most dangerous curves, to quietly enjoy the views of the rainforest and the coastline all around you. We drove through tropical rainforest there. The trees and palms weren't as tall as I had imagined, but the density of the forest and the biodiversity is simply mind-blowing.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012252.jpg" alt="Basti among the Pancake Rocks">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012244.jpg" alt="A blowhole at the Pancake Rocks in action">
  </div>
  <div class="col-md-8">
    <p>We arrived half an hour after high tide and, thanks to the still-favorable westerly wind, we were able to see the blowholes in action. From the parking lot to the Pancake Rocks, it's a several hundred meter walk through rainforest. The path is just wide enough for one person, with untouched nature on both sides. Then suddenly, you're standing in front of these rock formations. The Pancake Rocks get their name because they look like someone stacked several oversized pancakes on top of each other.</p>
    <p>Additionally, there are several caves, channels, and gaps between the rocks. These create the spectacular water fountains. A wave breaks into a cave from one direction, creating spray. From a second direction, another wave comes in and raises the water level so suddenly that the pressure becomes strong enough to force the spray up through the rock crevice. It's truly a magnificent sight, and you can clearly hear the immense pressure behind it.</p>
    <p>After some time and countless photos, we continued toward Greymouth where we had researched two free campsites. The first one was rather unpleasantly situated at a busy intersection and was already almost full. So we decided once again to park in a lot by the beach, hoping that the wind would die down a bit.</p>
  </div>
</div>
