---
layout: blog/en/travelblog
title: "Yha Railway Square in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP6534_harbour_bridge.jpg"
alt: "The just huge Harbor Bridge in Sydney"

overview:
  intro: "Hello everyone. This time I would like to report on my time in the Yha Railway Square and what went wrong there. On my second arrival in Sydney I was more lucky with the hostel I had chosen. I had chosen the Yha Railway Square for two reasons. First, this accommodation is part of the Australian youth hostel association. That means I get a nice discount because I am a member and you can expect a certain minimum level of quality. Second, you get the opportunity to stay in the railway car or in the building. Furthermore, this hostel even has an outdoor pool that I unfortunately never used. Either the weather was stupid or I was busy."
  image:
    url: /assets/img/blog/auszeit/small/20121206-141807.jpg
alt: "Right behind the car is track 1 of the main station"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-141807.jpg" alt="Sleeping car">
  </div>
  <div class="col-md-8">
    <p> Hello everyone. </p>
    <p> This time I would like to report on my time in the Yha Railway Square and what went wrong there. </p>
    <p> On my second arrival in Sydney I was more lucky with the hostel I had chosen. I had chosen the Yha Railway Square for two reasons. First, this accommodation is part of the Australian youth hostel association. That means I get a nice discount because I am a member and you can expect a certain minimum level of quality. Second, you get the opportunity to stay in the railway car or in the building. Furthermore, this hostel even has an outdoor pool that I unfortunately never used. Either the weather was stupid or I was busy. </p>
    <p> I had booked the first nights in my sleeping car. It turned out that the cars were separated by glass walls, standing right next to the track 1 of the Sydney Hauptbahnhof and thus actually overnight in the train station;). The hostel solved it super. Nice idea only sometimes made it difficult to fall asleep. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> For the second week in the hostel I had booked a weekly package, which brought me from the 8 bed to a 4 bed room. But I should move again for the last night. Unfortunately, that went wrong. The hostel changed their plans and now wanted me to turn into another room for a day. This is also fundamentally not a problem, only that you missed me to let me know. In the hostel, however, everyone assumed that I knew. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Steam locomotive" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-141709.jpg">
  </div>
  <div class="col-md-8">

    <p> So I went out of the door as normal in the morning and thought nothing. Since I had not deposited my cell phone number in the hostel, they couldn't call me and ask why I didn't change. So the hostel opened my value and deposited my valuables at the reception and left me a note that I would like to report. </p>
    <p> Of course you can imagine how mad I was when I found the note. Of course, the reception had simply stuffed all my things in garbage bags. Thus, the toothpaste on the lens of my camera was crushed from the tripod. I didn't even apologize to me, but after it turned out that the error was at the hostel, I at least got a new padlock free of charge because they had destroyed mine to clear out my closet. </p>
    <p> So I was more likely to put it into the room, for a day. In this room I spent the two booked and paid nights and then I was finally able to move into the apartment. </p>

  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Steam locomotive" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-141709.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121206-141734.jpg" alt="Young woman stands in the sunset">
  </div>
  <div class="col-md-8">
    <p> During these two weeks I learned a group of Germans with whom I spent my free time. We went out to eat together, for weekly fireworks or cooked together. When cooking, we always found that there was apparently someone in the hostel stealed the food. As good as every day, someone from our team was missing. It was a wide variety of things. Sometimes it was tomatoes, sometimes eggs and even the entire bag with food. I even got away quite lightly. I only got ketschup away. Unfortunately, my iPhone loading edges lost. But I cannot say with certainty whether I lost it on the way from the lounge area to my room or whether someone deliberately stolen it to me. </p>
    <p> I had summarized for two really pleasant weeks in the Yha Railway Square. The quality is right for the really good price. The location is great. The staff is usually friendly and on Wednesdays there is free of charge pancakes for breakfast. I met nice people during time. Mostly Germans. Two boys belonging to this group, I should unexpectedly meet again a few weeks later. But more about that later. </p>

  </div>
</div>
