---
layout: blog/en/travelblog
title: "New Zealand: Rotorua - Taupo"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Rotorua
  - Taupo

overview:
  intro: "Since the night was quite cold, I decided to get up early in the morning and drive to the lake. There I got some really nice motifs in front of the lens."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-73.jpg
alt: "The cable car near Rotorua"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-83.jpg" alt="I in a soap box">
  </div>
  <div class="col-md-8">
    <p> Since the night was quite cold, I decided to get up early in the morning and drive to the lake. There I got some really nice motifs in front of the lens. Among other black swans and beautiful buildings. </p>
<p> Then I drove back to Skyline and finally treated myself to the soap boxes. The entry ticket cost $ 41 (&euro; 27) for the gondola ride plus 3 times soap box drive on 3 different routes. I can tell you that is really fun and is really recommended. There is a lot more to see and discover up there. The view of the city is of course not of bad parents. You can spread a lot of time there in good weather. </p>
<p> But now it was almost noon and I had an appointment with Sam near Taupo. So back down from the mountain and off to the street. The route to Taupo was really relaxed. Arrived at the campsite, I also found Sam quite easy. She was sitting on the river and ate lunch. The square was super well maintained and really well located between the mountains and the river. A few hundred meters down the river is even a very strong waterfall. After a little relax, we decided to go to the city again and go to the tourist information to see whether the routes to 3 volcanoes that we wanted to look at the morning are free. </p>

  </div>
</div>
