---
layout: blog/en/travelblog
title: "Packing My Bags: What to Take?"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "My world right now is nothing but lists, lists, and more lists. I have a todo list, a bookmarks list, an 'after the trip' list, and several others. Today, I need help with my packing list. But first, the important question: 'How much can I actually take to Australia?' Qantas follows pretty standard allowances. In Economy Class, you're allowed one checked bag and one piece of carry-on luggage. The checked bag can weigh up to 23 kg and must not exceed 158cm in total dimensions."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>My world right now is nothing but lists, lists, and more lists. I have a todo list, a bookmarks list, an "after the trip" list, and several others. Today, I need help with my packing list.</p>
        
        <p>But first, the important question: "How much can I actually take to Australia?" Qantas follows pretty standard allowances. In Economy Class, you're allowed one checked bag and one piece of carry-on luggage. The checked bag can weigh up to 23 kg and must not exceed 158cm in total dimensions. The carry-on luggage is more restrictive than many other airlines - it can only weigh 7kg and must not exceed 115cm in total dimensions. Additionally, it needs to fit within 56cm x 36cm x 23cm to fit in the overhead compartments or under the seats. These total dimensions (158cm and 115cm) are calculated using the simple formula: length + width + height = total dimensions.</p>
        
        <p>I haven't decided yet what I'll take as carry-on and what I'll check. I think that will depend on what I end up taking with me. I do have several options for carry-on bags to choose from. The checked luggage is actually giving me more concern. My hiking backpack is a bit small (50 liters) to check, and I don't own a large suitcase. I'm also not sure if I even want to deal with a big suitcase.</p>
        
        <p>I suppose I should make my packing list first and then figure out how to organize everything:</p>
        
        <ul>
            <li>Clothes for 3-4 days</li>
            <li>Toiletry bag</li>
            <li>First aid kit</li>
            <li>Hiking boots</li>
            <li>Electric razor + charger</li>
            <li>Horse riding gear (at least the gaiters)</li>
            <li>Multi-tool + pocket knife</li>
            <li>Laptop</li>
            <li>Camera + tripod + accessories</li>
            <li>Power strip (at least the 3-outlet one)</li>
            <li>Nokia charging cable</li>
            <li>iPhone charging cable</li>
            <li>Car charger + adapter</li>
            <li>USB car charger</li>
            <li>iPhone battery packs</li>
        </ul>
        
        <p>I have that feeling again that I'm forgetting something really important. Please leave a comment or send me an email if you notice anything I've forgotten. Also, I'd be extremely grateful for suggestions on how to transport all this stuff. What kind of suitcases/backpacks would you take on a trip like this?</p>
        
        <p>That's all for today.</p>
        
        <p>Until next time,<br>Your Basti</p>
    </div>
</div>
