---
layout: blog/en/travelblog
title: "Smaller starting difficulties"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland
  - Rotorua

overview:
  intro: "Today, as promised, I report on the miesere like me in Auckland by bus for car rental. When I started out of the hostel in the morning towards the bus stop, I found that there was no stop there. I then searched the street in the direction of travel and hoped to be at the next stop before the bus. Unfortunately I hoped in vain, because the bus raced past me when I was only 50m away from the stop."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-48.jpg
alt: "The small motorhome for the next few weeks"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-48.jpg" alt="The small motorhome for the next few weeks">
  </div>
  <div class="col-md-7">
    <p> Today, as promised, I report on the miesere like me in Auckland by bus for car rental. When I started out of the hostel in the morning towards the bus stop, I found that there was no stop there. I then searched the street in the direction of travel and hoped to be at the next stop before the bus. Unfortunately I hoped in vain, because the bus raced past me when I was only 50m away from the stop. </p>
    <p> I then decided to go to the next big main street and drive south with another bus and then take a taxi from there. This shouldn't be quite as easy either. The bus was less the problem this time. Arrived at the motorway entrance, I called the taxi center from Auckland and ordered a taxi. The guy at the other end told me that it took at least 30 minutes for a taxi to come. Great. </p>
    <p> So now I stood there on the roadside in front of the motorway entrance and waited for my taxi. And waited. And waited. After a while, a big friendly, looking young woman with freckles came up to me and ask Caf&eacute; clever whether I would hitchhike because I would wait for so long. I told her about my misery and before I knew I was sitting in her car in the passenger seat. She drove me directly to the car rental. On the way there we talked about Ireland and the band Mumford &amp; Son, which we both think is great. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> After discontinuing me directly in front of the building of turning circles car rental Auckland, I went into it that the lady had no booking under my last name. She also had no booking under Sebastian. I started to sweat. I rested my booking confirmation from the suitcase and hoped. I finally paid almost $ 1,000. After looking at the computer, it was clear that the booking was okay. Only the names were reduced. She couldn't find the paper booking because Sebastien booked and not my last name. After that everything was pretty simple. All necessary papers were quickly done. The car was already ready for departure. </p>
    <p> Next stop rotorua. But more about that next time. </p>
  </div>
</div>
