---
layout: blog/en/travelblog
title: "New Zealand: From Haast to Mount Cook"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Haast
  - Mount Cook
  - Wanaka

overview:
  intro: "Today was a special day, though for a somewhat bittersweet reason. Unfortunately, it was our last day traveling through New Zealand together. We were lucky once more with dreamy weather and a truly beautiful route along two enormous lakes."
  image:
    url: /assets/img/blog/auszeit/small/20121031-083254.jpg
    alt: "The lake near Wanaka"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-083254.jpg" alt="The lake near Wanaka">
  </div>
  <div class="col-md-8">
    <p>Today was a special day, though for a somewhat bittersweet reason. Unfortunately, it was the last day that Sam and I would be traveling through New Zealand together. We were lucky once more with dreamy weather and a truly beautiful route along two enormous lakes.</p>
    <p>We had to search a bit for our campsite in Wanaka. We were already on the right street but doubted there was anything more than a gravel road there. Only when another camper drove toward us did we realize we were in the right place. So far, this campsite has been the best. We secured spots with a fantastic view over the lake and mountains.</p>
    <p>After the usual emptying and filling of water tanks, we decided to drive into town in just one car and go out for dinner. It was, after all, our last evening together. We found a pub with a view of the lake and treated ourselves to a good meal.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Since Sam's birthday was coming up soon, I had bought her a travel guide for the Lord of the Rings filming locations. This way she could find and visit other filming sites along her route. For the rest of the evening, we sat in our cars and talked about what each of us wanted to do over the next few days and where our journeys would take us.</p>
    <p>The next morning, the time had come. Our paths were about to separate indefinitely, as Sam had three months to travel while I needed to gradually make my way toward Christchurch. After more than two years of good friendship and countless weekend trips, it was hard to say goodbye. During that time, we had climbed many mountains and wandered through even more valleys. We had explored countless cities and regions by car and on foot, sometimes even by boat. We'd traveled to Sligo to learn horseback riding on the beach, visited countless pubs, and enjoyed Irish culture together. All of this was now coming to a pause for an indefinite time, as neither of us knew whether or where we would see each other again. I certainly hope it won't be too long.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-084018.jpg" alt="Sam on horseback in Sligo">
  </div>
  <div class="col-md-8">
    <blockquote class="text-righ bq-green">Sam, I wish you the best of luck and success in the next chapters of your life. I hope you find your dream job and that you won't miss our beloved Ireland too much. I'll definitely miss you and our adventures together.</blockquote>
    <p>Sam decided to continue toward Queenstown while I headed for Mount Cook. The route to Mount Cook was relatively easy, through plains and valleys, and thanks to a good audiobook, the time passed quickly. When I arrived at Mount Cook, I first went to the tourist information center to check the weather. Since they predicted overnight frost and winds up to 130km/h (80mph), I decided to drive 20km back to spend the night at a sheltered campsite with electricity for heating and hot water for showers. Well, the showers were a bit pathetically low - I could easily look over the top of the cubicle partition while standing, and had to crouch down to wash my hair. But the view of Mount Cook the next morning would make up for a lot of inconveniences. More about that later.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121031-084018.jpg" alt="Sam on horseback in Sligo">
  </div>
</div>
