---
layout: blog/en/travelblog
title: "Travel scenarios in detail"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "Here as promised, for you the two trip scenarios illuminated in detail. Both begin and end largely the same and can therefore be summarized. The beginning in New Zealand is the plan in early October, probably around October 8th, from Hamburg via London and Singapore towards Auckland, New Zealand. The travel time will be almost 2 days, plus the time shift from then +11 hours. Once there, a rented camper van should be waiting for me the next day at the latest. I would like to get the car directly on the same day so that I can jump in directly. Off to the next beach and make me undisturbed. I assume that after the long flights I will be quite flat and annoyed."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m60!1m8!1m3!1d12320737.826805418!2d165.37966947074187!3d-41.06915366893261!3m2!1i1024!2i768!4f13.1!4m49!3e0!4m5!1s0x6d0d47fb5a9ce6fb%3A0x500ef6143a29917!2sAuckland%2C+New+Zealand!3m2!1d-36.8484597!2d174.7633315!4m5!1s0x6d6ea9067b8616bb%3A0xde3bfe719f4a10cf!2s4188+SH+5%2C+Mihi+3083%2C+New+Zealand!3m2!1d-38.4770627!2d176.3017341!4m5!1s0x6d6b01c0f7329c8d%3A0x2f485442ac782e1d!2sBruce+Rd%2C+Tongariro+National+Park+4691%2C+New+Zealand!3m2!1d-39.2163841!2d175.5440309!4m5!1s0xa9d51df1d7a8de5f%3A0x500ef868479a600!2sQueenstown%2C+New+Zealand!3m2!1d-45.0311622!2d168.6626435!4m5!1s0xa9d3f2390ff0c3cd%3A0xb4ae05168f20bfb!2s2427+Blackmount-Redcliff+Rd%2C+Whare+Creek+9679%2C+New+Zealand!3m2!1d-45.6691043!2d167.67526909999998!4m5!1s0xa9d2c7ac550ffe4f%3A0xd7c9ecb10f95515!2s1300+Bluff+Hwy%2C+Woodend%2C+Awarua+9877%2C+New+Zealand!3m2!1d-46.5036713!2d168.3659571!4m5!1s0xa82be4e00f5f513d%3A0x500ef8684799941!2sDunedin%2C+New+Zealand!3m2!1d-45.8787605!2d170.50279759999998!4m5!1s0x6d322f4863c5ed01%3A0x500ef8684799945!2sChristchurch%2C+New+Zealand!3m2!1d-43.5320544!2d172.6362254!5e0!3m2!1sen!2sus!4v1492954445241" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p> Here as promised, for you the two trip scenarios illuminated in detail. Both begin and end largely the same and can therefore be summarized. </p>

        <h2> The beginning in New Zealand </h2>
        <p> So the plan is to fly at the beginning of October, around October 8th, from Hamburg via London and Singapore towards Auckland, New Zealand. The travel time will be almost 2 days, plus the time shift from then +11 hours. Once there, a rented camper van should be waiting for me the next day at the latest. I would like to get the car directly on the same day so that I can jump in directly. Off, make the next beach and make me undisturbed. I assume that after the long flights I will be quite flat and annoyed. <!--more-->
        </p><p> The next day I will meet Sam because she gets the order for us to get SIM cards so that we can coordinate when and where we want to meet. Furthermore, of course, to send GPS data and Twitter/blog posts via mail here and there. </p>
        <p> In the next 14 days it should be quite casual with the motorhomes across both islands. So in between we have to translate the ferry from the north to the south island. </p>
        <p> The goal of my 14 -day trip will then be Christchurch, which should be one of the largest cities on the South Island. Sam will present her camper van Reise for another 26 days. In turn, I will give back my car in Christchurch and maybe explore Christchurch on foot for another day or 2 before going to Australia. </p>
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-12">
        <h2> Scenario 1: I get 3 months of vacation </h2>
        <p> This scenario is quite simple and short because I have not really assumed my vacation for months. In this case, I will either fly to the west coast in the north of the east coast in the north of the east coast or to Perth. Buy or rent a camper van there and drive back to Sydney. Always stop when I feel like it or it's worth it. Just enjoy the beauty of nature and the coast. What about work? Well we will see that on site. Which is the case for backpackers. In any case, I would like to go to a training farm. With or without a subsequent job on a real farm. New Year's Eve should then be celebrated in Sydney; With huge fireworks and such. From there back to Ireland, it should go over Hamburg again. Visiting your loved ones and hopefully showing a lot of tan and many experiences. </p>

        <h2> Scenario 2: I have to give up my job </h2>
        <p> Here the topic is already more complex. So before I even break towards Oceania, I break off all tents here in Ireland and bring all my things to Germany to my warehouse. At the beginning of October as described above to New Zealand. At the end of October I would fly from Christchurch to Sydney. </p>
        <p> Once there, first to see that I get my papers sorted and find a job in my job. According to relevant websites, these are quite well sown and paid just as well. (Hope that the data is correct). Of course I will try to find a good job on site from home. With this job I would stay in Sydney until New Year's Eve to look at the huge fireworks. </p>
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m30!1m8!1m3!1d6624036.767220218!2d148.05456100000004!3d-35.839367!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%2C+New+South+Wales%2C+Australia!3m2!1d-33.868819699999996!2d151.2092955!4m5!1s0x6b164d69b05c9021%3A0x500ea6ea7695660!2sCanberra%2C+Australian+Capital+Territory+2601%2C+Australia!3m2!1d-35.2809368!2d149.1300092!4m5!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%2C+Victoria%2C+Australia!3m2!1d-37.8136276!2d144.96305759999998!5e0!3m2!1sen!2sus!4v1492955402891" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p> In January I would like to go to Melbourne by bus from Sydney. The bus tickets costs approximately $ 100 (approx. 85 &euro;) for the total of almost 1000km and the travel time is approximately 12 hours. On the way there, a stopover in Canberra is planned for a day or two with a cultural program. </p>
        <p> In Melbourne I might want to stay for about one to two weeks and visit the cliffs 'twelve apostles' from there and look at the wild penguins. But I think that a full 2 &#8203;&#8203;weeks could be too long for me. </p>
        <p> It is planned to fly from Melbourne to Perth and to stay there for a few days. After all, Perth is said to be one of the most beautiful cities in Australia. It is planned to buy a camper van there. After a few final security checks, this starts towards Adelaide. A total of over 2,500km. </p>
        <p> Most of it on Highway 1 along the south coast. On the way there I would like to watch some of the many hopefully beautiful wineries and whiskey distilling and, if possible, would also be happy to work there. </p>
        <p> Adelaide is also a stage destination on my piece of paper, as there should be pandas in the Zoo there. If necessary, I would try to find a job in my job again and stay there for a few weeks. If the camper van has aroused enough trust in me and find one or two passengers, it should then go from the outback through the outback via Alice Springs (Ulluru) to Cairns. I have already selected alternative route along the east coast via Sydney and Brisbane for Cairns. But I hope that I can drive through the desert to the rainforest. </p>
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> The rainforest is one of the places that I really want to see on my trip through Australia. There is the Daintree National Park near Cairns. I hope to find one or the other good group day trip to the rainforest somewhere. I would like to experience and photograph nature there in its purest form. From Cairns it should then go south along the Great Barrier Reef. It is my plan to visit the reef how under water. </p>
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m54!1m8!1m3!1d29395787.189780723!2d134.711318!3d-25.923634!3m2!1i1024!2i768!4f13.1!4m43!3e0!4m5!1s0x2a32966cdb47733d%3A0x304f0b535df55d0!2sPerth%2C+Western+Australia%2C+Australia!3m2!1d-31.9505269!2d115.8604572!4m5!1s0x2a38234ac3375271%3A0x712519290cdd7173!2s2588+Gnowangerup+-+Jerramungup+Rd%2C+Kebaringup+WA+6335%2C+Australia!3m2!1d-34.030023!2d118.227121!4m5!1s0x6ab735c7c526b33f%3A0x4033654628ec640!2sAdelaide%2C+South+Australia%2C+Australia!3m2!1d-34.9284989!2d138.60074559999998!4m5!1s0x2b321944be8f1331%3A0x50217a82a254fd0!2sAlice+Springs%2C+Northern+Territory+0870%2C+Australia!3m2!1d-23.698041999999997!2d133.8807471!4m5!1s0x697862555ba22413%3A0x400eef17f207860!2sCairns%2C+Queensland%2C+Australia!3m2!1d-16.9185514!2d145.7780548!4m5!1s0x6b91579aac93d233%3A0x402a35af3deaf40!2sBrisbane%2C+Queensland%2C+Australia!3m2!1d-27.469770699999998!2d153.0251235!4m5!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%2C+New+South+Wales%2C+Australia!3m2!1d-33.868819699999996!2d151.2092955!5e0!3m2!1sen!2sus!4v1492955989957" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p> Near Brisbane there is a very interesting sounding training farm. If I shouldn't have come across another training farm beforehand, I would like to complete the farm training there. If, by chance, an interesting sounding job on a farm should be free somewhere, I would be all the more happy. I would like to work with horses if possible. </p>
        <p> At some point at the end of April, the plan will be returned to Sydney. </p>

        <h2> The return trip and the time afterwards </h2>
        <p> In the last weeks / months of my trip I will start to search for new jobs in Europe more intensively. When I got back to Sydney, I want to sell the camper van and slowly prepare for my return trip. So make Australian tax returns, unsubscribe an account if no longer needs and what else is part of it. If nothing shifts in time, the plan is to fly towards Hamburg again at the end of April 2013. </p>
        <p> I hope to find a good job somewhere after my little trip through Australia. I also do not want to rule out that I am applying for my current company again. Basically, the job here is fun and Ireland is just incredibly beautiful. Alternatively, Hamburg, Rostock, Vienna and generally the mountainous regions of the German -speaking area. A good train or flight connection towards the family. </p>
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-12">
        <h2> Summary </h2>
        <p> In total, it should have been well over 12,000 km track with 2 camper van. Over 1000km by bus. I should then have visited both main islands of New Zealand and all 5 regions of the Australian mainland. I flown at least 4 times., Hopefully with an Airbus A-380. So sounds like an exciting time. I can hardly wait! </p>
        <p> So now you are also up to date with the or better the travel plans. </p>
        <p> See you soon. <br> Your basti </p>
    </div>
</div>
