---
layout: blog/en/travelblog
title: "New Zealand: Taupo - Wanganui"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Taupo
  - Wanganui

overview:
  intro: "In the morning I decided to take a look at the hot springs in Taupo and maybe go swimming in it. According to the tourist information and some websites, there should be 2 sources in Tapo."
  image:
    url: /assets/img/blog/auszeit/small/20121024-001527.jpg
alt: "The fate from the Lord of the Rings"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001527.jpg" alt="The fate from the Lord of the Rings">
  </div>
  <div class="col-md-8">
    <p> In the morning I decided to take a look at the hot springs in Taupo and maybe go swimming in it. According to the tourist information and some websites, there should be 2 sources in Tapo. One where you have to pay and the second is free of charge. So I preferred to go to the free. Sam also wanted to come along right away. So we drove there. The sources are even well signposted to the parking lot. But unfortunately no longer. </p>
    <p> After walking around the area for about an hour and yet found only a small stream that looked like warm water, we decided to let it be and make our way. After all, we still had 3 volcanoes to visit and drive over several mountain passes. </p>
    <p> Shortly after Taupo, the route started to become more difficult. She walked many km along steep cliffs above a huge lake before going to the mountains. In the mountains we saw the first volcano of the day (Tongario). Only from a long time but closer to this I didn't necessarily want to. This volcano was just active and broke out just a few weeks earlier. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001600.jpg" alt="A nice waterfall for noon">
  </div>
  <div class="col-md-8">
    <p> Then it went across a huge level. Always the 3 volcanoes on the left of us. At the second volcano we already dared to take our foot and hoped for a few good photos. This volcano and the plane in front of it have become known through the film Lord of the Rings. The area is in the film Mordor and the volcano is the ring in the film in the film in the Frodo. We were told that some people buy such a ring for $ 100 (65 &euro;), hike up the volcano and throw the ring into it. You have to say that the volcano is not active and covered by snow. Well if you think. </p>
    <p> At the third and highest volcano of the day (FLUMAPEU) we went to everything and drove as far as possible. At the base station at a height of 1630m, driving was over. Up there we drove a few meters through already melting snow. Unfortunately, we did not go up the mountain because the chair lifts were no longer in operation. We didn't feel like it on foot, because it was very cold and the summit was more over 1000m higher. </p>
    <p> We would rather decide to make lunch at the foot of the mountain with more pleasant temperatures. I found a parking lot near a very nice waterfall, which we visit in front of the food. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001600.jpg" alt="A nice waterfall for noon">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001841.jpg" alt="Green hills as far as the eye can see">
  </div>
  <div class="col-md-8">
    <p> The path there went through beautiful dense forest and bush landscape. Always with a view of the second volcano. After eating, we were even lucky that the clouds on the volcano were almost completely disappeared and we still got photos of the second volcano in full size. Only the third refused to come out of the clouds throughout the day. </p>
    <p> After a few last photos we made our way to Wanganui. The road there led us through the level before we drove through a mountain landscapes covered with meadows. Sheep pastures as far as the eye can see. The first time I saw sheep in New Zealand. Before that, I only passed cattle farms. When we arrived in Wanganui, we decided to drive to the paid campsite, as the free one lay directly on a railway line and was somehow not nice. </p>
    <p> The way to the other campsite led through an industrial area and then through a somewhat dilapidated area. When I arrived at the campsite, I asked the Lord at the reception whether the whole city looks like this or whether there was a nicer city center somewhere. He showed us on a card and told us what else could be done. We may decide to take a look at the next day. What we experienced in Wanganui the next day I'll tell you tomorrow. </p>
  </div>
</div>
