---
layout: blog/en/travelblog
title: "New Zealand: Saint Arnaud - Greymouth"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Greymouth
  - Saint Arnaud
  - Westport

overview:
  intro: "When I got up in the morning after a hot night the sun was already outside and the clouds were largely disappearing. The night was hot because I had set the heating too high and too lazy to turn it down at night."
  image:
    url: /assets/img/blog/auszeit/small/20121029-012159.jpg
alt: "Farn palm in the rainforest at the Pancake Rocks"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012159.jpg" alt="Farn palm in the rainforest at the Pancake Rocks">
  </div>
  <div class="col-md-8">
    <p> When I got up in the morning after a hot night the sun was already outside and the clouds were largely disappearing. The night was hot because I had set the heating too high and too lazy to turn it down at night. </p>
    <p> As I said, the morning was nice and cool, at least outside of my motorhome. I took a few more souvenir photos before we took care of the cars. We let off dirty water and replenished clean water. Since we did something like that for the first time, it took a little longer. So we started very late. </p>
    <p> We had looked for two possible routes for Greymouth for the day. The first would be a good bit longer, but it didn't seem as exhausting as the second route. The second would be a good bit shorter but very curvy along the coast and probably also the nicer one. Before we had to decide, we had to drive 100km to the fork. Once there, we quickly decided to take the more strenuous but more beautiful route via Westport. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012252.jpg" alt="Basti between the pancacks rocks">
  </div>
  <div class="col-md-8">
    <p> In Westport we only quickly went to the tourist information that we told that we shouldn't dawdle for so long if we wanted to experience the blowholes on the Pancake Rocks live and in action, as they are only really fun with certain tides and wind directions. </p>
    <p> So we only fueled up quickly because there is no tank on the next 100km. The route to the Pancake Rocks is curvy but beautiful. You would actually like to stop, in the middle of the most dangerous curves, just stop and enjoy the sight of the rainforest and the coast around you. We drove through tropical rainforest there. The trees and palm trees are not as high as I had imagined, but the density of the forest and the biodiversity is simply the bare madness. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012252.jpg" alt="Basti between the pancacks rocks">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121029-012244.jpg" alt="A blowhole on the Pancake Rocks in action">
  </div>
  <div class="col-md-8">
    <p> We arrived half an hour after flooding and, thanks to the good west wind, we could still see the blowholes in action. It is a few hundred meters from the parking lot to the Pancake Rocks through rainforest. The path there only takes as much space as a person needs. To the left and right of only untouched nature. Then suddenly you stand in front of the rock formations. The Pancake Rocks are called that because they look like someone stacked several oversized pancakes on top of each other. </p>
    <p> In addition, there are also several caves, channels and gaps between rocks. These then create these water fountains. A wave breaks in a cave from one direction and creates spray. From a second direction there is a wave and increases the water level so suddenly that the pressure upwards becomes so strong that the spray is pressed out through the rock column. Really a nice sight and you can hear very well what pressure behind it. </p>
    <p> After some time and countless photos we continued towards Greymouth where we had searched for two free campsites. The first was very modest at a busy intersection and was almost full. So we decided to park again in a parking lot on the beach in the hope that the wind will let up a little. </p>
  </div>
</div>
