---
layout: blog/en/travelblog
title: "Two More Weeks in Ireland"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - Hamburg
  - Ireland
  - New Zealand

overview:
  intro: "It's Saturday, and I'm sitting in a quiet café in Dublin city center. It just hit me that in two weeks, I'll be leaving Ireland indefinitely and heading back to Hamburg. I find myself reflecting on everything I've experienced here over the past two years - all the people I've met, the fun times we've had, those who've already left the country, and those who will be leaving in the coming days."
  image:
    url:
alt: ""
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>It's Saturday, and I'm sitting in a quiet café in Dublin city center. It just hit me that in two weeks, I'll be leaving Ireland indefinitely and heading back to Hamburg. I find myself reflecting on everything I've experienced here over the past two years - all the people I've met, the fun times we've had, those who've already left the country, and those who will be leaving in the coming days.</p>
    
    <p>Just three and a half weeks until I fly to New Zealand and Australia to begin my adventures there. Still, the approaching farewell to this wonderful chapter of my life weighs more heavily on my mind with each passing day. I can only hope that the next chapters will be just as wonderful, if not even better. There's also the sometimes unsettling reality that I won't have a steady job for several months, and possibly won't be earning any money. But that's all part of the plan, and hopefully, I've prepared well enough for it.</p>
    
    <p>To keep from getting too melancholy, I've been spending a lot of time online reading interesting stories and travel blogs about New Zealand and Australia. Yesterday, I came across a list of bizarre and seemingly pointless Australian laws.</p>
    
    <p>My personal top 5:</p>
    <ul>
      <li>You must never leave your car keys in an unattended vehicle</li>
      <li>Walking on the right side of a footpath is illegal</li>
      <li>An internet modem must not answer on the first ring (Fine: AU$12,000)</li>
      <li>You need a taxi to transport a bundle of hay in the trunk</li>
      <li>Sex with a kangaroo is only legal if you're drunk</li>
    </ul>
    
    <p>Little quirky things like this and all the amazing travel stories make my excitement about Australia soar again. I'm really looking forward to spending six months there. But first, I'm heading to New Zealand with Sam, which I'm also super excited about. And even more than that, I'm looking forward to spending 10 days in Germany with my family.</p>
    
    <p>Right, time to get my butt outside and enjoy these last few days in this wonderful country!</p>
    
    <p><small>Source: <a href="https://www.sinnlose-gesetze.de/" target="_blank">https://www.sinnlose-gesetze.de</a></small></p>
  </div>
</div>
