---
layout: blog/en/travelblog
title: "My first post in the new blog"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - Belgium
  - Germany
  - France
  - Ireland
  - New Zealand
  - Netherlands

overview:
  intro: "This is my first real post in the new blog. Well, what should I write here? I hope I'll get back into the habit of sharing my travel experiences here."
  image:
    url: /assets/img/sebastian_thoss.jpg
    alt: "A photo of Sebastian Thoß"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/sebastian_thoss.jpg" alt="Photo of Sebastian Thoß">
  </div>
  <div class="col-md-9">
      <p>
          <span class="dropcap">T</span>his is my first real post in the new blog. Well, what should I write here? I hope I'll get back into the habit of sharing my travel experiences here.</p>
      <h3>About Me</h3>
      <p>I'm Basti and I'm addicted. Addicted to traveling.
          I want to see the world while I'm still young, healthy and independent.
          Well, the "young" part might be debatable - I was born in 1982 after all.
          I originally come from northern Germany,
          but currently live and work in Ireland.
          I work in IT.
          So I'm a proper office worker, but not a nerd.
          Whether you believe it or not, I love my job almost as much as traveling.
          After all, it finances everything.
          I've already traveled to quite a few countries and seen quite a lot.</p>

      <h4>Countries I've Visited</h4>
      <p>Germany, Netherlands, Belgium, France, Spain, Portugal, Italy, Switzerland, Austria, Hungary,
          Czechoslovakia, Romania, Poland, Denmark, Ireland (ROI) &amp; Northern Ireland (NI), Scotland,
          England &amp; USA.</p>

  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/sebastian_thoss.jpg" alt="Photo of Sebastian Thoß">
  </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-12">
        <p>I've been to all of these countries. Some I've only seen from the window of a car or truck. Others I've hiked through, and some I've been fortunate enough to call home. But I want to see so much more of the world. The world is vast, wide, breathtakingly beautiful and, most importantly, very friendly and welcoming to travelers.</p>
        <p>My next big plan is to go to Australia to live there for a few months and, most importantly, to travel. While there, I want to fund my travels through occasional work in my profession and on farms. Thanks to the Working Holiday Visa, this isn't a problem. In Germany, it's better known as "Work and Travel". This is also the main reason why I'm starting this blog - to keep my loved ones updated on everything. Both during the planning phase and later while traveling. I really hope to show my loved ones that I'm doing well and that they don't need to worry too much!</p>
        <p>I'll categorize my posts by location to make it easier for my family to filter out the German posts. I'll sometimes post via email and sometimes directly from my computer.
            I've also set up a Twitter profile so I can send you quick updates. For those of you who don't have a Twitter account, <a href="https://twitter.com/dj_thossi">here's</a> the link to my profile: <a href="https://twitter.com/dj_thossi">https://twitter.com/dj_thossi</a>.
            I'll post notifications on Facebook and Twitter whenever I write something new. That should cover all the important channels.</p>
        <p>What else is there to tell about me? Not much that's relevant here. Maybe just one more thing: most of my friends and family know that I wasn't exactly the brightest student in German class. So please forgive me if I make spelling and grammar mistakes in English. I'll do my best and try to proofread all my posts and use spell-checking programs.</p>
        <p>Well, this first post has turned out a bit longer than planned. Oh well, never mind. So sit back and enjoy the show!</p>
        <p>Greetings from Dublin<br>Basti</p>
        <p>PS. To my family: 'Keep on Smiling'!</p>
    </div>
</div>
