---
layout: blog/en/travelblog
title: "Visa? The most important thing about my trip"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "Today I would like to report on how I came to my visa and what I had to consider and plan. So as reported before, I chose Work and Travel in Australia. For this, however, I need a Working Holiday Visa for Australia instead of a normal tourist Visa. What is a Working Holiday Visa and what can I do with it? With this visa you can stay in Australia from the first entry for up to 12 months. During this time you can go out and leave as often as you want. Work is basically allowed in all professions with time restrictions of 6 months per employer. Studying is no problem up to a length of 4 months."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> Today I would like to report on how I came to my visa and what I had to consider and plan. So as reported before, I chose Work and Travel in Australia. For this, however, I need a Working Holiday Visa for Australia instead of a normal tourist Visa. </p>
        <p> What is a Working Holiday Visa and what can I do with it? </p>
        <ol>
            <li> With this visa you can stay in Australia from the first entry for up to 12 months. </li>
            <li> During this time you can go out and leave as often as you want. </li>
            <li> Work is basically allowed in all professions with time restrictions of 6 months per employer. </li>
            <li> Studying is no problem up to a length of 4 months. </li>
        </ol>
        <p> It all sounds pretty nice. But the visa also has some rules that you have to stick to. </p>
        <ol>
            <li> The application costs 280 AU $ (approximately &euro; 240) and is not refundable. </li>
            <li> You have to be German citizens and have a German passport. For other nationalities, it is also possible to apply for such a visa. </li>
            <li> You can only apply for a Working Holiday visa (First Year) once in life. </li>
            <li> You have to be at least 18 years old on the day of the application. </li>
            <li> You have to be younger than 31 years old on the day of the application. </li>
            <li> You have to be outside of Australia when applying. </li>
            <li> After the visa has been approved, you have to enter Australia within 12 months so that the visa is activated. </li>
            <li> You shouldn't work for one and the same employer for more than 6 months </li>
            <li> You shouldn't study in Australia for more than 4 months. </li>
            <li> You have to show $ 5,000.00 when you enter. </li>
        </ol>
        <p> So these are the basic rules and also the most important ones. In addition, it may be possible that the authority asks for further documents. In the case of criminal records or if you want to work in the school and medical field, it is probably that the authority asks for other documents such as a certificate of good conduct or health certificate. </p>
        <p> Under certain circumstances, it is possible to apply for a second working holiday visa. The rules are fundamentally the same. In addition, you must have done a so -called qualifying job for at least 3 months during the first year. This means that, for example, on a farm, a fishing boat, a mining company or on the building you must have worked to get the application for a second visa and thus for a second year in Australia. </p>
        <p> Since I have no criminal records and not to work in the school or medical area and have followed all other rules and will also be observed, the Working Holiday visa is simply perfect for me. Now the question arose how I have to apply for this visa. The website of the immigration authority offers 2 options ... by post or online. First I looked at the variant by post and read the application well to find out whether and which documents I need for the application. I found that you only need your passport and if available, a identity card for the printed variant of the application. Of course I didn't have my passport with me. </p>
        <p> The next day I also had my passport with me. During the lunch break, I decided to fill out the application online because it is faster and easier. The questions were largely the same and quite easy to understand. I gave my mother as an additional address, since it could be that further communication is needed while I am already in Australia. At the end of the application it had to be saved and then of course the payment function followed. So I have already paid the 280 AU $ by credit card and without stress. </p>
        <p> After I finished the application and saw the confirmation page, a lot to me that the online application was not asked about my email address and my ID card. On the confirmation page, however, a link via this one could be given additional information and viewed the current status. I followed this link. After identifying myself using personal data and a transaction number, I saw an overview of my application. There are three entries there </p>
        <ol>
            <li> Application received = application received </li>
            <li> Application Fee Received = fee received </li>
            <li> Application approved = application approved </li>
        </ol>
        <p> I just thought. HOW? Application approved? Already? Wow! That went fixed. It only took a few minutes for my application to be approved. I was a little flat. I had expected at least 2 to 3 days before I get let me know. But then went in a few minutes. </p>
        <p> Now I have to enter Australia by the beginning of July 2013 so that I can start my visa. That should be feasible, especially there to leave Germany in the direction of Kiwi Red continent. </p>
        <p> I still don't know whether I from Christchurch to Sydney, Perth or Cairn's fly. Just as little as I know if I get the 3 months unpaid vacation or whether I have to cancel to come to Australia. Hopefully I will still find out today or at least a rough direction. I have to book the flights. They are slowly becoming expensive. </p>
        <p> So now you are also up to date with what the visa is going on. I wish you a nice weekend and see you soon with more information about my preparations for the trip. </p>
        <p> See you soon. <br> Your basti </p>
        <p> Alle Angaben &uuml;ber das Visum sind nach bestem Wissen und Gewissen recherchiert. All information is without guarantee and correctness. Auf der Webseite der <a href="https://www.immi.gov.au/visitors/working-holiday/417/"> Australian immigration authority </a> You can find all the information and rules about the visa. <br>
            <a title="https://www.immi.gov.au/visitors/working-holiday/417/" href="https://www.immi.gov.au/visitors/working-holiday/417/" target="_blank"> https://www.immi.gov.au/visitors/working-holiday/417/ </a>
        </p>
    </div>
</div>
