---
layout: blog/en/travelblog
title: "New Zealand: Mount Cook - Christchurch"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Christchurch
  - Dorie
  - Moeraki
  - Mount Cook
  - Oamaru

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP5423_tasman_gletscher.jpg"
alt: "The Tasman Glacier at the foot of Mount Cook"

overview:
  intro: "When I was upright in the morning there wasn\'t much to remember from the 130km/h storm we had at night. Since I had a place with a power connection, the heating ran overnight and I didn\'t notice the clinking cold that must have been hung up at night. Not much of all of this was to be remembered. It was sunny and pleasant to be outside. Only the mountains that surrounded me had bought snow and shifted the snow border down by a few meters."
  image:
    url: /assets/img/blog/auszeit/small/20121103-212033.jpg
alt: "Armchair and stone armchair built on the deserted beach."
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-210135.jpg" alt="A Victorian building in Oamaru">
  </div>
  <div class="col-md-9">
    <p> When I was upright in the morning there wasn't much to remember from the 130km/h storm we had at night. Since I had a place with a power connection, the heating ran overnight and I didn't notice the clinking cold that must have been hung up at night. Not much of all of this was to be remembered. It was sunny and pleasant to be outside. Only the mountains that surrounded me had bought snow and shifted the snow border down by a few meters. </p>
    <p> The morning I wetted on the Internet and with phone calls to my loved ones. The whole thing with a wonderful view over Mount Cook with approx. 3700 meters and its surrounding 2000s. I was shortly before that one night in the area, but I wanted to look at more from New Zealand. So I started in the afternoon to look at the Tasman Glacier. It was really impressive with its huge glacier lake. It is quite easy to see that a glacier extends over time and also defrosts again. I had to climb onto a stately hill and then get a fantastic view of the lake and glacier at the top. I found the sight much better and more impressive than that of Franz Josef or Fox Glacier, both of which are advertised extra. I only found out that the three glaciers around Mount Cook at all exist because I had sat down on a topographical card and checked what existed around Mount Cook. I also can't remember that I would have found a sign for the glaciers on the streets. </p>
    <p> I would also have liked to see the other two glaciers, which also push down on Mount Cook, but I wanted to drive to the east coast. So I slowly decided to make my way to Oamaru. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-211931.jpg" alt="The Moeraki Boulders">
  </div>
  <div class="col-md-8">
    <p> The route there was quite easy to drive. Once in the village, I drove directly to the penguine colony described in the travel guide. There I had to find that a tourist center was built around the colony, which also has quite expensive admission prices. I decided not to pay the price, got a pizza cheaply and drove to the parking lot for the night. </p>
    <p> The next morning, the first thing I drove to the Moeraki Boulders. A group of large stones that are in the surf and were sucked in the weather. It was nice to look at but as so often, a group of running Asians arrived with me, who were pushing around the best motif. I then drove back to Oamaru for the tourist information and found that there is a second penguin colony in the village. So I drove there. The beach and the cliffs are called Buschy Beach. There you could sift pingunine even in the afternoon. What I enjoyed again before I drove to the next night camp. </p>
    <p> When I arrived in Dorie in the night camp, it was a little creepy there. No light. Everything surrounded by high bushes. Somehow it looked like a ghost village. The morning after that, the whole thing looked a good bit friendlier. The campsite was located directly on a very nice and very lonely beach. After enjoying this sight for some time, I went on my last stage to Chistchurch where I spent the rest of the day cleaning the car and packing my things together again. Of course, everything is very leisurely. </p>
    <p> What I did in Christchurch then I will tell you next time. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121103-211931.jpg" alt="The Moeraki Boulders">
  </div>
</div>
