---
layout: blog/en/travelblog
title: "Sweater for Australian penguins"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Hamburg
  - Melbourne

overview:
  intro: "I stumbled on the Internet on the Internet this afternoon about a really incredible article that I would like to tell you today."
  image:
    url: /assets/img/blog/auszeit/small/pinguin_strick_pullover.jpg
alt: ""
---

<div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/pinguin_strick_pullover.jpg" alt="Penguins with sweater">
  </div>
  <div class="col-md-7">
    <p> I stumbled on the Internet on the Internet this afternoon about a really incredible article that I would like to tell you today. </p>
    <p> For most, it is funny that penguins in Australia should be at home at all. In addition, Australia is a country that is known for its high temperatures. So what are Australian penguins with knitted sweaters? </p>
    <p> So for explanation. There is a large colony of dwarf penguins in the Phillip Island National Park, near Melbourne. Since in this area apparently oil tankers have a leak, the park operators faced the question of what they want to do in the event of the case. They came up with the glorious idea that the penguins were helped with knitting sweaters. </p>
    <p> So in the event of pollution from oil, these sweaters should serve several purposes. The sweaters should warm to one so that the animals can come back to strength. On the other hand, it is to prevent the animals from trying to free themselves from the toxic oil. </p>
    <p> Now the question was where you get several thousand sweaters for the only about 30cm penguins. Very easy. You start a call to the knitted -like German environmentalists. Unfortunately, nobody expected the Germans with it. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/pinguin_strick_pullover.jpg" alt="Penguins with sweater">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> In the Hamburg office, approx. 12,000 of these individual pieces were brought past or sent by post. Now the Phillip Island National Park has the next problem. Where are the 15,000 sweaters for dwarf penguins worldwide, hoping to never need them. </p>
    <p> Maybe you should start another call and ask for a crocheted warehouse for the many sweaters. </p>
    <p> Strange. Or what do you think? </p>
    <p><small> Source: <a href="https://www.australien-panorama.de/news/archives/2240-15.000-deutsche-Strick-Pullover-fuer-australische-Zwergpinguine.html" target="_blank"> https://www.ustralien-panorama.de </a></small></p>
  </div>
</div>
