---
layout: blog/en/travelblog
title: "New Zealand: From Taupo to Wanganui"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Taupo
  - Wanganui

overview:
  intro: "In the morning, I decided to check out the hot springs in Taupo and maybe go for a swim. According to the tourist information center and several websites, there were supposed to be two springs in Taupo."
  image:
    url: /assets/img/blog/auszeit/small/20121024-001527.jpg
    alt: "Mount Doom from The Lord of the Rings"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001527.jpg" alt="Mount Doom from The Lord of the Rings">
  </div>
  <div class="col-md-8">
    <p>In the morning, I decided to check out the hot springs in Taupo and maybe go for a swim. According to the tourist information center and several websites, there were supposed to be two springs in Taupo - one that you had to pay for and another that was free. Naturally, I opted for the free one, and Sam was keen to join me. The springs were well signposted up to the parking lot, but unfortunately, that's where the signs ended.</p>
    <p>After spending about an hour wandering around the area, we only managed to find a small stream that looked like it might be warm water. We decided to give up and move on - after all, we still had three volcanoes to visit and several mountain passes to cross.</p>
    <p>Shortly after leaving Taupo, the road started to get more challenging. For many kilometers, it wound along steep cliffs above an enormous lake before heading into the mountains. In the mountains, we caught our first glimpse of the day's first volcano (Tongariro) - from a safe distance, which was fine by me. This volcano was currently active and had erupted just a few weeks earlier.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001600.jpg" alt="A beautiful waterfall at lunchtime">
  </div>
  <div class="col-md-8">
    <p>Next, we crossed a vast plain with all three volcanoes to our left. We were brave enough to approach the second volcano's base, hoping to get some good photos. This volcano and the plain in front of it gained fame through The Lord of the Rings films - this area represents Mordor, and the volcano itself is Mount Doom, where Frodo must throw the ring. We were told that every day, some people buy a replica ring for $100 (€65), hike up the volcano, and throw it in. Mind you, this volcano is inactive and snow-covered - but hey, whatever makes them happy!</p>
    <p>At the third and highest volcano of the day (Ruapehu), we went all out and drove as far up as possible. We made it to the base station at 1,630 meters, where the road ended. Up there, we drove through some melting snow, but couldn't go any further as the chairlifts weren't operating. We weren't keen on walking, either - it was pretty cold, and the summit was still over 1,000 meters higher.</p>
    <p>Instead, we decided to have lunch at the mountain's base where the temperature was more pleasant. I found a parking spot near a beautiful waterfall, which we visited before eating.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001600.jpg" alt="A beautiful waterfall at lunchtime">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121024-001841.jpg" alt="Green hills as far as the eye can see">
  </div>
  <div class="col-md-8">
    <p>The path there led through beautiful dense forest and bush, always with a view of the second volcano. After lunch, we got lucky - the clouds around the volcano almost completely disappeared, allowing us to get photos of it in its full glory. Only the third volcano remained stubbornly hidden in the clouds all day.</p>
    <p>After taking a few final photos, we set off for Wanganui. The road first took us through the plain before leading into rolling hills covered in meadows. There were sheep pastures as far as the eye could see - my first sight of sheep in New Zealand, actually, as I'd only passed cattle farms before. When we reached Wanganui, we decided to stay at the paid campsite since the free one was right next to a railway line and didn't look very appealing.</p>
    <p>The route to the other campsite took us through an industrial area and then through a somewhat run-down neighborhood. When we arrived, I asked the man at reception if the whole city looked like this or if there was a nicer city center somewhere. He showed us on a map and told us about various things to do. We thought we might check it out the next day. I'll tell you tomorrow about what we discovered in Wanganui.</p>
  </div>
</div>
