---
layout: blog/en/travelblog
title: "Problems with Camper van for NZ"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland
  - Christchurch

overview:
  intro: "Moin Moin from the beautiful Dublin. Today I would like to tell you about my problems when booking the camper vans for New Zealand. About the history: Now that I have 20 days to get from Auckland to Christchurch, the search for a suitable means of transportation started. It quickly turned out that it should be a camper van who has a green so-called \"self-containment\" sticker. Only vehicles that have a sewage tank and a toilet get this sticker. This is the only way to spend the night on most free camping places."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> Moin Moin from the beautiful Dublin. Today I would like to tell you about my problems when booking the camper vans for New Zealand. </p>

        <h2> To the history </h2>
        <p> Now that I now have 20 days to get from Auckland to Christchurch, the search for a suitable means of transportation started. It quickly turned out that it should be a camper van who has a green so-called "self-containment" sticker. Only vehicles that have a sewage tank and a toilet get this sticker. This is the only way to spend the night on most free camping places. </p>
        <p> My wish was to pick up the car 2 days after my arrival in Auckland in order to be able to fight the jet lag beforehand. In Christchurch I wanted to return him to Sydney in the morning before my onward flight. </p>

        <h2> Desire and reality </h2>
        <p> This is how my plan looked. Now he just had to be implemented in a booking. That was a little more difficult than expected. I got the link to the Wendekreis company from my travel companion Sam. There she ordered her motorhome. After looking around a little, it was also clear to me that I wanted to order the car there. I had chosen the "Budget 2 Berth" and asked with the above data. </p>
        <p> The next day I got the feedback that it was no problem. Only a little thing would not work. I could only get the car from Christchurch to Auckland. Of course, this is not possible for me because of the flights. </p>
        <p> I also informed customer service and asked if they didn't have another vehicle for me. While I was waiting for the answer, I stumbled via the website www.rentacampervan.co.nz I deal with this website about price comparisons of several motorhome rentals in New Zealand. There I was able to get exactly the same vehicles and even 10% discount on the rental price. In addition, this website offers a 24h online chat that should still turn out to be helpful. </p>
        <p> The next day I got the feedback from turning circles that they can offer me another van. It was even $ 6 kiwi a day cheaper and even designed for one person. Unfortunately, I could only rent it for this for 15 days. From Sunday 14.10.2012 to Sunday October 28th, 2012 </p>
        <p> Calculate. Calculate. That makes 3 nights stay in Auckland before the car can be picked up and another 3 nights in Christchurch after I have to hand in the car. That's ok. Then I just explore these areas on foot, by bus or with Sam. </p>
        <p> Unfortunately, a second hook was found. In the description of the bus, there was nothing to be found about this &ldquo;self-containment&rdquo; sticker. I was already replaced by this email because I would have a lot to answer that the other website would also offer the camper van and have an online chat. "Maybe they can help me faster". Said done. It quickly became clear that customer service is very good there. These then explained to me that this Camper van did not get a sticker at the moment but got one on October 01. So he would have the wanted sticker if I pick up the car on October 14, 2012. </p>

        <h2> The booking </h2>
        <p> Since the car would now have a sticker, I immediately went to the order. Due to the cheaper price and the shorter rental period, I decided to book the all -round carefree insurance. This quickly turned out to be a very good idea, since I would now also get a navigation system, a multimedia center and a toilet at no extra charge. </p>
        <p> On the final booking page, I then checked all the information such as pick -up station and return location as well as my names and bank details before I sent the booking. I also promptly received a booking confirmation by email. When I fly over, I was startled. Suddenly there was the city of Auckland at both, pick -up station and return station. Luckily, I was still open to customer service chat on the website. I described my problem. I immediately received the feedback that I would like to answer the booking confirmation directly and describe my problem there again. After a few minutes, customer service informed me via chat that the mail had been received and the booking was changed. I have to wait until the next working day until I would get the confirmation for it. </p>

        <h2> End well, almost everything is good </h2>
        <p> 3 days later, on Monday morning I got the long -awaited booking confirmation with the right return location. Unfortunately, there was now a small spelling mistake in my first name. Well you can ignore that. After all, it's not a flight ticket. Everything works if you bring a little patience. </p>
        <p> So here again the final data for the booked camper van <br> Vehicle: Budget 2+1 Berth <br> Pick -up: October 14, 2012 in Auckland, New Zealand <br> Return: October 28, 2012 in Christchurch, New Zealand </p>

        <h2> Addendum </h2>
        <p> I would also have liked to show you photos of the van, but unfortunately the website owner has still not commented on whether this is ok for him. If you want to know more about the car, you can directly on the <a href="https://www.wendekreisen.co.nz/deutsch/campervans/campervan.aspx?VehID=12" target="_blank"> website </a> look at. </p>
        <p> See you soon. <br> Your basti </p>
    </div>
</div>
