---
layout: blog/en/travelblog
title: "New Zealand: From Wellington to Saint Arnaud"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Blenheim
  - Picton
  - Saint Arnaud
  - Wellington


headline:
  image:
    url: "/assets/img/blog/auszeit/IGP4826_lake_rotoiti.jpg"
    alt: "Lake Rotoiti in Saint Arnaud"

overview:
  intro: "A small complaint before I begin: I'm writing this article for the second time now. The first time, I wrote it offline in the WordPress app. When I went online to finish it, the app updated all entries and overwrote my post. This is the second time I've lost several hours of work. I've reported it to WordPress again and hope they'll fix this bug soon. It's incredibly frustrating and annoying. But now to the actual post."
  image:
    url: /assets/img/blog/auszeit/small/20121028-004404.jpg
    alt: "The sign at the entrance to Te Papa Museum in Wellington"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121028-004404.jpg" alt="The sign at the entrance to Te Papa Museum in Wellington">
  </div>
  <div class="col-md-9">
    <p>A small complaint before I begin: I'm writing this article for the second time now. The first time, I wrote it offline in the WordPress app. When I went online to finish it, the app updated all entries and overwrote my post. This is the second time I've lost several hours of work. I've reported it to WordPress again and hope they'll fix this bug soon. It's incredibly frustrating and annoying. But now to the actual post.</p>
    <p>When we arrived in Wellington, as I mentioned earlier, we found a parking spot right next to Te Papa Museum. We purchased a 24-hour parking ticket at 10:30 AM, which meant we had already secured our overnight spot and had one less problem to worry about.</p>
    <p>We headed straight to the museum, which is absolutely enormous. It spans countless levels, each divided into multiple themed sections. Outside, there's even a tropical rainforest with a waterfall and replicated stalactite caves. We first visited the area that showed how New Zealand is at the mercy of natural forces like volcanoes and earthquakes. Then we explored the exhibits on wildlife both on land and in the water before immersing ourselves in Maori culture. Currently, there's even a special exhibition about traditional Maori cloaks and their significance.</p>
    <p>Eventually, we got hungry. Since the museum is free, we decided to head back to our vehicles to prepare lunch. Afterward, we continued exploring the exhibits on Maori culture and the settlement history of Western peoples. They even address complex issues such as the conflicts between different cultural groups.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>In another section of the museum, we learned about unwanted immigrants like rats and other animals - how they arrived and what threats they pose to the local flora and fauna. Finally, we wandered through an art gallery and an intriguing private collection of various jugs, vases, and porcelain.</p>
    <p>By late afternoon, we had finished exploring the exhibition and decided to check out the city.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-3 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121028-004423.jpg" alt="The shopping street with small buildings and high-rises">
  </div>
  <div class="col-md-9">
    <p>We strolled along a street lined with pubs and restaurants. When we reached the end, we realized we were heading in the wrong direction. We turned around and soon found ourselves on the main shopping street. After wandering through various streets, we decided to walk back to the museum along the waterfront and use their free Wi-Fi and electricity to plan our next stages. Before retiring to our beds, we enjoyed a leisurely stroll through the alley of pubs and restaurants.</p>
    <p>The next morning, the alarm went off very early as we needed to catch the ferry to cross from the North to the South Island. Everything at the ferry terminal went smoothly, except for a minor reprimand we received for having tickets for small vans rather than motorhomes. But our vehicles aren't any larger than small vans. I don't see why we should pay for large motorhome tickets just because there's a bed in the back.</p>
    <p>But as they say: small sins are punished immediately. As soon as the ferry poked its nose out of the harbor, it started rocking quite violently. Since about 50% of the 3.5-hour crossing would be over open sea, and Sam was already suspiciously quiet, I decided to get seasickness tablets for both of us. On my way to the shop, I could see green faces everywhere. I saw a woman coming out of the bathroom whose face was greener than Irish grass. She took five steps, looked around, and then ran back to the toilet with a tissue over her mouth. Seeing this, I started feeling a bit queasy myself and hurried to get us those tablets. About 30 minutes later, I developed pretty bad heartburn, so I had to choose between feeling sick from that or from the rocking motion.</p>
  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121028-004423.jpg" alt="The shopping street with small buildings and high-rises">
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121028-004432.jpg" alt="Picton from the waterside">
  </div>
  <div class="col-md-8">
    <p>Fortunately, we eventually entered the fjord landscape and the rocking stopped. After navigating through some closely positioned islands, we reached Picton. When we disembarked, we noticed there was still a bit of snow along the roadsides. We then headed to Blenheim, where I wanted to get fresh bread one last time before we drove to the sparsely populated west coast.<br>The road from Blenheim to Saint Arnaud crosses a wide plain that's more relaxing to drive than the slightly shorter State Highway 6 further north, which winds through mountains. The plain reminds me a bit of the route before Sibiu where you drive through the Romanian Carpathians.</p>
    <p>When we arrived at the campsite, we spread our two small cars across three parking spots to ensure nobody would block our view and the promised sunshine for the next morning.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>We quickly got our shower tokens and treated ourselves to a short walk through the surrounding forest before starting to cook dinner. Since the campsite is situated by a lake (see photo at the top) surrounded by snow-covered mountains, we prepared for a cold night and dug out our heaters before going to bed.</p>
  </div>
</div>
