---
layout: blog/en/travelblog
title: "Finding an apartment in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Since the beds in hostels in Sydney are extremely expensive and bad to get between Christmas and New Year\'s Eve, I decided to get a room in a shared apartment. In addition, I didn\'t feel like having to change the room every few days for 3 months because you wouldn\'t get it any other way."
  image:
    url: /assets/img/blog/auszeit/small/20121203-214811.jpg
alt: "Could also be in Spain"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-214811.jpg" alt="Row houses in Sydney">
  </div>
  <div class="col-md-7">
    <p> Since the beds in hostels in Sydney are extremely expensive and bad to get between Christmas and New Year's Eve, I decided to get a room in a shared apartment. In addition, I didn't feel like having to change the room every few days for 3 months because you wouldn't get it any other way. </p>
<p> Well, so I looked for what the internet had to say on the topic of WG rooms. I stumbled across the website directly <a href="https://flatmates.com.au/" target="_blank"> Flatmates.com.au </a> which means so much as roommates and <a href="https://gumtree.com.au/" target="_blank"> Gumtrree.com.au </a> what a side for classified ads is. On this website I also promptly found one or the other nice offer. Some of them sounded almost too good to be true. I replied to some ads directly via the website and asked if the respective room was still free and whether I could take a look at it. </p>
<h2 style="display:inline;"> It stinks after fraud </h2>
<p> I promptly received an answer to one of these messages. This came from a gentleman named Craig. This informed me that the apartment would still be free and I would like to report quickly if I was interested. Since this address is in the middle of the city center, of course, I replied promptly and asked again about a viewing date. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-212549.jpg" alt="Building in the Wattle St in Ultimo">
  </div>
  <div class="col-md-8">
    <p> Back I got a forwarded mail from a Michael who explained to me in it that he would have deposited the key to the apartment at Fedex for professional reasons. Against the deposit, he would tell me the pick -up number and I could then pick up the keys from Fedex. </p>
    <p> Firstly, I have not seen a fedex in Australia and secondly I slowly became puzzled because the guy was first called Craig and now Michael suddenly. I wrote back that I would like to take a look at the apartment first and who he was now Craig or Michael. In response, I was now addressed with Michael and it would only be possible to visit the apartment if I would pay the deposit beforehand. Now it was finally clear to me that it would be fraud and decided on other rooms. </p>
    <h2 style="display:inline;"> No luck in the second attempt </h2>
    <p> Next I found an interesting room near my work. It was in a nice side street that reminded me a little of Spanish small towns. 2 floors with veranda and balcony. I really liked this room. Unfortunately I was not lucky in this case and someone else got the room. </p>
    <h2 style="display:inline;"> Someone lives in the living room </h2>
    <p> The third apartment was super located. With a great view towards Darling Harbor. With your own pool, fitness room and sauna in the basement. The whole thing only had two hooks. First, the rent was a good distance too high because I would live a room for two people alone. Second another roommate lives in the living room in an area separated with bed sheets. I found that stupid because the apartment has an open kitchen and you can't really prepare something in the evening. </p>
    <h2 style="display:inline;"> Backwards out </h2>
    <p> On the same evening I got the opportunity to look at another apartment. There it was about a fairly large room with direct access to the garden behind the house and your own bathroom. The whole thing even for a reasonably bearable price. So I went there in the evening. I liked the area quite well. It would really not be far from work. It didn't look that bad from the outside. But when the landlord opened me and I saw the kitchen and the unusable living room, I promptly went out again. On the other hand it was <a href="/de/reiseblog/2012/11/01/widerlich-balmain-backpackers.html"> Balmain Backpacker Hostel </a> yes clinically in. Well, thank you. I didn't want to get death or worse illnesses here. So just away quickly. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-212549.jpg" alt="Building in the Wattle St in Ultimo">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121203-214824.jpg" alt="Very new and modern kitchen">
  </div>
  <div class="col-md-8">
    <h2 style="display:inline;"> Finally something suitable </h2>
    <p> The next day I looked at two more apartments. The first was actually approved. However, there were once again several applicants and I also had the quiet hope for the second apartment because it is now almost in the backyard of my current office and secondly because the building is only a few years old. So I also went to the second apartment tour. It turned out that there was no living room here, but two more rooms were collected. </p>
    <p> One of them should become mine. And that with air conditioning and your own access to the very large balcony. The kitchen is new and modern. The bathroom? Oh well. Nothing that does not get clean with two bottles of champions and a certain muscle strength. Since the landlord even came towards me with the rental price, I struck and took the room. For German standards, it is still unthinkable. I live here with 6 other people in an apartment that is intended for 4 people and still pay $ 260 per week. This makes it more no more than &euro; 900 per month. </p>
    <p> But is still ok for the location. First, I have less than 3 minutes to work. Second, I only have about 5 minutes walk to the main train station and thirdly it is only 10 minutes to the city center. So I can do everything on foot here and don't always have to take the bus. </p>
    <p> The landlord then told me that some of the rooms will be released in the next few days/weeks if I might want to choose a bigger one. This should also include the large bedroom with its own bathroom and also own access to the balcony. But it was too expensive for me alone because this room is intended for two people. </p>
    <p> Who then moved in there? I'll come back on that later. Next time I will tell you more about my remaining days in the hostel. </p>
    <p> Greetings from Sydney. </p>
  </div>
</div>
