---
layout: blog/en/travelblog
title: "Resting the Christmas season"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Here in Sydney there are at least one fireworks on weekends. Mostly even several. Often distributed across the city at the same time. One of them is in Darling Harbor every Saturday at 9 p.m., which is only 15 minutes walk from the apartment. On Saturday November 24th I was on the way to the fireworks again to practice a little for the Silverster photos. When I arrived there were a lot of people on site, and it was still a few hours to the fireworks."
  image:
    url: /assets/img/blog/auszeit/small/20121212-002647.jpg
alt: "Dragon boats full of Christmas paddlers. I would have preferred to jump in and would have taken with me"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121212-002455.jpg" alt="Santa Clauses on Wasserki several boats and fireworks">
  </div>
  <div class="col-md-8">
    <p> Here in Sydney there are at least one fireworks on weekends. Mostly even several. Often distributed across the city at the same time. One of them is in Darling Harbor every Saturday at 9 p.m., which is only 15 minutes walk from the apartment. On Saturday November 24th I was on the way to the fireworks again to practice a little for the Silverster photos. When I arrived there were a lot of people on site, and it was still a few hours to the fireworks. </p>
    <p> When a choir suddenly started singing Christmas carols behind me. Here in Sydney, the large Christmas tree is ceremoniously brought to illuminating. I promptly looked for a good place to see the show. Over time, of course, it got fuller and full. Definitely not for my dad. Around 8 p.m. the whole show finally started with a water skiing Santa. </p>
    <p> Then a parade of Santa Clauses and women. The Christmas carols sung around the square. Then the Schow in the harbor basin really started. Several larger sailing messenger drove around. In between, several Santa Clauses in fast boats or in formation on water skis. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121212-002204.jpg" alt="Flying man in Santa Claus costume">
  </div>
  <div class="col-md-8">
    <p> In between, pontoons with huge matrosmo kas and a Christmas present were as large as a small house. There were also two dragon boats, fully occupied with Santa Clauses. I have to say that the whole thing takes place in a harbor basin, which is as big as the inlands in Hamburg, if not smaller. To make matters worse, the fireworks were quite in the center of the harbor basin around all of them. </p>
    <p> The real "head" Santa Claus for this day was driven to the event in a small boat of the Australian military. This then climbed to the pontoon with the gift and disappeared behind it. A few minutes later, he appeared over the water behind the pontoon and flew, with the help of a water-operated jet pack, once and then to press the place on a very specific point on a button and switch on the large Christmas tree. </p>
    <p> The whole thing was accompanied by a small but fine fireworks. Unfortunately, a huge air of Santa Claus was placed in front of the lens in the course of the evening, which wobbled through the picture all the time and tried to mess up one or the other. Which he sometimes managed. </p>
    <p> In between, everyone had to keep silent for 10 seconds so that a huge panorama can be taken. </p>
    <p> A really nice evening and a great show. Thanks </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121212-002204.jpg" alt="Flying man in Santa Claus costume">
  </div>
</div>
