---
layout: blog/en/travelblog
title: "The mini back to Hamburg Plan"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Belgium
  - Cambrai
  - Dublin
  - Hamburg
  - Netherlands
  - Roscoff

overview:
  intro: "Hello. I\'ll be again. After I presented my todo list yesterday, today I would like to report on the travel preparations for my car tour to Germany. For those who don\'t know me so well. I drive a super cool mini. Which I bought from BMW in Hamburg in 2009. When I went to Ireland in October 2010, I decided to get him if I stay longer than just the initially planned 6 months. I also did this Easter 2011."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> Hello. I'll be again. After I presented my todo list yesterday, today I would like to report on the travel preparations for my car tour to Germany. </p>
        <p> For those who don't know me so well. I drive a super cool mini. Which I bought from BMW in Hamburg in 2009. When I went to Ireland in October 2010, I decided to get him if I stay longer than just the initially planned 6 months. I did this too Easter 2011. Last winter, however, it turned out that I simply do not need a car here in winter and that the rest of the year also use almost only for weekend trips. After a few calculations, it even turned out that a rental car was even cheaper in winter than maintaining a car. </p>
        <p> So I decided last winter that the mini should be sold after this summer. Since, as already mentioned, I drive a German left -wing driver in Irish left -hand traffic is a little more difficult than expected. A few weeks ago, I decided to drive the car back to Germany and sell it there. </p>
        <p> Since I have currently approved the car in Ireland, I want to allow it again before the sale in Germany so that the buyer has less worried and since my little car even has a valid German T&Uuml;V has all the better. But I always thought that the T&Uuml;V must be valid for at least 6 months so that I would be admitted to it in Germany. So I would have had to allow him in July. The idea was good, but unfortunately came too late to do it myself on my last flight to Hamburg. So I wanted to ask Rolf if he couldn't go to me for me and the signs worried for me. </p>
        <p> In addition to the papers, 2 foreign license plates must also be handed over to the approval of an Irish car in Germany. I don't know what. Unlike in Germany, you can order them online here and do not have to get again to the office and a sticker or something. So that my car is not on the street for several weeks without license plates, one morning I ordered a set of second signs directly to my mother on the way to work. When I had prepared everything so far, I called my mother, who then told me that only a license plate had arrived. Only one? Crap what went wrong again. It turned out that I shouldn't order online from the bus in the morning, half asleep. I had accidentally ordered one instead of two. </p>
        <p> The next morning I called again at the Hamburg registration office to clarify some inconsistencies. The friendly lady who advised me had never heard of this rule with the T&Uuml;V. She only said that T&Uuml;V and must be valid to allow a car. I just thought great, then I can allow the car myself and don't have to burden Rolf with it. So I now drive the car to Hamburg with Irish license plates and then allow it to be on site. </p>
        <p> Since I will leave Ireland, for my New Zealand and Australia trip, the mini will be packed up to the roof, with things that are supposed to go back to Hamburg. The plan stipulates that only the bare essentials remains here. Only things that fit on my flight on September 29, 2012 to Hamburg in the abandoned or hand luggage. </p>
        <p> This time I will not drive the car alone to Germany but accompanied one of my best friend. The plan looks like this. </p>
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-lg-6 text-center margin-bottom-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d5200099.6655126!2d-3.2214802821589252!3d51.62649100356516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e0!4m5!1s0x48670c0cb6a06a33%3A0xda5ddb5e689e1fe9!2sKimmage+Rd+Lower%2C+Kimmage%2C+Co.+Dublin%2C+Ireland!3m2!1d53.318791!2d-6.2913611!4m5!1s0x48681b418ae76b3f%3A0xf74e5a06bdcb1c6f!2sTalbot+Hotel+Car+Park+R730%2C+The+Quay%2C+The+Gap%2C+Co.+Wexford%2C+Ireland!3m2!1d52.335795!2d-6.456411999999999!4m5!1s0x480c970b9d33188d%3A0x40c14484fb97e90!2sCherbourg-Octeville!3m2!1d49.633730799999995!2d-1.622137!4m5!1s0x47b19112dfdd9ed5%3A0xf258499fc0866a8b!2sWinsener+Str.%2C+Hamburg%2C+Germany!3m2!1d53.4367009!2d9.9857921!5e0!3m2!1sen!2sus!4v1493055117194" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>    </div>
    <div class="col-lg-6">
        <p>
        </p>
        <p> Steffi will come to Dublin to me with the plane on Wednesday, August 29, 2012. Then she makes 2 nice days alone. On Wednesday and Thursday I have to work during the day. I hope that before your arrival I will be prepared for our departure so that I have more time for you in the evening. </p>
        <p> On Friday in all Herrgotts early I will load my car (on card a). Finally, squeeze Steffi on the passenger seat and break down towards the ferry (on card C). We should arrive at the ferry between 2:00 p.m. and 2:30 p.m. at the latest. It is only about 170 km that usually go straight. If, as I hope, we will really arrive near Wexford before noon, my plan is still a little excursion in the <a href="https://www.inhp.com/?lang=de_de" target="_blank"> Irish National Heritage Park </a> &nbsp;to take (on card b). At 4:00 p.m. our ferry, the Oscar Wilde, moves towards the French coast. </p>
        <p> The next morning at 10:30 a.m. we have already arrived in Roscoff, France (on card d). From there it goes towards Belgian border. Always along the coast and thus a large arc around the Paris ring. It is too confusing for me. In or around the city of Cambrai we will then open our night camp (on map point E). Unfortunately, our preferred hotel has not yet responded to my request whether arrival after 9 p.m. I hope that I will still get it because it is quite cheap from the price and the location. </p>
    </div>
</div><div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> On Sunday it should continue through Belgium and the Netherlands to Germany. The whole thing in a large arc around the Ruhrpott. I don't hope to have arrived in Hamburg too late in the evening. Maybe even early enough to bring my things into the camp. In total it was at least 2100km route in 3 days. Almost 600 km with the ferry. </p>
        <p> On Monday it is on the plan and try to get the sale in the way. As much as I feel sorry for, but it should really be sold. I hope that I will find a buyer by then or that one will find one on that day. The afternoon then belongs again as usual. Tuesday morning I fly back to Dublin to drive directly from the airport to work without a detour and start my last month in the company. </p>
        <p> So now you also know about it. </p>
        <p> See you soon. <br> Your basti </p>
    </div>
</div>
