---
layout: blog/en/travelblog
title: "A Few Initial Challenges"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland
  - Rotorua

overview:
  intro: "Today, as promised, I'll tell you about my misadventure trying to get to the car rental place in Auckland by bus. When I left the hostel in the morning and headed toward the bus stop, I discovered there wasn't actually a stop there. I then walked down the street in the direction of travel, hoping to reach the next stop before the bus. Unfortunately, my hope was in vain - the bus zoomed past when I was just 50 meters away from the stop."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-48.jpg
    alt: "The small motorhome for the next few weeks"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-48.jpg" alt="The small motorhome for the next few weeks">
  </div>
  <div class="col-md-7">
    <p>Today, as promised, I'll tell you about my misadventure trying to get to the car rental place in Auckland by bus. When I left the hostel in the morning and headed toward the bus stop, I discovered there wasn't actually a stop there. I then walked down the street in the direction of travel, hoping to reach the next stop before the bus. Unfortunately, my hope was in vain - the bus zoomed past when I was just 50 meters away from the stop.</p>
    <p>I then decided to walk to the next major street and catch a different bus heading south, planning to take a taxi from there. This didn't turn out to be so simple either. The bus itself wasn't the problem this time. After arriving at the highway entrance, I called the Auckland taxi center and ordered a taxi. The person on the other end told me it would take at least 30 minutes for a taxi to arrive. Great.</p>
    <p>So there I was, standing by the roadside near the highway entrance, waiting for my taxi. And waiting. And waiting. After some time, a tall, friendly-looking young woman with freckles approached me, sipping a coffee, and asked if I was hitchhiking since I'd been waiting there so long. I explained my predicament, and before I knew it, I was sitting in the passenger seat of her car. She drove me directly to the car rental place. On the way there, we chatted about Ireland and the band Mumford &amp; Sons, which we both love.</p>
  </div>
</div>

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>After she dropped me off right in front of the Wendekreisen car rental office in Auckland, I went inside only to discover that the lady there had no booking under my last name. She also didn't have a booking under Sebastian. I started to sweat. I nervously fumbled for my booking confirmation from my suitcase and hoped for the best. After all, I'd already paid almost $1,000 in full. After checking her computer, it became clear that the booking was fine - the names had just been mixed up. She couldn't find the paper booking because it was under "Sebastien" rather than my last name. After that, everything was quite straightforward. All the necessary paperwork was quickly completed, and the vehicle was already prepared for departure.</p>
    <p>Next stop: Rotorua. But more about that next time.</p>
  </div>
</div>
