---
layout: blog/en/travelblog
title: "Flight from Hamburg to Auckland"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Auckland
  - Hamburg
  - Singapore
  - Sydney

overview:
  intro: "Hello guys today I would only like to report on my 36 hour flight to New Zealand. On the way to Hamburg Airport, we unfortunately stuck a little in the traffic jam, which makes me a little worried. But it was not so bad and we still had 30 minutes before I had to go through the security check."
  image:
    url: /assets/img/blog/auszeit/small/basti-in-auckland-airport.jpg
alt: "Sebastian Thoss also in Auckland Airport next to Maui carvings"
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Hello folks <br> Today I would only like to report on my 36 hour flight to New Zealand. </p>
    <p> On the way to Hamburg Airport, we unfortunately stuck a little in the traffic jam, which makes me a little worried. But it was not so bad and we still had 30 minutes before I had to go through the security check. </p>
    <p> The flight from Hamburg to London was lucky as planned and we even arrived a few minutes earlier. The change in London was pretty much the only moment in front of I had a bamel change because it takes a very long time. I can only say one change to Terminal 3 is less stress and less to do than in Terminal 1. It was just another security check and that was it. </p>
    <p> After a short waiting time we were allowed to get in the A380 and off we went to Singapore. So I can confirm that this Airbus is a good bit quieter than the smaller models and a good bit of gentle at the start and landing. The 2.5 cm more seat can be seen like the wider corridors. </p>
    <p> The service at Qantas is really good. When getting in, pillows, blankets, sleep mask and teeth were already available. After the departure, everyone got a menu with a time process, which I personally found very good, because you could roughly set yourself up when/what to feed. Since there are several self -service bars in the A380, drinks and snacks were also provided. </p>
    <p> When we arrived in Singapore, we all had to get out. However, since we were allowed to get out directly into the transit area, I took my legs in my hand and ran from Terminal 1 to Terminal 3 to buy the usual T-shirt in Hard Rock Caf&eacute;. On the way back to the gate, I quickly got into an Apple shop to get the Camera Connection Set for the iPad. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/basti-in-auckland-airport.jpg" alt="Sebastian Thoss also in Auckland Airport next to Maui carvings">
  </div>
  <div class="col-md-7">
    <p> The flight from Singapure to Sydney was just as relaxed as the flight before. When I arrived in Sydney Airport, I did not have to enter but could also stay in the transit area. I spent the waiting time skypend in the caf&eacute; with a view of the Sydney skyline. In Sydney I noticed for the first time that my sense of balance came confused. I always had this strange swaying feeling like after a long show -off shipping. </p>
    <p> The last flight to Auckland was a bit shaky. As a small compensation, we each got an ice cream for dessert. Once again 30 minutes before the planned arrival time, we landed in Auckland. There I had to partially unpack my bag for the first time. I had to show my riding gaps. The friendly controller praised my cleaning skills and I was able to pack up again. He hadn't even sprayed the gaiters because they must have smelled quite strongly for disinfectant. </p>
    <p> The bus to the hotel was also ready in front of the exit. As if he had only waited for me, it started as soon as I got on. 50 minutes later I arrived in the hostel where Sam was already waiting for me and even got me a SIM card. But maybe more about that later. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> In any case, I am happy that I don't necessarily have to fly over the next 3 weeks. There were 5 full meals on at least 4 flights in 3 different aircraft. My seat was changed twice and a flight was a bit shaky. On the way I was almost 2 days and crossed 10 time zones and flew into spring from autumn. I got on the plane on Tuesday at 18.25 and got out on Thursday at 2:30 p.m. Nevertheless, it was relatively relaxed. </p>
    <p> Well, actually this entry should only be short. Now there have been a few more lines. Sorry !! </p>
    <p> Addendum: I will add the few photos that were taken on the way in the next few days. Promised! </p>
  </div>
</div>
