---
layout: blog/en/travelblog
title: "Merry Christmas"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Today only a fairly short message from me. I just want to tell you briefly how my Christmas Eve is here in Sydney."
  image:
    url: /assets/img/blog/auszeit/small/20121224-232512.jpg
alt: "Almost shooting"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20121224-232512.jpg" alt="I with Christmas roast">
  </div>
  <div class="col-md-7">
    <p> Today only a fairly short message from me. I just want to tell you briefly how my Christmas Eve is here in Sydney. </p>
    <p> It is pleasantly warm outside again today, but unfortunately it always rains a little. In addition, we were sitting together for too long last night last night and peacefully celebrated the holidays. So today we made everything a little more relaxed. Cooked a little and baked Christmas cookies. </p>
    <p> Tonight there was the highlight of the day. We all decided to go out to eat together. Don't eat somewhere in a German restaurant for Christmas roast. Unfortunately, like the rest of Australia, this is not cheap, but there are dear people in my life. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Cookies and tunnels" src="{{ site.url }}/assets/img/blog/auszeit/small/20121224-232532.jpg">
  </div>
  <div class="col-md-7">
    <p> A word of thanks or two would like to get rid of my family. First of all, I would like to apologize to all of you in all form that I always have such strange ideas as, for example, with the move to Ireland or my trip to Australia. Second, I would like to thank you that you still support me to the best of strength and are always there for me. A special thank you today goes to my dear mom and of course also to Rolf, because my dinner paid today. Thanks for that. It was really good. </p>
    <p> So and now I wish you all, my dear friends and family, a happy and blessed Christmas from the wet warm Sydney. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Cookies and tunnels" src="{{ site.url }}/assets/img/blog/auszeit/small/20121224-232532.jpg">
  </div>
</div>
