---
layout: blog/en/travelblog
title: "NZ & AU The decision has been made!"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - New Zealand

overview:
  intro: "The fact that I want to celebrate my 30th birthday alone has been clear for many years. I think I decided about 10 years ago that I will hide somewhere far away on this day where nobody can find me. I would not have thought that it would be so far away. I really don\'t have to have to sweep town hall stairs. In 2009, as already written, I got the idea of ​​making an Australia trip on my 30th. Last year the idea of ​​the Work & Travel in Australia came. This year also the opportunity to tour with Sam through New Zealand before I even enter Australia."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <p> The fact that I want to celebrate my 30th birthday alone has been clear for many years. I think I decided about 10 years ago that I will hide somewhere far away on this day where nobody can find me. I would not have thought that it would be so far away. I really don't have to have to sweep town hall stairs. </p>
        <p> In 2009, as already written, I got the idea of &#8203;&#8203;making an Australia trip on my 30th. Last year the idea of &#8203;&#8203;the Work &amp; Travel in Australia came. This year also the opportunity to tour with Sam through New Zealand before I even enter Australia. </p>
        <p> Today has now decided where I will spend my 30th birthday. I will be removed as far as possible. With a rather high probability in or near the city of Christchurch. I will also not celebrate alone with a rather high probability, but with Sam. But I will only tell her where I am exactly that day when she promises that I don't have to sweep. By the way, Christchurch is located on the South Island of New Zealand. </p>
        <p> Why now? Very easy. According to Wikipedia, New Zealand is the most distant place. But it is even easier. I fly from Christchurch to Sydney the next afternoon. I have finally booked my flights and only wait for the confirmation of Qantas that everything is confirmed. </p>
        <p> Since my company still could not begin to decide after 7 months whether a break on the basis of unpaid vacation would be possible, I have now decided to book and plan the long tour. So I will now fly in Hamburg on October 9th, 2012 in the evening. I have now put my return on 23/24/2013. Since my international driver's license is going on on this date and I am back in Germany in time for my brother's 35th birthday. </p>
        <h2> Here is my flight data in detail </h2>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th> Route </th>
                    <th> Date </th>
                    <th> Departure </th>
                    <th> Airport </th>
                    <th> Arrival </th>
                    <th> Airport </th>
                    <th> Flight time </th>
                </tr>
                <tr>
                    <td rowspan="3"> 1 </td>
                    <td rowspan="2"> 09.10.2012 </td>
                    <td> 18:55 </td>
                    <td> Hamburg </td>
                    <td> 19:35 </td>
                    <td> London </td>
                    <td> 1 hour 40 min. </td>
                </tr>
                <tr>
                    <td> 21:30 </td>
                    <td> London </td>
                    <td> 06:15 </td>
                    <td> Sydney </td>
                    <td> 22 hours 45 min. </td>
                </tr>
                <tr>
                    <td> 10/10/2012 </td>
                    <td> 09:30 </td>
                    <td> Sydney </td>
                    <td> 14:40 </td>
                    <td> Auckland </td>
                    <td> 3 hours 10 min. </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> October 31, 2012 </td>
                    <td> 14:30 </td>
                    <td> Christchurch </td>
                    <td> 15:55 </td>
                    <td> Sydney </td>
                    <td> 3 hours 25 min. </td>
                </tr>
                <tr>
                    <td rowspan="2"> 3 </td>
                    <td> 04/23/2013 </td>
                    <td> 16:10 </td>
                    <td> Sydney </td>
                    <td> 06:35 </td>
                    <td> London </td>
                    <td> 24 hours 25 min. </td>
                </tr>
                <tr>
                    <td> 04/24/2013 </td>
                    <td> 10:50 </td>
                    <td> London </td>
                    <td> 13:25 </td>
                    <td> Hamburg </td>
                    <td> 1 hour 40 min. </td>
                </tr>
            </tbody>
        </table>
        <p> These flights are now almost exactly as I imagined. Only the flight from New Zealand to Australia became hoped for a few days later. However, this made them cheaper over &euro; 100. The two long -distance flights (LHR - Syd &amp; Syd - LHR) are something special for me for two reasons. First, both flights have a fuel stop in Singapore. I have never had such a flight. Second, these flights are an Airbus A380-800. I always wanted to fly with such a plane. Even if I could only afford wood class (economy). Nevertheless, according to relevant websites, the seats should be at least 2cm wider. With more than 22 hours on the same place, 2cm likes to become whole worlds. </p>
        <p> So then you know about my flights. In the next few days I will finish a list of tasks that I have to do for my trip and which I have already done. </p>
        <p> See you soon. <br> Your basti </p>
    </div>
</div>
