---
layout: blog/en/travelblog
title: "05.03. Back to Adelaide"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide
  - Alice Springs

author: Steffi &amp; Basti

overview:
  intro: "After checking out this morning, we headed to the 'Anzac Hill' viewpoint in the center of Alice Springs. We parked the rental car for free in the adjacent parking lot and set out to climb the hill, already sweating."
  image:
    url: /assets/img/blog/auszeit/small/dsc02500.jpg
    alt: "A massive road train in Alice Springs"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02500.jpg" alt='A massive road train in Alice Springs'>
  </div>
  <div class="col-md-8">
    <h3> Steffi </h3>
    <p> After checking out this morning, we headed to the "Anzac Hill" viewpoint in the center of Alice Springs. We parked the rental car for free in the adjacent parking lot and set out to climb the hill, already sweating. </p>
    <p> Once at the top, we realized we'd both had a moment of Alzheimer's and had forgotten our water! Oh no! We spotted a road train in the middle of the city and were amazed at how easily it maneuvered around the corners. Basti had found a geocache online, so we went searching for it. We found it in a crevice, but unfortunately the cache had been vandalized by someone. All that remained was the broken box with no contents. </p>
    <p> We then headed to a gas station one last time to fill up the rental car before going to the airport. We dropped off the car, waited a long time for security, and then went to the souvenir shop. We had seen some T-shirts we liked when we arrived, but couldn't find them now. So, armed with our postcards, we sat in the departure lounge, filled them out, and put them in the mailbox there. </p>
    <p> Now it was time to wait until our flight was called, and then we were off. Just like on the way there, Basti gave me the window seat, although this time we had the whole row to ourselves and could spread out. </p>
    <p> After landing in Adelaide, the shuttle took us back to the long-term parking lot. Hugo was still there in one piece, so we quickly loaded our things and drove out of the lot toward the campsite. However, we first stopped at a Swedish furniture store right by the airport to browse around and possibly collect some ideas for Hugo modifications or renovations, and of course to get something to eat. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="War memorial above Alice Springs" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02504.jpg">
  </div>
  <div class="col-md-7">
    <h3> Basti </h3>
    <p> After we had walked through the aisles at IKEA, we decided to go to the campsite. </p>
    <p> This time we also chose a campsite with beach access. This one wasn't that far from the city and the airport, and was again a Big4 campground. At first, they tried to put us directly between the children's playground, jumping castle, and basketball court. We quickly asked and of course they had two spots for us with direct access to the kitchen and pool. </p>
    <p> On the way here and over the past few days, we had seen an outlet shopping center nearby, which we wanted to explore. Unfortunately, we didn't have much time because it was already late afternoon, and shops here always close very early. So we just tried to get an overview of the available stores and postponed the actual shopping until tomorrow or the day after. But when we stumbled upon a Jeep store, I just had to take a quick look. The prices were great and the shirts actually fit. When I left the store, I was a lot poorer, but several shirts richer. </p>
    <p> In the end, we just went grocery shopping and drove back to the campsite to relax with our car. </p>
    <p> See you in the morning. <br> Good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="War memorial above Alice Springs" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02504.jpg">
  </div>
</div>
