---
layout: blog/en/travelblog
title: "Nuts preparations for their first single flight"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - Germany

author: Mutti

overview:
  intro: "Today I would like to thank my mother for writing how she experienced the beginning of our trip. I hope this will not be the last post."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Today I would like to thank my mother for writing how she experienced the beginning of our trip. I hope this will not be the last post. </p>
    <h3> Nut </h3>
    <p> At the end of April 2013, I would not have thought in life that I would spend the whole of June in Australia. Invited by Sebastian at short notice, extended my employment contract unexpectedly by one year, I was able to think about vacation that I actually wanted to spend with Rolf. But Australia? Even Rolf said that I have to do that. Sebastian had also planned vacation there in June and had no desire to drive through the country alone with his van "Hugo" (sleeping place for 2 people). After some considering (flight around half the world, hardly any flight experience, changing several times, moderate English skills and all by itself) the decision was made, I do it! </p>
    <p> But it was in early May, would the time to prepare ??? Apply for 4 weeks of vacation. I got the OK immediately. Apply for passport. I applied for an express travel pass that I held in my hands after a week and which cost me &euro; 91.00. I applied for the visa with Sebastian's help online. That was very quick, probably only took 2 days and was also free of charge. Sebastian now had the flight on May 31. booked. Thanks!!! </p>
    <p> Now the theoretical preparations followed. For example, prepare the entry card for Australian customs. Since you only get the original on the plane shortly before Sydney, it makes sense thanks to modern technology from Apple to memorize at home. Otherwise you have the stress when the crosses are in the wrong place and you don't understand the customs officer. Choose seats in the plane and book, read strict luggage regulations, study the floor plans of the transfer of transfer, improve English knowledge, etc. As far as I could, I looked at the Internet in advance and could be explained by Steffi and Basti. So I was well prepared. So it can start. </p>
  </div>
</div>
