---
layout: blog/en/travelblog
title: "06/04/2013 Anna Bay the second"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Newcastle
  - Sydney

overview:
  intro: "Not too much was on our plan today. After breakfast and check -out from the hotel we left the van and drove the ferry to the circular quay again and walked the opera. We took countless photos of each other and together."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1844.jpg
alt: "At the end of the street is the small hotel where we stayed. As of today we will penned in the car"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1844.jpg" alt="Small short road up the mountain.">
  </div>
  <div class="col-md-7">
    <p> Not too much was on our plan today. After breakfast and check -out from the hotel we left the van and drove the ferry to the circular quay again and walked the opera. We took countless photos of each other and together. </p>
    <p> Mutti even asked to pose with an Asian in front of the Harbor Bridge. After that we quickly resolved a voucher at Hungry Jack's (Burger King Strolia) and drove back to Van, because we still wanted to drive to Anna Bay today. </p>
    <p> On the way to Anna Bay we stopped briefly in Newcastle. There I only briefly showed nuts where I could have worked and the youth hostel where I slept at the time. After that we only briefly sat on the coast on a short coffee with a view of the sea. </p>
    <p> Another hour later we finally arrived at the campsite. Unfortunately we found that the space is still empty and as creepy as 4 months ago when I was here with Steffi. We then spread in the kitchen building and cooked a little. Well mom cooked and I cleaned up our kitchen utensils and finally made a little order in and under the bed. </p>
    <p> Tomorrow we want to see if we see a few wild dolphins and koalas and we have to shop again for the next few days. Let's see how nuts see their first night in the van and in the wilderness of a campsite. I will definitely report. ;) </p>
    <p> Until tomorrow </p>
  </div>
</div>
