---
layout: blog/en/travelblog
title: "25.02. Apollo Bay & Otway Fly"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Apollo Bay

author: Steffi

overview:
  intro: "And once again I\'m lucky. ;) Thank you Steffi Today we both woke up with a thick nose and the sore throat was added to me. Great, the timing is well taken off again. For us it should go to the \"Otway Fly Treetop Walk\"!"
  image:
    url: /assets/img/blog/auszeit/small/20130713-185903.jpg
alt: "Tour with a view tower"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130713-185903.jpg" alt="Tour with a view tower">
  </div>
  <div class="col-md-9">
    <p> And once again I'm lucky. ;) THANKS </p>
    <h3> Steffi </h3>
    <p> Today we both woke up with a thick nose and the sore throat was added to me. Great, the timing is well taken off again. For us it should go to the "Otway Fly Treetop Walk"! </p>
    <p> Because Basti had his Merlin card and I have the voucher from our win in the monopoly game of a fast food chain, we both had free admission there! We started to explore the first section of the forest until we came across the "scaffolding", which should bring us to airy height. However, there wasn't much to see. After a while we came across a lookout tower. </p>
    <p> While Basti stayed down because the air supply due to the cold was more or less restricted by both of us, I decided to conquer the lookout tower and went up alone. After a felt eternity and loud breaks on the way up, I met the German family again, which we have always walked into during the tour and they also agreed to take a photo of me up there. </p>
    <p> Unfortunately, the view left a lot to be desired. The trees had grown so high that you actually didn't see anything! I went down again after a few minutes and we two continued the tour. However, it weren't more exciting. </p>
    <p> Conclusion: The normal admission price we should have paid would not have been justified. So it was a nice change! </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="And there is no person to see here either" src="{{ site.url }}/assets/img/blog/auszeit/small/20130713-185936.jpg">
  </div>
  <div class="col-md-8">
    <p> On the way back we decided to drive a different way, which led us over a very narrow street, with trees and rock walls on the sides. How good that oncoming traffic is not too big in this seclusion! </p>
    <p> In the meantime it was lunchtime and hunger drove us into town. We put Hugo back in the parking lot at the tourist information and made our way off the field. Unfortunately there was the well -known problem again here </p>
    <p><em> "Basti and Steffi are hungry, but all shops have too". </em></p>
    <p> So we first went to the supermarket to stock up with handkerchiefs, which were completely overpriced, and eucalyptus oil before we returned to the campsite to cook something. After the meal, the family pool was visited, where Basti first gave the full drossy eucalyptus bathtub, while I had made myself comfortable with a book. </p>
    <p> Thanks to the bacteria, we didn't get old today and so we go into the trap early so that the next day could start. Good night. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="And there is no person to see here either" src="{{ site.url }}/assets/img/blog/auszeit/small/20130713-185936.jpg">
  </div>
</div>
