---
layout: blog/en/travelblog
title: "Car against weather god in January"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Good morning. This time I will try to keep myself short. There is not too much to tell about January either. Actually, there were only a few nice little things that made the month pass very quickly."
  image:
    url: /assets/img/blog/auszeit/small/20130202-164455.jpg
alt: "We cordially invite you to smell on the roses, to hug the trees, to speak to the birds and to picnic on our green areas."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-164455.jpg" alt="The last sentence is the best. We cordially invite you to smell on the roses, to hug the trees, to speak to the birds and to picnic on our green areas.">
  </div>
  <div class="col-md-7">
    <p> Good morning. This time I will try to keep myself short. There is not too much to tell about January either. Actually, there were only a few nice little things that made the month pass very quickly. </p>
    <h2> Sydney Festival and Australia Day </h2>
    <p> Now that the entire December took place one event after another in Sydney, I assumed that it will be calmer again in January. Wrongly thought. One morning a colleague told me that the so -called Sydney Festival took place almost the entire January in Sydney. It is a cultural festival. So many concerts in the parks, exhibitions and even some sports ranking and the whole thing free of charge. </p>
    <p> I treated myself to the big opening concert in the park with a lot of jazz and gospel. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> The final concert of the Sydney Symphony Orchestra under the direction of German dirgent (with a bad accent) was nice. They played film music. A little too many melancholic titles for my taste. During the entire festival there was a huge squeaky duck in the Darling Harbor. I say yes. Strange people. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-164057.jpg" alt="Has the city shrunk or the squeaky duck is too big?">
  </div>
  <div class="col-md-7">
    <h2> Camper van for basti </h2>
    <p> I had already reported before that I got a visit to Febraur at the beginning. Steffi comes to Australia for a whole month to make the area unsafe with me. Our plan is to come from Sydney to Adelaide within 4 weeks because it flies back to Germany from there. </p>
    <p> Since I would like to see much more of foreigners than what you can do in 4 weeks, I decided a long time ago that I will buy a little van. Either one that is already converted for backpackers or one that I convert myself. Look around the Internet and in a little bit <a title="&Ouml;ffnet im neuen Fenster" href="https://www.sydneytravellerscarmarket.com.au/" target="_blank"> Sydney Travelers Car Market </a> One day I stumbled over two really nice ladies from my hometown Rostock. Who absolutely had to get rid of their car named Hugo. </p>
    <p> Hugo is a red 1991 Mitsubishi Starwagon, which is converted and is equipped with all the necessary camping equipment. Unfortunately, Hugo was too expensive. I met the two girls two more times. At the last meeting they were really desperate to re -book their flights to New Zealand. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-164057.jpg" alt="Has the city shrunk or the squeaky duck is too big?">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> We sat together for a long time and always spoke casually about the price for Hugo. Late in the evening I calculated everyone again and discussed with Steffi. We decided that it will end up at the same price when we take a car that still needs to be rebuilt. </p>
    <p> So I called in the middle of the night and made them an offer that was a little above my limit but far below what they wanted. However, they went into it and I drove the car in the middle of the night. The next morning we took care of the paperwork. The two then spent the afternoon clearing out by car and in the evening we sat on my balcony and exchanged tips for instruments and New Zealand. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-163816.jpg" alt="The skyline from the west">
  </div>
  <div class="col-md-7">
    <p> There are no photos from Hugo yet. But I deliver later. </p>
    <h2> The weather god doesn't like me </h2>
    <p> Now I had already got the problem with the car in the middle of the month and could finally have come out of the city. Unfortunately, I have had the problem since then that the weather god apparently can no longer suffer. Every time I have free it rains or storms. So so far I have only driven to the Olympics Park with Hugo to completely remove it there and see what exactly is in it. </p>
    <p> The remaining days of free days I had in January was unfortunately too bad to drive off. I mostly spent these days with work and shopping. </p>
    <p> Now there have been over 700 words. Well maybe it will be less next time. </p>
    <p> Greetings from Sydney. </p>
  </div>
</div>
