---
layout: blog/en/travelblog
title: "07.03. Steffi makes a departure"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide

overview:
  intro: "Today the day has come to which we have not been looking forward to for a long time. Steffi has to fly home again. Before that we still had a lot on the note and a little we wanted to enjoy the time together."
  image:
    url: /assets/img/blog/auszeit/small/dsc02596.jpg
alt: "Hugo after clearing out"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-8">
    <p> Today the day has come to which we have not been looking forward to for a long time. Steffi has to fly home again. Before that we still had a lot on the note and a little we wanted to enjoy the time together. </p>
    <p> First of all, we decided to look for Steffi's things together. So we cleared Hugo, looking for all individual parts for Steffi's suitcases and things I wanted to give home Steffi. We then also took the chance and took decent photos of Hugo for the later sale of the vehicle. Then we decided to jump a round in the pool and enjoy the warm temperatures. </p>
    <p> After we had rubbed ourselves dry again and put everything else in her suitcases, we decided to eat somewhere before we drive to airport. We landed in a Greek restaurant and ordered meat. Unfortunately, we only got meat without side dishes. When Steffi's plate came, I only heard </p>
    <div class="tag-box tag-box-v2">
      <p> "But I'm hungry!" </p>
    </div>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02612.jpg" alt="... sniff ...">
  </div>
  <div class="col-md-8">
    <p> The food was good even without side dishes. After that we quickly made our way to nearby promenade and enjoyed our last sunset together for Laaange. </p>
    <p> When it slowly got dark, I drove her to the airport and we enjoyed the last moments before the international security area was opened for your flight and I could no longer accompany you. </p>
    <p> Then I drove back to the campsite and suddenly was alone. What I find pretty stupid. Tomorrow I'll make my way back to Sydney and then work there again for a few months at Productreview.com.au. </p>
    <p> Now I'm going to my big and lonely bed. Good night!!! </p>

  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02612.jpg" alt="... sniff ...">
  </div>
</div>
