---
layout: blog/en/travelblog
title: "My Battle with the Weather Gods in January"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Good morning! This time I'll try to keep it brief. There's not too much to tell about January either. Just a few nice little experiences that made the month fly by quickly."
  image:
    url: /assets/img/blog/auszeit/small/20130202-164455.jpg
alt: "We cordially invite you to smell the roses, hug the trees, speak to the birds, and picnic on our green areas."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-164455.jpg" alt="The last sentence is the best: We cordially invite you to smell the roses, hug the trees, speak to the birds, and picnic on our green areas.">
  </div>
  <div class="col-md-7">
    <p>Good morning! This time I'll try to keep it brief. There's not too much to tell about January either. Just a few nice little experiences that made the month fly by quickly.</p>
    <h2>Sydney Festival and Australia Day</h2>
    <p>After all the back-to-back events in Sydney throughout December, I assumed that January would be quieter. I was wrong. One morning, a colleague told me about the Sydney Festival, which takes place almost the entire month of January. It's a cultural festival featuring numerous concerts in parks, exhibitions, and even some sporting events—all free of charge.</p>
    <p>I treated myself to the grand opening concert in the park, which featured lots of jazz and gospel music.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>The closing concert by the Sydney Symphony Orchestra, conducted by a German conductor (with a terrible accent), was also nice. They played film music, though there were a bit too many melancholic pieces for my taste. Throughout the entire festival, there was a giant rubber duck floating in Darling Harbour. Strange people, I tell you.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-164057.jpg" alt="Has the city shrunk or is the rubber duck just too big?">
  </div>
  <div class="col-md-7">
    <h2>A Camper Van for Basti</h2>
    <p>As I mentioned before, I'm getting a visitor at the beginning of February. Steffi is coming to Australia for a whole month to explore the area with me. Our plan is to travel from Sydney to Adelaide within four weeks, as she'll be flying back to Germany from there.</p>
    <p>Since I want to see much more of Australia than what we can cover in four weeks, I decided a long time ago to buy a small van—either one already converted for backpackers or one that I could convert myself. After looking around online and at the <a title="Opens in a new window" href="https://www.sydneytravellerscarmarket.com.au/" target="_blank">Sydney Travellers Car Market</a>, I stumbled upon two really nice women from my hometown of Rostock who desperately needed to sell their van named Hugo.</p>
    <p>Hugo is a red 1991 Mitsubishi Starwagon that's already been converted and equipped with all the necessary camping gear. Unfortunately, Hugo was quite expensive. I met with the two women two more times. At our last meeting, they were really desperate as they were trying to rebook their flights to New Zealand.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-164057.jpg" alt="Has the city shrunk or is the rubber duck just too big?">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>We sat together for quite a while, casually discussing the price of Hugo from time to time. Late in the evening, I calculated everything again and discussed it with Steffi. We decided that it would end up costing the same as buying a car that still needed to be converted.</p>
    <p>So I called them in the middle of the night and made an offer that was slightly above my limit but far below what they were asking. They accepted it, and I took the car for a test drive that same night. The next morning, we took care of the paperwork. The two women spent the afternoon clearing out the car, and in the evening, we sat on my balcony exchanging tips about Australia and New Zealand.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130202-163816.jpg" alt="The skyline viewed from the west">
  </div>
  <div class="col-md-7">
    <p>I don't have any photos of Hugo yet, but I'll add some later.</p>
    <h2>The Weather Gods Don't Like Me</h2>
    <p>So I had sorted out the car situation by the middle of the month and could finally have ventured out of the city. Unfortunately, since then, it seems the weather gods have turned against me. Every time I have a day off, it rains or storms. So far, I've only driven Hugo to Olympic Park once to completely empty it out and see exactly what's inside.</p>
    <p>The weather was too bad on my remaining days off in January to go for a drive. I mostly spent those days working and shopping.</p>
    <p>Well, that's turned into more than 700 words again. Maybe I'll manage to be more concise next time.</p>
    <p>Greetings from Sydney!</p>
  </div>
</div>
