---
layout: blog/en/travelblog
title: "February 27th. Warnamboool and the hostel"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Warrnamboo

overview:
  intro: "Today we didn\'t really get far. It took us over 6 hours for just 87km. Average about what is at 13km/h."
  image:
    url: /assets/img/blog/auszeit/small/20130716-163622.jpg
alt: "Gray sky, but delicious breakfast in the bay of P. C."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163622.jpg" alt="Gray sky, but delicious breakfast in the bay of P. C.">
  </div>
  <div class="col-md-7">
    <p> Today we didn't really get far. It took us over 6 hours for just 87km. Average about what is at 13km/h. </p>
    <p> But it was also worth it. Because this morning we got rid of a little late. All other day guests around us were out of sight. After we got ready and cleared the fridge back in the fridge, it started. Only to the beach to have breakfast in all of Herrgott's calm and enjoy the morning. </p>
    <p> At breakfast with a sea view, we then unanimously only decided to drive Warrnambool into the next larger place. Once because we wanted to buy a few foods and there should also be a few nice places on the next km. </p>
    <p> So briefly get Hugo to drink (refuel) and then go. After just a few minutes we came to the first parking lot from which you had a beautiful view of our sleeping place of the last night. Quickly a two photos and then to the next parking lot. </p>
    <p> So we went from parking to parking all morning. A photo here, a photo there. Again and again a photo of both of us together and of course always with a super great view of the sea and great cliffs. Unfortunately, the weather didn't always want to! </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163720.jpg" alt="Rauhe lake on the Great Ocean Road">
  </div>
  <div class="col-md-7">
    <p> When the street led away from the sea slowly and leisurely, it started snoring next to me. Well, I don't say anything anymore. In any case, there was something of a whale school. Since my companion slept again, I decided alone that I would like to drive past there. It turned out to be a viewing platform on the Logan Beach. Whales have been supposed to give birth to their children for years at the sea section in front of this platform. You should be able to watch them particularly well from up here. </p>
    <p> Since unfortunately there is no whale season again, nothing is going on here as expected. So we continued to the Warrnamboool tourist information. There the friendly employee tried to find a riding stable again with which I am approved with my thick belly. Unfortunately, all Australian horses seem to have a permissible payload of a maximum of 100kg. So I was unfortunately unable to fulfill Steffi that we both make a beautiful beach outdate together. </p>
    <p> The friendly lady from the tourist information still had a good tip for us. She sent us to a hostel where we can park on the back yard for a reasonably approved price and use all common rooms and toilets. </p>
    <p> Before we drove to the hostel, however, we decided to do something against our hunger in the hope of not standing in front of closed doors again. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163720.jpg" alt="Rauhe lake on the Great Ocean Road">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163747.jpg" alt="My camper Hugo between many green bushes.">
  </div>
  <div class="col-md-7">
    <p> The tourist information also had a nice answer to this and gave us the directions to a small restaurant in the middle of the city, which had a good selection of dishes and also opened at a time when we are hungry. </p>
    <p> After a rich kebab plate or Chickenburger we went to the hostel to secure a parking space. After that was also done, we decided to go for a little walk and also look for a treasure. Unfortunately we were not lucky in our search and slowly it was also cool, so we decided to make ourselves comfortable in the hostel with a tea and think about what we want to do the next few days, since ride is unfortunately. </p>
    <p> An idea is to simply take two pure driving days from tomorrow to get to Adelaide for almost a week. This additional time could then be used to fly again for 2 -3 days to Alice Springs and Uluru. </p>
    <p> Well let's see where this idea leads us. <br> But now first <br> Good night. </p>
  </div>
</div>
