---
layout: blog/en/travelblog
title: "05.06.2013 Dolphins and Koalas"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Port Stephens

overview:
  intro: "After breakfast, we headed to the nearby beach this morning. Just like during my last visit, the endless stretch of beach and dunes was truly impressive."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-18471.jpg
alt: "Small crab looking very big"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-18471.jpg" alt="A small crab sitting in a crevice">
  </div>
  <div class="col-md-7">
    <p> After breakfast, we headed to the nearby beach this morning. Just like during my last visit, the endless stretch of beach and dunes was truly impressive. </p>
    <p> We sat on some rocks, enjoyed the warm sunshine, and took countless photos. At some point, we dipped our feet in a tide pool. After just a few moments, my mother gave a small shriek when she discovered that there were crabs sitting in the pool and in the crevices. </p>
    <p> After watching the crabs for a while, we decided to search for the dolphins and koalas that this region is known for. So we drove to Port Stephens harbor. Since I had been here with Steffi 4 months ago, I knew from where we would get the best view over the bay. Unfortunately, once again, we had no luck with the dolphins, so we went to the tourist information office hoping they could give us tips on where to see dolphins. Unfortunately not! But the friendly lady was able to give us a tip on where we might see koalas in the evening. Since this area was also on our way back to the campsite, we decided to stop there later. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> After so much free time today, we decided to tackle one of the two mandatory items on today's agenda. So we drove to the nearest shopping center to stock up on groceries, snacks, and drinks for the next few days. I don't know exactly what lies ahead from tomorrow onward, and therefore I don't know where we'll be able to shop. The first few days should still be easy because we're heading toward Brisbane, and there are still many larger towns on the map. North of Brisbane, the settlements become more sparse. </p>
    <p> Oh, as I promised you yesterday, I want to briefly tell you that Mom survived her first night in the van. Since she found the bed a bit hard, we decided to quickly buy a foam mattress pad today. As a result, we'll be sitting about 5-10 cm higher tonight, but also sleeping much more comfortably. </p>
    <p> Now that the car was fully packed again, we drove back to the campsite. On the way, we stopped at a spot where we supposedly had a chance to see wild koalas. We walked rather daringly through the grass in flip-flops and open sandals, searching for them. All the while, we were hoping that all snakes and other threatening animals were enjoying their winter hibernation. Unfortunately, we weren't lucky with the koalas today and saw only empty trees and a few interesting birds. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1849.jpg" alt="Wide-angle shot of the sandy beach. My mother stands in shallow water about 100m away">
  </div>
  <div class="col-md-7">
    <p> Since the sun currently sets very early, we continued to the campsite. I parked the van right in front of the kitchen building, and we set about our second task of the day: to unload, open up, and reorganize the van. While Mom was cooking another delicious meal for us, I took everything out of the car and distributed it on the tables in the kitchen. After that, we worked out the strategically best arrangement of all our things in the available boxes, so that in the coming weeks we won't have to keep moving boxes hidden behind other boxes. </p>
    <p> We also made a rough plan for tomorrow morning. We're heading to the Hunter Valley, supposedly one of the most beautiful wine regions in Australia. Well, first of all, it's winter here, and secondly, there's not much going on there. That's why we just want to drive through on our way to Port Macquarie. </p>
    <p> On our way to bed, some rabbits were sitting on the campground again tonight and didn't even let our presence disturb them. </p>
    <p> So now it's time to sleep. <br> Good night. </p>

  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1849.jpg" alt="Wide-angle shot of the sandy beach. My mother stands in shallow water about 100m away">
  </div>
</div>
