---
layout: blog/en/travelblog
title: "16.02. Canberra"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Canberra

overview:
  intro: "With a little melancholy and not the greatest anticipation, we got ready this morning to leave the great camping darn at Wombats Grove."
  image:
    url: /assets/img/blog/auszeit/small/dsc01072.jpg
alt: "Small merino on the way to Canberra"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01072.jpg" alt='"kleines" Merinosch&auml;fchen auf dem Weg nach Canberra'>
  </div>
  <div class="col-md-7">
    <p> With a little melancholy and not the greatest anticipation, we got ready this morning to leave the great camping darn at Wombats Grove. </p>
    <p> The weather was of the same opinion as we were. It was hazy. The clouds hung so extremely deep that they were already scratching the tree tops. After we could finally separate ourselves from the campsite, which street we came down the mountain and that we now have to go up again. It is 6km of road with a slope of at least 10% and curves that cannot be passed through even without oncoming traffic than with 15km. Now I was afraid that fog is added. But we were lucky that the dense rows of trees along the street kept the clouds away enough. </p>
    <p> Our first goal of the day was the Fitzroy Falls waterfalls. We had already looked at this briefly on the way there. Today we wanted to go to a second viewpoint to get even better photos of the waterfall. Unfortunately, the clouds disagreed. Once in the parking lot, Steffi quickly went to check the location of the waterfall. Unfortunately, the weather was against us and it started to rain and there was a thick fog on the way. So much the excursion and we continued towards Australia's capital Canberra. On the way there we made a short stop on a rest farm to make up for our breakfast. There we also caught the eye next door next door. In this case, small means, almost 2 floors or higher! </p>
    <p> In Canberra we had searched for a campsite directly at the exhibition center. Unfortunately, the GPS coordinates were scrap again and we drove in a circle a few times before we just stood on the pitch at MC Donalds and continued to search online. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> We found that the campsite is closed due to a fair. After some searching and calling around, we found a campsite a good deal outside of Canberras. So we decided to explore the city first and then drive to the campsite. On the way to the city we still stopped at the tourist information. We found the latest edition of the camping guide there. In addition, the women there were also able to help us with our overnight problem. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Parliament buildings with a huge green area and all around around" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01081.jpg">
  </div>
  <div class="col-md-7">
    <p> We drove quickly to the campsite to secure a place and then we finally went into the city. Well what looks on the street map to city. How ended up in the administrative district and found that the travel guides are all right. It is really very, very spacious. If you drive around the car, you don't even see most of it, because it either has several hundred meters of front yard or is covered by several rows of trees. </p>
    <p> We simply decided to park the car with the water and finally go a few meters on foot again. Only that with this sparse became quickly from meters kilometers. Since it was also hot, we decided to sit a little in the shade in the rose garden of the old parliament and then maybe run the Capitol Hill up to the new parliament. </p>
    <p> We didn't make it to the top. The meadow in front of parliament was too big for us. Since we also violated the dress code of the paraleration, they would not have left us in anyway. So we are back to the car and made our way back to the campsite. </p>
    <p> On the way, quickly stopped to fill water supplies and get dinner. There were wraps tonight. We processed the rest of the hack to Klopsen for tomorrow. Tomorrow we go to the museum and then off towards the coast ... finally want to go back to the sea. Good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Parliament buildings with a huge green area and all around around" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01081.jpg">
  </div>
</div>
