---
layout: blog/en/travelblog
title: "February 25: Apollo Bay & Otway Fly"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Apollo Bay

author: Steffi

overview:
  intro: "And once again I'm lucky. ;) Today we both woke up with stuffy noses, and I also got a sore throat. Great, the timing couldn't be better. We were planning to visit the \"Otway Fly Treetop Walk\" today!"
  image:
    url: /assets/img/blog/auszeit/small/20130713-185903.jpg
alt: "Tour with a viewing tower"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130713-185903.jpg" alt="Tour with a viewing tower">
  </div>
  <div class="col-md-9">
    <p>And once again I'm lucky. ;) THANKS!</p>
    <h3>Steffi</h3>
    <p>Today we both woke up with stuffy noses, and I also got a sore throat. Great, the timing couldn't be better. We were planning to visit the "Otway Fly Treetop Walk" today!</p>
    <p>Since Basti had his Merlin card and I had the voucher from our win in the monopoly game at a fast food chain, we both had free admission! We started exploring the first section of the forest until we came to the "scaffolding" that would take us to dizzying heights. However, there wasn't much to see. After a while, we came across a viewing tower.</p>
    <p>While Basti stayed below because our breathing was somewhat restricted due to our colds, I decided to conquer the viewing tower and went up alone. After what felt like an eternity and many breaks on the way up, I again met the German family that we kept running into during the tour, and they agreed to take a photo of me up there.</p>
    <p>Unfortunately, the view left a lot to be desired. The trees had grown so tall that you couldn't actually see anything! I went back down after a few minutes, and we continued the tour. However, it didn't get any more exciting.</p>
    <p>Conclusion: The regular admission price we would have had to pay wouldn't have been justified. But as a free diversion, it was nice!</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="And there is no person to see here either" src="{{ site.url }}/assets/img/blog/auszeit/small/20130713-185936.jpg">
  </div>
  <div class="col-md-8">
    <p>On the way back, we decided to take a different route, which led us along a very narrow road with trees and rock walls on both sides. How fortunate that there isn't much oncoming traffic in this remote area!</p>
    <p>By then it was lunchtime, and hunger drove us into town. We parked Hugo back at the tourist information center and set out on foot. Unfortunately, we ran into the familiar problem again:</p>
    <p><em>"Basti and Steffi are hungry, but all shops are closed."</em></p>
    <p>So we first went to the supermarket to stock up on tissues, which were completely overpriced, and eucalyptus oil before returning to the campsite to cook something. After the meal, we visited the campsite pool, where Basti first turned it into a full eucalyptus bath, while I made myself comfortable with a book.</p>
    <p>Thanks to the bacteria, we didn't have much energy today, so we went to bed early to be ready for the next day. Good night.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="And there is no person to see here either" src="{{ site.url }}/assets/img/blog/auszeit/small/20130713-185936.jpg">
  </div>
</div>
