---
layout: blog/en/travelblog
title: "01. - 05.02.2013 before Steffi\'s arrival"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Today I would like to start reporting over a great month. With many experiences, fun, spontaneous and rather expensive ideas and a small cold."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Today I would like to start reporting over a great month. With many experiences, fun, spontaneous and rather expensive ideas and a small cold. </p>
    <p> Since so much was going on in February, I thought I was able to shake the month into many small posts. Similar to the writing like my reports about New Zealand. I just hope a little shorter. </p>
    <p> Today I would like to report on the period from 01. - 05. February. These are the days before Steffi arrived here. There is actually not much to report about these 5 days. Most of the time I was at work or at home. Unfortunately, the weather was still not friendly in my free time. So I prepare the excerpt from my apartment about which I was more and more happy. First, the apartment was always cared for/cleaned and secondly one day water came in under the apartment door. This came from the vacant neighboring apartment into which it seemed to rain. Since nobody cared about the water, the apartment started to smell and the smell was getting stronger. </p>
    <p> For work, I also prepared everything for my one -month absence. Since we were in the middle of the project, a lot had to be handed over, which hopefully was largely flawless so that the boys could work with it without any problems. </p>
    <p> That was pretty much everything there is to tell about the first few days in February. Unfortunately, there were no photos in the few days. The next day Steffi arrived but more about that next time. Maybe I will even get you convinced to write one or the other of my own contribution. I would definitely be very happy about it. </p>
  </div>
</div>
