---
layout: blog/en/travelblog
title: "06/03/2013 Private Tour at Wildlife Center Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Today my mother and I had a lot planned. Thankfully, not as many things went wrong as yesterday. However, two things did turn out differently than expected."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1836.jpg
    alt: "Mom and I on the Pyrmont Bridge in Darling Harbour during the Vivid Festival"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1836.jpg" alt="Mom and I in front of an illuminated plastic tree">
  </div>
  <div class="col-md-7">
    <p> Today my mother and I had a lot planned. Thankfully, not as many things went wrong as yesterday. However, two things did turn out differently than expected. </p>
    <p> It started right away when we actually wanted to park the van in a free parking lot near my office. Unfortunately, we were apparently a little late. After driving around the block three times, we couldn't find a suitable parking space. So we put the car in the parking garage at the Broadway Shopping Center. On the way to the city, we briefly stopped at the office to return the key that I still had and which had saved us from the rain yesterday. </p>
    <p> Then we walked into the city to Paddy's Market. We wanted to buy knickknacks and souvenirs to fill Mom's suitcase for the return trip. What I hadn't considered again was that today was Monday, and Paddy's Market is only open Wednesday through Sunday. So we went through the shopping center above and then took the Monorail to the Wildlife Center in Darling Harbour. This trip was also a must-do on our list, since the Monorail will only run through Sydney until June 30, 2013. After that, the 3.6 km circuit will be dismantled and is already partially for sale. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1833.jpg" alt="Close-up of a 5m long python">
  </div>
  <div class="col-md-7">
    <p> At the Wildlife Center, we had real luck with the animals and the extremely friendly staff. First, a python and two green tree snakes over 5m long posed for the camera. Shortly afterward, a keeper approached us with a bearded dragon, which we were even allowed to pet. The keeper gave us a tip that we should go back because the keeper of the Tasmanian devil was currently in the enclosure for feeding time. So we headed back, hoping to see the little devils. </p>
    <p> Unfortunately, this wasn't the case, despite repeated attempts by the keeper to entice them with food. On our way past koalas, wombats, and wallabies, a keeper was just coming out of the enclosure of the huge crocodile called "Rex." When she saw us, she immediately invited us to a small private tour of the crocodile enclosure. Then we met the keeper of the Tasmanian devils again, who took us directly to see the feeding of the small marsupials. Near the end of the tour, we passed the outdoor area/photo spot for the koalas and were even able to see a baby koala in the gathering darkness. </p>
    <p> I've been to the Wildlife Center Sydney a few times in the past few months, but I've never had such a nice and personal tour. From the Monorail, we continued to a Brazilian rodizio restaurant. I've always wanted to eat there, but since it's not very cheap and eating alone makes you fat, I had refrained until today. Today we simply treated ourselves to it, because from tomorrow we'll be traveling with the van and will be cooking again. </p>
    <p> On the way back to the van, we bought breakfast for tomorrow and provisions for our trip to Anna Bay. So we'll have one less thing to worry about tomorrow. </p>
    <p> Now it's time for bed again. <br> Good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1833.jpg" alt="Close-up of a 5m long python">
  </div>
</div>
