---
layout: blog/en/travelblog
title: "February 18. From Africa to Central Europe"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Cann
  - Congo

author: Steffi &amp; Basti

overview:
  intro: "After a relaxed and accompanied night in Congo, I was drawn out of the camper very early. Why stay there when you already sleep directly on the beach and are awake at sunrise!"
  image:
    url: /assets/img/blog/auszeit/small/dsc01164.jpg
alt: "Unfortunately not to take away. Who probably lived here?"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01164.jpg" alt="Unfortunately not to take away. Who probably lived here?">
  </div>
  <div class="col-md-7">
    <h3> Steffi </h3>
    <p> After a relaxed and accompanied night in Congo, I was drawn out of the camper very early. Why stay there when you already sleep directly on the beach and are awake at sunrise! </p>
    <p> The gentleman next to me was still asleep, so I sneaked out quietly out of the car and went down to the beach. Since the sun was still hidden behind the cliffs, it was first to be rolled up in training pants and walk through water channels to the other side so that you caught the really chic look. I guess I haven't had such a relaxed and nice morning for a long time. Have a nice sunrise, a deserted beach, the rushing of the waves and otherwise absolute calm ... what more you want (I) ??? </p>
    <p> After I just let myself fall into the sand and enjoyed the moment for some time, I was put on my feet again to walk a little on the beach and to capture the whole thing in a few pictures. In the meantime, the sun had also come around the cliffs and I slowly made my way back to the camper. </p>
    <p> After we had prepared everything for the departure, Basti began to put the rough plan for the day. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Crystal clear sea with people empty sandy beach" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01204.jpg">
  </div>
  <div class="col-md-7">
    <p> During this, I grabbed the camera again and took the recommended path from the guardian of the square to the beach. This was found quite quickly ... steps up on the hill, other side steps down and again arrived at a beautiful and above all, deserted beach. What a sight ... you could feel comfortable here! <br> I stood on the last stage, I just wanted to shoot my flip -flops into the corner to take the last step into the sand, then I saw the first jellyfish right in front of my nose. Ok ... So start flip -flops and go on. Better, because the beach was overlooked with jellyfish and since it all look the same for me, whether dangerous or not ... <br> But there were not only jellyfish to see there, but also really chic shells etc., which simply invited to take away. Really frustrating that you are not allowed to take them with you! </p>
    <p> I could have spent ages there, but the journey had to go on and so I hit the way back after 20 minutes and we stowed the rest in the car and drove off. </p>
    <h3> Basti </h3>
    <p> We left the small village of Congo on the same way we had come. That said we had to go over the several km long sand slopes, which felt more like a washing board. Since Steffi still hurt the neck, this piece of our daily stage was not the most beautiful. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Crystal clear sea with people empty sandy beach" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01204.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Eucalyptus Baum am Cann River" src="{{ site.url }}/assets/img/blog/auszeit/small/20130705-132101.jpg">
  </div>
  <div class="col-md-7">
    <p> But it quickly became a lot more beautiful because I was looking for another beach on our tour today that should be very nice. There we took our first major break. The little bay with the name Mystery Bay is really fantastic. As stolen from a travel catalog. An older couple was swimming in the water. When we got closer they were just getting out. Otherwise there was no other human soul. The couple offered us to take a photo of us and gave us a few more tips where you can drive along. </p>
    <p> As soon as the two were out of view, a little battle started. We left our most important electronic devices in the shoes on the beach and started a small water battle. After just a few minutes we were wet to the bones, which absolutely didn't bother us in the beautiful weather. We were still rolating around for some time before we had to go on. We would have loved to stay there, but the toilets at the Campin Square were just for choking. </p>
    <p> I also wanted to go to Melbourne a little, because Steffi's Genick worried me a little because it just didn't seem to get better. </p>
    <p> I didn't drive 5 minutes on the Highway (Bundeststrasse in Germany). I just started an audio book and enjoyed the trip through apparently endless primeval forests. Berg up and mountain down. </p>
    <p> It really took a few hours and a tank stop in a small town with H&uuml;pschen marina before we arrived in Cann River. A small sleepy village. Unfortunately, the coordinates in the camping guide were again not acurate. After a short procedure, we stopped at a petrol station to ask for the way. We could help us and also told us that we had to pay seat fees in the opposite hotel. </p>
    <p> When we arrived at the campsite 10 minutes later, we also realized why. Except for a toilet house and an open kitchen, there wasn't much there. So we chose a place and finally wanted to look at the Cannen River. Unfortunately, this was a letdown because it did not lead a lot of water in High and could therefore be described with small stream. </p>
    <p> We decided to make ourselves comfortable and just enjoy the day. With the darkness, however, it became exciting again. When we both on the way from the bathroom back to the van, two pairs of furry eyes looked in the eucalyptus tree behind the car. At first we didn't know what kind of animals it was. So first exercise caution. The two did not make any institutions away from us. So we unanimously decided that Steffi quickly stowed the remaining little things in the car and I take care that these two fur balls do not get too close to us. </p>
    <p> They thought differently and walked across the square to the next camper with an unshakable serenity. After Steffi was in bed once, I wanted to quickly go to the toilet. On the way there I watched the two animals again. When I passed, I heard a lady explain in English that it was so -called " <a title="Deutsches Wiki zum Thema Ringatil Possum" href="https://de.wikipedia.org/wiki/Ringelschwanz-Kletterbeutler" target="_blank"> Ringtail Possums </a> "Handle. Just as you spoke about these animals was clear that the two of them are not dangerous. So we both were able to fall asleep down. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <h3> Addendum from Steffi on the topic of "falling asleep" </h3>
    <p> I can't do anything for ... that's the engine. !!! <br> As soon as the part runs, you go away ... whether you are tired or not! </p>
  </div>
</div>
