---
layout: blog/en/travelblog
title: "February 18: From Africa to Central Europe"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Cann
  - Congo

author: Steffi &amp; Basti

overview:
  intro: "After a peaceful night in Congo, I was drawn out of the camper very early. Why stay inside when you're already sleeping right on the beach and awake at sunrise!"
  image:
    url: /assets/img/blog/auszeit/small/dsc01164.jpg
    alt: "Unfortunately not allowed to take away. Who once lived here?"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01164.jpg" alt="A beautiful shell on the beach that we unfortunately couldn't collect">
  </div>
  <div class="col-md-7">
    <h3>Steffi</h3>
    <p>After a peaceful night in Congo, I was drawn out of the camper very early. Why stay inside when you're already sleeping right on the beach and awake at sunrise!</p>
    <p>The gentleman next to me was still asleep, so I quietly snuck out of the car and went down to the beach. Since the sun was still hidden behind the cliffs, I had to bundle up in sweatpants and walk through water channels to the other side to catch the truly beautiful view. I don't think I've had such a relaxing and pleasant morning in a long time. A beautiful sunrise, a deserted beach, the sound of the waves, and otherwise absolute silence... what more could I (or anyone) want???</p>
    <p>After I simply let myself fall into the sand and enjoyed the moment for some time, I got back on my feet to walk a little along the beach and capture everything in a few pictures. By then, the sun had come around the cliffs, and I slowly made my way back to the camper.</p>
    <p>After we had prepared everything for departure, Basti began to sketch out the rough plan for the day.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Crystal clear sea with completely empty sandy beach" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01204.jpg">
  </div>
  <div class="col-md-7">
    <p>During this time, I grabbed the camera again and took the path to the beach that the campsite caretaker had recommended. I found it quite quickly... steps up the hill, steps down the other side, and I arrived at another beautiful and, above all, deserted beach. What a sight... you could really feel at peace here!<br>I stood on the last step, about to kick off my flip-flops to take the final step onto the sand, when I spotted the first jellyfish right in front of me. Okay... so I kept my flip-flops on and continued. Good thing, because the beach was scattered with jellyfish, and since they all look the same to me—dangerous or not—I stayed cautious.<br>But there weren't only jellyfish to see there; there were also really beautiful shells, etc., which were simply begging to be collected. Really frustrating that you're not allowed to take them with you!</p>
    <p>I could have spent ages there, but we had to continue our journey, so I headed back after 20 minutes. We stowed everything in the car and drove off.</p>
    <h3>Basti</h3>
    <p>We left the small village of Congo the same way we had come in. That meant we had to drive over the several-kilometer-long sandy slopes, which felt more like a washboard. Since Steffi's neck still hurt, this part of our daily journey wasn't the most pleasant.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Crystal clear sea with completely empty sandy beach" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01204.jpg">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Eucalyptus tree at Cann River" src="{{ site.url }}/assets/img/blog/auszeit/small/20130705-132101.jpg">
  </div>
  <div class="col-md-7">
    <p>But things quickly got much better because I was looking for another beach on our route today that was supposed to be very nice. We took our first major break there. The little bay with the name Mystery Bay is really fantastic. Like it was stolen from a travel catalog. An older couple was swimming in the water. When we got closer, they were just getting out. Otherwise, there wasn't another soul around. The couple offered to take a photo of us and gave us a few more tips on where to drive along.</p>
    <p>As soon as the two were out of sight, a little battle started. We left our most important electronic devices in our shoes on the beach and started a small water fight. After just a few minutes, we were soaked to the bone, which absolutely didn't bother us in the beautiful weather. We splashed around for quite some time before we had to move on. We would have loved to stay there, but the toilets at the campsite were just disgusting.</p>
    <p>I also wanted to get a bit closer to Melbourne because Steffi's neck worried me a little as it just didn't seem to be getting better.</p>
    <p>I hadn't been driving on the highway (equivalent to a Bundesstraße in Germany) for even 5 minutes. I had just started an audiobook and was enjoying the trip through seemingly endless primeval forests. Up and down mountains we went.</p>
    <p>It really took a few hours and a fuel stop in a small town with a pretty marina before we arrived in Cann River, a small sleepy village. Unfortunately, the coordinates in the camping guide were again not accurate. After a short search, we stopped at a gas station to ask for directions. They were able to help us and also told us that we had to pay the site fees at the hotel across the street.</p>
    <p>When we arrived at the campsite 10 minutes later, we also realized why. Apart from a toilet block and an open kitchen, there wasn't much there. So we chose a spot and finally wanted to look at the Cann River. Unfortunately, it was a letdown because it didn't carry much water and could therefore be better described as a small stream.</p>
    <p>We decided to make ourselves comfortable and just enjoy the day. When darkness fell, however, things got exciting again. As we were both on our way back from the bathroom to the van, two pairs of furry eyes looked at us from the eucalyptus tree behind the car. At first, we didn't know what kind of animals they were. So, caution first. The two didn't make any move to get away from us. So we unanimously decided that Steffi would quickly stow the remaining items in the car while I would make sure these two fur balls didn't get too close to us.</p>
    <p>They had different ideas and walked across the site to the next camper with unshakable serenity. After Steffi was in bed, I wanted to quickly go to the toilet. On the way there, I spotted the two animals again. As I passed, I heard a lady explaining in English that they were so-called "<a title="German wiki page about Ringtail Possum" href="https://de.wikipedia.org/wiki/Ringelschwanz-Kletterbeutler" target="_blank">Ringtail Possums</a>." From the way she spoke about these animals, it was clear they weren't dangerous. So we were both able to fall asleep peacefully.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <h3>Addendum from Steffi on the topic of "falling asleep"</h3>
    <p>I can't help it... it's the engine!!!<br>As soon as that thing runs, I drift off... whether I'm tired or not!</p>
  </div>
</div>
