---
layout: blog/en/travelblog
title: "Dive or not"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Yes, diving is fun. Though I've discovered that I'm no longer 100% suited for the open sea since my ferry ride in New Zealand left me feeling seasick."
  image:
    url: /assets/img/blog/auszeit/small/imgp0384.jpg
alt: "The boat that took me out to the open sea"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/imgp0384.jpg" alt="Diving boat returning to Sydney harbor">
  </div>
  <div class="col-md-7">
    <p> Yes, diving is fun. Though I've discovered that I'm no longer 100% suited for the open sea since my ferry ride in New Zealand left me feeling seasick. </p>
    <p> Unfortunately, I had to abort my first dive from a boat in the open sea. I was so excited and the waves were so high that I started feeling queasy. As a result, I wasn't focused enough to properly assemble and check my equipment. Once I got into the water, I felt a little better, but something still didn't feel right with my gear. After a brief discussion, I decided not to dive and to call it off. It was too dangerous to dive with equipment that wasn't properly checked, especially with a planned diving depth of 16m. </p>
    <p> I've decided to do a few more shore dives to become more confident. I'd also like to go out on a boat again but without diving at first, just to get used to the motion of the sea again. The day still had one good thing about it: while waiting for the other divers, a young humpback whale appeared about 15m from the boat. Unfortunately, it all happened so quickly that I didn't have time to grab my camera. </p>
    <p> Steffi had brought my wetsuit with her from Germany, which is helpful since the water temperature here drops below 20 degrees in winter, and the suit also offers good protection against scorpionfish and jellyfish. I bought a mask, snorkel, and fins here for a good price. The mask even has my prescription lenses. </p>
    <p> Yes, diving is a nice replacement for horseback riding, but now that autumn is here, it's getting quite cool. At the moment, we barely reach 20 degrees during the day, and only for a few minutes. The past few days have felt more like early autumn in Ireland. A fleece jacket and scarf are necessary, though a heavy coat isn't needed yet. I hope it stays that way. </p>
  </div>
</div>
