---
layout: blog/en/travelblog
title: "26.02. Koalas and apostles"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Apollo Bay
  - Great Ocean Road
  - Port Campbell
  - Twelve apostles

author: Steffi &amp; Basti

overview:
  intro: "Today we shared the letter again. Thank you Basti After checking out, we drove to a tour of the rainforest just behind Apollo Bay. This was really not very long, but more impressive than the paid tour yesterday in the Otway Fly Treetop. We really took some photos and let ourselves be photographed one time or another."
  image:
    url: /assets/img/blog/auszeit/small/20130714-143019.jpg
alt: "It is clearly older than us"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130714-143019.jpg" alt="It is clearly older than us">
  </div>
  <div class="col-md-8">
    <p> Today we shared the letter again. THANKS </p>
<h3> Basti </h3>
<p> After checking out, we drove to a tour of the rainforest just behind Apollo Bay. This was really not very long, but more impressive than the paid tour yesterday in the Otway Fly Treetop. We really took some photos and let ourselves be photographed one time or another. </p>
<h3> Steffi </h3>
<p> When the journey continued, the "sanitary facilities" problem reported shortly afterwards. The next option should be many kilometers away according to the navigation system and so we made a detour of a few km because there should be a campsite. This detour then turned out to be a damn good decision, because after a short time we discovered 2-3 cars on the side of the road and their owners, all of which stared at the air. "What's going on here?" Temp reduced and then we saw it: Lauter koalas were sitting in the trees !!! So stopped on the left, the camera pulled out and go to the Koalas! Juhu, our first free -living koalas on this trip. They don't count on Philipp Island, they were finally under care! </p>
<p> The Koalas in the trees were even quite active and climbed from A to B and presented themselves to the "spectators". So of course everything was forgotten and we stayed there for some time. Over time, however, the actual project was set in again and we continued, but not without continuing to look into the trees, where we could actually keep koalas again and again. At one point we stopped again because the Koalas were quite far down where you could watch them great. </p>
<p> Then the trip finally took us to the long -awaited campsite! Under the pretext of some questions in general, we were able to visit the sanitary facilities before we went back to the original route. You put up with such detours. Or? </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130714-143106.jpg" alt='"oh Zuschauer - da mal freundlich pr&auml;sentieren"'>
  </div>
  <div class="col-md-7">
    <h3> Basti </h3>
    <p></p> Yes, driving the street to the Otway Lighthouse and thereby seeing the Koalas was a good idea. But there were also really many and above all active animals. <p> After we were back on the Great Ocean Road, we still had a few km through the flat area in front of us before going up to the most beautiful cliffs in the world. We decided to stop directly at the first parking lot and take a look. Kurz became long and once again Steffi's camera ran hot from many photos. </p>
    <p> But it is also really nice to stand in front of these huge rock formations down on the beach, with your feet in the much too cold water and just enjoy the day. There were a few more people on this beach. Nevertheless, there were no more than 10 or 15 people. Of course mostly asian and accordingly quickly away. </p>
    <p> After we had finally torn down from the sight and the steps were up again, the few missing km to the official outlet on the twelve apostles. The parking lot was of course already packed, so that we had to park on a bus parking lot together with another camper. Right next to the parking lot was the runway for the sightseeing flights. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130714-143106.jpg" alt='"oh Zuschauer - da mal freundlich pr&auml;sentieren"'>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Initially, I had actually planned to get into a helicopter here and look at the apostles from above. But after we saw how short the flights were and how extremely overpriced they are, we left it and made our way to the viewing platform on foot. There we also let the camera run hot again and enjoyed the sight of the rock formations in the fog of the breaking waves. </p>
    <p> After a while we went back to the car and treated ourselves to an ice cream for the long way of just 150m as a way. You could starve! After we left the parking lot, we found very quickly that we won't go very far today. Every few hundred meters, a parking space with a viewpoint came along a very nice coastal strip. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130714-143353.jpg" alt="The first glance partial view of the 12 apostles">
  </div>
  <div class="col-md-7">
    <p> After the cameras had run hot countless times, we arrived in Port Campbell. There we first drove to the campsite from our camping guide. Unfortunately, this was not according to our taste and we drove on to a larger one that was also in the "city center". If you can call this nest as a city. As so often, this was not the cheapest, but well equipped and directly at a river mouth with its own beach access. </p>
    <p> But we were hungry again and decided to search for something edible. Very quickly we had to find out here that we are just too early. But then we were lucky and landed in a restaurant/pub with a view of the bay and the sunset. There was rump steak for both of us, which was delicious but too much as always. A portion of both of us would have been completely sufficient. </p>
    <p> After eating, we both rolled towards each other towards the beach and enjoyed the increasingly colorful sky in front of the setting sun. When it slowly became too fresh, we went back to the campsite and started with the mandatory program for tonight. To make the laundry! In the meantime we are showered and in bed, a load of clothes still wobbles in the dryer. We just empty it tomorrow morning. Now it is obeyed on the mattress. </p>
    <p> Good night. </p>
  </div>
</div>
