---
layout: blog/en/travelblog
title: "February 21: Wandering Through Melbourne"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Melbourne

overview:
  intro: "We didn't have much planned for today. After getting up, we quickly headed to the nearest shopping center to have a pair of pants shortened for me."
  image:
    url: /assets/img/blog/auszeit/small/photo.jpg
    alt: "Clearly getting too much sun!"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/photo.jpg" alt="Clearly getting too much sun!">
  </div>
  <div class="col-md-7">
    <p>We didn't have much planned for today. After getting up, we quickly headed to the nearest shopping center to have a pair of pants shortened for me.</p>
    <p>Then we went to the center of Melbourne to kill some time. First, we visited Queen Victoria Market. It's a really huge market area with many small stalls selling just about everything. It was really nice to wander through the rows of vendors.</p>
    <p>After spontaneously finding a cowboy hat for me and a shirt for Steffi, we walked through the city in search of a tourist information center. Having finalized our plan for tomorrow (which won't be revealed at this point), we decided to look for a place to get a drink somewhere along the river. After a few text messages and calls, Melinda, whom I know from Melbourne, also joined us for an iced chocolate.</p>
    <p>After exchanging some travel tips, Steffi and I made our way back to the campsite. We headed to the bus stop and took a bus toward the site. We still had something special planned for today.</p>
    <p>This morning when we left, we had reserved the spa for tonight, and we had it alllll to ourselves. So, without chatty seniors and without annoying teenagers going through early puberty, we were able to enjoy the sauna and the whirlpool. For Steffi, in the hope that her neck would get better, and for me, as prevention for tomorrow. Tomorrow will be another very long day.</p>
    <p>Good night.</p>
  </div>
</div>
