---
layout: blog/en/travelblog
title: "February 11: Sydney's Skyline & Anna Bay"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Sydney

overview:
  intro: "Thankfully, the rain had stopped this morning. Unfortunately, it was still quite gray and chilly."
  image:
    url: /assets/img/blog/auszeit/small/20130323-135417.jpg
    alt: "Photographed from the bridge."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130323-135417.jpg" alt="Sydney Opera House and Circular Quay with high-rise buildings in the background">
  </div>
  <div class="col-md-7">
    <p>Thankfully, the rain had stopped this morning. Unfortunately, it was still quite gray and chilly.</p>
    <p>Following the motto "There's no such thing as bad weather, only inappropriate clothing," we decided to make our way to the Harbour Bridge. Our plan was to take the train to the north side of the bridge. Once there, we walked down to the harbor basin and found one of the best spots for photos. We stood next to the bridge almost directly opposite Circular Quay, from where we had taken the ferry to the zoo yesterday.</p>
    <p>After taking countless photos of the skyline, the Opera House, and the bridge, we moved on to different combinations: shots under the bridge, or the skyline with Steffi or me in the foreground. When our cameras were practically glowing from overuse, we decided to walk across the bridge back to the city center.</p>
    <p>Our next stop was supposed to be the Opera House. However, the stairs from the bridge led us to a small street I'd never seen before, despite having explored this area quite extensively. We simply headed in the direction where we had seen the Opera House from the bridge until we reached a street I recognized and could orient myself again.</p>
    <p>Once at the Opera House, we made both cameras glow again and asked some tourists to take photos of us.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130323-135859.jpg" alt="Close-up of the Opera House's left side.">
  </div>
  <div class="col-md-7">
    <p>What's easy to forget when you're admiring the Opera House is that this building has been around for quite a few years. Up close, you can really see the old-fashioned tiles that decorate the roof and the dark interior. We wanted to take a quick walk around the still-impressive building, but unfortunately, part of the path was closed for construction work.</p>
    <p>So we slowly made our way to the Sony Center again, hoping they would be able to help us today. Unfortunately, we were informed that dust between the lens elements wasn't covered by the lens warranty, and even if it were, it would take several weeks before Steffi would get her camera back. We left feeling a bit disappointed.</p>
    <p>Since it was already afternoon, we decided to skip our planned visit to the National Museum and head back to the car. Once there, we prepared to set off for our daily destination: the campsite in Anna Bay near Port Stephens. On the way, we made a quick stop at a hardware store to pick up a few small items for the car.</p>
    <p>The mere 220km journey took us several hours because all the main roads in Sydney were congested again, and the highway seemed to be entirely uphill. When we arrived at the campsite, we quickly chose a spot, ate dinner, and enjoyed the chirping crickets in the dark while hoping that the approaching thunderstorm wouldn't get any closer. Tomorrow we want to try to see dolphins in the wild.</p>
    <p>See you in the morning.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130323-135859.jpg" alt="Close-up of the Opera House's left side.">
  </div>
</div>
