---
layout: blog/en/travelblog
title: "06/11/2013 Brisbane"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Brisbane

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP6534_harbour_bridge.jpg"
alt: "The just huge Harbor Bridge in Sydney"

overview:
  intro: "Today I would like to tell you about an eventful day in Brisbane. The night at the petrol station was not that bad."
  image:
    url: "/assets/img/blog/auszeit/IMGP1125.jpg"
alt: "The huge bamboo in Brisbane"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p>
            <span class="dropcap"> H </span> I would like to tell you about an eventful day in Brisbane.
            The night at the petrol station was not that bad. The rain stopped at some point. It was still quite cloudy but warm during the day. </p>
        <p> It started today with the visit to the workshop. On the way there we got the shock absorbers in an Australian version of A.T.U. While Hugo was repaired, Mutti and I went to breakfast nearby in a French caf&eacute;. That was very tasty. In the meantime we looked for a campsite near the city center of Brisbane. We want to see at least something from Brisbane after we had just stopped in Surfers Paradise yesterday. </p>
        <p> We chose the Newmarket Gardens Caravan Park. From there you come to the city center without having to change. The car was quickly repaired and the campsite was quickly found. We got one of the few free places. Most of the other campers seemed to stay here longer and had additional provisional tarpaulins against the rain of the past few days. </p>
        <p> We didn't stay long and made our way into the city. We had first decided to drive to the promenade on the Brisbane River opposite the city center. On the bus, a grandma then explained how this works with the tickets. It is similar to that in Plauen that single tickets are also valid here and you can drive back and forth as often as you want. They also apply to the ferry that drives the Brisbane River up and down. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> So we decided that we almost go directly from the bus over the promenade to the ferry and drive a boat for the time being. We use the waiting time until the ferry came to look at a Nepalese pagoda and huge bamboo. This was about 5 times the size of me. What a sight. We took some photos of the skyline and of ourselves. </p>
        <p> We then drove with the modern and fast ferry as far as our tickets allowed and so that we will come back to the starting point. On the way back we decided to get out of a stop beforehand. As a result, we had arrived in the city center on the other side of the river. We then strolled through the city center and broke through some Souvenir shops and albert with Australian cowboy hats. The sun had long started when we made our way back to the campsite. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/auszeit/IMGP1150.jpg" alt="The ferries that connect both sides of the Brisbane River">
        </div>
    </div>
    <div class="col-md-6">
        <p> After all the fun today, we had to get serious again. Thanks to Steffi&rsquo;s help, Mutti has mastered the way to Australia well, including the change in Dubai. On the way back, she flies from Cairns to Brisbane and then switches from national to international towards Singapore and Hamburg. You have to say that there are two different terminals or different airports here in Australia often national and international airport. So here too in Brisbane. I had agreed with Mutti that I was doing an Airport training with her here today. Explain and show every step. Shortly before her departure from Cairns, she decides whether I also get a ticket to Brisbane and then take it to international airport. </p>
        <p> No sooner said than done, we made our way to the national airport in the dark with Hugo. There we looked for the calls hall and went through the process step by step. We also tried to plan every eventuality. So what has to do nuts if she has to check her suitcases herself. Where does the shuttle bus drive to the international terminal, how often does it drive, etc. We also took the bus over to the international terminal and searched for the check-in series for Emirates flights. We also found it. There was even an employee who smelled that we are not normal airport passengers and offered us his help. It turned out that he could even have a little German and explained the exact process in front of and behind the security check. That was really helpful. We will see in a few weeks whether mom dares to switch alone or whether I should. It currently looks confident. </p>
    </div>
    <div class="col-md-12">
        <p> On the way back to the campsite we stopped at Dominos and got pizza for dinner. Pick up here in OZ is a lot cheaper than delivered. </p>
        <p> So good hunger and see you tomorrow. </p>
    </div>

</div><!--=== End Post ===-->
