---
layout: blog/en/travelblog
title: "02/07/2013 Trouble with landlord"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Katoomba
  - Sydney

overview:
  intro: "For today, there were actually only 3 points on the note. 1. Handover 2. Shopping 3. Cozy to KatoOmba"
  image:
    url: /assets/img/blog/auszeit/small/20130310-173921.jpg
alt: "We spent our first night there. Of course in the building and not in the car."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-7">
    <p> For today, there were actually only 3 points on the note. </p>
    <ol>
      <li> 1. Handover of the apartment </li>
      <li> 2. Shopping </li>
      <li> 3. Drive comfortably to Katoomba </li>
    </ol>
    <p> Unfortunately, this plan did not. As planned, we were in the apartment 15 minutes before the appointment and prepared everything on our move to my van in front of the house was just waiting for us. 30 minutes passed. An hour passed and nothing happened. I tried to reach the landlord quite angry by cell phone. Of course, nobody went to the phone. After further nervous, waiting time was enough for me and I decided to go shopping with Steffi first. After another hour this Heini finally called back and told me that he was there at 11 a.m. and nobody would have opened him. I could have choked him for this clumsy lie. </p>
    <p> Lies or not, now he wouldn't have time to come over. If I want to get my deposit back, I have to come to him in the office and pick them up personally. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-175901.jpg" alt="Shield in front of the campsite with inscription: Katoomba Falls Caravan Park. Welcome">
  </div>
  <div class="col-md-7">
    <p> I tell you. For a long time I wasn't as acidic as at the moment. I would have loved to drag him through the phone. His office was of course in the city center where you don't go well by car. He promised to send me an SMS immediately with his exact address, which of course he did not do. Another hour passed and needed two more calls until I finally received the address. IC was about to threaten him with the police. </p>
    <p> With a delay of 4 hours we finally sat in the van and went to the Blue Mountains on the 100 km long trip to KatoOmba. This lasted almost 3 hours because we were almost exclusively in traffic jams. </p>
    <p> When we arrived at Campngplatz, we quickly put our food into the fridge. We even had to cook in the dark. We enjoyed nature around us before we got into our moving bed and blessed it blissfully. </p>
    <p> Now finally our adventure vacation should really start. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-175901.jpg" alt="Shield in front of the campsite with inscription: Katoomba Falls Caravan Park. Welcome">
  </div>
</div>
