---
layout: blog/en/travelblog
title: "03/04/13 Kata Tjuta and Alice"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Alice Springs
  - Yulara

author: Steffi &amp; Basti

overview:
  intro: "We talked for a while last night until our eyes started to close, or at least one of us. Somehow I couldn't find peace and had trouble falling asleep."
  image:
    url: /assets/img/blog/auszeit/small/dsc02438.jpg
    alt: "Always watch out for the wildlife!"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02438.jpg" alt="Always watch out for the wildlife!">
  </div>
  <div class="col-md-8">
    <h3> Steffi </h3>
    <p> We talked for a while last night until our eyes started to close, or at least one of us. Somehow I couldn't find peace and had trouble falling asleep. </p>
    <p> As a result, the night was over quite quickly and my eyes were rather puffy. Nevertheless, the next leg of our journey was waiting for us, so we packed up, checked out, and kept going! We planned to go back to Uluru and from there to Kata Tjuta. </p>
    <p> But first we had to search for the sunrise. Basti had identified a spot or two, so we searched in the scorching heat. Unfortunately, in vain! So we continued to the national park, showed our cards, and entered. A little further down the road, we saw something small. As we discovered later, Basti thought it was a piece of a dead branch and I thought it was a snake. Unfortunately, we both said this too late, so we drove over it. In the end, it really did turn out to be a snake! Sorry to the animal world! Later we saw one or two thorny devils by the road and 2 dingoes crossing the street. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02447.jpg" alt="The Kata Tjuta formation, including the turtle">
  </div>
  <div class="col-md-7">
    <h3> Note from Basti </h3>
    <p> Dear snake, I will not risk my passenger's life or my own by swerving across the road at 110 km/h in the middle of the desert. Please do me and yourself a favor and learn to cross the road on a straight stretch. Dear snake: sorry you got flattened. </p>
    <h3> Back to Steffi </h3>
    <p> We circled Uluru again, stopped at various points, and then made our way to Kata Tjuta. This is a rock formation about 30 km from Uluru. Once there, we set out along the designated path to the viewpoint and were amazed when a "turtle" looked back at us. Over the years, nature has shown its artistry by forming a section of rock several hundred meters high that resembles a turtle. Really impressive! </p>
    <p> As always, time was ticking away loudly - after all, we had over 500 km ahead of us on the return journey. So back into the car and go! At the resort exit, we stopped again at the gas station, and it just hurt to see the display numbers going up. If there's one thing that's really expensive in this area, it's fuel! Compared to our "normal" travel route, we paid almost $1 more per liter in this area, but there was no choice. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02447.jpg" alt="The Kata Tjuta formation, including the turtle">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02476.jpg" alt="The text says it all">
  </div>
  <div class="col-md-7">
    <p> This time, fatigue caught up with me pretty quickly, and I kept nodding off, which didn't happen on the way out. (You see, it's because of Hugo's engine!!!) At some point, I noticed that Basti had pulled over to the left. Before I realized what was happening, he had gotten out of the car and was retrieving my pillow from the trunk. We had somehow forgotten about it this time. </p>
    <p> I thought that was really sweet, as my neck was still hurting quite a bit, and the pillow made things much better. I kept dozing off, but we still weren't making much progress. At least that's how it felt to me! </p>
    <p> Eventually we reached the junction, made the obligatory fuel and "bathroom facilities" stop, and browsed through the souvenir section again, where we picked up some postcards. </p>
    <p> Finally arriving at the entrance to Alice Springs, we stopped at the parking area and first took photos in front of the "Welcome to Alice Springs" stone. We headed to the hostel, checked in again, and got the same family room as 2 days earlier! <br> Next, we went to the Tourist Information center to pick up some brochures for Basti's further travels, and then to the supermarket, where we got a small Italian-style pasta salad and a few other items, which we then prepared in the hostel kitchen. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> After a brief rest, we changed into our swimsuits and headed to the pool, where we unintentionally somewhat tortured a little French girl of about 7-10 years old who was more or less getting on our nerves. She was desperately looking for someone to play with and entertain her. However, we weren't in the mood, and in the end, the language barrier prevented it anyway. </p>
    <p> We enjoyed our time by the pool for a while and watched two parrots on a hanging bird feeder. Later in the evening, it was time to pack our suitcases before returning to Adelaide the next day. </p>
    <p> But now, good night. </p>
  </div>
</div>
