---
layout: blog/en/travelblog
title: "13.02. Mosquitoes in Penrith"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Penrith

overview:
  intro: "Unfortunately, it was gray outside again this morning. So we did not decide to dawdle with breakfast and to make ourselves off the field."
  image:
    url: /assets/img/blog/auszeit/small/dsc00935.jpg
alt: "Another 800m left through the beach desert to the beach. The fact that we were not eaten borders a miracle."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc00935.jpg" alt="Sand path through the last green areas in front of the beach desert">
  </div>
  <div class="col-md-7">
    <p> Unfortunately, it was gray outside again this morning. So we did not decide to dawdle with breakfast and to make ourselves off the field. </p>
    <p> At breakfast, the sun was pushed through the clouds with all your strength and the temperatures went through the ceiling very quickly. </p>
    <p> As the first day of the day we had to go shopping again on the note. Today it should be something for more comfort again. We got new windshield wipers for the van, belt pad and a camping chair for Steffi. After that we quickly bought some food and go. On the way back we fried through a just living area near the beach, because we actually wanted to go to the water again before we wanted to drive inland for the next few days. </p>
    <p> So we wondered and found a place in a dead end where we could leave the car. The ladies we asked for the way only looked at us a little strange and then showed us the way through a small piece of forest to the dunes. After we were through the piece of forest, we stood in front of mountains and deep gorges made of sand. I picked up my cell phone and looked how far it was to the beach. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Parking benches on the lake" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc00939.jpg">
  </div>
  <div class="col-md-7">
    <p> Ohhhh. When looking at the slowly building satellite images, we only realized how huge this dune desert is. We had at least 800 - 1000m sand dunes ahead of us. In addition, it is not a flat beach, but rather high dunes. After we also found clear traces of snakes and also tazen prints the size of a fist, we decided to leave it and went back to the car. </p>
    <p> The next stop was a short pee break at MC Donalds. On the way again out of the quick snack I saw that the MC Donalds Monopoly campaign is running again. There was also an empty pack of fries on a table and a cola on which the stickers were still on it. I took it off and lo and behold we promptly won. An admission ticket our choice and a free film to borrow. This compensated a little for not reaching the water. </p>
    <p> The rest of the afternoon we spent again in the big city of traffic jam through Sydney, whereby we got to the campsite too late. But again we were lucky that an employee was still present and the huge favor did we let's go. Since the space was unfortunately a little mosquito, Steffi took care of the bed and the curtains and I took care of food. After a quick shower we went to bed. Before we could sleep, however, we had to go a little hunting, as one or the other beast had cheated into the car. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Parking benches on the lake" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc00939.jpg">
  </div>
</div>
