---
layout: blog/en/travelblog
title: "02/16/13: Canberra"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Canberra

overview:
  intro: "With a touch of melancholy and not much enthusiasm, we got ready this morning to leave the wonderful campsite at Wombats Grove."
  image:
    url: /assets/img/blog/auszeit/small/dsc01072.jpg
    alt: "A 'small' merino sheep on the way to Canberra"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01072.jpg" alt="A 'small' merino sheep on the way to Canberra">
  </div>
  <div class="col-md-7">
    <p>With a touch of melancholy and not much enthusiasm, we got ready this morning to leave the wonderful campsite at Wombats Grove.</p>
    <p>The weather seemed to share our mood. It was misty. The clouds hung so extremely low that they were practically brushing the treetops. After we finally managed to tear ourselves away from the campsite, we remembered which road we had taken down the mountain and realized we now had to go back up the same way. It was a 6km stretch with a slope of at least 10% and curves that couldn't be safely negotiated at more than 15km/h even without oncoming traffic. I was now afraid that fog would make things worse. But we were lucky that the dense rows of trees along the road kept the clouds far enough away.</p>
    <p>Our first destination of the day was Fitzroy Falls waterfall. We had already briefly checked it out on the way to Wombats Grove and liked it. Today we wanted to visit a second viewpoint to get even better photos of the waterfall. Unfortunately, the clouds had other plans. Once in the parking lot, Steffi quickly went ahead to check the conditions at the waterfall. Unfortunately, the weather was against us as it started to rain and thick fog covered the path. So much for that excursion, and we continued on towards Australia's capital, Canberra. On the way, we made a short stop at a rest area to have our delayed breakfast. There we also noticed one of Australia's "small" attractions next door. In this case, "small" means nearly two stories high!</p>
    <p>In Canberra, we had searched for a campsite directly at the exhibition center. Unfortunately, the GPS coordinates were completely wrong, and we drove around in circles a few times before we finally parked at McDonald's and continued our search online.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>We found out that the campsite was closed due to a fair. After some searching and calling around, we found a campsite a good distance outside of Canberra. So we decided to explore the city first and then drive to the campsite. On the way to the city, we stopped at the tourist information center. We found the latest edition of the camping guide there. Additionally, the women working there were able to help us with our accommodation problem.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Parliament buildings with a huge green area and trees all around" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01081.jpg">
  </div>
  <div class="col-md-7">
    <p>We quickly drove to the campsite to secure a spot and then finally headed into the city. Well, what looks like a city on the street map. We ended up in the administrative district and found that all the travel guides were right. It is indeed very, very spread out. When you drive around by car, you don't even see most of it because either it has several hundred meters of front yard or is hidden behind rows of trees.</p>
    <p>We simply decided to park the car by the water and finally walk a few meters on foot. Only those "few meters" quickly turned into kilometers. Since it was also hot, we decided to sit in the shade in the rose garden of the Old Parliament for a while and then maybe walk up Capitol Hill to the new Parliament.</p>
    <p>We didn't make it all the way to the top. The lawn in front of Parliament was just too vast for us. Since we also violated the dress code of Parliament, they wouldn't have let us in anyway. So we went back to the car and made our way back to the campsite.</p>
    <p>On the way, we quickly stopped to refill our water supplies and get dinner. We had wraps tonight. We also prepared the rest of the ground meat into meatballs for tomorrow. Tomorrow we'll visit the museum and then head towards the coast... we finally want to get back to the sea. Good night.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Parliament buildings with a huge green area and trees all around" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01081.jpg">
  </div>
</div>
