---
layout: blog/en/travelblog
title: "06.03. Shopping in Adelaide"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide

overview:
  intro: "We also planned a lot on our penultimate vacation day together. First it should go to the city center of Adelaide and then go to the Outlet Center for shopping."
  image:
    url: /assets/img/blog/auszeit/small/dsc025161.jpg
alt: "Colorful market in Adelaide"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc025161.jpg" alt="Colorful market in Adelaide">
  </div>
  <div class="col-md-7">
    <p> We also planned a lot on our penultimate vacation day together. First it should go to the city center of Adelaide and then go to the Outlet Center for shopping. </p>
<p> Said done. This morning we put ourselves at the bus stop in the increasingly warmer sun and were out of the city with the next bus. The city center was already hot as an oven. We then looked for the direct path to the Touriinfo to answer our two questions. How do you get to the Chinese market in the coldest path and where can you get a good kangaroo steak here in Adelaide? </p>
<p> After we had our answers, we made our way to the cool and free bus that should bring us directly to the market. This also drove almost exactly in front of the information building. Unfortunately he was delayed. Until then, we were well cooked and our mood on Adelaide slowly started melting. </p>
<p> Since we were already in Melbourne a few days ago on the really huge Queen Victoria Market, we had to be disappointed with these in Adelaide. It may only be 10% of that in Melbourne and many of the stands were still closed. So we made our way towards the restaurant pretty quickly. Unfortunately, we found that this restaurant is currently closed due to renovation work. The only alternative on site was just too expensive for us and we decided to make ourselves in the evening. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Adelaid\'s city center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02528.jpg">
  </div>
  <div class="col-md-7">
    <p> After we are strolled a little through the streets, we preferred to go back to the campsite. Since we took another bus line, we were only stopped near the campsite. We then simply looked for the next beach access and went along it to the campsite. On the way there we saw a spiked ray that came to almost completely on the beach, which made us startled briefly. </p>
    <p> When we arrived at the campsite, we jumped into the van after a short break and drove to the Outlet Shopping Center for the second time. There we dawned a little through the rows and bought one or the other souvenir for my brother for my birthday. Steffi was not so lucky with the choice of clothing. We tried some perfumeries in search of a fragrance for me that we both like. Unfortunately we were not lucky with it either. </p>
    <p> During the subsequent food shopping, we were very lucky and found fresh finished kangaroo burger hack. So the barbecue evening could come. We looked for a quiet place on the campsite and built up all the food. Since behind us, on the other side of the dune, the sun sank into a simply dreamy sea of &#8203;&#8203;colors, I quickly sent Steffi rid of the camera alone while preparing the food. The photos she showed me then made me jealous that I was not with me. </p>
    <p> The dinner was good even though the kangaroo hinge did not really hit Steffi's taste. (*Note from Steffi: Maybe it was the preparation). After tidying up and washing up, we went into the trap. Tomorrow is unfortunately Steffi's departure from Australia. </p>
    <p> But now a good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Adelaid inner city" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02528.jpg">
  </div>
</div>
