---
layout: blog/en/travelblog
title: "04.03. Kata Tjuta and Alice"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Alice Springs
  - Yulara

author: Steffi &amp; Basti

overview:
  intro: "We talked to Steffi for a while last night until our eyes took our eyes or at least one of us. Somehow I didn\'t find real peace and sleeping didn\'t work at all."
  image:
    url: /assets/img/blog/auszeit/small/dsc02438.jpg
alt: "Always take care of the animals!"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02438.jpg" alt="Always take care of the animals!">
  </div>
  <div class="col-md-8">
    <h3> Steffi </h3>
    <p> We talked for a while last night until our eyes took our eyes or at least one of us. Somehow I didn't find real peace and sleeping didn't work at all. </p>
    <p> Accordingly, the night was quite quickly over and my eyes were all the thicker. Nevertheless, the next section was waiting for us, so packed, checked out and keep it! It should go to the Uluru again and from there to the Kata-Tjuta. </p>
    <p> Before that it should go again. Basti had identified 1-2 things and so we searched for the sun in the scorch. Unfortunately in vain! So continue to the national park, cards shown and pure. A little further along the street we saw a little. As it turned out later, Basti thought it was a piece of a dead branch and I thought it was a snake. Unfortunately, both said this too late, so we drove over it. In the end it really turned out to be a snake! Sorry to the animal world! Later we saw one or the other thorn at the street and 2 dingos that crossed the street. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02447.jpg" alt="The Kata Tjuta formation, including turtle">
  </div>
  <div class="col-md-7">
    <h3> Note from Basti </h3>
    <p> Dearwood. I will not put my passenger's life and my own at the risk of crossing the street in the middle of the desert in the middle of the desert in a 110km/h. Please do me and you please and get used to crossing the street in a curve. Love snake: sorry for flat. </p>
    <h3> Back to Steffi </h3>
    <p> We circle the Uluru again, stopped at one point or another and then made our way to the Kata-Tjuta. A stone formation that is almost 30 km from the Uluru. Once there, we set out to the viewpoint via the designed path and were amazed when a "turtle" looked at us. Over the years, nature has shown its skills by forming part of a turtle several hundred meters high. Really impressive! </p>
    <p> As always, the clock made tickets loudly, after all we had over 500 km back in front of us. So into the car and go! At the resort output we stopped again at the petrol station and it just hurt to see the display going up. So if something is really expensive in this area, that's it! In contrast to our "normal" travel route, we paid almost $ 1 more in the area, but it is of no use. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02447.jpg" alt="The Kata Tjuta formation, including turtle">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02476.jpg" alt="The text says everything">
  </div>
  <div class="col-md-7">
    <p> This time I also caught up with fatigue pretty quickly and I always said goodbye to the dream country, which didn't happen to me on the way out. (You see, it is due to the engine of Hugo !!!). At some point I noticed that Basti drove on the left. Until I noticed what's going on at all, he got out of the trunk and got my pillow from behind. We somehow forgot that this time. </p>
    <p> I just thought that was nice, because my neck was still quite hurt and that made the whole thing a lot better. I kept nodding away, but we still didn't get ahead. At least that's how I had the feeling! </p>
    <p> At some point we arrived at the junction, entered the mandatory tank and "sanitary facilities" stop and strolled again through the souvenir corner, where we were still taking postcards. </p>
    <p> Finally arrived at the entrance to Alice Springs, we kept in the "parking lot" and first took pictures in front of the "Welcome to Alice Springs" stone. We headed for the hostel, checked in again and got the same family room as 2 days earlier! <br> Next we went to the Touriinfo to take one or the other brochure for Basti's further trip and then to the supermarket, where we got a small pasta salad in an Italian way and everyone, which we then prepared in the hostel kitchen. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> After a short tension, we went to the bathing suits and off to the pool, where we tortured and had a little French girl from about 7-10 years more or less on the cheek. She urgently looked for someone to play and entertain. However, we didn't feel like it and in the end the language barrier prevented us from it anyway. </p>
    <p> We enjoyed the time by the pool for a while and watch two parrots on the suspended feed shell. Later in the evening it was time to pack suitcases before going back to Adelaide tomorrow. </p>
    <p> But now good night. </p>
  </div>
</div>
