---
layout: blog/en/travelblog
title: "February 22: Penguins on Phillip Island"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Melbourne
  - Phillip Island

overview:
  intro: "Good morning! We were up early today because we had a lot of exciting things on our agenda: koalas, sea lions, and kangaroos. All three can be found on Phillip Island, southeast of Melbourne."
  image:
    url: /assets/img/blog/auszeit/small/20130706-082244.jpg
    alt: "Just letting it all go"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130706-082244.jpg" alt="Just letting it all go">
  </div>
  <div class="col-md-8">
    <p>Good morning! We were up early today because we had a lot of exciting things on our agenda: koalas, sea lions, and kangaroos. All three can be found on Phillip Island, southeast of Melbourne.</p>
    <p>Since we decided to avoid toll roads in Melbourne, our journey first took us across the city on fairly slow side streets. It took us several hours to get to Phillip Island, and of course, Steffi fell asleep, as always, as soon as we hit the highway.</p>
    <p>We decided to stop at a beach to wake ourselves up a bit. Unfortunately, it turned out that there were quite a few flies at this beach parking lot. So we only went down to the water briefly, and since it was also cold, we quickly returned to the car and continued our journey.</p>
    <p>Our next stop was the Koala Conservation Reserve. There we purchased tickets that were valid for the entire day. There were really many koalas to see and photograph in the park. Unfortunately, even today my camera decided it didn't want to work. With 8 brand new batteries, the camera insisted they were empty. This dampened my mood a bit. Fortunately, we had Steffi's camera, which also takes good photos. The park itself was well laid out but a little too much like a zoo for our taste and less what we had imagined a research and rescue station would be like.</p>
    <p>After taking countless photos of koalas and wallabies, we continued on to the Nobbies Centre to see sea lions. Once there, we discovered that the sea lions live on an offshore island and can only be seen with binoculars or via a livestream. Nevertheless, we decided to walk along the cliff top boardwalk. On this excellent hiking trail, we unsuccessfully attempted to find a geocache. As we continued walking, we noticed that small wooden boxes were distributed everywhere along the path, and here and there were some small caves in the rock. Since we were a good 50 meters above sea level and the cliffs were quite steep, we assumed they must be homes for some kind of birds. After walking a few hundred meters further, we saw one of them and were amazed when we realized what kind of bird it was.</p>
    <p>It was a little penguin, trying to escape the cold wind while still getting some sunlight. We were really amazed and wondered how the parents manage to climb up here without being able to fly.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Look, someone's there" src="{{ site.url }}/assets/img/blog/auszeit/small/20130706-082346.jpg">
  </div>
  <div class="col-md-7">
    <p>The highlight of the day was a special visit to Summerland Beach. A few kilometers before reaching the Nobbies Centre, there's a bay where you can watch the penguins come home at dusk. The beach itself is of course cordoned off, and viewing platforms have been built so that the crowds can see the penguins. At sunset, three rangers appeared and stood at the foot of the platforms, telling us a bit about the penguins and explaining that it was strictly forbidden to take photos or film. This annoyed us quite a bit. Even photos without flash are forbidden! Apparently it would disturb the animals!?! (Mind you, without flash!!!)</p>
    <p>In the end, it didn't matter much, since most of the time the penguins were only recognizable as shadows scurrying across the beach. After some animals had waddled across the beach, we slowly made our way back and realized that the penguins' paths ran along the walkway. We then had a few more opportunities to take photos (without flash, of course) or listen to the calls of the young birds.</p>
    <p>When we arrived back at the parking lot, we double-checked that no penguin was hiding under the car before we headed back to the campsite. Once again, Steffi fell asleep on the expressways.</p>
    <p>When we finally arrived back at the campsite, we just wanted to get to bed. After all, tomorrow would be another long day.</p>
    <p>Good night.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Look, someone's there" src="{{ site.url }}/assets/img/blog/auszeit/small/20130706-082346.jpg">
  </div>
</div>
