---
layout: blog/en/travelblog
title: "03/06/13 Shopping in Adelaide"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide

overview:
  intro: "We had a lot planned for our second-to-last day of vacation together. First, we wanted to visit the city center of Adelaide, and then head to the outlet center for some shopping."
  image:
    url: /assets/img/blog/auszeit/small/dsc025161.jpg
    alt: "Colorful market in Adelaide"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc025161.jpg" alt="Colorful market in Adelaide">
  </div>
  <div class="col-md-7">
    <p> We had a lot planned for our second-to-last day of vacation together. First, we wanted to visit the city center of Adelaide, and then head to the outlet center for some shopping. </p>
<p> So that's what we did. This morning we waited at the bus stop in the increasingly hot sun and took the next bus into the city. The city center was already as hot as an oven. We first searched for the direct path to the Tourist Information center to get answers to our two questions: what's the quickest way to get to the Chinese market, and where can we get a good kangaroo steak here in Adelaide? </p>
<p> After getting our answers, we made our way to the cool and free bus that would take us directly to the market. It stopped almost right in front of the information building. Unfortunately, it was delayed. By the time it arrived, we were thoroughly overheated and our enthusiasm for Adelaide was starting to melt away. </p>
<p> Since we had been to the really huge Queen Victoria Market in Melbourne a few days earlier, we were disappointed with the one in Adelaide. It was only about 10% the size of Melbourne's, and many of the stalls were still closed. So we quickly made our way toward the restaurant. Unfortunately, we found that it was currently closed for renovations. The only alternative on-site was just too expensive for us, so we decided to cook for ourselves in the evening. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Adelaide's city center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02528.jpg">
  </div>
  <div class="col-md-7">
    <p> After strolling through the streets for a while, we decided to head back to the campsite. Since we took a different bus line, we were dropped off only near the campsite. We simply looked for the nearest beach access and walked along it to the campsite. On the way there we had a brief moment of shock when we saw a stingray that had come almost completely onto the beach. </p>
    <p> Upon arriving at the campsite, we jumped into the van after a short break and drove to the outlet shopping center for the second time. We browsed through the stores for a while and bought a souvenir or two for my brother's birthday. Steffi wasn't so lucky with her clothing choices. We also tried a few perfume shops in search of a fragrance that we both liked, but we weren't successful with that either. </p>
    <p> During our subsequent grocery shopping, we were very lucky and found fresh pre-made kangaroo burger patties. So our BBQ evening was all set. We found a quiet spot at the campsite and set up all our food. Since the sun was setting into a simply dreamy sea of colors behind us, on the other side of the dune, I quickly sent Steffi off with the camera while I prepared the food. The photos she showed me afterward made me jealous that I hadn't been there myself. </p>
    <p> Dinner was good, although the kangaroo meat didn't really suit Steffi's taste. (*Note from Steffi: Maybe it was the preparation). After cleaning up and washing the dishes, we went to bed. Tomorrow is unfortunately Steffi's departure from Australia. </p>
    <p> But now, good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Adelaide's city center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02528.jpg">
  </div>
</div>
