---
layout: blog/en/travelblog
title: "17.02. From Australia to Africa"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Canberra
  - Congo

overview:
  intro: "For today we didn\'t have much on the note. Actually, we only wanted to go to the museum in Canberra and finally go back to the sea."
  image:
    url: /assets/img/blog/auszeit/small/igp8093.jpg
alt: "One of many signs to warn bush firing"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8093.jpg" alt="Clothed sign with dragon lechse as a symbol of bush fire avoidance">
  </div>
  <div class="col-md-7">
    <p> For today we didn't have much on the note. Actually, we only wanted to go to the museum in Canberra and finally go back to the sea. </p>
    <p> This morning we were the first thing we fought with our inner bastard because it didn't want to let us get up. Steffi spent so much that when turning backwards it cracked quite loudly and Steffi got hellish pain. Supi, we just missed that. So we switched back and Steffi only moved at the snail pace because every movement in the neck hurt. </p>
    <p> After a long shower and with a few minutes late, we still drove towards the museum. There is actually not much to tell about the museum. It was recommended to me by a friend from Ireland and I had already read a lot of good things about it on the Internet. Well, it wasn't the bringer. It was ok because it was free of charge. In addition, we were also forced to hand over our backpack in which of course the rest of the photo equipment and the geocoins were. There was a lot to see about the history of the settlement of Australia and about the farm life. After about an hour we were already through and decided to find a treasure quickly. Unfortunately, too many people were nearby and we could not search for undisturbed at the destination. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01142.jpg" alt="Sunset on the abandoned beach">
  </div>
  <div class="col-md-7">
    <p> We then decided to take a departure from Canberra. Personal conclusion: Canberra can remain stolen. There is nothing that you can't find elsewhere. Even from the government you don't get anything with everything behind endless front gardens. The detour is really not worth it. </p>
    <p> So as I said, we then looked at the fact that we were coming away. After all, we had a lot of distance in front of us. After all, we wanted to drive the 180km (to another continent). Our goal for today was called Congo. Only that this congo is not an independent country, but a small village. This can only be reached via a gravel road several km long. There is a nice small campsite with direct access to the beach. After we paid from the campsite at the nice ladies and received one or the other tip, we took advantage of the hour and gone to the beach. </p>
    <p> In the pretty fast -ranging sun we enjoyed the last rays of sunshine and were finally happy to be back by the sea. After sunset I tried some shots of the beautiful starry sky. Unfortunately, my camera started to make bitches and tell me that all 8 freshly charged batteries are empty. So I gave it up. We make ourselves ready for bed and enjoyed the quiet and soothing noise of the sea. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01142.jpg" alt="Sunset on the abandoned beach">
  </div>
</div>
