---
layout: blog/en/travelblog
title: "19.02. Nothing to feed and no sleeping place"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Melbourne

overview:
  intro: "Not much was on the plan for today. Since Steffi still hurt the neck, I decided to drive until shortly before Mebourne. I had found a German doctor in Melbourne via the Internet. I wanted to bring Steffi to that now."
  image:
    url: /assets/img/blog/auszeit/small/20130705-133335.jpg
alt: "Well dad, jealous?"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130705-133335.jpg" alt="Blue Schnuazentruck with white corner trailer">
  </div>
  <div class="col-md-7">
    <p> Not much was on the plan for today. Since Steffi still hurt the neck, I decided to drive until shortly before Mebourne. I had found a German doctor in Melbourne via the Internet. I wanted to bring Steffi to that now. </p>
    <p> Unfortunately it was still about 450km to the doctor and it was already too late to reach the goal today. So we got about 30km to drive to a campsite beforehand that was in our new camping book. So entered GPS coordinates in the cell phone and go. It doesn't take long for this little sick person to fall asleep next to me. Yes yes I know. The engine is to blame. But I have to creditor her that she really didn't try to fleep away immediately. </p>
    <p> After about the first half of our stage today we came to the small town of Sale. There we spontaneously decided that we are hungry and that we wanted a restaurant. So open and go. At the end of the town there was a tourist information in which we got some tips where we could eat. So we drove back to the city center, parked the car and went on foot on foot. Unfortunately, we quickly found that we are apparently the only ones in this city that are hungry in the afternoon around 3:30 p.m. All restaurants were either closed or only had small things on offer. We were told several times that the kitchen only opened again in the early evening. After a good hour and a half we gave up and went to the next fast food chain and stuffed ourselves with chicken. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Then it went on towards Melbourne. At the end of the town, a nice little traffic jam was waiting for us, which pulled over a few km. Gradually, the road then became wider and a highway with several traces. After a few hours of driving from the Steffi, one or the other slept again, we arrived in Melbourne's suburb of Berwick. There it only turned out that the GPS coordinates from the book were once again a few streets. When we finally found the square, we found that the square was closed due to a fair. We then considered some time whether we alternatively move to a pension, but they were too expensive for us. After a few back and forth and superior, we found a large free parking space for commuters behind a McDonalds. Spontaneously we just decided to stop here, because tomorrow morning we want to go to the doctor first and then to a campsite near the city. </p>
  </div>
</div>
