---
layout: blog/en/travelblog
title: "02/06/2013 Steffi\'s arrival"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "There is a lot to report on today. He was crammed with events and things that were to be done because today my favorite Steffi finally arrived and my vacation began."
  image:
    url: /assets/img/blog/auszeit/small/20130310-112702.jpg
alt: "An old sailing ship in front of the Maritim Museum"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-112702.jpg" alt="3 Master in Darling Harbor">
  </div>
  <div class="col-md-7">
    <p> There is a lot to report on today. He was crammed with events and things that were to be done because today my favorite Steffi finally arrived and my vacation began. </p>
    <p> Everything started in the morning with Steffi's arrival in Sydney. According to schedule, it should land at 7 a.m. In advance, Steffi had the promise to be picked up at this unchristian time at the airport. Go to bed in front of the alarm and after the alarm clock rang too early, I checked Steffi's flight. The website told me that the flight should arrive on time. So I got ready, got a bus ticket and went to the stop. Since I arrived at the stop a little early, I checked the flight again and saw that he was delayed for 1 hour. Spontaneously, I decided to lift the bus ticket for later and walk to the airport on foot. </p>
    <p> On the way there I saw 2 toxic black spiders in a bush. Of course I promptly avoided the bush and saw that I was getting away. When I got to the airport, I had enough time to look around before Steffi's plane landed. </p>
    <p> A few minutes later there was a completely exhausted Steffi in front of me and annoyed by the crowds. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Sunset over the Blue Mountains. A narrow cloud band part the sun in two halves" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-113002.jpg">
  </div>
  <div class="col-md-7">
    <p> We looked at the fact that we came out of the airport and decided to take the easier way and take the expensive train to the city. We are only quickly to me to get rid of your suitcase. Then it went through the city. First to Paddy's Market and then to Darling Harbor. Since it was quite warm and we both were tired, we decided to quickly pick up my post and then slowly go towards hostel to have Steffi issued a YHA (Jugendherbergsverband) card. </p>
    <p> What Steffi did not know at the time was the fact that I had booked a room for us in the hostel so that after the long journey she could sleep in a quiet room and wash in a clean bathroom. Which was much better than at my home. The facial expression she put on was really cool when she got the YHA card in her hand and I the room key. Then we quickly went back to my apartment to get our things for the night. We left the rest there, since I took off the next day and I had to go again anyway. </p>
    <p> After we delivered the things in the hostel, we went to the SkyTower around the city and the sunset from above. Unfortunately, the fatigue was increasingly giving us tiredness, so that the photos of us both look really angry in the Skytower and have not become presentable. </p>
    <p> After one or the other nice photo of the sunset was taken, we finally went to the hostel. We only fell into bed with painful feet and penned away pretty quickly. </p>
    <p> Good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Sunset over the Blue Mountains. A narrow cloud band part the sun in two halves" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-113002.jpg">
  </div>
</div>
