---
layout: blog/en/travelblog
title: "Revised Flight Plans April 2013"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Brisbane
  - Broome
  - Darwin
  - Exmouth
  - Perth
  - Sydney

overview:
  intro: "G'day from Sydney again. Today I'd like to tell you about my new travel plans."
  image:
    url: /assets/img/blog/auszeit/small/stepmap-karte-rundreise-1371862.jpg
    alt: "Round trip from Sydney via Brisbane, Cairns, Darwin, Broome, Exmouth to Perth"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/stepmap-karte-rundreise-1371862.jpg" alt="Map with marked routes through different Australian cities">
  </div>
  <div class="col-md-8">
    <p> G'day from Sydney again. <br> Today I'd like to tell you about my new travel plans. <br>
    </p>
    <p> At the end of last month, I was thinking about how long I'd like to stay in Australia and when I should head back to Germany. I decided on mid to late August. At the beginning of this month, I sat down and worked out a detailed plan for my remaining months in this beautiful country. </p>
    <p> First, I decided to work until mid-May, by which time I should have earned and saved enough money to live without worry for the rest of my time here. From mid-May, I'll head toward Cairns via Brisbane, and then travel along the coast via Darwin to Broome. I'd like to arrive there by mid to late July, which should give me enough time to sell my van Hugo and fly back to Sydney. </p>
    <p> For my journey back to Germany, I've planned a 3-day stopover in Dubai so that I won't have to travel 27+ hours non-stop again. I've always wanted to go there, and thanks to the free 72-hour transit visa for the United Arab Emirates, such a short trip isn't a problem. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> I rebooked my flights from Sydney via Dubai to Hamburg today. However, I won't reveal my exact return date here, as some of my friends have threatened to make me do stupid things when I get home. </p>
    <p> Tomorrow, the practical part of my diving course begins. But more about that later. <br> Now I'm off to work first. <br> See you soon! </p>
  </div>
</div>
