---
layout: blog/en/travelblog
title: "February 9: Three Sisters & Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Katoomba
  - Sydney

overview:
  intro: "Today we had a bit more on our agenda. First, we prepared the van for departure and drove the few hundred meters to Scenic World, as we had to leave the campsite by 10 AM."
  image:
    url: /assets/img/blog/auszeit/small/20130318-222404.jpg
    alt: "Looking upward through the trees and ceiling"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130318-222404.jpg" alt="Steep cliffs in the background. Ferns and other shrubs in the foreground">
  </div>
  <div class="col-md-7">
    <p>Today we had a bit more on our agenda. First, we prepared the van for departure and drove the few hundred meters to Scenic World, as we had to leave the campsite by 10 AM.</p>
    <p>First, we went up to the Scenic World café. From there, we had an incredibly stunning view of the Blue Mountains, which, by the way, aren't blue at all but rather a vibrant green. Some travel guides mentioned that the area should smell strongly of eucalyptus. The reason was easy to see—the forests below us appeared to be pure eucalyptus forests. Unfortunately, they were so dry that none of the wonderful fragrance reached our noses.</p>
    <p>After taking some photos, we decided to take the first cable car down the mountain to do some hiking in the valley. Down there, all the trails were clearly marked and consisted of wooden boardwalks with railings on both sides. Almost all the paths were part of a large loop, making it impossible to get lost.</p>
    <p>There were about 50 or 60 Asian tourists in the cable car with us. When we arrived at the bottom, we waited briefly in the crowd to see which direction the tour groups would take. We were lucky—they all went in the same direction. Of course, we took the opposite route.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130318-222531.jpg" alt="A lizard sits on a rock and looks mischievously at the camera">
  </div>
  <div class="col-md-7">
    <p>The paths were very well maintained, and it was pleasant and relaxing to walk through such unique natural surroundings. Thanks to the dense tree canopy, the temperatures remained comfortable. Unfortunately, when we checked the first photos of the day, we discovered that a large dust speck was visible in the middle of all the pictures. It seemed to have somehow gotten between the lenses of Steffi's brand new camera. This naturally dampened our mood a bit. I spontaneously remembered that there's a Sony store in downtown Sydney that could definitely help us.</p>
    <p>Nevertheless, we tried not to let this spoil our day. After hiking around the forest for a while, we found a side trail that took us to the base of Katoomba Falls. Due to the lack of rain, it was only a trickle. But a fairly large lizard—some type of water dragon—crossed our path. Since this cute mini-dragon was also a bit of a camera ham, we managed to get some really good photos of it, despite the dust speck on the lens.</p>
    <p>Afterward, we took the second cable car to the other side of the gorge. This gondola passed by Katoomba Falls and offered a magnificent view over the mountains. On the other side, we only stayed long enough to take a few photos before heading back. After all, we had more plans for the day.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130318-222531.jpg" alt="A lizard sits on a rock and looks mischievously at the camera">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130318-224503.jpg" alt="Boardwalk elevated from the forest floor. Wooden panels with steel railings on the left and right">
  </div>
  <div class="col-md-7">
    <p>Back in Sydney, we desperately searched for a quiet parking spot. Unfortunately, we only found one on an extremely noisy street. So we spontaneously decided to stop by my old apartment and, if possible, spend the night there. With the friendly help of my former roommate Adrian, who let us in, everything worked out. We quickly grabbed the essentials and moved back into my old room for the night.</p>
    <p>In the evening, I took Steffi to see the beautiful (albeit rather short) fireworks display at Darling Harbour. We captured some really good photos there as well. Afterward, we met Adrian for dinner at a restaurant in Chinatown. We had initially planned to go for a cocktail afterward, but somehow we were too tired and went to bed instead. Unfortunately, there wasn't much chance of getting a good night's sleep because the couple in the next room were, well, having their own fireworks show.</p>
    <p>Tomorrow we plan to visit the zoo and hopefully get some good photos of Sydney's skyline. We'll see how that turns out.</p>
  </div>
</div>
