---
layout: blog/en/travelblog
title: "February 13: Mosquitoes in Penrith"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Penrith

overview:
  intro: "Unfortunately, it was still gray outside this morning. So we decided not to dawdle over breakfast and to get on the road."
  image:
    url: /assets/img/blog/auszeit/small/dsc00935.jpg
alt: "Only 800m through the beach desert to reach the beach. It's a miracle we weren't eaten alive."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc00935.jpg" alt="Sandy path through the last green areas before the beach desert">
  </div>
  <div class="col-md-7">
    <p>Unfortunately, it was still gray outside this morning. So we decided not to dawdle over breakfast and to get on the road.</p>
    <p>While we were having breakfast, the sun pushed through the clouds with all its strength and the temperature quickly soared.</p>
    <p>Our first task of the day was to go shopping again. Today we wanted to get some items for more comfort. We bought new windshield wipers for the van, padding for the seatbelts, and a camping chair for Steffi. After that, we quickly bought some food and continued on our way. On the way back, we drove through a residential area near the beach because we actually wanted to get to the water again before heading inland for the next few days.</p>
    <p>We wandered around and found a spot in a dead-end street where we could leave the car. The ladies we asked for directions looked at us a bit strangely, then showed us the way through a small patch of forest to the dunes. After we passed through this wooded area, we found ourselves facing mountains and deep valleys made of sand. I pulled out my phone to check how far it was to the beach.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Parking benches by the lake" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc00939.jpg">
  </div>
  <div class="col-md-7">
    <p>Oh my! Looking at the slowly loading satellite images, we realized just how immense this dune desert was. We had at least 800-1000m of sand dunes ahead of us. And these weren't flat stretches of beach, but rather tall dunes. After we also found clear traces of snake tracks and paw prints the size of a fist, we decided to abandon the idea and went back to the car.</p>
    <p>Our next stop was a quick bathroom break at McDonald's. On my way out of the fast food restaurant, I noticed that the McDonald's Monopoly campaign was running again. There was also an empty pack of fries on a table and a cola cup with the stickers still on it. I took them off and, what do you know, we promptly won! A free admission ticket of our choice and a free movie rental. This somewhat made up for not making it to the water.</p>
    <p>We spent the rest of the afternoon again stuck in Sydney's massive traffic jams, which meant we arrived at the campsite too late. But once again we were lucky that an employee was still present and did us the huge favor of letting us in. Since the site was unfortunately quite mosquito-infested, Steffi took care of the bed and curtains while I prepared dinner. After a quick shower, we went to bed. Before we could sleep, however, we had to go on a little hunting expedition, as one or two mosquitoes had sneaked into the car.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Parking benches by the lake" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc00939.jpg">
  </div>
</div>
