---
layout: blog/en/travelblog
title: "06/06/2013 Hunter Valley"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Hunter Valley

overview:
  intro: "This morning we decided to cook coffee quickly in the kitchen and then look straight out. We preferred to have breakfast on the beach with a view of the wide sea."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1855.jpg
alt: "Only one group of Kangaroos is missing in the picture."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1855.jpg" alt="Through wine vines through photographer vineyard">
  </div>
  <div class="col-md-7">
    <p> This morning we decided to cook coffee quickly in the kitchen and then look straight out. We preferred to have breakfast on the beach with a view of the wide sea. </p>
<p> Once there, there was a completely burned -out car that was not there yesterday morning. I took a closer look at this and found that fire must have been pretty hot, because around the car it was melted everywhere where there were definitely rims before. After breakfast, we took one or the other photo of the infinite vastness of this beach desert. After that, with our van Hugo, we rode off towards Hunter Valley. </p>
<p> As an intermediate destination, we had chosen a tourist information in Cessnock, one of the largest towns in Hunter Valley. I only think of one thing about this tourist information <br> No tourist info. Just a sign in a parking space with a toilet. </p>
<p> The Internet told me that a step further north, outside of Cessnock, should be another tourist information. This was also real - and really big. Located directly on a small private airport. As it turned out, a German also worked in the information, according to the nuts. The friendly lady helped us find a nice route through the vineyards and sent us to the Audrey Wilkinson winery. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> While we made plans, I remembered that I still had to pay the toll for the Harbor Bridge in Sydney. While I called the responsible authority and paid everything by credit card, nuts stood on a fairly beautiful flower flower and admired the seeds of this plant. Unfortunately we both have no idea what this beautiful plant is called. Maybe one of you can help us? </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-465.jpg" alt="Two beautiful flowers in frontal recording">
  </div>
  <div class="col-md-7">
    <p> On the way to the winery, the sky contracted with Laaaang, and it was slowly getting a little fresh. On the way through the many vineyards, a lonely kangaroo suddenly hopped around the vines. Unfortunately it was the only one and too quickly. When we arrived at the winery, we were the only guests personally greeted personally. The friendly lady also tried to persuade us to a wine tasting, but since I still had to drive, I couldn't and Mutti alone had no desire. So Mutti quickly donated a bottle of the, as the lady said so nicely, "lively" rose for a mere $ 25. We got the permission to walk through the vines and take photos a little on the slope and of course found one or the other nice motif next to ourselves. Unfortunately, no further kangaroos appeared here either. </p>
    <p> Since it was slowly but surely towards the evening and I don't like to drive in the dark, we decided to drive back to the tourist information and spend the night in the connected parking lot, because there were public toilets that are well lit throughout the night. So we drove there in the last evening light and spent the rest of the evening with chatting and playing. Unfortunately, we cannot drink the purchased wine, since alcohol is expressly prohibited in this parking lot. </p>
    <p> Well then the stop stays in the fridge until tomorrow evening. So! </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-465.jpg" alt="Two beautiful flowers in frontal recording">
  </div>
</div>
