---
layout: blog/en/travelblog
title: "24.02. Great Ocean Road"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Apollo Bay
  - Great Ocean Road

author: Steffi

overview:
  intro: "And again today I am a lazy guy and leave Steffi to write. Thank you Steffi this morning we were the first to head for the outdoor shop, which we had seen the evening before. There we first got a new rod for our sun sail and the journey continued towards Great Ocean Road!"
  image:
    url: /assets/img/blog/auszeit/small/20130708-224257.jpg
alt: "Touri magnet on the coast"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-224257.jpg" alt="Touri magnet on the coast">
  </div>
  <div class="col-md-7">
    <p> And again today I am a lazy guy and leave Steffi to write. THANKS </p>
    <h3> Steffi </h3>
    <p> This morning we were the first to head for the outdoor shop that we had seen the evening before. There we first got a new rod for our sun sail and the journey continued towards Great Ocean Road! </p>
    <p> Our first stop was a gas station before going directly to the coastal road. We haven't quite hit these yet, when we were already heading for the first parking space and started climbing the steps down. These led us to one, once again, people empty beach. We walked a little back and forth, albert in the water and then the whole drunk water and that around us demanded its tribute! We made life a few kilometers away and also hoped for sanitary facilities. So up and continue to the next point. Once there, there were really sanitary facilities and also life on and in the water and after watching the spectacle for a few minutes, we drove on. </p>
    <p> Our next goal was the Aireys Inlet lighthouse. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt='genau deshalb hei&szlig;t die Great Ocean Road "Great Ocean Road"' src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-224514.jpg">
  </div>
  <div class="col-md-7">
    <p> You could also get up to the lighthouse for money, but we left it and just went a little along the way and take a good photo or two before we continued to the next section. However, I didn't notice much of this. I'm shouting away again! *Stupid motor*!!! </p>
    <p> I was always awake, but I didn't realize much ... except that the route curves and some potholes contain, and it was somehow beaten on my stomach. </p>
    <p> We soon reached our target Apollo Bay and the campsite there and after checking in we parked Hugo directly at the pool. Here should be our place for the next 2 nights. In the evening we didn't do much more, except briefly jumped into the pool and stopped by at the tourist information. Then we went to bed because we both announced a nice little cold. </p>
    <p> But more about that tomorrow. <br> Good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt='genau deshalb hei&szlig;t die Great Ocean Road "Great Ocean Road"' src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-224514.jpg">
  </div>
</div>
