---
layout: blog/en/travelblog
title: "20.02. Pure luxury in Melbourne"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Melbourne

overview:
  intro: "This morning it should finally go to a German doctor for Steffi so that someone finally looks at their neck and what is against tension."
  image:
    url: /assets/img/blog/auszeit/small/bdgf55acaai9z2t.jpg
alt: "Well guys what\'s in?"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/bdgf55acaai9z2t.jpg" alt="Small bronze brown package not much larger than the one in which it is.">
  </div>
  <div class="col-md-9">
    <p> This morning it should finally go to a German doctor for Steffi so that someone finally looks at their neck and what is against tension. </p>
    <p> When we woke up at the commuter parking lot this morning, it was so full that some vehicles had to park on the green strips. Since we also had something to do, we only quickly made McDonalds fresh. Then we made our way to the clinic. </p>
    <p> Once there, we were informed that the German -speaking doctor is now retired. We were then sent to the emergency room. There we were informed that it costs at least $ 450 if a doctor looks at Steffi's Genick. Uff. Steffi was then recommended by the nurse to eat paracetamol tablets for a few days and to strain the neck buttically but steadily. This was my favorite saying: "And to the left, to the right and now circle." We decided to stay in Melbourne for the next three nights and to see if it gets better. </p>
    <p> So we were faced with our favorite problem. Where to stay? Unfortunately, our camping guide didn't want to help us in Melbourne either. Spontaneously I just asked Google. There we only found campsites from <a title="&Ouml;ffnet Webseite von BIG4 in neuem Fenster" href="https://www.big4.com.au/" target="_blank"> Big4 </a> . This campsite chain has stumbled into my trip during the preparations for my trip. I immediately remembered that these places are extremely expensive. </p>
    <p> After even Google no other alternatives spit out, we had no choice but to see where a Big4 campsite is free in Melbourne and what it costs. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Pool in the foreground in the background palm trees" src="{{ site.url }}/assets/img/blog/auszeit/small/20130530-235232.jpg">
  </div>
  <div class="col-md-8">
    <p> Then we found a place, a few km, northeast of the city center with the name <a title="&Ouml;ffnet Ashley Gardens im neuen Fenster" href="https://ashley-gardens.vic.big4.com.au/" target="_blank"> Ashley Gardens </a> . So call and ask if a place is free and what the fun should cost us. The friendly lady on the phone informed us that she has a place for 3 nights for us and that the fun costs us $ 42 a night. </p>
    <p> Since the selection was not large, we decided to go there. On the way there we stopped at a larger shopping center to stock up on fresh food for the next few days. There I convinced Steffi to finally choose her subsequent Christmas ghost. What she chose is not revealed here. Look in the next few days, just go in and take care of it. I am sure that it will appear in one or the other photo. </p>
    <p> When we arrived at the campsite in the early afternoon and signed up, we were picked up by a friendly gentleman in the golf kart at the entrance. In the convoy we drove over the not exactly large campsite to our parking space for the next three days. This parking space is extremely good. Directly opposite the washing house. With family bathroom directly in front of the van. Feels like your own bathroom. After the food stowed in the fridge, we went over the square for a short walk and promptly thread the big pool and the nice little sauna with a whirlpool. We decided to end the days comfortably and to lie down in/in the pool. See you in the morning. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Pool in the foreground in the background palm trees" src="{{ site.url }}/assets/img/blog/auszeit/small/20130530-235232.jpg">
  </div>
</div>
