---
layout: blog/en/travelblog
title: "Raise flights April 2013"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Brisbane
  - Broome
  - Darwin
  - Excmouth
  - Perth
  - Sydney

overview:
  intro: "G\'Day from Sydney again. Today I would like to tell you what my new plan should look like for my trip."
  image:
    url: /assets/img/blog/auszeit/small/stepmap-karte-rundreise-1371862.jpg
alt: "Round trip from Sydney via Brisbane, Cairns, Darwin, Broome, Exmouth to Perth"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/stepmap-karte-rundreise-1371862.jpg" alt="Map with markings in different Australian cities">
  </div>
  <div class="col-md-8">
    <p> G'Day from Sydney again. <br> Today I would like to tell you what my new plan should look like for my trip. <br>
    </p>
    <p> At the end of the last month I had thought about how long I would like to stay in Australia and when it should go back to Germany for me. I had chosen myself in the middle / end of August. At the beginning of this month I sat down and detailed my plan for the remaining months that will remain in this beautiful country. </p>
    <p> First I decided to work until mid -May, then I would have to earn and save enough money in order to be able to live the rest of the time without worry. From mid -May it should only go towards Cairns over Brisbane, then from there you always go along the coast via Darwin, Broome. There I would like to arrive at the middle / end of July to have enough time to sell my van Hugo and come back to Sydney with the plane. </p>
    <p> On the way back to Germany I planned a stay of 3 days in Dubai so that I will not be on the road again 27 hours and more in a row. I always wanted to go there and thanks to the free 72 hours transfer visa for the united Arab Emirates, such a short trip is not a problem. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> I rebooked the flights from Sydney via Dubai to Hamburg today. However, I will not reveal my exact back travel date here, because some of my friends are still threatening to me that I have to do stupid stuff as soon as I come home. </p>
    <p> Tomorrow the practical part of my diving course starts. But more about that later. <br> Now I'm going to work first. <br> See you soon </p>
  </div>
</div>
