---
layout: blog/en/travelblog
title: "11.02. Sydney\'s Skyline & Anna Bay"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Sydney

overview:
  intro: "The rain had been lucky this morning. Unfortunately, it was still pretty gray and fresh."
  image:
    url: /assets/img/blog/auszeit/small/20130323-135417.jpg
alt: "Photographed from the bridge."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130323-135417.jpg" alt="Sydney Opera and Circular Quay with high -rise buildings in the background">
  </div>
  <div class="col-md-7">
    <p> The rain had been lucky this morning. Unfortunately, it was still pretty gray and fresh. </p>
    <p> According to the motto "There is no bad weather. There is only bad clothing." Nevertheless, we decided to make our way to Harbor Bridge. The plan was to ride the train over to the north side of the bridge. Once there, we went down to the harbor basin and found one of the best positions for photos. We stood next to the bridge almost exactly opposite the Circular Quay, from which we went to the zoo yesterday. </p>
    <p> After taking countless photos of the skyline, the opera and the bridge, we continued with combinations such as photos under the bridge or skyline with Steffi or with me. When the camera finally glowed, we decided to make our way across the bridge back to the city center. </p>
    <p> The next stop should be the opera. The stairs from the bridge ended but on a small streets that I had never seen before and I was on the road quite a bit in the area. So we simply went into the direction in which we saw the opera from the bridge until we came to a street that I knew and was able to orient myself again. </p>
    <p> Once at the opera, both cameras were made to glow and some tourists asked to take photos of us. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130323-135859.jpg" alt="Left opera buildings in the close -up.">
  </div>
  <div class="col-md-7">
    <p> What is easy to forget when the opera is slightly forgotten is the fact that this building has been around for a few years. At first you really see the old-fashioned tiles that decorate the roof and the dark, dark interior. We then wanted to make a quick round around the still impressive building. Unfortunately, part of the way was closed for construction work. </p>
    <p> So we slowly made our way to the Sony Center again, hoping that we will be helped today. Unfortunately, we were informed that dust between the lens was not a guarantee of the lens and even if that were, it would take several weeks before Steffi would get the camera back. We went out of business a little bit. </p>
    <p> Since it was already going to the afternoon, we decided to drop the planned visit to the National Museum and make our way back to the car. Once there, we also watched that we finally made our way to the daily goal. This was the campsite in Anna Bay near Port Stephens. On the way there we quickly stopped at the hardware store and got some little things for the car. </p>
    <p> We really needed a few hours for the only 220km because in Sydney all the main roads were clogged again and the highway seemed to be only uphill. When we arrived at the campsite, we quickly chose a clash, ate dinner and enjoyed the chirping barbecues in the dark and hoped that the thunderstorm could not get any closer. Tomorrow we want to try to see dolphins in the wild. </p>
    <p> See you in the morning. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130323-135859.jpg" alt="Left opera buildings in the close -up.">
  </div>
</div>
