---
layout: blog/en/travelblog
title: "06/02/2013 Mom's Arrival"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Today was the day my mom arrived in Sydney. I had planned the day down to the last detail, from waking up early to dinner at one of my favorite restaurants in Darling Harbour. But as I've had to learn many times recently, things don't always go as planned."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1827.jpg
alt: "I've been here so often"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1827.jpg" alt="Special format photo from Sydney Tower">
  </div>
  <div class="col-md-9">
    <p> Today was the day my mom arrived in Sydney. I had planned the day down to the last detail, from waking up early to dinner at one of my favorite restaurants in Darling Harbour. But as I've had to learn many times recently, things don't always go as planned. </p>
    <p> A lot went wrong today. It started in the morning when my car just wouldn't start after sitting unused for just two weeks. So I jumped in a taxi and headed straight to the airport while it was still only drizzling. There I waited forever for my mom. When I was starting to worry that she might have gotten stuck in customs with her limited English skills, she finally came around the corner. I explained what had happened, grabbed her suitcase, and we got in line for a taxi together. On the way back to the van, the rain got heavier. </p>
    <p> A few hours later, after we'd been soaked several times and the NRMA (Australian version of AAA/ADAC) had helped us get the van started free of charge, we finally drove to the hotel. We found it, but only after circling once and having to pay the Harbour Bridge toll twice unnecessarily. </p>
    <p> After checking in, we made our way back to the city center on the harbor ferry. After all, Mom wasn't allowed to calm down before 9 PM to avoid succumbing to jet lag. Since the ferry passes right by the Opera House and the Harbour Bridge, there was no chance of mom falling asleep on the boat. Meanwhile, it stopped raining and the sun even came out. Next, we went up the Sydney Tower together to get an overview of this diverse city. </p>
    <p> Then we strolled comfortably through the city and ended up at my favorite restaurant, "Pancakes on the Rocks." There we treated ourselves to spare ribs and then, of course, a portion of pancakes. They were so delicious! I can easily devour a full plate. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1831.jpg" alt="View of the sunset over Sydney looking west">
  </div>
  <div class="col-md-8">
    <p> To Mom's good fortune, the Vivid Festival was still running throughout Sydney, including in Darling Harbour. An additional stroke of luck for her was that even her favorite song was incorporated into the water and light show today. Afterward, we took a short walk along the harbor and marveled at the colorfully lit Opera House. </p>
    <p> But then I had to be careful not to fall asleep while walking. It had been a long journey. When we wanted to take the ferry back to the hotel, we unfortunately discovered that our ferry wouldn't be running anytime soon. So today we jumped into a taxi for a third time and had ourselves driven to the hotel via the Harbour Bridge. </p>
    <p> All in all, we experienced quite a lot today, even if it didn't go according to plan. I think it was still a nice and successful day. </p>
    <p> Well, let's see what the next 4 weeks will bring. <br> Good night! </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1831.jpg" alt="View of the sunset over Sydney looking west">
  </div>
</div>
