---
layout: blog/en/travelblog
title: "06/09/2013 The Big Banana Before Ballina"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Ballina
  - Coffs Harbour

overview:
  intro: "As we'd hoped for so long last night, we finally had decent weather again today. But we also decided not to linger at this campsite and set off right after breakfast, heading toward the beach."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1880.jpg
    alt: "One of Coffs Harbour's beaches"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1880.jpg" alt="A medium-sized bay with a soft sandy beach and a few structures">
  </div>
  <div class="col-md-7">
    <p> As we'd hoped for so long last night, we finally had decent weather again today. But we also decided not to linger at this campsite and set off right after breakfast, heading toward the beach. </p>
  <p> We stumbled upon a small market right next to the beach and a nice pier. At the market, we found a piece of jewelry for Mom—a silver pendant with a large black volcanic stone that she really liked. </p>
  <p> After we had browsed through the approximately 15 stalls, we made our way to the pier. There we took some nice photos of the bay and the small offshore island. A geocache was also hidden on the jetty, which we searched for. After taking a few quick photos of the treasure, we made our way back to the car. We took a few more photos here and there, had a quick snack, and then continued toward Ballina. </p>
  <p> Just a few kilometers north of Coffs Harbour, almost at the end of town, we suddenly spotted a huge banana. How curious! We had to stop. "The Big Banana Coffs Harbour" is a banana farm with an attached amusement park. Since we wanted to keep going, we only had a quick look around the shop. They had all sorts of things made from or featuring bananas, and much more. Of course, Mom found a small ceramic ornament that absolutely had to come with us. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1881.jpg" alt="The pier in Coffs Harbour">
  </div>
  <div class="col-md-7">
    <p> Then we continued north, always following the Pacific Highway. But I just couldn't get it out of my head that I'd missed the huge group of whales in Port Macquarie. So we spontaneously decided to leave the highway and drive to the lookout in Woolgoolga. The road was blocked shortly before our destination! The reason was a town festival with a parade. Okay, a nice alternative. So we found a free parking spot and headed off to the "masses." At the end of the parade, a group of bulls was being driven past, including by car. However, the animals had no desire to do what the farmer wanted. Suddenly the animals went completely wild and broke their chains. That was the moment when we decided to take to our heels and get out of there. </p>
    <p> We didn't make any further attempts to see whales today. When we arrived in Ballina in the evening, we unfortunately found that the Big4 campsite of our choice was fully booked. It quickly became clear that there was another Big4 campsite in town. So we drove there. Unfortunately, this one didn't really deserve the name Big4. I expect a Big4 to be much more than just a parking space with a small room that serves as kitchen, laundry room, drying room, and lounge all in one. A Big4 should at least include a pool and a substantial children's playground. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1881.jpg" alt="The pier in Coffs Harbour">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1890.jpg" alt="A street sign advertising the campsite">
  </div>
  <div class="col-md-8">
    <p> So it was a bit of a disappointment. We decided not to let it spoil our evening and made Chinese food from our supplies. </p>
    <p> Then we took a short walk down the street to the nearest pub. There we made a plan for tomorrow and the next few days. </p>
    <p> Tomorrow we'll head to the Gold Coast, hoping that the weather will hold. </p>
  </div>
</div>
