---
layout: blog/en/travelblog
title: "06/09/2013 Huge fruit before Ballina"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Ballina
  - Coffs Harbor

overview:
  intro: "As hoped for for a long time last night, we finally had decent weather again today. But we also decided not to linger long at this campsite and made ourselves from the field immediately after breakfast and drove the beach."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1880.jpg
alt: "One of Coffs Harbor\'s beaches."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1880.jpg" alt="A medium -sized bay with a soft sandy beach and a few castors,">
  </div>
  <div class="col-md-7">
    <p> As hoped for for a long time last night, we finally had decent weather again today. But we also decided not to linger long at this campsite and made ourselves from the field immediately after breakfast and drove the beach. </p>
  <p> We stumbled across a small market right next to the beach and a nice pier. We found a piece of jewelry for nuts on the market. A silver and not exactly small black volcanic stone as a follower who had done it. </p>
  <p> After we had looked at the approx. 15 boys, we made our way to the pier. There we took some nice photos of the bay and the small offshore island. A geocache is also hidden on the jetty, for which we have searched for the search. After a few quick photos for the treasure, we made our way back to the car. A quick photo here, a little snack there and we continued towards Ballina. </p>
  <p> Just a few km north of Ballina, almost at the end of the town, there was suddenly a huge banana. Something curious. We had to stop again. "The Big Banana Coffs Harbor" is a banana farm with an attached amusement park. Since we wanted to go on, we only looked around Kuuuuz in the shop. There were all sorts of things from/with bananas and much more. Of course, nuts found a small ceramic beep that absolutely had to go. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1881.jpg" alt="The pier in Coffs Harbor">
  </div>
  <div class="col-md-7">
    <p> Then it continued north. Always along the Bruce Highway. But I just didn't get out of my head that I missed the huge group of whales in Port Macquire. So we spontaneously decided to go away from the highway and drive to the viewpoint in Woolgoolga. The street was closed shortly before our destination! The reason was a city festival with parade. OK. Nice alternative. So up to a free parking space and off to the "quantity". At the end of the parade, a group of bulls, including the car, was driven past. However, this had no desire to do what the farmer wanted. Suddenly the animals went through completely and the chains tore. That was the moment when we decided to take our legs in our hands and cut it off. </p>
    <p> We have not undertaken further attempts whales today. When we arrived in Ballina in the evening, we unfortunately found that the Big4 campsite of our choice is unfortunately full. It quickly became clear that there is another big4 campsite in the village. So we drove there. Unfortunately, this did not deserve its name as Big4. I mean a Big4 much more than just a parking space and a small room that is kitchen, laundry room, drying room and lounge in one. A Big4 includes at least one pool and a stately children's playground. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1881.jpg" alt="The pier in Coffs Harbor">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1890.jpg" alt="A sign on the street that advertises the campsite">
  </div>
  <div class="col-md-8">
    <p> So unfortunately it was a little disappointment. We did not decide to let the evening spoil the evening and made China from the bag. </p>
    <p> Then we took a little walk down the street to the next pub. There we made a plan for tomorrow and the next few days. </p>
    <p> Tomorrow we will go to the Gold Coast in the hope that the weather will hold. </p>
  </div>
</div>
