---
layout: blog/en/travelblog
title: "05.06.2013 Delphine and Koalas"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Port Stephens

overview:
  intro: "After breakfast, we first went to the nearby beach this morning. As with the last visit, this endless beach desert was truly impressive."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-18471.jpg
alt: "Small cancer very big"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-18471.jpg" alt="A small cancer sits in a crevice">
  </div>
  <div class="col-md-7">
    <p> After breakfast, we first went to the nearby beach this morning. As with the last visit, this endless beach desert was truly impressive. </p>
    <p> We sat on a few rocks, enjoyed the warmer sun and took countless photos. At some point we bathed our feet in a cow filled with water. After just a few moments, my mother briefly opened when she found that crayfish were sitting in the puddle and in the crevices. </p>
    <p> After watching the crabs for some time, we decided to search for the dolphins and koalas known for this region. So we drove to Port Stephens to the harbor. Since I was here with Steffi 4 months ago, I knew from where we would get the best look over the bay. Unfortunately, once again, once again, we had no luck with the dolphins and went to the tourist information, maybe they can still give us tips where we can see dolphins here. Unfortunately no! The friendly lady could give us a tip where we could see Koalas tonight. Since this area was also on our way back to the campsite, we decided to stop there in the evening. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> After so much free time today, we decided to tackle one of the two mandatory points of today. So we drove to the nearest shopping center to equip ourselves for the next few days with arrangements, snack stuff and drinks.  I don't know everything that comes from tomorrow and therefore I don't know where we can shop. The first few days should still be easy because we are traveling towards Brisbane and there are still many larger places on the map. North of Brisban, the settlement then becomes thinner. </p>
    <p> Oh, as I promised you yesterday, I want to tell you briefly that the nuts survived their first night in the van. Since she finds the bed a little hard, we decided to get a foam under bed quickly today. As a result, we will be about 5 - 10 cm higher tonight but also a good piece of softer. </p>
    <p> Now that the car was fully packed again, we drove back to the campsite on the way we stopped at a point where we supposedly have a chance for wild koalas. We ran pretty daringly on flip-flops and open sandals through the grass, looking for them. Always hoping that all snakes and other threatening animals enjoy their hibernation. Unfortunately, we were not lucky with the Koalas today and saw only empty trees except a few interesting birds. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1849.jpg" alt="Space photo from the sandy beach. My mother stands in shallow water about 100 m away">
  </div>
  <div class="col-md-7">
    <p> Since the sun is currently going down very early, we continued to the campsite. I parked the van right in front of the kitchen building and we devoted ourselves to the second day of the day, namely to get out, open up and clear the van. While mom was delicious for us again, I took all things out of the car and distributed them to the tables in the kitchen. After that, we set out the strategically best distribution of all things on the existing boxes, so that in the next few weeks we do not have to keep the boxes hidden behind other boxes in the next few weeks. </p>
    <p> In addition, we made a rough plan for the morning. It goes into the Hunter Vallay. One of the supposedly most beautiful wine regions in Australia. Well, firstly, here is winter and secondly there is not much going on there. That's why we just want to drive through there on the way to Port Macquire. </p>
    <p> On the way to bed, some rabbits sat on the square again tonight and didn't even let us disturb each other. </p>
    <p> So now it is sleeping. <br> Good night. </p>

  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1849.jpg" alt="Space photo from the sandy beach. My mother stands in shallow water about 100 m away">
  </div>
</div>
