---
layout: blog/en/travelblog
title: "02/27/13: Warrnambool and the Hostel"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Warrnambool

overview:
  intro: "Today we didn't really get far. It took us over 6 hours to cover just 87km. That's an average of about 13km/h."
  image:
    url: /assets/img/blog/auszeit/small/20130716-163622.jpg
    alt: "Gray sky, but delicious breakfast in Port Campbell bay"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163622.jpg" alt="Gray sky, but delicious breakfast in Port Campbell bay">
  </div>
  <div class="col-md-7">
    <p>Today we didn't really get far. It took us over 6 hours to cover just 87km. That's an average of about 13km/h.</p>
    <p>But it was worth it. We got a bit of a late start this morning. All the other day visitors around us had already disappeared. After we got ready and put everything back in the fridge, we set off. But first we went to the beach to have breakfast in complete peace and enjoy the morning.</p>
    <p>Over breakfast with a sea view, we unanimously decided to drive only as far as Warrnambool, the next larger town. Partly because we wanted to buy some food and partly because there were supposed to be some nice spots along the next few kilometers.</p>
    <p>So we quickly got Hugo fueled up and then off we went. After just a few minutes, we came to the first viewpoint from which we had a beautiful view of our previous night's sleeping place. We took a couple of photos and then moved on to the next viewpoint.</p>
    <p>This is how we spent the entire morning, going from one parking area to another. A photo here, a photo there. Again and again photos of both of us together, and of course always with a fantastic view of the sea and impressive cliffs. Unfortunately, the weather wasn't always cooperative!</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163720.jpg" alt="Rough seas on the Great Ocean Road">
  </div>
  <div class="col-md-7">
    <p>When the road gradually led away from the sea, snoring started next to me. Well, I won't say anything more about that. At some point, I saw a sign for a whale watching area. Since my companion was asleep again, I decided on my own that I wanted to drive by there. It turned out to be a viewing platform at Logan Beach. For years, whales have supposedly been giving birth to their calves in the waters in front of this platform. You're supposed to be able to watch them particularly well from up here.</p>
    <p>Since it wasn't whale season, as expected, nothing was happening here. So we continued on to the Warrnambool tourist information center. There, the friendly employee tried once again to find a stable where I would be approved to ride with my heavier weight. Unfortunately, all Australian horses seem to have a maximum weight limit of 100kg. So unfortunately, I wasn't able to fulfill Steffi's wish that we both go on a beautiful beach ride together.</p>
    <p>The friendly lady at the tourist information center still had a good tip for us. She sent us to a hostel where we could park in the back yard for a reasonable price and use all the common rooms and bathrooms.</p>
    <p>Before driving to the hostel, however, we decided to do something about our hunger, hoping not to find ourselves standing in front of closed doors again.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163720.jpg" alt="Rough seas on the Great Ocean Road">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130716-163747.jpg" alt="Our camper Hugo nestled among green bushes">
  </div>
  <div class="col-md-7">
    <p>The tourist information center also had a nice answer to this and gave us directions to a small restaurant in the middle of the city, which had a good selection of dishes and was also open at the time when we get hungry.</p>
    <p>After a hearty kebab plate for me and a chicken burger for Steffi, we went to the hostel to secure a parking spot. Once that was done, we decided to go for a little walk and also look for a geocache. Unfortunately, we weren't successful in our search, and it was getting cool, so we decided to make ourselves comfortable in the hostel with a cup of tea and think about what we wanted to do in the next few days, since horseback riding is unfortunately not an option.</p>
    <p>One idea is to simply take two pure driving days starting tomorrow to get to Adelaide with almost a week to spare. This extra time could then be used to fly for 2-3 days to Alice Springs and Uluru.</p>
    <p>Well, let's see where this idea leads us.<br>But now, first,<br>Good night.</p>
  </div>
</div>
