---
layout: blog/en/travelblog
title: "Plan change in May 2013. Again."
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Brisbane
  - Cairns
  - Sydney

overview:
  intro: "Hey guys again today a report at the end of an exciting month in Sydney. As a attentive reader, you will now ask yourself why still Sydney?. I just say so much: plans change and sometimes faster than you can look. But more about that later!"
  image:
    url: /assets/img/blog/auszeit/small/20140502-153027.jpg
alt: "My boss caught me fully!"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20140502-153213.jpg" alt="We sit at 7 Bent at the table and gniessen noon">
  </div>
  <div class="col-md-7">
    <p> Hey people <br> Today another message at the end of an exciting month in Sydney. As an attentive reader, you will now ask yourself "Why still Sydney?". I just say so much: plans change and sometimes faster than you can look. But more about that later! </p>
    <p> Well, a lot has happened next to work this month. But let's catch the little things that have sweetened the day. Working here in Sydney with the nice colleagues is more and more fun. Somehow I could get used to it. My boss decided that we should all do something unforgettable together. We got 3 options. </p>
    <ol>
    <li> Tandem parachute jump </li>
    <li> Tandem paragliding </li>
    <li> Paintball </li>
    </ol>
    <p> After a lot of back and forth, the decision was made on paintball. Yes it was unforgettable. Above all, the still slightly painful circular blue spots are characterized. I got away really lightly. My boss really got the full broad side and even some from too short distance. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1749.jpg" alt="Young woman with a lot of blue and pink color powder in the hairstyle">
  </div>
  <div class="col-md-8">
    <p> After the slaughter we all went out to eat together and enjoyed the pleasantly warm afternoon. </p>
    <p> A few days later, one of my colleagues invited us all of us at home for the hot pot. The evening was very nice. My colleague Ray with his wife in an apartment on the 10th floor with a view over the bay, on the Harbor Bridge and Sydney's city center. Simply breathtaking. The Hot Pot Essen is comparable to raclette. The only difference is that there is no grill in the middle, but a large saucepan is in which a soup simmer and that the ingredients are frozen on the table. So you cook your dinner in the soup itself. It was definitely great and I really enjoyed the evening. </p>
    <p> Furthermore, I was lucky enough to get two great photo opportunities in front of the camera in Sydney this month. At first I was lucky to get into an Indian color festival in the best weather and the camera. So I took over 270 photos in about 5 minutes. In the end there were some very nice and two outstanding photos that are worth processing. Here is one to feed. </p>
    <p> The second photo motif is much larger and takes place in Sydney every year for 3 whole weeks. The festival is called Vivid and, in my opinion, is the most impressive festival of everyone. Vivid is also a light and color festival. Only it is more about buildings and art. For example, the opera in Sydney is illuminated very spectacularly - with a 15 -minute animation. Many other buildings, bridges and squares are illuminated and attract thousands of people every evening. I was able to take some really great photos of the opera. In the last few days I hope to come to the opera here in Sydney again after sunset to take more photos. </p>
    <p> OK. Then I will now dissolve the riddle about my renewed plan change. As mentioned above, I will stay here for a few more days. This is because my mother is on the way here. So now very slowly and from the front. About 4 weeks ago my mum called me and told me very proudly that her employment contract would be extended. In the subordinate clause, she said something from 4 weeks remaining vacation she still has to take. By chance, your vacation started almost exactly two weeks after my planned travel start. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1749.jpg" alt="Young woman with a lot of blue and pink color powder in the hairstyle">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> I had the information sacks a little and calculated for fun through what flights would cost and what I can work in two weeks, put aside. I found that the amounts would coincide. Unfortunately only for one person. In addition, I found the thoughts better and better to drive part of my big trip with accompaniment. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1819.jpg" alt="Sydney opera with colorful projections on the roof">
  </div>
  <div class="col-md-7">
    <p> So I went to my boss who was happy to be busy employed for another 2 weeks and explained to my mother that I donated the ticket to Australia. Since, as I said, I only have one passenger seat, unfortunately she cannot bring her husband Rolf with me. After a little indecisiveness, she said yes and we started planning the 4 weeks of travel. </p>
    <p> The plan now looks like this. She comes to me to Sydney and we drive up to Cairns together. From there she flies back to Hamburg. Now she is already on the way here and hopefully land as planned on Sunday morning with a good mood and a lot of desire to make Australia unsafe. </p>
    <p> I hope that I will get my mother convinced to write one or the other blog post. </p>
    <p> PS. <br> Oh and one at the end. I've played poker regularly with my colleagues in the past few weeks. Always lost. At the last game last night I finally won. Ole Ole. Happy </p>
  </div>
</div>
