---
layout: blog/en/travelblog
title: "22.02. Penguins on Phillip Island"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Melbourne
  - Phillip Island

overview:
  intro: "Good morning. Today we are out early because we have a lot of great things on the piece of paper, koalas, sea lions and kangaroos. All three can be found on Phillip Island. Southeast of Melbourne"
  image:
    url: /assets/img/blog/auszeit/small/20130706-082244.jpg
alt: "Just let go of the motto"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130706-082244.jpg" alt="Just let go of the motto">
  </div>
  <div class="col-md-8">
    <p> Good morning. Today we are out early because we have a lot of great things on the piece of paper, koalas, sea lions and kangaroos. All three can be found on Phillip Island. Southeast of Melbourne </p>
    <p> Since we decided not to drive toll roads in Melbourne, our journey was the first to go across the city on fairly slow side streets. So we needed several hours to get to Philip Island and of course Steffi Pennte, as always, as soon as we were on the highway. </p>
    <p> So we decided to stop on a beach to get a little awake. Unfortunately, it turned out that there are quite a few flies on this beach car park. So we only went to the water briefly and since it was also cold we went back to the car faster and drove on. </p>
    <p> The next stop was the Koalapark. There we got the tickets for the whole day. There were really many koalas to be seen and photographed in the park. Unfortunately, even today my camera was of the opinion that I didn't want to work. With 8 brand new batteries, the camera was of the opinion that the batteries were empty. Which caused me a little bit of the mood. Well, we are lucky enough to be Steffi's camera and this also makes good photos. The park itself was well laid out but a little too much for our taste in the style of an zoo and too little what we had imagined under a research and rescue station. </p>
    <p> After taking countless photos of Koalas and Wallabies, we continued to the sea lions. Once there, we found that the sea lions live on an offshore island and you can only see them with binoculars or by livestream. Nevertheless, we decided to walk over the cliffs. On the super hiking trail, we tried a geocache without success. When we continue running, we noticed that small wooden boxes are distributed everywhere along the way and here and since there are some small caves in the rock. Since we are really a few 50 meters above sea level and the cliffs are quite steep, we assumed that it must be any birds. After a few 100m away we saw one of them and amazed when we realized what kind of bird it was. </p>
    <p> It was a penguin deceon that tried to escape the cold wind, but still get sunlight. We were really amazed and asked ourselves how the parents come up here without flying. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Look, someone there" src="{{ site.url }}/assets/img/blog/auszeit/small/20130706-082346.jpg">
  </div>
  <div class="col-md-7">
    <p> At the end of today, there was a special visit to the beach on the piece of beach. A few km before you get to the sea lions, there is a bay in which you can watch the penguins come home. The beach itself is of course cordoned off and some stands built up so that the crowds can also see something. At the sunset, three rangers appeared and stood at the foot of the stands and told us a little about the penguins and that it was strictly forbidden to take photos and film. Which of course puked us up quite a bit. Because even photos without lightning are forbidden. It would disturb the animals!?! (Mind you without flash !!!) </p>
    <p> In the end it didn't matter, since in most cases the penguins were only recognizable as shadows that scurried over the beach. After some animals were shushing over the beach, we slowly made our way back and found that the paths of the penguins went along the hiking path and then we still had one or the other option to take a photo (without lightning, of course) or to take the shouting of the young animals. </p>
    <p> When we arrived at the parking lot, we made another check that no penguin sits under the car before we went back to the campsite. This time Steffi fell asleep again on the expressways. </p>
    <p> When we finally arrived at the campsite again, we only watched that we were coming to bed. After all, tomorrow should be a long day again. </p>
    <p> Good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Look, someone there" src="{{ site.url }}/assets/img/blog/auszeit/small/20130706-082346.jpg">
  </div>
</div>
