---
layout: blog/en/travelblog
title: "06/08/2013 Missed Whales in Coffs Harbour"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Coffs Harbour

overview:
  intro: "When we got up this morning, the sun was shining brightly and we were able to have breakfast outdoors. Unfortunately, that didn't last."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1877.jpg
alt: "Beautifully landscaped campsite with eucalyptus trees. Only the koalas are missing"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1877.jpg" alt="Aerial view of a green meadow with many trees">
  </div>
  <div class="col-md-8">
    <p> When we got up this morning, the sun was shining brightly and we were able to have breakfast outdoors. Unfortunately, that didn't last. </p>
<p> By the time we arrived in Coffs Harbour, our destination for the day, the sky had already clouded over. So we drove to yet another rather expensive and luxurious-looking campsite. (This one is conveniently located right next to some hiking trails and beaches). </p>
<p> When we stepped out of the reception building, it was raining quite heavily. So we quickly inspected the campsite in the rain and then drove to the nearest shopping center. Of course, we were still hoping the rain would stop soon. Since it didn't improve after a while and the shops don't stay open too late, we quickly bought everything we needed for meatballs and cauliflower, then drove back to the campsite. </p>
<p> Once there, we carried the utensils needed for dinner into the kitchen and set about cooking. We were lucky that this kitchen is, exceptionally, a fully enclosed building and not, as is usual in Australia, more like a carport with a sink. </p>
<p> While we were busy in the kitchen, I took a look at Twitter and nearly fell over in disbelief. There was actually a message from "Whale Watching Australia" stating that several hundred humpback whales had been spotted off the coast of Port Macquarie that morning. What rotten luck! That's exactly where we had stood the night before enjoying the sunset. We should have just gone for a morning walk along the beach before setting out in the rain. </p>
<p> We spent the rest of the evening playing games and hoping for better weather. Well, we'll see what tomorrow brings. </p>

  </div>
</div>
