---
layout: blog/en/travelblog
title: "Plan change in May 2013. Again."
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Brisbane
  - Cairns
  - Sydney

overview:
  intro: "Hey everyone! Here's another update at the end of an exciting month in Sydney. As an attentive reader, you might be wondering, 'Why still in Sydney?' Well, I'll just say this: plans change, sometimes faster than you can blink. But more on that later!"
  image:
    url: /assets/img/blog/auszeit/small/20140502-153027.jpg
    alt: "My boss caught me in full action!"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20140502-153213.jpg" alt="We're sitting at a table at 7 Bent enjoying lunch">
  </div>
  <div class="col-md-7">
    <p> Hey everyone! <br> Here's another update at the end of an exciting month in Sydney. As an attentive reader, you might be wondering, "Why still in Sydney?" Well, I'll just say this: plans change, sometimes faster than you can blink. But more on that later! </p>
    <p> A lot has happened this month besides work. Let me start with the little things that have brightened my days. Working here in Sydney with such nice colleagues is becoming more and more enjoyable. I could somehow get used to it. My boss decided that we should all do something unforgettable together. We were given 3 options: </p>
    <ol>
    <li> Tandem parachute jump </li>
    <li> Tandem paragliding </li>
    <li> Paintball </li>
    </ol>
    <p> After much back and forth, the decision was made to go with paintball. Yes, it was unforgettable—especially the still slightly painful circular blue bruises I got. I actually got off quite lightly. My boss really took the full brunt of it, and some shots were from too close a distance. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1749.jpg" alt="Young woman with a lot of blue and pink colored powder in her hair">
  </div>
  <div class="col-md-8">
    <p> After the slaughter, we all went out to eat together and enjoyed the pleasantly warm afternoon. </p>
    <p> A few days later, one of my colleagues invited us all to his home for hot pot. The evening was lovely. My colleague Ray and his wife live in an apartment on the 10th floor with a view over the bay, the Harbour Bridge, and Sydney's city center—simply breathtaking. Hot pot dining is comparable to raclette. The main difference is that instead of a grill in the middle, there's a large pot with simmering soup, and the ingredients on the table are frozen. You cook your dinner in the soup itself. It was definitely great, and I really enjoyed the evening. </p>
    <p> I was also lucky enough to capture two amazing photo opportunities in Sydney this month. First, I was fortunate to stumble upon an Indian color festival in perfect weather with my camera. I took over 270 photos in about 5 minutes. In the end, I got some really nice ones and two outstanding photos worth processing. Here's one to whet your appetite. </p>
    <p> The second photo subject is much larger and takes place in Sydney every year for 3 whole weeks. The festival is called Vivid and, in my opinion, is the most impressive festival of all. Vivid is also a light and color festival, but it focuses more on buildings and art. For example, the Sydney Opera House is spectacularly illuminated with a 15-minute animation. Many other buildings, bridges, and squares are lit up, attracting thousands of people every evening. I was able to take some really great photos of the opera house. I hope to visit the Sydney Opera House again after sunset in the next few days to take more photos. </p>
    <p> Okay, now I'll solve the mystery about my latest change of plans. As mentioned above, I'll be staying here for a few more days. This is because my mother is on her way here. So let me start from the beginning. About 4 weeks ago, my mom called and proudly told me that her employment contract would be extended. In passing, she mentioned she still had 4 weeks of vacation to take. By coincidence, her vacation started almost exactly two weeks after my planned departure date. </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1749.jpg" alt="Young woman with a lot of blue and pink colored powder in her hair">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> I let this information sink in a bit and calculated for fun how much flights would cost compared to what I could earn and save in two weeks of work. I found that the amounts would balance out—unfortunately, only for one person. Additionally, I was warming to the idea of having company for part of my big trip. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1819.jpg" alt="Sydney Opera House with colorful projections on the roof">
  </div>
  <div class="col-md-7">
    <p> So I approached my boss, who was happy to keep me employed for another 2 weeks, and explained to my mother that I'd like to gift her the ticket to Australia. Since I only have one passenger seat, she unfortunately can't bring her husband Rolf. After a little indecision, she said yes, and we began planning our 4-week journey. </p>
    <p> The plan now looks like this: She'll join me in Sydney, and we'll drive up to Cairns together. From there, she'll fly back to Hamburg. She's already on her way here and will hopefully land as planned on Sunday morning in a good mood and eager to explore Australia. </p>
    <p> I hope I can convince my mother to write a blog post or two herself. </p>
    <p> P.S. <br> Oh, one last thing. I've been playing poker regularly with my colleagues over the past few weeks and have always lost. At our last game last night, I finally won. Ole Ole. Happy! </p>
  </div>
</div>
