---
layout: blog/en/travelblog
title: "February 20: Pure Luxury in Melbourne"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Melbourne

overview:
  intro: "This morning we finally planned to visit a German-speaking doctor for Steffi so that someone could look at her neck and suggest treatment for her tension."
  image:
    url: /assets/img/blog/auszeit/small/bdgf55acaai9z2t.jpg
alt: "Well guys, what's inside?"
---

<div class="row margin-bottom-10">
  <div class="col-md-3 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/bdgf55acaai9z2t.jpg" alt="Small bronze-brown package not much larger than the box it's in">
  </div>
  <div class="col-md-9">
    <p>This morning we finally planned to visit a German-speaking doctor for Steffi so that someone could look at her neck and suggest treatment for her tension.</p>
    <p>When we woke up in the commuter parking lot this morning, it was so full that some vehicles had to park on the grassy areas. Since we had things to do, we quickly freshened up at McDonald's. Then we made our way to the clinic.</p>
    <p>Once there, we were informed that the German-speaking doctor had retired. We were then directed to the emergency room. There we were told that it would cost at least $450 for a doctor to examine Steffi's neck. Ouch! The nurse then recommended that Steffi take paracetamol tablets for a few days and gently but steadily exercise her neck. This was her exact advice: "And to the left, to the right, and now circle." We decided to stay in Melbourne for the next three nights and see if her condition improved.</p>
    <p>So we faced our favorite problem: Where to stay? Unfortunately, our camping guide wasn't much help for Melbourne either. I spontaneously asked Google. There we only found campsites from <a title="Opens BIG4 website in a new window" href="https://www.big4.com.au/" target="_blank">Big4</a>. I had come across this campsite chain during my preparations for the trip. I immediately remembered that these places are extremely expensive.</p>
    <p>Since even Google didn't spit out any other alternatives, we had no choice but to see where a Big4 campsite in Melbourne had vacancies and how much it would cost.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Swimming pool in the foreground with palm trees in the background" src="{{ site.url }}/assets/img/blog/auszeit/small/20130530-235232.jpg">
  </div>
  <div class="col-md-8">
    <p>We found a place called <a title="Opens Ashley Gardens in a new window" href="https://ashley-gardens.vic.big4.com.au/" target="_blank">Ashley Gardens</a> a few kilometers northeast of the city center. So we called to ask if they had space available for 3 nights and how much it would cost. The friendly lady on the phone informed us that she had a spot for us for 3 nights and that it would cost us $42 per night.</p>
    <p>Since our options were limited, we decided to go there. On the way, we stopped at a larger shopping center to stock up on fresh food for the next few days. There I convinced Steffi to finally choose her belated Christmas present. What she chose won't be revealed here. Just keep reading the blog in the coming days and look out for it. I'm sure it will appear in one photo or another.</p>
    <p>When we arrived at the campsite in the early afternoon and checked in, a friendly gentleman in a golf cart picked us up at the entrance. We drove in convoy across the not-so-large campsite to our parking spot for the next three days. The spot is extremely well located—directly opposite the shower block, with a family bathroom right in front of the van. It feels almost like having our own private bathroom. After storing our food in the fridge, we took a short walk around the site and promptly discovered the large pool and the nice little sauna with a whirlpool. We decided to end the day comfortably by relaxing in/by the pool. See you in the morning.</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Swimming pool in the foreground with palm trees in the background" src="{{ site.url }}/assets/img/blog/auszeit/small/20130530-235232.jpg">
  </div>
</div>
