---
layout: blog/en/travelblog
title: "February 23: Sunset in Geelong"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Geelong
  - Melbourne

author: Steffi

overview:
  intro: "Today I'm once again lucky that Steffi has taken over the writing duties for me. After checking out of the campsite this morning, we left the car in the parking lot at the entrance and took the bus to the city center, as we wanted to visit Queen Victoria Market again and do a few other things in the city."
  image:
    url: /assets/img/blog/auszeit/small/20130708-074054.jpg
alt: "Rowing in the heat... oh no!"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-074054.jpg" alt="Rowing in the heat... oh no!">
  </div>
  <div class="col-md-7">
    <p>Today I'm once again lucky that Steffi has taken over the writing duties for me. THANKS!</p>
    <h3>Steffi</h3>
    <p>After checking out of the campsite this morning, we left the car in the parking lot at the entrance and took the bus to the city center, as we wanted to visit Queen Victoria Market again and do a few other things in the city.</p>
    <p>It was quick work to buy gifts for our loved ones back home. After we'd purchased everything, we headed for the City Tourist Shuttle Bus. This free bus drives you around the city. We got off at the Royal Botanical Garden and first visited the war memorial before heading into the green oasis. After a short while, we sat on a park bench and enjoyed doing nothing for a few minutes. When we continued on, we passed a small restaurant/café in the park and treated ourselves to iced chocolate! It wasn't as tasty as the one we had two days earlier, but it was fine as a refreshment.</p>
    <p>Shortly afterward, we left the botanical garden and reached the Yarra River, slowly making our way toward the city center. We walked along the riverside, where a rowing competition was taking place.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Back in the city center, we visited a small church before hunger drove us on. We ended up (again) at an Asian restaurant! The portions were huge and tasty, and afterward, we headed back to our van Hugo and set off for Geelong.</p>
    <p>It was going to be another free night, so we headed for a parking area that was by a lake and behind a fast food restaurant. After finding this spot and deeming it acceptable, we decided to go to the promenade of Geelong to take a walk in the sunset.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="The Ferris wheel of Geelong" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-073610.jpg">
  </div>
  <div class="col-md-8">
    <p>We quickly found free parking for Hugo and set off. We walked past the harbor basin, where something was causing the water to boil, but we couldn't see what was causing it. The path continued past the pier, where a restaurant or something similar had been built, along with parking spaces, until we reached the next ice cream truck. This caught our attention. We had been wanting ice cream the whole time but had never indulged because the prices were simply too outrageous. Well, in the end we spent almost $12.00 for two ice creams that didn't even taste good! The sun was slowly setting, and we continued walking toward the Ferris wheel, which we could make out in the distance. However, there wasn't much to see there either, so we headed back to Hugo, now in the moonlight. Of course, not without taking a photo or two along the way!</p>
    <p>When we got back to Hugo, we packed everything up so that after washing up at the fast food restaurant, we could jump into the car. But first we had to "hunt mosquitoes." Yes, these beasts really follow us everywhere, and the lake in front of the car didn't help matters.</p>
    <p>Tomorrow we'll finally drive along the Great Ocean Road.</p>
    <p>Good night!</p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="The Ferris wheel of Geelong" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-073610.jpg">
  </div>
</div>
