---
layout: blog/en/travelblog
title: "February 24: Great Ocean Road"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Apollo Bay
  - Great Ocean Road

author: Steffi

overview:
  intro: "Again today I'm being lazy and letting Steffi do the writing. This morning we first headed to the outdoor shop we had spotted the evening before. There we got a new rod for our sun shade, and our journey continued toward the Great Ocean Road!"
  image:
    url: /assets/img/blog/auszeit/small/20130708-224257.jpg
alt: "Tourist magnet on the coast"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-224257.jpg" alt="Tourist magnet on the coast">
  </div>
  <div class="col-md-7">
    <p>Again today I'm being lazy and letting Steffi do the writing. THANKS!</p>
    <h3>Steffi</h3>
    <p>This morning we first headed to the outdoor shop we had spotted the evening before. There we got a new rod for our sun shade, and our journey continued toward the Great Ocean Road!</p>
    <p>Our first stop was a gas station before we hit the coastal road. We hadn't been on it for long when we were already pulling into the first parking area and heading down the steps. These led us to yet another deserted beach. We walked back and forth a bit, had fun in the water, and then the drink and food we had consumed demanded their tribute! We drove a few kilometers on and also hoped for restroom facilities. So back up in the car and on to the next stop. Once there, we did find restrooms, and there was also activity on and in the water. After watching the spectacle for a few minutes, we drove on.</p>
    <p>Our next destination was the Aireys Inlet lighthouse.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt='This is exactly why the Great Ocean Road is called the "Great Ocean Road"' src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-224514.jpg">
  </div>
  <div class="col-md-7">
    <p>You could pay to go up to the lighthouse, but we skipped that and just walked along the path a bit and took a few good photos before continuing to the next section. However, I didn't notice much of this. I fell asleep again! *Stupid engine*!!!</p>
    <p>I was somewhat awake, but I didn't register much... except that the route was curvy and had some potholes, and somehow it was making my stomach uneasy.</p>
    <p>We soon reached our destination, Apollo Bay, and the campsite there. After checking in, we parked Hugo right by the pool. This would be our spot for the next two nights. In the evening, we didn't do much more except briefly jump in the pool and stop by the tourist information center. Then we went to bed because we both felt like we were coming down with a cold.</p>
    <p>But more about that tomorrow.<br>Good night.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt='This is exactly why the Great Ocean Road is called the "Great Ocean Road"' src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-224514.jpg">
  </div>
</div>
