---
layout: blog/en/travelblog
title: "February 6, 2013: Steffi's Arrival"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "There's a lot to report today. The day was packed with events and things to do because my dear Steffi finally arrived and my vacation officially began."
  image:
    url: /assets/img/blog/auszeit/small/20130310-112702.jpg
alt: "An old sailing ship in front of the Maritime Museum"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-112702.jpg" alt="Three-masted ship in Darling Harbour">
  </div>
  <div class="col-md-7">
    <p>There's a lot to report today. The day was packed with events and things to do because my dear Steffi finally arrived and my vacation officially began.</p>
    <p>Everything started in the morning with Steffi's arrival in Sydney. According to her schedule, she was supposed to land at 7 AM. I had promised in advance to pick her up at this ungodly hour at the airport. I went to bed early, and after my alarm clock rang too early the next morning, I checked Steffi's flight. The website told me that the flight should arrive on time. So I got ready, bought a bus ticket, and headed to the bus stop. Since I arrived at the stop a bit early, I checked the flight again and saw that it was delayed by an hour. I spontaneously decided to save the bus ticket for later and walk to the airport instead.</p>
    <p>On the way there, I spotted two poisonous black spiders in a bush. Of course, I promptly avoided the bush and made sure to keep my distance. When I got to the airport, I had plenty of time to look around before Steffi's plane landed.</p>
    <p>A few minutes later, a completely exhausted and crowd-annoyed Steffi stood in front of me.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Sunset over the Blue Mountains. A narrow band of clouds cuts the sun in two halves" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-113002.jpg">
  </div>
  <div class="col-md-7">
    <p>We focused on getting out of the airport and decided to take the easier route—the expensive train to the city. We quickly stopped by my place to drop off her suitcase. Then we explored the city, first visiting Paddy's Market and then Darling Harbour. Since it was quite warm and we were both tired, we decided to quickly pick up my mail and then slowly head toward the hostel so Steffi could get a YHA (Youth Hostel Association) card.</p>
    <p>What Steffi didn't know at the time was that I had booked a room for us at the hostel so that after her long journey, she could sleep in a quiet room and freshen up in a clean bathroom—much better than at my place. The expression on her face was priceless when she received her YHA card and I got the room key. We then quickly went back to my apartment to get our things for the night. We left the rest there, since I had to move out the next day and would need to go back anyway.</p>
    <p>After dropping our things at the hostel, we went to the Sydney Tower to see the city and sunset from above. Unfortunately, fatigue was increasingly taking its toll, so our photos in the Sydney Tower make us look really grumpy and aren't presentable.</p>
    <p>After taking a few nice sunset photos, we finally returned to the hostel. With aching feet, we simply fell into bed and drifted off to sleep pretty quickly.</p>
    <p>Good night.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Sunset over the Blue Mountains. A narrow band of clouds cuts the sun in two halves" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-113002.jpg">
  </div>
</div>
