---
layout: blog/en/travelblog
title: "06/06/2013 Hunter Valley"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Hunter Valley

overview:
  intro: "This morning we decided to quickly make coffee in the kitchen and then head straight out. We preferred to have breakfast on the beach with a view of the wide ocean."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1855.jpg
    alt: "Only a group of kangaroos is missing from this picture"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1855.jpg" alt="Looking through vineyard rows at a photographer's silhouette">
  </div>
  <div class="col-md-7">
    <p> This morning we decided to quickly make coffee in the kitchen and then head straight out. We preferred to have breakfast on the beach with a view of the wide ocean. </p>
<p> Once there, we found a completely burned-out car that wasn't there yesterday morning. I took a closer look at it and noticed that the fire must have been extremely hot, because all around the car everything that had definitely been metal rims before was now melted. After breakfast, we took a few more photos of the infinite vastness of this beach landscape. Then we set off in our van Hugo toward Hunter Valley. </p>
<p> We had chosen a tourist information center in Cessnock, one of the largest towns in Hunter Valley, as our intermediate destination. The only thing I can say about this tourist information is: No tourist info at all. Just a sign in a parking lot with a toilet. </p>
<p> The internet told me that another tourist information center should be a bit further north, outside of Cessnock. This one was real—and really large. It was located right next to a small private airport. As it turned out, according to Mom, a German woman also worked at the information desk. The friendly lady helped us plan a nice route through the vineyards and sent us to the Audrey Wilkinson winery. </p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> While we were making plans, I remembered that I still had to pay the toll for the Harbour Bridge in Sydney. As I called the responsible authority and paid everything by credit card, Mom stood by a pretty flowering plant admiring its seed pods. Unfortunately, neither of us has any idea what this beautiful plant is called. Perhaps one of you can help us? </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-465.jpg" alt="Close-up of two beautiful flowers">
  </div>
  <div class="col-md-7">
    <p> On the way to the winery, the sky grew heavy with clouds and it was slowly getting a bit cool. On our drive through the many vineyards, a lonely kangaroo suddenly hopped between the vines. Unfortunately, it was the only one and moved too quickly. When we arrived at the winery, we were the only guests and were personally greeted. The friendly lady also tried to persuade us to do a wine tasting, but since I still had to drive, I couldn't participate, and Mom didn't want to taste alone. So Mom quickly bought a bottle of what the lady nicely described as "lively" rosé for a mere $25. We were given permission to walk through the vines and take photos on the hillside, and of course found some nice scenes to capture in addition to ourselves. Unfortunately, no more kangaroos appeared here either. </p>
    <p> Since it was slowly but surely getting toward evening and I don't like driving in the dark, we decided to head back to the tourist information center and spend the night in the adjacent parking lot, as there were public toilets that are well-lit throughout the night. So we drove there in the last of the evening light and spent the rest of the evening chatting and playing games. Unfortunately, we couldn't drink the purchased wine since alcohol is expressly prohibited in this parking lot. </p>
    <p> Well, I guess the bottle will stay in the fridge until tomorrow evening. So be it! </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-465.jpg" alt="Close-up of two beautiful flowers">
  </div>
</div>
