---
layout: blog/en/travelblog
title: "February 8: Taking It Easy in Katoomba"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Katoomba

overview:
  intro: "We hadn't planned much for today, and this time everything actually went according to plan."
  image:
    url: /assets/img/blog/auszeit/small/20130317-144038.jpg
alt: "A colorful bird that visited us in the evening while we were packing."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130317-144038.jpg" alt="A parrot with fire-red, sky-blue, and black feathers.">
  </div>
  <div class="col-md-7">
    <p>We hadn't planned much for today, and this time everything actually went according to plan.</p>
    <p>We decided to explore the area on foot before it got too hot to walk. We hiked a few hundred meters through dense jungle before we started to hear construction noises, which didn't quite fit the scenery. After a few hundred meters more, we spotted a large crane and realized we had found Scenic World.</p>
    <p>Scenic World is a paid attraction in the Blue Mountains. For a hefty admission price of $28, you can ride as many times as you want on several cable cars that either lead down to a valley or across a deep gorge. You also get access to several hiking trails and a mountain railway with a 53-degree incline. Unfortunately, the mountain railway was closed for modernization work.</p>
    <p>Since we wanted to take it easy today and had other things to do, we decided to postpone Scenic World and its associated hikes until tomorrow. Now that we knew how to get there, we headed back to the car to go shopping for a barbecue.</p>
    <p>We spent the afternoon reorganizing the entire van and resting. In the process, we got rid of or gave away unnecessary or duplicate items. In the evening, we fired up the grill.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>While the meat was sizzling on the grill and Steffi prepared the rest of the food, I worked on fixing the tabletop of our camping table. It's a roll-up design held together by rubber bands. Unfortunately, they had completely worn out. Before leaving Hamburg, Steffi had been tasked with bringing us new rubber bands. So there I sat, threading the new bands through the holes.</p>
    <p>In the evening, while messing around a bit during dishwashing, we accidentally dropped one of our water bottles down a deep drain. That was a shame, but we had a good laugh about it. :)</p>
  </div>
</div>
