---
layout: blog/en/travelblog
title: "February 19: Nothing to Eat and No Place to Sleep"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Melbourne

overview:
  intro: "Not much was on the agenda for today. Since Steffi's neck was still hurting, I decided to drive all the way to the outskirts of Melbourne. I had found a German doctor in Melbourne online and wanted to take Steffi to see them."
  image:
    url: /assets/img/blog/auszeit/small/20130705-133335.jpg
    alt: "Well dad, jealous?"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130705-133335.jpg" alt="Blue snub-nosed truck with white corner trailer">
  </div>
  <div class="col-md-7">
    <p>Not much was on the agenda for today. Since Steffi's neck was still hurting, I decided to drive all the way to the outskirts of Melbourne. I had found a German doctor in Melbourne online and wanted to take Steffi to see them.</p>
    <p>Unfortunately, it was still about 450km to the doctor, and it was already too late to reach our destination today. So we planned to drive about 30km short of Melbourne to a campsite that was in our new camping guidebook. I entered the GPS coordinates into my phone and off we went. It didn't take long for my little sick passenger to fall asleep next to me. Yes, yes, I know. The engine is to blame. But I have to give her credit that she really did try not to doze off immediately.</p>
    <p>About halfway through our day's journey, we came to the small town of Sale. There we spontaneously decided that we were hungry and wanted to find a restaurant. So we pulled over and got out. At the edge of town, there was a tourist information center where we got some tips on where we could eat. So we drove back to the city center, parked the car, and went exploring on foot. Unfortunately, we quickly discovered that we were apparently the only ones in this city who were hungry at around 3:30 in the afternoon. All restaurants were either closed or only had small snacks available. We were told several times that the kitchens would only open again in the early evening. After a good hour and a half, we gave up and went to the nearest fast food chain and filled ourselves with chicken.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Then we continued toward Melbourne. At the edge of town, a nice little traffic jam was waiting for us, stretching several kilometers. Gradually, the road widened into a highway with multiple lanes. After a few hours of driving—during which Steffi fell asleep again—we arrived in Melbourne's suburb of Berwick. There we discovered that the GPS coordinates from the book were off by a few streets. When we finally found the campsite, we discovered it was closed due to a fair. We then considered staying at a guesthouse instead, but they were too expensive for us. After some back and forth and deliberation, we found a large free parking lot for commuters behind a McDonald's. We spontaneously decided to just stop there, since we wanted to go to the doctor first thing in the morning and then to a campsite near the city.</p>
  </div>
</div>
