---
layout: blog/en/travelblog
title: "02/17/13: From Australia to Africa"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Canberra
  - Congo

overview:
  intro: "We didn't have much planned for today. Really, we just wanted to visit the museum in Canberra and then finally head back toward the sea."
  image:
    url: /assets/img/blog/auszeit/small/igp8093.jpg
    alt: "One of many signs warning about bushfires"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/igp8093.jpg" alt="Warning sign with a dragon lizard as a symbol for bushfire prevention">
  </div>
  <div class="col-md-7">
    <p>We didn't have much planned for today. Really, we just wanted to visit the museum in Canberra and then finally head back toward the sea.</p>
    <p>This morning, our first battle was with our inner laziness, which didn't want to let us get up. Steffi stretched so much that when she twisted, something cracked quite loudly and she felt excruciating pain. Great, that's just what we needed. So we took it easy, and Steffi only moved at a snail's pace since every movement in her neck hurt.</p>
    <p>After a long shower and running a bit late, we still drove toward the museum. There's actually not much to tell about the museum. It was recommended to me by a friend from Ireland, and I had already read many good things about it online. Well, it wasn't all that great. It was okay because it was free. We were also required to check our backpack, which of course contained the rest of our photography equipment and geocoins. There was a lot to see about the history of Australia's settlement and farm life. After about an hour, we had already seen everything and decided to quickly find a geocache. Unfortunately, there were too many people nearby, and we couldn't search undisturbed at our destination.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01142.jpg" alt="Sunset on the deserted beach">
  </div>
  <div class="col-md-7">
    <p>We then decided to leave Canberra. My personal conclusion: Canberra can stay where it is. There's nothing there that you can't find elsewhere. Even the government buildings are hidden behind endless front gardens. The detour is really not worth it.</p>
    <p>So as I said, we focused on getting away. After all, we had a long distance ahead of us. We planned to drive 180km (to another continent). Our destination today was called Congo. Only this Congo isn't an independent country, but a small village. It can only be reached via a several-kilometer-long gravel road. There's a nice small campsite there with direct access to the beach. After we paid the nice ladies at the campsite and received a few tips, we took advantage of the hour of daylight left and went to the beach.</p>
    <p>In the rapidly setting sun, we enjoyed the last rays of sunshine and were finally happy to be back by the sea. After sunset, I tried to take some shots of the beautiful starry sky. Unfortunately, my camera started acting up and telling me that all eight freshly charged batteries were empty. So I gave up. We got ready for bed and enjoyed the quiet, soothing sound of the sea.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc01142.jpg" alt="Sunset on the deserted beach">
  </div>
</div>
