---
layout: blog/en/travelblog
title: "07.03. Steffi makes a departure"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide

overview:
  intro: "Today the day has come that we've been dreading for quite some time. Steffi has to fly back home. We still had a lot on our to-do list, and we wanted to enjoy our remaining time together."
  image:
    url: /assets/img/blog/auszeit/small/dsc02596.jpg
    alt: "Hugo after being cleared out"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="Hugo after being cleared out">
  </div>
  <div class="col-md-8">
    <p> Today the day has come that we've been dreading for quite some time. Steffi has to fly back home. We still had a lot on our to-do list, and we wanted to enjoy our remaining time together. </p>
    <p> First, we decided to sort through Steffi's belongings together. So we emptied Hugo, searching for all the individual items for Steffi's suitcases and things I wanted to send home with her. We also took the opportunity to take some decent photos of Hugo for the eventual sale of the vehicle. Then we decided to jump in the pool for a bit and enjoy the warm temperatures. </p>
    <p> After drying off and packing everything else into her suitcases, we decided to eat somewhere before driving to the airport. We ended up at a Greek restaurant and ordered meat dishes. Unfortunately, we only got meat without any side dishes. When Steffi's plate arrived, all I heard was: </p>
    <div class="tag-box tag-box-v2">
      <p> "But I'm hungry!" </p>
    </div>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02612.jpg" alt="...sniff...">
  </div>
  <div class="col-md-8">
    <p> The food was good even without side dishes. Afterward, we quickly made our way to the nearby promenade and enjoyed our last sunset together for a long, long time. </p>
    <p> When it started to get dark, I drove her to the airport, and we savored the final moments before the international security area opened for her flight and I could no longer accompany her. </p>
    <p> Then I drove back to the campsite and suddenly found myself alone. Which I find pretty depressing. Tomorrow I'll start my journey back to Sydney, where I'll work again for a few months at ProductReview.com.au. </p>
    <p> Now I'm off to my big and lonely bed. Good night!!! </p>

  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02612.jpg" alt="...sniff...">
  </div>
</div>
