---
layout: blog/en/travelblog
title: "06/04/2013 Anna Bay Revisited"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Newcastle
  - Sydney

overview:
  intro: "We didn't have too much planned for today. After breakfast and checking out of the hotel, we left the van parked and took the ferry to Circular Quay again to visit the Opera House. We took countless photos, both of each other and together."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1844.jpg
    alt: "At the end of the street is the small hotel where we stayed. From today onward, we'll be sleeping in the van"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1844.jpg" alt="A short road going uphill">
  </div>
  <div class="col-md-7">
    <p> We didn't have too much planned for today. After breakfast and checking out of the hotel, we left the van parked and took the ferry to Circular Quay again to visit the Opera House. We took countless photos, both of each other and together. </p>
    <p> Mom even asked to pose with a group of Asians in front of the Harbour Bridge. After that, we quickly redeemed a voucher at Hungry Jack's (Burger King in Australia) and drove back to the van, as we still wanted to make it to Anna Bay today. </p>
    <p> On the way to Anna Bay, we stopped briefly in Newcastle. There I just showed Mom where I could have worked and the youth hostel where I had stayed at the time. After that, we sat briefly at the coast for a quick coffee with a view of the sea. </p>
    <p> Another hour later, we finally arrived at the campsite. Unfortunately, we found that the site is still as empty and eerie as it was 4 months ago when I was here with Steffi. We spread out in the kitchen building and cooked a little. Well, Mom cooked while I cleaned our kitchen utensils and finally created some order in and under the bed. </p>
    <p> Tomorrow we want to see if we can spot some wild dolphins and koalas, and we need to shop for the next few days. Let's see how Mom handles her first night in the van and in the wilderness of a campsite. I'll definitely report back! ;) </p>
    <p> Until tomorrow </p>
  </div>
</div>
