---
layout: blog/en/travelblog
title: "01.03. Adelaide airport"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide

author: Steffi &amp; Basti

overview:
  intro: "Basti this morning we were pretty quick on the street again because we still had to drive a few hundred km today. In Adelaide we wanted to do a lot and had to find a free campsite for the night. So go."
  image:
    url: /assets/img/blog/auszeit/small/20130718-095809.jpg
alt: "Who can find Hugo here at beach camping?"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-095809.jpg" alt="Who can find Hugo here at beach camping?">
  </div>
  <div class="col-md-7">
    <h3> Basti </h3>
    <p> This morning we were pretty quick on the street again because we still had to drive a few hundred km today. In Adelaide we wanted to do a lot and had to find a free campsite for the night. So go. </p>
    <h3> Steffi </h3>
    <p> The journey should lead us to the south of Adelaide, past many beautiful wine areas. There we landed on a chic campsite right by the sea. Before we opened there, however, we drove to the airport to visit the rental car company there. No sooner said than done and then booked a rental car for not a little money, which we had already chosen on the Internet beforehand. Looked at quickly, where we have to go to the next day, where we best park and go again. Since a large Swedish furniture store was right next to the airport, we are there to simply browse through the corridors and to fill the fluid balance and the stomach. When we arrived at the campsite, we then completed the bookings for the accommodation in Alice Springs and Yulara, and then ended the evening with a chic sunset on the beach. However, not without making one or the other thoughts of our crazy consideration and the associated implementation! </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Picturesque sunset in Adelaide" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-095931.jpg">
  </div>
  <div class="col-md-8">
    <p><em> But why actually crazy? </em><br> When do you ever have the opportunity to experience something like that? Basti had to go long before and so this long "detour" for him later falls away and he doesn't have to drive alone ... And I get my red sand and the - it is only a "mountain" -! (Yes, it's actually a stone ... I know !!!) </p>
    <p> Until then, we had almost 3900 km behind us in 24 days, so the additional 1100 km plus the flights into the red center and no longer noticed. After all, you only live once and what the saying goes </p>
    <p><em> The spontaneous ideas are the best. </em></p>
    <p> Back at the car it was finally said to be "packed with a suitcase", because we had somehow delayed this up to the last point, the weather was just too beautiful, and the food was not yet done. So I started looking for things for the 3 days and Basti put everything up so that we could then get cooked ... it got dark! </p>
    <p> After everything was searched for fundamentally, we started cooking ... this should go quickly, because there were Asian pasta, which is known to be ready after 4 minutes. <br> In the meantime, headaches had already sneaked in and shortly after eating I just felt bad. In my head it grumbled tremendously, I was a speech and I didn't even have to look into the sky to see stars. </p>
    <p> Unfortunately, from the point of Basti I had to leave everything on my own ... pack from the suitcase, wash it off, disassemble the table, etc., but with the best will in the best, I couldn't look straight away, let alone keep on my feet. So I did not imagine the start in a spontaneous trip. </p>
    <p> After Basti had packed everything and cleared together, it was slowly moving towards the washrooms ... move?! ... conceivably unfavorable idea, but necessary! Thanks to Basti, I also got back and forth there and then I went into the trap, in the great hope that the next day it will be fit and healthy towards Alice Springs. </p>
    <p> Good night </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Picturesque sunset in Adelaide" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-095931.jpg">
  </div>
</div>
