---
layout: blog/en/travelblog
title: "06/11/2013 Brisbane"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Brisbane

headline:
  image:
    url: "/assets/img/blog/auszeit/IGP6534_harbour_bridge.jpg"
    alt: "The massive Harbor Bridge in Sydney"

overview:
  intro: "Today I'd like to tell you about an eventful day in Brisbane. The night at the gas station wasn't too bad."
  image:
    url: "/assets/img/blog/auszeit/IMGP1125.jpg"
    alt: "The huge bamboo in Brisbane"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p>
            <span class="dropcap">T</span>oday I'd like to tell you about an eventful day in Brisbane.
            The night at the gas station wasn't too bad. The rain eventually stopped, and while it remained quite cloudy throughout the day, it was warm. </p>
        <p> Our day started with a visit to the workshop. On the way there, we got the shock absorbers at an Australian version of A.T.U. While Hugo was being repaired, Mom and I went to breakfast at a nearby French café. It was delicious. Meanwhile, we looked for a campsite near Brisbane's city center. We wanted to see at least something of Brisbane after only making a brief stop in Surfers Paradise yesterday. </p>
        <p> We chose the Newmarket Gardens Caravan Park. From there, you can reach the city center without having to change buses. The car was quickly repaired, and we found the campsite easily. We got one of the few available spots. Most of the other campers seemed to be staying longer and had set up additional tarps to protect against the rain from the past few days. </p>
        <p> We didn't stay long and headed into the city. We initially decided to take the bus to the promenade along the Brisbane River, opposite the city center. On the bus, a grandmother explained how the tickets work here. It's similar to Plauen - single tickets are valid for a certain time period, allowing you to travel back and forth as many times as you want. They also work on the ferry that runs up and down the Brisbane River. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> So we decided to go straight from the bus to the ferry via the promenade and take a boat ride. While waiting for the ferry, we looked at a Nepalese pagoda and some huge bamboo. The bamboo was about 5 times my height - quite a sight! We took some photos of the skyline and of ourselves. </p>
        <p> We then took the modern and fast ferry as far as our tickets would allow, making sure we could return to our starting point. On the way back, we decided to get off one stop early. This brought us to the city center on the other side of the river. We strolled through the city center, browsed some souvenir shops, and had fun trying on Australian cowboy hats. The sun had long set by the time we made our way back to the campsite. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/auszeit/IMGP1150.jpg" alt="The ferries that connect both sides of the Brisbane River">
        </div>
    </div>
    <div class="col-md-6">
        <p> After all the fun today, we had to get serious again. Thanks to Steffi's help, Mom had managed the journey to Australia well, including the connection in Dubai. On her return trip, she'll fly from Cairns to Brisbane and then transfer from domestic to international flights for Singapore and Hamburg. It's worth noting that in Australia, domestic and international airports are often separate terminals or even different airports. This is also the case in Brisbane. I had arranged with Mom to do an airport training session today, explaining and showing her every step. Shortly before her departure from Cairns, she'll decide whether I should also get a ticket to Brisbane to accompany her to the international airport. </p>
        <p> No sooner said than done, we made our way to the domestic airport in the dark with Hugo. There, we found the arrivals hall and went through the process step by step. We tried to plan for every eventuality - what Mom needs to do if she has to check her bags herself, where the shuttle bus to the international terminal departs from, how often it runs, etc. We also took the bus to the international terminal and found the check-in counters for Emirates flights. We even found an employee who sensed we weren't regular airport passengers and offered his help. It turned out he could speak some German and explained the exact process before and after security check. That was really helpful. We'll see in a few weeks whether Mom feels confident enough to make the transfer alone or if I should accompany her. At the moment, she seems quite confident. </p>
    </div>
    <div class="col-md-12">
        <p> On our way back to the campsite, we stopped at Domino's and picked up pizza for dinner. In Oz, picking up your order is much cheaper than having it delivered. </p>
        <p> Enjoy your meal and see you tomorrow! </p>
    </div>

</div><!--=== End Post ===-->
