---
layout: blog/en/travelblog
title: "08.02. Off and pack in katoomba"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Katoomba

overview:
  intro: "We hadn\'t planned much for today and this time it should finally work."
  image:
    url: /assets/img/blog/auszeit/small/20130317-144038.jpg
alt: "What a colorful bird who visited us in the evening while packing."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130317-144038.jpg" alt="A parrot with fire red, sky blue and black springs.">
  </div>
  <div class="col-md-7">
    <p> We hadn't planned much for today and this time it should finally work. </p>
    <p> We decided to explore the area on foot before it is too hot to run. We went a few hundred meters through dense jungle before we started to hear a construction site, which of course didn't quite fit into the scenery. After a few more hundred meters we also saw a big crane and knew that we had found Scenic World. </p>
    <p> Scenic World is a paid part of the Blue Mountains. For a juicy admission price of $ 28, as often as you want to drive with several cable cars that either lead to a valley or over a deep gorge. In addition, you have access to several hiking routes and a 53 degree steep mountain railway. Unfortunately, the mountain railway was closed due to modernization work. </p>
    <p> Since we wanted to take it slowly today and had something to do, we decided to move Scenic World and the associated hikes to tomorrow. Now that we knew how to get there, we decided to make our way back to the car and shop for a BBQ. </p>
    <p> We spent the afternoon clearing out the entire van and recovering. In doing so, unnecessary or double things have also been disposed of or given away. In the evening we sat down on the grill. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> While the meat sizzled on the plate and Steffi prepared the rest of the food, I took care of the table top of our camping table. This is rollable and is kept together by rubber bands. Unfortunately, they were completely fucked out in one piece. Steffi, before her departure from Hamburg, had the order to get us into rubber band. Now I sat there and fried the new band through the holes. </p>
    <p> In the evening, when we romped around a little while washing, we also donated one of the drinking bottles and fell into a deep Gulli. It's a shame but we had fun. :) </p>
  </div>
</div>
