---
layout: blog/en/travelblog
title: "07/07/2013 Pelicans in Port Macquarie"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Ranger
  - Port Macquarie
  - Tuncurry

overview:
  intro: "Yesterday evening it slowly started raining a little. This actually continued until our arrival in Port Macquire."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1858.jpg
alt: "Parking spaces in OZ can be so beautiful."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1858.jpg" alt="Palm in the middle of a small paradise of plants">
  </div>
  <div class="col-md-7">
    <p> Yesterday evening it slowly started raining a little. This actually continued until our arrival in Port Macquire. </p>
<p> So we only drove from Bruce Highway to a small place called TunCurry / Forster. On the expressway into the village over the street often, like small miniature suspension bridges from the forest to the left of the road, into the tree top of the street. As we should find out later, these are abbreviations for Koalas so that you do not have to go over the road. There we actually wanted to take a longer break and move a little. </p>
<p> Unfortunately, it started to dribble again after just a few minutes, so that we decided to continue driving and try our luck with better weather in Port Macquire again. As a camp for the night, we had chosen a campsite in the middle of Port Macquire. This was right at the port entrance and invited to stroll. On our arrival, the sky slowly cleared up again. We parked Hugo for the night and went to explore the area on foot. </p>
<p> First we went comfortably along the promenade towards the sea. The path is provided with large stones for the bank attachment. Each one of these stones has been painted colorful by tourists and in a really good quality. Some of these paintings are even over a year old. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1870.jpg" alt="Tree with bud">
  </div>
  <div class="col-md-7">
    <p> The setting sun was also showing itself and gave this beautiful place a great golden yellow color. When it got dark a short time later, we decided to find the next food market to get the missing ingredients for fried potatoes. On the way to the city center we passed a place for cleaning. On one side of the table there were 2 fishermen and clean their catch. On the other hand, 6 washed -out pelicans stood and begged. Every time the men turned to their conversation, the pelicans carefully came closer to the table.  We almost lie with laughter. </p>
    <p> A few steps further, we looked for stars looking for the sky and almost didn't believe our eyes. Air dog flew over us. But not just a few, but as far as we could see, there were flight dogs in the sky. They flew in a seemingly endless crush south, always along the coastline. For the entire evening this huge crush was passing by, that must have been millions of animals. </p>
    <p> For dinner we then opened up the "lively" wine of Audrey Wilkinson. It turned out that the lady was right. The rose was really lively and, above all, damn delicious. It is really more than worth its price. Thanks again Mutti for the tasting drop. </p>
    <p> After eating, I cleared our cooking utensils back in the van and nuts went looking for the kitchen. In doing so, she tried in English and asked a lady: "I must find the kitchen". Really not bad for the first attempt. Or? </p>
    <p> Now it goes quickly to take a shower and then go into the trap. <br> Tomorrow it should go on early. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1870.jpg" alt="Tree with bud">
  </div>
</div>
