---
layout: blog/en/travelblog
title: "02/07/13: Trouble with the Landlord"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Katoomba
  - Sydney

overview:
  intro: "For today, there were actually only three things on my to-do list: 1. Apartment handover 2. Shopping 3. Drive comfortably to Katoomba"
  image:
    url: /assets/img/blog/auszeit/small/20130310-173921.jpg
    alt: "We spent our first night there. Of course in the building, not in the car."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
  </div>
  <div class="col-md-7">
    <p>For today, there were actually only three things on my to-do list:</p>
    <ol>
      <li>Apartment handover</li>
      <li>Shopping</li>
      <li>Drive comfortably to Katoomba</li>
    </ol>
    <p>Unfortunately, this plan didn't work out. As scheduled, we were at the apartment 15 minutes before our appointment and had everything prepared—my van was already packed and waiting for us in front of the house. 30 minutes passed. An hour passed. Nothing happened. Quite angry by now, I tried to reach the landlord by phone. Of course, nobody answered. After more nervous waiting, I'd had enough and decided to go shopping with Steffi first. An hour later, this idiot finally called back and told me that he had been there at 11 AM and nobody had opened the door for him. I could have strangled him for this blatant lie.</p>
    <p>Lies or not, he now claimed he wouldn't have time to come over. If I wanted my deposit back, I would have to go to his office and pick it up personally.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-175901.jpg" alt="Sign in front of the campsite with inscription: Katoomba Falls Caravan Park. Welcome">
  </div>
  <div class="col-md-7">
    <p>I tell you, I haven't been this furious in a long time. I wanted to reach through the phone and throttle him. His office was, of course, in the city center where it's not easy to go by car. He promised to send me a text message immediately with his exact address, which of course he didn't do. Another hour passed and it took two more calls before I finally received the address. I was about to threaten him with the police.</p>
    <p>Four hours behind schedule, we finally sat in the van and started our 100 km journey to Katoomba in the Blue Mountains. The trip took almost three hours because we were stuck in traffic jams almost the entire way.</p>
    <p>When we arrived at the campsite, we quickly put our food in the refrigerator. We even had to cook in the dark. We enjoyed the nature around us before climbing into our mobile bed and falling blissfully asleep.</p>
    <p>Now our adventure vacation could finally truly begin.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130310-175901.jpg" alt="Sign in front of the campsite with inscription: Katoomba Falls Caravan Park. Welcome">
  </div>
</div>
