---
layout: blog/en/travelblog
title: "01.03. Adelaide airport"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide

author: Steffi &amp; Basti

overview:
  intro: "This morning we hit the road early because we still had a few hundred kilometers to drive today. We had a lot to do in Adelaide and needed to find a free campsite for the night. So off we went."
  image:
    url: /assets/img/blog/auszeit/small/20130718-095809.jpg
    alt: "Who can find Hugo here at the beach campsite?"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-095809.jpg" alt="Who can find Hugo here at the beach campsite?">
  </div>
  <div class="col-md-7">
    <h3> Basti </h3>
    <p> This morning we hit the road early because we still had a few hundred kilometers to drive today. We had a lot to do in Adelaide and needed to find a free campsite for the night. So off we went. </p>
    <h3> Steffi </h3>
    <p> Our journey would take us to the south of Adelaide, past many beautiful wine regions. We ended up at a nice campsite right by the sea. Before settling in there, we drove to the airport to visit the rental car company. We quickly did this and booked a rental car for not a small amount of money, which we had already selected online beforehand. We checked where we needed to go the next day, where we should park, and then left. Since there was a large Swedish furniture store right next to the airport, we went there to simply browse the aisles and fill up our fluid levels and stomachs. When we arrived at the campsite, we completed the bookings for our accommodations in Alice Springs and Yulara, and then ended the evening with a beautiful sunset on the beach. Of course, not without thinking about our crazy idea and how we would implement it! </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="Picturesque sunset in Adelaide" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-095931.jpg">
  </div>
  <div class="col-md-8">
    <p><em> But why is it crazy? </em><br> When will we ever have an opportunity like this again? Basti had been wanting to go for a long time, so this "detour" would save him from having to drive there alone later... And I'll get to see my red sand and the "mountain"! (Yes, I know it's actually just a rock!!!) </p>
    <p> By now, we had driven almost 3900 km in 24 days, so the additional 1100 km plus the flights to the Red Centre hardly mattered anymore. After all, you only live once, as the saying goes. </p>
    <p><em> The spontaneous ideas are always the best. </em></p>
    <p> Back at the car, it was finally time to "pack a suitcase," which we had somehow put off until the last minute - the weather was just too beautiful, and we hadn't finished eating yet. So I started looking for things for our 3-day trip while Basti sorted everything so we could cook dinner... but it was getting dark! </p>
    <p> After finding everything we needed, we started cooking... it should have been quick since we were making Asian noodles, which are supposedly ready in 4 minutes. <br> Meanwhile, I had developed a headache, and shortly after eating, I suddenly felt terrible. My head was pounding tremendously, I could barely speak, and I didn't even need to look up to see stars. </p>
    <p> Unfortunately for Basti, I had to leave everything to him... packing the suitcase, washing dishes, taking down the table, etc., but with the best will in the world, I couldn't even see straight, let alone stand on my feet. Not exactly how I imagined starting our spontaneous trip. </p>
    <p> After Basti had packed everything and cleaned up, we slowly made our way to the washrooms... move?! ... not the best idea, but necessary! Thanks to Basti, I made it there and back, and then I crawled into bed, hoping that by the next day I would be fit and healthy for our journey to Alice Springs. </p>
    <p> Good night </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="Picturesque sunset in Adelaide" src="{{ site.url }}/assets/img/blog/auszeit/small/20130718-095931.jpg">
  </div>
</div>
