---
layout: blog/en/travelblog
title: "06/03/2013 Personal leadership in Wildlife Center Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Today there was a lot on the plan for my mother and me. Happiness didn\'t go as much as yesterday. However, two things went differently than planned."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1836.jpg
alt: "Nuts and I on the Pyrmont Bridge in the Darling Harbor during the Vivid Festival"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1836.jpg" alt="Nuts and I in front of an illuminated plastic tree,">
  </div>
  <div class="col-md-7">
    <p> Today there was a lot on the plan for my mother and me. Happiness didn't go as much as yesterday. However, two things went differently than planned. </p>
    <p> And it started right away because we actually wanted to park the van in a free parking lot near my office. Unfortunately we were apparently a little late. After three rounds around the block, we did not find a suitable parking space. So we put the car in the parking garage from Broadway Shopping Center. On the way to the city we stopped briefly in the office to bring the key that I still had and which saved us yesterday before the rain. </p>
    <p> Then we walked into the city to the Paddy's Market. There we wanted to buy knacks and souvenirs for Mutti's suitcase again. What I hadn't thought of again was that this Monday was Monday and the Paddy's Market is only open on Wednesdays to Sundays. So we went through the shopping center above and then drove the Monorail to the Wildlife Center in the Darling Harbor. This trip was also a must-do to our list, since the Monorail will only drive through Sydney until June 30, 2013. After that, the 3.6 km circuit is dismantled and is already in parts for sale. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1833.jpg" alt="Close up of a 5m long python">
  </div>
  <div class="col-md-7">
    <p> In Wildlife Center, today we were real luck with the animals and the extremely friendly staff. First a python and two green tree snakes over 5m long posed for the camera. Shortly thereafter, a nurse came towards us with a bartargame, which we could even stroke. The nurse gave us the tip that we should go back because the nurse of the Tasmanian devil was currently for feeding in the enclosure. So we made our way back, hoping to see the little devils. </p>
    <p> Unfortunately, this was not the case, despite repeated curls with food by the carer. On the way past Koalas, Wombats and Walabies, a nurse just came from the enclosure of the huge crocodile called "Rex". When she saw us, she invited us directly to a small private tour of the crocodile enclosure. Then we met the caregiver from the Tasmanian devils again, who then took us directly to feed the small rodents. Pretty much at the end of the tour we passed the outdoor area / photo site of the Koalas and could even see a koalajunges in the emerging darkness. </p>
    <p> I have been here in Wildlife Center Sydney a few times in the past few months, but I have never had such a nice and personal tour. With the Monorail we continued to a Braslian rodizio restaurant. I've always wanted to eat there. Since it is unfortunately not very cheap and eating alone makes you fat, I have refrained it to this day. Today we simply treated ourselves to it, because from tomorrow we will be traveling with the van and then it will be cooked again. </p>
    <p> On the way back to the van we bought breakfast for tomorrow and the moving away for our trip to Anna Bay. So tomorrow we have one problem less. </p>
    <p> So now it's time for the bed again. <br> Good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1833.jpg" alt="Close up of a 5m long python">
  </div>
</div>
