---
layout: blog/en/travelblog
title: "05.03. Back to Adelaide"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Adelaide
  - Alice Springs

author: Steffi &amp; Basti

overview:
  intro: "After checking out this morning, we headed the “Anzac Hill” viewpoint in the city center of Alice Springs. We parked the rental car for free in the parking lot next door and set out to climb the \"mountain\" sweating."
  image:
    url: /assets/img/blog/auszeit/small/dsc02500.jpg
alt: "XXL-driven names Roadtrain in Alice Springs"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02500.jpg" alt='XXL-Gef&auml;hrt names "Roadtrain" in Alice Springs'>
  </div>
  <div class="col-md-8">
    <h3> Steffi </h3>
    <p> After checking out this morning, we headed the &ldquo;Anzac Hill&rdquo; viewpoint in the city center of Alice Springs. We parked the rental car for free in the parking lot next door and set out to climb the "mountain" sweating. </p>
    <p> Once at the top, we found that we had two suffering from Alzheimer's and forgot our water! What the hell! We discovered a roadtrain in the middle of the city and was amazed at how easy it comes to the curves. Basti had now identified a geocache on the Internet and we also searched for the search. We also found this in a crevice, but unfortunately the cache was devastated by someone. There was only the demolished box on site without content. </p>
    <p> Now we headed for a petrol station one last time to fill up the rental car and then we went to the airport. Looked off the car, Laaaange stuck for the control and off to the souvenir shop. Here we had seen shirts that we liked when we arrived, but they were no longer found. So, armed with our postcards, we sat down into the departure area, filled them out and put them in the box there. </p>
    <p> Now it was time to wait a little until we were called up and then it was time. As on the way, Basti left me the window, although this time we had the row of seats for ourselves and could spread. </p>
    <p> After landing in Adelaide, the shuttle brought us back to the permanent parking lot. Hugo was still completely and so we only invited quickly and drove from the courtyard and towards the campsite. However, we first ended up in a Swedish furniture store right at the airport to just stroll through and, if necessary, to collect further training or conversion ideas for Hugo and in the end of course something to eat. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="War memorial about Alice Springs" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02504.jpg">
  </div>
  <div class="col-md-7">
    <h3> Basti </h3>
    <p> After we had fed through the ranks at Ikea, we decided to go to the campsite. </p>
    <p> Also this time we decided on a campsite with beach accesses. This time, however, this was not that far from the city and the airport and of course again from Big4. The first thing to do is to put us directly between the children's playground, bouncy castle and basketball field. Quickly asked and of course they had two rows on a parking space for us with direct kitchen and pool access. </p>
    <p> On the way here and in the past few days we had seen an outlet shopping center nearby, which we wanted to explore quickly. Unfortunately we didn't have much time because it was later in the afternoon and the shops here always close very early. So we just tried to get an overview of the available shops and to move the actual smacking to tomorrow or the day after tomorrow. But when we stumbled over a jeep store, I just had to look in quickly. The prices were great and the shirts even fit. When I left the shop, I was a lot poorer, but a few shirts richer. </p>
    <p> In the end, we only quickly went shopping and drove back to the campsite to relax with the car. </p>
    <p> See you in the morning. <br> Good night. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="War memorial about Alice Springs" src="{{ site.url }}/assets/img/blog/auszeit/small/dsc02504.jpg">
  </div>
</div>
