---
layout: blog/en/travelblog
title: "21.02. Fleast through Melbourne"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Melbourne

overview:
  intro: "Today we really didn\'t have much on the note. After getting up, we ran pretty quickly to the next shopping center to have a pair of pants shortened for me."
  image:
    url: /assets/img/blog/auszeit/small/photo.jpg
alt: "Clearly get too much sun!"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/photo.jpg" alt="Clearly get too much sun!">
  </div>
  <div class="col-md-7">
    <p> Today we really didn't have much on the note. After getting up, we ran pretty quickly to the next shopping center to have a pair of pants shortened for me. </p>
    <p> Then we went to the city center of Melbourne to cut us there a little the time around our ears. First we went to Queen Victoria Market. This is a really huge market area with many small stands that really want to sell you everything. Really nice to slide through the rows. </p>
    <p> After we spontaneously found a cowboy hat for me and a shirt for Steffi we walked through the city in search of a tourist information. After we had finalized the plan for tomorrow (nothing will be revealed at this point), we decided to look for something to drink somewhere on the river. After a few SMS and calls, Melinda, whom I know from Melbourne, also came on an ice chocolate. </p>
    <p> After exchanging some travel tips, I made my way back to the campsite with Steffi. So on to the bus stop and by bus towards the square. We still had something before today. </p>
    <p> This morning, when we are rid of, we reserved the spa for tonight, and we were gaaanz for ourselves. So, without a speaking pensioner, and without annoying early pubescent young people, we were able to enjoy the sauna and the whirlpool. For Steffi in the hope that the neck will get better again and for me, in prevention for tomorrow. Tomorrow it will be a very long day again. </p>
    <p> Good night. </p>
  </div>
</div>
