---
layout: blog/en/travelblog
title: "10.02. Taronga Zoo"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "We were lucky this morning. The good part was we promptly found a quiet and free parking space and the one close to my office. So we were able to use the toilet and showers there. Unfortunately, the weather didn\'t really play along. It looked like rain all day and one or the other time it started to drip very easily."
  image:
    url: /assets/img/blog/auszeit/small/20130319-210744.jpg
alt: "Beautiful building what guarded the entrance to the zoo."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130319-210744.jpg" alt="Ancient building in front of the Zoological Garden Taronga">
  </div>
  <div class="col-md-7">
    <p> We were lucky this morning. The good part was we promptly found a quiet and free parking space and the one close to my office. So we were able to use the toilet and showers there. Unfortunately, the weather didn't really play along. It looked like rain all day and one or the other time it started to drip very easily. </p>
    <p> When we were finally finished with showers and moving, we went to the city on foot to ask for help for Steffi's camera in the Sony Store. Unfortunately, the lady could not help us in sales and the service center on the first floor does not have an up today. So come back tomorrow and try again. </p>
    <p> From there we wanted to take the free bus to Circular Quay. Unfortunately this did not come and since we didn't feel like waiting for longer, we took a normal bus there. Once in the harbor, we got the incredibly expensive tickets for the Taronga Zoo. These cost $ 55, which is converted to around &euro; 45. With these tickets we were then at least allowed to go to the zoo by ferry. </p>
    <p> When we arrived at the zoo, the sun had crazy strength. Personally it was a little uncomfortable, but I think Steffi was very happy to finally get a little sun again. We looked around very comfortably in the zoo and spent some time with the locals such as Koalas, Reptiles and Kangaroos. I had finally seen it with giraffes and hippos with my own eyes because I only knew these animals from TV. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130319-211332.jpg" alt="Koala sleeping on a tree trunk">
  </div>
  <div class="col-md-7">
    <p> Unfortunately, the later afternoon sustained and it started to dribble a little. Since the zoo, like all other sights, closes on time at 5 p.m., we had initially decided to move further and take photos of Sydney's skyline. Unfortunately, the clouds became thicker and more and more smelled of rain. When we arrived at the ferry, we even had to slip back into our jackets, since unfortunately the wind was getting colder and colder. </p>
    <p> We decided to move the walk across the Harbor Bridge and the skyline photos to the next day and prefer to eat something somewhere. After long back and forth we decided to go back to Chinatown and ended up in a mile. In the middle of the tables and chairs and an Asiastate next to the other. </p>
    <p> The food was good, cheap and of course Asian again. On the way back to the car, it unfortunately started to really rain. We just decided quickly and then go straight to bed, in the hope that the rain will lie down overnight so that we can walk over the Harbor Bridge the next day in good weather. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130319-211332.jpg" alt="Koala sleeping on a tree trunk">
  </div>
</div>
