---
layout: blog/en/travelblog
title: "Mom's preparations for her first solo flight"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Australia
  - Germany

author: Mutti

overview:
  intro: "Today I'd like to thank my mother for writing about how she experienced the beginning of our trip. I hope this won't be her last post."
  image:
    url: 
alt: ""
---

<div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Today I'd like to thank my mother for writing about how she experienced the beginning of our trip. I hope this won't be her last post. </p>
    <h3> Mom </h3>
    <p> At the end of April 2013, I never would have thought in my wildest dreams that I'd spend the entire month of June in Australia. After a last-minute invitation from Sebastian and an unexpected one-year extension of my employment contract, I had to consider vacation plans that I'd originally intended to spend with Rolf. But Australia? Even Rolf said I had to do it. Sebastian had also planned a vacation there in June and didn't want to drive through the country alone with his van "Hugo" (which has sleeping space for 2 people). After some consideration (flying around the world, having very little flight experience, making several connections, having modest English skills, and doing it all by myself), the decision was made—I'm doing it! </p>
    <p> But this was in early May—would there be enough time to prepare? Apply for 4 weeks of vacation: I got approval immediately. Apply for a passport: I applied for an express passport, which I received after a week and which cost me €91.00. Apply for a visa: With Sebastian's help, I did this online. It was very quick, probably only took 2 days, and was also free of charge. Sebastian then booked the flight for May 31st. Thank you!!! </p>
    <p> Next came the theoretical preparations. For example, preparing the entry card for Australian customs. Since you only receive the original form on the plane shortly before arriving in Sydney, it makes sense, thanks to modern Apple technology, to study it at home. Otherwise, you'll be stressed if you check the wrong boxes and can't understand the customs officer. I also selected and booked my airplane seats, read the strict luggage regulations, studied the airport transfer floor plans, improved my English knowledge, and so on. I researched as much as I could online in advance and got explanations from Steffi and Basti. So I was well prepared. Now I'm ready to go! </p>
  </div>
</div>
