---
layout: blog/en/travelblog
title: "February 12: Dolphins in Port Stephens?"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Port Nelson
  - Port Stephens

overview:
  intro: "When we woke up this morning, the sky was still gray and we could see light showers in the distance. Nevertheless, we had a full day planned."
  image:
    url: /assets/img/blog/auszeit/small/20130417-081806.jpg
alt: "It's so wonderful to have the beach entirely to ourselves in the morning."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130417-081806.jpg" alt="Beach in Anna Bay. Water on the left, endless sand dunes and not a single person in sight">
  </div>
  <div class="col-md-7">
    <p>When we woke up this morning, the sky was still gray and we could see light showers in the distance. Nevertheless, we had a full day planned.</p>
    <p>We got ready and decided to head to the beach regardless of the clouds. After all, we had driven here specifically for the endless sandy beaches and desert-like dunes. Once we reached the beach, the sun slowly began to peek through. The temperature was already pleasant. Since the sand was still cold and damp, we decided to walk along the shoreline and dip our feet in the water.</p>
    <p>It was wonderful. On our left was endless ocean with perfect waves for surfing. In front of us stretched endless beach and dunes without another soul in sight. God, it was relaxing. At some point we realized we had forgotten to apply sunscreen, and the sun still had quite a bit of strength as we were starting to get sunburned.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Since my feet were beginning to hurt again, we headed back to the car to get some sunscreen. Then we drove toward Port Stephens. We had also come here to see dolphins in the wild.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130417-082620.jpg" alt="Old wooden fishing boats in Port Nelson harbor, looking like they're about to sink.">
  </div>
  <div class="col-md-7">
    <p>This was mentioned in one of the travel magazines Steffi had brought along. Unfortunately, it didn't specify exactly where in Port Stephens these animals could be seen. We drove to Port Nelson because I had noticed there was a tourist information center there and hoped they could help us.</p>
    <p>Unfortunately, it was a letdown. The lady there couldn't really answer any of our questions. Since my feet still felt like they were burning, we decided to leave the car at the harbor and walk the short distance to the water. There we sat down and hoped to spot some dolphins.</p>
    <p>Unfortunately, we weren't lucky with that either. Since Steffi can sit still even less than I can, we decided to walk along the pier and explore the harbor, still hoping to catch a glimpse of a gray dorsal fin.</p>
    <p>When we eventually returned to the car, a huge flock of white cockatoos greeted us from the tree above. They were making quite a racket and practicing synchronized flying maneuvers. Unfortunately, we were still frustrated that Steffi's new camera had that annoying dust on the lens, and the cockatoo photos weren't 100% perfect. It bothered me so much that I took the camera and tapped the lens with my knuckle. Lo and behold, the dust was gone. Well, lucky us!</p>
    <p>Since we still hadn't seen any dolphins, we decided to take a different route back to the campsite, hoping to spot dolphins along another stretch of Port Stephens. Unfortunately, we had no luck there either.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130417-082620.jpg" alt="Old wooden fishing boats in Port Nelson harbor, looking like they're about to sink.">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>So we made our way back to the campsite. We enjoyed a nice dinner, but unfortunately, there was another thunderstorm nearby this evening. We decided to go to bed and hope for better weather tomorrow. Tomorrow we'll slowly start heading south through Sydney.</p>
  </div>
</div>
