---
layout: blog/en/travelblog
title: "12.02. Dolphins in Port Nelson?"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Anna Bay
  - Port Nelson
  - Port Stephens

overview:
  intro: "When we got up in the morning the sky was still gray and in the distance we could see a light shower. Nevertheless, we had a lot going on today."
  image:
    url: /assets/img/blog/auszeit/small/20130417-081806.jpg
alt: "It is not nice to be very cozy in the morning and, above all, all alone on the beach."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130417-081806.jpg" alt="Beach in Anna Bay. Water on the left, endless sand dunes and no human soul in front of us">
  </div>
  <div class="col-md-7">
    <p> When we got up in the morning the sky was still gray and in the distance we could see a light shower. Nevertheless, we had a lot going on today. </p>
    <p> So we got ready and finally wanted to go to the beach. Clouds or not. After all, we drove here, including the endless sandy beaches and desert -like dunes. Once on the beach, the sun was slowly crawling out. We already had pleasant temperatures. Since the sand was still cold and damp, we decided to go along the beach a little and keep our feet into the water. </p>
    <p> It was wonderful. On the left endless water with good waves to surf. Endless beach and dunes and not a human soul in front of us. God was relaxing. At some point we found that we forgot to smear ourselves with sunscreen and that the sun still has some strength because we started running red. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Since my feet slowly hurt again, we made our way back to the car to pick up the missing dose of sunscreen. Then it went towards Port Stephens. We also came here to see dolphins in the wild. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130417-082620.jpg" alt="Old fishing cutters in the port of Port Nelson, Australia. Made of wood and just before sinking.">
  </div>
  <div class="col-md-7">
    <p> So it was at least in one of the travel magazines that Steffi brought along. Unfortunately there was not where the animals can be seen on the port of Stephens. We just drove to Port Nelson because I had seen that there was a tourist information there and hoped that we could help us there. </p>
    <p> Unfortunately it was a failure. The lady there couldn't really help me with any of my questions. Since my feet were still of the opinion to burn, we simply decided to leave the car at the harbor and walk the short piece to the water. There we sat down and hoped to see dolphins. </p>
    <p> Unfortunately we were not lucky with it either. Since Steffi can sit even less quietly than me, we decided to walk along the pier and to explore the harbor in the hope of seeing a gray dorsal fin. </p>
    <p> When we came back to the car at some point, a huge group of white kacadus greeted us in the tree above us. These made noise and practiced flying deep in the synchronous. Unfortunately, we were still on the biscuit that Steffi's new camera had the fat lint on the lens and the photos of the cacadus did not become 100% perfect. It annoyed me so much that I took the camera and hit my finger knuckle with the lens. See there. The lint was gone. Well, lucky. </p>
    <p> Since we still did not see any dolphins, we decided to take a different way back to the campsite in the hope of seeing another strip of Port Stephens Delfine. Unfortunately it didn't work there either. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130417-082620.jpg" alt="Old fishing cutters in the port of Port Nelson, Australia. Made of wood and just before sinking.">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> So we made our way back to the campsite. Still eat comfortably dinner. Unfortunately, there was also a thunderstorm nearby this evening. We then just decided to go to bed and to hope that it will be better tomorrow. Tomorrow it should slowly go south through Sydney. </p>
  </div>
</div>
