---
layout: blog/en/travelblog
title: "February 26: Koalas and Apostles"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Apollo Bay
  - Great Ocean Road
  - Port Campbell
  - Twelve apostles

author: Steffi &amp; Basti

overview:
  intro: "Today we shared the writing duties again. After checking out, we drove to a rainforest trail just behind Apollo Bay. It wasn't very long, but was more impressive than the paid tour at Otway Fly Treetop yesterday. We took a lot of photos and had our picture taken several times too."
  image:
    url: /assets/img/blog/auszeit/small/20130714-143019.jpg
alt: "It is clearly older than us"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130714-143019.jpg" alt="This tree is clearly older than us">
  </div>
  <div class="col-md-8">
    <p>Today we shared the writing duties again. THANKS!</p>
<h3>Basti</h3>
<p>After checking out, we drove to a rainforest trail just behind Apollo Bay. It wasn't very long, but was more impressive than the paid tour at Otway Fly Treetop yesterday. We took a lot of photos and had our picture taken several times too.</p>
<h3>Steffi</h3>
<p>As we continued our journey, the "restroom facilities" problem soon emerged. According to the navigation system, the next available option was many kilometers away, so we made a detour of a few kilometers because there was supposed to be a campsite. This detour turned out to be an incredibly good decision because after a short time, we spotted 2-3 cars parked on the side of the road with their owners all staring up at the trees. "What's going on here?" We slowed down, and then we saw them: Koalas sitting in the trees!!! We quickly pulled over, grabbed the camera, and went to see the koalas! Hooray, our first wild koalas on this trip. The ones on Phillip Island don't count; they were in a conservation area after all!</p>
<p>The koalas in the trees were quite active, climbing from branch to branch and presenting themselves to the "spectators." We were so excited that we forgot everything else and stayed there for quite some time. Eventually though, we remembered our original mission and continued on, but not without continuing to look up into the trees, where we actually spotted more koalas again and again. At one point, we stopped again because the koalas were quite low in the trees where we could watch them perfectly.</p>
<p>Finally, our journey took us to the long-awaited campsite! Under the pretext of asking some general questions, we were able to use the restroom facilities before heading back to our original route. Some detours are worth it, right?</p>

  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130714-143106.jpg" alt='"Oh, spectators - let me pose nicely for them"'>
  </div>
  <div class="col-md-7">
    <h3>Basti</h3>
    <p>Yes, driving along the road to the Otway Lighthouse and seeing the koalas was a great idea. There were really so many active animals to see.</p>
    <p>After we were back on the Great Ocean Road, we still had a few kilometers through flat terrain ahead of us before climbing up to see the most beautiful cliffs in the world. We decided to stop at the very first parking lot and take a look. What was meant to be a quick stop turned into a long one, and once again Steffi's camera ran hot from taking so many photos.</p>
    <p>It's really amazing to stand in front of these huge rock formations down on the beach, with your feet in the much-too-cold water, just enjoying the day. There were a few more people on this beach, but no more than 10 or 15 in total. Most of them were Asian tourists who didn't stay very long.</p>
    <p>After we finally tore ourselves away from the beautiful view and climbed back up the steps, we drove the few remaining kilometers to the official lookout for the Twelve Apostles. The parking lot was already packed, so we had to park in a bus parking area along with another camper. Right next to the parking lot was the runway for sightseeing flights.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130714-143106.jpg" alt='"Oh, spectators - let me pose nicely for them"'>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p>Initially, I had actually planned to get into a helicopter here and view the Apostles from above. But after we saw how short the flights were and how extremely overpriced they are, we decided against it and made our way to the viewing platform on foot. There we took many more photos and enjoyed the sight of the rock formations surrounded by the mist of breaking waves.</p>
    <p>After a while, we went back to the car and treated ourselves to an ice cream for the long journey of just 150 meters. You could starve on such a trek! After leaving the parking lot, we quickly discovered that we wouldn't be going very far today. Every few hundred meters, there was another parking area with a viewpoint along a particularly beautiful stretch of coast.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130714-143353.jpg" alt="The first partial view of the 12 Apostles">
  </div>
  <div class="col-md-7">
    <p>After our cameras had run hot countless times, we arrived in Port Campbell. We first drove to the campsite listed in our camping guide. Unfortunately, it wasn't to our taste, so we continued on to a larger one that was also in the "city center" (if you can call this tiny place a city). As so often, it wasn't the cheapest, but it was well-equipped and located right at a river mouth with its own beach access.</p>
    <p>But we were hungry again and decided to search for something edible. Very quickly we discovered that we were just too early for dinner. But then we got lucky and found a restaurant/pub with a view of the bay and the sunset. We both had rump steak, which was delicious but, as always, too much. One portion would have been completely sufficient for both of us.</p>
    <p>After eating, we both rolled like barrels down to the beach and enjoyed the increasingly colorful sky as the sun set. When it started to get chilly, we went back to the campsite and began the mandatory task for the evening: doing laundry! We're now showered and in bed, with a load of clothes still tumbling in the dryer. We'll just empty it tomorrow morning. Time now to rest on the mattress.</p>
    <p>Good night.</p>
  </div>
</div>
