---
layout: blog/en/travelblog
title: "09.02. Three Sisters & Sydney"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Katoomba
  - Sydney

overview:
  intro: "Today we had a little more on the note. First we made the van ready to leave and drove the few hundred meters to Scenic World because we had to leave the campsite until 10 a.m."
  image:
    url: /assets/img/blog/auszeit/small/20130318-222404.jpg
alt: "A look through the tree and ceiling upwards"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130318-222404.jpg" alt="Steep cliffs in the background. In the foreground fern and other shrubs">
  </div>
  <div class="col-md-7">
    <p> Today we had a little more on the note. First we made the van ready to go and drove the few hundred meters to Scenic World because we had to leave the campsite until 10 a.m. </p>
    <p> First we went up to the Scenic World caf&eacute;. From there we had an incredibly great view of the Blue Mountains, which, by the way, are anything but blue, but rather shone in a full green. In some travel guides it stood that it should smell very strongly of eucalyptus. Why was easy to see. The forests under us seemed to be pure eucalyptus forests. Unfortunately, they were so dry that nothing spoiled our noses from the wonderful fragrance. </p>
    <p> After taking some photos, we decided to take the first cable car down the mountain to go a little hiking down there. Below in the valley it was easy to find all the ways marked and consisted of wooden boards. Railings on the left and right and almost all paths were part of a large tour. Thus course -proof. </p>
    <p> With us there were certainly 50 or 60 Asians in the gondola. When we arrived at the bottom we waited briefly in the crowd to see in which direction the tour groups would move. We were lucky and everyone ran in the same direction. Of course we took the opposite direction. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130318-222531.jpg" alt="A iguana sits on a stone and looks into the camera shelmily">
  </div>
  <div class="col-md-7">
    <p> The paths were very well maintained and it was nice and relaxed to walk through such a unique nature. Due to the dense tree tops, the temperatures remained in normal areas. Unfortunately, when we checked the first photos of the day, we had to find out that a fat lint is sitting in the middle of all photos. Unfortunately, this seemed to have come between the lenses somehow and that with a brand new camera. Of course, that pressed our mood a little. I spontaneously think of that in the city center of Sydney there is a Sony store and that it can definitely help us. </p>
    <p> Nevertheless, we tried not to let the day spoil ourselves and after some walking around the forest, we found a side course that brought us to the foot of the Katoomba waterfall on the foot of the Katoomba waterfall. Due to the lack of rain, this was only a trickle. But a fairly big iguana, or whatever he is, crossed our way. Since this cute mini dragon was also a camera horn, we got a few really good photos of him, despite the lint on the lens. </p>
    <p> Once again, we took the second gondola to the other side of the gorge. This gondola drove past the Katoomba waterfall and gave a great view over the mountains. On the other hand, only briefly decided to take some photos and drive back. After all, we had more plans. </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130318-222531.jpg" alt="A iguana sits on a stone and looks into the camera shelmily">
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130318-224503.jpg" alt="Slightly lifted from the forest floor. Floor made of wooden panels. Steel railings on the left and right">
  </div>
  <div class="col-md-7">
    <p> Back in Sydney, we desperately searched for a quiet parking lot. Unfortunately we only found one on an extremely loud road. So we spontaneously decided to stop by in my old apartment and, if there was a place there, to spend the night there. Said done. Everything worked thanks to the help of the friendly roommate Adrian, who let us in. We quickly grabbed the most necessary things and moved back to my old room for the night. </p>
    <p> In the evening I went to the beautiful but a little short fireworks in the Darling Harbor with Steffi. Again, some really good photos were taken. Then we met Adrian for dinner in a restaurant in Chinatown. First we wanted to go a cocktail afterwards, but somehow we were too fun and went to bed. Unfortunately there was no really thought of sleeping because the couple in the next room, well, had their own fireworks. </p>
    <p> Tomorrow it should go to the zoo and hopefully give good photos of Sydney's skyline. Let's see if what will become of it. </p>
  </div>
</div>
