---
layout: blog/en/travelblog
title: "23.02. Sunset in Geelong"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Geelong
  - Melbourne

author: Steffi

overview:
  intro: "Today I have the huge luck again the Steffi that letter has taken over for me. Thank you Steffi After checking out at the campsite this morning, we left the car in the parking lot in front of the entrance and took the city to the city center by bus, as we wanted to visit the Queen Victoria Markt again and one or the other in the city."
  image:
    url: /assets/img/blog/auszeit/small/20130708-074054.jpg
alt: "Rowing at the warmth ... no no"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-074054.jpg" alt="Rowing at the warmth ... no no">
  </div>
  <div class="col-md-7">
    <p> Today I have the huge luck again the Steffi that letter has taken over for me. THANKS </p>
    <h3> Steffi </h3>
    <p> After checking out at the campsite this morning, we left the car in the parking lot in front of the entrance and took the bus to the city center by bus, as we wanted to visit the Queen Victoria Markt again and one or the other in the city. </p>
    <p> Here it was quick to get gifts for the loved ones at home. When we bought everything, we headed the City Tourist Shuttlebus. This is free and drives you across the city. At the royal botanical garden, the journey was over for us and we first headed for the war monument before we then moved into the green oasis. After a short time we sat on a park bench and enjoyed nothing to do for a few minutes. When we continued, we passed a parking restaurant/ caf&eacute; and we treated ourselves to ice chocolate! This was not as tasty as the two days earlier, but as a drink in between, it was ok. </p>
    <p> Shortly afterwards we came from the botanical garden at the Yarra-River and slowly made our way towards the city center. Always nicely along the river, accompanied by a rowing competition that was just taking place. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-12">
    <p> Back in the city center we looked at a small church before hunger drove us again. We landed (again) in an Asian restaurant! The portions were huge and tasty and so we drove back to Hugo and made our way to Geelong. </p>
    <p> It should be a free night again and so we headed for a parking space that was on a lake and behind a fast food restaurant. When this was found for OK, we decided to go to the promenade of Geelong to walk a little in the sunset. </p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-4 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" alt="The Ferris wheel from Geelong" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-073610.jpg">
  </div>
  <div class="col-md-8">
    <p> A free parking for Hugo was quickly found and we started. Passing the harbor basin, where it was boiling in the water, but you couldn't see who organized it. The path continued past the pier, whereupon a restaurant or the like was built together with parking spaces until the next ice cream truck. This attracted our attention. We have wanted ice all the time, but we have never struck because the prices are simply too exchanged. Well, in the end we also left almost $ 12.00 for 2 ice cream that didn't even taste good! Slowly the sun went down and we continued to walk to the Ferris wheel, which we made out at some distance. However, there was not too much to be seen here and so we went back to Hugo, now at moonlight. Of course not without taking one or the other photo on the way! </p>
    <p> When we got back to Hugo, we finished everything so far so that after the cat washing at the fast food chain we could jump into the car. But there it was first said "hunting mosquito". Yes, these beasts really follow us and the lake in front of the car didn't make it better. </p>
    <p> Tomorrow we will finally go to the Great Ocean Road. </p>
    <p> Good night </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" alt="The Ferris wheel from Geelong" src="{{ site.url }}/assets/img/blog/auszeit/small/20130708-073610.jpg">
  </div>
</div>
