---
layout: blog/en/travelblog
title: "February 10: Taronga Zoo"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "We had some good luck this morning. We quickly found a quiet, free parking spot close to my office. This allowed us to use the toilets and showers there. Unfortunately, the weather wasn't cooperating. It looked like rain all day, and it did occasionally start drizzling."
  image:
    url: /assets/img/blog/auszeit/small/20130319-210744.jpg
    alt: "Beautiful building guarding the entrance to the zoo."
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130319-210744.jpg" alt="Historic building at the entrance to Taronga Zoo">
  </div>
  <div class="col-md-7">
    <p>We had some good luck this morning. We quickly found a quiet, free parking spot close to my office. This allowed us to use the toilets and showers there. Unfortunately, the weather wasn't cooperating. It looked like rain all day, and it did occasionally start drizzling.</p>
    <p>Once we had finished showering and moving our things, we walked to the city to ask for help with Steffi's camera at the Sony Store. Unfortunately, the sales assistant couldn't help us, and the service center on the first floor was closed today. We'd have to come back tomorrow and try again.</p>
    <p>From there, we wanted to take the free bus to Circular Quay. Unfortunately, it didn't come, and since we didn't feel like waiting any longer, we took a regular bus there. Once at the harbor, we purchased the incredibly expensive tickets for Taronga Zoo. These cost $55, which is about €45. At least the tickets included the ferry ride to the zoo.</p>
    <p>When we arrived at the zoo, the sun was blazing intensely. It was a bit uncomfortable for me personally, but I think Steffi was very happy to finally get some sunshine again. We strolled leisurely around the zoo and spent time with native animals such as koalas, reptiles, and kangaroos. I finally got to see giraffes and hippos with my own eyes, as I had only known these animals from TV before.</p>
  </div>
</div><div class="row margin-bottom-10">
  <div class="col-md-5 visible-sm visible-xs margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130319-211332.jpg" alt="Koala sleeping on a tree trunk">
  </div>
  <div class="col-md-7">
    <p>Unfortunately, the weather deteriorated in the late afternoon, and it started to drizzle a bit. Since the zoo, like all other attractions, closes promptly at 5 PM, we had initially planned to move on and take photos of Sydney's skyline. Unfortunately, the clouds grew thicker and increasingly threatened rain. By the time we reached the ferry, we even had to put our jackets back on, as the wind was getting colder and colder.</p>
    <p>We decided to postpone our walk across the Harbour Bridge and skyline photos until the next day and instead find somewhere to eat. After going back and forth for a while, we decided to return to Chinatown and ended up in a food court with tables and chairs surrounded by numerous Asian food stalls.</p>
    <p>The food was good, inexpensive, and of course Asian again. On our way back to the car, it unfortunately started to rain heavily. We quickly decided to go straight to bed, hoping that the rain would stop overnight so we could walk across the Harbour Bridge in good weather the next day.</p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/20130319-211332.jpg" alt="Koala sleeping on a tree trunk">
  </div>
</div>
