---
layout: blog/en/travelblog
title: "06/08/2013 missed whales in Coffs Harbor"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Coffs Harbor

overview:
  intro: "When we got up this morning, the sun laughed at us and we could have breakfast outdoors. Unfortunately, that didn\'t stay that way."
  image:
    url: /assets/img/blog/auszeit/small/auszeit-1877.jpg
alt: "Beautifully laid out campsite trees with eucalyptus. Only the koalas are missing"
---

<div class="row margin-bottom-10">
  <div class="col-md-4 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/auszeit-1877.jpg" alt="Upperly photo with green meadow and many trees">
  </div>
  <div class="col-md-8">
    <p> When we got up this morning, the sun laughed at us and we could have breakfast outdoors. Unfortunately, that didn't stay that way. </p>
<p> When we arrived in Coffs Harbor, the goal of our day stage had already suffered the sky. So we drove again to the rather expensive and luxurious -looking campsite. (This is located directly on some hiking trails/beach today). </p>
<p> When we step out of the reception building again, it rains quite heavily. So we only quickly inspected the space in the rain and then drove into the nearest shopping center. Of course we still hoped that it would stop raining again soon. Since it did not get better after a while and the shops are not too late, we quickly bought everything necessary for meatettes and cauliflower and drove back to the campsite. </p>
<p> Once there, we dragged the utensils necessary for dinner into the kitchen and set out to cook. Our luck is that this kitchen is exceptionally a full building and, as usual in Australia, is not like a carport with a washbasin. </p>
<p> While we are in the kitchen in the handle, I also take a look at Twitter and fall off the faith. There is not actually a message from "Whale Watching Australia" with the text that several hundred humpback whales were spotted in front of the port of Port Macquire in the morning. Such a disc paste. This is exactly where we stood last night and enjoyed the sunset. This morning we should just have been going for a walk before we got up in the rain. </p>
<p> We played the rest of the evening with games and hoped for better weather. Well we will see what tomorrow's day brings. </p>

  </div>
</div>
