---
layout: blog/en/travelblog
title: "Dive or not"
active_nav: travel-blog
sitemap: true
headline_type: top
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Sydney

overview:
  intro: "Yes, diving is fun. Even if I had to find out that I am no longer 100% suitable for high -sea since the swing with the ferry in New Zealand."
  image:
    url: /assets/img/blog/auszeit/small/imgp0384.jpg
alt: "The boat with which I am out of the open sea"
---

<div class="row margin-bottom-10">
  <div class="col-md-5 margin-bottom-10">
    <img class="img-bordered img-responsive img-center" src="{{ site.url }}/assets/img/blog/auszeit/small/imgp0384.jpg" alt="Incoming boat in the harbor basin of Sydney">
  </div>
  <div class="col-md-7">
    <p> Yes, diving is fun. Even if I had to find out that I am no longer 100% suitable for high -sea since the swing with the ferry in New Zealand. </p>
    <p> Unfortunately, I had to stop my first dive from the boat in the open sea. I was so excited and the waves were so high that got strange to me. So I was not concentrated enough to put together and control the equipment. I still got into the water there I felt a little better again, but a strange feeling came up with my equipment. After a short hand, I did not decide to dive and stop the dive. It was too dangerous to dive with non -properly controlled equipment. Especially not with planned diving depth of 16m. </p>
    <p> I decided to make a few more dives from the country to become safer. I also want to go out with a boat but first without diving to get used to Seegang again. The day still had a good thing. When waiting for the other divers, a Buckelwaljunges 15m appeared next to the boat. Unfortunately everything went so quickly that I had no time to get the camera. </p>
    <p> Steffi had brought my wetsuit with me, because the water here in winter also goes below 20 degrees and the suit is good protection against scorpion fish and jellyfish. I got mask, snorkeling and fins here for a good price. The mask even got my eyesight. </p>
    <p> Yes, a nice replacement for riding is diving all now only in autumn it will be quite cool here too. At the moment we just get to the 20 degrees brand during the day, even for a few minutes a day. In the past few days it feels more like Ireland in early autumn. Flow jacket necessary and neckerchief too. But not big jacket yet. I hope it stays that way. </p>
  </div>
</div>
