---
layout: blog/en/travelblog
title: "Breakfast with Wallabies"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cape Hillsborough
  - Bloomsbury
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170510-banner.jpg
alt: "Breakfast with wallabies on the beach"

overview:
  intro: "The alarm clock went at 5.30am"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170510-12.jpg
alt: "An extra small wallaby"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___, because the lady from the reception told us the day before that around 6 hours the kangaroos and wallabies come to the beach or that it is bright enough to see something.
			Fortunately, it really got bright and dry (it was not a matter of course after the evening), so that when we entered the beach we discovered the wallabies.
			These ate were eaten with relish, branches lying around and green stuff.
			VIV. Images and videos and one of the wallabies were so "trusting" that it didn't bother when they sat down on a stone. </p>
		<p> Around 7pm we went towards the camper and first breakfast.
			Then we talked to two neighbors, who reported that two kangaroos were upstairs up the top in the evening before.
			Unfortunately we didn't get them to see them. </p>
		<p> Since the weather was unfortunately not much going, and it is only about 120 km to Airlie Beach, we decided to go back to Mackay and make the shopping center unsafe from yesterday.
			There we dabbed around until 3:30 p.m. and after 1 hour drive on the free place in Bloomsbury. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> There we also discovered a little snake at the toilet, unfortunately already in the hereafter, which still looked quite fresh. 
			So she can't have been there for a long time.
			Even the nasty little teeth could still be seen. </p>
        <p> After remaining food on the camper, yesterday it was just a lot to do, it was accompanied by the loudly wildlife in the film and dreamy. </p>
    </div>
</div><!--=== End Post ===-->
