---
layout: blog/en/travelblog
title: "Chinese instead of Rodizio"
active_nav: travel-blog
author: "Steffi"
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Coogee
  - Cloutalley
  - Darling Harbor
  - Zetlands

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170527-banner.jpg
alt: "The Darling Harbor at the Vivid Festival 2017"

overview:
  intro: "Today it went to Coogee to make it 1 - 2 dives for Basti if necessary."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170527-11.jpg
alt: "Steffi with a view of the water"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___ </p>
		<p> Arrived at Prodive and actually get registered for the next day. This was not understandable here, since nobody actually goes into the water at the temperatures of only about 20 degrees. We then decided to follow the coastal path a bit and land a bay in Cloutalley. We did not come much further, because we sat on the water edge, enjoyed the sun and looked into the crystal -clear sea, watch fish and the water running. </p>
		<p> The bus went back to the city to visit the paddyys market. Here we found what we were looking for again and gave some money. We bought two beautiful pictures for the kitchen, which were painted by Aborigines. We continued via Chinatown to Darling Harbor. There, quite a few fences and barriers awaited us there ... Safety is also going on here! </p>
		<p> The first goal was the Hard Rock Caf&eacute;, where at least I found what I was looking for on the "Sale Stand", because everything else was really expensive. </p>
        <p> It should also go to the birthday dinner. Unfortunately, nothing came of it, because somehow we replaced the table reserves at the Brazilian. Of course everything was full and so we decided to go back to Chinatown - there was "really Chinese cuisine". My case wasn't at all and Basti ... I quote "was ok". </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> Back at Darling Harbor, we headed for the "headlights" as first. A construction where lights are simply blasted up and positioned in various formations. To really work, mats have been placed underneath so that you can lie down. We were here for a while, since Basti's camera bitched again and a dear colleague called me from Germany. </p>
		<p> The next representation was then in a normal overseas container. At the entrance, we were pressed in the hand of black light flashlights and inside we were waiting for us, sometimes really chic pictures, which made something extra when you illuminate them correctly. Arrived at the harbor basin shortly afterwards the water show started. The water rays shot up at over 60m width/height and were illuminated with various pictures. Afterwards we crept around there because we were waiting for the fireworks, which is always in the harbor on Saturdays. In the meantime we saw the water feature four times and also booked a "vivid cruise tour with a buffet". In the meantime, we found that there should be no big fireworks this time, as this was more or less installed in the water features. </p>
		<p> At some point late in the evening we went slowly towards the bus that should bring us to the apartment. Good night! </p>
    </div>
</div><!--=== End Post ===-->
