---
layout: blog/en/travelblog
title: "Other worlds"
active_nav: travel-blog
author: "Steffi &amp; Sebastian"
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Moore Reef
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170521-banner.jpg
    alt: "Fishies at the pontoon"

overview:
  intro: "Today we're writing together. Steffi starts:"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170521-12.jpg
    alt: "A clownfish family at Moore Reef"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p>
			<strong><em> {{ page.overview.intro|raw }} </em></strong>	
		</p>
		<p> At 8 a.m. we arrived at the terminal to check in with Sunlovers and pay for our trip to the Great Barrier Reef.
			When asked, the gentleman also told us that it would be a quiet tour since there weren't even 90 people on board. </p>
		<p> At 8:45 a.m. it was time to board, so we took our "Travacalm" and spent some time in the local shop before heading to the boat, which can accommodate at least 300 people (quite a scary thought). </p>
		<p> Basti remembered that you feel better on the upper deck, so we found a corner there. 
			A quick walk through the boat showed "Yep, 3/4 Asians, plus Indians and us". 
			They were all diligently eating tea and chips etc... and that was before the wave ride!!!
			Basti immediately signed up for diving when entering the boat and came back quite annoyed.
			He was told that there would probably only be 1 dive. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> The journey started on time, nasty waves followed pretty quickly, and to distract us, there was the snorkeling instruction in extra funny. When this was over, you could already see the first green faces and then it started! We quickly grabbed our headphones, turned the music up LOUD and stared at the sea, so as not to notice anything from the others. The waves were extremely rough, but these Travacalm tablets are pretty good. I didn't notice anything, only Basti felt a bit like he was on a roller coaster. But he was fine anyway! </p>
		<p> With a stopover at Fitzroy Island, we headed to the second stage towards the pontoon at "Moore Reef". The waves felt worse, but when we reached our destination, everything was fine. The pontoon turned out to be very stable in the waves "Yippee" and then everything went very quickly. Basti had to dive immediately and I got to snorkel. Everyone else was still sitting around trying to calm their stomachs. I decided to try it without a wetsuit or jellyfish suit and headed towards the entry. The lifeguard gave me an earful "Yeah you're the first, enjoy it" etc. and I asked about the water temperature "26 degrees and just the first contact is coooold". Hm ok... step down, first leg in the water and fu... it was cold. But he was right... You got used to it immediately. However, I didn't have much time to think about it, because unfortunately nobody told me that when you're the first one in, the fish have a pagan fun with you. The silver-yellow fishies immediately came towards me and checked if there was anything to get. Quite a big crush. </p>
		<p> Put on the fins and let myself slide into the water... Ooh coooold and soooo many fish. I wasn't even completely underwater when different types of fish were gliding past, in many different colors below and beside me. The waves were quite annoying, but with the snorkeling vest, it was manageable. So at least I didn't have to concentrate on staying afloat etc., but could enjoy the colorful underwater world. And... I found Nemo, together with siblings!!! Almost 1 hour later, I urgently needed something to drink and moved towards the pontoon. There I met Basti again, who was pretty happy. Plus, a 2nd dive was now in prospect. (a little bit of complaining sometimes helps) </p>
		<p> I briefly told him about my experiences, and that I had found Nemo and he decided to spend his break with me in the water. So back in and searched for Nemo's home again in the really large snorkeling area and found it! </p>
		<p>
			<strong><em> From here I continue to write. </em></strong>
		</p>
		<p> After Steffi showed me a starfish and the clownfish family, I went on my second dive. This time it was supposed to be a cool drift dive. The plan was, my guide and I would be dropped off by the boat a little away from the pontoon and the current would bring us back. Somehow, unfortunately, nobody expected a counter-current. So we had to swim against the current for 18 minutes, which almost consumed 3/4 of my air supply. Since there was less current at the surface, we decided to snorkel out of the current and save the remaining air for the more beautiful part. After another 5 minutes we had found the right flow direction and dived again. Since I only had very little air left, I decided to stay at just 2m to consume less. With only 19 bar remaining pressure (approx. 3 to 5 minutes diving time) we arrived back at the pontoon. It was a really exhausting dive, but it was still good. </p>
		<p> A short time later we all went back on board the ship and headed back to Cairns. Thanks to Travacalm, we had no seasickness problems on the return trip either. </p>
		<p> In the evening we went for a little walk in Cairns. Since we didn't get to eat during the excursion, we decided to eat Japanese (no sushi) today. It was mega delicious and enough to make lunch again tomorrow. On the way back to the car we suddenly heard Irish folk music. We followed it and ended up having a last drink in a sweet little Irish pub. After that it was definitely time to head back to the campsite and to bed. </p>
    </div>
</div><!--=== End Post ===-->
