---
layout: blog/en/travelblog
title: "No food in Bowen"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Bow
  - Townsville
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170514-banner.jpg
    alt: "View of Bowen\'s Whitsunzays."

overview:
  intro: "Nothing was announced yesterday."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170514-10.jpg
    alt: "The sign of the Big4 campsite at the entrance to Airlie Beach"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			We had extended a night on the Big4 to use the pool, nothing to do and what else you do or not.
			Unfortunately, the weather did not quite play with it, so that it rained slightly from time to time and it became a little fresher at the pool. 
			So we simply gone into the camp kitchen. </p>
		<p> Today the plan looked a bit full of. 
			After sleeping in, we went to Bowen first today, where there are supposedly fantastic beaches based on Thai model.
			Once there, we were either too stupid to find the beautiful beaches or they are no longer as beautiful as before. </p>
		<p> After we got a few beaches and even got no dream beaches from a high viewpoint, we decided to search for a nice restaurant and to eat really well again.
			On the way back to the place we stopped at a tourist information to get tips for a good restaurant.
			Unfortunately, the lady told us that after 2 p.m. there are only two places here in Bowen where you can get something to eat.
			Either Mc Donalds or subways. Crap !!! Since we were really hungry, our choice on Mc Donalds. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Then we drove to Townsville, where we treated ourselves to an early dinner in an Italian restaurant before we were looking for a free place to sleep on a rest farm.
		On the way to bed, we quickly talked to our mothers, after all it is Mother's Day. </p>
    </div>
</div><!--=== End Post ===-->
