---
layout: blog/en/travelblog
title: "New friends"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Townsville
  - Magnetic Island
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170516-banner.jpg
    alt: "Alma Bay on Magnetic Island"

overview:
  intro: "Today it should finally be diving for Basti."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-17.jpg
    alt: "Wollaby inspects the camera"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			We were awake accordingly early so that we were on the diving base just before 9 hours.
			After all the formalities were done, it went on foot to the Geoffrey Bay.
			(The equipment was brought by car) </p>
		<p> Basti went into the water with a guide and diving partner via boat ramp and I went 5 meters away to the rock wall. 
			They also sat outside at this time and I was also lucky that no other people were there.
			So just searched for a suitable stone, planted and shortly afterwards I was no longer alone. 
			More and more rock walls joined me.
			Among them even a mom with a baby, which was quite often evident. 
			Hmmm friends or enemies.
			I tried it with the variant as with the dog, hold your hand, let it sniff and good.
			A Wallaby was so trusting that it could be stroked almost continuously. 
			When I was looking for a new seat, it even came behind. 
			I spent almost 45 minutes there until I saw that the divers came back ashore </p>
		<p> Basti reported beams from the baracuda and rather large fish on the wreck.
			Unfortunately, however, everything without pictures or videos, because the GoPro was empty when you turn it on.
			Back at the diving center, he decided to take the second dive. After a short relaxation phase and loading time for the GoPro, we went to the Alma Bay.
			This time it went into the water via the beach and while I enjoyed the water on my feet or sat lazy on the bench and enjoyed the sun. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> In the evening we drove back to the mainland with the penultimate ferry and made ourselves comfortable outside of Townsville on a completely overpriced Big4 campsite located directly on the highway. </p>
    </div>
</div><!--=== End Post ===-->
