---
layout: blog/en/travelblog
title: "Welcome to China"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Green Island
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170523-banner.jpg
    alt: "Green Island"

overview:
  intro: "We didn't really do much yesterday."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170523-10.jpg
    alt: "Chinese tourists on the beach"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			I took care of the blog and the many photos. Steffi checked our finances and took care of our provisions. Then we simply decided to jump into the pool and enjoy the sun for the rest of the day. In the evening we decided that we would go to Green Island today. </p>
		<p> So this morning we made our way back to the harbor. When we arrived at the ship, we were quickly surrounded by Asians. The captain then greeted us with the words "Welcome to China". Well, we just thought, and unfortunately that would be confirmed. </p>
		<p> About 1,000 Chinese tourists were frolicking on the only 600m long island. Far too many for this beautiful little oasis. First we registered for a boat dive and spontaneously decided to take Steffi out for snorkeling. That was the right decision, because when we came to the beach a few minutes later we found that it was low tide and therefore the water was too shallow to snorkel from the beach. </p>
		<p> We then decided to eat a little something before finally heading out the 700m to the diving site by boat. 
			It was a very shallow dive with a maximum depth of only 3.6m but that was more than okay. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> We circled a coral island several times and met many small and large fish as well as 3 turtles and some giant clams. Since the visibility was only 3 to 5 meters, Steffi didn't have as much fun on the surface. She didn't get to see much. I think the biggest thing she got to see several times was her diving buddy, me! </p>
		<p> On the way back to Cairns, we were both somewhat disappointed with the day trip. I therefore decided that this short trip to China should not be remembered as our final experience at the Great Barrier Reef. As soon as we arrived in Cairns, we looked for a tourist information center about Franklands Islands. After a short consideration, we booked another day trip to the reef for tomorrow. This time with the knowledge that only 100 people are allowed on this island per day. Hopefully the ship won't be full. </p>
		<p> But more about that tomorrow. </p>
    </div>
</div><!--=== End Post ===-->
