---
layout: blog/en/travelblog
title: "ADE Australia"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Singapore
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170601-banner.jpg
    alt: "Sunset in all colors of the rainbow"

overview:
  intro: "Unfortunately, today it was time again."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170601-10.jpg
    alt: "The Saltz Lakes on the way across the Australian continent"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			 I have to go out of this country again without knowing whether and when I will come back. That pressed the mood on the way to the plane quite a bit. When choosing the seat, we were lucky again and again got a two seat at the very end of the plane. </p>
		<p> After about 2.5 hours of flight time, the plane made an imperceptible Schlenker to the left, went a little deeper and got a little slower. 
			The reason for this was also called Ayers Rock.
			We flew past the perfect distance to take photos of the 863 meter high stone. A flight attendant apparently took photos with the cell phones for all colleagues. </p>
		<p> That was once again an impressive I swab at the end of our time here in Australia. After a total of almost 6 hours of flight time, the northwestern coast of Australia (near Broome) was in sight in the sunset. That was now finally said goodbye. Dumb. There were another 6 more hours. There was really a lot to see from up there. Above all, the many different formations of the hills and mountains are absolute madness as well as the huge Saltz lakes that we had scanned. Well, goodbye. Hopefully!!!! </p>
		<p> Another 2 hours later we landed in Singapore. We also treated ourselves to a taxi to the hotel and the taxi driver explained how some things are organized here in Singapore and what we have to see. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Since we were nudged from the flight, we did not decide to pull the blocks but rather go to sleep early. See you in the morning. </p>
    </div>
</div><!--=== End Post ===-->
