---
layout: blog/en/travelblog
title: "Buddha and Cattle on Lantau"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "The Kuranda Scenic Railway train"

overview:
  intro: "Today we'd like to tell you about our trip to Lantau."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170430-14.jpg
    alt: "A cow in front of the kiosk"
---

<!--=== Post ===--><div class="row  margin-bottom-10">
    <div class="col-md-6"> {% include 'blog/snippet/headline.html.twig' %} <p> {{ page.overview.intro|raw }} </p>
        <p> On Sunday we took the R1 bus to Lantau to see the giant Buddha. 
            However, don't rely on Google Maps for directions. 
            It sent us in a circle via public transport, as we noticed when we ended up exactly where we started two stops later.
            Public transport is so cheap here that it's really fun to use.
            The 1.5-hour ride on the express bus only cost HK$43 (about €5).
            That's a bit expensive for Hong Kong.
            A ferry ride, on the other hand, only costs HK$4.30 for the upper class - just 10% of the bus fare. </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
          <p> Lantau is an island off Hong Kong where the new airport was built.
            At the top of the mountain sits a huge Buddha statue.
            Depending on the takeoff/landing direction, you can even see the Buddha clearly from the plane.
            When we arrived by bus, there weren't many people on the mountain.
            So we were able to look around peacefully.
            There's not just the Buddha itself and various shops up there, but also a Buddhist monastery.
            If you want, you can pray with the monks or eat with them (for a fee, of course).
            We were content with just listening to the chanting, and since we're not fans of slurping and smacking, we simply shared a portion of pasta with vegetables at the snack bar.
            There are also animals here - cattle, to be exact - living freely. 
            They roam all over the island and eagerly wait for their soft drinks (see picture).
            They're quite tame and are "happy" to pose for pictures and accept pats. </p>
        <p> We took a boat back to Hong Kong in the evening.
            Unfortunately without a view, as the windows were crusted with salt water. </p>  
    </div>
</div><!--=== End Post ===-->
