---
layout: blog/en/travelblog
title: "Wet Dreams"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - South Mission Beach
  - Cairns

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170518-banner.jpg
    alt: "The skyline of the mountains behind Cairns"

overview:
  intro: "This morning at shortly before 5 a.m."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170518-10.jpg
    alt: "Welcome chocolate in the shape of a koala"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			 I was still in bed inside the motorhome.
			 All windows were closed, yet rain was dripping onto my face. 
			 Damn!
			 Well, I found another towel, stuffed it into the dripping gap, turned over, and tried to sleep some more.
			 An hour and a half later, the night was finally over. </p>
		<p> Since three towels were now completely soaked, we decided to get an early start and drive to Cairns.
			First, it shouldn't rain there, and second, the Hippie Camper branch in Cairns is where we're supposed to return the motorhome in 8 days. </p>
		<p> On the way there, we made a list of all the defects we noticed in this motorhome.
			From wipers that are so hard you could use them as a saw, to the nasty smell of cat urine that regularly wafts through the car and seemed even worse today. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Around noon we arrived at Hippie Camper and had to wait until an apprentice took care of us. 
			After we explained the situation in two sentences and showed him the list of defects, he promptly got support from the manager.
			We only briefly showed her the wet interior of the vehicle.
			Since the car now really stank of cat urine, the lady could only stand being in it briefly.
			Half an hour and several phone calls later, she fortunately managed to organize a replacement vehicle for us.
			So we parked the two vehicles side by side and transferred everything from A to B.
			The lady apologized several more times and also recorded the remaining issues with the first vehicle. </p>
		<p> All in all, the whole operation took about 2 hours.
			Since it was now a humid 28 degrees, we were both ready for a shower.
			On the way to the campsite, we quickly got all the necessary food to make burgers in the evening. </p>
		<p> At the beautiful Big4 Coconut campsite, we met up again with the German couple we had met in Airlie Beach.
			We all decided to have burgers and end the evening with wine and other alcoholic drinks. </p>
    </div>
</div><!--=== End Post ===-->
