---
layout: blog/en/travelblog
title: "18 Days to Go"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong
  - Australia
  - Singapore

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "The Kuranda Scenic Railway train"

overview:
  intro: "Just 18 days until our long-awaited vacation begins."
  image:
    url: /assets/img/blog/2017-asia-oz/small/IMG_3409.JPG
    alt: "Sofa equipped with the first travel items"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-6"> {% include 'blog/snippet/headline.html.twig' %} <p> Just 18 days until our long-awaited vacation begins. </p>
        <p> We've been using our guest room for trip preparation for the past few days.
            We're slowly gathering all our gear and bags to decide what we need, what we should bring, and what we can bring.
            Most importantly, we're trying to figure out what's unnecessary and can stay at home. </p>
        <p> Our plan is to each take a large hiking backpack and a carry-on (either a suitcase or daypack).
            We'll see how that works out. In any case, we'll keep you updated here. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/IMG_3409.JPG" alt="Sofa equipped with the first travel items">
        </div>
    </div>
</div><!--=== End Post ===-->
