---
layout: blog/en/travelblog
title: "24 days"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong
  - Australia
  - Singapore

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "The train of the Kuranda Scenic Railway"

overview:
  intro: "24 days until departure on our long -awaited vacation."
  image:
    url: /assets/img/blog/2017-asia-oz/small/stepmap-karte-world-trip-1703410.jpg
    alt: ""
---

<!--=== Post ===--><div class="row">
    <div class="col-md-8"> {% include 'blog/snippet/headline.html.twig' %} <p> 24 days until departure on our long -awaited vacation. </p>
        <p> This time it goes to Hong Kong, Australia and Singapore and the whole thing for a little more than 5 weeks.
            The most important things for our trip are already prepared.
            This includes the flights, the visas for Australia, the accommodation in Hong Kong and the
            Rental car for our Road Trip Enlang des Great Barrier Reefs.
            What we have not yet booked is an accommodation in Sydney and at the hotel in Singapore we are not yet quite in agreement. </p>
        <p> Here in this blog we will keep you up to date and tell you about our trip. </p>
    </div>
    <div class="col-md-4 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/stepmap-karte-world-trip-1703410.jpg" alt="Our route on a map">
        </div>
    </div>
</div><!--=== End Post ===-->
