---
layout: blog/en/travelblog
title: "Buddha and cattle on Lantau"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
alt: "The train of the Kuranda Scenic Railway"

overview:
  intro: "Today we would like to report on our trip to Lantau."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170430-14.jpg
alt: "A cow in front of the kiosk"
---

<!--=== Post ===--><div class="row  margin-bottom-10">
    <div class="col-md-6"> ___Twig_token_0___ <p> ___Twig_token_1___ </p>
        <p> On Sunday we drove the R1 bus to Lantau, where we looked at a huge Buddha. 
			One should not ask Google Maps for the purpose of the direction. 
			This once sent us around a circle via the public, as we noticed, because we landed 2 stations later exactly where we originally came from.
			Public transport is so cheap here, so it is really fun.
			The 1.5 hour drive with the Express bus only cost a mere $ 43HK (approx. 5 &euro;).
			A little expensive for Hong Kong.
			A ferry trip, on the other hand, only costs $ 4.3hk for the upscale class. So only 10%. </p>
	</div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
	      <p> Lantau is an island in front of Hong Kong where the new airport was also built.
			There is a huge Buddha stature on the top of the mountain.
			Depending on the start/landing direction, Buddha can even be seen very well from the plane.
			When we arrived up there by bus, there was relatively little going on on the mountain.
			So we were able to look around in peace.
			There is not only Buddha itself and various shops up there, but even a Buddhist monastery.
			If you want, you can (of course for a fee) pray with the monks or eat with them.
			We were a little bit of a vocals and since we don't like smacking and sipping, we simply shared a portion of pasta with vegetables on the snack bar.
			Animals are also available here, cattle to say exactly, as well as free -living. 
			These run freely all over the island and are eagerly waiting for their soft drink (see picture).
			Incidentally, these are also trusting and "like" are available for pictures and pats. </p>
        <p> Back to Hong Kong we took a boat in the evening.
			Unfortunately without a view, since the windows were crusted by the salt water. </p>  
	</div>
</div><!--=== End Post ===-->
