---
layout: blog/en/travelblog
title: "The endless highway"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Mackay
  - Cape Hillsborough
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170509-banner.jpg
    alt: "Brushing teeth in the parking lot directly on the highway"

overview:
  intro: "There isn't much to report about this day, as it was pretty much just a driving day"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170510-10.jpg
    alt: "The first wallaby at the Cape"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}, which should bring us to the wallabies and kangaroos at Cape Hillsborough.
			The path led along the endless Bruce Highway.
			Noticed by various signs pointing to koalas and kangaroos, we naturally kept our eyes open.
			I actually spotted at least 3 kangaroos under a tree while driving past, but unfortunately that was all we saw. </p>
		<p> In Mackay we made a stop at the shopping center to top up my mobile card a bit for emergencies.
			After that was done, we refilled our water supplies and continued towards the Cape.
			Shortly before the site, Basti spotted the first wallaby on a green area and of course we didn't miss the opportunity to stop and get out the camera.
			A kookaburra also joined us and Basti turned his attention to it.
			When we checked in, we were told that we should go to the beach at 6 o'clock if we wanted to see the animals there.
			After we had chosen a parking spot, we grabbed our barbecue food and spread out in the open camp kitchen.
			Unfortunately it started raining pretty soon, but that didn't worry us at first.
			The food was ready and clearly way too much.
			We would be able to eat from that tomorrow. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Meanwhile, it was pouring down extremely, real torrents formed on the site and lightning also passed by.
			After it just wouldn't get better, we quickly packed everything up and hurried to the camper.
			As usual, of course, everything was over shortly after.
			We went to shower, watched another movie and we were off to bed, after all, we needed to get up early. </p>
    </div>
</div><!--=== End Post ===-->
