---
layout: blog/en/travelblog
title: "Moist dreams"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - South Mission Beach
  - Cairns

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170518-banner.jpg
    alt: "The Skyline of the mountains behind Cairns"

overview:
  intro: "This morning at shortly before 5 a.m."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170518-10.jpg
    alt: "Welcome chocolate in the form of a koalas"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			 I was still in bed within the motorhome.
			 All windows were closed and yet it rained in my face. 
			 Sch ...!
			 Well, another towel was looking for, stuffed into the dripping gap, turned over and driven further.
			 1.5 hours later the night was finally over. </p>
		<p> Since a total of 3 towels were now completely softened, we decided to put on an early start and drive to Cairns.
			First it shouldn't rain and the second is the hippie camper branch in Cairns, in which we are supposed to give the motorhome back in 8 days. </p>
		<p> On the way there we created a list of all defects that we noticed at this motorhome.
			From wipers who are already so hard that you can use them as a saw, right down to the nasty smell of cat pipi who regularly blows through the car here and felt worse today. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Around noon we arrived at Hippie Camper and were allowed to wait until an apprentice took care of our. 
			After we had explained the situation with two sentences and showed him the list of defects, he promptly got support from the manager.
			We only briefly showed this from the inside of the wet vehicle.
			Since the car is now really pathetic to Katzenpipi Stank, the lady also lasted it briefly in the car.
			Half a hour and a few phone calls later, luckily she had organized a replacement car for us.
			So we put the two vehicles side by side and cleared from A to B.
			The lady apologized a few more times and also recorded the remaining shortcomings of the first vehicle. </p>
		<p> All in all, the whole campaign lasted about 2 hours.
			Since it was now sultry 28 degrees warm, we were both ripe for the shower.
			On the way to the campsite, we quickly got all the necessary food to be able to make burgers in the evening. </p>
		<p> On the beautiful Big4 Coconut campsite we met again for the German couple, which we had met in Airlie Beach.
			We simply all decided to eat burgers and end the evening with wine and other alcoholic drinks. </p>
    </div>
</div><!--=== End Post ===-->
