---
layout: blog/en/travelblog
title: "Poker in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Sydney

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170526-banner.jpg
    alt: "Sydney's skyline seen from the plane"

overview:
  intro: "Today was the day."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170526-11.jpg
    alt: "Steffi diligently washing the car"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} The day when a large part of our trip came to an end. Before returning the car, we drove into town one last time to visit Rusty's Market and take a stroll. </p>
		<p> After returning the car and checking in at the airport, we found that we were once again way too early, with over 3 hours until boarding. We passed the time in the security area by browsing through various shops. </p>
		<p> When we finally took off, the weather gods were kind to us once more. They held back the clouds until we had taken some photos of the Great Barrier Reef. However, the clouds quickly cleared to reveal Australia below. With every kilometer we got closer to Sydney, my mood darkened. I should have been happy, as I was finally back in my favorite big city after 4 years. Unfortunately, that wasn't the case. There was so much nature and landscape beneath us that I would love to explore. Sadly, I realized that I would probably never have enough time here and would likely never see these places up close. This made me quite sad. In Sydney, we flew over the city, so we managed to get at least two good pictures of the bridge and opera house. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Here in Sydney, we're staying in an apartment hotel. It's superbly equipped (even has a washing machine and dryer) and thanks to the Metrobus, you can quickly get into the city. Today we took a taxi to my former office. There I met my former boss and some former colleagues, and we played a few rounds of poker while philosophizing about old and new times over some drinks. </p>
		<p> Tomorrow we'll head to Coogee Beach for a walk. </p>
    </div>
</div><!--=== End Post ===-->
