---
layout: blog/en/travelblog
title: "No Dolphins in Tin Can"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Rainbow Beach
  - Tin Can Bay
  - Hervey Bay
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170506-banner.jpg
    alt: "Sunset over Hervey Bay"

overview:
  intro: "After a calm and relaxing night and a cozy morning, we made our way to Hervey Bay today."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170506-15.jpg
    alt: "A hawk while sailing"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} </p>
        <p> On the way there, we made a small detour to Tin Can Bay. 
			We had read online that you could see dolphins from the shore there.
			We were probably too late again, as there wasn't a dolphin in sight when we arrived.
			The recommendation online was to be there at 8 a.m. Well, we had just turned over in bed again.
			But not only were the dolphins missing, but in many places, so was the water.
			It was low tide.
			Looking more closely at the ground, we found hundreds of small crabs called "Soldier Crabs" searching the sand for food.
			What a lot of animals, and none larger than 4cm. </p>
		<p> After watching the spectacle for a while, we made our way back to Hervey Bay. 
			There we first drove to a beautiful beach where several hawks (Brahminy Kites) were gliding in the wind.
			While walking there, we noticed for the first time that the Great Barrier Reef couldn't be far, as coral skeletons were scattered along the beach.
			In the last puddles of the low tide, we even found hermit crabs dragging their up to 10cm long snail shells through the water. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> After that, we went for a little walk in the botanical garden before heading to the next beach at sunset.
			There we even saw white cockatoos and colorful lorikeets.
			After sunset at 5:30 p.m., we wanted to go to the next shopping center to buy drinks.
			Unfortunately, we had to discover that the clocks tick a little differently here.
			On Saturdays, everything is already closed at 5:30 p.m. All other days only at 9:30 p.m.
			So we quickly got two bottles of water from a small supermarket at the other end of town and found a free place to sleep behind a 24-hour McDonald's, ending the evening there with a hot chocolate. </p>
    </div>
</div><!--=== End Post ===-->
