---
layout: blog/en/travelblog
title: "Damn Air Humidity"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Singapore
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170602-banner.jpg
    alt: "The view from and over the Marina Bay Sands"

overview:
  intro: "Hardly out of the hotel, someone already hit us with a club"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170602-14.jpg
    alt: "The expensive drinks of the first round. Over 20 euros for a beer and a juice"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}... Damn it's hot and then this humidity. This should be fun! </p>
		<p> We didn't really have a plan for Singapore, so we walked towards Marina Bay Sands (MBS), the tourist magnet.
            It's a hotel complex consisting of three 200m high skyscrapers connected at the top by a viewing platform several hundred meters long.
            This has the shape of a ship and is equipped with restaurants, bars, and an infinity pool over 100m long. See above! </p>
        <p> Since we don't have breakfast at the hotel, we looked for local food on our way.
            Unfortunately, it's apparently not like in Hong Kong with the delicious buns.
            Here they start right away with pasta, rice, and such, so we bought packaged "raisin buns" at a kiosk and continued.
            At some point, we decided to leave the main street and ended up in a park that, according to the app, should end somewhere in our direction.
            After a while, we discovered various party tents and wondered what we would experience this time.
            Shortly after, we suddenly found ourselves on a racetrack... wait, what... Hold on... We're walking on the Formula 1 racetrack, and unfortunately, they're not setting up but taking down.
            Missed it!!! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Then we ended up at the pit boxes and passed the finish line.
            Of course, not without taking the obligatory photo!
            The track was still full of rubber pieces from the tires... the cleaning crew is still missing!
            After what felt like another eternity in the heat, we arrived at the Marina Sands Shopping Center.
            God, the air conditioning was a blessing, we're not going outside here. </p>
        <p> The center extends over many floors including a food court on the ground floor.
            We headed there first and treated ourselves to freshly squeezed juice.
            While cooling down, the time told us it was suddenly lunchtime, so we looked for something to eat there.
            Basti opted for Dim Sum (Chinese-style dumplings) with various fillings, while I ordered rice noodles with vegetables and chicken.
            At least I hope it was that, because the accompanying "soup" smelled absolutely terrible... like a dog!
            Yes, prejudice and all that... but it's really true.
            There's no other way to describe this disgusting smell, and it wasn't just my nose saying that, but Basti's too.
            The bowl was quickly moved to the other side of the table, and then we carefully started on the main course.
            It was okay, but I got full so quickly that half remained on the plate.
            I guess the mental images were too strong and just spoiled my appetite.
            Well, at least I got really good practice using chopsticks. </p>
        <p> We wandered around the center and a casino for a while until we arrived at the Skypark of the MBS.
            However, they wanted $23 per person, so we decided to go to the Skybar instead.
            Here you also pay $20 per person to go up, but this amount is converted into drinks or anything else.
            Once at the top, there was a great view of the pool and over the city's skyline.
            Unfortunately, the pool was unreachable for us since it's reserved exclusively for hotel guests, and we're simply too stingy to pay over 400 euros per night.
            In the other direction, there was a great view over the Gardens by the Bay and what felt like 1000 container ships in the harbor.
            We settled comfortably on the sofa under an umbrella and fan, ordered our first drinks, and paid extra despite the voucher.
            For a beer and a juice, they charge 31 Singapore dollars (about 20 euros) there.
            But well, the view isn't quite free.
            At least there was tap water and a bowl of chips.
            And there we sat for hours without moving... the sunset came, it got more crowded, and we blocked the sofa.
            The Germans again... </p>
        <p> At some point, we really decided to leave and sat in front of the MBS because the water/laser show was about to start.
            It was quite nicely done, but where were the lasers?
            After the show was over, we walked around the harbor basin, took various pictures of the Marina Bay Sands complex until we looked for a taxi to take us to the hotel.
            The driver... he was quite a character, but above all, he was loooouuud.
            He was so happy about things that it affected his voice. </p>
        <p> Once in the room, it was time to shower and get everything wet.
            It's strange to shower without an extra shower cubicle, curtain, or anything else, but above all annoying.
            Everything is wet afterward, and there's nowhere to put anything down... OK, it'll do for these few days!!! </p>
        <p> It was a damn long day, we didn't actually see or do much, but now it's good night Singapore. </p>
    </div>
</div><!--=== End Post ===-->
