---
layout: blog/en/travelblog
title: "Poker in Sydney"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Sydney

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170526-banner.jpg
alt: "The skyline Sydney\'s seen from the plane"

overview:
  intro: "Today was the day."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170526-11.jpg
alt: "Wash Steffi diligently on the car"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___
			The day on which a large part of our trip ended. Before we gave the car back, we drove to the city one last time to go to Rusty's Market and stroll a little. </p>
		<p> After we returned the car and checked in at the airport, we found that we were again too early and still had over 3 hours until boarding. We wasted the time in the security area with browsing in a wide variety of shops. </p>
		<p> When we finally flew, the weather god loved us again. He held the clouds back until we had taken some photos of the Great Barrier Reef. However, the clouds quickly released the view of Australia. With every km we came closer to Sydney, my mood darkened. Actually, I should have been happy because after 4 years I am finally back in my favorite big city. Unfortunately, that was not the case. There was so much nature and landscape among us that I would love to explore. Unfortunately, I realized that I will probably never be able to spend enough time here and probably never see these places from nearby. This was probably so sad. In Sydney we flew across the city, so that we got at least two good pictures of bridge and opera. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Here in Sydney we have been accommodated in an apartment hotel. Superly equipped (even washing machine and dryer) and thanks to Metrobus you are quickly in the city. Today we still took a taxi to my former office. There I met my former boss and some former colleagues with whom we then played a few rounds and philosophized about old and new times and the whole thing on some drinks. </p>
		<p> Tomorrow we head to the beach in Coogee to go for a walk there. </p>
    </div>
</div><!--=== End Post ===-->
