---
layout: blog/en/travelblog
title: "Cyclone Debbie"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Queensland
  - Great Barrier Reef

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "The Kuranda Scenic Railway train"

overview:
  intro: "Unfortunately, our holiday destination was hit by a cyclone at the end of March."
  image:
    url: /assets/img/blog/2017-asia-oz/small/tropical-cyclone-catarina-1167137.jpg
    alt: "Satellite image of a cyclone from space"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-6"> {% include 'blog/snippet/headline.html.twig' %} <p> {{ page.overview.intro|raw }} </p>
        <p> Cyclone Debbie hit the Queensland coast with winds up to 270 km/h.
            The storm destroyed large areas of land, natural habitats, and significant portions of the Great Barrier Reef.
            Some towns are still flooded.
            However, Debbie did have one positive effect:
            The cyclone reduced the water temperature, which had been dangerously high for the reef. </p>
        <p> We just hope that Debbie won't affect our vacation too much. </p>
        <p>
            <a target="_blank" href="https://goo.gl/GlqBuw">Here</a> is another report about the reef. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
