---
layout: blog/en/travelblog
title: "Burger instead of BBQ"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Bundaberg
  - Rockhampton
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170508-banner.jpg
alt: "Wide fields and wild forests"

overview:
  intro: "In the morning it was still quick in the city center, where the chic post is considered the central point"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170508-12.jpg
alt: "The Post of Bundaberg"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___ to send a few cards to loved ones at home. </p>
		<p> Then it went to the place recommended by Jamie, where otherwise there should be kangaroos and the like.
			However, since it was already too late for this, we walked the area off to the beach, during the meantime discovered various butterflies that looked beautiful, but unfortunately did not do us the favor. </p>
        <p> The beach we landed is called Mon Repos.
			There are turtles ashore from December to April to bury their eggs in the sand.
			Ok, here too we are too late for a whole month. </p>		
        <p> So no photos!
			Unfortunately, the butterflies and the actually beautiful nature remained the only thing that showed us. </p>
        <p> After almost 2 hours back at the camper, we discovered various Loris and other birds in the tree above us, which were then also very cameramous. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> The way to Rockhampton took us further.
			Unfortunately, we missed the tourist info for a short time, but met two older women and dogs in front of the door, who told us, among other things, that until recently the entire street was under water.
			Something was not part of this!
			We actually thought we sleeped on the square behind the tourist information, but since we also wanted to grill and turned the station on site as an out -of -two, and we were looking for various mosquitoes on the detonator.
			After repeated circles in the city center, where nothing really did from flooding, we landed in the steakhouse and really tasted really delicious burgers.
			So no more grilling and therefore visited the next MC stupid, broad and sleeping. </p>
    </div>
</div><!--=== End Post ===-->
