---
layout: blog/en/travelblog
title: "Kuranda but without cable car"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Kuranda
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170519-banner.jpg
alt: "Kuranda Scenic Railway in a curve with a beautiful view"

overview:
  intro: "Today we had to go up early"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-27.jpg
alt: "One of the many colorful birds."
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___, since we had to check in at Cairns at 8 a.m. to go up from Cairns to Kuranda with the Kuranda Scenic Railway, an almost 100 -year -old train.
			Unfortunately the weather was not very promising; There were thick clouds and rain promised.
			It was not rained on the showy path, but there was gray sky and clouds between the mountains.
			At the Barron waterfall, the train took a break of 10 minutes in which you could get out and take pictures. 
			Unfortunately, the waterfall was hard to see because of the clouds, so I decided to see if it was worth getting out while Basti remained sitting.
			Here the blowing proved itself again !!!
			I did it and less than 5 minutes. Later everything was free of clouds and there was still one or two clever pictures! </p>
		<p> When we arrived in Kuranda, we first got a sandwich before we continued to the Koala Gardens.
			Here we bought a double ticket ... for the Koala Gardens and for the Birdworld, which is right next door. </p>
		<p> The Koala Gardens didn't get much, but my "highlight" was the feeding of Wallabies here.
			You could walk directly through the enclosure and feed them.
			But of course that could not be compared to the free -living on Magnetic Island. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> We have already been through and are over to the Birdworld ... we would have known what to expect !!! </p>
		<p> At the entrance we were told that there are 400 species at home and that we should take care of the yellowbrustara's because they currently have chicks.
			Through the lock through and oh weia ... they all fly crisscross without grids and co. !!!
			The ladies who were already inside were already well occupied with beeps and fed them ... "Hmm also wants" ... so reverse gear and asked at the cash register.
			There was actually a feed bag for $ 3 ... I would have left it.
			Hardly again in there, with a bag in your hand, the first beeps flew to us.
			Everything was fine with the smaller ones, but the greater hunting already heals a pagan respect with their beaks.
			The "World" was not big either, but it was definitely worth it. Was something else.
			Stupidly it started to rain in the meantime and so we decided to browse the market stalls in front of the entrance.
			Here there was a shirt for me and coasters from Mango wood for our table at home. </p>
		<p> The rain did not stop, the hunger appeared, so we started looking for something edible.
			We ended up in a restaurant where we wanted to get a little something, got a table with a view and discovered a tree arm iron nest in front of the window.
			Well unfortunately they were not only outside, because in the moment we thought "good that they were outside" until one in the chin and Basti shortly afterwards in the neck.
			We moved to another table, but everything continued to tingle (psyche and such) that we took our things and disappeared again. 
			The bite really hurt !!! </p>
		<p> In the end we ended up in a caf&eacute; with donuts and others unhealthy until the train was to go back at 3:30 p.m.
			The cable car is currently not stupid because it will be serviced until the beginning of June 2017.
			Then the train should follow! Bl&ouml;&ouml;&ouml;&ouml;&ouml;&ouml;&ouml;&ouml;d! </p>
		<p> We were so done that we slept out sections of the route.
			Arrived at the train station again, we already received a message from the other two Germans that we will meet at the lagoon in the 18pm.
			So we still had a good half of the time. 
			Car parked, fixed in the diving shop and we were on time on the lagoon.
			I went to the Italian on the corner ... Eating was ok, but somehow my plate was empty, but I ordered Gnocci Bolognese. 
			The portion was really a laughing number, but what the heck. We strolled along the harbor until our paths finally separated.
			For the other two, you will go home with the plane tomorrow and for us we went back to the campsite for sleeping. </p>
    </div>
</div><!--=== End Post ===-->
