---
layout: blog/en/travelblog
title: "Pick Up the Camper and Go"
author: Steffi
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Brisbane
  - Mooloolaba
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170503-banner.jpg
    alt: "The sin of the day in the form of ice chocolates with cream"

overview:
  intro: "Completely exhausted, we landed on time in Brisbane..."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-15.jpg
    alt: "Sunrise over Australia"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} </p>
        <p> ...only we couldn't get off at first because the gangway had a defect. 
            Unfortunately, the technicians they called didn't have a solution either, so we were ultimately transported down via manual stairs. </p>
        <p> After getting the right SIM cards for our phones at the mobile shop, we continued to the taxi stand and from there paid $35 to the car rental.
            After a brief contract process, we had to wait over an hour to finally get the camper. </p>
        <p> After documenting all the damage... and there was really a lot of damage..., and getting the bed linen delivered, we headed to the nearest Coles to stock up on the bare essentials.
            Of course, we couldn't miss the "famous" chicken schnitzel for $2 from the fresh counter.
            We also bought some fresh pasta salad, which would be particularly memorable, as it turned out later.
            Then we headed to our planned destination for the day - Mooloolaba! After arriving at the campsite and taking a quick look at the beach, I, Steffi, was transported to dreamland for the next 2 hours. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Meanwhile, Basti sat in front of the camper, enjoying the sun and writing the blog.
            After waking me up, we made the bed together and decided to divide the work. 
            I started emptying the backpacks and distributing things in the camper while he prepared the schnitzel at the campsite's grill (he can't do much wrong there, you just have to warm it up).
            When he opened the refrigerator to get out the schnitzel and pasta salad, a really strong garlic smell came out... oops!
            The pasta salad had quite a kick to it. </p>
        <p> After dinner, we went for a walk along the promenade. 
            Unfortunately, we walked right past a café that had wonderful things like "ice chocolate" or "ice cookie cream with white chocolate" on offer.
            Not cheap, but after a brief deliberation... mine!!! It wasn't the best ever, but at least I beat Basti at Connect Four while drinking it.
            Back at the campsite, we quickly took a shower before our eyes closed at 10 PM. </p>
    </div>
</div><!--=== End Post ===-->
