---
layout: blog/en/travelblog
title: "Other worlds"
active_nav: travel-blog
author: "Steffi &amp; Sebastian"
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Moore Reef
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170521-banner.jpg
    alt: "Fischies on the pontoon"

overview:
  intro: "Today we write both together. Steffi starts:"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170521-12.jpg
    alt: "A clownfish family on Moore Reef"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p>
			<strong><em> {{ page.overview.intro|raw }} </em></strong>	
		</p>
		<p> At 8 hours we arrived at the terminal to check in time at Sunlovers and get rid of the coal for this trip out on the Great Barrier Reef.
			When asked, the gentleman also told us that it will be a quiet tour because not even 90 people were involved. </p>
		<p> At 8.45 hours it should go to the boards, that is, "travacalm", a little more time in the local shop and then it went to the boat, which offers space for at least 300 people (creepy the performance). </p>
		<p> Basti had remembered that you felt better on the upper deck, so we looked for a corner there. 
			The short tour through the boat showed "Jap, 3/4 Asians, plus Indians and we". 
			They were all diligently eating tea and chips etc. ... and at the time ... before a wave trip !!!
			Basti immediately registered for diving when entering the boat and came back quite pissed off.
			He was told that there will probably only be 1 dive. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> The journey started on time, nasty waves followed pretty quickly and to distract, there was the snorkeling instruction in extra funny. When this was over, you could already see the first green faces and then it started! We quickly grabbed our headphones, turned Laaaaut up and stared at the sea, so as not to get anything from the others. The waves were extremely angry, but these travacalm are pretty good. I didn't notice anything, only Basti felt a little like in the roller coaster. But he was fine anyway! </p>
		<p> With a stopover on Fitzroy Island, we went to the second stage towards Ponton in the "Moore Reef". The waves felt worse, but when we reached the goal, everything was fine. The pontoon turned out to be very stable in the waves "Jippie" and then everything went very quickly. Basti had to dive immediately and I got to snorkel. Everyone else was still sitting around and trying to calm their stomach. I decided to try it out without a wetsuit or jellyfish and went towards the entry. The lifeguard sabs me an ear "Yeah you are the first, enjoy it" etc. and I clarified the water temperature quote "26 degrees and just the first contact is freeeeesh". Hm ok ... step down, the first leg in the water and fu ... it was fresh. But he was right ... You got used to it immediately. However, I did not have much time to think about it, because unfortunately nobody told me that when you are the first to have the fish with a pagan fun. The silver-yellow fishis are immediately towards me and checked whether there is anything to get. Quite a big crush. </p>
		<p> Packed the feet and let it slide into the water ... Ui Friiiisch and Vieeeeel Fisch. I wasn't even completely under water, because different types of fish sled over, in many different colors below and next to me. The waves were quite annoying, but through the snorkeling vest, it went quite well. So at least I didn't have to concentrate on the top, etc., but was able to enjoy the colorful underwater world. And ... I found Nemo, together with siblings !!! Almost 1 hour later, I urgently needed something to drink and moved towards Ponton. There I met Basti again, who was pretty happy. In addition, a 2nd dive was now in prospect. (a little bit of stinking sometimes helps) </p>
		<p> I briefly told him about my experiences, and that I had found Nemo and he decided to spend his break with me in the water. So back in and Nemo's at home again in the really large snorkeling area searched and found! </p>
		<p>
			<strong><em> From here I continue to write. </em></strong>
		</p>
		<p> After Steffi showed me a navestry and the clownfish family, I went to my second dive. This time it should be a cool drift dive. The plan was, my guide and I are stopped with the boat a little away from the pontoon and the current brings us back. Somehow, unfortunately, only nobody expected a counter -current. So we had to swim against the current for 18 minutes, which almost consumed 3/4 of my air stock. Since there was less current on the surface, we decided to snorkel out of the current and to lift the remaining air for the more beautiful part. After another 5 minutes we had found the right flow direction and dived again. Since I only had very little air, I decided to stay at just 2m to consume less. With only 19 bar remaining pressure (approx. 3 to 5 minutes diving time) we arrived again on the pontoon. Was a really exhausting dive, but it was still good. </p>
		<p> A short time later we all went back to the board of the ship and drove back to Cairn. Thanks to Travacalms, we also had no seasickness problems thanks to Travacalm. </p>
		<p> In the evening we went for a little walk in Cairns. Since we didn't get to eat on the excursion, we decided to eat Japanese (no sushi) today. Was Mega delicious and enough to make lunch again tomorrow. On the way back to the car we suddenly heard Irish folk music. We still went after this and ended for a last drink in a sweet little Irish pub. After that it definitely went back to the campsite and to bed. </p>
    </div>
</div><!--=== End Post ===-->
