---
layout: blog/en/travelblog
title: "We\'re back there"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Singapore
  - England
  - Germany
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170605-banner.jpg
    alt: "The display in the front seat with the map is displayed on the Plauen"

overview:
  intro: "When we woke up this morning, we found that we were still on the plane to London."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170605-10.jpg
    alt: "The North Sea islands that look almost like that of the Great Barrier Reef"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
            On the display in the front seat we showed ourselves where exactly we were currently.
            Steffi typed me at some point and showed me that we were directly over Plauen. Local time 4:45.
            Somewhere down there I have family that is now in the deepest dreams and has no idea that we are just so close and yet so far.
            When I fly by I sent my Omi an air kiss and then we were already in London.
            The flight was really bad, as far as the unfriendly staff and organization were concerned.
            They went out of food, both at dinner and breakfast. </p>
		<p> We had time to browse around at London Airport and have a little bit of breakfast before we made ourselves comfortable in Hamburg in a rather empty plane.
            It was so much space that each of us had their own row for themselves.
            I missed half of the flight and Steffi took photos of the islands that line up like a pearl line in front of the North Sea coast.
            From up here they look almost the same as the coral islands of the Great Barrier Reefs.
            I had the hope that I had slept longer and we had flown back to Australia.
            But when the typical German field economy and the many towns were seen, it became clear to me that we are almost at home again. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Arrived in Hamburg, Steffi&rsquo;s Mama grabbed us thankfully and brought us home with the heavy backpacks.
            After a short afternoon sleep for Steffi, we went to the city and finally treated ourselves to pizza rolls and schnitzel. </p>
        <p> All in all, we had a wonderful 5.5 weeks of vacation. There were 7 flights, 3 countries, approx. 3000km with the motorhome, over 250km on foot, 8 dives, 5 day tours on the reef, 2 train journeys, 3700 photos and almost 8 hours of video material.
            We were even able to make a Hacken list on the &ldquo;seen in the wild&rdquo; with 2 other animal species.
            Rockwallabies on Magentic Island and the Cassowaries at the South Mission Beach.
            We only had to lift ourselves to the next visit to Australia.
            There were no major injuries than a slight sunburn.
            Nobody was sick in between. Even the weather almost always played along.
            It was just a good time.
            I hope that until the next visit to Australia will not pass for 4 years. </p>
        <p>
            <strong> Please please. </strong>
        </p>
    </div>
</div><!--=== End Post ===-->
