---
layout: blog/en/travelblog
title: "24 Days to Go"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong
  - Australia
  - Singapore

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "The Kuranda Scenic Railway train"

overview:
  intro: "Just 24 days until our long-awaited vacation begins."
  image:
    url: /assets/img/blog/2017-asia-oz/small/stepmap-karte-world-trip-1703410.jpg
    alt: "Our travel route on a map"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-8"> {% include 'blog/snippet/headline.html.twig' %} <p> Just 24 days until our long-awaited vacation begins. </p>
        <p> This time we're heading to Hong Kong, Australia, and Singapore for a little over 5 weeks.
            We've already prepared the most important things for our trip.
            This includes our flights, visas for Australia, accommodation in Hong Kong, and the
            rental car for our road trip along the Great Barrier Reef.
            What we haven't booked yet is accommodation in Sydney, and we're still not quite decided on the hotel in Singapore. </p>
        <p> Here in this blog, we'll keep you updated and share our travel experiences with you. </p>
    </div>
    <div class="col-md-4 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/stepmap-karte-world-trip-1703410.jpg" alt="Our travel route on a map">
        </div>
    </div>
</div><!--=== End Post ===-->
