---
layout: blog/en/travelblog
title: "On to Brisbane"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong
  - Australia
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170502-banner.jpg
    alt: "The roller coaster on the 9th floor of a shopping center"

overview:
  intro: "On our last day in Hong Kong, we packed everything together for the flight to Australia in the morning."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-11.jpg
    alt: "The Wilkunstschild der Jugendherberge Hong Kong"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} </p>
		<p> We decided that breakfast in the youth hostel can be dropped again today and buying the delicious rolls with sugar crust at a small stand.
			Everyone armed with two rolls, we made our way between the rows of houses via the local markets in search of cell phone accessories for a good price. </p>
		<p> When we put on a little refreshment break at MC DOOF, we were fun to calculate how much percent of the people around us stare at the cell phone.
			We came to over 87% of all guests in the restaurant. In the metro, the percentage is much higher. </p>
		<p> Since it was pretty hot, we decided to go to the next shopping center to look around a little.
			We found that on the top floor there is not only a slot machine world for children, but also a roller coaster and an ice rink was installed. </p>
		<p> In the afternoon we went to the airport.
			We had a little worries that my hand luggage could be a few kg too heavy, since Qantante only allowed 7kg per person.
			Luckily, the Lord at the switch was only interested in our abandoned luggage.
			On the plane, we had a double place for ourselves again.
			Next to us there was even a whole 4 series free.
			I took the chance and spread there.
			Unfortunately I couldn't really sleep.
			But more about that later. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
