---
layout: blog/en/travelblog
title: "Wax figures"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Darling Harbour
  - Ultimo
  - Circular Quay
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170529-banner.jpg
    alt: "Curious but true. This is the exterior facade of a high-rise building and thus the tallest vertical garden in the world."

overview:
  intro: "Today we had a lot on our agenda again."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170529-11.jpg
    alt: "Steffi saves E.T."
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} First, we met with Fairina Cheng, a jewelry designer, for a hot chocolate. She is the designer of the bracelet that Steffi received as a Christmas gift a few years ago. Unfortunately, Steffi got caught on a door handle at the beginning of the year, breaking the bracelet. About 1.5 months before our vacation, we had already sent the bracelet to Sydney by mail, and Fairina even repaired it free of charge for Steffi. As a thank you, we at least treated her to a drink. </p>
		<p> After that, Steffi and I went our separate ways for a few hours. Steffi browsed around Darling Harbour for a while and spent a lot of time at the SeaLife aquarium. Meanwhile, I met with Elmar, my former boss, for lunch to catch up on the latest news. </p>
		<p> After lunch, I first went to Wild Life with Steffi to look at animals, and then to Madame Tussauds. She even saved E.T. and then let John McClane save her. </p>
		<p> In the evening, we boarded the ship for our booked dinner cruise. Of course, there were far too many people on board again. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> There were no tables on the lower deck, only chairs and the buffet. On the upper deck, there were still a few tables at knee height. We promptly reserved one, and Steffi joined the long line for the buffet. The cruise lasted 2 hours and offered a nice view of Sydney's skyline and the colorfully lit buildings. The €60 for both of us, including food and one drink each, was definitely worth the tour. Afterward, we took the ferry directly to Circular Quay to visit Canon again and have a few more pictures printed for home. We spent the rest of the evening wandering around the Vivid Festival and enjoying our time. </p>
    </div>
</div><!--=== End Post ===-->
