---
layout: blog/en/travelblog
title: "Tips Tips Tips"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Bundaberg

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170507-banner.jpg
    alt: "The market in Bundaberg on school grounds"

overview:
  intro: "This time the highway took us to Bundaberg."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170507-11.jpg
    alt: "A rather dirty kitchen"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} </p>
        <p> At the local tourist information we met Jamie, who was super friendly and shared countless tips for our onward journey.
			He even drew these on a map for us.
			Unfortunately, he also had no good news about the weather and especially the wind. 
			The wind will remain too strong for several more days to go diving or snorkeling. </p>
		<p> Nevertheless, we set off with hope of seeing at least some kangaroos on our way to the campsite for the night. </p>
		<p> Unfortunately, the campsite wasn't very inviting, but it would have to do for one night.
			The place was full of workers, hippies and other characters who were so spaced out they couldn't even turn off the stove and oven. 
			Additionally, the camping kitchen was quite filthy and the whole place needed renovation.
			So much for the slogan "... Stay with Friends" </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
