---
layout: blog/en/travelblog
title: "Haaaaaaai !!!! Well finally!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Coogee
  - Darling Harbor
  - Circular Quay

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170528-banner.jpg
alt: "The Sydney Opera with the animation of the 2017 Vivid Festival"

overview:
  intro: "A taxi was waiting for me at 7:15 a.m. this morning."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170528-14.jpg
alt: "Port Jackson Hai"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___
			This brought me to the Pro Dive diving base after Coogee. The journey only lasted 5 minutes and cost an impressive $ 37. </p>
		<p> After checking in, we started to Gordons Bay, my absolute favorite diving area. It is a small bay north of Coogee Beach, with an underwater path that can be followed as a diver. There I learned diving in 2013 and I am very happy that I was allowed to dive there today. </p>
		<p> The first dive was already awesome. We went in for six plus guides and slid along the path. After we came to a small steep wall, we turned right and swam away from the path. At the beginning I was at the end of the group and a little disappointed because I couldn't see as much fish as I remembered. After the fins of other divers also plagued me twice, I decided to swim forward and give my luck with nature a chance next to the guide. After a few minutes, my eyes adjusted to the fish here. There was a lot to see. You just have to look. I saw a lot of different ways. From spherical fishing to Tiegernroche and stone fishing to entire swarms of silver -yellow butterfish. Even a turtle was seen for a short time. Unfortunately, the dive was over after 50 minutes. I still had almost half a bottle of air left. :( </p>
		<p>

		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> The second dive was even more impressive. Now that my eyes were already set to the fish world here, I got a lot to see from the start. Unfortunately, the water was quite cool for my hot water suit at about 13m depth with only 19 degrees. But we even got to see an approx. 1.20m long shark. On the way back I would have loved to stay in the water for 2 - 5 more hours, because when I got out there was so much fish that I didn't even know where to look first. </p>
		<p> I also treated myself to a taxi for the way back to the hotel. This time the trip lasted about 25 minutes and only cost $ 28 for it. I fear that the driver this morning ripped me off completely. </p>
		<p> We spent the evening again at the Vivid Festival in downtown Sydney. Today we finally wanted to see the opera. On the way through the gorges of the high -rise buildings. When we passed the Skytower, we decided to go up spontaneously and to look at Sydney from above after sunset. The view was like 4 years ago, the hammer. I can do what I want, but I think this city is great. I didn't like the thought at all, not to know if or when I would come back here. </p>
		<p> After 2 quick rounds over the viewing platform we drove down again, because we also wanted to see the many colorful lights up close. First we came to Martin Place. There was really a lot of light and art built there. We liked a video projection best that was adapted directly to the shape of a building. To see there was a multi -minute animation about a frog and where it came over anywhere. </p>
		<p> Then we went towards the botanical garden. Unfortunately, it was only so full that we decided to run directly to the harbor basin and visit the garden on another day. Once at the harbor, there were also a lot of visitors there. However, since the organizers had built up fences again and steered the river of the visitors with a lot of staff, the whole thing was quite pleasant and cozy. Shortly before the opera it got too crowded and we turned and went to the other side of the harbor basin. In the art museum there, we finally faith. Canon had set up an armada of printers there and everyone who wanted could have pictures printed up to size A2 ... free of charge !!! In addition, Canon also offered workshops on various topics several times in the evening. And if you don't have a decent equipment, you could even borrow this free of charge for the workshops. We took the chance and had a picture printed in A3. </p>
		<p> When the printer was finished, we always went along the harbor basin in search of the best position to take photos of the animated opera. In the end there were definitely over 300 photos. In addition, we will have passed swings, which performed a show independently every 20 minutes and served perfectly as a photo motif. We will also pick up a pressure from Canon tomorrow. </p>
		<p> Then it went back towards the accommodation. After midnight we finally fully exhausted to bed. </p>
    </div>
</div><!--=== End Post ===-->
