---
layout: blog/en/travelblog
title: "Manly Beach"
active_nav: travel-blog
author: "Steffi"
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Manly
  - Circular Quay
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170530-banner.jpg
alt: "Manly Beach"

overview:
  intro: "Today the ferry brought us out to Manly."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170530-11.jpg
alt: "The swings in front of the opera"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___ </p>
		<p> The journey went calmly and so we first headed for the Sealife Sanctuary Center. We were told at the entrance that the seahorse feeding would take place shortly. So we took a lot of time with the first aquariums to experience feeding. Bert, the Sealife employee, came and started, including various explanations and questions to the audience, with feeding. When this was over, he looked briefly into the small round of us 4 adult plus baby and asked us to come along. He actually led us behind the scenes and showed us the breeding aquarium, in which many ultra -small seahorses were pushing themselves. </p>
		<p> Then we pulled from the pool until we ended up at the end. The Sealife is not big, but our Merlin card is free for us and so you can take it with you. At least it is not as full here as many others. </p>
        <p> When strolling through the shopping street there was another shirt for me and since it was far beyond lunchtime, we decided to go to a restaurant right away before it says "Break - Essen again from 5/18 p.m." </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> Arrived on the long sandy beach, we were no longer motivated to move and so we quickly looked for a bank in the sun and just enjoyed. Unfortunately, it quickly became fresh through the wind and the disappeared sun, so that we decided to start the way back. Before that, however, there was a hot chocolate in a large coffee chain. Back in the city, the path led us to a gallery of a Munich artist, praising with Waaaahnsinn, until we landed again at the "bikes" vivid. Shadow pictures should arise here today - however, the idea is not of us. When we were printing at Canon, pictures of other visitors ran across the screen and there we discovered a picture, which we absolutely wanted. </p>
		<p> Unfortunately, all of this turned out to be not easy (standing still, size, etc.), so that we need quite a long time for it to do something suitable. Especially since the show only takes place every 15 minutes for 3 minutes each. After that, we did ourselves to rock ourselves. Fortunately, this went very quickly, but unfortunately we had to share the 5 minutes on the swing with 2 others. </p>
		<p> After this was also done, I was so cold and hungry I also had to go into "Pancakes on the Rocks". There was a table immediately, far too much and above all unhealthy to eat (the name is after all), but I didn't get warm anyway. The air conditioning was stupidly behind us !!! </p>
		<p> Then we landed again at Canon to print the next pictures (you have to use the ingenious service). Before we went to the bus, we tried our luck with the Brazilian. Fortunately, the doors were still up and so we were able to reserve a table for the next day 6 p.m. </p>
    </div>
</div><!--=== End Post ===-->
