---
layout: blog/en/travelblog
title: "18 days"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong
  - Australia
  - Singapore

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "The train of the Kuranda Scenic Railway"

overview:
  intro: "Another 18 days until departure on our long -awaited vacation."
  image:
    url: /assets/img/blog/2017-asia-oz/small/IMG_3409.JPG
    alt: ""
---

<!--=== Post ===--><div class="row">
    <div class="col-md-6"> {% include 'blog/snippet/headline.html.twig' %} <p> Another 18 days until departure on our long -awaited vacation. </p>
        <p> Our guest room has been used for preparation for a few days.
            We are slowly looking for all parts and bags to decide what should, should and may.
            Above all, we try to find out what is unnecessary and therefore can stay at home. </p>
        <p> Our plan is to take a big hiking backpack and a hand luggage (suitcase or daily backpack) for each of us.
            Well we will see how it works. In any case, we will report here. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2017-asia-oz/small/IMG_3409.JPG" alt="Sofa equipped with the first travel utensils">
        </div>
    </div>
</div><!--=== End Post ===-->
