---
layout: blog/en/travelblog
title: "No dolphins in Tin Can"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Rainbow Beach
  - Tin Can Bay
  - Hervey bay
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170506-banner.jpg
alt: "The sunset via Hervey Bay"

overview:
  intro: "After a calm and relaxing night and a cozy morning, we made our way to Hervey Bay today."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170506-15.jpg
alt: "A hawk while sailing"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___ </p>
        <p> On the way there, we made a small detour to Tin Can Bay. 
			We had read on the Internet that you could see dolphins from land there.
			We were probably too late again, because when we arrived there was no dolphin far and wide.
			The recommendation on the Internet was there at 8 a.m. Well, since we just turned around in bed again.
			But not only the dolphins were missing, but also in many places the water.
			It was low tide.
			When looking at the floor more closely, we find that hundreds of small crabs "Soldier Crabs" look for the sand for eating.
			What a lot of animals and all not larger than 4cm. </p>
		<p> After looking at the spectacle for a while, we made our way back to Hervey Bay. 
			There we drove first to a beautiful beach, where several hawks "Brahminenweih" glide in the wind.
			When we walk there a lot for the first time that the Great Barrier Reef can no longer be far, as coral frames lay around on the beach.
			In the last puddles of the ebb, we even found hermit crabs that drag their up to 10cm long snail shells through the water. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> After that we went for a little walk in the botanical garden before we went to the next beach at sunset.
			There we even got white cockatus and colorful Loris.
			After sunset at 5:30 p.m. we wanted to go to the next shopping center, drink drinks.
			Unfortunately we had to find out that the watches tick a little differently.
			On Saturdays everything is already closed at 5:30 p.m. All other days only at 9:30 p.m.
			So we quickly got two bottles of water in a small supermarket at the other end of the city and looked for a free place to sleep behind a 24 -hour Mc Donalds and ended the evening there with a hot chocolate. </p>
    </div>
</div><!--=== End Post ===-->
