---
layout: blog/en/travelblog
title: "Farewell Australia"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Singapore
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170601-banner.jpg
    alt: "Sunset in all colors of the rainbow"

overview:
  intro: "Unfortunately, today was the day again."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170601-10.jpg
    alt: "The salt lakes on the way across the Australian continent"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			 I have to leave this country again without knowing if and when I'll return. That really dampened our mood on the way to the plane. When choosing our seats, we got lucky again and got a two-seater at the very back of the plane. </p>
		<p> After about 2.5 hours of flight time, the plane made an imperceptible turn to the left, went a bit lower and slowed down slightly. 
			The reason for this was Uluru, also known as Ayers Rock.
			We flew past at the perfect distance to take photos of the 863-meter-high rock. A flight attendant apparently took photos with their phones for all their colleagues. </p>
		<p> That was one last impressive highlight at the end of our time here in Australia. After a total of almost 6 hours of flight time, the northwestern coast of Australia (near Broome) came into view at sunset. That was the final goodbye. Bummer. There were still 6 more hours to go. There was really a lot to see from up there. Above all, the many different formations of hills and mountains are absolutely incredible, as are the huge salt lakes we flew over. Well, goodbye Australia. Hopefully!!!! </p>
		<p> Another 2 hours later we landed in Singapore. We treated ourselves to a taxi to the hotel, and the taxi driver explained how some things are organized here in Singapore and what we should see. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Since we were exhausted from the flight, we decided not to go out but rather go to sleep early. See you in the morning. </p>
    </div>
</div><!--=== End Post ===-->
