---
layout: blog/en/travelblog
title: "Arrival in Hong Kong"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong
  - London
  - Hamburg

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "The train of the Kuranda Scenic Railway"

overview:
  intro: "As you know, our first travel destination is Hong Kong."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170429-03.jpg
    alt: "A fairly dirty A380 from British Airways"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">

        <p> {{ page.overview.intro|raw }}
			The way there led over London.
			There we climbed into a fairly dirty and cramped A380 of the Bristish Airways.
			Almost 20 hours after our departure in Hamburg we finally reached the youth hostel in Hong Kong. </p>
        <p> Completely in the bucket, we still made our way towards Hard Rock Cafe.
			On the way there, we crossed a night market and took the chance to stroll.
			Shortly afterwards we landed in a market hall where Seafood was sold. 
			So everything that lives on or in the water is available there.
			Lives, is the keyword. 
			Because pretty much everything we saw there was still alive or at least halfway. 
			In addition to fish, crabs and shrimps, there was also water beating, turtles and frogs to buy.
			Despite that everything looked extremely climbing and there were fish remains on the floor everywhere, it didn't even smell of fish.
            After the culture shock and past hunger, we went to Hard Rock Cafe.
			There was even Steffi's favorite dish, the Haystack Salad.
			Then we went to bed. Finally sleep! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
