---
layout: blog/en/travelblog
title: "Get Stuck Spontaneously"
author: Steffi
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Mooloolaba
  - Rainbow Beach
  - Inskip Point

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170504-banner.jpg
    alt: "The beautiful beach of Mooloolaba"

overview:
  intro: "The damned alarm went off at 9am"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-17.jpg
    alt: "The campsite in Mooloolaba"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}, but from 6:30am the birds and gardeners had already woken us up for the first time.
			Since we had to be off the site by 10am, we quickly freshened up, packed up, and checked out.
			We didn't go far, just across the street to the parking lot.
			There we had breakfast and then went into the Sealife Center.
			There I received my early birthday present from Basti in the form of a Merlin card.
			This gave us free admission there and we can still visit various other facilities for free that we'll come across.
			Since it was already 10:45am, we skipped everything and went straight to the sea lion presentation.
			After it was over, we went out at the entrance and back in at the front (that's what such a card is good for).
			This time we looked at everything in peace and learned something at the same time. Right at the entrance was a tank with starfish etc., as well as small turtles in plastic boxes.
			The staff member explained to us that these were flatback turtles.
			This is a species native to this area. 
			Since there are only extremely few animals left, they try to save this species through controlled breeding and learn more about them. He further explained that they are raised there for 1 year and then released back into nature. </p>
		<p> After Sealife we went straight to the dreamy beach and enjoyed the water on our legs and the sun from above. Sometimes life can be really cozy!!! </p>
		<p>
			
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> Back at the camper we quickly had a bowl of cornflakes while we decided to drive towards Rainbow Beach. On the way we saw various, unfortunately dead, animals on the road... snakes, hedgehogs, possums etc. At a stop at a rest area in Gympie, after refueling, we visited the tourist information and picked up some tips. Unfortunately, we caught the rain somewhere on the way to RB and arrived in the dark in the town. You have to say it wasn't even 6pm! </p>
		<p> This time it was supposed to be a free overnight stay... so we found a parking space with a clean toilet building next to it, which was good. Parked and off to the restaurant to devour burgers and drinks. </p>
		<p> After we got back from eating, we made ourselves comfortable in the camper. Unfortunately not for long, because at 9:30pm a law enforcement officer came by who politely asked us and two other campers not to spend the night here. Naaaaa great!!! So in pitch darkness, every Aussie knows you don't do this, we drove off again and landed 12km later at a campsite. We carefully checked if we wouldn't get stuck in the sand and found it OK. Stupidly the path didn't stay that way... if we had driven on, we would have got stuck. So we tried to turn at the widest point and... stuck!!! We couldn't go forward or backward and so we were 3/4 on the driveway and the rest in the sand. Since there was nothing more to do, we decided to lie down. But sleep was out of the question for both of us, as we just couldn't get our heads around "what happens next, who helps us, will we find someone who helps us..." </p>
		<p> Comment from Basti: Don't worry about us, we'll report in the next post how we got the car back. </p>
    </div>
</div><!--=== End Post ===-->
