---
layout: blog/en/travelblog
title: "Burger instead of BBQ"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Bundaberg
  - Rockhampton
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170508-banner.jpg
    alt: "Wide fields and wild forests"

overview:
  intro: "In the morning we quickly went to the city center, where the elegant post office serves as the central point"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170508-12.jpg
    alt: "The Post Office of Bundaberg"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} to send a few cards to loved ones at home. </p>
		<p> Then we went to the place recommended by Jamie, where there are usually kangaroos and the like.
			However, since it was already too late in the day for that, we walked the area down to the beach, discovering various butterflies along the way that looked beautiful but unfortunately didn't do us the favor of settling down for photos. </p>
        <p> The beach we ended up at is called Mon Repos.
			From December to April, turtles come ashore here to bury their eggs in the sand.
			Well, we're a whole month too late for that too. </p>		
        <p> So no photos!
			Unfortunately, the butterflies and the actually beautiful nature were the only things that showed themselves to us. </p>
        <p> After almost 2 hours back at the camper, we discovered various lorikeets and other birds in the tree above us, which were then also very camera-friendly. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> The way to Rockhampton took us further.
			Unfortunately, we just missed the tourist information, but met two older women with dogs in front of the door, who told us, among other things, that until recently the entire street was under water.
			There was no sign of that at all!
			We had actually thought we would sleep at the square behind the tourist information, but since we also wanted to barbecue and the station on site turned out to be out of the question, and various mosquitoes were getting on our nerves, we kept looking.
			After several circles in the city center, where there was really no trace of flooding, we ended up in the steakhouse and enjoyed some really delicious burgers.
			So no more barbecuing, and therefore we visited the next McDonald's, set up camp, and went to sleep. </p>
    </div>
</div><!--=== End Post ===-->
