---
layout: blog/en/travelblog
title: "No Food in Bowen"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Bowen
  - Townsville
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170514-banner.jpg
    alt: "View of the Whitsundays from Bowen"

overview:
  intro: "Yesterday was a day for doing nothing."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170514-10.jpg
    alt: "The Big4 campsite sign at the entrance to Airlie Beach"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			We had extended our stay at the Big4 by one night to use the pool, do nothing, and whatever else you plan to do or not.
			Unfortunately, the weather didn't quite cooperate, with occasional light rain and the pool becoming a bit chilly. 
			So we simply retreated to the camp kitchen. </p>
		<p> Today's plan looked a bit fuller. 
			After sleeping in, we first headed to Bowen today, where there are supposedly fantastic beaches modeled after Thai beaches.
			Once there, we were either too stupid to find the beautiful beaches or they're no longer as beautiful as they once were. </p>
		<p> After driving around several beaches and not even seeing any dream beaches from a high viewpoint, we decided to look for a nice restaurant and have a really good meal.
			On our way back to town, we stopped at a tourist information center to get tips for a good restaurant.
			Unfortunately, the lady told us that after 2 p.m., there are only two places in Bowen where you can get something to eat:
			Either McDonald's or Subway. Crap!!! Since we were really hungry, we chose McDonald's. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Then we drove to Townsville, where we treated ourselves to an early dinner at an Italian restaurant before looking for a free place to sleep at a rest stop.
		On our way to bed, we quickly called our mothers, after all, it is Mother's Day. </p>
    </div>
</div><!--=== End Post ===-->
