---
layout: blog/en/travelblog
title: "damn air humidity"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Singapore
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170602-banner.jpg
alt: "The view from and over the Marina Bay Sands"

overview:
  intro: "Hardly out of the hotel, someone already got on us with the leg"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170602-14.jpg
alt: "The expensive drinks of the first round. Over 20 euros for a beer and a juice"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___ twig_token_1 ___... Damn it is hot and then this humidity. That can be fun! </p>
		<p> We didn't really have a plan from Singapore and so we walked towards Marina Bay Sands (MBS), the tourist magnet.
            It is a hotel complex that consists of three 200m high high -rise buildings that are connected at the upper end by a viewing platform several hundred meters long.
            This has the shape of a ship and is equipped with restaurants, bars and a well over 100m long infinity pool. See above! </p>
        <p> Since we don't have breakfast in the hotel, we looked out on our way to the locals.
            Unfortunately, this is apparently not like in Hong Kong with the delicious rolls.
            Here you start with pasta, rice and Co., so packed "raisin rolls" at the kiosk and continue.
            At some point we decided to leave the main street and landed in a park that, according to the app, would also have to end somewhere in our direction.
            After a while we discovered various party tents and we considered what we would experience again this time.
            Shortly afterwards we suddenly ran on a racetrack ... how something ... Wait a minute ... We're going on the Formula 1 race track and unfortunately they don't build up, but off.
            Missed crap !!! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Then we landed in the driver boxes and already passed the finish line.
            Of course not, without an obligatory photo!
            The road was still full of rubber parts of the tires ... The cleaning squad is still missing!
            After felt like another eternity in the warmth, we arrived at the Marina Sands Shopping Center.
            God was a blessing, here we don't go out here. </p>
        <p> The center extends over many floors including food court on the ground floor.
            We headed for it first and treated each other a freshly squeezed juice.
            When cooling down, the time also told us that there was suddenly at lunchtime and so we looked for something to eat there.
            Basti opted for Dims Sums (Chinese species of the dumplings) with various fillings, while I ordered rice noodles with vegetables and chicken.
            At least I hope it was, because the "soup" stank was quite terrible ... after dog!
            Yes prejudice and such ... but it's really true.
            Otherwise, this disgusting smell was not to be described and that not only said my nose, but Basti's too.
            The bowl went very quickly to the other side and then it went carefully to the main course.
            Was ok, but I was fed up so quickly that half stayed on the plate.
            Guess the head cinema was too loud and just spoiled my hunger.
            Well, at least I already have a really good practice to eat with chopsticks. </p>
        <p> We crept around in the center and a casino for a while until we arrived at the Skypark of the MBS.
            However, they wanted $ 23 per person and so we decided that we prefer to go to the Skybar.
            Here you also pay $ 20 per nose to get up, but this amount we converted into drinks or anything else.
            Once at the top, there was a great view of the pool and over the city's skyline.
            Unfortunately, the pool was unreachable for us, since it is reserved exclusively to the hotel guests and we are simply too stingy to pay over 400 euros per night.
            In the other direction there was a great view over the Gardens of the Bay and the felt 1000 container ships in the harbor.
            We planted ourselves comfortably on the sofa under parasol and fan, ordered the first drinks and paid for it, despite the voucher.
            For a beer and a juice, they want to have 31 Sigapur dollars (approx. 20 euros) there.
            But well, the view is not quite for nothing.
            At least there was tap water and a bowl of chips.
            Well and there we were sitting for hours and no longer moved ... the sunset came, it was always fuller and we blocked the sofa.
            The Germans again ... </p>
        <p> At some point we really decided to go and sat in front of the MBS, because the water/ laser show should start there shortly.
            It was made very chic too, but where were the lasers?
            After the show was over, we went around the harbor basin, various pictures of Marina Bay Sands complex, until we were looking for a taxi that should take us to the hotel.
            The driver ... he was already a number for himself, but above all he was Laaaauuuut.
            He was so happy about things that it went smoothly on his voice. </p>
        <p> Once in the room, it was time to take a shower and put everything under water.
            Already strange to shower without an extra shower cubicle, curtain or anything else, but above all annoying.
            Everything is wet afterwards and nowhere can you put something down ... OK, for the few days it will go !!! </p>
        <p> It was a damn long day, we didn't actually see or did much, but now it was a good night Singapore. </p>
    </div>
</div><!--=== End Post ===-->
