---
layout: blog/en/travelblog
title: "Gripping gardens"
author: "Steffi"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Darling Harbor
  - Circular Quay

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170531-banner.jpg
    alt: "Another light installation of Vivid 2017 in Sydney"

overview:
  intro: "This morning it was time to pack."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170531-10.jpg
    alt: "Sebastian Thoß looking for the toilets in the Sydney Opera"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} </p>
		<p> Our backpacks had to be filled again and that was quite a challenge.
            This many shopping is not beneficial for the lack of space that is already available anyway. With a short or long break to go to breakfast, we were finally ready with packing at lunchtime and made our way to the city center. We strolled up the George Street and I had to Pipi at some point. So end up in the next shopping center and then in a shop with clothes, which offered pretty cheap prices for things with Merenowolle. Basti found it pretty quickly and now had to accommodate 2 more pants in the backpack. </p>
		<p> Not quite a round around the block and in the next shop ... Basti needs new shoes because his old ones started to resemble a golf course!
			We actually found what we were looking for and even at a good price under $ 40. </p>
		<p> Since we still had some time until 6pm, we decided to go to the Sealife Center again. Here we went through more or less quickly before we went to the HRC again to get the shirt for Basti and a glass for my colleague. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p>
		</p>
		<p> Then it was finally time to catch up with the Brazilian birthday dinner.
            There was a large selection of various meat variants and as a side dish you could always order small bowls of different things (salad, polenta jackets, etc.). Unfortunately, this time the meat (according to Basti was better it was better) was not so good. There was a lot of fat and above all a lot of tendons ... I can't cope with that !!! </p>
		<p> After we divided a dessert, we went to the ferry to drive towards Circular Quay.
            Because we were now in Sydney for almost 1 week without being directly at the opera. In the opera we went back to the toilet until we continued to stroll towards the botanical garden. Here were some really nice things to discover. Among other things, there was a illuminated tree where a "do not press" button stood before. Of course, you don't stick to it, so press and sometimes beautiful (if you were lucky) or terrifying (bad luck) animations are shown. Bad luck, for example. in the fact that the tree is felled or burned down. Luck if it shines in various colors. A little further there was "blow". Here you had to blow quite strongly to experience the whole thing, because this was the only way to shine the dough. </p>
		<p> Now it was later than expected and we made our way to the accommodation. </p>
    </div>
</div><!--=== End Post ===-->
