---
layout: blog/en/travelblog
title: "Tips tips tips"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Bundaberg

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170507-banner.jpg
alt: "The market in Bundaberg on the site of a school"

overview:
  intro: "This time the highway took us to Bundaberg."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170507-11.jpg
alt: "A fairly dirty kitchen"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___ </p>
        <p> At the local tourist information we met Jamie, who was super friendly and also unpacked countless tips for our further route.
			He even painted this in a card for us.
			Unfortunately, he also had no good news about the weather and above all the wind. 
			The wind will remain too strong for a few more days to go diving or snorkeling. </p>
		<p> Nevertheless, we made ourselves happy and a little with hope to see at least kangaroos, on the way to the campsite for the night. </p>
		<p> Unfortunately, this was not that inviting, but it should be enough for one night.
			The place was full of workers, hippies and other others, which were so danced that they couldn't even get out of the stove and the oven. 
			In addition, the camping kitchen was quite hinted and the place was also in need of renovation.
			So much for the slogan "... Stay with Friends" </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
