---
layout: blog/en/travelblog
title: "On to Magnetic"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Townsville
  - Magnetic Island
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170515-banner.jpg
alt: "Magnetic Island from the ferry."

overview:
  intro: "We decided to go to Magnetic Island this morning."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-15.jpg
alt: "Baby koala feeding"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___
			 So quickly book to Touriinfo, ferry tickets and off to the port of Townsville.
			 On the ferry we decided to take care of a parking space for the night and then explore the island. </p>
		<p> We have our night camp on the campsite of the official youth hostel. 
			After everything was done, we drove to Arcadia to eat schnitzel and register for diving for tomorrow. </p>
		<p> Actually, after the meal we wanted to go a round snorkeling, but we were so fully fed that we decided instead to go looking for rock wallabies.
			We were lucky and some of these cute little hops greeted us out of the cooling shadow of the rocks.
			Gradually, more and more people were added and it slowly got too full.
			Since the sun is already going down at 5:45 p.m., we quickly decided to search for the koalas living on the island.
			To do this, we drove up on the mountain and walked a hiking trail for about 20 minutes until we came to a group of young girls who photographed a very small cute koala.
			Steffi naturally joined cameras and a lot of "Ah" and "Oh is the cute". </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Then we made our way back to the youth hostel in the sunset, where we treated ourselves to a drink and a snack at the bar before we sat down in front of our motorhome with the chairs and watched the stars. </p>
    </div>
</div><!--=== End Post ===-->
