---
layout: blog/en/travelblog
title: "Pick up the camp and go"
author: Steffi
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Brisbane
  - Moss
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170503-banner.jpg
alt: "The sin of the day in the form of ice chocolates with cream"

overview:
  intro: "Completely in the bucket, we landed on time in Brisbane ..."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-15.jpg
alt: "Sunrise via Australia"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ </p>
		<p> ... only we could not get out at first because the gangway had a defect. 
			Unfortunately, the technicians called did not have a solution either, so that we were ultimately transported down via manual stairs. </p>
		<p> After we got the right cards for our telephones at the mobile phone shop, we continued to the taxi rank and from there for $ 35 for car rental.
			After a short contract stuff, it was said to have over 1 hour patience to finally get the camper. </p>
		<p> After damage was taken all around ... and there are really a lot of damage ..., bed linen was delivered etc. It went to the next coles to cover us with the bare essentials.
			Of course, the "famous" chicken schnitzel for $ 2 of the fresh counter could not be missing here.
			We then also brought fresh pasta salad, which should be particularly remembered, as it turned out later.
			Then it went on to the law goal of the day - Mooloolaba! Arrived at the campsite, a short view of the beach and it put me in the realm of dreams for the next 2 hours. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> Basti was sitting in front of the camper, enjoying the sun and wrote on the blog.
			After arousing me, we moved into the bed together and decided to do division of labor. 
			I started to empty the backpacks and distribute the things in the camper while preparing the schnitzel at the grill of the campsite (he can't do much wrong, you just have to warm up).
			When he opened the refrigerator to get the schnitzel and pasta salad out, there was quite a bossy garlic flag out ... ups!
			The pasta salad had a lot tough. </p>
		<p> After dinner, we went on a walk to the promenade. 
			Stupidly we came directly past a caf&eacute; that were such wonderful things as "Ice Chocolate" or "Ice Cookie Creme with White Chocolate".
			Not cheap, but after a short brooding ... mine !!! Wasn't the burner now, but at least I made it flat in 4 while drinking Basti.
			Back at the campsite, we went into the shower until our eyes showed us at 10 p.m. </p>
    </div>
</div><!--=== End Post ===-->
