---
layout: blog/en/travelblog
title: "The endless highway"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Mackay
  - Cape Hillsborough
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170509-banner.jpg
alt: "Brush your teeth in the parking lot directly on the highway"

overview:
  intro: "There is not much to report about this day, because it was pretty much a pure driving day"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170510-10.jpg
alt: "The first Wallaby on the Cape"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___, which should bring us to the wallabies and kangaroo after Cape Hillsborough.
			The path led over the endless Bruce Highway.
			Detected by various signs to Koalas and kangaroos, of course we stopped our eyes.
			I actually discovered at least 3 kangaroos under a tree while driving past, but unfortunately it also remained. </p>
		<p> In Mackay we made a stop at the shopping center to charge my mobile card a little for an emergency.
			After this was done, we still filled up our water supplies and continued towards Cape.
			Shortly before the square, Basti also discovered the first Wallaby on a green area and of course we did not miss the opportunity to stop and unpack the camera.
			There was also a Kookaburra and Basti turned to it.
			When we check in, we were told that at 6 hours we should go to the beach if we wanted to experience the animals there.
			After we had chosen a parking space, we grabbed our grilled food and spread in the open camp kitchen.
			Unfortunately it started to rain pretty soon, but that shouldn't worry about that at first.
			The food was ready and clearly too much.
			We would be able to eat from that tomorrow. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> In the meantime, it poured extremely, real fall streams formed on the square and lightning also passed.
			After it just didn't get better, we put everything together and hurried to the camper.
			As usual, of course, everything was over shortly afterwards.
			We went to shower, watched another film and we were away, after all, it should go out of our feathers early. </p>
    </div>
</div><!--=== End Post ===-->
