---
layout: blog/en/travelblog
title: "On to Magnetic"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Townsville
  - Magnetic Island
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170515-banner.jpg
    alt: "Magnetic Island from the ferry"

overview:
  intro: "This morning we decided to go to Magnetic Island."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-15.jpg
    alt: "Baby koala feeding"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			So we quickly booked ferry tickets at the tourist information center and headed to the port of Townsville.
			On the ferry, we decided to first find a parking spot for the night and then explore the island. </p>
		<p> We set up our night camp at the official youth hostel's campground. 
			After everything was settled, we drove to Arcadia to have schnitzel and register for tomorrow's diving. </p>
		<p> Actually, after the meal we wanted to go snorkeling, but we were so full that we decided to look for rock wallabies instead.
			We were lucky and some of these cute little hoppers greeted us from the cooling shade of the rocks.
			Gradually, more and more people joined, and it slowly got too crowded.
			Since the sun sets at 5:45 p.m. here, we quickly decided to search for the koalas living on the island.
			To do this, we drove up the mountain and walked along a hiking trail for about 20 minutes until we came to a group of young girls who were photographing a very small, cute koala.
			Steffi naturally joined in with her camera and lots of "Ah" and "Oh, isn't it cute". </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Then we made our way back to the youth hostel at sunset, where we treated ourselves to a drink and a snack at the bar before sitting in front of our motorhome with our chairs to watch the stars. </p>
    </div>
</div><!--=== End Post ===-->
