---
layout: blog/en/travelblog
title: "Time drag in Cairns"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170525-banner.jpg
alt: "Together with Tina, the always happy lady of the campsite in Carins"

overview:
  intro: "This morning we actually wanted to go to the rainforest"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170525-10.jpg
alt: "With your feet in the water of the lagoon in Cairns"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___ to see crocodiles but somehow we were highly motivated to do or we didn't want to be completely destroyed by the mosquitoes in the rainforest. So we let the day start comfortably with pancakes, which is available for free on Thursdays at the campsite. </p>
		<p> After the feast we played a round mini golf against two Germans that we met here at the campsite. </p>
		<p> Then we dragged ourselves into the city to at least go for a little walk. We also passed the lagoon again. There we cooled our feet in the outdoor pool. We started packing our things in the afternoon, because tomorrow we will return the motorhome and then continue to fly to Sydney. </p>
		<p> In the evening we sat with the two Germans from the morning and exchanged tips and stories about Australia. We also chatted all of our unused foods. </p>
		<p> Tomorrow we will go to Sydney. I am looking forward to meeting some friends and walking back and forth between the high -rise buildings and the bays. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
