---
layout: blog/en/travelblog
title: "Turtles instead of crocodiles"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Franklands Islands
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170524-banner.jpg
    alt: "The beach of Franklands Islands"

overview:
  intro: "The day started very early this morning."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170524-15.jpg
    alt: "Turtle that I saw while diving"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} </p>
		<p> In order to get to the ship for the tour to the Franklands Icelands, we had to drive south for 45 minutes, as the boat does not go from Cairns, but on a small hidden investor between the field and jungle. The trip to the islands only went a cozy 25 min on a river through the rainforest. We both hoped to see a crocodile. Unfortunately we were not lucky. As soon as the boat stretched out the nose on the open sea, the swell started. It's good that firstly we had traveled tablets and secondly there were only another 25 minutes up to the island. I would not have tolerated much longer today. </p>
		<p> When we arrived on the island, we made it comfortable with 16 other day guests on some parking benches. Since this is a nature conservation park, these benches are the only one that people changed here on the island. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Next it should be snorkeling. But before we all hopped into the water, Steffi already looked the first turtle from the beach. Unfortunately, the view was not so good in the water. We got to see some corals and even some Nemos. It was also quite wavy, so that you had to be careful in the flatter water so that you are not pushed onto the corals. The guide often shouted "Turtle", but we two were way too far away every time to see her. </p>
		<p> After the view on this side of the island was not so good, we were all driven by boat to the other side of the island, where I made a current dive together with another gentleman and the guide. This time the current went in the right direction as planned and we also always heard the safety boat, which stayed nearby. There was a lot to see again. A total of 10 turtles. Unfortunately, only one was so relaxed that I got a good photo. Everyone else immediately disappeared towards the open sea when they saw us. </p>
		<p> Steffi was snorkeling on the surface again not so lucky. There was enough to see, unfortunately the water was too flat at the point where they were stopped by the boat. After just a few minutes everyone could all be brought back to the board, since many knees and arms already turned up. </p>
		<p> In the afternoon there was a guided tour over the island, which we two did not take part, because firstly they were supposed to walk through the now dry part of the reef and we also wanted two time for us on this dream island. So we enjoyed the afternoon in the sun and walked a little along the coral benches, whereby we even got to see the starfish and baby stingrays. </p>
		<p> The 25 minutes of return across the open sea were rather rocking again, but this time we tolerated it better. When we arrived on calm waters, we again stood on deck to see crocodiles in the hope of this time. The tour guide joined us and showed us the places where a two crocodile can usually be seen in sunshine. Unfortunately, there were only traces in the sand, just no crocodes. </p>
		<p> Well then we try tomorrow our luck again with the crocodiles in the rainforest. The plan is to take a short tour of the Daintree River tomorrow to go there on a crocodile and snake tour. </p>
    </div>
</div><!--=== End Post ===-->
