---
layout: blog/en/travelblog
title: "Shaaaark!!!! Well, finally!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Coogee
  - Darling Harbour
  - Circular Quay

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170528-banner.jpg
    alt: "Sydney Opera House with VIVID Light Festival animation 2017"

overview:
  intro: "This morning, a taxi was already waiting for me at 7:15 AM."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170528-14.jpg
    alt: "Port Jackson Shark"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} It took me to the ProDive dive center in Coogee. The ride only took 5 minutes but cost a hefty $37. </p>
		<p> After checking in, we headed straight to Gordons Bay, my absolute favorite dive site. It's a small bay north of Coogee Beach with an underwater trail that divers can follow. I learned to dive here in 2013 and was very happy to be diving here again today. </p>
		<p> The first dive was already amazing. We went in as a group of six plus the guide and glided along the trail. After reaching a small wall, we turned right and swam away from the trail. Initially, I was at the end of the group and a bit disappointed because I wasn't seeing nearly as many fish as I remembered. After getting hit by other divers' fins twice, I decided to swim to the front and give nature another chance next to the guide. After a few minutes, my eyes adjusted to the fish here. There was really a lot to see - you just have to look carefully. I saw many different species, from pufferfish to tiger rays and stonefish, to entire schools of silvery-yellow butterfly fish. Even a turtle made a brief appearance. Unfortunately, after 50 minutes, the dive was over, even though I still had almost half a tank of air left. :( </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> The second dive was even more impressive. Now that my eyes were adjusted to the fish world here, I saw a lot right from the start. Unfortunately, the water was quite cold for my wetsuit at about 19 degrees at 13m depth. But we were rewarded with the sight of a shark about 1.20m long. On the way back, I would have loved to stay in the water for another 2-5 hours, as there was so much fish activity during the exit that I didn't know where to look first. </p>
		<p> For the return trip to the hotel, I treated myself to another taxi. This time the ride took about 25 minutes but only cost $28. I suspect the driver this morning completely ripped me off. </p>
		<p> In the evening, we returned to the Vivid Festival in Sydney's city center. Today we finally wanted to see the Opera House. As we walked through the canyons of skyscrapers and passed the Skytower, we spontaneously decided to go up and see Sydney after sunset. The view was amazing, just like four years ago. I can't help it - I love this city. I really didn't like the thought of not knowing if or when I might return here. </p>
		<p> After two quick rounds on the observation deck, we went back down as we wanted to see all the colorful lights up close. First, we came to Martin Place. There was quite a bit of light and art set up. We particularly liked a video projection that was perfectly adapted to the shape of a building. It showed a several-minute animation of a frog and all the places it visited. </p>
		<p> Then we headed towards the botanical garden. Unfortunately, it was so crowded that we decided to go straight to the harbor basin and visit the garden another day. At the harbor, there were also many visitors. However, since the organizers had set up fences again and directed the flow of visitors with plenty of staff, the whole thing was quite pleasant and cozy. Just before the opera house, it got too crowded and we turned around to go to the other side of the harbor basin. In the art museum there, we finally found faith. Canon had set up an armada of printers there and anyone who wanted could have pictures printed up to A2 size... free of charge!!! In addition, Canon also offered workshops on various topics several times in the evening. And if you didn't have decent equipment, you could even borrow it free of charge for the workshops. We took the chance and had a picture printed in A3. </p>
		<p> When the printer was finished, we walked along the harbor basin looking for the best position to take photos of the animated opera house. In the end, there were definitely over 300 photos. We also passed swings that performed a show independently every 20 minutes and served perfectly as photo subjects. We'll also pick up a print from Canon tomorrow. </p>
		<p> Then we headed back towards our accommodation. After midnight, we finally went to bed completely exhausted. </p>
    </div>
</div><!--=== End Post ===-->