---
layout: blog/en/travelblog
title: "Off to the Cassowaries"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Townsville
  - South Mission Beach

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
alt: "The train of the Kuranda Scenic Railway"

overview:
  intro: "Last night we both somehow not slept so well."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-20.jpg
alt: "Cassowary on the campsite"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___
			So today we made our way towards South Mission Beach.
			There we wanted to go back to a Big4 campsite. On the Big4 BeachComber Coconut campsite.
			This was warmly recommended to us by two nature lovers a few days ago.
			The reason for the recommendation is the Cassowaries that would run freely on the pitch. </p>
		<p> On the 250km long journey, the sky increased more and more in front of us. When we perform from the Highway, it started to rain promptly. 
			Arrived at the campsite, it had leaned completely. </p>
		<p> We then packed all the utensils for cooking and made our way to the camp kitchen.
			While we were in the last features of the cooking, a cassovary came out of the bushes.
			He even had two young. These are still very similar to the Emus at a young age.
			We quickly shot 2 or 3 photos before the 3 in all Hergotts rest made their way across the campsite.
			Since we were first -time cooking and secondly it poured out of buckets, we didn't ran afterwards to take more photos.
			In addition, Cassowaries are not entirely harmless.
			With your razor -sharp claw up to 13cm, you like to start people when they feel threatened. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Just before 5 p.m. (the campers who recommended this to us, he always came around 5pm) Apparently the same cassovary and his two boys came over again.
			But even now it was still pouring vigorously from buckets. </p>
		<p> We sat in the kitchen for some time, took care of the blog and Steffi tried to concentrate on a sudoku several times.
			When we made our way to bed, we had to find out that the roof windows of our motorhome were not tight and the bed (of course my side of it) dripped wet.
			Well, we couldn't do much now except to rub dry except with the additional towels and try to redirect all other penetrating water directly into the towel.
			That also worked quite well for the moment. </p>
		<p> Tomorrow we will tell you how the fight with the water ended and who won. </p>
    </div>
</div><!--=== End Post ===-->
