---
layout: blog/en/travelblog
title: "Don\'t worry mate"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Rainbow Beach
  - Inskip point
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170505-banner.jpg
alt: "Sun on the beach over the Rainbow Beach"

overview:
  intro: "Today I would like to tell you briefly how helpful people are here."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-23.jpg
alt: "Hinter wheel is stuck in the sand."
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___ </p>
        <p> As Steffi had already reported, we drove a little in the sand last night. 
		   That was another perfect example, it is not known for faith.
		   At work, I regularly preach that you check your assumptions and make you measurable before you put something into practice, but on vacation I don't stick to it myself.
		   This time it went wrong. 
		   My assumption was that our rental mobile has a front wheel drive. 
		   So it shouldn't be a problem if I put the rear wheels a little on sand.
		   As long as the front wheels are still on firm surfaces, we shouldn't have any problems.
		   Well, wrongly thought! This car has a rear -wheel drive and as soon as I only begin the wheels on the sand, we drove!
		   What does that tell us again: do not accept, but prove assumptions! </p>
		<p> Since I have never stuck with a vehicle, let alone made me a head, of course I didn't have the shimmer in such cases.
			Where is my brother, the off -road fan, when you need him.
			But since we were at a campsite and there were many other campers in sight, after the first failed attempt, I decided to wait for the next morning and not make it worse. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> So we are stuck in the sand all night. 
			We only slept for a few hours because we painted the various "Worse Case" scenarios in the head. 
			As it should turn out in the morning, all our worries were unfounded. </p>
		<p> Shortly after sunrise, I noticed that the first campers started the day. 
			So we got up and went in search of support.
			We asked a nicer older gentleman for help.
			Of course, he answered Aussie typically with "don'try mate" and was immediately on hand to help us.
			After only 10 minutes of shoveling and "Nice and Steady" back and forth, back and forth in front of and back, we were again on a fixed surface with all four wheels.
			We then spontaneously decided to drive the complete festival in reverse gear without turning.
			Since we were already here, we decided to put the car on the side of the path on a firm surface and go to the beach for a few more minutes, enjoy the early morning. </p>
		<p> Then we drove back to Rainbow Beach and spent the rest of the day at the campsite there with lazy ones and catch up. </p>
    </div>
</div><!--=== End Post ===-->
