---
layout: blog/en/travelblog
title: "Search for Nemo"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Airlie Beach
  - Whitehaven
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170512-banner.jpg
alt: "View of Whithaven Inlet"

overview:
  intro: "Today it should finally go on the water. We had booked this tour with the bullet yesterday."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170512-16.jpg
alt: "Anemones without nemo"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___
			It is said to be extremely quiet in the water. </p>
		<p> When we were waiting for the pick -up service at the meeting point in front of the campsite shortly before 8 a.m., a young couple from Germany joined us.
			They had booked the same tour. 
			We quickly got into conversation and when the lady of the driving service gave us travel tips and squeezed us with questions about our travels, the mood was quickly at the top. </p>
		<p> When we arrived at the harbor, we had to fill out a few forms before we finally started.
			First we went to Point Bay, where we made a short hike to two viewing platforms.
			From there we had a beautiful view over the Bay of Whithaven.
			Unfortunately we have reached the top of the floods and we could only see the winding waterways indicated in the color of the water.
			Yesterday we flew over it at low water and it looked very different here. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> After everyone had done the obligatory photos, we went back to the board and we made our way to the beach of Whithaven.
			On the way there there were still a few larger waves.
			However, the skipper did a really good job and stabilized the boat again immediately by clever steering maneuvers. </p>
        <p> Once on the beach, we made 4 comfortable in the sand and now had 2 hours to fry in the sun and finally eat something.
			In the meantime, it looked shortly after rain, but after we had blown away the clouds, the sun quickly came out. </p>
		<p> Finally, the bullet went to a really nice snorkeling area.
			Of course, I immediately searched for anemones and the right residents (Nemo and Dori).
			Unfortunately both were not to be found. Unfortunately, Steffi was not lucky enough to search.
			The other two were not lucky with Nemo either, but they were lucky enough to meet a turtle.
			Thanks to the Zyklone Debbie, these cannot be found here. </p>
		<p> Unfortunately we were only allowed to stay in the water for 40 minutes before we went back to Airlie Beach.
			Since the skipper gave everything again so that the boat rocked as little as possible, we decided that he definitely earned a tip.
			The price of $ 132 (approx. 90 &euro;) for this full day was absolutely justified. </p>
		<p> Back at the campsite, we all went showering to get rid of the salt water and warm up because the wind was quite fresh.
			Then we four sat together in the camp kitchen and cooked together.
			We spent the rest of the evening with chatting and playing. </p>
    </div>
</div><!--=== End Post ===-->
