---
layout: blog/en/travelblog
title: "Wallaby herds on Highway"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Port Douglas
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170520-banner.jpg
alt: "Stack stones between Cairns and Port Douglas"

overview:
  intro: "After a good breakfast at the campsite"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170520-13.jpg
alt: "A small bay in downtown Port Douglas"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
		<p> ___Twig_token_1___, the path took us via a damn curvy coastal road to Port Douglas.
			Just see what's going on and above all how the excursion offer is there.
			First we drove to the Lookout "Four Miles Beach" ... just a beach ... so down again, landed in a wrap bar and worked on the blog.
			That was too boring for me after 1 hour, so I went towards the harbor and looked at crocodiles. 
			Unfortunately not a single one.
			Past various small shops I arrived at Basti almost 40 minutes later, which was now in the diving shop.
			Fixed to Coles and got food, and then it went back.
			Briefly around ... Port Douglas you can, but you don't have to! </p>
		<p> We had planned a stop for the return trip: with the stacking stones (see above) ... We can't think of a better word for it!
			Hundreds of these formations stand directly between the street and the sea.
			Basti was 4 years ago, first with nuts and then with acquaintances here, so of course made pictures and sent to them. </p>
		<p> The journey continued and shortly before Cairn we saw her ... tons of Wallabies on the meadows next to the street.
			Unfortunately, parking was not possible there, so a little further, landed in the parking lot of a Bowls club, friendly asked whether that was OK and off we went back on foot. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> We crept and quietly crept, but of course they heard us and watched ourselves carefully.
			After a few pictures it went to the next big meadow and the same procedure followed.
			Back at the camper we saw a hand-painted sign at the entrance from the Bowls Association that it goes "-&gt; because for a long time to the Wallabies".
			We followed the invitation and we came to the animals a bit closer to the animals because we were on the club premises. </p>
		<p> Now it was time to take legs in our hands, because we had to book a tour for tomorrow.
			Arrived at the port of Cairns, we went to the port terminal and we chose "Sunlovers", since competitor "Reef Magic" was no longer there.
			The price was higher than in the prospectus, but we got another 20% discount.
			The tour is known as the "Asian-Kotz-Tour" .. So already made the plan "Pack headphones !!!"
			Back at the square we cooked and at some point it went into the trap because the alarm clock was set for 6.30am. </p>
    </div>
</div><!--=== End Post ===-->
