---
layout: blog/en/travelblog
title: "Welcome to China"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Green Island
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170523-banner.jpg
    alt: "Green Island"

overview:
  intro: "We didn\'t really do much yesterday."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170523-10.jpg
    alt: "Chinese on the beach"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			I took care of the blog and the many photos. Steffi checked finances and took care of our provisions. Then we simply decided to jump into the pool and enjoy the sun for the rest of the day. In the evening we decided that we are going to Green Island today. </p>
		<p> So this morning we made our way back to the harbor. When we arrived at the ship, we were very quickly surrounded by Asians. The captain then greeted us with the words "Welcome to China". Well, we just thought and unfortunately that should be confirmed. </p>
		<p> About 1000 Chinese frolicked on the only 600m long island. Far too much for this beautiful little oasis. First we registered for a boat dive and spontaneously decided to take Steffi out for snorkeling. That was the right decision, because when we came to the beach a few minutes later we found that ebb was and therefore the water is too flat to snorkel from the beach. </p>
		<p> We would then rather decide to eat a little something before finally going out the 700m to the diving site by boat. 
			It was a very flat dive with a maximum depth of only 3.6m but that was more than okay. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> We dipped a coral island several times and met many small and large fish as well as 3 turtles and some giant mussels. Since the visibility was only 3 to 5 meters, Steffi did not have as much fun on the surface. She didn't get much to see. I think the biggest thing she got to see several times was her diving hare, me! </p>
		<p> On the way back to Cairns, we both were somehow disappointed with the day trip. I therefore decided that this short trip to China should not be remembered for our time at the Great Barrier Reef. Immediately when we arrived in Cairns we were looking for a tourist shop of the information about Franklands Islands. After a short consideration we booked another day trip to the reef for tomorrow. This time in the knowledge that only 100 people are approved on this island. Hopefully the ship is not full. </p>
		<p> But more about that tomorrow. </p>
    </div>
</div><!--=== End Post ===-->
