---
layout: blog/en/travelblog
title: "New Friends"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Townsville
  - Magnetic Island
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170516-banner.jpg
    alt: "Alma Bay on Magnetic Island"

overview:
  intro: "Today was finally the day for Basti to go diving."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-17.jpg
    alt: "Wallaby inspects the camera"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			We woke up early to be at the dive center just before 9 a.m.
			After all the formalities were completed, we walked to Geoffrey Bay.
			(The equipment was brought by car) </p>
		<p> Basti went into the water with a guide and diving partner via the boat ramp, while I went just 5 meters away to the rock wallabies. 
			They were sitting outside at this time, and I was lucky that no other people were there.
			So I just found a suitable rock, sat down, and shortly after I was no longer alone. 
			More and more rock wallabies joined me.
			Among them was even a mother with a baby, which appeared quite often. 
			Hmmm, friends or enemies?
			I tried the same approach as with dogs - hold out your hand, let them sniff, and that's it.
			One wallaby was so trusting that it let itself be petted almost continuously. 
			When I looked for a new seat, it even followed me. 
			I spent almost 45 minutes there until I saw the divers coming back to shore. </p>
		<p> Basti reported excitedly about barracudas and rather large fish at the wreck.
			Unfortunately, everything without pictures or videos, as the GoPro was dead when we turned it on.
			Back at the dive center, he decided to do the second dive. After a short relaxation period and charging time for the GoPro, we went to Alma Bay.
			This time we entered the water via the beach, and while I enjoyed the water on my feet or sat lazily on the bench enjoying the sun. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> In the evening, we took the second-to-last ferry back to the mainland and made ourselves comfortable at a completely overpriced Big4 campsite located directly on the highway outside of Townsville. </p>
    </div>
</div><!--=== End Post ===-->
