---
layout: blog/en/travelblog
title: "On to Brisbane"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong
  - Australia
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170502-banner.jpg
    alt: "The roller coaster on the 9th floor of a shopping center"

overview:
  intro: "On our last day in Hong Kong, we packed everything up in the morning for our flight to Australia."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-11.jpg
    alt: "The welcome sign of the Hong Kong Youth Hostel"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} </p>
        <p> We decided to skip breakfast at the youth hostel again today and instead buy the delicious sugar-crusted rolls from a small stand.
            Armed with two rolls each, we made our way through the rows of buildings via the local markets, looking for phone accessories at a good price. </p>
        <p> While taking a refreshment break at McDonald's, we amused ourselves by calculating what percentage of people around us were staring at their phones.
            We came up with over 87% of all guests in the restaurant. The percentage is even higher in the metro. </p>
        <p> Since it was quite hot, we decided to go to the next shopping center to look around.
            We discovered that on the top floor, there wasn't just a slot machine arcade for children, but also a roller coaster and an ice rink. </p>
        <p> In the afternoon, we headed to the airport.
            We were a bit worried that my hand luggage might be a few kilograms overweight, since Qantas only allows 7kg per person.
            Luckily, the gentleman at the counter was only interested in our checked luggage.
            On the plane, we had a double seat to ourselves again.
            There was even a whole row of four seats free next to us.
            I took the opportunity and stretched out there.
            Unfortunately, I couldn't really sleep.
            But more about that later. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
