---
layout: blog/en/travelblog
title: "Breakfast with Wallabies"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cape Hillsborough
  - Bloomsbury
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170510-banner.jpg
    alt: "Breakfast with wallabies on the beach"

overview:
  intro: "The alarm went off at 5:30 a.m."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170510-12.jpg
    alt: "An extra small wallaby"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}, because the lady at reception had told us the day before that around 6 a.m. the kangaroos and wallabies come to the beach, or that it would be light enough to see something.
            Fortunately, it really did get bright and dry (which wasn't a given after the previous evening), so when we reached the beach, we discovered the wallabies.
            They were eating with relish, munching on crabs, branches and green stuff lying around.
            Lots of images and videos were taken, and one of the wallabies was so "trusting" that it didn't mind when we sat down on a rock right next to it. </p>
        <p> Around 7 a.m., we headed back to the camper for breakfast.
            Then we talked to two neighbors who reported that two large kangaroos had been up at the top in the evening.
            Unfortunately, we didn't get to see them. </p>
        <p> Since the weather wasn't cooperating much, and it's only about 120 km to Airlie Beach, we decided to go back to Mackay and explore the shopping center from yesterday.
            We browsed there until 3:30 p.m. and then drove for an hour to the free spot in Bloomsbury. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> There we also discovered a small snake at the toilet, unfortunately already dead, but it still looked quite fresh.
            So it couldn't have been there for long.
            You could even still see its nasty little teeth. </p>
        <p> After finishing the leftover food from the camper (there was just too much yesterday), we watched a movie accompanied by the loud wildlife and drifted off to sleep. </p>
    </div>
</div><!--=== End Post ===-->
