---
layout: blog/en/travelblog
title: "Manly Beach"
active_nav: travel-blog
author: "Steffi"
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Manly
  - Circular Quay
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170530-banner.jpg
    alt: "Manly Beach"

overview:
  intro: "Today the ferry took us out to Manly."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170530-11.jpg
    alt: "The swings in front of the opera"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} </p>
		<p> The journey was calm, and we first headed to the SeaLife Sanctuary Center. At the entrance, we were told that the seahorse feeding would take place shortly. So we took our time with the first aquariums to experience the feeding. Bert, the SeaLife employee, came and started the feeding, including various explanations and questions to the audience. When it was over, he looked at our small group of 4 adults plus baby and asked us to come along. He actually led us behind the scenes and showed us the breeding aquarium, where many ultra-small seahorses were swimming around. </p>
		<p> Then we moved from tank to tank until we ended up back at the exit. The SeaLife isn't big, but since our Merlin card gives us free entry, it's worth visiting. At least it's not as crowded here as many other places. </p>
        <p> While strolling through the shopping street, I found another shirt, and since it was well past lunchtime, we decided to go to a restaurant right away before they switched to their dinner menu at 5:18 PM. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> When we arrived at the long sandy beach, we were no longer motivated to move around, so we quickly found a bench in the sun and just enjoyed the moment. Unfortunately, it quickly became chilly due to the wind and disappearing sun, so we decided to start heading back. Before that, however, we had a hot chocolate at a large coffee chain. Back in the city, our path led us to a gallery of a Munich artist, praising with "Waaaahnsinn" (amazing), until we ended up at the "bikes" Vivid again. Shadow pictures were supposed to be created here today - however, the idea wasn't ours. When we were printing at Canon, pictures of other visitors appeared on the screen, and there we discovered a picture that we absolutely wanted. </p>
		<p> Unfortunately, this turned out to be not easy (standing still, size, etc.), so we needed quite a long time to get something suitable. Especially since the show only takes place every 15 minutes for 3 minutes each. After that, we decided to try the swings. Fortunately, this went very quickly, but unfortunately, we had to share the 5 minutes on the swing with 2 others. </p>
		<p> After this was done, I was so cold and hungry that I had to go to "Pancakes on the Rocks". We got a table immediately, ate far too much and unhealthy food (as the name suggests), but I didn't get warm anyway. The air conditioning was stupidly behind us!!! </p>
		<p> Then we ended up at Canon again to print the next pictures (you have to use the ingenious service). Before we went to the bus, we tried our luck with the Brazilian restaurant. Fortunately, the doors were still open, and so we were able to reserve a table for the next day at 6 PM. </p>
    </div>
</div><!--=== End Post ===-->
