---
layout: blog/en/travelblog
title: "Arrival in Hong Kong"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Hong Kong
  - London
  - Hamburg

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "The Kuranda Scenic Railway train"

overview:
  intro: "As you know, our first destination is Hong Kong."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170429-03.jpg
    alt: "A rather dirty British Airways A380"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">

        <p> {{ page.overview.intro|raw }}
            Our journey took us through London.
            There we boarded a rather dirty and cramped British Airways A380.
            Almost 20 hours after our departure from Hamburg, we finally reached the youth hostel in Hong Kong. </p>
        <p> Despite being completely exhausted, we still made our way to the Hard Rock Cafe.
            On the way there, we passed through a night market and took the opportunity to stroll around.
            Shortly after, we found ourselves in a market hall where seafood was being sold.
            Everything that lives in or near the water was available there.
            "Lives" is the key word here.
            Because almost everything we saw there was still alive or at least halfway there.
            In addition to fish, crabs, and shrimp, there were also water snakes, turtles, and frogs for sale.
            Despite everything looking extremely messy with fish remains scattered all over the floor, it didn't even smell of fish.
            After the culture shock and our hunger subsided, we headed to the Hard Rock Cafe.
            They even had Steffi's favorite dish, the Haystack Salad.
            Then it was time for bed. Finally, some sleep! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
