---
layout: blog/en/travelblog
title: "Gripping gardens"
author: "Steffi"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Darling Harbour
  - Circular Quay

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170531-banner.jpg
    alt: "Another light installation of Vivid 2017 in Sydney"

overview:
  intro: "This morning it was time to pack."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170531-10.jpg
    alt: "Sebastian Thoß looking for the toilets in the Sydney Opera"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} </p>
		<p> We had to fill our backpacks again, which was quite a challenge. All this shopping isn't helpful for the already limited space. After a short break for breakfast, we finally finished packing by lunchtime and made our way to the city center. We strolled up George Street, and I needed to use the bathroom at some point. So we ended up in the next shopping center and then in a clothing store that offered pretty good prices for items with merino wool. Basti found it pretty quickly and now had to fit two more pairs of pants into his backpack. </p>
		<p> Not quite a full block later and in the next shop... Basti needed new shoes because his old ones were starting to look like a golf course! We actually found what we were looking for, and even at a good price under $40. </p>
		<p> Since we still had some time until 6 PM, we decided to visit the SeaLife Center again. We went through it more or less quickly before heading to HRC again to get the shirt for Basti and a glass for my colleague. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p>
		</p>
		<p> Then it was finally time for our Brazilian birthday dinner. There was a large selection of various meat options, and as sides, you could always order small bowls of different things (salad, polenta fries, etc.). Unfortunately, this time the meat quality (according to Basti, it was better last time) wasn't so good. There was a lot of fat and especially many tendons... I can't handle that!!! </p>
		<p> After sharing a dessert, we took the ferry towards Circular Quay. We had been in Sydney for almost a week without being right at the Opera House. In the Opera House, we went to the bathroom again before continuing to stroll towards the botanical garden. There were some really beautiful things to discover here. Among other things, there was an illuminated tree with a "do NOT press" button in front of it. Of course, no one follows that instruction, so you press it and sometimes get beautiful (if you're lucky) or terrifying (if you're unlucky) animations. Bad luck shows itself, for example, in the tree being cut down or burned. Good luck means it shines in various colors. A bit further on, there was "blow". Here you had to blow quite strongly to experience the whole thing, as this was the only way to make the dandelions glow. </p>
		<p> Now it was later than expected, and we made our way back to our accommodation. </p>
    </div>
</div><!--=== End Post ===-->
