---
layout: blog/en/travelblog
title: "Get stuck spontaneously"
author: Steffi
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Moss
  - Rainbow Beach
  - Inskip point

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170504-banner.jpg
    alt: "The beautiful beach of Mooloolaba"

overview:
  intro: "The goddamed alarm clock went at 9 hours"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-17.jpg
    alt: "The campsite in Mooloolaba"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}, but from 6.30 a.m. bird world and gardener sparked us for the first time.
			Since we had to be off the pitch at 10 hours, it was only time to make it fresh, clear up and check out.
			But it didn't go far, just on the other side of the street in the parking lot.
			There we had breakfast and then went into the Sealife Center.
			There I got my early birthday present from Basti, in the form of the Merlin card.
			So we had free admission there and can still visit various other facilities free of charge that are still running into us.
			Since it was now 10.45 hours, we skipped everything and went directly to the sea lion presentation.
			After this was over, we are out at the entrance and back in at the front (which such a card is good for).
			This time we looked at everything in peace and learned something at the same time. Right at the entrance was a pelvis with nestern etc., as well as small turtles in plastic boxes.
			The employee told us that it was a ripple of the ripens.
			This is a way that is native here. 
			Since there are only extremely few animals, they try to save this way by controlled rearing and learn more about them. He further explained that they are being raised there for 1 year and then came back to nature. </p>
		<p> After Sealife we &#8203;&#8203;went straight to the dreamlike beach and we enjoyed the water on our legs and the sun from above. Sometimes life can be really cozy !!! </p>
		<p>
			
		</p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> Back at the camper there was still a bowl with cornflakes, while we decided to drive towards Rainbow Beach. On the way we saw various, unfortunately dead, animals on the street ... snakes, hedgehogs, bag rats etc. At a stop at a rest stop in the Gympie, after refueling, we visited the tourist information and picked up a few tips. Unfortunately, we picked up the rain somewhere on the way to RB and also arrived in the dark in the village. You have to say that it wasn't even 6pm! </p>
		<p> This time it should be a free overnight stay .. So there is also a parking space, where there is also a clean toilet house next to it and is good. Parked and off to the restaurant to destroy burgers and drinks. </p>
		<p> After we were back from Essen, we made it comfortable in the camper. Unfortunately, just not all -time, because at 9:30 p.m. a law enforcement officer who asked us and two other campers did not spend the night here. Naaaaa great !!! So in the stick darkness, every Aussie knows that you don't do this, drove off again and landed 12km later at a campsite. Looked carefully whether we don't get stuck in the sand and found it for OK. Stupidly the way did not stay that way ... If we had driven on, we would have got stuck. So set to turn at the broadest place and ... stuck !!! It was neither back nor back and so we were 3/4 on the passage and with the rest in the sand. Since there was nothing left to do, we decided to lie down. For both of us, however, there was no way of thinking for both of us, because we just didn't get our head "what happens, who helps us find someone who helps us ..." </p>
		<p> Comment from Basti: Don't worry about us, we will report in the next post how we got the car back. </p>
    </div>
</div><!--=== End Post ===-->
