---
layout: blog/en/travelblog
title: "Don't Worry Mate"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Rainbow Beach
  - Inskip Point
  
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170505-banner.jpg
    alt: "Sun over Rainbow Beach"

overview:
  intro: "Today I'd like to tell you briefly how helpful people are here."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170505-23.jpg
    alt: "Rear wheel stuck in the sand"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} </p>
        <p> As Steffi already reported, we got a bit stuck in the sand last night. 
		   This was another perfect example of how believing is not knowing.
		   At work, I regularly preach that you should check your assumptions and make them measurable before putting something into practice, but on vacation I don't follow my own advice.
		   This time it went wrong. 
		   My assumption was that our rental vehicle had front-wheel drive. 
		   So it shouldn't be a problem if I put the rear wheels a bit on the sand.
		   As long as the front wheels are still on solid ground, we shouldn't have any problems.
		   Well, wrong thinking! This car has rear-wheel drive and as soon as I even slightly put the wheels on the sand, we were stuck!
		   What does that tell us again: don't assume, but prove your assumptions! </p>
		<p> Since I've never gotten a vehicle stuck before, let alone thought about what to do in such cases, I naturally had no clue what to do.
			Where is my brother, the off-road enthusiast, when you need him.
			But since we were at a campsite and there were many other campers in sight, after the first failed attempt, I decided to wait until the next morning and not make it worse. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> So we were stuck in the sand all night. 
			We only slept for a few hours as we kept imagining various "worst case" scenarios in our heads. 
			As it turned out in the morning, all our worries were unfounded. </p>
		<p> Shortly after sunrise, I noticed that the first campers were starting their day. 
			So we got up and went in search of help.
			We asked a nice older gentleman for assistance.
			Of course, he answered in typical Aussie fashion with "don't worry mate" and was immediately ready to help us.
			After just 10 minutes of shoveling and "nice and steady" back and forth, back and forth with pushing, we were back on solid ground with all four wheels.
			We then spontaneously decided to drive the entire way back in reverse gear without turning around, naturally.
			Since we were already here, we decided to park the car on solid ground by the side of the path and go to the beach for a few more minutes to enjoy the early morning. </p>
		<p> Then we drove back to Rainbow Beach and spent the rest of the day at the campsite there, being lazy and catching up on sleep. </p>
    </div>
</div><!--=== End Post ===-->
