---
layout: blog/en/travelblog
title: "Time drag in Cairns"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170525-banner.jpg
    alt: "Together with Tina, the always cheerful lady from the campsite in Cairns"

overview:
  intro: "This morning we actually wanted to go to the rainforest"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170525-10.jpg
    alt: "With our feet in the water of the lagoon in Cairns"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} to see crocodiles, but somehow we were highly motivated to do nothing, or rather, we didn't want to get completely eaten alive by mosquitoes in the rainforest. So we started the day comfortably with pancakes, which are available for free on Thursdays at the campsite. </p>
		<p> After the feast, we played a round of mini golf against two Germans we met here at the campsite. </p>
		<p> Then we dragged ourselves into town to at least go for a little walk. We passed by the lagoon again, where we cooled our feet in the outdoor pool. In the afternoon, we started packing our things because tomorrow we'll return the motorhome and then continue on to Sydney by plane. </p>
		<p> In the evening, we sat with the two Germans from the morning and exchanged tips and stories about Australia. We also managed to offload all our unused food onto them. </p>
		<p> Tomorrow we'll head to Sydney. I'm looking forward to meeting some friends and walking back and forth between the skyscrapers and the bays. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
