---
layout: blog/en/travelblog
title: "Wallaby herds on Highway"
active_nav: travel-blog
author: Steffi
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Port Douglas
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170520-banner.jpg
    alt: "Stack stones between Cairns and Port Douglas"

overview:
  intro: "After a good breakfast at the campsite"
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170520-13.jpg
    alt: "A small bay in downtown Port Douglas"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}, we took a very winding coastal road to Port Douglas.
			Just to see what's going on there and especially what excursion options they offer.
			First, we drove to the "Four Miles Beach" lookout... just a beach... so back down we went, ended up in a wrap bar and worked on the blog.
			After an hour, I got bored, so I headed towards the harbor to look for crocodiles. 
			Unfortunately, not a single one to be seen.
			After passing various small shops, I arrived back at Basti about 40 minutes later, who was now in the dive shop.
			Quick stop at Coles to get groceries, and then we headed back.
			In short... Port Douglas is nice, but not a must-see! </p>
		<p> We had planned a stop for the return trip: at the stack stones (see above)... we can't think of a better word for them!
			Hundreds of these formations stand directly between the road and the sea.
			Basti was here 4 years ago, first with his mom and then with acquaintances, so naturally he took pictures and sent them to them. </p>
		<p> The journey continued and shortly before Cairns we saw them... tons of wallabies in the meadows next to the road.
			Unfortunately, we couldn't park there, so we drove a bit further and ended up in the parking lot of a Bowls club, politely asked if that was okay, and then walked back on foot. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> We crept and tiptoed quietly, but of course they heard us and watched us carefully.
			After taking some pictures, we moved to the next large meadow and followed the same procedure.
			Back at the camper, we saw a hand-painted sign at the entrance of the Bowls Association pointing "-> this way to the wallabies".
			We followed the invitation and got even closer to the animals since we were on the club's grounds. </p>
		<p> Now it was time to get moving because we had to book a tour for tomorrow.
			Arriving at Cairns harbor, we went to the port terminal and chose "Sunlovers" since competitor "Reef Magic" was no longer there.
			The price was higher than in the brochure, but we got another 20% discount.
			The tour is known as the "Asian-vomit-tour".. so we already made the plan "Pack headphones!!!"
			Back at the campsite we cooked, and eventually went to bed since the alarm was set for 6:30 a.m. </p>
    </div>
</div><!--=== End Post ===-->
