---
layout: blog/en/travelblog
title: "Turtles instead of crocodiles"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Cairns
  - Franklands Islands
 
headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170524-banner.jpg
    alt: "The beach of Franklands Islands"

overview:
  intro: "The day started very early this morning."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170524-15.jpg
    alt: "Turtle that I saw while diving"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} </p>
		<p> To get to the boat for the tour to the Franklands Islands, we had to drive south for 45 minutes, as the boat doesn't depart from Cairns but from a small hidden jetty between fields and jungle. The journey to the islands started with a leisurely 25-minute cruise along a river through the rainforest. We both hoped to spot a crocodile, but unfortunately, we weren't lucky. As soon as the boat's bow reached the open sea, the swell began. Good thing we had taken travel tablets and that it was only another 25 minutes to the island - I wouldn't have been able to handle much more today. </p>
		<p> When we arrived on the island, we made ourselves comfortable with 16 other day visitors on some park benches. Since this is a nature conservation park, these benches are the only man-made structures on the island. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Next up was snorkeling. But before we all hopped into the water, Steffi already spotted the first turtle from the beach. Unfortunately, the visibility wasn't great in the water. We got to see some corals and even some Nemos. It was also quite wavy, so we had to be careful in the shallower water to avoid being pushed onto the corals. The guide often shouted "Turtle!", but we were always too far away to see them. </p>
		<p> After the visibility on this side of the island wasn't so good, we were all taken by boat to the other side, where I did a drift dive together with another gentleman and the guide. This time the current went in the right direction as planned, and we could always hear the safety boat staying nearby. There was plenty to see again - a total of 10 turtles. Unfortunately, only one was relaxed enough for me to get a good photo. All the others immediately disappeared towards the open sea when they saw us. </p>
		<p> Steffi wasn't so lucky snorkeling on the surface again. While there was plenty to see, the water was too shallow where they were dropped off by the boat. After just a few minutes, everyone had to be brought back on board since many had already scraped their knees and arms. </p>
		<p> In the afternoon, there was a guided tour of the island, which we didn't join because, firstly, they were supposed to walk through the now dry part of the reef, and secondly, we wanted some time for ourselves on this dream island. So we enjoyed the afternoon in the sun and took a stroll along the coral benches, where we even got to see starfish and baby stingrays. </p>
		<p> The 25-minute return journey across the open sea was rather rocky again, but this time we handled it better. When we reached calm waters, we stood on deck again, hoping to see crocodiles this time. The tour guide joined us and showed us the spots where one or two crocodiles can usually be seen in the sunshine. Unfortunately, there were only tracks in the sand, but no crocodiles. </p>
		<p> Well, we'll try our luck with the crocodiles in the rainforest tomorrow. The plan is to take a short tour to the Daintree River tomorrow to join a crocodile and snake tour. </p>
    </div>
</div><!--=== End Post ===-->
