---
layout: blog/en/travelblog
title: "Off to the Cassowaries"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Townsville
  - South Mission Beach

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/train-banner.jpg
    alt: "The train of the Kuranda Scenic Railway"

overview:
  intro: "Neither of us slept very well last night."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170519-20.jpg
    alt: "Cassowary on the campsite"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }}
			So we set off early today towards South Mission Beach.
			We wanted to stay at another Big4 campsite - the Big4 BeachComber Coconut campsite.
			This was highly recommended to us by two nature lovers a few days ago.
			The reason for their recommendation was the cassowaries that roam freely around the campsite. </p>
		<p> During our 250km journey, the sky grew increasingly cloudy ahead of us. As we turned off the highway, it started to rain immediately. 
			By the time we arrived at the campsite, it was pouring down. </p>
		<p> We gathered all our cooking utensils and made our way to the camp kitchen.
			While we were in the final stages of cooking, a cassowary emerged from the bushes.
			It even had two young ones with it. These still look very similar to emus when they're young.
			We quickly took 2 or 3 photos before the three of them made their way across the campsite at their own pace.
			Since we were both cooking and it was pouring buckets, we didn't follow them to take more photos.
			Besides, cassowaries aren't entirely harmless.
			With their razor-sharp claws up to 13cm long, they can attack people when they feel threatened. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <p> Just before 5 p.m. (the campers who recommended this to us said they always come around 5 p.m.), the same cassowary and its two young ones appeared again.
			But unfortunately, it was still pouring buckets. </p>
		<p> We sat in the kitchen for a while, worked on the blog, and Steffi tried several times to focus on a sudoku puzzle.
			When we made our way to bed, we discovered to our dismay that the roof windows of our motorhome weren't watertight and the bed (of course my side) was dripping wet.
			Well, there wasn't much we could do except dry it with additional towels and try to redirect any other water that got in directly onto the towels.
			That worked quite well for the moment. </p>
		<p> Tomorrow we'll tell you how the battle with the water ended and who won. </p>
    </div>
</div><!--=== End Post ===-->
