---
layout: blog/en/travelblog
title: "Chinese instead of Rodizio"
active_nav: travel-blog
author: "Steffi"
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2017-asia-oz

locations:
  - Australia
  - Sydney
  - Coogee
  - Clovelly
  - Darling Harbour
  - Zetlands

headline:
  image:
    url: /assets/img/blog/2017-asia-oz/20170527-banner.jpg
    alt: "Darling Harbour during the VIVID Light Festival 2017"

overview:
  intro: "Today we headed to Coogee to arrange 1-2 dives for Basti if possible."
  image:
    url: /assets/img/blog/2017-asia-oz/small/20170527-11.jpg
    alt: "Steffi with a view of the water"
---

<!--=== Post ===--><div class="row margin-bottom-10">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
		<p> {{ page.overview.intro|raw }} </p>
		<p> We arrived at ProDive and actually managed to register for the next day. This wasn't a given here, as hardly anyone goes diving in temperatures of only about 20 degrees. We then decided to follow the coastal path a bit and ended up in a bay in Clovelly. We didn't get much further because we sat by the water's edge, enjoying the sun and watching the crystal-clear sea, observing fish and the receding tide. </p>
		<p> We took the bus back to the city to visit Paddy's Market. Here we found what we were looking for and spent quite a bit of money. We bought two beautiful paintings for the kitchen, which were painted by Aborigines. We continued via Chinatown to Darling Harbour. There, quite a few fences and barriers awaited us... Safety first, even here! </p>
		<p> Our first destination was the Hard Rock Café, where at least I found what I was looking for on the "Sale Stand", as everything else was really expensive. </p>
        <p> We were also supposed to go for a birthday dinner. Unfortunately, that didn't work out because we somehow forgot to make a table reservation at the Brazilian restaurant. Of course, everything was full, so we decided to go back to Chinatown - where we found "authentic Chinese cuisine". It wasn't my cup of tea at all, and Basti... I quote "was ok". </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
		<p> Back at Darling Harbour, we first headed to the "spotlights". This was an installation where lights were simply projected upward and positioned in various formations. To make it really work, mats were placed underneath so you could lie down. We stayed here for a while, as Basti's camera was acting up again and a dear colleague called me from Germany. </p>
		<p> The next display was in a regular shipping container. At the entrance, we were given black light flashlights, and inside we found some really cool images that looked even better when properly illuminated. Shortly after arriving at the harbor basin, the water show began. The water jets shot up over 60m wide/high and were illuminated with various images. Afterwards, we wandered around waiting for the fireworks, which are always held in the harbor on Saturdays. In the meantime, we watched the water feature four times and also booked a "Vivid Cruise Tour with buffet". We later discovered that there wouldn't be any big fireworks this time, as they were more or less incorporated into the water features. </p>
		<p> Late in the evening, we slowly made our way to the bus that would take us back to the apartment. Good night! </p>
    </div>
</div><!--=== End Post ===-->
