---
layout: blog/en/travelblog
title: "03/22/18 Resting in the Resort"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Zamboanguita

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "There's not much to say about today, as we took it easy and occupied the sun loungers, the pool, and filled our stomachs in between."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4759.jpg"
    alt: "Steffi and Sebastian on the beach of Zamboanguita"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-6"> {% include 'blog/snippet/headline.html.twig' %} <p> {{ page.overview.intro|raw }} </p>
        <p> Well, and Basti worked, of course. As a break, we took a short walk on the beach and attempted to cool off in the sea. Though you can hardly call it cooling off, as the sea has a bathtub-like temperature of about 29 degrees. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
