---
layout: blog/en/travelblog
title: "04/05/2018 Panglao City"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Panglao
  - Danao Beach

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi &amp; Basti"

overview:
  intro: "Today we write a blog post together again. Basti starts to report from his last dive here in the Philippines."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5130.jpg"
alt: "Sebastian Thoss and Steffi slightly spectically spectically in a much too tight tricycle"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ then Steffi takes over the typing feather and reports from our trip to Panglao City. </p>
        <h3> Basti&rsquo;s last dive </h3>
        <p> This morning the alarm clock went again so that I couldn't sleep my last dive. In the diving shop I wanted to drift comfortably along the reef edge and really enjoy the underwater world. My two companions (an older German-Asian couple) were not yet there and so I was made possible. In the conversation, it turned out that the two of them already have some experience, but have not been diving for a long time. </p>
        <p> So we only drove the boat with the boat until the reef edge could be seen from above. We jumped in and within seconds it became clear that the other two have no idea about tariff (floating state).  At first they did not come down and then clapped completely on the floor. Luckily, we were still over sand. If we had already been on the reef, a lot would have been destroyed. We then went to the edge with our guide, where the reef immediately started. This was about 8 - 11 meters of water. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/P4050902.jpg" alt="A plant. No, an animal!">
        </div>
    </div>
    <div class="col-md-12">
        <p> The water was so clear that from here you could still see the sandy background at about 25 meters. I stayed at a maximum of 11 meters of water because I had the new camera with me and it can only tolerate a maximum depth 15 meters. </p>
        <p> It didn't take very long before I would like to hit my two diving partners on my fingers. When you learn to dive, you are always pointed out to touch or touch anything. Corals grow extremely slowly. It takes many decades, if not for centuries until there is such a beautiful and undamaged reef as this in which we were in. Nevertheless, the two kept sticking to the corals. Aaaaaaaaaahhhh. HANDS OFF!!! I would have liked to scream. Unfortunately, nothing brings anything under water. Then I decided not to pay so much attention to the other two and not let the dive spoil. I preferred to look at the many different types of clown fishing that were sitting in their anemons and this and their family defended as soon as I came too close with my camera. In this case, the females always stood protectively in front of the Anemone and the rest of the family. Quasi according to the motto: only about my body. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/P4050906.jpg" alt="Even more nemos.">
        </div>
    </div>
    <div class="col-md-6">
        <p> Shortly before we swam away from the reef edge again, towards the flatter water, I saw a beautiful red -fire fish that hovered in front of a few corals and tried to act like a plant. Even it took me a few moments to recognize where at the top, at the back and front and front of the fish. A really very nice animal. </p>
        <p> We then continue to swam into the security area to 3-5 meters. There we made the usual security stop of 3 minutes. The German Mittsaucher dropped back and once again held on to corals. It was still about 7 meters deep, i.e. a little below the security area. After my computer on the wrist said that my safety break was around, I looked around and saw that the diver was gone. I looked up and he was already on the surface. Irresponsible!!! The security stop is there to slowly breathe off the nitrogen absorbed at depth, otherwise life -threatening embolism can occur. That's why you should only appear very slowly. He completely disregarded both. As soon as we were on board, I also took him to the chest and asked him if he realized that these rules do not exist without reason. He only answers that he cannot cope with such flat water. He needs at least 15 meters to be able to dive well. Aaaaaaaaaahhh. The license should be withdrawn from such people. I was glad that the young lady could dive much better yesterday, with only 5 dives. Maybe you can go diving together in Hamburg. </p>
    </div>
    <div class="col-md-12">
        <h3> Steffi via our trip to Panglao </h3>
        <p> After Basti was back from diving, we decided to go to Panglao City. So we let ourselves be called a tricycle and off we went. This time we chose the local market as a destination, only there was pretty dead trousers there. After just a few minutes we were through and decided to walk towards the water. On the way there it was easy to rain and we were looking for refuge in a kind of shopping center. First we landed in a swimwear/souvenir shop, where we bought one or the other. Since Basti was slowly hungry, decided in a Seveneleven supermarket something to eat and wait for the light rain. He got a yeast clay filled with meat and for dessert there was an ice cream for him. In the meantime, however, I finally found hair ties and struck properly because I had now lost the other 4, which I had brought from home. </p>
    </div>
    <div class="col-md-6">
        <p> After that we went in search of the beach, but first landed at a church. The final ceremony of the school year was just taking place there and to our astonishment, it was even held bilingual, both in English and in national language. We watched for a while and then went further towards the beach. We didn't find any, but we landed on the mangrove investor. We felt a little like in Florida and actually only waited for the aligators/crocodiles. After all, this should also exist here. Unfortunately we didn't find any and there was not much to be seen anymore, we decided to continue with the tricycle to Alona Beach. Our driver, who brought us here, gave us his phone number so that we could call him again. We promised this too, had the phone in our hands until we came up with that we both had no credit for phone calls. Unfortunately, the skillful SMS did not go through and so we had to take another driver. Went stupid! </p>
        <p> Arrived in Alona, &#8203;&#8203;it went straight to the "Duchess Spa &amp; Salon", because I wanted to try it out with the manicure and the shop looked pretty neat compared to what we had seen so far. So in and came across chaotic filipinas. Somehow we burst in at the wrong time and everyone looked pretty next to the lane and were not designed for customers. They were more like food and as always they sang loudly! I still came up and landed on the tuffy pink sofa. </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> First I signed the sterile work material and then it went to the color. I couldn't decide at all and so Basti was allowed to go ... In the end he decided on a bright blue! Oh yeah, if that was a good idea! The manicure itself was carried out very well, applying the color also went well, but in the end you saw that it was not so perfect. Since you only saw this on closer inspection, I didn't care at the time. The whole thing didn't even get &euro; 4.50 and my nails finally had a shape again. </p>
    </div>

</div><!--=== End Post ===-->
