---
layout: blog/en/travelblog
title: "03/27/18 Rock Around the Clock"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Mactan
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "After a very relaxing night, we enjoyed the rich and, above all, very fresh breakfast buffet. Then we called an Uber which would"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4865.jpg"
    alt: "The restaurant at night"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} take us to Pier 1 in Cebu. We urgently needed ferry tickets for our trip to Bohol on Good Friday. After all, it's Easter and nothing much happens on the Philippines during this time. Some locals had also recommended that we buy tickets at the counter early to ensure we could get a spot on board a ship. After almost 2 hours of driving for just 18km, we arrived at Ocean Jet's ticket office and there was already a substantial queue in front of it. We joined the line, and when it was our turn 45 minutes later, we were informed that we wouldn't get tickets for the 2 PM ferry anymore, but alternatively for 3:20 PM. And for that time, please make it business class! </p>
        <p> After getting the tickets, we ordered another Uber online and had it drop us off at the nearby City Mall. After some browsing around, we ended up in the food corner and had something to eat. Then we went to the supermarket to get drinks, yogurt, and fruit. After that, with a detour past the ice cream stand and the donut bakery, we headed to the exit where another Uber was already waiting for us. The return trip went relatively quickly, and so I spent a quiet afternoon in the resort while Basti went to work. At some point, we heard pretty loud music from outside and got curious. We had already noticed during the day that some gay/lesbian association from all over the world was meeting at the hotel, and apparently, they were now putting on their full program. An absolutely brilliant fire show took place right on the beach, which we watched from the pier. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> At 9 PM it was over, the pier was closed, and so we headed towards the restaurant. From a distance, we could already see musicians going from table to table... oh dear, we don't want that, how embarrassing. Never mind, we sat down, ordered, and suddenly we were next for the music. The 5-member band stood in front of our table and sang something beautiful. After the first song finished, they asked us what we wanted - "Rock'n'Roll"! They were delighted and were quite amazed that people our age would request something like that. They played the Bill Haley classic "Rock Around the Clock" and did it quite well! It's totally strange to be the center of attention, but the band was great! After eating, we saw the dessert at the neighboring table and were immediately hooked. I went to the dessert display and decided we should share a chocolate mousse cupcake. That was the right decision because it was very delicious! Then it was back to the room, Basti continued working, and I ended up in the realm of dreams because I somehow got terrible headaches in the meantime. </p>
    </div>
</div><!--=== End Post ===-->
