---
layout: blog/en/travelblog
title: "04. - 07.03.2018 stupid cold"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "Since I had a lot to do with work for the last few days, I didn\'t have the time to report here every day. So I want the last few days now"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4404.jpg"
    alt: "Promenade of Dumaguete"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} briefly summarize. </p>
        <p> Since I am not only here to travel here, but also for work and since the hostel had bad internet connection, I moved to an apartment on the city center after only 2 nights. There is much faster internet with the cell phone and there should also be a faster WiFi. The owner of the apartment was very helpful and we first tested the speed. But this was anything but quick. He immediately called to the provider, which came next morning and tried to solve the problem. Unfortunately it turned out that it is at the nearby school and that too many people simply dial into the same radio tower. Since the conversion to wired Internet will take a few days, the apartment owner offered me to pull up one floor, where he already has wired internet. Of course, I accepted this offer and extended my stay with him until 16.03. Working from here is no problem for the next few days. </p>
        <p> Until on Wednesday, I continued to fight my cold with all my strength and made only smaller walks here in the city in the morning. There is a longer promenade right by the sea where you can finally stroll. I burned the bottom several times when trying to sit on the wall along the water in one place or another. Out;) </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
