---
layout: blog/en/travelblog
title: "03/11/2018 Stroll and sew"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "Yesterday evening there was a little problem with diving. I always wear a baseball cap over water to my head"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4515.jpg"
alt: "They have trust in their vehicles."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ to protect against the sun. Since the water has 28 degrees here and I under no circumstances put on my cold water hoodie, my &ldquo;plate&rdquo; was directly exposed to the sun. So I got a sunburn when diving. So that I can't find it again, I decided to look for a solution for the next dive here today, because I decided last night that I wanted to go diving again tomorrow. </p>
        <p> So I streamed through the city and the markets in search of a baseball cap that fits and in which I can trigger the umbrella. I also found what I was looking for in the big mall at the bus station. On the way back it started to drizzle. So I then made my way back to the apartment. </p>
        <p> I then spent the evening to call mom and congratulate on his birthday. Happy Birthday mom. After that, I was talking about Steffi and Papa even longer. In addition, I separated the seam on the baseball cap, removed the umbrella and sewed the whole thing again. I look totally stupid with it, but if it should only protect under water from the sun. </p>
        <p> Tomorrow we will go back to Dauin. I'm looking forward to it. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
