---
layout: blog/en/travelblog
title: "03/13 & 03/14/18 Enjoying Work"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "Yesterday and today were again all about work. When I got up yesterday morning and looked toward the sea, I saw..."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4547.jpg"
    alt: "Paradise calm on the beach"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} </p>
        <p> ... nothing. A gray-blue wall announced worse weather. I didn't let it bother me at first and walked along the promenade, then made myself comfortable in a coffee shop with a view of the water. It didn't take long before it started to storm and rain. So I settled in comfortably with another drink and started working. When the weather improved a few hours later, I took the chance to go shopping and then made my way back to the apartment. </p>
        <p> This morning I decided to take the bus back to Dauin to work a bit on the blog and get my feet in the water. In Dauin, I naturally made myself comfortable again in the Dauin Dive Cafe and enjoyed the interesting conversations with the other divers. </p>
        <p> In the afternoon I went for a nice walk on the beach and enjoyed the warmth and water. A really nice little piece of paradise. So peaceful and relaxed. At some point I had to make my way back to Dumaguete because work was calling. </p>
        <p> After work I talked with Steffi for a long time and we spontaneously found a nice little resort on the island of Bohol that we really liked. The Blue Star Dive & Resort is located on a cliff with a mini beach right in front of it. We liked it so much that we spontaneously booked it for the Easter weekend. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
