---
layout: blog/en/travelblog
title: "03/31/18 Just Don't Move"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "Basti was awake very early. He sat on the terrace and enjoyed the peace of nature while working a bit on his own business."
  image:
    url: "/assets/img/blog/2018-philippines/small/P3310545.jpg"
    alt: "Steffi and Sebastian Thoss enjoy their time together in the pool on Bohol, Philippines"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} After I finally managed to get out of bed, we went for a leisurely breakfast. This was enjoyed with a wonderful view and in the company of the house cat from last night. Today it was the exact opposite of yesterday - very friendly and completely without hissing. After we had finished eating, we first went down to the beach. </p>
        <p> Before we got there, however, we had to overcome many steps, and then we found the beach. Well, you couldn't really call it a beach. It was more like a small area made up of dead corals and shells to get into the water. The area was really very small and only became slightly larger at low tide. Additionally, there was a rock formation in the steep cliff that had been washed out by the sea, unfortunately with many spiders, which were quite nice to look at. </p>
        <p> We struggled back up the steps and went straight to the dive center on the property. There we were greeted very kindly by a young Filipina who told us we could go out diving at noon. However, we didn't feel like it, so we registered for the next morning. We immediately took care of the paperwork so that would be out of the way for tomorrow, and then we changed into our swimsuits. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

    <div class="col-md-12">
        <p> The pool was calling! We took two loungers with an umbrella and then went into the cool water. Well, cool - not really. The pool didn't offer any real cooling compared to the sea. After a while, we had enough and lay down on the loungers, enjoying being alone while simultaneously observing the "man for everything" as he lay down and cleaned on the other side. </p>
        <p> Of course, hunger eventually made itself known, and we sat back at the table with a beautiful view. Then there was turkey fillet, mashed potatoes, and vegetables with sauce for me, and spare ribs with dirty fingers for Basti. After stuffing ourselves, we grabbed the loungers again and enjoyed the rest of the day. In the meantime, we also met a family consisting of grandma and grandpa, mom, dad, and two teenagers. Of course, we had heard where they were from, and Basti said he originally came from Vogtland. Then the grandma said "We are from Saxony." Hmmmm, Vogtland... Saxony...?!? No comment!!! </p>
        <p> For dinner, I had delicious bruschetta, and Basti had a turkey sandwich. </p>
    </div>

</div><!--=== End Post ===-->
