---
layout: blog/en/travelblog
title: "03/28/18 Working at the beach"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Mactan
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "After sleeping in, enjoying a cozy breakfast, and relaxing on the sun loungers and splashing around/snorkeling in the sea, Basti joined me"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4875.jpg"
    alt: "The hotel complex seen from the pier"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} and we went snorkeling with the camera this time. After an initial "Hmm, it's empty here all of a sudden," things picked up and we actually found seahorses and Nemos. After almost an hour, Basti had to get out of the sun, and I continued alone, determined to get a particular fish in front of the camera. Unfortunately, the camera wasn't cooperating - it wouldn't focus properly, and in the end, the battery died. </p>
        <p> To wash off the salt, I then jumped into the pool with the camera. To complete the vacation feeling, we had a pineapple smoothie under the mega palm trees. We spent the rest of the day relaxing in the sun, in the sea, or while working. To end the day, I had a pot of tea in the hotel's Asian restaurant, and Basti had chicken satay skewers. So it was an exciting day with lots of relaxation. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
