---
layout: blog/en/travelblog
title: "25.12.18 Stop shoes !!!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - new York
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

overview:
  intro: "Today was quite unspectacular. After we finally lifted ourselves out of bed at some point, we packed our things and"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4514.jpg"
    alt: "The big cozy bed in the Residence Inn Hotel"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} made our way to the train. Arrived at the Penn Station (34th street), we searched for a bit until we found the waiting hall of Amtrak. Because every train company apparently has its own part of the rather large train station. </p>
        <p> Steffi made himself comfortable in the waiting hall and I got something warm to drink. A short time later, our train to Washington D.C. called. Once on the train, we just made ourselves comfortable sitting and the journey started. The usual welcome announcement came promptly that a conductor will check all tickets right away and that you have your shoes on at all times and should not even wear as a slip. Huh? Steffi and my gaze met. "Did we understand that correctly?" We are not allowed to take off our shoes. The carpentry here on the train looked very clean, so that we still slipped out of our shoes and still enjoyed the first hour of our trip. Then we found that it was time for midday sleep. Since the trains here, unlike us, jerk quite a bit, it was not long for me to think of sleeping. </p>
        <p> After 3.5 hours we were finally in Washington and let us drive to the hotel by an Uber (cheap taxi). </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> However, the car stank so much for fragrance trees that I promptly got really bad headache who didn't want to go away the rest of the day. In Washington we have a nice large apartment with our own kitchen, desk, sofa and TV. Only the bathroom is a bit strange. The sink is in a niche right next to the bed. Only shower and toilet are in an extra room. Since there was a small shop right next to the hotel today, Steffi Pasta decided to cook for us. </p>
        <p> We spent the rest of the evening watching films, washing clothes and lazy. </p>
        <p> Let's see if we can do more tomorrow. </p>
        <p> Until then: good night. </p>
    </div>

</div><!--=== End Post ===-->
