---
layout: blog/en/travelblog
title: "03/23/18 Move to Dauin"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Zamboanguita
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "Today it was time to pack up, as check-out was at 12h and after a final drink, we were heading to the J&P Family Beach House."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4815.jpg"
    alt: "The entrance sign of the J&P Family Beach House"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} This is located right on the reef, which we already know from the Dumaguete Dive Team / Dauin Dive Café. The Kav's Resort ordered us a tricycle for 13h, which was supposed to only take us to the bus. However, we quickly decided that he should take us directly to our new accommodation. Accordingly, the driver was naturally pleased about the considerable extra income. </p>
        <p> The journey went smoothly as always, and we were even able to move into our new quarters early. When we opened the door, we were first greeted by quite a musty smell, so we started the air conditioning and hoped it would dissipate somewhat. The room was spartan but adequately furnished (including a large refrigerator) and it was clean. Apart from the bathroom, which could be a bit cleaner. First, we checked out the pool and then continued to the sea. After taking various pictures for Basti's employer, it was back to the room, change clothes, grab the camera, and into the water. At least for one of us, because Basti had to get back to the computer. However, he watched me from the beach, as going into the sea alone is never a good idea. After a perfect 30-minute session, I was done with snorkeling and then took a quick dip in the pool. We then discovered a rather large lizard on the palm tree. Unfortunately, it wasn't at all interested in posing for the camera. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> At 5pm we walked to the Dauin Dive Café, as there was supposed to be a BBQ-All You Can Eat event there. There were even delicious options for me, and in the end, we walked back to our accommodation. Then it became clear that internet reviews sometimes tell the truth. The dear neighbors from the property across from the hotel love karaoke! The television was set up outside on the property, and the karaoke machine was running at full volume. They were having fun! </p>
        <p> Fortunately, we didn't notice too much of it in our room, even though our room was facing that direction. </p>
    </div>
</div><!--=== End Post ===-->
