---
layout: blog/en/travelblog
title: "09th & 03/10/18 Finally Dive"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "Yesterday I didn't do much again because I had slept poorly. I just wandered through the city a bit in the morning and"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4517.jpg"
    alt: "Dive Cafe Dauin"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} did some shopping for the weekend. In the evening I had to work one last round before the long-awaited weekend. Since I had already worked several hours in the previous days, I didn't work too long and preferred to go to bed a bit earlier to catch up on sleep. </p>
        <p> This morning I made my way back to Dauin's Dive Cafe by bus. There I met the diving instructor Per. After a briefing and assembling the diving equipment, we took a minibus the few hundred meters to the beach. Since this was my first dive here, I left the camera behind as usual to get used to diving in these waters. Once at the beach, we went straight into the water, dove down to 15m depth, and then made a turn to the right. We swam over several huge colorful coral fields. These were full of fish. I've seen a lot in 5 years of diving, but I've never encountered so many fish species and colors during a single dive. We even met a medium-sized turtle with a shell length of about half a meter. It was completely relaxed in a hollow. After a while, it loosened itself and made its way very leisurely to the surface. A great sight that I definitely won't forget for a long time. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We then passed many other interesting animals. We definitely saw 7 to 10 anemones inhabited by clownfish, a large moray eel, and several different types of parrotfish. Finally, shortly before the beach in the shallow water, we even saw a school of cuttlefish. </p>
        <p> After the dive, I made myself comfortable in the Dauin Dive Cafe and let my equipment dry in the backyard, took care of my dive logbook, and enjoyed the day. Later, one of the employees drove the minibus back to Dumaguete. I took the opportunity and joined them. </p>
        <p> I don't have a plan for tomorrow, except to call mom and congratulate her on her birthday. </p>
    </div>
</div><!--=== End Post ===-->
