---
layout: blog/en/travelblog
title: "December 20, 2018 dorming through Manhattan"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - new York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

overview:
  intro: "As was to be expected, the jet lag caught us fully. Shortly before 1 a.m. (7 a.m. in Germany) I had slept in. Mist a lot too"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_6701.jpg"
    alt: "The display in the Essen restaurant"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} early !!! </p>
        <p> I was able to force myself to fall asleep again, but around 4:30 a.m. was finally over. I grabbed my computer and sat down in the lobby. Steffi joined shortly before seven. She couldn't sleep anymore and was therefore already showered and ready to go out. We quickly got a tourist pass, with which we can watch 7 different attractions here in New York and at least save a lot of money. </p>
        <p> For breakfast we were in a completely unusual shop. The name was "food". It is a mixture of station snack and buffet restaurant. They have a huge selection and almost everything has the price of $ 11 per pound. No matter whether scrambled eggs, pancakes or wrap. </p>
        <p> After breakfast we made our way through the Wall Street to the new World Trade Hochh&auml;usern for the 9/11 Memorial Museum. This was the first to be on our note. It is beautiful and really extensive. It is completely underground, on the still existing and visible foundations of the two high -rise buildings that were collapsed on September 11, 2001 by terrorists with two large passenger aircraft. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> The exhibition goes into detail. There are actually several parts. In one room, everyone explains how the time process was. If you want, you can even listen to what was going on at the 4th machine board that fell on the field. Recordings from the cockpit and air traffic control are alluded to and also recordings of people who tried to reach their loved ones and left news on the answering machine. That goes very close, I tell you, because this time it is already clear how it went out. For this reason, you will also find handkerchief donors every few meters. Destroyed fire engines that were hit when the buildings collapses are also available everywhere. In addition, friendly staff stands on every corner and willingly tells backgrounds and stories about the respective things where you are. </p>
        <p> After Steffi bought a nice T-shirt with the imprint "Love is Stronger Than Hate" (love is stronger than hatred), we started looking for something. On the way to the next Subway Sandwich Store, we quickly stopped at T-Mobile and still get me internet for my cell phone. Without the internet is also kind of stupid. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_6784.jpg" alt="Pentatonix on stage">
        </div>
    </div>
    <div class="col-md-6">
        <p> The afternoon dawned through the streets of Manhattan and passed Chinatown and Little Italy. Unfortunately it started to rain so that we moved into a small restaurant and first enjoyed cream br&ucirc;l&eacute;e, "Bomba" (ice cream with chocolate coating), cola and hot chocolate. Then we made our way to Macy&rsquo;s, because Steffi wanted to go to the Christmas department (Santanda). Unfortunately, nobody had told us beforehand that you had to reserve there so that we crashed into the admission control. </p>
        <p> Then we moved on to the Times Square like cast poodles and looked at the Hard Rock Cafe, Bubba Gump Shrimps and of course in the Disney Store. Here, however, our paths should separate. I still had an admission ticket for a Pentatonix concert this evening. An A-capella band from the USA. The concert was really great and in a beautiful theater (Beacon Theater), with a lot of splendor and gold. In the meantime, Steffi looked around the M&amp;M store and then drove back to the hotel. </p>
        <p> After the concert, I made my way back to the hotel. It was still raining and the wind was getting stronger. In front of the hotel I had really problems getting forward because it stormed. Well we want to hope that it will be better tomorrow. Steffi reported that the television program tells something about storm surge etc., but didn't look so bad ... let's wait! Good night. </p>
    </div>

</div><!--=== End Post ===-->
