---
layout: blog/en/travelblog
title: "03/17/2018 I am old"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "This morning I decided to bring my things to the accommodation first. I'm staying at Dino Residences tonight and have a"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4648.jpg"
    alt: "The trucks make a terrible noise"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} small but nice room with a well-functioning air conditioning system. What more could you want? </p>
        <p> Then I took care of my dirty laundry. It's really convenient here. There's a laundromat on the ground floor that even offers a worry-free service for a small fee. I just gave a lady there my bags of clothes, my room number, and paid. In the evening, I got my clothes back dry and folded. Almost like back home with Mom, except today I have to pay about €2.50 for it. </p>
        <p>
            <strong> Thanks Mom for spoiling me in the past. </strong>
        </p>
        <p> Today I wanted to visit another area of the city that I haven't been to yet. So I got two bottles of water and set off. The route was less than 3 km long, but the sun was burning quite intensely again. I had chosen the Hayahay Treehouse Bar as my destination. From there, you have a nice view over the water and can see 3 neighboring islands. When I arrived at my destination, I had finished the now warm water and first needed a mango shake and a Sprite to cool down again. I stayed there in the shade for a while and enjoyed the view from the treehouse. Unfortunately, I had to admit that I'm getting really old. Not even an hour in the sun and I'm ready for an afternoon nap? I think I'm getting old!!!! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Unfortunately, the cell phone reception here wasn't very good, probably due to the aluminum roof of the treehouse. But I wanted to have good reception when Steffi arrives in Manila. I found a tricycle to take me to the city, where I first went to a supermarket to really cool down. Steffi then reported that she had a good flight and everything is going smoothly. She's staying in Manila tonight and tomorrow at noon she'll finally fly into my arms here in Dumaguete. </p>
        <p> I then made myself comfortable with a donut and a much too sweet strawberry shake (today is officially sin day) before heading back to the accommodation. </p>
        <p> There, there was continuous noise from two directions until 9 p.m. Loud music was coming from speakers at the shopping mall across the street. Live music (pop and rock) was coming from a church behind the house. Since sleeping was out of the question, I decided to work a bit and block out the background noise with my good headphones. </p>
        <p> Tomorrow I'll have my little one all to myself again. I'm looking forward to it. </p>
    </div>
</div><!--=== End Post ===-->
