---
layout: blog/en/travelblog
title: "03/18/18 Steffi finally there"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "Not much was on the agenda this morning. I slept in until just before noon, finished up, and checked out."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4657.jpg"
    alt: "Steffi sits in the plane"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} I then took a tricycle to our accommodation for tonight. Back to the Flying Fish Hostel, where I stayed two weeks ago. But it's only for one night again, as we're moving to KAV's Beach Resort tomorrow, where we'll stay until at least Friday. </p>
        <p> After check-in, I walked to the city and ended up at the Rollin Pin Cafe again, where I've spent almost every day over the past few weeks, enjoying French toast with watermelon shake. </p>
        <p> I stayed there until I saw in my flight app that Steffi was on approach. I then took a tricycle to the airport. After a few minutes of waiting, my Steffi finally came out of the arrival area. I finally have her back. </p>
        <p> After we brought her things to the hostel, we went to the city center and strolled through the streets before looking for a restaurant for dinner on the promenade. </p>
        <p> Tomorrow we'll go to the resort. Hopefully, the internet there will be good enough to work. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
