---
layout: blog/en/travelblog
title: "12/27/18 Duty-Free Allowance Exhausted!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

author: "Steffi &amp; Basti"

overview:
  intro: "This morning we spontaneously decided to drive to the Tanger Outlet in the south of Washington. This is also a shopping center where you can find"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7382.jpg"
    alt: "The calories are literally smiling at us at Johnny Rockets"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p>
            <strong>Basti:</strong>
            <br> {{ page.overview.intro|raw }} almost all major brands at small prices. Some shops offer up to 80% off. Since Americans are a bit wider than Germans, I had hopes of finding a good pair of pants or two. Unfortunately, we had to be informed at the first men's outfitter that while getting my size isn't a problem here, I'm unfortunately too tall for American standards and it's difficult to find the right length. </p>
        <p> We wandered through the really empty and relaxed outlet from shop to shop, and this time Steffi was luckier than me, so the backpack filled up quickly. </p>
        <p> Meanwhile, hunger was calling quite loudly, so we first stopped at Johnny Rockets and consumed a large load of unhealthy food before continuing through the shops. </p>
        <p> In one shop we found something for our mothers, which we then bought more or less spontaneously. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            <strong>Steffi:</strong>
            <br> Unfortunately, my gaze then fell on a shoe shop, and in the window there were sneakers that practically called out to me.
            After almost 4.5 hours we were done, our backpacks full, we also had several shopping bags, and so we headed back toward D.C.
            There we went to the Hard Rock Cafe, where we didn't find what we were looking for. This time there were only things for colleagues and relatives. </p>
        <p> Then we continued toward the hotel, with a detour via the supermarket to buy water again.
            Actually, we just wanted to drop off our things and go out again, but decided to do a test pack and calculate the customs. And then came the realization... </p>
        <p> Suitcase full and duty-free allowance completely exhausted. Oops!!! </p>
    </div>

</div><!--=== End Post ===-->
