---
layout: blog/en/travelblog
title: "04.04. 12 turtles and jellyfish"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "Today we went straight to the diving center without breakfast, because it should start at 10.30 a.m. The Saxons from the previous day were also there"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4960.jpg"
    alt: "A Banka boat on the beach of Anda in sunset."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}, as well as a father with his two children. Basti had his own guide again because he didn't want to dive as deep as the others. After a few messages, what comes with, who wears what, then we went down to the boat. As a precaution we had taken a drop, but it would not have been necessary because we did not drive 300 m. Well, feed fish better than at the end! </p>
        <p> The divers disappeared into blue and we Schnorkler also got ready and hopped in. The first thought was very deep here, there will hardly be anything to see. This should then come true immediately, because I was almost immediately out of the water. Suddenly it burned all over the body. From a hairline to the tips of the foot, I suddenly felt tons of a kind of electric shocks. I was in the middle of a swarm of mini jellyfish or somewhat larger jellyfish. I guess what I felt at the moment was a panic attack just before breaking out. I was looking for the boat, which unfortunately was already a whole piece away and quickly made my way back. The electric shocks were no less and then I already saw that a piece of me panicked the kids and the dad also brought them to the boat. It was probably the same as me. Finally arrived on the boat, the crew already saw what had happened, because they all bathed us in vinegar. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

    <div class="col-md-12">
        <p> It burned all over the body, but my face added it to it. The vinegar helped, but I don't have to experience that again. So much for the beautiful snorkeling trip! The kids and I sat on the edge of the boat, repeatedly tip off vinegar and waited that the divers came back. </p>
        <p> At some point the boat implemented and we put on again shortly before the bank. The kids risked another foot into the water and said that there were no jellyfish. I also risked a look and it was actually jellyfish -free and also relatively flat, so I met Nemo and Co. right away. Fortunately, I hardly noticed the burning in the water and so I enjoyed the variety of fish. At some point the crew gave me a sign that it collected the divers and I looked where I was currently. I was so close to the beach that I gave the OK sign and so they drove off. After the divers were collected, the boat came straight to the beach and I swam behind. Hardly out of the water it started to burn again, so everything was rinsed out in the diving base and into the pool. Unfortunately, it didn't help as well as the sea, but the main thing is a touch of cooling and, above all, distraction. </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5063.jpg" alt="The tricycles in the regional structure">
        </div>
    </div>
    <div class="col-md-6">
        <p> Basti then reported that he had pretty strong current while diving.
            It was his first dive where he dipped with the current.
            That was unusual because the water brought him out of balance from time to time or pressed him on his fins.
            To do this, he was lucky to meet underwater on 12 turtles.
            In some moments, he said, there were so many animals that he almost came closer to one or the other animal than wanted.
            Otherwise, it was probably an interesting dive for him above a steep wall with many corals, anemones and, above all, many fish. </p>
        <p> Later we ended up at the reception and looked at the excursion catalog again. A tour started again and again, but she didn't quite fit us. We then clarified whether you can adjust it and we explained to us "You can plan the tour as you want, because you get a minibus and driver for yourself". Well that's a statement. So here and there we redesigned a little and we had already booked the driver for tomorrow. </p>
        <p> Fortunately, the most burning was gone in the evening, and there were no places that remained and so we decided to take a trip to Anda, especially since we needed mouthwater and sun milk anyway. The hotel called us a tricycle and almost 10 minutes later it was there. </p>
    </div>

    <div class="col-md-12">
        <p> And lo and behold ... the tricyles look different here again. This time there was benches at the back and we really had space. The journey took almost 10-15 minutes and we had ourselves left at the local church. First we headed for the beach and WoW was full, at least compared to all your lonely beaches we have seen so far. There was life here and there were many pavilions and people cooked and ate together. On the Internet we read beforehand that the beach of Anda is one of the most beautiful in the Philippines and we can sign. Nice long, very fine and bright sandy beach and also very clean. We strolled towards the sunset and then made our way through the village. </p>
        <p> Here we got the necessary things and landed at the baker and got delicious rolls for dinner again and for our tomorrow's island tour. Arrived again in the hotel, like things, also stored in the fridge. After all, we are capable of learning about ants and food!
            The rest of the evening we relaxed again in the resort. Good night! </p>
    </div>


    </div><!--=== End Post ===-->
