---
layout: blog/en/travelblog
title: "12/19/18 Arrival in New York"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - new York
  - Netherlands
  - Amsterdam

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

overview:
  intro: "This year Steffi and I are lucky enough to be able to take a vacation over Christmas at the same time. So we decided this time"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_6698.jpg"
    alt: "The entrance to the Hilton Garden Inn Financial District Downtown Manhattan"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} easy to cut off. First we had the plan to just look for a small hut for us somewhere in the mountains. Then there were considerations to cut off to Egypt and in the end we found cheap flights to New York. </p>
        <p> Now we flew to New York today, via Amsterdam. This time it should go over the large pond with KLM. Actually a renowned airline from the Netherlands, where we have only heard good things so far. Unfortunately, the Amsterdam plane was very tight. Feels more closer than the low -cost airline Ryanair. We don't mention the dirty toilets, but the good food and the friendly staff. </p>
        <p> Landed in New York, it took about 1.5 hours until we were through passport control and customs. But we were apparently just there in time, because when we were finally on it, the amount of people was around 3 times. </p>
        <p> Another hour later we arrived in Manhattan, more precisely in the Hilton Gardeninn between Wall Street and Staten Island ferry. Our room is on the 20th floor and has city views. Stadtblick thinks of the next 3 high -rise buildings. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We only looked for a little something to eat and still bought water on the way back before we were in bed at 8:00 p.m. (02:00 a.m. German time) and wanted to see another episode of our favorite series. We have to look at this again tonight, as we both fell asleep within seconds. </p>
        <p> What's next? </p>
        <p> We stay here in New York until 25.12. And then take the train to Washington D.C. On December 30th. Then let's go back to New York. Here we stay again near JFK Airport and fly on December 31st. At 9:30 p.m. back to Germany and land around 2:10 p.m. in Hamburg again. </p>
        <p> Until then, Steffi and Basti wish you a few nice and relaxed pre -Christmas days. See you soon. </p>
    </div>

</div><!--=== End Post ===-->
