---
layout: blog/en/travelblog
title: "12/30/18 Welcome Back to New York"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.
  - new York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "Today we dawned around the hotel until the check -out time and rested. At 1 p.m. our train went back to"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7531.jpg"
    alt: "An ambulance in front of the hotel"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Manhattan. </p>
        <p> As on the way, the journey was jerking and after this time only 3 hours of driving, since we had an express train, we were back in New York. It continued with the metro towards Queens, because there was our room for the last night. </p>
        <p> When we arrived, a pure residential area including shopping centers etc. </p>
        <p> After we moved into the room, we let ourselves fall on the bed for almost 1 hour. Afterwards, however, it really went to the center but only for the food court for dinner. </p>
        <p> Back in the Metro, the way to the Rockefeller Center led us, only we didn't expect such masses to people. Of course there was no chance of getting up on the visual deck, so that we pulled off again and yet drove back to the hotel. </p>
        <p> The cold really makes us ready. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

</div><!--=== End Post ===-->
