---
layout: blog/en/travelblog
title: "03/04 - 03/07/18 Stupid Cold"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "Since I had a lot of work to do over the last few days, I didn't have time to post daily updates. So I'll now summarize the last few days"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4404.jpg"
    alt: "Promenade in Dumaguete"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} briefly. </p>
        <p> Since I'm not just here to travel but also to work, and because the hostel had poor internet connection, I moved to an apartment in the city center after just 2 nights. There's much faster internet on my phone, and there should also be faster WiFi. The apartment owner was very helpful, and we first tested the speed. But it was anything but fast. He immediately called the provider, who came the next morning to try to solve the problem. Unfortunately, it turned out that the issue was with the nearby school, where too many people are connecting to the same radio tower. Since converting to wired internet would take a few days, the apartment owner offered to move me up one floor, where he already has wired internet. Of course, I accepted this offer and extended my stay with him until March 16th. Working from here won't be a problem for the next few days. </p>
        <p> Until Wednesday, I continued to fight my cold with all my might and only took short walks in the city in the morning. There's a long promenade right by the sea where you can finally take a stroll. I burned my bottom several times trying to sit on the wall along the water in one place or another. Ouch ;) </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
