---
layout: blog/en/travelblog
title: "03/25/2018 Washing in Dumaguete"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "Since our clothes were running low and cash even more so, we decided to go to the city today and drop off our things at the"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4809.jpg"
    alt: "Steffi in a tricycle"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} wash center. After dropping off our laundry, we took a tricycle to a bar at the beach and spent some time there. Then we walked to the city center because we wanted to look for a new swim shirt or tour shirts. The search was unfortunately unsuccessful, so we found another driver and went to a larger shopping center that had just opened. First, we went to exchange money and then we browsed through the stores. In one shop, there were really nice sneakers for me, but I left them. The price wasn't much less than at home, and I would have had to carry them around! </p>
        <p> A nationwide tournament was taking place in the middle of the center. As it turned out later... just trash talk in equipment until the other one is on the mat! Our growling stomachs now indicated it was lunchtime, so we went to a small restaurant outside the center and treated ourselves to something nice. Stupidly, I couldn't get the sneakers out of my head and I looked for them on the internet... Do they even exist in Germany?! The search was unsuccessful, and we decided to take a closer look at them again. Well, and they were already bought!!! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We had now seen everything in the center, so we picked up our clothes and made our way back to the hotel. Once back there, we decided to play a round of UNO during dinner, which consisted of delicious rolls, jam, and watermelon, and we had the company of a dog from the neighboring property. </p>
    </div>
</div><!--=== End Post ===-->
