---
layout: blog/en/travelblog
title: "03/12/2018 Diving Before Working"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "This morning I was awake too early again and was on the bus to Dauin before 8 a.m. Today we went to the other end of Dauin to the dive site J & P. I took my camera with me today and filmed everything. We even went down to 17 meters where we hovered over long sandbars."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4518.jpg"
    alt: "The corals underwater."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} There was a lot to see again, but not quite as much or as colorful as the day before yesterday. Unfortunately, there was no turtle nearby today. Next time, I'd prefer to go back to the first dive site and film and take photos in peace. </p>
        <p> After diving, I stayed in the Dive Cafe for some time and exchanged ideas with other divers. </p>
        <p> In the afternoon it was time to get back to work. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
