---
layout: blog/en/travelblog
title: "12/30/18 Welcome Back to New York!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "Today we lounged around the hotel until checkout time and rested. At 1 p.m. our train headed back to"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7531.jpg"
    alt: "An ambulance in front of the hotel"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Manhattan. </p>
        <p> Like on the way there, the journey was bumpy, but this time it only took 3 hours since we had an express train. We were back in New York. We continued by subway toward Queens, where our room for the last night was located. </p>
        <p> When we arrived, we found ourselves in a purely residential area with shopping centers etc. Good thing we've reached our shopping limit, otherwise it could have ended badly. </p>
        <p> After we moved into the room, we collapsed on the bed for almost an hour. Afterwards, we headed to the center but only to the food court for dinner. </p>
        <p> Back on the subway, our path led us to Rockefeller Center, but we hadn't expected such crowds of people. Of course, there was no chance of getting up to the observation deck, so we turned around and headed back to the hotel. </p>
        <p> The cold is really taking its toll on us. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div><!--=== End Post ===-->
