---
layout: blog/en/travelblog
title: "07.04. Care for hand and foot"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Panglao
  - Manila

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "Since my color on the fingernails had more or less independent, it went to Alona again after breakfast after breakfast"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5293.jpg"
alt: "Sebastian Thoss when he treated himself to his last mangoshake of the vacation."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ Beach in to renew the whole thing again. Basti accompanied me, but only stopped at the store and then went for a walk. </p>
        <p> Today the shop looked significantly more relaxed and so I booked next to manicure, and the pedicure. I spent almost 1.5 hours on the tuffy sofa and then wrote Basti. This informed me that he had made it comfortable with Dunkin Donuts and so I collected him there. </p>
        <p> Arrived again at the resort, we packed the rest of the things and the staff at the door "The driver is here" was knocking! Since he was there a little earlier than expected, we forgot to take a few photos of the facility in the end, but that could no longer be changed. </p>
        <p> The trip to Tagbilaran Airport lasted almost 1 hour and there was a lot of operation when we arrived. Giving up our luggage went quite quickly and so we landed in a small waiting hall again. This became really full and loud over time and then three musicians started to make music. These are apparently arranged by the airport, about the blind and disabled association, because the instruments were already there on our arrival. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5283.jpg" alt="The view from the roof terrace of the Tryp by Wyndham Mall of Asia by Night">
        </div>
    </div>
    <div class="col-md-12">
        <p> They didn't play and sang bad at all, but it was annoying myself in the hall that is much too loud anyway. Then it was finally called "Boarding" and we were able to take our emergency exit places in row 12. As soon as we were served in the air, we were already served our food, which was included in our package. This was actually very tasty (beef, rice, dark sauce, vegetables, chilli&rsquo;s), only pretty spicy. The flight went calmly and so we landed in Manila on time. Fortunately, our luggage was not long in coming, so that we could quickly order an Uber, which was there even after about 10 minutes. Fortunately, the streets of Manila were quite empty this time, so the trip to the hotel "Tryp by Wyndham Mall of Asia" did not take long. </p>
        <p> Hardly driven in front of the hotel, the car door was already stopped and our luggage was invited to a suitcase car. We were sent up the escalator and had to look around first, since unfortunately there was no signs for the reception - this hid behind bar and conference room. Checking in was actually quite good, but luckily Basti was there, because in the end I only understood the train station. Credit card backing here, security deposit there, credit here, etc. I would have been completely stuck! In the end we got our room card for room "807", strolled to the elevator and drove to the 8th floor. The room was quite spacious, offered 2 large cuddly beds and would also have a bench directly at the window with a beautiful view over the sea and the city. We just enjoyed the view on the windowsill, so it rang suddenly. I went to the door and our suitcases were brought. That rings did not end and we only realized that it was the phone. Ups! The lady from the reception wanted to explain Basti again and so in the end everything was fine again. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-6">
        <p> After a short relaxation, we decided to go for a walk, but wanted to look at the pool on the roof beforehand. Unfortunately, the elevator keeps one floor lower and here, too, the signage is not the best, but you will be rewarded with a beautiful roof terrace and with a better outlook once you have found access. We shot some photos, enjoyed the view until it got too windy and then we drove down again to go. We walked along the promenade, past many restaurants and then landed at a fair that is permanently installed. The prices here were also totally laughable and actually you should have used it right away, but unfortunately I wasn't going to carousel at all. Arrived in the middle, there were suddenly many people and looked towards the sea and since we are curious tourists, we also stopped. The promenade was cordoned off a bit and Basti discovered supposed fireworks material on the promenade wall. Hm it was shortly before 7 p.m. so we just waited and hoped to be rewarded with a beautiful fireworks shortly afterwards. So we had done everything right again and were at the right time, in the right place. </p>
        <p> At Basti the thirst came in and so we went on a search for the fireworks and landed at a really small stand. This was so low that Basti only fits it. He treated himself to a mangoshake and then we went over to the Mall of Asia leisurely. There we strolled comfortably from shop to shop and even found small gifts for at home. We had to run a lot for that, because the center is divided into categories. </p>
    </div>
    <div class="col-md-12">
        <p> The hunger was now also loud and we ended up in a Chinese snack/restaurant near Dumplings and Bratreis. Via Promenade it went slowly back to the hotel and we still sat in the bar. There was a Baileys for Basti and I treated myself to a plastic bag with ice cubes. At some point I had stabbed something briefly over my knee and running through the running and swelling to much too much dimensions and also hurt. Accordingly, I didn't order a drink at the bar, but just ice in the bag. </p>
        <p> Since the batteries of our cell phones were empty, it went to the room and later under the rainforest shower. Unfortunately, it was also misplant here, because the shower partition was far too short, so that the bathroom was partly under water shortly afterwards. Well, it's not my bathroom, but always annoying something. When drying hair, it also noticed that the cleaning in the bathroom is unfortunately not the best. The sink had gray watercourses everywhere. Too bad for such a new hotel. </p>
        <p> We then briefly chatted, but the beds called very loudly and we disappeared into the dreamland. </p>
    </div>

</div><!--=== End Post ===-->
