---
layout: blog/en/travelblog
title: "12/27/18 Free quantities exhausted"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

author: "Steffi &amp; Basti"

overview:
  intro: "This morning we spontaneously decided to drive to the Tangier Outlet in the south of Washington. This is also a shopping center in which it"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7382.jpg"
    alt: "The Kcal letters to us at Johnny Rockets."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p>
            <strong> Basti: </strong>
            <br> {{ page.overview.intro|raw }} almost all large brands at small prices. In some shops there are up to 80% discount. Since the Americans are a little wider than the Germans, I had hope for one or the other good trousers. Unfortunately, we had to be instructed at the first men's outfitter that it is not a problem here to get my vastness. Unfortunately, I'm too big for American conditions and it is difficult to get the right length. </p>
        <p> We sneaked down in the really empty and relaxed outlet from shop and this time Steffi was more lucky than me, so that the backpack quickly filled up. </p>
        <p> In the meantime, the hunger called for us quite according to the hunger, so that we first stopped at Johnny Rockets and incorporated a large load unhealthy until we continued through the shops. </p>
        <p> In a shop we found something for our mothers, which we then took with more or less spontaneous. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            <strong> Steffi: </strong>
            <br> Stupidly my gaze then went to a shoe shop and in the shop window there were sneakers that almost called me.
            After almost 4.5 hours we were through, our backpacks full, we also had several tag bags and so we went back to the direction of D.C.
            There we went to the Hard Rock Cafe, where we did not find what we were looking for. This time there were only things for colleagues and relatives. </p>
        <p> Then we continued towards the hotel, with a detour via the supermarket, to buy water again.
            Actually, we just wanted to unload things and go again, but decided that we put a sample and calculate customs. And then the knowledge came ... </p>
        <p> Case full and duty -free amount completely exhausted. Ups !!! </p>
    </div>

</div><!--=== End Post ===-->
