---
layout: blog/en/travelblog
title: "02/23/18 Departure to Manila"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Manila
  - Dubai
  - United Arab Emirates

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "Today it finally started towards the Philippines. After a few hours of work and some final meetings in the office, I went to"
  image:
    url: /assets/img/blog/2018-philippines/small/IMG_4172.jpg
    alt: "Basti at Hamburg Airport"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} the airport.
            There was already a friendly Emirates staff member waiting for me to tell me that 12.5kg of hand luggage would not be acceptable.
            After some repacking, the lady was happy and allowed me to proceed with just 7.5kg. </p>
        <p> The flight to Dubai was a bit bumpy in places, and I was quite exhausted when I arrived.
            Unfortunately, no hotel room was waiting there, just a three-hour layover and another flight for me. </p>
        <p> The flight to Manila was much more relaxed, and I was even able to sleep for an hour or two.
            At the airport, I got a local SIM card with the number +63 920 672 9544.
            But you can still reach me normally through my usual number via WhatsApp or iMessage. </p>
        <p> The taxi ride to the accommodation, 8.5 km away, was very traffic-heavy.
            We needed 70 minutes.
            It's good that I had booked a fixed price of only 5 euros online.
            This would have been really expensive in Germany.
            The accommodation, bed, and balcony are good.
            Unfortunately, there was a party at the neighboring school until late into the next morning.
            At least the music selection was good. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
