---
layout: blog/en/travelblog
title: "03/02/2018 Building a Prototype"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Cebu
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "There's not much to tell for the last two days as they were working days. Since the internet speed"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4338.jpg"
    alt: "Sebastian Thoss working on the balcony in Cebu at sunset"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} at A Space Cebu wasn't as good as hoped, I decided to work directly from my accommodation for these two days. </p>
        <p> The plan for these two days was to build a prototype for a new software in the team to better understand where which information comes from and how we can save it in the right format. We divided the tasks and decided that I would keep a video call open throughout working hours and that we would meet and coordinate every few hours or when questions arise. </p>
        <p> In my free time, I continued to fight against the remains of my cold and the resulting cough. On Friday morning, before work, I finally decided to take the bus to Dumaguete on Saturday. Not because it's much cheaper, but because hopefully you get to see more of the Philippines. I booked a single room in a youth hostel in Dumaguete until Monday. First, I'll see how fast the internet is there and whether I can somehow work from there. If not, I'll just take the plane back to Cebu and continue working from here. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NEpZTV9qRUk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div><!--=== End Post ===-->
