---
layout: blog/en/travelblog
title: "03/08/18 Work in Paradise"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "On Thursday I finally decided to take the bus to the neighboring town of Dauin to visit a dive cafe and at least"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4495.jpg"
    alt: "Working on the beach in Dauin"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} finally get my feet in the water. In Dauin there's a nature conservation reserve that includes large parts of the coastal waters because there's a coral reef that's supposed to reach the beach. </p>
        <p> I only sat in the cafe for 2 hours and did some work.
            I then had someone explain the way to the beach and set off. After a 5-minute walk through rough terrain, the beach came into view.
            The sand has a beautiful milk coffee brown color and is relatively coarse-grained.
            I hadn't expected that because beaches on coral reefs are usually white and made up of dead coral. </p>
        <p> But not here. The best part was that I was almost completely alone on the beach. I only walked about 100m along the beach before some small bamboo pavilions invited me to stay. I made myself comfortable there and decided to work on another task. I still had battery left. This is how I imagine working in paradise, and yes, it was truly paradise. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z-qQWCiZzws?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div><div class="row">
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4502.jpg" alt="The hole in the roof where I was just sitting">
        </div>
    </div>

    <div class="col-md-6">
        <p> &nbsp; </p>
        <p> My concentration was only interrupted by a gecko that hid in a bamboo tube in front of me and my camera. It made such strange sounds, amplified by the bamboo, that I first thought it was some unknown function of my new phone. The gecko then looked out of the tube every 30 minutes to further annoy me and my camera. </p>
        <p> Another family was sitting nearby. After a while they went snorkeling, and I overheard how beautiful it was and that there were fish everywhere. I think I'll have to go diving here soon. I hope my nose will finally be clear again soon. </p>
        <p> When my laptop battery was almost empty, there was a loud crunching and cracking above me, and I heard something bigger coming down from the tree. It really banged loudly several times. I just watched myself run toward the water and hoped it was the right direction. </p>
        <p> Yes, it was lucky. After just a few seconds, it was quiet again as if nothing had happened. I stopped in front of the water and looked around. I saw this 15 to 20 kg branch lying right next to the table where I had just been sitting. On the other side of the pavilion, there were other branches and parts of the pavilion roof. </p>
        <p> I took a closer look at the roof and found that a nice hole gaped at the spot where I had just been sitting, and only the thicker bamboo strut prevented the branch from hitting me. Phew, that was really close. </p>
        <p> Many thanks to my guardian angel. Since my laptop battery was dead and I couldn't concentrate anymore, I slowly made my way back to Dumaguete. </p>
        <p> In the evening I worked for the remaining hours, and today I went to bed earlier. </p>
    </div>
</div><!--=== End Post ===-->
