---
layout: blog/en/travelblog
title: "03/12/2018 Diving before working"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "This morning I was awake too early again and was on the bus to Dauin before 8 a.m. Today it went to the other end of Dauin\'s end of Dauin to the J & P. ​​Today I took the camera with me and filmed everything. Today it even went to 17 meters of water where we hovered over long sandbars."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4518.jpg"
    alt: "The corals underwater."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} There was a lot to see again, but not quite as much or colorful as the day before yesterday. Unfortunately, there was no turtle nearby today. Next time, I would rather go back to the first dive site and film again in peace and take photos. </p>
        <p> After diving, I stayed in the Dive Cafe for some time and exchanged ideas with other divers. </p>
        <p> In the afternoon it was time to get to work. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
