---
layout: blog/en/travelblog
title: "12/22/18 Brooklyn we come"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - new York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "Today we wanted to redeem our sightseeing pass for the hop on hop off bus, so we first head towards"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4396.jpg"
    alt: "The entrance to the Union Square Christmas Market"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Times Square. On the way there, however, we landed at Applebees and treated ourselves to breakfast. </p>
        <p> We then got on the bus freshly strengthened and curve through Manhattan. Here we remembered a few points that we wanted to visit again later. Although the bus drove really slowly and also progressed very slowly, it was so cold that we got out at our hotel and got a hot chocolate. Since we just weren't warm, we decided to go to our room. However, we bought an orderly nypd coat for neighbor's dog Skippy beforehand. </p>
        <p> After we stayed in the room for a while, we noticed that the last Brooklyn bus should drive shortly, so we started again. We just catch up with the bus and even though we are now wearing more clothes, it remained damn cold. After Brookly, we didn't go over the Brooklyn Bridge, but over the Manhattan Bridge, so that we got the neighboring bridge well on the photo. </p>
        <p> At the last stop in Brooklyn we left the bus, drove 1 station with the metro and then landed on the targeted food market. Basti got a fried Mozzarella bag from the Italian, while I got the Afghan rice with chicken and much too sharp sauce. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Then we briefly strolled into the shopping center next door, where I also found pants. </p>
        <p> Back in the Metro we headed the Union Square Holiday Market. Quasi a Christmas market like ours, just not quite as crowded and less designed for Christmas. With a detour via a drugstore we continued to the Madison Square Park. There should be a large, real gingerbread house here. Once, however, we found nothing except meadow and a lonely Christmas tree. Basti then checked again on the net and discovered that the house was only there until the 19th. Damned! </p>
        <p> In the meantime we were so done again that we started withdrawing to the hotel, got something to drink on the way and fell into bed. </p>
    </div>

</div><!--=== End Post ===-->
