---
layout: blog/en/travelblog
title: "02/01/2018 Workation Philippines"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Manila
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "With this post I would like to initiate a new series. This is about a new way of traveling. It is a"
  image:
    url: "/assets/img/blog/2018-philippines/small/cartoon-2898206.png"
    alt: "A drawing on which a man works on a deck chair on the beach with a laptop."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Experiment, which I will carry out together with my employer in the Philippines. </p>
        <p> First of all, I would like to briefly explain the term workation to you. Workation comes from English and is the combination of words work (work) and vacation (vacation). It means something like "working in a self -chosen place", without a fixed workplace and often during a longer trip. </p>
        <p> As described above, it is an experiment to show whether the company is digital enough and it really doesn't matter from where a well -worked colleague performs. Furthermore, we would like to offer international colleagues to fly to the family in special situations and to extend their stay through work. </p>
        <p> Since I am now a global bumper myself, I decided with my boss to do this experiment myself. Personally, it should show me whether I can work remote whether it would be something for me and whether I can concentrate on the tasks despite the holiday region. </p>
        <p> Following some conditions that we have set for the experiment in order to make it as meaningful as possible. </p>
    </div>
    <div class="col-md-12">
        <ul>
            <li> At least 4 time zones in the future </li>
            <li> A full month should be worked </li>
            <li> The regular working hours should be observed </li>
            <li> Meanwhile there should be a change of location </li>
            <li> The colleagues and the tasks should not be affected </li>
        </ul>
        <p> After some research, I chose the Philippines and the month of March 2018. The Philippines will be 7 hours in the future. With the changeover to summer time in Germany, however, it is only 6 hours. In addition to many criteria, which Thailand also offered, the Philippines won in the end because of their currency. Peso is traded there. The abbreviation for this is PHP. Since PHP is also a programming language and I am even a department head of the PHP developer, it was the tongue on the scale. I know we are all nerds! </p>
    </div>
    <div class="col-md-6">
        <p> So the final plan currently looks like this. I fly to Manila on February 23, 2018. Since I am not a friend of Mega Metropoles, I only stay there for 2 days to make a cell phone number and mobile internet safe and then I continue to fly to Cebu, in the hope of finding water, beach and diving facilities. From February 28, 2018 to Easter (end of March) I want to work from various locations. Afterwards there is 10 days of vacation before going home again. </p>
        <p> You will definitely ask yourself now: "And what about Steffi?" No worries. Steffi is already coming on March 17th, 2018 and is on vacation for the last two weeks of my working time before we then make the over 7,600 islands unsafe all day. I would also like to find out how well it works with the work if you do work alone and how it changes when you are traveling in pairs and only work. </p>
        <p> On April 8th, 2018 our flight goes back from Manila to Hamburg. Almost all travel locations and accommodations in between are still unplanned and should be a little bit of the cell phone reception and internet speed. </p>
        <p> So much for today. But soon more. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top0">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/apartment-1899964.jpg" alt="Laptop with coffee and view">
        </div>
    </div>
</div><!--=== End Post ===-->
