---
layout: blog/en/travelblog
title: "29.03. Kraken, Nemos and Co"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Mactan

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "After breakfast we went back to the room, because we still had no accommodation for our last week on the Phillies."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4893.jpg"
    alt: "The happy hour with cocktails"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} visited the relevant portals, somehow cannot make a decision and thus made it ready to snorkel. </p>
        <p> As soon as we were in the water, Basti waved me and pointed down "H&ouml; what does he want, there is nothing", but then I saw her: a octopus, right below us on the seabed. She was calmly soulful as the bottom of the sea and adapted in fractures of seconds of their surroundings. As soon as we have communicated over water, we really struggled to find them again. We followed her for quite a while until we ended up with seahorses, again at the Clownfisch family. Basti then discovered the fun/rest island for itself and jumped into the water again and again. </p>
        <p> He then went dry because the sun gradually became too much for him and I stayed in it for a while. After I came out, it went towards the beach shell. We had actually got this in the morning and Basti dropped in while I continued to go to the pool with the camera. After that, I also let myself fall into my shell and did nothing anymore. At some point the sea called louder again and so I went snorkeling again and met a damn tall naval estate with 8 arms this time, which actually looked pretty scary and was also on the ground. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4905.jpg" alt="The Asia Restaurant from which we received our lunch">
        </div>
    </div>
    <div class="col-md-12">
        <p> Back on the beach shell again, Basti told what about hunger and so we ordered what from the Asia kitchen and they delivered it directly to the beach shortly afterwards. Wasn't the bringer now, but you could eat. Basti&rsquo;s burger was probably ok. In the evening we were in the tapas bar and treated ourselves to a final cocktail during the happy hour. Basti finished the last emails before the experiment for his employer ended and his vacation was finally able to start. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

    <div class="col-md-6">
        <p> At the same time I watch a little boy to play darts. At some point this winced and looked down. There was suddenly a cursed large spider in our direction. It was about the size of a men's fist. I have never had my legs on a bench so quickly and Basti called for the basement. He grinned first and continued to deal with his glasses when he realized that we did not give peace, he became active. First he tried to push the spider in front of the door with his feet, but it refused and flit under a bar stool. The basement got a napkin and picked up the cattle so carefully and brought it outside. Eeeeeeekig !!! At some point I got bored and I joined the boy and also played a round darts. </p>
        <p> Somehow I was crispy, but the tapas bar unfortunately didn't offer anything suitable. So we moved to the restaurant, ordered fries and vegetarian spring rolls with sweet and sour dip! Hm, the fries came, the spring rolls too, but also a third thing. Apparently sweet and sour is something else here, because as it turned out later, there was still a whole portion of pork fried. Basti found it upper delicious and so everything was fine. Of course, the band also played tonight and at some point they landed with us again (you really get used to it) and this time there was at our wish, Elvis Presley with "Hound Dog". </p>
        <p> Tomorrow we will go to Bohol. Let's see how it will. </p>
    </div>
</div><!--=== End Post ===-->
