---
layout: blog/en/travelblog
title: "12/28/18 And There They Were Flat!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "Last night I noticed a stuffy nose, but I hoped it was just from the air conditioning."
  image:
    url: "/assets/img/blog/2018-usa/small/cold-1947995.jpg"
    alt: "Two cold plush toys"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Unfortunately, my stuffy nose was still there this morning, and had gotten even worse. I tried to ignore it and we drove to the Air & Space Museum in pouring rain. </p>
        <p> Unfortunately, everyone else had the same idea in this weather, so there were lines up to 200m long at all entrances. That was too much for us, and our well-being was declining anyway - Basti was starting to feel it too, so we decided to head back to the hotel. </p>
        <p> There we spent the day lounging on the sofa, watching and dozing through episode after episode of our series. </p>
        <p> Let's hope for better tomorrow!!! </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div><!--=== End Post ===-->
