---
layout: blog/en/travelblog
title: "02/23/2018 Departure to Manila"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Manila
  - Dubai
  - United Arab Emirates

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "Today it finally started towards Philippines. After a few hours of work and a few last votes in the office, I went to"
  image:
    url: /assets/img/blog/2018-philippines/small/IMG_4172.jpg
alt: "Basti at Hamburg Airport"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">

        <p> ___Twig_token_1___ Airport.
            There was already a friendly ladies from Emirates for me to tell me that 12.5kg hand luggage would not be ok.
            After some reinforcing, the lady was happy and had me granted me with only 7.5kg. </p>
        <p> The flight to Dubai was a bit more bumpy in places and I was quite in the bucket when I got there.
            Unfortunately, no hotel room was waiting there but only a three -hour break and another flight for me. </p>
        <p> The flight to Manila was much more relaxed and I could even sleep for an hour or two.
            At the flight, I got a domestic SIM card with the number +63 920 672 9544.
            But I am also quite normal to continue to reach my well -known number via WhatsApp or iMessage. </p>
        <p> The taxi ride to the accommodation, 8.5 km away was very storage.
            We needed 70 minutes.
            It's good that I had booked a fixed price of only 5 euros online.
            This would have been really expensive in Germany.
            Accommodation, bed and balcony is good.
            Unfortunately, there was party in the neighboring school until late in the next morning.
            At least the music selection was good. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
