---
layout: blog/en/travelblog
title: "03/08/2018 Work in paradise"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "On Thursday I finally decided by bus to the neighboring town to go to Dauin to stop by a diver Cafe and at least"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4495.jpg"
    alt: "Work on the beach in Dauin"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} to finally get your feet into the water. In Dauin there is a nature conservation reserve that includes large parts of the coastal waters because there is a coral reef that should reach the beach. </p>
        <p> I only sat in the cafe for 2 hours and worked a little.
            I then let myself be explained to the beach and made my way. After 5 minutes by walking through rough terrain, the beach came into sight.
            The sand has a beautiful milk coffee brown and is relatively coarse -grained.
            I didn't expect that because the beach on a coral reef is usually white and consists of dead corals. </p>
        <p> But not here. The best thing was that I was almost completely alone on the beach. I only ran about 100m along the beach before some small bamboo pavilions invited me to linger. I made it comfortable there and decided to work through another task. I still had battery. So I imagine work in paradise and yes it was really paradise. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z-qQWCiZzws?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div><div class="row">
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4502.jpg" alt="The hole in the roof under which I was just still sitting">
        </div>
    </div>

    <div class="col-md-6">
        <p> &nbsp; </p>
        <p> My concentration was only interrupted by a gecko that hid in a bamboo tube in front of me and my camera. He gave such strange sounds of himself and then reinforced by the bamboo that I thought it was somehow that I was still unknown to my new cell phone. The gecko then looked out of the tube every 30 minutes to further annoy me and my camera. </p>
        <p> Another family was sitting next door. After a while they went snorkeling and I heard with an ear how beautiful it was and that is fish everywhere. I think I have to go diving here soon. I hope that my nose will finally be free again soon. </p>
        <p> When my laptop battery was almost empty, it crunched and cracked it quite loudly above me and I heard something bigger came down from the tree. It really banged loudly several times. I just watched to run towards the water and hoped that it was the right direction. </p>
        <p> Yes, it was lucky. After just a few seconds, it was quiet again as if there was never anything. I stopped in front of the water and looked around. I saw this 15 to 20 kg branch lying right next to the table where I was just sitting. On the other side of the Pavilion, there were other branches and parts of the pavilion roof. </p>
        <p> I took a closer look at the roof and found that a nice hole gaped up at the point where I had just sat and only prevented the thicker bamboo strut from hit me. Phew, that was damn tight. </p>
        <p> Many thanks to my guardian angel. Since the battery was all of my laptop and was no longer thinking of concentration, I slowly made my way back to Dumaguete. </p>
        <p> In the evening I worked for the remaining hours and today I was more to bed. </p>
    </div>
</div><!--=== End Post ===-->
