---
layout: blog/en/travelblog
title: "03/21/18 Hello Clownfish Family"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Zamboanguita
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi &amp; Basti"

overview:
  intro: "Today, despite our sunburned skin - equipped with long-sleeved swim shirts and all - we headed to Dauin, more specifically"
  image:
    url: "/assets/img/blog/2018-philippines/small/P3210063.JPG"
    alt: "Clownfish family in front of their anemone home"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} to the dive café there with the reef right at the doorstep. </p>
        <p> From the resort, we went to the main street and waited for the bus that comes every now and then... or not. We stood there and no one came. Meanwhile, we noticed that this was the start/end point for jeepneys, so we decided to hop on one. Of course, just as we were sitting in the front with the driver, the bus came from behind. No matter, we were seated now and got to know the other typical Philippine mode of transportation. We weren't nearly as fast as with the bus, but we arrived safely and that's what counts! </p>
        <p> When we got off, we quickly grabbed breakfast at a stand and then slowly made our way to the café. There, Basti got his fins while I changed, and then we headed to the water. On the way, we saw a tree with some funny-looking thing on it and I wanted to take a photo. So I got out the new camera and... nothing! There was supposedly a picture... but we couldn't access the memory card. So back to the café, we asked Per the dive instructor to back up the card on his computer, format the whole card in the end, and hope for the best! Fortunately, this worked and we finally made our way into the water. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> At the booth, we had to pay a "snorkeling fee" and then we finally went into the reef. Hardly in the bathtub-warm water, we already met the first fish and shortly after we ended up in the first clownfish family's living room. When diving down to take a closer look at everything, they literally looked at us as if to say "Hey, who are you and what do you want?". We took some photos and then continued swimming over the coral roof. So many different types of fish and coral. The water was always between 1.5m and 7m deep with a slight current along the beach. </p>
        <p> After about 1 hour, we decided we had spent enough time in the sun and made our way back to the Dive Café. We spent some time there before heading back to the resort because Basti's work was calling. On the way, we got some rolls for dinner and breakfast. We packed them in a bag and stored them in the room. A little later when I went into the room, I found that the ants had unfortunately discovered our dinner and started carrying it away. So quickly got out the insect spray, sprayed everything, and threw the rolls in the trash. Of course, outside our bungalow. So we ended up having dinner at the resort again. </p>
    </div>
</div><!--=== End Post ===-->
