---
layout: blog/en/travelblog
title: "02/28/2018 A Space Cebu"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "There's not much to tell today. I slept through the morning to continue fighting my cold."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4320.jpg"
    alt: "A man tries to sell pomelos to passing cars on the side of the road"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} I spent the afternoon and evening working. On my way to A Space Cebu, I made a small detour to a food market called Lenders. This seems to be a wholesaler, but tourists can enter by showing their passport. It was somehow strange to see that so many people have to buy in large quantities and abundance, while just 50 meters away, others have to earn their living on the street by selling individual fruits or chewing gum to passing cars or at traffic lights - a life-threatening affair given the driving style here. </p>
        <p> Once in the office, everything was basically fine, but unfortunately, the internet connection wasn't so great. The internet connection in my accommodation worked much better. But I have that all to myself. </p>
        <p> Tonight there was also a meetup at A Space Cebu that I wanted to attend. A meetup is essentially a gathering of an interest group, and these are usually public and free of charge. There are many different ones distributed around the world. I myself often help my colleagues at kartenmacherei organize meetups, which are often about IT topics. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Today was the first meeting of the WordPress Meetup Group in Cebu. At the beginning, everyone was supposed to briefly introduce themselves and share their IT/WordPress knowledge. I mentioned that my specialty is architecture and testing of web applications. I was promptly asked to participate in a discussion round, as unfortunately, an invited software architect didn't show up. The discussion was quite pleasant and, in some questions, went right into my specialty of testing availability, as well as topics like clean code and remote working. After the meetup, I talked to several software developers and even subtly advertised kartenmacherei as an employer. Three of them had knowledge that was more than interesting for us. Let's see if anyone applies. </p>
        <p> There really wasn't much else to do today. It was a working day. </p>
    </div>
</div><!--=== End Post ===-->
