---
layout: blog/en/travelblog
title: "25.03. Wash in Dumaguete"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "Since our clothes slowly went out and the cash, we decided to go to the city today and our things at the"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4809.jpg"
    alt: "Steffi in a tricycle"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} wash center. After the delivery, we drove to the beach with Tricycle for a bar and wasted it there for some time. Then we walked to the city center because we wanted to look for a new swimming shirt or touring shirts. The search was unfortunately unsuccessful and so we looked for a driver again and drove to a larger shopping center, which had now also opened. First we went to change money and then we pulled through the rows. In a shop there were really chic sneakers for me, but I left it. The price was not much less than at home and so I would have to drag it! </p>
        <p> A nationwide tournament took place in the middle of the center. As it turned out later ... just thrash into equipment until the other is on the mat! Our growling stomachs now said something of lunchtime and so we went to a small restaurant outside of the center and treated ourselves to something fine. Stupidly, the sneakers no longer went out of my head and I was looking for them on the Internet ... Are there any in Germany?! The search was unsuccessful and we decided to take a close look at it again. Well and they were already bought !!! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We had now seen everything in the center and so we picked up our clothes and made our way back to the hotel. Arrived there again, we decided to play a round of UN on dinner, consisting of delicious rolls, jam and watermelon, and had the company of a dog from the neighboring property. </p>
    </div>
</div><!--=== End Post ===-->
