---
layout: blog/en/travelblog
title: "12/24/18 Oh Happy Day"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - new York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

overview:
  intro: "Today started a little later, but very similar to yesterday. First it went back to Staten Island, around the sauces for Steffi"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7228.jpg"
    alt: "At National Geographic Ocean Odyssey you could label puzzle parts and put together a large whole"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}. </p>
        <p> Then we decided to use the &ldquo;hop-on hop-off downtown&rdquo; bus back to the Times Square and switch to the &ldquo;Uptown&rdquo; bus. Unfortunately we had to wait 30 minutes until a bus finally came. This was also so overcrowded that we quickly decided not to get in and prefer to go to an exhibition from National Geographic&rsquo;s. </p>
        <p> The whole thing is called Ocean Odyssey. This is a dive into the world's oceans, without getting wet or peeling out of the cozy clothes. This is a purely virtual tour, the only real water here, is a small fountain in the stairwell. There are also no real animals/corals here, but all the more monitors, projections and staff who explain everything to you. There are many small individual rooms in which something else always waits for you. The seals and the Kelbwald fell best. A place where you can learn a lot about our oceans and in casual you are also informed about environmental protection and without it being intrusive or with a raised index finger. </p>
        <p> After this exciting experience, Steffi finally wanted to eat a burger. She's been here for so long and we haven't had one yet. So we landed on the other side of the street in a small diner and ate delicious burgers. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We made our way back to the hotel. Make it chic quickly, because today is Christmas and you give yourself a little. Since we are not at home this year, we decided to give ourselves a nice joint experience for Christmas. We gave each other tickets for the Harlem Gospel Choir in the Sony Hall on Broadway. On the way there we passed another Christmas market and take the chance to stroll over it. </p>
        <p> As I said, the concert was in the Sony Music Hall. What turned out to be a kind of restaurant with a stage. We were there in good time that we got a nice somewhat increase space with a good view. About 20 rows sat in front of us, which didn't bother at all. Since only the loudspeakers were switched on directly on the stage, the music was not too loud for us, so that I could even enjoy the concert this time without hearing protection. After about an hour the choir took a short break. Steffi took the chance to kick off. A few minutes later she comes back with a grin and tells that left and right next to her was sung in the cabins. When she got out, she found that the singers were personally. The remaining women from the choir stood in the queue to the toilets. They have to go where too. The concert went for a total of 2 hours and the choir obviously had fun on stage and included the audience on the show. After the concert, all singers were still at the exit and were available for conversations, photos and signatures. </p>
        <p> After that we went back to the hotel. It was already after 10 p.m. and tomorrow our train will go to Washington D.C. </p>
        <p> Good night. </p>
    </div>

</div><!--=== End Post ===-->
