---
layout: blog/en/travelblog
title: "12/22/18 Brooklyn, Here We Come"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "Today we wanted to redeem our sightseeing pass for the hop-on hop-off bus, so we first headed towards"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4396.jpg"
    alt: "The entrance to the Union Square Christmas Market"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Times Square. On the way there, however, we stopped at Applebee's and treated ourselves to breakfast. </p>
        <p> Freshly fortified, we then boarded the bus and wound our way through Manhattan. Here we noted several points that we wanted to visit again later. Although the bus drove really slowly and made very little progress, it was so cold that we got out near our hotel and got a hot chocolate. Since we just couldn't get warm, we decided to go to our room. However, we first bought an NYPD coat for our neighbor's dog Skippy, as requested. </p>
        <p> After spending some time in the room, we noticed that the last Brooklyn bus should be leaving soon, so we set out again. We just caught the bus, and even though we were now wearing more clothes, it remained terribly cold. To Brooklyn, we didn't go over the Brooklyn Bridge, but over the Manhattan Bridge instead, which gave us a good view of the neighboring bridge for photos. </p>
        <p> At the last stop in Brooklyn, we left the bus, took the subway one station, and then arrived at our target food market. Basti got a fried mozzarella pocket from the Italian vendor, while I got Afghan rice with chicken and a much too spicy sauce. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Then we briefly strolled into the shopping center next door, where I also found some pants. </p>
        <p> Back on the subway, we headed to the Union Square Holiday Market. It's like a Christmas market like we have at home, just not as crowded and less focused on Christmas. With a detour via a drugstore, we continued to Madison Square Park. There should have been a large, real gingerbread house here. However, we found nothing except grass and a lonely Christmas tree. Basti then checked online again and discovered that the house was only there until the 19th. Darn! </p>
        <p> By this time we were so exhausted again that we started making our way back to the hotel, got something to drink on the way, and fell into bed. </p>
    </div>

</div><!--=== End Post ===-->
