---
layout: blog/en/travelblog
title: "04.04. & 09.04. We don\'t woolle!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Manila
  - Dubai
  - Germany
  - Hamburg

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "For today there was a lot on our piece of paper. First: Shopping !!! We checked out and left our backpacks and suitcases in"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5326.jpg"
    alt: "We don\'t want to go here!"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Hotel. We then walked the promenade in daylight on foot and enjoyed the beautiful warm temperatures. Somehow we still didn't have the need to fly home. </p>
        <p> It went to the Mall of Asia. A huge shopping center with over 600 shops and over 200 restaurants. On the way there we saw that next door was built for an open air concert. We feared that traffic chaos could then occur in the evening. Which would be pretty stupid because we have to open ourselves a taxi towards the airport at around 7 p.m. When we arrived at the center, we started looking for breakfast before we systematically wandered through the rows and got stuck in some shops. Steffi found a few more pairs of shoes and I donated a chic bracelet to her that underlines her new nail polish. For me there was no shoes. Size 45/46 is not so easy to find there. Not even with brands like Adidas. </p>
        <p> We landed in the TGI Fridays for noon. There, a waitress also clarified that the open air stage in front of the window for Ed Sheeran was set up. That also explained why his music is running up and down all day long. Steffi then found that there are even tickets to buy. Promptly we didn't feel like having to fly home anymore. We would have loved to look at that. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5325.jpg" alt="Our last sunset in the Philippines. Beautiful.">
        </div>
    </div>
    <div class="col-md-12">
        <p> In the afternoon we came to a kind of Galeria Kaufhof. Then I found what I was looking for. First I donated a new laptop bag. It continued with a yellow exchange, several belts, two shorts and a baseball cap. There is advice there on every corner and every shelf has its own employee. Of course, everyone was very nice and tried. Unfortunately, this is becoming increasingly less common in Germany. Steffi then bought chic new nail polish in a similar color for at home. </p>
        <p> Then our feet really hurt. So we made our way back to the hotel. As guessed, the streets were packed and there was no getting through. On the way to the hotel, however, we saw that the intersection was free to the west. This was not the shortest way to the airport but the fastest way out of the concert's haze. So we ordered a Uber again and exactly to this intersection. When the friendly hotel employee noticed that we had to run a few meters with our heavy bags to get to the vehicle, he grabbed both backpacks with about 30kg and brought them there for us. Wow. What a service. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-6">
        <p> Due to the correct choice of the intersection, the trip to the airport went smoothly. Which only surprised us that the driver of his few peso he deserves with the journey also had to pay the airport toll. Of course, we reimbursed these in the form of a generous tip. At the airport due to the first control at the entrance, we made it up to change. I immediately packed my technology in my new laptop bag. I then pushed the old laptop bag into my hand. After all, you shouldn't let bags stand around in an airport. In the morning we had fundamentally grabbed all other backpacks and suitcases again in a friendly manner and also packed some sunshine and warm temperatures. Hopefully the customs will not complain. ;) </p>
        <p> At the Emirates counter, the ladies told us that it has to be the other way around. The regulators should now go to the hand luggage. What now? As a result, I was running around with a few smaller pockets. It gets really annoying. In addition, Steffi found in a shop, then also the long -sought flip flops ... with footbed, suitable color, comfortable and also cheap. Opposite I saw a chic Adidas backpack that wasn't even expensive.  I decided that I don't feel like the many individual bags, especially since we also have to change to Dubai. So I bought the backpack and swaps it was just backpack and laptops. </p>
    </div>
    <div class="col-md-12">
        <p> As on the way, the flight to Dubai was just damn long. I don't even want to start staying in Dubai anyway and from the onward flight to Hamburg. Everything was quiet and we even flew past Calarasi in Romania. In Hamburg, Steffi&rsquo;s mom was already waiting for us to go home. As last year, we ended the day in our favorite restaurant in Ahrensburg. Tomorrow it will go to work as normal. Great! </p>
    </div>

</div><!--=== End Post ===-->
