---
layout: blog/en/travelblog
title: "02/28/2018 A Space Cebu"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "There is not too much to tell today. I overslept the morning to continue fighting my cold."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4320.jpg"
    alt: "A man tries to sell to passing cars on the side of Pomelos."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}
            I spent the afternoon and night with work. On the way to the A Space Cebu, I made a small detour to a food market called Lenders. This seems to be a wholesaler. But you come in as a tourist when a passport was presented. It was somehow strange to see that so many people have to buy in large quantities and in abundance and only have to earn their livelihood on the street in which they have to drive individual fruits or chewing gum past or sell at the end of the traffic lights. A life -threatening affair in the driving style. </p>
        <p> Once in the office, everything went well fundamentally, but unfortunately the internet line was not so hit. The internet management worked much better in my accommodation. But I also have it for myself. </p>
        <p> Tonight there was also a meetup in the A Space Cebu, which I wanted to go. A meetup is a meeting of an interest group and these are usually public and free of charge. There are many different ones distributed over the world. I myself often support my colleagues in making maps in organizing a meetup, which are often about IT topics. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Today was the first meeting of the WordPress Meetup Group in Cebu. In the beginning everyone should introduce themselves briefly and communicate their IT/WordPress knowledge. I mentioned that my specialty is architecture and testing of web applications. I was promptly asked to take part in a discussion round, since unfortunately a loaded software architect did not appear. The discussion was quite pleasant and, even in some questions, went completely into my specialty testing of availability as well as the topic of clean code and remote working came up. After the Meetup, I talked to several software developers and made it even subliminally advertising for card making as an employer. 3 of their knowledge was even more than interesting for us. Let's see if someone is applying. </p>
        <p> There was really nothing more to do today. Was a working day. </p>
    </div>
</div><!--=== End Post ===-->
