---
layout: blog/en/travelblog
title: "12/21/18 Flood Warning"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - New York
  - New Jersey
  - Elizabeth

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

overview:
  intro: "This morning we were woken up by Steffi's phone. Suddenly a notification appeared warning us"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_6822.jpg"
    alt: "The typical US coach to the outlet mall"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} of a possible flood. Since our hotel is only 50m from the water, this is important information. This warning was valid until 10:45 AM and kept reappearing on her phone every few minutes, making a terrible noise unless you turned off the sound. So it just kept vibrating endlessly. But since we had already checked the weather yesterday, we knew it wouldn't be that bad. It was only forecast to be about 1m above normal high tide. That won't really affect us on the 20th floor. </p>
        <p> We then decided to head to an outlet shopping mall, choosing "The Mills at Jersey Gardens". The journey there took just 30 minutes by Jersey coach. It took us nearly 8 hours to walk through the shopping center. We only went into about 15% of all the stores. It's that huge here. In between, our feet hurt so much that Steffi spontaneously bought comfortable shoes (boots are just not suitable for this kind of thing) and I got rid of my insoles. </p>
        <p> After shopping, we returned to Manhattan with full backpacks and 2 extra bags, and had a relaxing evening in the hotel room with chicken and rice and a calzone. We also watched our favorite series before falling asleep. </p>
        <p> Result of the day: ouch!!!! </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
