---
layout: blog/en/travelblog
title: "03/31/2018 just don\'t move"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "Basti was awake very early. He sat on the terrace and enjoyed the calm of nature while he made a little bit on his own company."
  image:
    url: "/assets/img/blog/2018-philippines/small/P3310545.jpg"
alt: "Steffi and Sebastian Thoss enjoy their time together in the pool on Bohol, Philippines"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ After I had peeled out of bed, we went comfortably breakfast. This happened with a wonderful view and in the company of the domestic cat last night. Today it was the exact opposite of yesterday and totally nice and completely without hissing. After everything was plastered, we first went down to the beach. </p>
        <p> Before we ended up there, however, we had to overcome a lot of steps and then we found the beach. Well beach you really couldn't call that. Ehr a small area consisting of dead corals and mussels to get into the water. The area was really very small and only became minimally more when ebb was. In addition, there was in the steep cliff, a rock formation washed out by the sea, unfortunately with many spiders, which were quite nice to look at. </p>
        <p> We tortured the steps up again and went straight to the diving base on the site. There we were greeted very kindly by a young Filipina and she told that we could drive out at noon. However, we didn't feel like it and so we registered for the next morning. We immediately did the written so that it was off the table for tomorrow and then we hopped in the bathing clothes. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

    <div class="col-md-12">
        <p> The pool calls! We took 2 loungers and parasol and then we went into the cool water. Uh cool, no notification. The pool also offered no real cooling compared to the sea. At some point we had enough and put on the loungers, enjoyed it alone and at the same time watch the "man for everything" while lying down and cleaning on the other side. </p>
        <p> Of course, hunger was noticeable at some point and we sit back at the table with a beautiful view. Then there was turkey fillet, potato pusher and vegetables with sauce for me and for Basti Spare Rips and dirty fingers. Full -feeding we grabbed the loungers again and enjoyed the rest of the day. In the meantime we also met a family, consists of grandma and grandpa, mom, dad and 2 teenagers. Of course we had heard where they came from and Basti said then he originally came from the Vogtland. Then the grandma said "We are from Saxony". H&auml;&auml;&auml;, Vogtland ... Saxony ...?!? No comment !!! </p>
        <p> For dinner there was delicious bruschetta for me, as well as Putensandwich for Basti. </p>
    </div>

</div><!--=== End Post ===-->
