---
layout: blog/en/travelblog
title: "12/21/18 Flutalarm"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - new York
  - New Jersey
  - Elizabeth

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

overview:
  intro: "This morning we were woken up by Steffi\'s cell phone. Suddenly a notification appeared on her phone that we"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_6822.jpg"
    alt: "The US-typical coach to Outlet Mall"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} warned of a possible flooding. Since our hotel is only 50m away from the water, this is an important information. This warning was valid until 10:45 and reappeared on her cell phone every few minutes and made a pagan noise if you don't just make the sound. So it just vibrates without end. But since we had already looked after the weather yesterday, it was clear to us that it would not be that bad. It was only a maximum of 1m over normal floods. That won't really meet us on the 20th floor. </p>
        <p> We then simply decided to go to an outlet shopping mall and the choice for the "The Mills at Jersey Garden". The journey there only took a short 30 minutes with a Jersey coach. It took just under 8 hours to walk through the shopping center. We also only went in about 15% of all shops. It's that huge here. In between, our feet hurt so much that Steffi bought comfortable shoes spontaneously (boots are simply not suitable for something like that) and I got rid of my insoles. </p>
        <p> After shopping we drove back to Manhattan with full backpacks and 2 extra bags and made a relaxing evening in the hotel room with chicken on rice and a calzone. There was also our favorite series to fall asleep. </p>
        <p> Result of the day: aua !!!! </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-10">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
