---
layout: blog/en/travelblog
title: "03/23/2018 move to Dauin"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Zamboanguita
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "Today it was time to pack, because at 12h there was check-out and after a final drink, we should go to the J&P family Beach House."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4815.jpg"
    alt: "The entrance sign of the J&P Family Beach House"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} This is right on the reef, which we already know through the Dumaguete Dive Team / Dauin Dive Caf&eacute;. The KAV&rsquo;s Resort ordered us a tricycle at 13h, which should actually only bring us to the bus. Without further ado, however, we decided that he should bring us directly to the new accommodation. Accordingly, the driver was of course pleased about the considerable extra service. </p>
        <p> As always, the journey went smoothly and we were able to move into our new quarters prematurely. When we opened the door, we first reached a lot of muff, so air conditioning started and hoped, which is halfway. The room was spartan, but sufficiently furnished (including large fridge) and it was also clean. Apart from the bathroom, that could be a little cleaner. First we examined the pool and then continued to the sea. After taking various pictures for Basti&rsquo;s employer, it was said back to the room, move, snap the camera and into the floods. At least for one of us, because Basti had to go to the computer again. However, this watched me from the beach, because alone in the sea is never a good idea. After a spot landing of 30 minutes, I was through with snorkeling and then jumped a small round into the pool. We then discovered a very large lizard on the palm. Unfortunately, this was not at all noticed to come in front of the camera. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> At 5pm we went to Dauin Dive Caf&eacute; on foot, because a BBQ-All You Can Eat should take place there. There were even delicious things for me and in the end we went back to the accommodation. Then it was also shown that internet reviews sometimes vote. The dear neighbors from the property opposite the hotel love karaoke! The television stood outside on the property and the karaokem machine was in full swing, including full volume. They had fun! </p>
        <p> Fortunately, you didn't notice too much in the room, even though our room was in its direction. </p>
    </div>
</div><!--=== End Post ===-->
