---
layout: blog/en/travelblog
title: "20.03. We just say \'autsch\'"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Zamboanguita

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "The night was ok so far, but unfortunately our neighbors (chickens, sparrows and dogs) have no sympathy for tourists."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4740.jpg"
alt: "Beamfire in the sunset"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ they make nice and good "noise" from 4.30h, so that you have to tear yourself together properly so that you can sleep on. </p>
        <p> Basti moved up quite early, including the computer, on the beach and I was added half an hour to hour later and lay down on the beach. After felt 20 minutes (Basti says it was an hour) we decided to bounce into the pool. The water was really pleasant, the pool was nice and clean and so we tried our new camera. After 2 hours (Bastis statement) we let ourselves dry in the sun or in the shade and then it was already a meal time. </p>
        <p> After a really delicious lunch, a short break, and a walk in the beach, we went back into the pool and ooohhh ... where does that come from ... we shone! Yeah ... these tourists again, calm down at first! Well now it had happened and that can no longer be changed anyway. Basti worked again for the rest of the afternoon/evening and I read on my book and enjoyed the beautiful sunset, the calm and especially the warmth. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
