---
layout: blog/en/travelblog
title: "12/25/18 Keep Your Shoes On!!!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - New York
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan's skyline in black and white in the early morning"

overview:
  intro: "Today was quite uneventful. After we finally managed to get out of bed, we packed our things and"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_4514.jpg"
    alt: "The big cozy bed in the Residence Inn Hotel"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} made our way to the train. When we arrived at Penn Station (34th Street), we had to search around a bit until we found the Amtrak waiting area. Apparently, each train company has its own section in this rather large station. </p>
        <p> Steffi made herself comfortable in the waiting area while I got something warm to drink. Shortly after, our train to Washington D.C. was called. Once on board, we settled into some empty seats and the journey began. The usual welcome announcement came promptly, informing us that a conductor would check all tickets right away and that we must keep our shoes on at all times and not even wear them as slippers. Huh? Steffi and I exchanged glances. "Did we understand that correctly?" We're not allowed to take off our shoes. The carpet in the train looked very clean, so we still slipped out of our shoes and enjoyed the first hour of our trip. Then we decided it was time for a midday nap. Since the trains here, unlike at home, jerk quite a bit, I didn't get much sleep. </p>
        <p> After 3.5 hours, we finally arrived in Washington and took an Uber (cheap taxi) to the hotel. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> However, the car reeked so much of air fresheners that I immediately got a really bad headache that wouldn't go away for the rest of the day. In Washington, we have a nice large apartment with our own kitchen, desk, sofa, and TV. Only the bathroom is a bit strange - the sink is in a niche right next to the bed, while the shower and toilet are in a separate room. Since there was a small shop right next to the hotel today, Steffi decided to cook pasta for us. </p>
        <p> We spent the rest of the evening watching movies, doing laundry, and being lazy. </p>
        <p> Let's see if we can do more tomorrow. </p>
        <p> Until then: good night. </p>
    </div>

</div><!--=== End Post ===-->
