---
layout: blog/en/travelblog
title: "03/19/2018 Moving to the resort"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Zamboanguita

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "After a rather restless and terribly short night, we first took a tricycle to the nearest shopping center in the morning."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4677.jpg"
    alt: "Restaurant and beach bar"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Here we got drinks, breakfast for the next few days, and some small items. Then we went to the Rollin Pin Cafe, which was at least familiar to Basti, and had a proper breakfast there. Basti got some work done while I passed the time reading. As it approached noon, we took a tricycle back to the hostel for the 12 PM check-out. </p>
        <p> After everything was done there, we went to the bus station and luckily the right bus was ready - and it was air-conditioned! We even found two seats together. You have to be lucky! Behind us sat a family who clearly had fun with us Europeans, especially when we reacted and joined in the fun. After the journey started, the ticket collector came around pretty quickly and handed out tickets to everyone. Payment is only collected in the second round, after everyone has been taken care of. After collecting the fares, his third round followed: giving back change! Amazingly, he always knew exactly who gave him what! I would be hopelessly lost. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> &nbsp; </p>
        <p> When we arrived in Zamboanguita, we were immediately picked up by a tricycle driver who was supposed to take us to the resort on a fairly new machine with plenty of horsepower. He wanted to show off the power right away and was visibly proud of it, but we politely asked him to slow down! The remaining meters off the main road went over a sandy, bumpy slope until we finally arrived. Unfortunately, our room wasn't ready yet, so we treated ourselves to cold drinks and watched the beach. Sadly, this section of the beach turned out to be very rocky in the sea, but luckily there are alternative options to the left or right. After we moved into our room a short time later - small, nice, and above all clean - we went back to the bar. Basti started working and I found a nice spot to enjoy for now. Nothing else happened that day, except for a good lunch/dinner. </p>
    </div>
</div><!--=== End Post ===-->
