---
layout: blog/en/travelblog
title: "03/11/2018 Stroll and Sew"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "Yesterday evening there was a small problem with diving. I always wear a baseball cap over water to protect my head"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4515.jpg"
    alt: "They have faith in their vehicles."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} from the sun. Since the water here is 28 degrees and I absolutely won't wear my cold water hood, my "plate" was directly exposed to the sun. So I ended up getting a sunburn while diving. To prevent this from happening again, I decided to look for a solution in the city today for my next dive, as I had decided last night that I wanted to go diving again tomorrow. </p>
        <p> So I wandered through the city and across the markets looking for a baseball cap that fits and from which I can remove the brim. I found what I was looking for in the large mall at the bus station. On the way back it started to drizzle, so I made my way back to the apartment. </p>
        <p> I then spent the evening calling mom to wish her a happy birthday. Happy Birthday mom. After that, I talked with Steffi and Dad for even longer. Meanwhile, I took apart the seam on the baseball cap, removed the brim, and sewed it back together. I look totally silly with it, but it should at least protect me from the sun underwater. </p>
        <p> Tomorrow we'll go back to Dauin. I'm looking forward to it. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
