---
layout: blog/en/travelblog
title: "03/27/2018 Rock Around the Clock"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Mactan
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "After a very relaxing night we enjoyed the rich and, above all, very fresh breakfast buffet. Then we called a Uber which we"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4865.jpg"
    alt: "The restaurant at night."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} should bring to Pier 1 to Cebu. Because we urgently needed ferry tickets for our trip to Bohol on Good Friday. After all, Easter is and there is nothing more on the Phillies. Some locals also recommended that we buy tickets at the counter early so that we can really get a place on board a ship. After almost 2 hours a car ride for the only 18km, we arrived at Ocean Jet's ticket office and there was already a stately snake in front of it. We lined up and when we were 45 minutes later, we were informed that we would no longer get tickets for the ferry at 2pm, alternatively 3:20 p.m. Then at this time please business class! </p>
        <p> After we had the tickets, we ordered ourselves again online and let ourselves be stopped at the nearby City Mall. After some core around, we landed in the food corner and fortified ourselves. Then it went to the supermarket to get drinks, yogurt and fruit. After that, with a detour across the ice cream parlor and the Donut bakery, it went to the exit, where another Uber was waiting for us. The return trip went relatively quickly and so I spent a quiet afternoon in the resort while Basti went to work. At some point we heard pretty loud music from outside and became curious. We had already noticed during the day that some gay/lesbian association from all over the world meets in the hotel and apparently they now unpacked the full program. An absolutely brilliant fire show took place directly on the beach, which we looked at from the pier. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> At 9pm there was an end, the pier was closed and so we went towards the restaurant. From a distance we already saw musicians who went from table to table ... ohje, we don't want that, how embarrassing. No matter, we sat down, we were ordered and waved with music. The 5-member band stood in front of our table and sang something beautiful. After the first song finished, they asked us what we wanted "rock&rsquo;n&rsquo;roll"! They were happy to be a biscuit and were also quite amazed that people in our age want something like that. They played the Bill Haley classic "Rock Around the Clock" and even pretty good! It is totally strange to be the focus, but the band has it! After eating, we saw the dessert at the neighboring table and were immediately fixed. I went to the dessert show and decided that we share a chocolate cupcake. That was also the right decision, because it was very delicious! Then it went to room, Basti continued to work and I ended up in the realm of dreams, because somehow I got frantic headaches in the meantime. </p>
    </div>
</div><!--=== End Post ===-->
