---
layout: blog/en/travelblog
title: "02/25/2018 Resting in Manila"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Manila
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "The party at the neighboring school went on until the early morning hours. Therefore, there wasn't much sleep to be had that night either."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4208.jpg"
    alt: "A beautiful and colorful sunset over Manila"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}
            Despite the lack of sleep, I was awake much too early in the morning.
            The breakfast was very simple but good.
            There were scrambled eggs and butter rolls, along with black tea. </p>
        <p> After breakfast, I decided to take it easy since my cold was still bothering me.
            So I enjoyed the peace and quiet on the balcony and took another nap around noon. </p>
        <p> In the afternoon, I decided to explore the city a bit.
            I made my way to one of the largest shopping centers in the city.
            The Greenbelt Super Mall.
            Over 250 shops, several cinemas, and a huge selection of restaurants.
            For dinner, I had a simple pizza before heading back to the accommodation. </p>
        <p> Once there, I enjoyed the peace and quiet on the balcony before going to bed.
            But I couldn't really fall asleep again today.
            Tomorrow we'll continue by plane to the south of the Philippines, to Cebu. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
