---
layout: blog/en/travelblog
title: "03/17/2018 I am old"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "This morning I decided to bring my things to the accommodation first. I am in the Dino Residences tonight and have one there"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4648.jpg"
    alt: "The trucks make a pagan noisy"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Small but fine room and a well -functioning air conditioning system. What more you want. </p>
        <p> Then I took care of my dirty wash. It's easy here. On the ground floor there is a laundromat that even offered small money for small money carefree service. I only gave a lady there my bags with my clothes, my room number and paid. In the evening I got my clothes back dry and merged. Almost like before at Mutti at home, only that I can pay about 2.50 euros for it today. </p>
        <p>
            <strong> Thank you mom for spoiling me in the past. </strong>
        </p>
        <p> Today I wanted to visit another area of &#8203;&#8203;the city in which I have not yet been. So I got two bottles of water and made my way. The route was less than 3 km long, but the sun burned quite a bit again. I had chosen the Hayahay Treehouse Bar as the goal. From there you have a nice view over the water and you can see 3 neighboring islands. When I arrived at the destination, I had drunk the now warm water and first needed a mango shake and a sprite to cool down again. There I stayed in the shade for a while and enjoyed the view from the tree house.  Unfortunately, I found that I am getting really old. Not even for 1 hour in the sun and I'm ripe for a afternoon sleep? I think I'm getting old !!!! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Unfortunately, the cell phone reception here was not very good, which was probably due to the aludach of the tree house.  But I wanted to have good reception when Steffi ends up in Manila. I was looking for a trike that brought me to the city, where I went to a supermarket first to really cool down. Steffi then also reported that she had a good flight and that everything runs smoothly. She stays in Manila tonight and tomorrow at noon she finally flies into my arms here in Dumaguete. </p>
        <p> I then made myself comfortable with a donut and a much too sweet strawberry shake (today is officially sin of sin) before I went back to the accommodation. </p>
        <p> There, there was still two directions until 9 p.m. Loud music came from speakers from the shopping mall on the other side of the street. Live music (pop and rock) came from a church behind the house. Since it was out of the question, I just decided to work a little and to lock out the background noise with my good headphones. </p>
        <p> Tomorrow I have my little one for myself again. I'm looking forward to it. </p>
    </div>
</div><!--=== End Post ===-->
