---
layout: blog/en/travelblog
title: "04/03/2018 Bohol Sea Resort"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Panglao
  - Alona Beach
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "Today it went into the sea after waking up. So into the bathing cloth, grabbed equipment and again"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5122.jpg"
    alt: "Entrance of the Alona Sea Resort"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} The steps taken down. There were many fish again, fortunately everything was free and so we once again shot countless photos of clownfish and Co. and especially enjoyed the beautiful water. At least for a short time, because somehow the sea snakes have already forgotten that they are nocturnal. There were more and more, we became more and more restless and so we decided to look for the vastness. First we went to the room for a shower and then we enjoyed the last breakfast in the "Blue Star Dive Resort". </p>
        <p> Our driver was ready at around 12 noon and to our surprise it was the same driver as on our island tour. The journey lasted almost 2 hours and finally arrived on Panglao, it became clear that it became more touristy. Shortly before our destination we drove through Alona Beach and there it was clearly designed for tourists. After another 5 minutes, luckily away from everything, we arrived at the "Bohol Sea Resort". We were waved through the security check and then we and our driver were quite haphazard. There was no reception to see, a road also not and so he drove as far as possible. The three of us stood in front of the car without a haphazard and invited when several employees already came from somewhere and took care of our luggage. We followed them and ended up in the restaurant. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

    <div class="col-md-12">
        <p> The small reception was housed and before something was done, we already had our welcome drink in our hands. This consisted of cucumber and lime juice and wouldn't have been so bad, it would not have been extra sugar again. After the paperwork was also done, we were told that our bungalow is unfortunately not yet finished. We made ourselves comfortable in the seating area and less than 10 to 15 minutes later we were able to move into our bungalow "e". </p>
        <p> We first dropped everything and explored the facility and immediately went to the local diving base. Here it was time to collect and register information. Incidentally, the basis is under German management. Hanschi, the ladder comes from Neubrandenburg and so there was of course a lot to be exchanged. Then we hopped in the pool because refreshment was urgently needed. This is fairly chlorine, but otherwise ok in size and also from care. They could be cleaned by the pool, but otherwise they are also ok. </p>
    </div>

    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5115.jpg" alt="Fried Pizza Hawaii in Alona Beach">
        </div>
    </div>
    <div class="col-md-6">
        <p> In the early afternoon we decided to go to Alona Beach, because the hotel did not offer so much food. The security guard from the hotel called his buddy and shortly afterwards the tricycle came .... This was cursed tight. So there is another variant of tricycles. And there we were: at thousands of other tourists in full fray including tens of tour sellers. We only strolled through the area, explored the long beach and at some point it got dark. Wegs there was the electricity away! </p>
        <p> We slowly went back to the main street until we ended up at Noahs. An Italian on the corner. There was delicious Bolognese for me and for Basti there was actually a pizza Hawaii. Hmm the lady kept saying something when ordering, but we both only understood the train station. So Basti only said "surprised me" and the waitress disappeared. My bolo came quite early and before she got cold, I ate before. I've been ready for a while because Basti&rsquo;s &ldquo;Pizza&rdquo; finally came. Well or whatever. Because she had nothing to do with pizza. That was a kind of lard pasture dough, inside the cheese and Co. The whole thing was found together, fried and sprinkled with salt. Suddenly the electricity was gone again and we were sitting in the dark. This is common here, everyone doesn't really care and so we talked for a while until we decided to go back to the resort. We waved a tricycle and off we went. In the room we made ourselves comfortable with a film and relaxed the rest of the evening. </p>
    </div>

</div><!--=== End Post ===-->
