---
layout: blog/en/travelblog
title: "06.04. Balicasag and Virgin Island"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Balicasag
  - Virgin Island

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "We met with the girls at the diving base shortly after 8 a.m."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_5230.jpg"
alt: "Catalog Photo on the Sandbank of Virgin Island"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ still neoprene suits, since the jellyfish had increased. There was already a Filipino around the corner and asked if we were ready. But surely! So cripped and run off, because there was tide again and the boat was quite far away from the beach. Once arrested and everything stowed away, the engine went on and Auuuuuua ... our poor ears. The mini -part was so loud that we all did not change a word while driving and ended up tinnitus. Otherwise the journey went relaxed and after almost 30 minutes we arrived on a boat besieged with boats called Balicasag. On the way there there were even briefly real flying fish to see. </p>
        <p> We drove to the northeastern side of the island, as there was no wind and therefore there were no waves. We actually found a place between all the boats and there were hardly any people to be seen. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_5234.jpg" alt="Finally a turtle for Steffi">
        </div>
    </div>
    <div class="col-md-12">
        <p> Perfect! Fix the nature conservation fee our crew pressed in the hand, caught things and decided that we or three of us first go into the water without neo. Basti found that he forgot his fins, but unfortunately that was no longer to be changed. The first jumped, number two and three followed and then I went to get started. And they were already roaring "Turtles turtles ... Koooooomm. There are some, start quickly". </p>
        <p> Heaven Lord, Really now ... in no time at the fins and mask slipped and in the water and there they were ... turtles "for me" ... under water .... Yeeeeees! They quickly pulled their circles between the reef and abyss and I was able to be amazed in peace, happy a biscuit and take natural pictures! And then I noticed that there was a lot of fish around us. The turtles moved into the eternal expanses of the sea and we pulled our circles between the fish, so far, so far. The variety was really big and the reef itself was also very nice. Especially since this really went down on a kind of steep wall and disappeared into the dark blue. Above the edge, up to the surface everything was colorful and the water was crystal clear. Here and there it pinched the skin and suddenly you saw jellyfish. However, these were in such a small number that I remained in the water without annoying suit. Basti saw a turtle sitting on the abyss below and watching it. I joined this because she had to take a breath again at some point. After a while she stirred herself and slowly steered the surface. I climbed on her heels and accompanied her until she disappeared into nothing after some time. </p>
        <p> I myself also needed a break and said Basti that I forgave myself to the beach. In the beginning he told me that we would continue around 11 a.m. - so I had a little over half an hour. Through absolutely crystal -clear water, past beautiful corals and fishing, I landed on the not sooo beautiful beach and sat on a palm trunk. Unfortunately, the beach was very neglected and quite dirty and unfortunately the around it didn't look much better either. An older Filipino spoke to me and we talked as far as our two language skills allowed. Fortunately, he had a watch and so I could be back in the water in time. On the way to the boat I discovered a octopus in the shallow water, but unfortunately it could not be found again when looking at the second. For this, Khan from "Find Nemo" (a halterfish) was shown. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-6">
        <p> Arrived at the boat again, I went over to Virgin Island or "I landed in a catalog". Actually there is a sandbar there, but due to floods it was under water, with such crystal-turkey-colored water that we thought we were in a travel catalog !!! The water reached our knees just up to our knees and we explored the area for four. </p>
        <p> Some stands were set up on the sandbar. Of course, the flying dealers were not long in coming and wanted to get rid of their jewelry. With us in vain! At the stands themselves there was a lot of animals to buy from the sea, which was prepared for a freshly prepared or fresh fruit. This either pure or caramelized and fried. The girls won the first fried bananas, not so mine, and then we landed with the pineapple with the lady. These were so tasty when trying that we bought a large bag and still fed empty at their stand. The girls got another bag for later and we moved to the next. The girls still got sweet rice pressed in banana leaves and also found it upper delicious. </p>
        <p> We slowly moved towards the boat and first took enough pictures and enjoyed this incredible water and the view. We felt clearly like in a catalog - we both hadn't seen anything like that yet. </p>
    </div>
    <div class="col-md-12">
        <p> We are in the middle of the ocean, there is a market, crystal-turkey-colored water and although there were many boats there, it was not full. After we were all back on the boat, Basti took the top of the boat at the front and we also let our legs dangle in the front. With the noise from the engine, it was the best solution anyway. The way we were sitting there, the journey could have continued forever, but we were already at the accommodation again. </p>
        <p> We four played a few more rounds, but then it was time to say goodbye because we still had to pack. It was the last change of accommodation of this vacation. We moved into the bungalow and filled our backpacks again until we fell into bed tired. </p>
        <p> Conclusion of the day for me: <br> One of the most beautiful excursions that I have experienced on my travels so far. </p>
    </div>

</div><!--=== End Post ===-->
