---
layout: blog/en/travelblog
title: "03/20/2018 We just say 'ouch'"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Zamboanguita

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

author: "Steffi"

overview:
  intro: "The night was okay, but unfortunately our neighbors (chickens, sparrows, and dogs) have no sympathy for tourists."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4740.jpg"
    alt: "Campfire at sunset"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} They make quite a racket starting at 4:30 AM, so you really have to pull yourself together to get back to sleep. </p>
        <p> Basti headed to the beach quite early with his computer, and I joined him half an hour to an hour later, all lathered up with sunscreen. After what felt like 20 minutes (Basti says it was an hour), we decided to jump into the pool. The water was really pleasant, the pool was nice and clean, so we tried out our new camera. After 2 hours (according to Basti), we let ourselves dry in the sun or shade, and then it was already time for lunch. </p>
        <p> After a really delicious lunch, a short break, and a walk on the beach, we went back into the pool and ooohhh... where did that come from... we were glowing! Yeah... those tourists again, getting sunburned right away! Well, it had happened and there's no changing it now. For the rest of the afternoon/evening, Basti worked again while I continued reading my book and enjoyed the beautiful sunset, the peace and quiet, and especially the warmth. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
