---
layout: blog/en/travelblog
title: "03/16/2018 Nemo, Marlin, Khan, Crush and Co"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "I was diving again this morning. I did not decide to dive very far today. It went back into the water from the beach and the maximum depth was identified 10m so that I can work on my film skills in peace"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4580_09.jpg"
alt: "Many small colorful Fischies"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ and the camera also calmly hold underwater. </p>
        <p> In the water I quickly had the feeling of being in the film &ldquo;Find Nemo&rdquo;, after about 10 minutes diving over corals and surrounded by thousands of smaller fish, we met Crush. Crush is the sea turtle that Nemo&rsquo;s Papa Marlin helps to come to Sydney. A short time later we met two more large specimens (definitely almost 1m tank length) that could not be disturbed by us. </p>
        <p> Find clown fish here. Find an anemone and take a closer look. Every anemone we found was inhabited by a clownfish family. Mostly between 2 and 4 animals. In the end, Khan even showed up in full splendor and without scars. Khan is a halterfish in goods life and becomes up to 22cm tall. </p>
        <p> What a dive and looking through the video material turns out that almost all of them have become. Hence a small foretaste of photos and a small clip that I created with my cell phone. Have fun looking. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/67yrimCpnDk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div><!--=== End Post ===-->
