---
layout: blog/en/travelblog
title: "09. & 10.03.2018 Finally dive"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "Yesterday I didn\'t do that much again because I somehow slept badly. I\'m just a little stripped through the city in the morning and have"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4517.jpg"
    alt: "Dive Cafe Dauin"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} and bought for the weekend. In the evening I had to work one last round before the long -awaited weekend. Since I had worked for the days for a few hours, I didn't do that long and preferred to go to bed a little. Catch up. </p>
        <p> This morning I made my way back to Dauin in the Dive Cafe by bus. There I met the diving instructor per. After a briefing and assembly of the diving device, the few hundred meters went to the beach with a minibus. Since it is my first dive here, as always I left the camera back to get used to diving here.  Once at the beach, we went straight into the water from there, dipped up to 15m depth and then made a swivel to the right. We dived over several huge colorful coral fields. These were full of fish. I have already seen a lot in 5 years, but so many fish species and colors have not yet come to me during a single dive. We even met a medium -sized turtle with a tank length of about half a meter. This was completely relaxed in a hollow. After a while she loosened her cow and made her way to the surface very comfortably. A great picture that I will definitely not forget for a long time. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We then passed many other interesting animals. We definitely saw 7 to 10 with clown fishing anemones inhabited, a large moraine and a few different types of parrot fish. Finally, shortly before the beach, in the shallow water we even saw a swarm sepia. </p>
        <p> After the dive, I made it comfortable in the Dauin Dive Cafe and let my equipment drain in the back yard, took care of my diver logbook and enjoyed the day. Later one of the employees drove the minibus back to Dumaguete. I took the chance and joined. </p>
        <p> I don't have a plan for tomorrow, except for mom and congratulate on his birthday. </p>
    </div>
</div><!--=== End Post ===-->
