---
layout: blog/en/travelblog
title: "03/16/2018 Nemo, Marlin, Khan, Crush and Co"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "I went diving again this morning. I decided not to dive very deep or far out today. We entered the water from the beach and set a maximum depth of 10m so I could work on my filming skills"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4580_09.jpg"
    alt: "Many small colorful fishies"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} and hold the camera steady underwater. </p>
        <p> In the water, I quickly felt like I was in the movie "Finding Nemo." After about 10 minutes of diving over corals and surrounded by thousands of smaller fish, we met Crush. Crush is the sea turtle that helps Nemo's father Marlin get to Sydney. A short time later, we encountered two more large specimens (definitely almost 1m shell length) that weren't bothered by our presence. </p>
        <p> Finding clownfish here is simple. Find an anemone and take a closer look. Every anemone we found was inhabited by a clownfish family, usually between 2 and 4 fish. At the end, Khan even appeared in full splendor and without scars. Khan is a triggerfish in real life and can grow up to 22cm tall. </p>
        <p> What a dive! And looking through the video material, it turns out that almost all the shots came out well. Here's a small preview with some photos and a short clip I created with my phone. Enjoy watching. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/67yrimCpnDk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div><!--=== End Post ===-->
