---
layout: blog/en/travelblog
title: "December 29, 2018 in the air"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
    alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "We would have liked to have air, but now it had caught us completely and we didn\'t get any air anymore. What should you do other than"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7433.jpg"
    alt: "Mars Rover Marie Curie"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} in the most beautiful sunshine start a new attempt to get to the Air &amp; Space Museum. If we don't get any air, then everything that has to do with air. </p>
        <p> We were there 10 minutes before opening and of course there were already queues. Fortunately, these were by no means so long, so we were fixed inside when the doors were finally opened. Passing Models from NASA rockets to Airbus models from earlier times, we decided to look at the planetarium Dark Univers. This cost us $ 9 per nose, but entry into almost every museum in D.C. completely free. </p>
        <p> I didn't really understand the demonstration, to one because of the English to the other, because I was more or less in a cold coma anyway. It was nice to look at it! We then dawdled through the museum for a while until it moved outside because of hunger (food is strictly forbidden in the museum). Basti got something on a food truck while I incorporated a bag of breakfast. </p>
        <p> It continued towards Capitol. This is really nice to look at and looks good as a photo motif. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Now it should go to President Lincoln for us. However, this was far too far away for our cold taste (approx. 4 km), so that we ordered an over. However, the lady did not bring us directly, she preferred to drive across the city and outside. We don't care, there are fixed prices at Uber. </p>
        <p> On arrival we found that all tourists felt like it was in the same place. It was mega full and you would have to push yourself to get a look at the stone Lincoln. Passing the water pool, where Forrest Gump met his Jenny again, we walked back to the Washington Monument. Here we got back to an Uber that brought us to the hotel. There we ended sleeping on the sofa. Colds on vacation are really for the ko ... !!! </p>
    </div>

    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7517.jpg" alt="Zool">
        </div>
    </div>
    <div class="col-md-6">
        <p> But since we didn't want to let everything spoil ourselves, we drove to the Smithsonian National Zoo in the evening. The zoolights are currently taking place there, and the guy with the red tie and the strange hairstyle has announced that everything will be paralyzed here at the latest from 02.01. So we absolutely wanted to do that. The journey there lasted longer than expected, because once again everyone else also had the idea. Nothing worked around the zoo, so we released our driver beforehand and went the rest on foot. </p>
        <p> The zoolights are also free of charge and on the entire main path through the zoo, so that the animals are largely not disturbed. The trees are all equipped with LEDs and animals from LEDs stand around everywhere. There are also suitable music here and there. Such as In the marine animals, the music of Arielle was fitting. After a good hour we were frozen through and above all that we were looking for an Uber in the traffic chaos at a suitable place, which brought us back to the capitol again. There should actually be chic night shots here, but it wasn't that chic then not illuminated. Accordingly, there were only a few pictures until it went back to the hotel. We let the plan to go to the other buildings. </p>
        <p> The cold was still under control. </p>
    </div>

</div><!--=== End Post ===-->
