---
layout: blog/en/travelblog
title: "03/18/2018 Steffi finally there"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "Not much was on the note this morning. I dawned until shortly before 12 noon with finished and check out."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4657.jpg"
alt: "Steffi sits in the plane"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ I then drove to our sleeping place for tonight. Again the Flying Fish Hostel, in which I stayed 2 weeks ago. But it is only for one night again, because tomorrow we move to the KAV&rsquo;s Beach Resort, where we will stay until at least Friday. </p>
        <p> After check-in I went to the city on foot and then ended up in the Rollin Pin Cafe again, where I put around the past few weeks almost every day and enjoyed French toast with watermelon shake. </p>
        <p> I stayed there until I saw in my aircraft app that Steffi was on the approach. I then let a tricycle drive to the airport. After a few minutes of waiting, my Steffi finally came out of the call area. I finally have it again. </p>
        <p> After we brought their things into the hostel, we drove to the city center and strolled a little through the rows before we looked for a restaurant for dinner on the promenade. </p>
        <p> Tomorrow we will go to the resort. Hopefully the internet there will be good enough to work. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
