---
layout: blog/en/travelblog
title: "02/27/2018 Cebu City"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Cebu
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "Unfortunately, last night on the way back to my accommodation of the supporting strap of my laptop bag broke."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4295.jpg"
    alt: "A candle for my recently deceased grandfather"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}
            I also found such a shop in the nearby shopping center. Unfortunately the tailor was not there in the morning. A friendly lady explained to me that he might get to work (if at all) around 12 noon. </p>
        <p> I spent the waiting time in a pizzeria with a glass of iced tea, which was filled up every few minutes. Since I am not really convinced of Cebu either, I decided to see how to come to Dumaguete. I found three options. Either by plane, a night ferry or bus. After looking for some time, I gave it to want to find a bus timetable on the Internet. Just drive to the bus station and look there yourself. </p>
        <p> So after 12 p.m. I made my way back to the cobbler and lo and behold, he came to work today. It took less than 10 minutes, then my bag was repaired for just under 3 euros. THANKS. </p>
        <p> When I arrived at the bus station, I walked the corridors along the buses and looked at Dumaguete as the destination. You have to say that Dumaguete is on another island called Negros, which can only be reached by ship. So many buses only bring passengers to the ferry and from there you have to continue to see yourself. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> This ferry pier is about 120km from here and the bus needs about 3 to 4 hours there. The first buses with the right destination were so shabby worn out and old that I decided not to get in there. A little further back could be seen new good coaches. I went there and look at someone, the bus goes to Dumaguete. I asked the driver if he only drives to the ship. He said no. The entire bus is loaded on a ferry in the harbor and transferred to the island of Negros. So the final goal is really Dumaguete. The price is 250 peso (approx. &euro; 4,-) Let's see what my cold does by the end of the week. Depending on that, I will either take the plane or the bus. </p>
        <p> From the bus station I went in search of water. I am finally on an island. Here has to be water somewhere. The path led me through a district of many small shops that offer everything. From jewelry to fake branded products to furnishings. At the end of this district you will meet the pilgrimage site and the Basilica Minore del Santo Ni&ntilde;o de Cebu. A very nice and very old church in which I spent some time thoughtful and found a candle for my grandpa before I continued to search for the sea. </p>
        <p> I finally found the sea a few hundred meters away. Unfortunately, a ferry terminal stood in the way and as far as I could look left and right were other investors. With the next taxi, I made my way to the nearest shopping center, where I did some food purchases and spent the rest of the evening. </p>
        <p> Tomorrow we will go back to work. I have an interview in the calendar right from the start. Keep my fingers crossed that the internet line remains stable and that I can understand the candidate well. </p>
    </div>
</div><!--=== End Post ===-->
