---
layout: blog/en/travelblog
title: "21.03. Hello Clownfisch family"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Zamboanguita
  - Dauin

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi &amp; Basti"

overview:
  intro: "Today, despite the custodian skin, it was equipped with long -sleeved swimming shirt etc. - towards Dauin, more precisely"
  image:
    url: "/assets/img/blog/2018-philippines/small/P3210063.JPG"
alt: "Clownfisch family in front of their anemone house"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ to the diving caf&eacute; there and reef at the door. </p>
        <p> From the resort we went to the main street and waited for the bus, which everyone comes ... or not. We stood and nobody came. In the meantime we had noticed that the start / finish of the jeepney&rsquo;s was there and that we decided to get in with one. Of course, when we were sitting at the front of the driver, the bus came from behind. No matter, now we were sitting and we now got to know the other typical-Philippine form of transportation. We weren't on the road as quickly as by bus, but we arrived safely and that counts! </p>
        <p> When we got out, we got the breakfast at a stand and then slowly went towards the caf&eacute;. There Basti got flowing and I am already moving around, and then it went towards the water. On the way there, we saw a tree with a funny looking whatever it and I wanted to take a photo. So new camera to Uuuuuuu and nothing! There was a picture ... supposedly ... but we couldn't call the memory card. So back to the caf&eacute;, Per-Den diving teacher after a backup of the card on his computer, format the whole card at the end and hope! Fortunately, this worked and so we finally made our way into the water. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> At the booth it was then a "snorkeling fee" and then it finally went into the reef. Hardly in there in warm water, we already met the first fish and shortly afterwards we ended up in the first clown family in the living room. When diving in order to take a closer look at the whole thing, they literally looked at you as if they wanted to say "Ey who are you and above all, what do you want?". We took some photos and then continued to swam over the coral roof. As many different types of fish and coral. The water was always between 1.5m and 7m deep and slight current along the beach. </p>
        <p> After about 1 hour we decided that we had spent enough time in the sun and made our way back to the Dive Cafe. We spent some time there before we went back to the resort, because Basti&rsquo;s work called. On the way there we got a few rolls for dinner and breakfast. We packed them in a bag and stored them in the room. A little later when I got into the room I found that the arms had unfortunately discovered our dinner and started to carry it away. So quickly the insects spray out, spray everything and the rolls in the trash. Of course outside of our bungalow. So there was dinner again in the resort. </p>
    </div>
</div><!--=== End Post ===-->
