---
layout: blog/en/travelblog
title: "May 14th, 2018 Long WE in the Harz"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Germany
  - resin
  - Osterode
  - Nordhausen

overview:
  intro: "After Holly was finally back from the workshop, the Father\'s Day weekend was able to come. The weather was great so far, but"
  image:
    url: "/assets/img/blog/familienfoto-im-harz.jpg"
alt: "Family photo in the Harz"

author: "Steffi"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ The prospects for the long weekend looked really bad and so we decided to drive to the weather map. Actually, I was absolutely up to the beach and the sea, but the temperatures and the precipitation radar should go towards the Netherlands or further south. </p>
        <p> Basti and I met at our regular place after work and ate comfortably and also decided that we drive towards Harz again. Unfortunately, a traffic jam formed during the decision -making process directly at the driveway of the highway, so that we ended up in it. </p>
        <p> The traffic jam finally left behind us was shown that Basti was no longer as fit as he had hoped. The next traffic jam was in front of us and so we landed on a rest farm between Soltau and Hanover. This was already overflowing with trucks and the like that we spread on the next best car parking lot and then sat down in the gastro with a drink and UN cards. We already fell to our eyes at 9 p.m., so that we got ready in the Womo and packed it into bed. Basti started a film while I was almost immediately gone. The night was quite restless and above all loud, so it ended around 4 a.m. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> I looked out through our curtain to the driver's cab and discovered a note on our windshield. Already on swearing, we got ready and went out. I fished the note from the windshield, in the expectation of a ticket, but it shouldn't be one. It was once again a hint of a annoyed car driver by mutating about the fact that we have again blocked all parking spaces. We just wanted to get upset about it when Basti caught the eye. He meant his old man painted it the same way and then it also noticed that it was a delivery note for 11.5 tons of fish. But now we made ourselves fresh and then Basti wrote down his dad. </p>
        <p> When we were on the highway again, Peter called back and it turned out that he really was. He came from the north and saw on the "friends Finder" that we were there. Unfortunately, there was no more space available for his truck, so that he could only keep it quickly to attach the note. This was probably around 3h and Basti later told that he was awake shortly afterwards. Doooof! We snapped for a while and it turned out that he also drove past his big child. This was also with a family in the Harz, where Peter was now driving through. But unfortunately here at unchristian times! </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/taalsperre-im-harz.jpg" alt="A beautiful view of the dam in the Harz">
        </div>
    </div>
    <div class="col-md-6">
        <p> For us it should go to Osterode first, more precisely to the Aloha adventure pool. There we stood on the specially provided motorhome space and slept a stately round. Around 11h we went to the hall and ui ... very small the part and hm where are the loungers for relaxing or the seating areas in general? A restaurant or kiosk was also not to be found and the outdoor area was also closed. Fortunately, we found an empty beach chair and then went into the water. After 2 hours it got too boring for us and the hunger also contacted us, so we moved again. </p>
        <p> Conclusion from this bathroom: </p>
        <p> Everyone raves about the sauna area, which we have not tested due to the temperatures. The bathroom itself is not very inviting! No relaxation options in the form of sufficient and relatively small if you do not count the outdoor area. So it will not be able to welcome us again as a guest. </p>
        <p> Back at Holly (our motorhome) everything, we walked to the China-Restaurant on foot, which we had already discovered on our last visit to Osterode. Fortunately, how were there in time, because at 3 p.m. there should be a 2-hour break here. At the beginning it went quite silently in the restaurant, but the food was really delicious and the service was also very friendly when it was quieter in the shop. We are happy to come back here. </p>
    </div>
    <div class="col-md-12">
        <p> On the way back to Holly it started to rain slightly, so we made ourselves comfortable. It was finally storm and we didn't want to drive around the area. The rain did not take a long time and was not doll, so we decided to drive to a parking space in front of the "B&auml;renbacht" campsite near Braunlage. Unfortunately, nobody was on site on arrival and there was no longer a parking space. When we just wondered what we did came out of food and told them that they had put each other in the back. Hmmm in front of the barrier was definitely not a place, so we continued to go to the square and joined some other cars and joined everything. The announced storm failed to materialize, so that we were sitting outside for a while and Basti was on the phone with Matze, among other things, to make up the meeting point for tomorrow's day. We then spent the evening with work or watch a film. </p>
        <p> Then I went to shower at some point. These are not inviting. Everything is clean, but unfortunately the cabins have only one curtain except for one. Unfortunately, absolutely no storage space or anything else, so that you have to move out in the main room and leave your things there. I was lucky, I caught the only shower with door and extra area for clothes. In addition, the water pressure was really good, rarely at a campsite! </p>
    </div>

</div><!--=== End Post ===-->
