---
layout: blog/en/travelblog
title: "30.03. Formula 1 race on Bohol"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Mactan
  - Bohol
  - Anda

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "Today my vacation finally started. Now I no longer had to think about where I have a good internet connection to work for the next few days"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4933.jpg"
    alt: "One of the saints on Bohol who is brought over the country road."
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} find, but now I can finally enjoy this trip to the fullest together with Steffi. In addition, Easter is also Easter, which has meant only for us for many years, relaxation and time only for us. The aim for today was the Blue Star Dive Resort in Anda on the 10th largest island of the Philippines: Bohol. For that we also had a really simple and relaxed plan. </p>
        <ul>
            <li> First have a comfortable breakfast </li>
            <li> Check out </li>
            <li> Go shopping in a mall </li>
            <li> Drive the ferry to Tagbilaran for 2 hours </li>
            <li> 1.5 hours to Anda are driven </li>
            <li> Check in </li>
            <li> Relax </li>
        </ul>
        <p> All in all, the day was relaxed, even if not all points on the list worked. Everything went smoothly until checking out. There we asked when the mall opened today, since it is Good Friday. The shops are actually open every day in the country and I have already seen some shops that advertised that they are always open. Unfortunately, &ldquo;always&rdquo; did not join the Easter holidays (here Green Thursday and Good Friday).  The lady at the reception informed us that the malls are closed today. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4910.jpg" alt="One more last nice photo on the beach of the resort">
        </div>
    </div>
    <div class="col-md-12">
        <p> So we simply failed this point on our list and enjoyed the beautiful hotel complex for another hour. We took a few more photos and let the delicaces of Anana's Smoothies taste good for the last time before we picked us up again and brought us to the ferry. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

    <div class="col-md-6">
        <p> At the harbor and on the water everything went smoothly again. Steffi was so deeply relaxed and slumbered my shoulder during the crossing. When arriving in Tagbilaran, 3 older Koreans tried to communicate with Steffi somehow. Unfortunately, that didn't really work, because the women spoke badly or English. Steffi looked at me for help, but even I hadn't understood her. We could just exchange ideas about our nationality. </p>
        <p> At the pier there was already a young man with a sign on which my name stood. As always, this gentleman was very helpful and brought us to a chic modern minivan. We drove comfortably and the young man also drove very considerate and cozy in the city. He also explained to us that every place on the island has a procession of their figures of the saints today. We saw the first of them directly in Tagbilaran. As soon as we left the city, the driver gave more and more gas. Landstrasse here does not mean that you should accelerate, because here are always houses and hotels and shops on the side of the road. Nevertheless, the driver drove faster and faster. Fear we drove 130 - 150 km/h. But Steffi says that we were never faster than 110. Since it was still night, it just felt faster. In between, however, we had to go slowly slowly again and again when a procession crossed our way again. I was damn grateful for these breaks. </p>
    </div>

    <div class="col-md-12">
        <p> It was easy to see that the driver knew the streets very well and he knew almost exactly at which points the road allowed higher speeds. Nevertheless, it was dark and far too often people on the street. </p>
        <p> Oh well. After a little over 2 hours we finally arrived at the Blue Star Dive Resort without an accident. In the meantime, only my perceived age has doubled. As always, the check-in was quick and the staff was helpful and took some bags off and accompanied us to our room with a terrace with a garden view. A well -equipped room and the terrace was also stately. </p>
        <p> Steffi already unpacked the most important things when I briefly went to the reception to get rid of a little question. When I came back, Steffi stood behind the besanding door and waved me up. When I came closer there was a small hangover in front of the door and hissed Steffi through the window and did not let her out. I grabbed my chair and drove the animal. After a few minutes the animal was back at the door. We then simply decided to ignore the animal. That helped. The hangover disappeared again and he didn't let us look again at the door. </p>
        <p> We spent the evening on the terrace, watched a film and enjoyed the vacation. </p>
    </div>

</div><!--=== End Post ===-->
