---
layout: blog/en/travelblog
title: "02/26/2018 From Manila to Cebu"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Manila
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "This morning I pre-ordered a taxi to take me to the airport. According to the AirAsia website, I should"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4226.jpg"
    alt: "Chicken Adobo on the plane from Manila to Cebu"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} arrive at the airport 4 hours before departure. Google Maps said I would need about an hour and a half from the hotel to the airport by taxi. My flight was scheduled for 12:40 PM, so I ordered the taxi for 7:45 AM. Of course, it arrived a few minutes late as usual, but that's due to the heavy traffic here. Since I could track the vehicle's location through the app, it wasn't too bad. </p>
        <p> After about half an hour of driving, we were already at the airport. Here at the domestic airport, the procedures are a bit different - you first have to go through security with your luggage, and only then can you check in. Of course, these were almost empty. So it only took 5 minutes for my luggage to be checked in and to get my ticket. I then asked at the next security checkpoint how long it would take to get to the gate. The lady looked at me somewhat astonished and said 1 minute. I just thought, oh dear, it's only 8:30 AM and I don't have to be at the gate until 12:00 PM. So much for needing 4 hours to get through all security checks and be on the plane in good time. Well, nothing to be done. I just sat down on the next available chair, unpacked my laptop, and worked on this website. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> The flight later was very relaxed. We even flew past the Mayon volcano, which started spewing lava a little over a month ago. However, there was no smoke or any sign of an eruption to be seen. During the flight, I was served traditional Filipino food for the first time. It was Chicken Adobo - shredded chicken breast, fried with spices and served on a bed of rice. When I received the food, I thought "Oh dear, there's a lot of garlic in this." After I finished the meal, which was very tasty by the way, I felt like I urgently needed a toothbrush and mouthwash. When I got off the plane, I already had the feeling "Damn, you reek of garlic. Poor taxi driver." </p>
        <p> Everything worked out perfectly with the accommodation. I have a small but nice apartment on the 19th floor of a high-rise building all to myself. The view is good, and on the 17th floor, there's a pool with a great view of the city. I used it in the evening. Despite it being constantly warm here, the pool was quite refreshing. In the evening, I also checked out a coworking office. This is essentially an office where you can rent a desk on a daily basis. The A Space Cebu is very nice and practical, and the WiFi speed is good. Should be sufficient for the meetings on Wednesday. </p>
        <p> Tomorrow I have completely free again. I'll browse around here a bit and look at the surroundings. </p>
    </div>
</div><!--=== End Post ===-->
