---
layout: blog/en/travelblog
title: "12/28/18 and there they were flat"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - Washington D.C.

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-new-york.jpg"
alt: "Downtown Manhattan\'s skyline in black and white in the early morning"

author: "Steffi"

overview:
  intro: "Last night I somehow noticed a big nose, but put it in hope for the air conditioning."
  image:
    url: "/assets/img/blog/2018-usa/small/cold-1947995.jpg"
alt: "Two cold plush toys"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ My big nose was unfortunately still not gone this morning, but has become even thicker. I just tried ignoring it and we drove to the Air &amp; Space Museum in the pouring rain. </p>
        <p> Unfortunately, everyone else had the idea in the weather, so that there were snakes of up to 200m at all entrances. That was too much for us, the well -being fell on anyway, Basti started slowly, so we decided to go back to the hotel. </p>
        <p> There we walked on the sofa day and looked or slept one episode after the other of our series. </p>
        <p> Let's hope for tomorrow !!! </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

</div><!--=== End Post ===-->
