---
layout: blog/en/travelblog
title: "03.03.2018 Bus to Dumaguete"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Cebu
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-cebu-negros.jpg"
    alt: "The islands of Cebu (left) and Negros (right) together in one picture"

overview:
  intro: "This morning I was awake very early and above all I felt fitter than the last few days. So finally seems to be better."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4390.jpg"
    alt: "There are 7 different nationalities together. Stress -free!"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}
            Time too. </p>
        <p> I got ready and packed my things. Got me a few more bottles of water and ordered me a taxi to the Cebu South Bus Terminal bus station. A bus with a running air conditioning system was already ready to get in there. I had my luggage stowed away and looked for a place. During the rest of the waiting time, flying dealers came on the bus every few seconds and tried to get rid of their goods. From burgers, fries, nuts, donuts to cookies to Ray ben sunglasses. </p>
        <p> Steffi asked me the days whether there is a toilet on board the bus. I can only deny this. Didn't find any. The bus stopped twice on the way for a Pipi break. The toilets were even very clean and freshly wiped. ;) </p>
        <p> After 7 hours of ride including a ferry, I was finally in Cebu. There the bus driver put me completely in the wrong place. Oh well. Occurs. So caught stuff and off in the opposite direction. After just a few seconds, a tricycle (Tryk) stopped next to me and the driver looked at me questioningly. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7w8vaxeIpZ8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-12">
        <p> I showed him on my cell phone that I wanted to go to the Flying Fish Hostel, he only nodded briefly and then I squeezed my luggage and myself in the passenger seat. After a 5 -minute drive we were already on the hostel. With 100 peso (&euro; 1.50) I probably paid far too much but it didn't matter, because I had finally arrived. </p>
        <p> After checking in, I sat, the rest of the evening with some other travelers and we exchanged stories and tips. There was a self -mixed alster water to drink, which of course caused some ridicule and mockery. But I'm lucky. But now I'm going to run. Good night. </p>
    </div>
</div><!--=== End Post ===-->
