---
layout: blog/en/travelblog
title: "12/31/18 Rockefeller Center"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-usa

locations:
  - USA
  - new York

headline:
  image:
    url: "/assets/img/blog/2018-usa/skyline-from-rockefeller.jpg"
    alt: "The Skyline from New York in the direction of Downtown from the Rockefeller"

author: "Steffi &amp; Basti"

overview:
  intro: "New day new happiness. This morning we packed all of our things properly one last time and strategically distributed across all pockets,"
  image:
    url: "/assets/img/blog/2018-usa/small/IMG_7576.jpg"
    alt: "We two at the top of the Rockefeller Center to look healthy when trying"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Because this evening it goes home. </p>
        <p> But only late tonight. So we have time to see a few corners of New York all day. Unfortunately, our cold was still there and we still had to make slow. First we got tickets for the view of the Rockefeller Center. Now that we still had 1.5 hours until we were allowed to high, we looked for a little something to eat and drink. But only short foot marches because of this stupid cold. It really annoys. </p>
        <p> When we were finally allowed to go up on the top 3 floors of the Rockefeller Center, it was also easy to rain. Nevertheless, we took the chance to call our parents up here via video telephony and to share the view with them. Unfortunately, however, the connection disagreed, so that we quickly broke off again </p>
        <p> After we had seen each other, we drove down again and the hunger reported. This should be breastfed by redeeming the next point of our sightseeing pass. Because with this you can also stop in certain restaurants and treat yourself to something beautiful. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> In this case, we were drawn to an Italian after Times Square. Here we did not even have bad pizza and pasta. </p>
        <p> Unfortunately, the weather didn't get better, not our well -being and so we drove back to the hotel to get our suitcases. Here it was time to open suitcases, clothes and wash stuff, disappear into the bathroom from the hotel and move and make fresh. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-usa/small/IMG_7586.jpg" alt="We two, voellig in the AR ... at Amsterdam Airport">
        </div>
    </div>
    <div class="col-md-6">
        <p> After we had done all of this, our ordered Uber came and took us to the airport. </p>
        <p> When checking in, there was hope for an earlier flight, so we took our legs in hand to get to the switch in the security area. Unfortunately, however, it turned out to be a misinemona when we arrived, so that we still had enough time. We use this with the search for handkerchiefs that failed so that we made the restaurants easier for their napkins. </p>
        <p> Something was also unsuccessful to eat, as it was simply too intangible for us. To request just under &euro; 15 for a simple roll with a cut ... Sorry, we're out. </p>
        <p> At some point the boarding started and we were able to take our places. </p>
        <p> Basti tried to sleep and with me, almost immediately, migraines appeared immediately when putting. My head was just before the bursts and I was also stupid. So first look into the front seat after the emergency bag, luckily discovered it, so try to take your head out to sleep. Unfortunately, this did not work at all and so it became a flight again without sleeping cleverly. </p>
        <p> Fortunately, my migraine went halfway at some point, so that I couldn't see reasonably clearly, which was welcomed to the new year in the plane at 5 o'clock. Champus was served and some New Year's song was on the plane. </p>
    </div>
    <div class="col-md-12">
        <p> The display also told me that we were somewhere above the Sankt Lorenz golf in Canada. Landed in Amsterdam, we were still worse than right, so that the waiting time was drawn badly. </p>
        <p> When we finally arrived in Hamburg, we went through the red channel of customs. Here we wanted to register our too many too many things. Due to the low amount, however, we would be waved through and were able to jump into my mom's available car. She preferred to bring us back home, where we tortured ourselves until early evening and then finally fall into bed </p>
        <p> Conclusion: <br> It was more expensive than expected, it was more beautiful than expected and damn ... I'm still not finished with New York !!! </p>
    </div>

</div><!--=== End Post ===-->
