---
layout: blog/en/travelblog
title: "03/03/18 Bus to Dumaguete"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Cebu
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-cebu-negros.jpg"
    alt: "The islands of Cebu (left) and Negros (right) together in one picture"

overview:
  intro: "This morning I was awake quite early and above all, I felt fitter than the last few days. Seems like it's finally getting better."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4390.jpg"
    alt: "Here sit 7 different nationalities together. Stress-free!"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}
            About time too. </p>
        <p> I got ready leisurely and packed my things. Got myself a few bottles of water and ordered a taxi to the Cebu South Bus Terminal. There was already a bus with running air conditioning ready for boarding. I had my luggage stored away and found myself a seat. During the remaining waiting time, vendors came on the bus every few seconds trying to sell their goods. From burgers, fries, nuts, donuts to cookies and Ray-Ban sunglasses. </p>
        <p> Steffi asked me the other day if there's a toilet on board the bus. I can only say no to that. Didn't find any. The bus did stop twice along the way for bathroom breaks. The toilets were even very clean and freshly mopped. ;) </p>
        <p> After 7 hours of travel including a ferry ride, I was finally in Cebu. There the bus driver dropped me off at completely the wrong place. Oh well. These things happen. So I grabbed my stuff and headed in the opposite direction. After just a few seconds, a tricycle (Tryk) stopped next to me and the driver looked at me questioningly. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7w8vaxeIpZ8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-12">
        <p> I showed him on my phone that I wanted to go to the Flying Fish Hostel, he just nodded briefly, and then I squeezed my luggage and myself into the passenger seat. After a 5-minute ride, we were already at the hostel. I probably paid way too much with 100 pesos (€1.50), but it didn't matter at that moment because I had finally arrived. </p>
        <p> After checking in, I spent the rest of the evening with some other travelers, and we exchanged stories and tips. I had a self-mixed Alster water to drink, which of course caused some ridicule and mockery. But I can take it. Now I'm going to hit the hay. Good night. </p>
    </div>
</div><!--=== End Post ===-->
