---
layout: blog/en/travelblog
title: "02/27/18 Cebu City"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Cebu
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. These are the local buses"

overview:
  intro: "Unfortunately, last night on the way back to my accommodation, the shoulder strap of my laptop bag broke."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4295.jpg"
    alt: "A candle for my recently deceased grandfather"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} I found such a shop in the nearby shopping center. Unfortunately, the tailor wasn't there in the morning. A friendly lady explained to me that he might come to work (if at all) around noon. </p>
        <p> I spent the waiting time in a pizzeria with a glass of iced tea, which was refilled every few minutes. Since I'm not really convinced by Cebu either, I decided to look into how to get to Dumaguete. I found three options: by plane, overnight ferry, or bus. After searching for a while, I gave up trying to find a bus schedule online. I'll just take a taxi to the bus station and check there myself. </p>
        <p> So after noon, I made my way back to the cobbler, and lo and behold, he came to work today. It took less than 10 minutes, and my bag was repaired for just under 3 euros. THANK YOU. </p>
        <p> When I arrived at the bus station, I walked along the corridors looking at the buses for Dumaguete as the destination. It's worth noting that Dumaguete is on another island called Negros, which can only be reached by ship. So many buses only take passengers to the ferry, and from there, you have to continue on your own. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> This ferry terminal is about 120km from here, and the bus takes about 3 to 4 hours to get there. The first buses with the right destination were so shabby and worn out that I decided not to get on them. A bit further back, I could see some new, good coaches. I went there and, look at that, the bus goes all the way to Dumaguete. I asked the driver if he only goes to the ship. He said no - the entire bus is loaded onto a ferry in the harbor and transferred to the island of Negros. So the final destination is really Dumaguete. The price is 250 pesos (about €4). Let's see how my cold is by the end of the week. Depending on that, I'll either take the plane or the bus. </p>
        <p> From the bus station, I went in search of water. After all, I'm on an island - there must be water somewhere. The path led me through a district of many small shops that offer everything, from jewelry to fake brand products to furnishings. At the end of this district, you come to the pilgrimage site and the Basilica Minore del Santo Niño de Cebu. A very beautiful and very old church where I spent some time in thought and lit a candle for my grandfather before continuing my search for the sea. </p>
        <p> I finally found the sea a few hundred meters away. Unfortunately, a ferry terminal was in the way, and as far as I could see left and right, there were more terminals. Somewhat disappointed, I took the next taxi to the nearest shopping center, where I did some grocery shopping and spent the rest of the evening. </p>
        <p> Tomorrow we'll get back to work. I have an interview scheduled right from the start. Fingers crossed that the internet connection stays stable and that I can understand the candidate well. </p>
    </div>
</div><!--=== End Post ===-->
