---
layout: blog/en/travelblog
title: "03/15/2018 misunderstandings"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "This morning, I actually wanted to start stuffing my things back into my backpack. But only after breakfast."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4563.jpg"
    alt: "Write the blog in the cafe"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Tomorrow it is time again to change the accommodation, because unfortunately I could no longer book this apartment. At least I thought. </p>
        <p> As I finished myself, I got a message from the owner of the apartment that his staff is in the building today and that it takes care of the other apartments and whether I still needed anything. I thanked him and immediately informed him that I plan to leave the apartment around 11 a.m. so that he can let his cleaning team let me know. After a few seconds he wrote back and asked what was wrong, I would have booked until Saturday. After some back and forth, it turned out that we had spoken a little by each other. He said I can book the nights 10 - 16. So departure only on Saturday, March 17th. I had understood I can only until 16.03. remain. </p>
        <p> Now I have already booked accommodation from Friday to Sunday. This is not very expensive on the edge of the stand and happiness, because every change results in the costs of the first overnight stay. Well then I have 2 accommodations for the night from Friday to Saturday. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> So I postponed this by packing to tonight or tomorrow and preferred to work on the blog. So I started looking for a baker to get a dry bun against hunger and then sit down in a cafe with a milkshake somewhere. </p>
        <p> I found a nice small shop in a side street and the display said, calories high 15. cookies, popcorn, cream cakes. Luckily I have control and ordered only one pineapple fruit shake without extra sugar. Some time later, the lunch hungry reported and the cafe filled up. Then I made my way to a restaurant with a beach view. I stayed there for some time and enjoyed the view before I made my way back to the apartment, because the work was slowly called again. </p>
        <p> Oh one more. I'll go diving again tomorrow. I'm looking forward to it. </p>
    </div>
</div><!--=== End Post ===-->
