---
layout: blog/en/travelblog
title: "19.03. Moving to the resort"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dumaguete
  - Zamboanguita

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi"

overview:
  intro: "After a rather restless and damn short night, we first took part in the morning"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4677.jpg"
    alt: "Restaurant and beach bar"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} let the tricycle drive to the next shopping center. Here we still got drinks, breakfast for the next few days and small stuff. Then it went into the well-known Rollin Pin-Caf&eacute;, at least for Basti and there was a decent breakfast there. Basti then worked up a bit while I drove the time with reading. Slowly it was then to 12 hours and we drove back to the hostel via tricycle because it was at 12h check-out. </p>
        <p> After everything was done there, we went to the bus station and luckily the right, and especially air -conditioned, bus was ready and 2 coherent places were also free. You have to be lucky! Behind us was a family who obviously had fun with us Europeans, especially if they also react and participate in the fun. After the journey started, the ticket distributor got around pretty quickly and exhibited their card to everyone. Paying is only made in the second round when everyone is cared for. After being collected, his third round follow: give change back! Amazingly, he always knows exactly what who gave him !!! I would be hopelessly stuck. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> &nbsp; </p>
        <p> When we arrived in Zamboanguita, we have already been collected by a tricycle driver, who should bring us to the resort on a fairly new machine, including a lot of horsepower. He also wanted to present the PS to us right away, he was also visibly proud of it, but we braked it in a friendly manner! The remaining meters away from the main street went over a sandy bumpy slope until we finally arrived. Unfortunately our room was not yet finished, so we treated ourselves to cold drinks and watched the beach. Unfortunately, this section of the beach turned out to be very rocky in the sea, but luckily there are still alternative options to the left or right. After we moved into the room a short time later, fine and above all clean- we went back to the bar. Basti started working and I was looking for a nice place and enjoyed it for now. More does not happen that day, except for a good lunch/dinner. </p>
    </div>
</div><!--=== End Post ===-->
