---
layout: blog/en/travelblog
title: "02/26/2018 From Manila to Cebu"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Manila
  - Cebu

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

overview:
  intro: "This morning I pre -ordered a taxi that should take me to the airport. According to the Airasia website, I should"
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4226.jpg"
    alt: "Chicken Adobo on the plane from Manila to Cebu"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} to be 4 hours before departure at the airport.  Google Maps said I need about an hour and a half from the hotel to the airport by taxi. My flight should go at 12:40 p.m., so I ordered the taxi at 7:45 a.m. Of course, this arrived as usual with a few minutes late. But that's due to the many traffic here. Since, thanks to the app, I could see where the vehicle was, it was not all bad. </p>
        <p> After about half an hour of driving, we were already at the airport. Here at the national airport, the processes run a little differently, you first have to be through a security check, after that, after that the check-in switch. Of course, these were almost empty. So it only took 5 minutes for my luggage to be checked in and I had my ticket. I then asked the next security check how long I would need about the gate. The lady looked at me a little in astonishment and said 1 minute. I just thought oh dear, it's just 8:30 a.m. and I don't have to be at the gate until 12:00 p.m. So much to you take 4 hours to get through all security controls and be on the plane in good time. Well, nothing helps. Then I just sat on the next free chair, unpacked my laptop and made on this website. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> The flight later was very relaxed. We even flew past the Mayon volcano, who started spitting Lava a little over a month ago. However, it was not a smoke or a sign of an outbreak to be seen. During the flight, I was traditionally served for the first time Filipino food. There were chicken adobo. This is plucked chicken chest, fried with spices and served on a rice bed. When I accepted the food I thought "Oh dear but there is a lot of garlic in it". After I had the food, which was very tasty by the way, I had the feeling that I urgently needed a toothbrush and mouthwash. When I got out of the plane I already had the feeling "Damn, you stink tremendously for garlic. Poor taxi driver." </p>
        <p> Everything worked well with the accommodation. Have a small but fine apartment on the 19th floor of a high -rise building all for me alone. The view is good and on the 17th floor there is a pool with a great view of the city. I also used it in the evening. Despite that it is always warm here, the pool was pretty fresh. In the evening I also looked at a coworking office. This is almost an office where you can rent a daily desk. The A Space Cebu is very nice and practical and the WLAN speed is nice. Should be enough for the meetings on Wednesday. </p>
        <p> Tomorrow I have completely free again. I will browse a little here and look at the surroundings. </p>
    </div>
</div><!--=== End Post ===-->
