---
layout: blog/en/travelblog
title: "03/26/2018 Flight to Mactan"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2018-philippines

locations:
  - Philippines
  - Dauin
  - Malatapay
  - Dumaguete
  - Mactan

headline:
  image:
    url: "/assets/img/blog/2018-philippines/headline-jeepney.jpg"
    alt: "A jeepney in Manila. Here are the local buses"

author: "Steffi &amp; Basti"

overview:
  intro: "Today it was time to say goodbye to the island of Negros, because for us it should go to Cebu with the plane. Or rather to Mactan."
  image:
    url: "/assets/img/blog/2018-philippines/small/IMG_4817.jpg"
    alt: "The deserted market in Malatable"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Cebu Airport is located on a neighboring island called Mactan. This is completely surrounded by a reef. Therefore, almost every free centimeter beach is built with luxury resort and hotel facilities. One of them is the Costabella Tropical Beach Resort. We want to go there today. </p>
        <p> Around 11h we left the accommodation and once again steered the Dauin Dive Caf&eacute;, because Basti had already clarified with the diving instructor in advance that we can leave our luggage there first. Actually, we wanted to go swimming, but since we both had no desire for wet, we decided to take the bus to Malatabay. There is always a market on Wednesdays and also the place of departure if you want to self -organized to Apo Island. Unfortunately, apart from Wednesday, everything is really tight and so we only briefly strolled to the beach and then sat on a milkshake and disgusting Pomerania in a beach caf&eacute;. From there we watched a diving course including search and rescue exercise! </p>
        <p> When we made our way back, we first experienced what it means to be dependent on the Filipino transport. At first no bus came, then we finally saw one and he drove past us ice cold. In the meantime there were two more Filipinas with us, the next came and ... he also drove past us ice cold! </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Of course, a tricycle or a Jeppney came by, which otherwise drive in masses. So keep waiting! Then finally came a jeepney and it was even like space and we could sit on the bench. Unfortunately we had to slip completely, which proved to be quite idle when getting out. Because in the meantime the part filled very well and the people were already in the corridor and Joa, we had to pass. We certainly caught one or the other foot, but people had fun with us too big Germans. </p>
        <p> In the caf&eacute; there was a drink again and then it was time to snap things and back up to the street. As soon as we got there, we already saw a bus, he even held and was also quite empty. Arrived in Dumaguete, we then switched directly to a tricycle that took us to the airport. Then there was the nasty surprise ... the plane has 2 to 3 hours late! Unfortunately, the departure hall was a climate system monster, in the form of 11x 2m high stand devices, and unfortunately there was no supply. You couldn't buy drinks or food. But now I got pretty thirsty and asked for possibilities when it comes to security. This sent me all the way out, there is someone from time to time. Unfortunately there was nobody at all and when I came back, he looked at me quite perplexed. His colleague then came up with the idea of &#8203;&#8203;giving me a plastic cup in my hand and giving me something from her water dispenser. At least something! After watching a few rounds of UN and film, it was suddenly very quick and we were even able to boast before the announced delay. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2018-philippines/small/IMG_4852.jpg" alt="The Cebu Pacific plane to Cebu">
        </div>
    </div>

    <div class="col-md-6">
        <p> Then we also found that this time we were quite next to it when it comes to seating. We booked the 1st row especially so that we can quickly be outside ... Well, unfortunately not with a propeller machine from Cebu Pacific. There is no normal door at the front, but the luggage compartment. We were the first to be inside, but also the last ones who were outside. Great and we paid for that. We still have a job with laughter, because something like that can only happen to us. Opposite the gentlemen hit it even worse. He had booked row 1 and had to fly backwards. With just a little more than one hour delay, we landed in Cebu. </p>
        <p> After we had our luggage, we ordered a Uber (a kind of taxi where you are driven by private individuals) and it went relatively quickly to the resort. Here, 2 worlds met: on the way to accommodation poverty and makeshift bamboo huts. Then we passed 2 safety locks at once and landed in paradise. We were welcomed very friendly, our luggage loaded onto a suitcase car and then it was only possible: "I can give you a joyful message ... you got a free room upgrade" when asked about what edible: "I can make you a joyful message ... Our restaurant is open 24 hours" </p>
    </div>
    <div class="col-md-12">
        <p> The saying just flew towards us. After all the formalities were done, we were brought to our room 226. This turned out to be a beautiful, spacious family room including large bathroom. Since the hunger and especially the thirst rushed to us, we went out and in and the tapas bar "Luna". Here there was 6 mosquito bites in one and the same place and as a dessert a Strawberry Daiquiri and Tortilla de Patata for me and for Basti a mango daiquri and a pizza. In the meantime it was already 1 hour in the morning and the bed called very loudly! </p>
    </div>
</div><!--=== End Post ===-->
