---
layout: blog/en/travelblog
title: "03/16/19 Canada Brothers Day 9"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
alt: "The skyline from Toronto seen from the plane"

author: "Matze & Basti"

overview:
  intro: "So today the highlight of our trip. The organizers of the conference go to Sugar Shack with the speakers and their assistants (i.e. me)."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7873.jpg"
alt: "The typical yellow school bus that brought us to Sugar Shack"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ finally some Canadian culture and tradition. Like so much in Canada, this has to do with food. Because the North Americans are on nutrition. I am only surprised that people here are not thicker than in Germany. </p>
        <p> One of the typical yellow school buses drives us out of Montreal for an hour and into the forest. There is still a lot of snow here. We are reloaded to a horse -drawn trail and find ourselves at a few wooden huts. Ahorn syrup is manufactured here. Small metal buckets hang everywhere on the tree trunks. An inspection shows that the raw tree juice of the sugar maple runs into it. The syrup will later become of this. </p>
        <p> In one of the wooden huts is a large hall that is a little reminiscent of a Bavarian beer tent with a fireplace. So simple benches and tables and good mood. But instead of brass music, there is violin and guitar. I prefer it too. </p>
        <p> The Canadians take this Sugar Shag very seriously. So it is not a tourist event. A waitress briefly explains what to eat, and then it starts. Large bowls with soup, meat, mashed potatoes and more meat are passed around. There are still pancakes for dessert. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> So not for people with slimming madness, because everything you eat or drink there !!! can be poured over with maple syrup. The only exception that the Canadians make is the Sugar Bun at the end. It is pure caramel and so cute that nobody can eat more than a mini piece. It is not for nothing that this event is also called diabetes development center. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-canada/small/IMG_7885.jpg" alt="The maple syrup in the snow">
        </div>
    </div>
    <div class="col-md-6">
        <p> Ahorn syrup is poured in the (hopefully) clean snow outside. Then it can be wrapped around a wooden stick and you already have a lollipop. However, my need for sugar is covered for the time being. We then looked around a little on the premises, went briefly into the Souvenir Shop before we slide the way back to the bus. </p>
        <p> Back at the hotel we decided to take a short break before we wanted to continue exploring the underground passages of Montreal. Well from only briefly, there were several hours, which we both lazy and discussed about God, the world, politics and press. </p>
        <p> At some point, however, we still set off and ran through the confused corridors and broken down from a shop to shop. After eating something in a mile of feed, bubble tea tried like here. It turned out to be sugar water with a lot of artificial aromas in which a kind of soaked Haribos swim. Very disgusting. Basti&rsquo;s was probably better in terms of taste. </p>
        <p> Back in the Hotel we gave up the artificial taste with beer and cocktails, debated a little further and at some point made our way to bed. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
