---
layout: blog/en/travelblog
title: "09.03.19 Canada Brothers Day 2"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
alt: "The skyline from Toronto seen from the plane"

author: "Matze"

overview:
  intro: "We were awake at an early stage and found that the dreaded jet lag was only moderately expressed. That we woke up so early was due"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7811.jpg"
alt: "Matze and Sebastian in front of the Canadian train in Toronto"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ The loud air conditioning that jumped continuously. However, we only woke up after the fire alarm was triggered. So jump in the pants. Fortunately, it was not evacuated. But when we later came to the hotel hall, it smelled of Karamell and the firefighters stood around relatively relaxed. </p>
        <p> So now breakfast. In my function as a "Feelgood Manager" I had already picked out a restaurant. There was then, typically Canadian, cinnamon rolls with bacon and egg under a mountain of fresh fruits. Of course, this should then be poured over with Ahornsyrup. Delicious! </p>
        <p> Freshly strengthened, we gave our big suitcases in the Hotel Bonaventure. The conference will take place there from Wednesday. At lunchtime we drove with small luggage, by train from Montreal to Toronto. So we gained a first impression of the vastness of the country. Really a lot of area here. On the way I started writing this blog on the way. </p>
        <p> With less delay than with Deutsche Bahn, we arrived in Toronto. </p>
        <p> We found the apartment we rented in one of the skyscrapers right next to the train station. Only the way there was a bit cumbersome, since everything was built here. You don't even know which building you are in and you are building everywhere. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> A very rushed young man brought us up to the 13th floor and gave us the keys. The apartment is very modern with floor -to -ceiling windows and two bedrooms. </p>
        <p> We didn't stay long and gave up our urge to move. We ran along the water until we got cold. We found a small supermarket in one of the high -rise buildings. There we bought steaks and vegetables for dinner and even real grain bread for breakfast. </p>
        <p> So I started to cook and we didn't get that very old anymore. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
