---
layout: blog/en/travelblog
title: "03/08/19 Canada Brothers Day 1"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Hamburg
  - London
  - Montreal
  - Germany
  - Great Britain
  - Canada

headline:
  image:
    url: "/assets/img/blog/2019-canada/headline-flug-montreal.jpg"
alt: "The skyline from Toronto seen from the plane"

author: "Matze"

overview:
  intro: "I already got the rental car of the elephant roller shoe brand yesterday. After saying goodbye to mine, mostly loving, wife and mine"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7789.jpg"
alt: "Our flight tickets with the upgrade"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ I drove son to Ahrensburg. Note: Small car on the highway near Sturm are not fun! </p>
        <p> When I arrived in Ahrensburg, I collected Basti and luggage and we drove straight to the airport. There we got rid of the rental car really quickly and easily. Now we still had plenty of time to boarding. So first unpacked and breakfast in the "Restaurant Zur Goldenen M&ouml;we". We wanted to give up the luggage two hours before departure. </p>
        <p> Panic: Something is wrong with my entry confirmation for Canada. When applying for the ETA, I did not enter the pass number correctly. One O was actually a 0. As we were allowed to learn now, there are no O&rsquo;s in pass numbers. Fortunately, the lady at the counter could clarify the problem. Thanks to our excellent preparation, we also passed the security check. </p>
        <p> The flight to London Heathrow was uneventful except for the fact that British Airways is now taking money for drinks on short -haul flights. When we arrived in London early, we had to pass a security check again. So unpack all electronic devices. And we have some of them. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> The next shock on the boarding check (which we had on the cell phone). "Please register at the counter". There we were informed that we were upgraded to the World Traveler Plus class. Super!!! So with grin on the face a bit in the Harry Potter Shop and then eaten a few fries. In the waiting area, we tried to get into our thrombosis socks under laughter cramps. Which almost worked. </p>
        <p> Getting into the Boing 787 to Montreal started with half an hour late. We were allowed to go to the plane again. Our places were great. We were able to sit together and even make our legs long. There were pillows, blankets, noise -insulating headphones and delicious food. And the drinks were also included. So first we order beer and whiskey to start our trip. The plane then started with a delay of 1.5 hours at 18:12 because the pushback vehicle was broken. With a little tailwind we landed 19:52 in Montreal. Local time, of course. Now we have a time shift of 6 hours to Germany. </p>
        <p> The entry to Canada was surprisingly smooth. Scan passport, take a photo, written and oral test and we were already in Canada. </p>
        <p> Now the most important thing: organize phone cards for your cell phone. That was also quick and so the Uber delivered us around 9:30 p.m. in the Hotel Bestwestern. The room was ok, we wandered a little more and then went to bed on time. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
