---
layout: blog/en/travelblog
title: "14.03.19 Canada Brothers Day 6 & 7"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline from Toronto seen from the plane"

author: "Matze"

overview:
  intro: "These two days ran pretty much. Basti organized fruit and cake for breakfast. Then he had to work and also healthy"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7843.jpg"
    alt: "Hauptaal of the confo.ca conference"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}. </p>
        <p> So again, again, I looked at the city alone. I also had to fulfill souvenir orders. I looked at a few churches and in the evening there should be parties at the conference. </p>
        <p> However, these were rather lame events. So we are still on a drink in the Hotel Bar. A drink for me and because of the medication for Basti only a lemonade. </p>
        <p> After that, as usual, it went to bed on time. </p>
        <p> Good night out there </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

</div><!--=== End Post ===-->
