---
layout: blog/en/travelblog
title: "Introduction: Canada Brothers"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline of Toronto seen from the plane"

author: "Matze"

overview:
  intro: "Hello everyone! I'm sitting here on the train from Montreal to Toronto typing, very important, this blog. And dear ladies, you should"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5203.jpg"
    alt: "Matze writing the blog on the train"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} keep any spelling and grammatical errors you find. </p>
        <p> Why am I sitting here? Because my brother is participating as a speaker at the ConFoo IT conference in Montreal. My brother, that's Sebastian, known from blogs like: Workation Philippines and Australia trip 2017. </p>
        <p> Oh, I'm Matthias. Little Sebastian's big brother;) </p>
        <p> Since Basti's Steffi can't travel to Canada, we decided that I would come along as the chronicler. Unfortunately, I had to work during the winter holidays for this. </p>
        <p> The rough plan has been in place since November, and since then we've planned everything in detail. We decided to fly to Canada 4 full days before the conference and take a look at North America in winter. So we have a plan, and the next few days will show if it works. If not, we have a plan B! </p>
        <p> Of course, I caught an infection a few days beforehand. My dear son brought it home from school. Thanks for that, Ceddi. So it was difficult for me to prepare. At the same time, there were still some private things to organize. But now it's almost better again. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> And suddenly and unexpectedly, March 8th, 2019 was here. </p>
    </div>

</div><!--=== End Post ===-->
