---
layout: blog/en/travelblog
title: "23.05. Part 1 letter salad"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Serbia
  - Belgrade
  - Germany
  - Hamburg
  - Munich

headline:
  image:
    url: "/assets/img/blog/2019-belgrade/sunset-at-danube.jpg"
    alt: "Sunset over the Danube in Belgrade"

author: "Steffi"

overview:
  intro: "Today it went from work directly to the airport, because Belgrade was waiting for us. Stupidly I suffered from evil all day"
  image:
    url: "/assets/img/blog/2019-belgrade/IMG_5577.jpg"
    alt: "That in hotel from the other side of the street"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Headache where there was not even a tablet against. So there was something to drink at the airport and to eat including a new tablet. But it didn't help and the migraines now knocked very loudly. </p>
        <p> There was a lot going on at the security area and nothing was moving at first. Well, 30 minutes until boarding times do not become nervous. We chatted the lady on the Fastlane and luckily we were allowed to use them. </p>
        <p> In the end it fit and we sat on the plane on time. It also said that we are delayed. The plane would be too heavy at the back and must be reloaded. Almost 20 minutes later we finally rolled off and arrived in Munich early to catch our connecting flight to Belgrade. During the flights I actually only saw stars and was happy to finally land in Belgrade. </p>
        <p> Here the driver, who was given to us by the conference, was already waiting for us. Unfortunately it didn't go on right away, because we were waiting for another participant in the conference who was supposed to ride. This came to us for almost 15 minutes, so we were finally in the hotel at midnight. We'd better not talk about the driver's driving style ... </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Checked in, the room was covered and freshly made, so that the realm of dreams was finally close. Unfortunately, the air conditioning did not want to get us like us and heated us up in the room at 26 degrees. The night was more or little restless and, above all, very warm. </p>
        <p> For Basti it went out of the room at 8:00 a.m. because he already had an event. I tried to sleep, but I didn't get anything. Especially since the cleaning lady handled with the vacuum cleaner in the room. So finished and breakfast wanted. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-belgrade/IMG_8452.jpg" alt="Steffi on the Danube steamer restaurant when ordering">
        </div>
    </div>
    <div class="col-md-6">
        <p> The first surprise was at the room announcement at breakfast. The employees smoked right behind, although there are non-smoking signs everywhere. Well Hallelujah! </p>
        <p> Fortunately, nothing noticed in the breakfast area and the breakfast itself offered a very large selection. </p>
        <p> The employees have not leased the friendliness here, but the ambition. As soon as I only put the fork out of my hand, mind you ... there was still enough on the plate, they wanted to take everything away. </p>
        <p> After breakfast I first moved into the lobby because I told the cleaner to leave the room that she had an hour until return. Well, that I have good books with me. </p>
        <p> Back in the room I finished exploring to the area. A look at the bed, which was so inviting that I just drifted a lot on it and drifted for 2 hours. So much go for the topic. However, my motivation was still not better, so I stayed on the bed and read on. </p>
        <p> Stupidly I got drinking at some point, so I had to get out. So I stumbled from pothole to pothole and shortly afterwards I also found a supermarket and despite the thoughts "they cannot use real letters, how can you read or find something here". </p>
    </div>
    <div class="col-md-12">
        <p> Since I was already outside, I wanted to take the chance and visit the shopping center opposite. I had to search for the path first, because a highway separated me from the destination. Arrived, there were a few shops to be found, but I can't do anything with electrical office and not either. So sneaked around or stumbled and tries to find what's edible. Unfortunately, the snacks did not look inviting and smelled it much worse. So the pack of cookies from the supermarket had to be enough. </p>
        <p> The caretaker came back in the room and explained with hands, feet and worse English than mine that the air conditioning systems are out. After all, it would only be 20 degrees outside. I don't care outside. We die in the room with warmth! He then said that he drives up the system and makes a setup and wait ...! </p>
        <p> So continue reading, eating cookies and see what the evening brings with it. </p>
        <p> After Basti was back from the 2nd event of the day, we went towards the Danube. There we landed on a more or less mottled hotel steamer including a restaurant. There we then stopped my hunger and then made ourselves comfortable, with detours, back to the hotel. Basti finally had the speaker dinner in the evening. </p>
        <p> The next book or a film was waiting for me. </p>
    </div>

</div><!--=== End Post ===-->
