---
layout: blog/en/travelblog
title: "03/17/19 Canada Brothers 10 & 11"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal
  - France
  - Paris
  - Germany
  - Hamburg

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline from Toronto seen from the plane"

overview:
  intro: "So today it was time again. The last day of our small company had broken. I was now largely well."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7909.jpg"
    alt: "The metro on wheels in Montreal"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} After we had packed the suitcases and stored at the bottom of the entrance, we made our way with the metro to Saint Hellen&rsquo;s Island. According to Google, there should be a little bit to see and Matze might want to take one or the other photo of one of the main bridges in Montreal. When we arrived on the platform, we found that there were no rails there and the metro drives here on normal wheels. After a few googling, Matze found that normal steel bikes could not overcome the necessary climbs that would have been necessary here in Montreal. We are also here in the French part of Canada and that's why solidarity ride the same tracks as Paris. "The Canadians again." </p>
        <p> When we arrived on the island, we found that there is not too much going on here today. Most footpaths were completely hidden under thick layers of ice. We only took a few photos and then we decided to make our way back. It had become pretty cold again overnight. Uncomfortably cold. </p>
        <p> Back in the city center we crept a little through the shopping centers, ate something and treat ourselves to a great dessert in a train station Caf&eacute;. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Then came the ordered taxi, which brought us to the airport. Once there, we found that we were there a lot too early and that the switch was not yet open. When we had to look at the ads, we were also informed that our flight was late. Great. Oh a hasth wait. How long do we have time in London for changing? Only 1.5 hours ups then we have a little problem now. </p>
        <p> As soon as the switch opened, we were already facing an extremely helpful lady who gave everything to help both of us. She informed us that we would not reach the plane in London and that is why British Airways had already resold our two seats. The next flight from London to Hamburg, with free seats, would only have been 10 hours later. Really now? The friendly lady really gave everything. She tried many other variants and also to bring us to Germany with other airlines. In the end, she had a solution that at first glance didn't sound so stupid. She booked us on a flight from Montreal to Paris with Air France. From there it should continue to Hamburg after a short stay. We would then have landed only with a delay of just over 1 hour in Hamburg. Of course, we asked here for a free upgrade. Unfortunately we were not lucky today and had to fly wood class. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-canada/small/IMG_7902.jpg" alt="Matze while packing">
        </div>
    </div>
    <div class="col-md-6">
        <p> Matze was not pleased when he squeezed into the narrow gang. At least the square next to him was free. The film selection on this 7 -hour flight was also not to be used and I don't even want to start eating. We both actually thought that the French like good food. Unfortunately, it was not noticeable up here. </p>
        <p> Arrived in Paris, Matze almost beaten up with a lady from the security service when she started pulling very rough Matze's expensive camera equipment from his backpack. When we finally arrived at the gate through passport control and some crowds, there was a delay there again. The moment we were supposed to fly, the plane was just rolling up to the gate. Matze definitely has the snout from the French. Very full! </p>
        <p> In Hamburg, a rental car was waiting for Matze again. Unfortunately, a warning lamp shone when you start. So swap back to the switch and car again. Of course everything was not a problem and ran smoothly here too, but it took a further time. </p>
        <p> We should actually arrive in Hamburg at noon. When we drove off with the rental car, the sun was already hung very deep above the city. </p>
        <p> Apart from a stupid cold and the problems on the way back, everything else in Canada worked well. Actually, you would have to go there again if it is not that cold. To see even more from the country and maybe get a little more into the mountains. If only this language (French) were not. Simply creepy. </p>
        <p> Greetings to all. </p>
    </div>

</div><!--=== End Post ===-->
