---
layout: blog/en/travelblog
title: "03/15/19 Canada Brothers Day 8"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline from Toronto seen from the plane"

author: "Matze"

overview:
  intro: "Even today the usual procedure. I\'m slowly getting into stress because I still need a sports jacket with Canada print for my favorite child."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5328.jpg"
    alt: "Montreal city center seen from the port"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} So I again dipped into the surface and ran 15 km through the shopping centers. I found everything except for the training jacket. </p>
        <p> Then a afternoon sleep was due. </p>
        <p> Later we both started again. After all, Basti also wanted to see some of Canada. Together we found a sports shop in the Bell Center. This is a large sports arena in which concerts also take place and the Montreal Canadiens play. Ice hockey, of course! </p>
        <p> There we also found the training jacket and a hat for Basti. We decided to let the final celebration of the conference whiz and ran down to the old harbor, past Notre Dame. </p>
        <p> Yeah right. The church also looks like the original in Paris from the outside. For this, the cathedral is modeled here in Monetral, Petersdom in the Vatican. At the harbor we quickly searched for a geocache so that we can enter at least 2 from Canada. </p>
        <p> Then we went to a bar because of hunger, pee, cold. We ordered typical Canadian food and beer. There were chicken wings and poutine. These are fries with cheese cubes that are poured over with a roast sauce. Quite delicious. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> And then there was bedtime again. </p>
        <p> Good night out there </p>
    </div>

</div><!--=== End Post ===-->
