---
layout: blog/en/travelblog
title: "05.05. Part 3 letter salad"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Serbia
  - Belgrade
  - Germany
  - Hamburg
  - Munich

headline:
  image:
    url: "/assets/img/blog/2019-belgrade/sunset-at-danube.jpg"
    alt: "Sunset over the Danube in Belgrade"

author: "Steffi"

overview:
  intro: "At breakfast it was louder this time than usual and, above all, full. Not only the ITLER were there, but also the fighters of the"
  image:
    url: "/assets/img/blog/2019-belgrade/IMG_8482.jpg"
    alt: "Steffi on her birthday in the Novak restaurant"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Kendo European Championship, which also took place this weekend, were in the breakfast room. </p>
        <p> Actually, we thought for today that we were driving a bit out, but unfortunately the public network is so limited here that you don't even have to think about it. Even Google refuses to propose routes here. There is no country set to tourists. </p>
        <p> Due to the rain, we were drawn back to the shopping center. This stopped immediately after leaving the hotel, but we didn't have anything else anyway. After the first quarter we landed there in a caf&eacute; and made Basti one or the other on the computer until we tackled the rest of the center. </p>
        <p> Then the path led us towards the Danube, where we walked for a long time despite drizzle. On the way there we remembered that we had to check in, which we then did. At some point we turned back towards the hotel, because on the way there was a business line where you could easily eat well. Smell at least afterwards. We landed at an Asia snack bar and the food was very tasty, but unfortunately completely drowned in sauce. But it didn't even cost us &euro; 4 for both. As a dessert, there were some shops, for everyone an ice cream and then a film on our hotel room. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> If a birthday, then also fulfill a wish. So in the evening we landed again in the "Novak", the restaurant next to our hotel. This apparently belongs to the father of Novak Djokovic, the current world ranking in tennis. All trophies are here and you can buy various fan ram. But apart from that ... the food is very tasty here, the waiter friendly and I wanted to eat a crepes here at the end. </p>
        <p> However, the crepe only existed for sharing with Basti, because suddenly I was more after a minestrone. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-belgrade/IMG_8510.jpg" alt="The lobby of the Hotel in Belgrade, Serbia">
        </div>
    </div>
    <div class="col-md-6">
        <p> In the morning there was a lot of breakfast for one last time, packing the rest until our driver received us to the airport at 10:30 a.m. The airport is just as expensive here as everyone else in the world. But there is a difference that we didn't know yet. Here the security check takes place directly on the gate. </p>
        <p> After spent the last Serbian money, we moved to the gate. Shortly afterwards it was said that we were delayed. But it was still suitable for our connection! </p>
        <p> Shortly afterwards, the next message in the Lufthansa app came that we would not reach our connection in Munich and that we should report to the service switch. Super! </p>
        <p> With 30 minutes late we rolled off the gate and we finally went towards Munich. We had a lot of space, on the one hand because we were sitting in the emergency exit series, on the other hand the space between us was free and the plane was quite empty. Landed in Munich, we got the message via the app that we were rebooked to the aircraft at 16.15 p.m. (1 hour later). Great, not even 15 minutes to boarding. When we started, we met the flight attendant, which we already had on the outward flight on Thursday. So we were greeted with the words "We know each other. We have just flown together". Fascinating! </p>
        <p> In Hamburg, after we had our suitcases, we first headed for our regular restaurant, because our empty bellies wanted to be filled. </p>
    </div>
    <div class="col-md-12">
        <p> Conclusion of Belgrade/Serbia <br> Steffi: Not again! Just not my direction from Europe. <br> Basti: Gladly again for this conference. But not explicitly because of vacation. </p>
    </div>

</div><!--=== End Post ===-->
