---
layout: blog/en/travelblog
title: "03/15/19 Canada Brothers Day 8"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline of Toronto seen from the plane"

author: "Matze"

overview:
  intro: "Same routine today. I'm starting to get a bit stressed because I still need a sports jacket with a Canada print for my favorite child."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5328.jpg"
    alt: "Montreal's city center seen from the port"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} So I dove back into the underground and walked 15 km through the shopping centers. I found everything except for the sports jacket. </p>
        <p> Then it was time for an afternoon nap. </p>
        <p> Later we both went out again. After all, Basti wanted to see some of Canada too. Together we found a sports shop in the Bell Center. This is a large sports arena where concerts are also held and the Montreal Canadiens play. Ice hockey, of course! </p>
        <p> There we found the sports jacket and a hat for Basti. We decided to skip the conference's closing party and walked down to the old harbor, past Notre Dame. </p>
        <p> Yes, that's right. The church looks just like the original in Paris from the outside. In contrast, the cathedral here in Montreal is modeled after St. Peter's Basilica in the Vatican. At the harbor, we quickly searched for a geocache so we could log at least 2 from Canada. </p>
        <p> Then we stopped at a bar because we were hungry, needed to use the bathroom, and it was cold. We ordered typical Canadian food and beer. There were chicken wings and poutine. These are fries with cheese curds that are covered in gravy. Quite delicious. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> And then it was bedtime again. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
