---
layout: blog/en/travelblog
title: "03/11/19 Canada Brothers Day 4"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/headline-eishockey-arena.jpg"
    alt: "The ice hockey arena in Toronto where Matze unfortunately had to watch the game alone"

author: "Matze"

overview:
  intro: "Well, now the little one has really caught it. A proper cold! He's lying on the couch suffering. I had already bought lemons yesterday and"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5264.jpg"
    alt: "A photo of the game Toronto Marlies against the Belleville Senators"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} kiwis. But unfortunately too late. </p>
        <p> My wish was to see a game live in the motherland of ice hockey. We had already bought the tickets for this in Germany. And the game is today! Basti now has to stay in bed today, so I'm going alone. Of course, not without making him a hot lemon drink and calling our mom. </p>
        <p> Happy Birthday!!! </p>
        <p> The stadium is right next to our residential tower, but it still took me a while to find the right entrance. There was still a free hat at the security check and I was in the crowd. For a Monday afternoon, there are an unbelievable number of people here who want to see the game. In Rostock, we go to ice hockey from time to time. But that's not comparable at all. Our seats are great, right next to the penalty box at the front of the rink. Unfortunately, the seat next to me is empty. The atmosphere in the stadium is great, people even sing along loudly during the national anthem. Unfortunately, Toronto still loses 3-5 against Belleville. Nevertheless, everything stays relaxed. No one is aggressive. There are no fan blocks. The fans of the opposing teams sit mixed together in the rows. A really great experience. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> After the game, I walked through downtown Toronto looking for a pharmacy. I bought medicine for Basti and Indian food for dinner. My brother still had no appetite. So he got dry bread and kiwi. For dessert, he was allowed to do some steam inhalation. Hopefully, he'll feel better tomorrow. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
