---
layout: blog/en/travelblog
title: "03/12/19 Canada Brothers Day 5"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline of Toronto seen from the plane"

author: "Matze"

overview:
  intro: "What luck. Basti is feeling a bit better. By 11 AM we packed our things and left the apartment right on time."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7840.jpg"
    alt: "Montreal from the plane"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} The plan was to spend the day in Toronto and fly to Montreal in the evening. However, since Basti doesn't feel up to an extensive city tour yet, we took the streetcar to Toronto's small city airport. We both looked so miserable that the nice lady at the counter immediately rebooked us onto the next flight. And so after just a few minutes, we were sitting in a small propeller plane to Montreal. </p>
        <p> Once there, we took possession of our hotel room and started looking for a supermarket. Montreal also has this tunnel network under the city. It connects train stations, metro stations, hotels, and high-rise buildings. One shopping center flows into the next. A complete city underground. Bright and well-heated. Unfortunately, there's no proper supermarket. But we needed one to buy some food and drinks. Eating out is expensive in Canada, and we want to keep the cost of this "excursion" as low as possible. </p>
        <p> Eventually, we found a shop on the surface. Delicious cheese bread, cottage cheese, and beer went into the basket. That's enough for now. And there wasn't much more to today. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
