---
layout: blog/en/travelblog
title: "Introduction: Canada Brothers"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
alt: "The skyline from Toronto seen from the plane"

author: "Matze"

overview:
  intro: "Moin community! Now I\'m sitting here on the train from Montreal to Toronto and typing, very important, this blog. And dear girls, you should"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5203.jpg"
alt: "Write Matze on the train on the blog"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ Spelling,- and grammatical errors can be found. </p>
        <p> Why am I sitting here? Because my brother takes part in the Confoo IT conference in Montreal as a speaker. My brother, this is Sebastian, known from blogs like: Workation Philippines and Australia trip 2017. </p>
        <p> Oh, I'm Matthias. Little Sebastian's big brother;) </p>
        <p> Since Basti&rsquo;s Steffi cannot travel to Canada, we decided that I ride as a chronicler. Unfortunately I had to work for this during the winter holidays. </p>
        <p> The rough plan has been around since November and since then we have planned everything in general. We decided that we fly to Canada 4 full days before the conference and take a look at North America in winter. So we have a plan and the next few days will show if it works. If not, we have a plan B! </p>
        <p> Of course, I acted an infection a few days beforehand. My dear son brought him from school. Thanks for that, Ceddi. So it was difficult for me to prepare me. At the same time, there were still a few private things to organize. But now it's almost good again. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> And suddenly and unexpectedly the 08/08/2019 was there. </p>
    </div>

</div><!--=== End Post ===-->
