---
layout: blog/en/travelblog
title: "25.05. Part 2 letter salad"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog

locations:
  - Serbia
  - Belgrade
  - Germany
  - Hamburg
  - Munich

headline:
  image:
    url: "/assets/img/blog/2019-belgrade/sunset-at-danube.jpg"
alt: "Sunset over the Danube in Belgrade"

author: "Steffi"

overview:
  intro: "This morning there was a breakfast together and then we let the reception call a taxi, which we went to the Kalemegdan Park"
  image:
    url: "/assets/img/blog/2019-belgrade/IMG_5589.jpg"
alt: "The temple of the Holy Sava"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ Fuhr. An old castle ruin is located here and the Manifest Festival is still taking place. There was apparently there was not much going on at the opening and you could browse in peace. According to pictures on the Internet, hot air balloons should also be here, we didn't see one. For this, everything reminded a little of the travel fair in Hamburg. Local and surrounding providers offered trips and specialties and there are various small stages. </p>
        <p> Then we walked on the shopping street. Here we landed in a shopping center, which is in terms of price. At least there was free of charge, albeit quite disgusting, dirty toilets. Then we continued to stroll through the shopping street and ended up in a small caf&eacute; with fresh O juice, smoothie and German online radio. </p>
        <p> Then we made our way to the Temple of Saint Sava on foot. Unfortunately, however, we could not go in, because there was renovation from top to bottom. At least from the outside, it offered a very chic sight. We stayed there at the fountain for a while and then decided to visit an Italian around the corner. Here there was pasta or pizza for the afternoon. The food was really delicious. We were so full that we quickly took a taxi to the hotel. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> As soon as they arrived in the room, Basti has been sleeping for 2 hours - in the hope of getting rid of the headaches that have now occurred. </p>
        <p> For dinner we landed in the restaurant behind the hotel. However, we did not stay alone for long, because within 40 min. 30 - 40 nerds from the conference appeared and made the 2 (!!) waiters and the cook sweat. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2019-belgrade/IMG_8471.jpg" alt="Mihailo, Steffi and Sebastian Thoss at dinner in Belgrade">
        </div>
    </div>
    <div class="col-md-6">
        <p> I spent breakfast alone in the morning because Basti was already at the conference. After all, his lecture stood here today! </p>
        <p> Then I went to the nearby shopping center for me, because outside it was clear to me. The center extended over 3 or 4 floors including the cinema. I could not find out that it was now particularly cheap, as it is said for Serbia. </p>
        <p> Unfortunately, the center was so extremely loud that after 1.5 hours I crumbled again and went back to the hotel. I quickly rejected my idea of &#8203;&#8203;going to the Danube when I came out of the center and was overraned with a heat-leg. So comfortably back to the hotel, air conditioning, watched film or read book and enjoyed afternoon. </p>
        <p> Basti then hit 5.20 p.m. and together we made our way to the Danube by taxi. Here Mihailo, a Serbian colleague from Basti, awaited us, who happens to be the weekend here. We landed in a totally cozy restaurant on the Danube, off the masses. There we fed really delicious, cheap and far too much. The waiter was then amazed at what strange wishes we Germans have. How can you only mix with juice or beer with sprite! </p>
        <p> For this we have already been smiled at in Australia. They all don't know what's tasty! </p>
    </div>
    <div class="col-md-12">
        <p> Since the mosquitoes have high season here and are also currently extreme warnings about the cakes, since the zzt. Distributing West Nile fever, we pulled out the jackets despite warmth. Unfortunately only helped to a limited extent, so that we then decided to just move a little. So we walk along a really nice spot in Belgrade until we said goodbye to Mihailo. Here again thanks to Mihailo for the nice evening. For two we dawned a little further until we took a taxi that brought us back to the hotel. </p>
    </div>

</div><!--=== End Post ===-->
