---
layout: blog/en/travelblog
title: "03/10/19 Canada Brothers Day 3"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline of Toronto seen from the plane"

author: "Matze"

overview:
  intro: "It took us a while to get going in the morning. Basti was still working on his presentations and I was dealing with breakfast and"
  image:
    url: "/assets/img/blog/2019-canada/small/LRG_MTS00552.jpg"
    alt: "Our accommodation is the high-rise with the round holes in the roof"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} planning the rest of the day. </p>
        <p> Yesterday from the train, we had seen an old district called the Distillery District. As whiskey fans, we naturally had to explore it more closely. We wanted to take the streetcar there. But first, we had to find it! Toronto has a network of tunnels over 30 km long that connect the individual buildings. At least in theory. In practice, many connections are still under construction, so we first got lost in this labyrinth. You can't really orient yourself, and the navigation system isn't much help either. </p>
        <p> Eventually, we found our way back to daylight and then to the streetcar. </p>
        <p> So off to the Distillery District. It turned out to be a small, charming district of former distilleries that now house small craft shops and restaurants. Modern art has been placed everywhere along the paths. We were done there pretty quickly. Then back to the streetcar and on to Chinatown. There are hundreds of small shops and thousands of restaurants or snack bars. It smells different on every corner. We stopped at a café and ordered waffles with chocolate. While eating, we decided to visit the CN Tower. It stands right next to our accommodation and is actually a television tower. Nowadays, the tower is THE landmark of Toronto. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> On the way there, we quickly looked for a geocache at a school. With the hint, it was quickly found. Unfortunately, the note inside was wet, so we could only log our visit digitally. Once at the top of the CN Tower, we enjoyed the view of the city and, like everyone else, took the usual photos. </p>
        <p> Then we bought a few small things and made pizza for dinner. This initially triggered the fire alarm while baking, but it was very tasty in the end. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
