---
layout: blog/en/travelblog
title: "03/11/19 Canada Brothers Day 4"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/headline-eishockey-arena.jpg"
alt: "The ice hockey arena in Toronto in which Matze unfortunately looked at the game alone"

author: "Matze"

overview:
  intro: "So, now the bastic was really caught. Cold at its finest! It lies on the couch and suffers. I already had lemons yesterday and"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_5264.jpg"
alt: "A photo of the game Toronto Marlies against the Belleville Senator"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ kiwis. But unfortunately too late. </p>
        <p> My wish was to see a game live in the mother country of ice hockey. We had already got the cards for this in Germany. And the game is today! Basti now has bed rest today, and so I'm going on alone. Of course, not without making him a hot lemon and calling our mom. </p>
        <p> Happy Birthday!!! </p>
        <p> The stadium is right next to our residential tower, but it still took me a while to find the right entrance. There was still a hat on the security check and I was in the crowd in the crowd. For a Monday afternoon, there are an unbelievable number of people here who want to see the game. In Rostock we go to ice hockey from time to time. But that's not a comparison at all. Our places are great, right next to the penalty box at the front of the disc. Unfortunately, the space next to me is empty. The atmosphere in the stadium is great, people sing aloud even at the national anthem. Unfortunately, Toronto still loses 3: 5 against Bellville. Nevertheless, everything stays relaxed. Nobody is aggressive. There are no fan blocks. The fans of the opposing teams sit in the rows. A really great experience. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> After the game, I was still looking for a pharmacy through Downtown Toronto. I bought medicine for Basti and Indian food for dinner. My brother had no appetite yet. So he got dry bread and kiwi. He was still allowed to inhale for dessert. Hopefully he's doing better tomorrow. </p>
        <p> Good night out there </p>
    </div>

</div><!--=== End Post ===-->
