---
layout: blog/en/travelblog
title: "03/10/19 Canada Brothers Day 3"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline from Toronto seen from the plane"

author: "Matze"

overview:
  intro: "It took a while for us to get going in the morning. Basti was still working on his lectures and I dealt with breakfast and"
  image:
    url: "/assets/img/blog/2019-canada/small/LRG_MTS00552.jpg"
    alt: "Our accommodation is the high -rise with the round holes in the roof plate"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} The further planning for the day. </p>
        <p> Yesterday we had seen an old district from the train that calls itself Distillery District. We had to explore it more closely as a whiskey fans. We wanted to take the tram there. But first find it! Toronto runs through a 30 km long network of tunnels that connect the individual buildings. So theoretically. Practical is still being built on many connections and so we first ran in this labyrinth. You can't really orientate yourself and the navigation system is not a help either. </p>
        <p> At some point we found the lights back and then the tram. </p>
        <p> So then to the Distillery District. It turned out to be a small cute district of former schnapps distillery in which there are now small craftsmanships and restaurants. Modern art has been set up everywhere. So we were ready there. Then back into the tram and on to China-Town. There are hundreds of small shops and thousands of restaurants or snack bars. It smells different on every corner. We returned to a caf&eacute; and ordered waffles with chocolate. We decided to drive to the CN Tower while eating. It stands right next to our accommodation and is actually a television tower. The tower is now the landmark of Toronto. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> On the way Dorhin we quickly looked for a geocache at a school. This was quickly found. Unfortunately, the note was wet in it and we could only immortalize ourselves. Once in the CN Tower, we enjoyed the view of the city and, like everyone else, took the usual photos. </p>
        <p> Then bought a few little things and made pizza for dinner. This initially triggered the fire alarm while baking, but was then very tasty. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
