---
layout: blog/en/travelblog
title: "03/08/19 Canada Brothers Day 1"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Hamburg
  - London
  - Montreal
  - Germany
  - Great Britain
  - Canada

headline:
  image:
    url: "/assets/img/blog/2019-canada/headline-flug-montreal.jpg"
    alt: "The skyline of Toronto seen from the plane"

author: "Matze"

overview:
  intro: "I picked up the rental car of the elephant roller shoe brand yesterday. After saying goodbye to my mostly loving wife and my"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7789.jpg"
    alt: "Our flight tickets with the upgrade"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} son, I drove to Ahrensburg. Note: Small cars on the highway in stormy weather are not fun! </p>
        <p> When I arrived in Ahrensburg, I picked up Basti and his luggage and we drove straight to the airport. There we got rid of the rental car really quickly and easily. Now we still had plenty of time until boarding. So first we unpacked our sandwiches and had breakfast at the "Restaurant zur Goldenen Möwe". We wanted to check in our luggage two hours before departure. </p>
        <p> PANIC: Something was wrong with my entry confirmation for Canada. When applying for the ETA, I had entered the passport number incorrectly. One O was actually a 0. As we learned, there are no O's in passport numbers. Fortunately, the lady at the counter was able to resolve the problem. Thanks to our excellent preparation, we also passed the security check quickly. </p>
        <p> The flight to London Heathrow was uneventful except for the fact that British Airways now charges for drinks on short-haul flights. When we arrived early in London, we had to go through security again. So we had to unpack all our electronic devices. And we have quite a few of those. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> At the boarding pass check (which we had on our phones), we got another shock. "Please report to the counter." There we were informed that we had been upgraded to World Traveller Plus class. Super!!! So with grins on our faces, we browsed the Harry Potter shop and then quickly ate some fries. In the waiting area, we tried to put on our compression socks while stifling laughter. Which almost worked. </p>
        <p> Boarding the Boeing 787 to Montreal started with a half-hour delay. We had to take the bus to the plane again. Our seats were great. We could sit together and even stretch our legs. There were pillows, blankets, noise-canceling headphones, and delicious food. And the drinks were included too. So we ordered beer and whiskey to toast our journey. The plane then took off with a 1.5-hour delay at 18:12 because the pushback vehicle was broken. With a bit of tailwind, we landed at 19:52 in Montreal. Local time, of course. Now we have a 6-hour time difference from Germany. </p>
        <p> The entry into Canada went surprisingly smoothly. Scan passport, take photo, written and oral test, and we were already in Canada. </p>
        <p> Now for the most important thing: organizing phone cards for our cell phones. That was quick too, and so the Uber dropped us off at the BestWestern Hotel around 9:30 PM. The room was okay, we wandered around a bit more, and then went to bed right on time at 10:30 PM. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
