---
layout: blog/en/travelblog
title: "03/12/19 Canada Brothers Day 5"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline from Toronto seen from the plane"

author: "Matze"

overview:
  intro: "What luck. Basti is a little better. Until 11 a.m. we packed our things and left the apartment on time for the minute."
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7840.jpg"
    alt: "Montreal from the plane"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} was planned to spend the day in Toronto and to fly to Montreal in the evening. However, since Basti is not yet able to visit an extensive city tour, we drove the tram to Toronto's small city airport. We both looked so suffering that the nice lady at the counter immediately switched to the next flight. And so after a few minutes we sat in a small propeller aircraft to Montreal. </p>
        <p> Once there, we took possession of our hotel room and started looking for a supermarket. This tunnel network under the city is also available in Montreal. This connects the train stations, metro stations, hotels and high -rise buildings. One shopping center passes to the next. A complete city underground. Bright and well heated. Unfortunately completely without a real supermarket. But we needed it to buy some food and drinks. Going out is expensive in Canada and we want to keep the cost of this &ldquo;excursion&rdquo; as low as possible. </p>
        <p> At some point we found a shop on the surface. Delicious cheese bread, curd cheese and beer landed in the basket. It's enough. And there wasn't much more today. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Good night out there </p>
    </div>

</div><!--=== End Post ===-->
