---
layout: blog/en/travelblog
title: "03/09/19 Canada Brothers Day 2"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2019-kanada

locations:
  - Canada
  - Montreal
  - Toronto

headline:
  image:
    url: "/assets/img/blog/2019-canada/skyline-toronto-from-plane.jpg"
    alt: "The skyline of Toronto seen from the plane"

author: "Matze"

overview:
  intro: "We woke up early and found that the dreaded jet lag was only moderately noticeable. That we woke up so early was due"
  image:
    url: "/assets/img/blog/2019-canada/small/IMG_7811.jpg"
    alt: "Matze and Sebastian in front of the Canadian train in Toronto"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} to the loud air conditioning that kept turning on and off. However, we only really woke up after the fire alarm went off. So we had to jump into our pants quickly. Fortunately, there was no evacuation. But when we later came to the hotel lobby, it smelled of caramel and the firefighters were standing around quite relaxed. </p>
        <p> So now for breakfast. In my role as "Feelgood Manager," I had already picked out a restaurant. There we had, typically Canadian, cinnamon rolls with bacon and eggs under a mountain of fresh fruit. Of course, this had to be drizzled with maple syrup. Delicious! </p>
        <p> Freshly strengthened, we dropped off our large suitcases at the Hotel Bonaventure. The conference will take place there starting Wednesday. At noon, we took the train from Montreal to Toronto with our small luggage. This gave us our first impression of the vastness of the country. There's really a lot of space here. On the way, I started writing this blog. </p>
        <p> We arrived in Toronto with less delay than we would have had with Deutsche Bahn. </p>
        <p> We found our rented apartment in one of the skyscrapers right next to the train station. Only getting there was a bit cumbersome, as everything is built up here. You don't even know which building you're in, and construction is going on everywhere. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> A very rushed young man took us up to the 13th floor and handed us the keys. The apartment is very modern with floor-to-ceiling windows and two bedrooms. </p>
        <p> We didn't stay long and gave in to our urge to move. We walked along the water until we got cold. We found a small supermarket in one of the high-rise buildings. There we bought steaks and vegetables for dinner and even real whole grain bread for breakfast. </p>
        <p> So I started cooking, and we didn't stay up very late. </p>
        <p> Good night out there. </p>
    </div>

</div><!--=== End Post ===-->
