---
layout: blog/en/travelblog
title: "22.06.2021 um ticket?!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Oberstdorf
  - Austria
  - Deer

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "Today we chose a route on the Breitach river. So we went to the Walserbus with breakfast to get to the Kleinwalsertal."
  image:
    url: "/assets/img/blog/2021-alps/IMG_0519.jpg"
alt: "A nice house in the Kleinwalsertal"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ This also came immediately, cards held to the reader and M&ouml;&ouml;p, nothing. Again ... further M&ouml;&ouml;p. Huh? Ok, first pay a simple trip and then we continue to see. Then pondered while sitting, which was not true. That was always there, or not? What have we always booked?!? </p>
        <p> Well in the Kleinwalsertal we wanted to change the bus and M&ouml;&ouml;&ouml;p again. And then it clicked with us. We still had to book the bus ticket separately, as we accommodated on the German side. The ticket is integrated in the spa card directly in the Kleinwalsertal. We somehow skillfully suppressed this and so we struck the route to the Walserhaus instead of our targeted route to book the tickets there. Instead of running the 2.5 kilometers on the street, we went long on Breitach and enjoyed the pleasant air directly on the water. When we arrived in the Walserhaus, we booked a few discussions, then the tickets for the next few days and decided to drive a round chairlift on the Heuberg. On the way down there was already a very fresh wind and the first thick clouds came into the field of vision. So we ended up in the adjacent caf&eacute; and ate lunch. In the meantime it moved on and the weather app told about thunderstorms. Hm ok, we had short things and then we slowly got too fresh. So again to the supermarket and then the journey went back, with valid bus tickets, to Oberstdorf. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Then quickly controlled the car rental and made a rental car clear for the weekend. This time we want to drive out a little and also explore other areas. After the paperwork was done there, we went back to the campsite and we made ourselves comfortable. </p>
        <p> The clouds moved again mostly, without rain and thunderstorms, so that we started again for a round on the Iller jump. Then there was delicious grilled grilled food until we had to move into the car because it started to pour again. </p>
        <p> At 10 p.m. it finally stopped raining so far that I turned up to the shower. As it later turned out, shitty idea! Because this evening ended at the police station in Oberstdorf. Back in the motorhome, I was only able to fall asleep around 4 hours in the morning. </p>
        <p> Why? </p>
        <p> Because such a goddamned asshole joined the shower cubicle next to me and his cell phone kept in my direction under the cabin. So go to the phone, call cops, and wait. Briefly around; The night ended at the police station for interrogation and in a very troubled night, since of course the head could not switch off. </p>
    </div>

</div><!--=== End Post ===-->
