---
layout: blog/en/travelblog
title: "10/01/21 A Hot Road Trip"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-tenerife

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "The view from the Riu Arecas hotel room"

overview:
  intro: "After breakfast, we waited for a representative from Avis car rental who was supposed to come to the hotel around 10 a.m. That worked out great. After"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1710.jpeg"
    alt: "The mountain road to Masca"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} a quick check (wow - only 60 horsepower!), we got the keys and quickly packed our things in the room. I checked the Teide website - and darn, no more tickets available for today. So we spontaneously replanned and booked for tomorrow instead. </p>
        <p> Today we wanted to visit the steep cliffs of Los Gigantes and then head to Masca - we had discovered this place through WDR's "Wunderschön" with Tamina Kallert and really wanted to go there, especially to the "Alte Schule" restaurant. </p>
        <p> We had barely started driving when the weaknesses of our small rental car became apparent - with only 60 horsepower, you're really at a disadvantage in these mountains. But hope dies last. Our first stop was a viewpoint above Los Gigantes - wonderful view with cool drinks. </p>
        <p> Then we went down into the town. We strolled around a bit, watched fish in the harbor basin, and took some nice pictures of the impressive cliffs from the small beach. We looked around at the restaurants and considered whether we might want to do a boat tour from here in the coming days. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Then we entered Masca into the navigation system - and what followed was an extremely winding journey. There were many viewpoints along the way, which we diligently stopped at. But there was no question of "cooler in the mountains" today - the temperature display climbed to a whopping 42 degrees! When we arrived in Masca, we were actually motivated to do some walking - but the heat won. We sat in a small café, drank cold drinks, and ate an incredibly delicious tortilla de patata. We also stocked up on some liquid souvenirs - rum and banana liqueur. </p>
        <p> There should still be time for a short walk - but my circulation disagreed. I first had to sit under a tree, drink lots of water, and take deep breaths. After that, it was back to the air-conditioned car. </p>
        <p> Well... the car also had its problems. We had to stop several times, had to turn off the engine, and suddenly the workshop light came on. For a moment, we were really afraid of getting completely stranded. Fortunately, everything worked out - somehow. </p>
        <p> We still drove to the Hard Rock Hotel, but that didn't work out either: nice shirts - but only in XS. The salesperson said they've been waiting for new stock forever. The bar was too crowded. So we looked into a small café across the street and drank delicious smoothies - at least that worked out. </p>
        <p> Back at the hotel, we freshened up, enjoyed dinner, and later drove to Siam Mall again. Looked around, but nothing exciting. So back to the hotel and end the evening relaxed. </p>
    </div>

</div><!--=== End Post ===-->
