---
layout: blog/en/travelblog
title: "02.10.2021 on the Teide"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-teneriffa

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
alt: "The view from the hotel room of the Riu Arecas"

overview:
  intro: "Today we went straight to the banana plantation \"Finca Las Margaritas\" after breakfast. If you are already on a banana island, then heard"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1409.jpeg"
alt: "The moon landscape around the Teide with the first new trees"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ just something like that. Perfect timing: When we arrived, a free leadership was just starting - so spontaneously connected. Actually, it should be in German, but was in English and French. No matter, I still understood most - and I was able to take pictures anyway. The guide lady was really entertaining and obviously enjoyed her job. </p>
        <p> At some point we said goodbye - we finally had to go to the Teide. We should be on the cable car shortly before 3 p.m. So quickly nibbled a few bananas and then go towards the volcano. </p>
        <p> Because our rental car was more of the "snoring nose" category, we decided on the longer but better developed route to the Teide. And that was a good choice. The road was easy to drive, it went well uphill - of course with a few photo stops in between. The landscape reminded a bit of the Uluru in Australia, only less magical. </p>
        <p> When we arrived at the valley station, we still had some time. So first drink something, relax, watch people. The gondolas beforehand were all jam -packed - the greater the joy when we could get in earlier than planned and it was suddenly really empty. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> At the top of 3,500 meters an ice -cold wind was waiting for us - the 15 degrees felt like below zero. So quickly slipped into the sweat jacket and enjoyed the view. The air was thin, you felt that immediately. Basti decided not to go on - at least I wanted to try. But my knee, the steep steps and the height air then thwarted me. So back again. At least we were able to call a friend of the video by video call that Tenerife loves - that just had to be. </p>
        <p> Since there was not much more to discover up there, we drove down again after a short call with Bastis Mama. We actually wanted to eat something below, but everything was already closed - and that before 4 p.m. So Plan B: From to Vilaflor, the highest place on the island. The way there was ... sporty. It's a good thing that we didn't get the route up - our car would never have done that. </p>
        <p> In Vilaflor we found a restaurant directly, but there was nothing to eat there either. Just something to drink. After a short consideration we left the car and started - Google did not promise an Italian. And indeed: found - and finally something warm in the stomach. A little late, because soon there would be dinner in the hotel again ... but hunger was too big. </p>
        <p> Later we drove to Las America again. The search for the parking space was a little adventure, but at some point we were lucky. A little more sneaked through the shops, done a shopping order for our friends - and then we went back to the hotel. </p>
    </div>

</div><!--=== End Post ===-->
