---
layout: blog/en/travelblog
title: "06/22/21 um ticket?!"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Oberstdorf
  - Austria
  - Hirscheck

author: "Steffi"

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "Today we chose a route along the Breitach river. So we went to the Walserbus with breakfast to go to the Kleinwalsertal."
  image:
    url: "/assets/img/blog/2021-alps/IMG_0519.jpg"
    alt: "A nice house in the Kleinwalsertal"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} The bus came immediately, we held our cards to the reader and beep, nothing. Again... another beep. Huh? Ok, let's first pay for a simple trip and then we'll see. While sitting, we pondered what wasn't right. That was always included, wasn't it? What had we always booked?!? </p>
        <p> Well, in the Kleinwalsertal we wanted to change buses and beep again. And then it clicked with us. We still had to book the bus ticket separately because we were staying on the German side. In the Kleinwalsertal, the ticket is integrated into the spa card. We had somehow managed to suppress this knowledge, so instead of our planned route, we headed to the Walserhaus to book the tickets there. Instead of walking the 2.5 kilometers along the road, we walked along the Breitach and enjoyed the pleasant air right by the water. When we arrived at the Walserhaus, we booked the tickets for the next few days after some discussion, and decided to take a ride on the Heuberg chairlift. On the way down, a very fresh wind picked up and the first thick clouds came into view. So we ended up in the adjacent café for lunch. Meanwhile, the weather was getting worse and the weather app was talking about thunderstorms. Hm ok, we were wearing light clothes and it was getting too cold for us. So we quickly went to the supermarket and then the journey back to Oberstdorf, with valid bus tickets. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Then we quickly checked the car rental and arranged a rental car for the weekend. This time we want to drive out a bit and explore other areas. After the paperwork was done there, we went back to the campsite and made ourselves comfortable. </p>
        <p> The clouds mostly moved on without rain and thunderstorms, so we went for another round at the Iller jump. Then there was delicious grilled food until we had to move into the car because it started to pour again. </p>
        <p> At 10 PM it finally stopped raining enough that I went to take a shower. As it later turned out, that was a bad idea! Because this evening ended at the police station in Oberstdorf. Back in the motorhome, I was only able to fall asleep around 4 AM. </p>
        <p> Why? </p>
        <p> Because some goddamned asshole went into the shower cubicle next to me and kept pointing his cell phone under the cabin in my direction. So I went to get my phone, called the cops, and waited. To make a long story short: The night ended at the police station for questioning and in a very troubled night, since of course my mind couldn't switch off. </p>
    </div>

</div><!--=== End Post ===-->
