---
layout: blog/en/travelblog
title: "09/28/21 Relaxation and Sea"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-tenerife

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "The view from the Riu Arecas hotel room"

overview:
  intro: "Yesterday after a leisurely breakfast, we went to one of the pools until lunchtime before getting ready to take the bus"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1297.jpeg"
    alt: "Pretty flowers along the promenade"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} seven stops towards Adeje. From there, we walked back to the hotel at a relaxed pace. Along the way, we stopped at restaurants, browsed through small shops, and simply enjoyed the beautiful weather and warm temperatures. </p>
        <p> Today after breakfast, we went straight to our bathing suits and the hotel's beach loungers. The hotel has created its own fenced area with poured sand, loungers, parasols, a beach bar, and an infinity pool - really great at the bottom of the promenade. Since Basti had to work again at short notice (but there's a meal from the boss as compensation), I was alone in the sun. It was quite hot today, so I was all the more happy when Basti finally came and we immediately made our way into the sea together to snorkel. </p>
        <p> The water was pleasantly cool, beautifully clear, and shimmered in fantastic shades of blue. Unfortunately, it gets very deep after entering, so you have to swim to the wave breakers to be back in a visible zone as a snorkeler. There are a few really large rocks along the way where you can see some fish, but there was simply more activity at the wave breakers - and more beautiful. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We spent the rest of the day comfortably with splashing, sunbathing, and doing nothing. In the evening, we went to the delicious buffet as usual. This time we even had company: Hauke from Bad Schwartau was sitting at our table. He's alone in Tenerife, and we got into conversation while eating when it turned out that he lives around the corner from us. The world is sometimes small! </p>
        <p> Another sunny and relaxed vacation day comes to an end - that's exactly how we love it. </p>
    </div>

</div><!--=== End Post ===-->
