---
layout: blog/en/travelblog
title: "06/23/21 Knock knock"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Oberstdorf

author: "Steffi"

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "As the officers announced during the night, the criminal investigation department was at our motorhome shortly after 8 AM and knocked us out of the"
  image:
    url: "/assets/img/blog/2021-alps/seilbahn-im-nebel.jpg"
    alt: "Cable car in the fog"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} bed. </p>
        <p> Since this is an ongoing investigation, there's nothing more to say about it here. </p>
        <p> The campsite owners provided a small breakfast as "compensation". </p>
        <p> The criminal investigation department didn't ask us to stay too far away, so we spent the day in Oberstdorf and explored the area. When we were near the Nebelhorn cable car, we decided to go up. We had a little hope that the clouds would be at our feet like steps... but no, not this time. Once at the top, we were in an opaque soup that also swallowed every sound. So we just took a short walk, had a drink, and went back down. Back at the campsite, we decided to finally set up our awning. We finished just in time before the hail started, so we didn't have to immediately flee to the car. </p>
        <p> So we spent the evening in the awning, enjoying the time and watching the thunderstorms in the distance. </p>
        <p> See you in the morning. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div><!--=== End Post ===-->
