---
layout: blog/en/travelblog
title: "06/19/21 Donaubad Ulm"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Ulm

author: "Steffi"

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "This morning the highway took us to Ulm. Before we left, Basti reserved a slot for the outdoor pool. This was because"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0545.jpg"
    alt: "The Ulm Münster"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} it was right next to the parking spot and the weather promised scorching temperatures again. </p>
        <p> When we arrived at the parking spot - a very nice and newly created one with sufficiently large areas - we first had to check in and get tested at the center next door. Because nothing worked at the parking spot without a negative corona test. 15 minutes later everything was done, we grabbed our swimsuits and enjoyed the cool water and the day. Just as we were getting ready to go back to the camper, a hellish alarm broke out in the ice rink next door. Well, false alarm... shortly after we heard the usual sirens of the fire department and the alarm stopped. </p>
        <p> But when we left the outdoor pool, we were amazed. There were at least 20 fire trucks, 10 ambulances, etc., and more kept arriving. It was definitely not a false alarm. Something had probably "leaked" from the ice machine and caused a major alarm to be triggered, with various rescue workers in special suits pushing into the hall. </p>
        <p> We made ourselves comfortable in front of the camper under the awning and watched the spectacle. And we also had to find out that humanity has really lost its mind. The emergency services had cordoned off everything, and people actually tried to drive through the barrier to get to their allotment gardens. While they were still being told that this wasn't possible, they actually started arguing and yelling at the rescue workers. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Until now I thought that such things were only exaggerated on TV, but no... we experienced it several times that evening and became really angry ourselves, joining the rescue workers in yelling at these brain-dead people. </p>
        <p> At some point our stomachs were growling so loudly that we headed towards the city center. Of course, we first headed for the Münster. Unfortunately, it was already closed and also covered in scaffolding. So not much of a sight to see. Shortly after, we ended up at "Enchilada", a really nice Mexican restaurant with delicious food and friendly service. </p>
        <p> Freshly strengthened, we went back to the parking spot, where the rescue workers were still fully in action. They were still there when we went to sleep around midnight. </p>
    </div>

</div><!--=== End Post ===-->
