---
layout: blog/en/travelblog
title: "07/02/21 Bye mountains"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/pilsensee-panorama.jpeg"
    alt: "The view over Lake Pilsen"

overview:
  intro: "Today it was time to say goodbye - at least from the mountains. Twelve days full of fresh air, wet hiking boots, sunshine and mountain hut cuisine"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0668.jpeg"
    alt: "The view over Lake Pilsen"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} were behind us. We packed up somewhat wistfully and got ready for the onward journey. Our next destination: Lake Pilsen near Starnberg, where we wanted to make a stop for one night. </p>
        <p> Before departure, we got into a chat with the Batz farm owner, who was surprisingly open: she had been officially retired for twenty years, she told us. Only that retirement hadn't quite worked out - after all, there's still a whole farm attached, including holiday apartments and campsite. Now she's slowly but surely looking for someone who wants to take over. If it weren't for the usual hurdles like "money" and "an idea of how to do this professionally", we would have started to dream. </p>
        <p> As a farewell gift, we received a fabric bag with homemade jam - warm-hearted and typical of this place. </p>
        <p> After almost two hours of driving, we reached Lake Pilsen, parked the car and set up for the night. The sun came out, the mood was relaxed. We sat on the pier for a while, our feet in the water, faces to the sun - just doing nothing and enjoying. </p>
        <p> Later, the first of Basti's colleagues arrived, with whom we had arranged to meet for dinner at the campsite. It was a cheerful evening - with beer, laughter and good spirits. But at 10:15 PM it was suddenly over, because due to the current Corona rules, the restaurant had to close on time. So we were asked politely but firmly to finish our last drinks - and ended the evening a bit earlier than expected. But that's okay: the vacation continues. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
