---
layout: blog/en/travelblog
title: "06/28/21 Way too warm"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Austria

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/IMG_0619.jpeg"
    alt: "The view from the Kanzelwand to the Fellhorn"

overview:
  intro: "It was already clear in the morning: today would be unbearably hot. So we took it easy, had breakfast in peace and then packed our"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0673.jpeg"
    alt: "The outdoor pool in Riezlern with a view of the mountains"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} bathing suits before heading to the Kleinwalsertal. Our first stop was the Kanzelwand cable car. The ride up offered an impressive view of the surrounding mountains, and once we reached the top, we treated ourselves to a Kaiserschmarrn. With this view, it tasted twice as good. </p>
        <p> After an extensive break, we moved back into the valley - this time on the opposite side of the street. Our real goal for today was the outdoor pool, where we spent the rest of the day relaxed. The water was a welcome cooling in the heat, and so we let it go, swam, sunbathed and enjoyed the idyllic environment. </p>
        <p> In the early evening we finally made our way back to the campsite, where Bolognese was on the menu. As we cooked and ate, we were planning the next few days. We wondered to ask Basti's colleague in the region if she had time on Friday evening. The commitments came quickly, so we quickly booked a night at the campsite in Seefeld on Lake Pilsensee. Then we wanted to reserve a table in the restaurant there - but today is the day of rest. So we have to make up for it later. </p>
        <p> In the meantime, a certain unrest spread at the campsite. Everywhere people worked on their awnings and canopies - a sure sign that bad weather was expected. Did the storm come in our direction? We considered whether we should dismantle our canopy, but after a look at the weather reports, we decided against it. The German Weather Service and other sites gave the all-clear. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Nevertheless, the atmosphere was somehow tense when the first powerful lightning lit up in the sky. The natural spectacle was impressive - we were able to watch the weather lights from a safe distance, while everything remained calm with us. So we ended the evening relaxed and hoped that the weather forecasts would be right. </p>
    </div>

</div><!--=== End Post ===-->
