---
layout: blog/en/travelblog
title: "25.06.2021 rental car and lot"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Austria

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "After another restless and rainy night, we treated ourselves to a relaxed breakfast before we have a rental car at the local"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0651.jpg"
    alt: "Alpaka near Immenstadt"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Collect new vehicles. After some back and forth, since the employee only made a vacation representation, it finally started. </p>
        <p> First we drove towards Immenstadt or rather, right back. It went to the Alpsee Coaster. This is Germany's longest summer toboggan run with a length of 2.8 km and damn many curves. It is already the third or fourth attempt, but either was closed due to rain or it was too full. But today we were lucky. There was nothing going on and the sun was also shining. So we first sat in the cable car and drove up the mountain. The sight was great and from the chairlift there were some beautiful and interesting hiking trails (note to me: notice for later adventures). When we arrived at the top, it turned out that there was even an alpaca farm up there and that many sweet alpacas were on the meadows. There is even a short circular hiking trail around the enclosure. We used the chance promptly and then we went down the mountain on runners in a monkey tooth. Once at the bottom, we had to take a short break so that the adrenaline mirror can drive back down to normal. Really nice toboggan run can keep up with that in Mieders/Stubai Valley. </p>
        <p> After a drink, we decided to go to the lunch (mountain) to go there in an Alpe that we knew from the program "WDR beautiful". Unfortunately, this cable car should also close at 4:30 p.m. Well it is 2:30 p.m. we'll do that. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> However, after we needed the mountain over 30 minutes and then found that the Alpe was gone for another 30 min footpath, we only decided to eat a little something at the summit station, and then prefer to grill on the campsite. So we still enjoyed the view in all directions and further saw a mountain a few more interesting hiking trails, which we stored ourselves in the cell phone for the next few days. </p>
        <p> On the way back we stopped for a walk in Sonthofen. Steffi wanted to look at Fielmann again, for overlap sunglasses. Unfortunately no luck here and promptly we sat in a caf&eacute; again and enjoyed the day and a hot chocolate. </p>
        <p> Back in Oberstdorf it was time to shop and go to the campsite for grilling. At some point the washing up, who dragged on extra long, because we talked to Miriam, a neighbor for a long time. </p>
    </div>

</div><!--=== End Post ===-->
