---
layout: blog/en/travelblog
title: "06/26/21 Hiking here and there"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "Today we still had the rental car and decided to go somewhere that wouldn't be so easy to reach by public transport."
  image:
    url: "/assets/img/blog/2021-alps/IMG_0593.jpeg"
    alt: "The view towards Oberstdorf over beautiful blooming meadows"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} We had discovered the Ofterschwanger Horn from the Mittag mountain and found it interesting. So today we decided to go there. Our hiking app showed us several cable cars up the mountain, including the Ossi-Reichert-Bahn. Since I had already seen signs for it on the road, I decided to go there. The drive wasn't very long but nice, going up the mountain through small villages. When we arrived, we unfortunately had to find out that it's not open in summer. Well, there are other cable cars that go up to the horn. One of them must be open, because hiking up the mountain was too steep again and we were too lazy. No sooner said than done. On the other side of the mountain, the World Cup Express cable car is also open in summer. So back into the car, around the mountain, and up we go with the cable car. </p>
        <p> At the top, we hiked around the horn on a well-maintained trail over a cow pasture. We first enjoyed the view over the Gunzesrieder valley, where we could see many pastures and smaller forests, and everything seemed very natural. Definitely a nice place for hikes in wild nature. </p>
        <p> On the second half of the circular hiking trail, we got a great view of the valley between Sonthofen and Oberstdorf. Only over the mountains in the distance were there a few decorative clouds that would look good in our many photos. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Since the hiking trail wasn't very long, we decided to hike down the mountain without a break. First, we went along the mountain range to a luxury hotel. From there, we hiked through beautiful forests, which were overgrown with ferns in places, along wildflowers and hay meadows. </p>
        <p> Once at the bottom, we decided to have a drink at a restaurant and make a plan for the rest of the afternoon. Since the surrounding cable cars always close so early, we decided to simply drive to the Söllereck to the new cable car. There we would hike up the trail again and then take the rather steep path back to the car. The descent was really steep but always fun and well-paved, so you could enjoy the view while hiking. </p>
        <p> Tomorrow we'll go to Bad Hindelang and the valleys beyond. There we want to explore the area around the Vilsalpsee. </p>
    </div>

</div><!--=== End Post ===-->
