---
layout: blog/en/travelblog
title: "09/26/21 On to Tenerife"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-tenerife

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "The view from the Riu Arecas hotel room"

overview:
  intro: "Our alarm clock rang inhumanly early today at 3:30 a.m., because the plane to Tenerife was waiting for us. This should bring us to the island for the next"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1274.jpeg"
    alt: "The Riu Arecas at night"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} ten days, where we're spending our annual "wind-down vacation" this time. The airport was extremely crowded, but since we had already checked in, we could drop off our suitcases at the self-service bag drop and go straight to security. Fortunately, we didn't have to wait long and could make ourselves comfortable in the upper part of the airport. </p>
        <p> After a mini breakfast - it was just too early - we went to the gate. Luckily, we got seats with more legroom and made ourselves more or less comfortable in row 8 after boarding. With almost 20 minutes delay, we took off and landed in Tenerife South shortly after 11 a.m. local time. After the Corona checks were done, it was time to wait at the baggage carousel - they took their sweet time this time. </p>
        <p> Once we had everything together, we went to the TUI bus. Here too we waited a while, and after about 30 minutes of driving, we finally arrived at the Riu Arecas Hotel. And here too it was: wait - because there was a fire alarm drill, and everything moved very leisurely. We got drinks as compensation. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Finally in our room, we were greeted with a side sea view and a side mountain view. Sometimes nice. We don't have the newest room, but it was very chic - and above all, big. After we unpacked everything, we went in search of something edible. On the way there, we crossed the hotel complex and found that you can't get a single sunbed at lunchtime. Let's see how it will be in the next few days. </p>
        <p> When we arrived at the beach, we completed a short video call with the birthday person at home and then went to the restaurant next to the hotel. Here we shared a really good pizza and a few refreshing drinks. Then we went briefly to the small supermarket around the corner, filled the minibar with water, and then siesta was announced - the inhuman early wake-up time was slowly making itself felt. </p>
        <p> Later we walked along the promenade and looked at what there is to discover for the coming days. Back at the hotel, a really nice buffet was waiting for us - everyone really gets their fill here. And the staff is so friendly that you feel twice as comfortable. </p>
        <p> This is how our vacation starts on the sunny island - relaxed, tasty, and with lots of anticipation for the coming days. </p>
    </div>

</div><!--=== End Post ===-->
