---
layout: blog/en/travelblog
title: "06/25/21 Rental car and off we go"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Austria

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "After another restless and rainy night, we treated ourselves to a relaxed breakfast before picking up a rental car from the local"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0651.jpg"
    alt: "Alpaca near Immenstadt"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} dealership. After some back and forth, since the employee was only covering for vacation, we finally got started. </p>
        <p> First, we drove towards Immenstadt, or rather, right back out. We headed to the Alpsee Coaster. This is Germany's longest summer toboggan run with a length of 2.8 km and loads of curves. This was already our third or fourth attempt, but it was either closed due to rain or too crowded. But today we were lucky. There was no one there and the sun was shining. So we first took the cable car up the mountain. The view was great, and from the chairlift, we could see some beautiful and interesting hiking trails (note to self: remember for later adventures). When we arrived at the top, we discovered there was even an alpaca farm up there with many cute alpacas in the meadows. There's even a short circular hiking trail around the enclosure. We took advantage of this opportunity right away, and then we went down the mountain on the toboggan run at breakneck speed. Once at the bottom, we had to take a short break to let our adrenaline levels return to normal. It's a really nice toboggan run that can compete with the one in Mieders/Stubai Valley. </p>
        <p> After a drink, we decided to quickly head to the Mittag (mountain) to eat at an alpine hut that we knew from the TV show "WDR Wunderschön". Unfortunately, this cable car was also supposed to close at 4:30 PM. Well, it was 2:30 PM, so we should make it. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> However, after it took us over 30 minutes to get up the mountain and we then discovered that the alpine hut was another 30-minute walk away, we decided to just have a small snack at the summit station and then prefer to grill at the campsite. So we enjoyed the view in all directions and saw several more interesting hiking trails on another mountain, which we saved in our phones for the next few days. </p>
        <p> On the way back, we stopped for a walk in Sonthofen. Steffi wanted to check Fielmann again for prescription sunglasses. Unfortunately, no luck there, and we promptly found ourselves in a café again, enjoying the day and a hot chocolate. </p>
        <p> Back in Oberstdorf, it was time to do some shopping and head to the campsite for grilling. Eventually, the dishes called, which took extra long because we had a long chat with Miriam, a neighbor. </p>
    </div>

</div><!--=== End Post ===-->
