---
layout: blog/en/travelblog
title: "05.07.2021 soft ice cream surprises"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "After the last eventful days, we decided to turn back a gear today. The only task of the day was the journey to"
  image:
    url: "/assets/img/blog/2021-alps/schafe-am-wegesrand.jpeg"
alt: "Sheep on the side of the path"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ Fortress K&ouml;nigstein in the Elbe Sandstone Mountains - you can treat yourself to a relaxing morning. So what did we do? Sleep in of course! No hustle and bustle, no stress. We simply took the time to take a lot of showering, have breakfast in peace and to complete the whole thing with a small thank you on the table for our hosts. And now off to the street - that's how it has to be! </p>
        <p> Our goal was the K&ouml;nigstein fortress on the advice of the relationship, and we had chosen a small parking space below the fortress. When we arrived, we immediately saw that it was really idyllic here. The parking space was right below the imposing fortress, and there was still enough space - so far there was only one more vehicle there. Very relaxed. </p>
        <p> Since Basti is always available for a soft ice cream, he took the opportunity and got a delicious ice cream at the kiosk next door. As he destroyed the ice cream, it turned out that you had to pay the parking space at the kiosk. Okay, no problem - but then the seller asked us if we would like breakfast the next morning. Without thinking - and probably torn away by the charming atmosphere of the kiosk - a happy "yes" slipped out. Zack, the breakfast buffet for &euro; 10 per person was booked. Well, that can be something! </p>
        <p> It was already in the afternoon when we decided to make dinner ourselves. So I carved diligently in the kitchen, while Basti had extensively talked to the neighbor. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> In between, I reserved two tickets for the fortress that we want to visit in peace tomorrow.
            When the day slowly went over to the evening, we pulled back into the car to watch another film and end the day comfortably. It was one of these relaxed days when you don't do much, but still feel like you enjoy enjoying a little break from everyday life. And the best thing about it: Tomorrow we will continue to visit the fortress - we are excited to see what we will expect there. </p>
    </div>

</div><!--=== End Post ===-->
