---
layout: blog/en/travelblog
title: "18.06.2021 Hünfeld"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Hünfeld

author: Steffi &amp; Basti

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "Finally the time has come again ... vacation and more correct. Not just a weekend, but 3 long (... or much too short)"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0435.jpg"
alt: "Wild meadow"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ weeks! </p>
        <p> To date on the day of departure, we had no plan where to go. The only thing that was certain was that it would be the mountains in Austria. We didn't book anything brave as we are. </p>
        <p> Last night we wrote to the Rubi Camp in Oberstdorf to just ask what it looks like with space. We promptly had the feedback and already the booking confirmation. Ok, then no Salzburg country, etc., but back to the Kleinwalsertal. We have the convenience that we know how well everything is expanded and above all how chic it is there. </p>
        <p> We tolerated the 2nd Corona vaccination yesterday, so we went south to the A7 early today. The highway was quite empty and we drove just under 430 km to H&uuml;nfeld. </p>
        <p> The parking space was right next to an outdoor pool, but we were so in the bucket due to the heat that we only stop the air conditioning and were more or less on bed for the time being. </p>
        <p> Later there was only a few episodes of our favorite series until the dreamland followed. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

</div><!--=== End Post ===-->
