---
layout: blog/en/travelblog
title: "06/18/21 Hünfeld"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Hünfeld

author: "Steffi & Basti"

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "Finally, the time has come again... vacation, and a proper one at that. Not just a weekend, but 3 long (... or much too short)"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0435.jpg"
    alt: "Wild meadow"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} weeks! </p>
        <p> Up until today, the day of departure, we had no plan where to go. The only thing that was certain was that it would be the mountains in Austria. Being as brave as we are, we hadn't booked anything. </p>
        <p> Last night we wrote to the Rubi Camp in Oberstdorf to just ask about availability. We promptly received a response and already had the booking confirmation. Ok, so no Salzburg region etc., but back to the Kleinwalsertal. We have the advantage of knowing how well everything is set up there and above all how nice it is. </p>
        <p> We tolerated the second Corona vaccination well yesterday, so today we headed south on the A7 early. The highway was quite empty and we drove just under 430 km to Hünfeld. </p>
        <p> The parking spot was right next to an outdoor pool, but due to the heat we were so exhausted that we just stopped the air conditioning and more or less went straight to bed. </p>
        <p> Later we watched a few episodes of our favorite series until dreamland followed. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div><!--=== End Post ===-->
