---
layout: blog/en/travelblog
title: "10/05/21 Adios Island Time"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-tenerife

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "The view from the Riu Arecas hotel room"

overview:
  intro: "We simply let the last vacation days drift by. No plan, no must-dos - just sun, pool, and sea. Just as it should be. We were"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1548.jpeg"
    alt: "Mini yellow fins Barracudas"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} in the sun, read, snorkeled, and enjoyed the late summer feeling to the fullest. This time the water was particularly clear - and even a small school of barracudas showed up. A nice end to our time on the island. </p>
        <p> On the last evening, we strolled to the Plaza del Duque Mall after dinner. Like the Siam Mall, not quite our thing - but the walk along the promenade was worth it. Light breeze, the lights, a bit of ocean sound in the background... the perfect last evening moment. </p>
        <p> The last morning it was time to slowly say goodbye. While Basti was already checking out, I spontaneously treated myself to an appointment at the nail salon. My nails were finally long and stable enough to make it worthwhile - and that's how Basti's Christmas present from 2020 was redeemed. Some things just need time. </p>
        <p> Our transfer bus was ready on time at 12:30 p.m. We had to wait at the airport because the check-in counter wasn't open yet - but with the sun at our backs, we could wait quite comfortably. The plane was almost empty, just 94 people on board. Pure luxury: endless space. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> And then came the best cabin crew ever. The flight attendant opened his announcement with "Boarding Completed... I think" - we all had to laugh. He was relaxed the whole time, entertaining, warm - just great. We sat at the front, got into conversation, and so the long flight time passed almost in a flash. Particularly nice: from above we could even see the thick clouds above the erupting volcano on La Palma. Impressive - and a bit surreal. </p>
        <p> And so this nice October vacation came to an end. With lots of sun on our faces, sand under our feet, bananas in our stomachs, and a bit of volcanic air in our noses. Tired, but happy. </p>
    </div>

</div><!--=== End Post ===-->
