---
layout: blog/en/travelblog
title: "06/26/2021 Hiking here and there"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "Even today we had the rental car and decided to go somewhere where we would not be so easy with public."
  image:
    url: "/assets/img/blog/2021-alps/IMG_0593.jpeg"
    alt: "The view towards Oberstdorf over beautiful blooming meadows"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} We discovered the Ofterwang Horn from the mountain at noon and found it interesting. So it should just go there today. Our hiking app showed us several cable cars up the mountain. Among other things, the Ossi Reichert-Bahn. Since I had already seen signs on the street, I just decided there. The journey was not very long but nice up the mountain through small towns. When we arrived, we unfortunately had to find that there is no up here in summer. Well, there are other cable cars that go up to the horn. Someone will be on, because running up the mountain is too steep again and we were too lazy. No sooner said than done. On the other side of the mountain, the mountain railway World Cup Express is also open in summer. So back into the car, around the mountain and off the mountain with the cable car. </p>
        <p> At the top we hiked around the horn on a well -developed hiking trail over a cow pasture. We first enjoyed the view over the Gunzesrieder valley in which many pastures and smaller forests were seen and everything seemed very natural. Also definitely a nice place for hikes in a wild nature. </p>
        <p> On the second half of the circular hiking trail we got a great view of the valley between Sonthofen and Oberstdorf. Only over the mountains, in the distance there are a few decolors that will take good care of our many photos. </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">

        <p> Since the hiking trail was not very long, we decided to run down the mountain without a break. First it went along the mountain range to a luxury hotel. From there it went through beautiful forests, which were overgrown with ferns in places, along wildflowers and hay meadows. </p>
        <p> Once at the bottom, we decided to go drinking in an economy and make a plan for the rest of the afternoon. Since the surrounding cable cars always close so early, we decided to simply take the car to the S&ouml;llereck to the new cable car. There to walk up the train again and then run the rather steep way back to the car. The descent was really steep but always fun and always well -asphalted, so that you could also enjoy the view while running. </p>
        <p> Tomorrow it will go to Bad Hindelang and the valleys Dahiter. There we want to explore the area to the Vilsalpsee. </p>
    </div>

</div><!--=== End Post ===-->
