---
layout: blog/en/travelblog
title: "06/24/21 Knock knock the second"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Austria

author: "Steffi & Basti"

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "Today the night was ended too early by knocking on our motorhome"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0567.jpg"
    alt: "Snack on the Sonna Alp"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }}. </p>
        <p> The two extremely friendly gentlemen from the criminal investigation department were back at our door and brought us the latest news. In the meantime, the perpetrator has confessed, and it turned out that he had been doing this for a long time on the campsite. </p>
        <p> So we were able to enjoy our time again and then drove to the Söllereck, where we started our tour to Riezlern. Here we also crossed the so-called green border to Austria, which we had heard a lot about during the lockdown. Anyone who crossed from Austria to Germany and was caught had to pay at least €500, while crossing the border on the road below remained unpunished. </p>
        <p> Once in the Kleinwalsertal, we slowly started looking for something to eat. Since the cheesecake looked delicious when we arrived at the restaurant, I wanted to go there again. First something hearty and a cheesecake for dessert. Unfortunately, there was a large "Closed" sign there today. Hmm. Too bad. We spontaneously decided to try our luck at the Sonna Alp, as there were no more tables available for reservation on the website. The Sonna Alp is located right next to the Zafernalift mountain station, directly on the Höhenpanoramaweg above Mittelberg. From there you have a wonderful view of the entire area, and the food is always amazing. We were lucky and could even choose between a table inside or outside. We chose inside because of the weather. We had potato soup and a snack platter, and Kaiserschmarrn for dessert. Unfortunately, it wasn't as good today as we're used to. It was quite compact but still delicious. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> After that, we headed back to Oberstdorf because, first, it's not good to hike with a full stomach, and second, it looked like it might rain again. We spent the rest of the evening comfortably in our awning by the car. Tomorrow we'll pick up the announced rental car, and then we'll see where we're going. </p>
        <p> See you in the morning. </p>
    </div>

</div><!--=== End Post ===-->
