---
layout: blog/en/travelblog
title: "10/02/21 On the Teide"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-tenerife

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "The view from the Riu Arecas hotel room"

overview:
  intro: "Today after breakfast, we went straight to the banana plantation \"Finca Las Margaritas\". When you're on a banana island, you just have to"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1409.jpeg"
    alt: "The lunar landscape around the Teide with the first new trees"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} do something like that. Perfect timing: When we arrived, a free guided tour was just starting - so we spontaneously joined in. It was supposed to be in German, but ended up being in English and French. No matter, I still understood most of it - and I could take pictures anyway. The guide was really entertaining and obviously enjoyed her job. </p>
        <p> After a while, we discreetly said goodbye - we had to get to the Teide. We were supposed to be at the cable car shortly before 3 p.m. So we quickly nibbled on some bananas and then headed toward the volcano. </p>
        <p> Since our rental car was more of the "snoring nose" category, we decided to take the longer but better-developed route to the Teide. And that was a good choice. The road was easy to drive, it went uphill smoothly - of course with a few photo stops in between. The landscape reminded us a bit of Uluru in Australia, just less magical. </p>
        <p> When we arrived at the valley station, we still had some time. So first we had a drink, relaxed, and watched people. The gondolas before us were all packed - the greater our joy when we could board earlier than planned and it was suddenly really empty. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> At the top at 3,500 meters, an ice-cold wind was waiting for us - the 15 degrees felt like below zero. So we quickly slipped into our sweatshirts and enjoyed the view. The air was thin, you could feel that immediately. Basti decided not to go further - at least I wanted to try. But my knee, the steep steps, and the high-altitude air thwarted my plans. So back down we went. At least we were able to make a video call to a couple of friends who love Tenerife - that just had to be done. </p>
        <p> Since there wasn't much more to discover up there, we drove back down after a short call with Basti's mom. We actually wanted to eat something down below, but everything was already closed - and that before 4 p.m.! So Plan B: Off to Vilaflor, the highest town on the island. The way there was... sporty. Good thing we didn't take that route up - our car would never have made it. </p>
        <p> In Vilaflor, we found a restaurant right away, but there was nothing to eat there either. Just something to drink. After a short consideration, we left the car and started walking - Google promised an Italian restaurant not far away. And indeed: we found it - and finally got something warm in our stomachs. A bit late, since dinner at the hotel would be soon... but the hunger was too great. </p>
        <p> Later we drove to Las Americas again. Finding a parking spot was a bit of an adventure, but eventually we got lucky. We browsed through the shops a bit more, completed a shopping order for our friends - and then headed back to the hotel. </p>
    </div>

</div><!--=== End Post ===-->
