---
layout: blog/en/travelblog
title: "28.09.2021 relaxation and sea"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-teneriffa

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "The view from the hotel room of the Riu Arecas"

overview:
  intro: "Yesterday we went to one of the pools after a leisurely breakfast until lunchtime before we got ready to by bus"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1297.jpeg"
    alt: "Pretty flowers on the promenade"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} to drive seven stations towards Adeje. From there we walked back to the hotel in a relaxed manner. In between we returned to restaurants, strolled through small shops and simply enjoyed the beautiful weather and the warm temperatures. </p>
        <p> Today after breakfast it went straight to the bathing suits and to the beach loungers of our hotel. The hotel has made its own, locked area with poured sand, loungers, parasols, a beach bar and an infinitypool - really great at the bottom of the promenade. Since Basti had to work again at short notice (but there is a meal from the boss as compensation), I was alone in the sun. It burned quite strongly today, so I was all the more happy when Basti finally came and we immediately made our way into the sea together to snorkel. </p>
        <p> The water was pleasantly cool, beautifully clear and shimmered in fantastic shades of blue. Unfortunately, it gets deeply deep after going in, so that you have to swim to the wave breakers in order to be back in a visible zone as a snorkeler. There are a few really large stones on the way there, on which one or the other fish can also be seen, but there was simply more going on on the wave jar - and more beautiful. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We spent the rest of the day comfortably with splashes, sunbathing and doing nothing. In the evening it went to the delicious buffet as usual. This time we even had company: Hauke &#8203;&#8203;from Bad Schwartau was sitting with us at the table. He is alone in Tenerife and we got into conversation while eating when he turned out that he lives around the corner with us. The world is sometimes small! </p>
        <p> Another sunny and relaxed day of vacation comes to an end - that's exactly how we love it. </p>
    </div>

</div><!--=== End Post ===-->
