---
layout: blog/en/travelblog
title: "06/21/21 Nebelhorn without fog"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Oberstdorf

author: "Steffi"

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "Today we went straight to the new Nebelhorn cable car after breakfast. There's still construction work around it, but the cable car is already in operation. So we went"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0467.jpg"
    alt: "View up to the Nebelhorn"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} up without queuing to a height of 2,224 meters, including a fantastic view at a cozy 13 degrees. However, the sun was burning strongly, so we hardly noticed the temperature. After a short walk, we treated ourselves to a refreshment with a view before heading down to the next station. Unlike our first time on the Nebelhorn, there was still a lot of snow this time, which was happily melting away. Nice to look at, but this also meant that the paths were sometimes very slippery. One step at a time and armed with hiking poles, we managed quite well. </p>
        <p> Once at the station, we were slowly getting hungry. Before we made ourselves comfortable in the restaurant up there, we decided to take the cable car down one more station to try out the one there. Before we looked for a table, we walked around the newly created lake, which was teeming with tadpoles and salamanders. Really nice, but too few benches for our taste. Later we had a delicious lunch with a view. </p>
        <p> Since we didn't want to go down with the masses due to the last run, we eventually headed to the cable car. It was empty, and we wanted to get into a gondola where two older people were already sitting. The look and the way they were sitting there actually spoke volumes (legs stretched out or on the opposite bench), but polite as we are, when we asked "may we please", the only response was "just take the next one". Really now, I just thought. An "arrogant asshole" promptly slipped out. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Basti actually didn't want to let it sit. He looked to see if the next ones would join in, and we could just go over the asshole's head and still get into the gondola. Unfortunately, they didn't want to participate, and we waited for the next gondola. There was only a couple in there. But they were friendlier and promptly made space. The woman had an amazing resemblance to our family doctor. It could have been the big sister. When asked, however, she denied the relationship. Down in the village, we strolled a bit through the shopping street, got some bread, and once again ended up at the Francis Café. There was much to laugh about with crepes or cream puffs with ice cream and strawberries. </p>
    </div>

</div><!--=== End Post ===-->
