---
layout: blog/en/travelblog
title: "07/04/21 Hiking adventure"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "Yesterday the day started with a long journey of almost 370 kilometers, which took us to Poppengrün in Saxony, where we met with Basti's"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0677.jpeg"
    alt: "Dog Oscar"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} relatives. His aunts, their partners, and the kids of his cousin. Oh, and dog Oscar, not to forget. After arrival, we enjoyed a relaxing afternoon with dog cuddles, cake on the terrace, followed by a few rounds of table tennis. The pool was tempting, and although I originally only wanted to dip my feet in, the two kids made it impossible to stay dry. I was quickly in the water - a welcome bit of fun that we all enjoyed with laughter. </p>
        <p> In the evening, the day was rounded off with a delicious barbecue meal and cool drinks. We slowly ended the day in nice conversations, but we knew that the next day would be exciting again. </p>
        <p> Today started calmly with a cozy breakfast, where we were spoiled with boiled eggs and other treats. Steffi continued to cuddle Oscar into the ground. We discussed that we would stay until Monday before heading to the Elbe Sandstone Mountains. Strengthened, we set off at lunchtime to meet with Kerstin, Thomas, and the two girls for a hike. </p>
        <p> It started with a little confusion when we ended up at the wrong parking lot. But Uncle Thomas, who came to meet us, drove us the 500 meters to the right meeting point. The hike then really started: first a small round around the lake and then off into the forest to the Muldenberg Dam. Steffi went ahead at some point without much motivation - her motto: "If I stop, I won't get any further!" </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> After about eight kilometers, we reached the Flößerstube in Muldenberg and treated ourselves to cake and drinks. We almost unanimously decided to take the train back. On the way to the train, the girls still had fun when they pulled themselves across a pool with a raft. </p>
        <p> Back in Schöneck, we said goodbye to aunt, uncle, and the girls, but took some time to explore the IFA holiday complex. There is really a lot to discover here - hiking trails, ski courses, wellness programs, and much more. After a small dinner at the hotel, we drove back to Aunt Babsi and Uwe, who were still out. We made ourselves comfortable in front of the TV, played a round, and talked until they came back. Then it was time to go to bed and digest the experiences of the day. </p>
        <p> So it was a day full of beautiful experiences. We would be happy to have many more! Until tomorrow </p>
    </div>

</div><!--=== End Post ===-->
