---
layout: blog/en/travelblog
title: "09/26/2021 on to Tenerife"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-teneriffa

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "The view from the hotel room of the Riu Arecas"

overview:
  intro: "Our alarm clock rang inevitably early today at 3:30 a.m., because the plane to Tenerife was waiting for us. This should be for the next"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1274.jpeg"
    alt: "The Riu Arecas at night"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} bring ten days to the island, where we spend our annual &ldquo;downcoming vacation&rdquo; this time. It was extremely full at the airport, but since we had already checked in, we were able to give up our suitcases at the Self Bag drop and go straight to the security check. Fortunately, we didn't have to wait long and were able to make ourselves comfortable in the upper part of the airport. </p>
        <p> After a mini breakfast - it was just too early - we went to the gate. Fortunately, we caught places with more legroom and made ourselves more or less comfortable in series 8 after boarding. With almost 20 minutes delay we picked up and ended up in Tenerife S&uuml;d shortly after 11 a.m. The checks for Corona happened, it was time to wait at the suitcase band - this time they took a lot of time. </p>
        <p> When we had everything together, we went to the TUI bus. Here too we waited a while, and after almost 30 minutes of driving we finally arrived at the Riu Arecas Hotel. And here too it was said: wait-because there was a fire alarm exercise, and everything went very leisurely. There was drinks for this. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Finally arrived in the room, a side sea view and a side mountain view awaited us. Sometimes nice. We don't have the latest room, but it was very chic - and above all big. After we unpacked everything, we went in search of something edible. On the way there we crossed the hotel complex and found that you can no longer get a single couch at lunchtime. Let's see how it will be the next few days. </p>
        <p> When we arrived at the beach, we completed a short video call at the birthday child at home and then went to the restaurant next to the hotel. Here we shared a really good pizza and one or the other refreshing drink. Then it went briefly into the small supermarket around the corner, the minibar was filled with water, and then Siesta was announced - the inhumane up time was slowly noticeable. </p>
        <p> Later we walked along the promenade and looked at what is there to discover for the coming days. Back in the hotel, a really nice buffet was waiting for us - everyone really gets full here. And the staff is so friendly that you feel more comfortable twice. </p>
        <p> This is how our vacation starts on the sunny island - relaxed, tasty and with a lot of anticipation for the coming days. </p>
    </div>

</div><!--=== End Post ===-->
