---
layout: blog/en/travelblog
title: "02.07.2021 bye mountains"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/pilsensee-panorama.jpeg"
alt: "The view over the Pilsensee"

overview:
  intro: "Today it was time to say goodbye - at least from the mountains. Twelve days full of fresh air, wet hiking shoes, sun luck and hut kitchen"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0668.jpeg"
alt: "Text_Here"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ were behind us. We packed a bit wistfully and got ready for the onward journey. Our next destination: the Pilsensee near Starnberg, where we wanted to take a stop for one night. </p>
        <p> Before the departure, we got into chat with the Batz boss, who was surprisingly open: for twenty years she had been officially retired, she told us. Only that with retirement had somehow not worked - after all, there is still a whole farm on it, including holiday apartments and campsite. Now she is slowly but surely looking for someone who wants to take over. If it weren't for the usual hurdles such as "money" and "an idea of &#8203;&#8203;how to do this professionally", we would have started to dream. </p>
        <p> As a farewell, there was a small gift: a fabric bag with a homemade jam - warm -hearted and typical of this place. </p>
        <p> After almost two hours of driving we reached the Pilsensee, threw the car in position and set up for the night. The sun showed up, the mood was relaxed. We sat on the bridge for a while, our feet in the water, the face to the sun - just don't do anything and enjoy. </p>
        <p> The first colleagues from Basti later arrived with whom we had an appointment for dinner at the campsite. It was a happy evening - with beer, laughter and good mood. But at 10:15 p.m. there was suddenly over, because because of the current Corona rules, the restaurant had to close on time. So we were asked friendly, but definitely asked to drink our last drink - and ended the evening a little earlier than expected. But doesn't do anything: the vacation goes on. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
