---
layout: blog/en/travelblog
title: "06/27/21 No access"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Austria

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/IMG_0603.jpeg"
    alt: "The view over the Haldensee up the mountain"

overview:
  intro: "Today our journey should go towards Bad Hindelang and to the Tannheim valley in Austria. We actually wanted to circle the Vilsalpsee,"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0600.jpeg"
    alt: "A great mountain landscape"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} but access is closed during the day. Four kilometers each way plus the lake circuit was too much for us, as we wanted to see more that day. So change of plans - and off to the Haldensee! </p>
        <p> There we discovered a beautifully situated campsite right on the lake, perfect for a few days in transit. Right next door there is a heated outdoor pool - ideal for everyone who doesn't dare to venture into the cold lake. After a little more than halfway around the lake, we treated ourselves to a refreshment with a fantastic view in the self-service restaurant. Yes, you could really like it here! </p>
        <p> Back at the car it was time to fill up fuel - a whopping 35 cents cheaper in Austria than in Germany. Then we went on to Hinterstein, where the "Prinz Gumpe" was waiting for us - a lovingly designed Kneipp therapy garden with a free bathing option. The water was crystal clear, fed by a nearby mountain stream. So quickly changed and into the refreshing water - together with numerous lizards that frolicked in the water. Later we also discovered leeches ... creepy! Fortunately only after swimming - otherwise I wouldn't have gone in. </p>
        <p> After a relaxed sunbathing, hunger pulled us back to Oberstdorf. Quickly unloaded everything at the campsite, parked the rental car in the town center and off to dinner - outside, at pleasantly mild temperatures. We enjoyed the way back to the campsite with the setting sun and let the evening end relaxed with the neighbor. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
</div><!--=== End Post ===-->
