---
layout: blog/en/travelblog
title: "01.10.2021 A hot road trip"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-teneriffa

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "The view from the hotel room of the Riu Arecas"

overview:
  intro: "After breakfast we waited for a gentleman of the rental car company Avis, who was to come to the hotel around 10 a.m. That also worked great. After"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1710.jpeg"
    alt: "The mountain road to Masca"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} a short check (oha - just 60 hp!) We got the keys and quickly packed our things in the room. I stopped by on the Teide website - and crap, for today there were no more tickets. So spontaneously planned and booked for tomorrow. </p>
        <p> Today we wanted to go to the steep cliffs of Los Gigantes and then to Masca - we had met this place beautifully with WDR with Tamina Kallert and absolutely wanted to go there, especially in the "Alte School" restaurant. </p>
        <p> Hardly driven off, the weaknesses of our small rental car showed up - with 60 hp you are really in the mountains in the mountains. But hope dies last. Our first stop was a viewpoint above Los Gigantes - wonderful view with cool drinks. </p>
        <p> Then it went down into the place. We strolled a little, observed fish in the harbor basin and took a few nice pictures of the impressive cliffs on the small beach.
            We looked around the restaurants a little more and considered whether we might want to do a boat tour from here for the days. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Then we entered Masca into the navigation system - and what followed was an extremely winding journey. There were many viewpoints on the way, which we diligently took. But there was no question of "cooler in the mountains" today - the temperature display climbed to a whopping 42 degrees! When we arrived in Masca, we were actually motivated to run something - but the heat won. We sat in a small caf&eacute;, drank cold drinks and ate an incredibly delicious tortilla de patata. In addition, we covered ourselves with a few liquid souvenirs - rum and banana liqueur. </p>
        <p> There should still be a short walk in it - but my cycle disagreed. I first had to sit under a tree, drink a lot of water and take a deep breath. After that it went halfway again - back into the air -conditioned car. </p>
        <p> Well ... the car also had its problems. We stopped several times, had to make the engine out, and suddenly the workshop lamp shone. Briefly we were really afraid of staying completely. Fortunately, everything went well - somehow. </p>
        <p> We still drove to the Hard Rock Hotel, but we didn't go there either: chic shirts - but only in XS. The seller said they were waiting for a forever. It was too full in the bar. So we looked into a small caf&eacute; opposite and drank delicious smoothies - after all. </p>
        <p> Back in the hotel we made ourselves fresh, enjoyed dinner and later drove to Siam Mall again. Looked through once, but nothing exciting. So go back to the hotel and end the evening relaxed. </p>
    </div>

</div><!--=== End Post ===-->
