---
layout: blog/en/travelblog
title: "19.06.2021 Donaubad Ulm"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Ulm

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "This morning the highway took us to Ulm. Before we remove, Basti reserved a slot for the outdoor pool. This was because"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0545.jpg"
    alt: "The Ulm Münster"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} again next to the parking space and the weather again promised glowing temperatures. </p>
        <p> Arrived at the parking space, mind you, a very beautiful and newly created with sufficiently large areas, it was first said to check in and test at the center next door. Because nothing worked in the parking space without a negative coronate test. 15 minutes later everything was done, snapped bathing suits and enjoyed the cool water and enjoyed the day. Just when we got ready to go back to the Womo, a hell alarm broke out in the ice rink next door. Well false alarm ... shortly afterwards belongs to the usual fire brigade and the alarm stopped. </p>
        <p> But when we left the outdoor pool, we were amazed. At least 20 fire brigades, 10 ambulances, etc. were more and more. It was definitely not false alarm. Something is probably "leaked up" on the ice machine and made sure that further major alarm was triggered and that various rescue workers with special suits push into the hall. </p>
        <p> We made it comfortable in front of the Womo under the awning and watched the spectacle. And also had to find out that humanity really lost brain. The emergency services have cordoned off everything and people actually tried to drive through the barrier to get to their allotment gardens. While they were still pointed out that this is not the case, they actually started to discuss and fire the rescue workers. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> So far I thought that something was only being inflated on TV, but no ... We experienced it several times that evening and became really aggro ourselves and, together with the rescue workers, tied the brain -burned people. </p>
        <p> At some point the stomach growled so loud that we went towards the city center. Of course we first headed for the M&uuml;nster. Unfortunately, however, this was already closed and also covered in scaffolding. So none of particular sight. Shortly afterwards we landed at "Enchilada", a really chic Mexican restaurant with delicious food and friendly service. </p>
        <p> Freshly strengthened, we went back to the parking space, where the rescue workers were still fully in progress. They were still when we went to sleep around midnight. </p>
    </div>

</div><!--=== End Post ===-->
