---
layout: blog/en/travelblog
title: "07/01/21 One last time Baad"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Austria

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "The last day started, how could it be otherwise, with rain. At night it drummed softly on the car roof, in the morning everything was gray and"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0655.jpeg"
    alt: "The view from above towards Baad"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} moist. So we took it slowly, dawdled around a bit, read, packed up little things - and waited for a weather gap. </p>
        <p> Around eleven, it finally looked a bit friendlier. So into the shoes and off to Oberstdorf. There we strolled through the streets, took the last glance in shop windows and considered whether we still need a souvenir - the usual "God is beautiful here" round. </p>
        <p> But somehow we moved back to Baad. Maybe it was the desire for a last mountain view, but maybe also the chocolate banana cake, which I already had in my head yesterday. In any case: it was worth it. The cake was fantastic, and there was a little sun on the nose - almost like a small farewell gift. </p>
        <p> After strengthening, we made a little walk up the slope to find the webcam, which we regularly head for "snow control" in winter. Let's see how it looks around the camera. </p>
        <p> Finally, we treated ourselves to a really good dinner before going back to Oberstdorf. There we ended the day calmly, with tired legs, full belly and a last look at the mountains. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> A relaxed last day - one last look at the mountains, a last bit of cake - and a lot of anticipation for next time. </p>
    </div>

</div><!--=== End Post ===-->
