---
layout: blog/en/travelblog
title: "06/20/2021 Rubi Camp Oberstdorf"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Ulm
  - Kempten
  - Sonthofen
  - Austria
  - Riezlern

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "At some point the thunderstorm woke us up much too early and Basti moved forward. In the rain on the roof, Basti is difficult"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0551.jpg"
alt: "Riezlern and the cable car to the pulpit wall"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ sleep, I slumber all the better. </p>
        <p> At some point in the night, the rescue workers had warped, there was peace and relaxation on the square when we slowly packed up. At least until the alarm broke off again. The rescue workers only needed 8 minutes until they drove up again. However, a part drove off very quickly and we also set off. </p>
        <p> Addendum; As we now know from the press, ammonia has left! </p>
        <p> Intermediate destination: Kempten! </p>
        <p> There was delicious breakfast in a very trendy caf&eacute;. At least the clientele and the prices also suggested it. Unfortunately, this was also the only way to find something to eat, otherwise the city was extinct. </p>
        <p> Next we headed Sonthofen. There is a machine supermarket there, which we actually wanted to loot. The prices then instructed us better and we drove further into the Kleinwalsertal and bought the bare essentials in the SPAR. In the meantime it was already after 3pm and we treated ourselves to something delicious in a restaurant opposite the pulpit path before we drove back to Oberstdorf and checked in at the Rubi Camp. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Here we enjoy the extinguishing day with rain that occurs again and again and look forward to hopefully 12 wonderful days in and around the Kleinwalsertal. </p>
    </div>

</div><!--=== End Post ===-->
