---
layout: blog/en/travelblog
title: "24.06.2021 knock knock the second"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Austria

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "Today the night was too early by knocking on the motorhome"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0567.jpg"
alt: "Snack on the Sonna Alp"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ ended. </p>
        <p> The two extremely friendly gentlemen from the Kripo were back at the door and brought us the latest. In the meantime the pig has stood and it came out that he had been doing it on the pitch for a long time. </p>
        <p> So we were able to enjoy our time again and then drove to the S&ouml;llereck and started our tour to Riezlern from there. Here we also crossed the so -called green border to Austria, from which we had heard a lot during the Lockdown. Anyone who went from AT to D and was caught had to shell out at least &euro; 500, while the border crossing remained unpunished at the bottom of the street. </p>
        <p> Arrived in the Kleinwalsertal, we slowly started looking for something edible. Since Mega looked delicious on our arrival in the restaurant of the cheesecake, I wanted to go there again. First something hearty and a cheesecake at the end. Unfortunately, there was a large sign "During the Day" there today. Hmmm. Too bad. We spontaneously decided to challenge our luck in the Sonna Alp, because there were no longer tables to reserve on the website. The Sonn Alp is located right next to the Zafernalift mountain station directly on the H&ouml;henpanoramamweg above Mittelberg. From there you have a wonderful view of the entire area and the food is always awesome. We were lucky and could even choose between a place and outside. We chose inside, because of the weather. There was potato soup and snack and still Kaiserschmarn for dessert. Unfortunately, this was not as good today as we are used to. He was quite compact but still delicious. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> After that we moved back to Oberstdorf because firstly it does not hike with a full belly and secondly it looked like rain again. We spent the rest of the evening comfortably on the car in our awning. Tomorrow we will pick up the announced rental car and then let's see where we are going. </p>
        <p> See you in the morning. </p>
    </div>

</div><!--=== End Post ===-->
