---
layout: blog/en/travelblog
title: "05.10.2021 Adios island period"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-teneriffa

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
alt: "The view from the hotel room of the Riu Arecas"

overview:
  intro: "We simply let the last vacation days drive. No plan, no must - simply sun, pool and sea. Just as it should be. We were"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1548.jpeg"
alt: "Mini yellow fins Barakudas"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ in the sun, read, snorkeled and enjoyed the late summer feeling to the fullest. This time the water was particularly clear - and even a small swarm of barracudas showed up. A nice end to our time on the island. </p>
        <p> On the last evening we strolled to the Plaza del Duque Mall after dinner. Like the Siam Mall not quite our case - but the walk along the promenade was worth it. Light wind, the lights, a little sound of the sea in the background ... the perfect last evening moment. </p>
        <p> The last morning it was said: slowly saying goodbye. While Basti was already checking out, I spontaneously treated myself to an appointment in the nail studio. My nails were just so long and stable that it was finally worth it - and Basti's Christmas present from 2020 was also redeemed. Some things just need time. </p>
        <p> Our transfer bus was ready on time at 12:30 p.m. We had to wait at the airport because the switch was not yet open - but with the sun in the back you can sit out of something very relaxed. The plane was almost empty, just 94 people on board. Pure luxury: endless space. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> And then came the best on -board staff ever. The flight attendant opened his announcement with "Boarding Completed ... I think" - we all had to laugh. He was relaxed all the time, entertaining, warm - just great. We sat at the forefront, got into conversation, and so the long flight time fell almost like in a flash. Particularly nice: from above we could even see the thick clouds above the bubbling volcano on La Palma. Impressive - and a bit surreal. </p>
        <p> And so this nice October vacation came to an end. With lots of sun on your face, sand under your feet, bananas in the stomach and a little volcanic air in your nose. Tired, but happy. </p>
    </div>

</div><!--=== End Post ===-->
