---
layout: blog/en/travelblog
title: "30.09.2021 A lot of vacancy"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-teneriffa

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
alt: "The view from the hotel room of the Riu Arecas"

overview:
  intro: "There is not much to say yesterday. Breakfast, sink, splash, splash again, sun again, then some delicious food. A little snack with Hauke"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1640.jpeg"
alt: "The view from the sea to the mountains"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ in front of the hotel, then a cozy round along the promenade, dinner - and off to bed. </p>
        <p> Today after breakfast we took the bus to Playa de Las Am&eacute;ricas. There were clearly the effects of Corona: a lot of vacancy, closed shops, a rather cloudy mood. When we arrived at the Hard Rock Caf&eacute; shop, we got shirts and little things. The lady from the staff told us that the restaurant is still closed - it will only open again in a week and a half. Too bad, because we had actually planned to drink something there. </p>
        <p> So we continued to the hotel that friends of us regularly book. We wanted to see if it was also possible for us. Very nice so far, but unfortunately a classic family hotel - that's not what we are looking for. </p>
        <p> Then we treated ourselves to a drink in the caf&eacute; right on the beach. We leafed a little in our books before we decided to take the bus back. On the way we had seen a market where we still wanted to stop - well, unfortunately wrongly teased: the market was only open until 2 p.m. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> So directly back to the hotel, into the bathing clothes, snapped the snorkeling stuff and off to the sea. Unfortunately, the water was too churned today, so that we could hardly see anything under water. But it was still refreshing. After that, it was time to relax again on the hotels - and as always a delicious dinner at the end of the day. </p>
    </div>

</div><!--=== End Post ===-->
