---
layout: blog/en/travelblog
title: "09/30/21 A Lot of Vacancy"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-tenerife

locations:
  - Spain
  - Tenerife

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-tenerife/IMG_1267.jpeg"
    alt: "The view from the Riu Arecas hotel room"

overview:
  intro: "Not much to say about yesterday. Breakfast, sunbathing, swimming, more sun, then some delicious food. A little chat with Hauke"
  image:
    url: "/assets/img/blog/2021-tenerife/small/IMG_1640.jpeg"
    alt: "The view from the sea to the mountains"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} in front of the hotel, then a cozy stroll along the promenade, dinner - and off to bed. </p>
        <p> Today after breakfast, we took the bus to Playa de las Américas. The effects of Corona were clearly visible: lots of empty spaces, closed shops, a rather gloomy atmosphere. When we arrived at the Hard Rock Café shop, we got some shirts and small items. The staff member told us that the restaurant is still closed - it won't reopen for another week and a half. Too bad, as we had actually planned to have a drink there. </p>
        <p> So we continued to the hotel that our friends regularly book. We wanted to see if it would work for us too. Very nice so far, but unfortunately it's a classic family hotel - that's not what we're looking for right now. </p>
        <p> Then we treated ourselves to a drink at the café right on the beach. We browsed through our books for a while before deciding to take the bus back. On the way, we had seen a market where we wanted to stop - well, unfortunately we got the timing wrong: the market was only open until 2 p.m. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> So straight back to the hotel, into our swimsuits, grabbed the snorkeling gear, and off to the sea. Unfortunately, the water was too churned up today, so we could hardly see anything underwater. But it was still refreshing. After that, it was time to relax on the hotel loungers again - and as always, a delicious dinner to end the day. </p>
    </div>

</div><!--=== End Post ===-->
