---
layout: blog/en/travelblog
title: "23.06.2021 Tapping knock"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Oberstdorf

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "As the officials announced during the night, the Kripo am Womo at short after 8 a.m. and knocked us out of the"
  image:
    url: "/assets/img/blog/2021-alps/seilbahn-im-nebel.jpg"
    alt: "Text_Here"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} bed. </p>
        <p> Since it is an ongoing procedure, there is now nothing more. </p>
        <p> From the space owners there was still a small breakfast as a "compensation". </p>
        <p> The Kripo didn't ask us too far and so we stayed in Oberstdorf for the day and made our rounds here in the area. When we were short of the Nebelhornbahn, we decided to drive up. We had a little hope that the clouds would be at our feet as stairs ... but no, again not. Once at the top, we stood in an opaque soup, which also swallowed every noise. So just turned a small round, which drank and driven down again. Back at the square we decided that we finally build our awning. We were just finished in time that the hail on the hail could nothing more and we did not have to flee into the car immediately. </p>
        <p> So we spent the evening in the awning and enjoyed the time and the thunderstorms that could be seen in the distance. </p>
        <p> See you in the morning. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>

</div><!--=== End Post ===-->
