---
layout: blog/en/travelblog
title: "04.07.2021 hiking adventure"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "Yesterday the day started with a long journey of almost 370 kilometers, which took us to Poppengrün in Saxony, where we on Bastis"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0677.jpeg"
    alt: "Dog Oscar"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Related. His aunts, their men and the kids of his cousin. Oh and dog Oscar not to forget. After arrival we enjoyed a relaxing afternoon with dogs, cakes on the terrace, followed by a few round table tennis. The pool attracted, and although I originally only wanted to go in with my feet, the two kids made it impossible to stay dry. I was quickly in the water - a welcome fun, which we all laughed at. </p>
        <p> In the evening, the day was rounded off with a delicious grill meal and cool drinks. We slowly ended the day in nice conversations, but we knew that the next day would be exciting again. </p>
        <p> Today the day started calmly with a cozy breakfast, where we were spoiled with cooked eggs and other treats. Steffi further crawled Oscar into the ground. We discussed that we would stay until Monday before going to the Elbeandstein Mountains. Strengthened we set off at lunchtime to meet with Kerstin, Thomas and the two girls for a hike. </p>
        <p> It started with a little confusion when we ended up in the wrong parking lot. But Uncle Thomas, who came to us, drove the 500 meters to the right meeting point. The hike then really started: first a small round around the lake and then off into the forest to the Muldenberg Dam. Steffi went in front at some point without great motivation - her motto: "When I stop, I won't get any further!" </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> After about eight kilometers we reached the Fl&ouml;&szlig;erstube in Muldenberg and treated ourselves to cakes and drinks. We decided almost unanimously to take the way back. On the way to the train, the girls still had fun when they pulled themselves over a pool with a raft. </p>
        <p> Back in Sch&ouml;neck, we said goodbye to aunt, uncle and the girls, but took some time to explore the IFA holiday complex. There is really a lot to discover here - hiking trails, ski courses, wellness programs and much more. After a small dinner in the hotel we drove back to Aunt Babsi and Uwe, who were still on the move. We made it comfortable in front of TV, played a round and talked until the two of them came back. Then it was time to go to bed and digest the experiences of the day. </p>
        <p> So it was a day full of beautiful experiences. We would be happy to take many more! Until tomorrow </p>
    </div>

</div><!--=== End Post ===-->
