---
layout: blog/en/travelblog
title: "21.06.2021 Nebelhorn without fog"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Oberstdorf

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "Today we went straight to the new Nebelhornbahn after breakfast. There is still a construction site around it, but the train is already in operation. So went"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0467.jpg"
alt: "View up to the Nebelhorn"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ It without queuing at a height of 2224 m including a fantastic view with a nipple 13 -degree. However, the sun burned strongly, so that the temperature did not even notice. A little tour and we first treated ourselves to a refreshment with a view before we turn to the descent to the next station. Unlike our first time on the fog horn, this time there was still a lot of snow, which jokes happily in front of him. Nice to look at, but this also meant that the paths were sometimes very slippery. One step after the other and armed with hiking sticks did quite well. </p>
        <p> Once at the station, the hunger was slowly plagued by us. Before we made ourselves comfortable in the restaurant up there, we decided to go further down by train to try out the times there. Before we looked for a table there, we went around the new lake, in which it was swarming with Kaulquabben and Salamanders. Really chic, but too little benches for our taste. Later there was delicious lunch with a view. </p>
        <p> Since we did not want to go down with the masses because of the last track, we at some point turned to the cable car. Nothing going on, we wanted to get into a gondola where two older people were already in it. The look and the way they were sitting there actually spoke volumes (legs long or on the bench) but politely as we are "we should please", only "just take the next". Really now, I just thought. An &ldquo;arrogant asshole&rdquo; promptly slipped out. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Basti actually didn't want to let it sit on him. He looked at the next one and we just too four over the asshole and still get into the gondola. Unfortunately they didn't want to participate and we were waiting for the next gondola. There was only a couple in there. But they were friendlier and promptly made space. The woman had an amazing resemblance to our family doctor. It could have been the big sister. On request, however, she denied the relationship. Down in the village we strolled a little through the shopping street, got bread and once again landed in the Francis Caf&eacute;. There was a lot to laugh about crepes or cream puffs with ice and strawberries. </p>
    </div>

</div><!--=== End Post ===-->
