---
layout: blog/en/travelblog
title: "06.07.2021 Fortress & Elbe"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/IMG_0703.jpeg"
alt: "Elbe loop with Berg Lilienstein"

overview:
  intro: "The day started - how could it be otherwise - with an extensive breakfast in the adjacent hotel. We were able to strengthen ourselves"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0711.jpeg"
alt: "View from the fortress towards Elbe"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ Before it went to the K&ouml;nigstein fortress, which had already made us curious yesterday. So we made our way to the entrance to the fortress, which - how could it be otherwise - could be reached with a small climb. But the view from above compensated us for the effort. Really great! The view of the Elbe valley and the surrounding forests was simply breathtaking. And the fortress itself? A real splendor, well maintained and full of history. We spent the next five hours exploring the facility, losing ourselves in the old walls and enjoying the view. </p>
        <p> We actually wanted to take part in a workshop where you could produce herbal salt. Sounds exciting, isn't it? Unfortunately, the workshop was canceled at short notice and replaced by a leather bag workshop. Stupid, that was probably nothing. </p>
        <p> After so much culture and history, it was time to take a break - and what fits better than a look at the Elbe? While we watched the steamer on the river, we realized: "We have to do that too!" We just wanted to look around on the water and to see the area from a different perspective. So we decided to stay a little in the region and to plan a little Elbe trip for tomorrow. </p>
        <p> But as it is so often in life: the plan was not so easy to implement. Our pipitank was full - and as chance wanted, there was no waste disposal station in the parking space. So it was said: to Pirna! </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> There we first tried a parking space on the Elbe, which we had found on the Park4Night app. But when we arrived there, the space was unfortunately not there. Nothing to see the coordinates. So continue to the next parking space that should be on a rehab facility. But oh no - the square smelled so much of faeces that we are guaranteed not to settle here. So, still looking for a clean parking space, we asked politely whether we should at least empty our Pipitank. The answer? A clear "nope!" </p>
        <p> Then we only had the campsite in Pirna. After all, there was everything we needed for the night. The parking space was not the most spectacular, but at least functional. So we set up, threw the grill on and enjoyed the evening with cool drinks and the view of the bathing lake. </p>
        <p> And because life is simply not conceivable without ice, Basti quickly went to the ice cream stand after eating, get something nicely. Unfortunately, he brought the rain with him, soothes. Who would have thought that an ice cream could be so delicious in pouring rain? </p>
        <p> At some point we were able to pull ourselves up to the showers before the evening ended comfortably. </p>
    </div>

</div><!--=== End Post ===-->
