---
layout: blog/en/travelblog
title: "06/20/21 Rubi Camp Oberstdorf"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany
  - Ulm
  - Kempten
  - Sonthofen
  - Austria
  - Riezlern

author: "Steffi"

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "At some point in the early morning, the thunderstorm woke us up and Basti moved to the front. When it rains on the roof, Basti can't"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0551.jpg"
    alt: "Riezlern and the cable car to the pulpit wall"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} sleep well, but I sleep even better. </p>
        <p> At some point during the night, the rescue workers had left, and there was peace and quiet on the square as we slowly packed up. At least until the alarm went off again next door. The rescue workers only needed 8 minutes until they arrived again. However, some of them left very quickly, and we also set off. </p>
        <p> Addendum: As we now know from the press, ammonia had leaked! </p>
        <p> Intermediate destination: Kempten! </p>
        <p> There we had a delicious breakfast in what seemed to be a very trendy café. At least the clientele and the prices suggested as much. Unfortunately, this was also the only place to find something to eat, as the city was otherwise deserted. </p>
        <p> Next, we headed to Sonthofen. There's a vending machine supermarket there that we actually wanted to raid. But the prices taught us better, and we drove straight on to the Kleinwalsertal, where we bought the bare essentials at SPAR. By then it was already after 3 PM, and we treated ourselves to something delicious at a restaurant opposite the pulpit wall cable car before driving back to Oberstdorf and checking in at the Rubi Camp. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Here we're enjoying the fading day with occasional rain and looking forward to hopefully 12 wonderful days in and around the Kleinwalsertal. </p>
    </div>

</div><!--=== End Post ===-->
