---
layout: blog/en/travelblog
title: "08.07. - 11.07.21 Delicious & Wellness"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "For us, Lübbenau was not only a stopover on the way to the Tropical Islands - but almost a tradition. We have been sticking here for years"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0789.jpeg"
    alt: "Tropical Island from outside"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} this time for the first time overnight. And not by chance, but with deliberate. In fact, we call there every time before. Why? Quite simply: rosin braid. And not just any, but the only true, still warm and slightly Klitschy rosin braid on the inside, as you still know it from GDR times-freshly baked at the baker in the Kaufland. </p>
        <p> We had actually pre -ordered two pieces. In the end it became four - you know each other. Care for the next few days. Because once you have this perfect mix of soft, juicy and crispy, you don't want to go back. Clearly for us: a culinary mandatory date. </p>
        <p> From there it was only around 30 minutes to the Tropical Islands - the long -awaited wellness weekend could start. The parking space was already reserved, so quickly turned off the motorhome, powered, moved, moved, packed bags and off with the shuttle into the hall. And it was already there: the feeling of pure vacation. Here the watch simply ticks differently - or rather, it doesn't matter. No view of opening times or weather apps. Only relaxation. </p>
        <p> Our first goal: the sauna area. We immediately arrived between warmth, steam and tropical vegetation in &ldquo;vacation mode&rdquo;. For three days we let ourselves go - swim, walk, doze, read, read. Everything without a hurry, without pressure. This is how relaxation feels. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Of course there were also things that were less relaxing - such as the now clearly grown population of so -called rainforest cockroaches. Once we were even surrounded "friendly" in the evening, which moved us to visit the rest of the stay rather illuminated corners. Sure, they are part of the Halle ecosystem, but after the long Corona closing time, these little roommates had made themselves quite wide-literally. Creepy? Yes. Takes some getting used to? In any case. </p>
        <p> We enjoyed it culinary. The Asian restaurants in particular convinced us. The trips to the food court were less successful: the pizza was hardly edible, the championship schnitzel was a letdown. Even the new trend towards expensive refill cups did not convince us-especially because many machines were already empty at lunchtime. We simply provided ourselves - well -tried and stress -free. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2021-alps/IMG_0801.jpeg" alt="The children slide in the Tropical Island">
        </div>
    </div>
    <div class="col-md-6">
        <p> With check-out, we spoke back on the striking cockroach situation. The employee kindly explained that they are working on it - and that they are not allowed to use the word "Kakerlake". The animal is officially called rainforest scrap. Aha. Sounds much more tropical. And less ... crawling. </p>
        <p> The next morning it went back home - without long breaks, because the traffic played along and we got through well. Only the bare essentials were unloaded at home. The rest could wait, because first there was a visit to the Ahrensburg wine festival - a small, relaxed end of our vacation. For dinner we went into time, before the big one finally started and washing the laundry. </p>
        <p> And with that our summer vacation was officially over. He started hot, went into a mixed but eventful center-and ended in a small wellness oasis with rosin braid and rainforest cockroach. Everyday life now has us again. But it won't take a long time for us to go again. Where the next time we go? You will find out here. </p>
        <p> See you soon and greetings </p>
        <p> Steffi &amp; Basti </p>
    </div>
    <div class="col-md-12">
    </div>

</div><!--=== End Post ===-->
