---
layout: blog/en/travelblog
title: "30.06.2021 rain, smoke, rain"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Austria

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "And every day the marmot greets - or in our case: the rain. Last night it dripped again properly. Steffi even said"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0636.jpeg"
alt: "The mountain chalet Baad"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ There would have been a thunderstorm. I missed it completely. It remains to be seen whether this is due to the fresh mountain air or my inner calm - at least I woke up well in the morning. </p>
        <p> It was rather fresh in the car - we call it "Alpine's indoor climate". So: heating on. But as soon as the good piece ran, it was already pounding vigorously on the door. Our camping neighbor interpreted with a concerned look at the white cloud of smoke that enveloped our car. Ups! No fire alarm - just a kind of involuntary pope election. White smoke rose and we already thought: "Have you just opened a new council?" </p>
        <p> So quickly go out with the heating, take a deep breath and first wake up really. Then we ventured a second attempt under strict observation. The internet, our digital camping consultant, recommended that heat through for an hour, then the spook should be over. And lo and behold - after five minutes the white fog was history. There was probably just too much moisture in the system. Or someone had lit a incense stick in the exhaust. </p>
        <p> Around 11 a.m. it finally stopped raining - at least long enough that you didn't have to go back to the rain jacket. So in the hiking shoes and off. The bus went to the end of the Kleinwalsertal, to Baad - a small, quiet place that scores with a lot of mountain idyll. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> We made a small round around the mountain chalet that we booked with friends for February-short check whether it is still (did it), two or three photos for the anticipation, and then purely in the connected inn. The stomach had priority. </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2021-alps/IMG_0648.jpeg" alt="Alps strawberries">
        </div>
    </div>
    <div class="col-md-6">
        <p> After a really good food and nice chat with the table neighbors over God, the mountains and the weather, we decided: there is still something going on! And lo and behold - the sun was actually brief. So go: along the stream, nimble step, fresh air. From Baad to H&ouml;fle, accompanied by the rippling of the Breitach, always towards the dessert. Because drinks and dessert were waiting in hell - included with panorama. Vacation as he should be. </p>
        <p> But wait - more is possible! We didn't want to go back by bus yet. So on - half along the slope, through forest and meadow, to Riezlern. On the way we found a few tiny wild strawberries. I don't know how they survived, but they were there - and delicious! Briefly rinsed in the stream and nibbled directly. Gourmet enjoyment &agrave; la Alpen-Edition. </p>
        <p> In Riezlern we got a bus ticket back to the campsite. The next rain area piled up on the horizon - presumably that from yesterday, only with reinforcements. But as gracious as it was, we let us eat in peace - with a mountain view and residual sun. </p>
        <p> Then: rain. Again. So back into the car, make you comfortable. Watch a bit of films, write blog, wash the laundry-the classic camping mix of everyday life and adventure. </p>
        <p> In the end it was a typical day of vacation: first rain, then sun, then cake - and everything is fine. </p>
    </div>

</div><!--=== End Post ===-->
