---
layout: blog/en/travelblog
title: "07/05/21 Soft ice cream surprises"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the Nebelhorn down to the mountain station"

overview:
  intro: "After the last eventful days, we decided to take it down a notch today. The only task of the day was the journey to"
  image:
    url: "/assets/img/blog/2021-alps/schafe-am-wegesrand.jpeg"
    alt: "Sheep on the side of the path"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} Fortress Königstein in the Elbe Sandstone Mountains - where you can treat yourself to a relaxing morning. So what did we do? Sleep in, of course! No hustle and bustle, no stress. We simply took the time to take a proper shower, have breakfast in peace, and complete the whole thing with a small thank you on the table for our hosts. And now off to the road - that's how it has to be! </p>
        <p> Our goal was the Königstein Fortress, on the advice of our relatives, and we had chosen a small parking spot below the fortress. When we arrived, we immediately saw that it was really idyllic here. The parking spot was right below the imposing fortress, and there was still plenty of space - so far there was only one other vehicle there. Very relaxed. </p>
        <p> Since Basti is always up for soft ice cream, he took the opportunity and got a delicious ice cream at the kiosk next door. While he was enjoying his ice cream, it turned out that you had to pay for the parking spot at the kiosk. Okay, no problem - but then the seller asked us if we would like breakfast the next morning. Without much thought - and probably swept away by the charming atmosphere of the kiosk - a cheerful "yes" slipped out. Just like that, the breakfast buffet for €10 per person was booked. Well, that could be interesting! </p>
        <p> It was already afternoon when we decided to make dinner ourselves. So I chopped away diligently in the kitchen while Basti had an extensive chat with the neighbors. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> In between, I reserved two tickets for the fortress that we want to visit in peace tomorrow. As the day slowly turned to evening, we retreated into the car to watch another film and end the day comfortably. It was one of those relaxed days when you don't do much, but still feel like you're enjoying a little break from everyday life. And the best part: Tomorrow we'll continue with a visit to the fortress - we're curious to see what awaits us there. </p>
    </div>

</div><!--=== End Post ===-->
