---
layout: blog/en/travelblog
title: "07/06/21 Fortress & Elbe"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alps

locations:
  - Germany

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/IMG_0703.jpeg"
    alt: "Elbe loop with Lilienstein mountain"

overview:
  intro: "The day started - how could it be otherwise - with an extensive breakfast at the adjacent hotel. We were able to fortify ourselves"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0711.jpeg"
    alt: "View from the fortress towards the Elbe"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} before heading to the Königstein Fortress, which had already piqued our curiosity yesterday. So we made our way to the fortress entrance, which - how could it be otherwise - required a small climb. But the view from above more than made up for the effort. Truly magnificent! The view over the Elbe valley and the surrounding forests was simply breathtaking. And the fortress itself? A true splendor, well maintained and full of history. We spent the next five hours exploring the complex, losing ourselves in the old walls and enjoying the view. </p>
        <p> We actually wanted to take part in a workshop where you could make herbal salt. Sounds exciting, doesn't it? Unfortunately, the workshop was canceled at short notice and replaced with a leather bag workshop. Too bad, that probably wasn't for us. </p>
        <p> After so much culture and history, it was time for a break - and what better than a look at the Elbe? While watching the steamboats on the river, we realized: "We have to do that too!" We just wanted to cruise around on the water and see the area from a different perspective. So we decided to stay in the region a bit longer and plan a small Elbe trip for tomorrow. </p>
        <p> But as is often the case in life: the plan wasn't so easy to implement. Our gray water tank was full - and as luck would have it, there was no disposal station at the parking spot. So it was off to Pirna! </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p> There we first tried a parking spot by the Elbe that we had found on the Park4Night app. But when we arrived, the spot was unfortunately not there. Nothing to see at the coordinates. So on to the next parking spot that was supposed to be at a rehab facility. But oh no - the place smelled so strongly of sewage that we definitely didn't want to stay here. So, still looking for a clean parking spot, we politely asked if we could at least empty our gray water tank. The answer? A clear "nope!" </p>
        <p> Then we only had the campsite in Pirna left. At least it had everything we needed for the night. The parking spot wasn't the most spectacular, but at least functional. So we set up, fired up the grill and enjoyed the evening with cool drinks and a view of the swimming lake. </p>
        <p> And because life simply isn't conceivable without ice cream, Basti quickly went to the ice cream stand after dinner to get us something nice. Unfortunately, he brought the rain with him, soaking wet. Who would have thought that ice cream could be so delicious in pouring rain? </p>
        <p> Eventually we managed to drag ourselves to the showers before the evening came to a comfortable end. </p>
    </div>

</div><!--=== End Post ===-->
