---
layout: blog/en/travelblog
title: "29.06.2021 Always this weather"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Austria

author: Steffi & Basti

headline:
  image:
    url: "/assets/img/blog/2021-alps/nebelhorn.jpg"
    alt: "The view from the fog horn down to the mountain station"

overview:
  intro: "During the night it dripped on the roof from time to time. The rain has apparently put an effort to remain as inconspicuous as possible."
  image:
    url: "/assets/img/blog/2021-alps/walmendinger-im-nebel.jpg"
    alt: "Text_Here"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> {% include 'blog/snippet/headline.html.twig' %} </div>
    <div class="col-md-6">
        <p> {{ page.overview.intro|raw }} worked. Everything is still standing, nothing flooded, does not take off - so: passed. </p>
        <p> Unfortunately, the weather forecast for our last days in Oberstdorf was not exactly evident from its sunny side. But we are optimists (or at least like that), so: wait, drink tea and make the best of it. </p>
        <p> Because the sun was really unexpected by the sky in the morning, we took the opportunity to dismantle the awning. Sure, we still had a few more days - but pack a wet awning? It is like wet socks in the suitcase. Just don't have fun. So down with it while everything was still dry. </p>
        <p> Around noon, we went to the Kleinwalsertal. Goal: the Walmendingerhorn. Sounds impressive, but drives comfortably with the cable car. Unfortunately, the train was just gone when we were at the ticket counter - Timing is everything. So 15 minutes of waiting. No problem, because a nice employee calmed us up: "You still have two hours until the weather tilts." Aha. Challenge Accepted. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
    <div class="col-md-12">
        <p> Once at the top, there was a round drink and then: deck chairs! Sun! Mountain view! What more do you want? In the distance there was such a small rain curtain on the horizon, but hey - it felt like it was in another valley. No reason to worry. </p>
        <p> Well. Five minutes later we stood in the fog. Or better: in the cloud. Zack, everything gray. Welcome to the mountains! Quickly off to the restaurant before the wind blows us off the deck chair. The wind then turned up properly and the cable car was stopped. Well. So we were stuck. Well, then eat a little something. And wait. And keep waiting. And ... Oh. Now it gets worse than better. </p>
        <p> At some point the announcement that you hoped and feared at the same time came: "Quick down with you - we are still trying!" So: legs in hand and into the gondola. The descent felt a bit like a gentle adventure, but at least: we arrived at the bottom. </p>
        <p> Back at the campsite then the next spectacle: the storm probably didn't take a break there either. Branches, branches, half -defoliated bushes - pure nature. It looked a bit like after a bad -tempered autumn storm in the middle of summer. </p>
        <p> Conclusion of the day? Weather in the mountains: Always good for a surprise. And we? Are ready for the next round. </p>
    </div>

</div><!--=== End Post ===-->
