---
layout: blog/en/travelblog
title: "06/27/2021 No access"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2021-alpen

locations:
  - Germany
  - Austria

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2021-alps/IMG_0603.jpeg"
alt: "The view over the Haldensee up the mountain"

overview:
  intro: "Today our journey should go towards Bad Hindelang and to the Tannheim valley in Austria. We actually wanted to circle the Vilsalpsee,"
  image:
    url: "/assets/img/blog/2021-alps/IMG_0600.jpeg"
alt: "A great mountain landscape"
---

<!--=== Post ===--><div class="row">
    <div class="col-md-12"> ___Twig_token_0___ </div>
    <div class="col-md-6">
        <p> ___Twig_token_1___ But access is closed during the day. Four kilometers per route plus the circulation round was too much for us, because we wanted to see more that day. So change change - and off to the Haldensee! </p>
        <p> There we discovered a beautifully situated campsite right on the lake, perfect for a few days in transit. Right next door there is a heated outdoor pool - ideal for everyone who does not venture into the Cold Lake. After a little more than half of the way around the lake, we treated ourselves to a refreshment with a fantastic view in the SB restaurant. Yes, you could really like here! </p>
        <p> Back at the car it was time to fill up fuel - a whopping 35 cents cheaper in Austria than in Germany. Then we went on to Hinterstein, where the "Prince Gumpe" was waiting for us-a lovingly designed Kneipp-Kur-Garten with a free bathing option. The water was crystal clear, fed by a nearby Gebirgsbach. So quickly moved and purely into the refreshing water - together with numerous lizards that frolicked in the water. Later we also discovered leeches ... creepy! Fortunately only after swimming - otherwise I wouldn't have gone in. </p>
        <p> After a relaxed sunbathing, the hunger pulled back to Oberstdorf. Quickly unloaded everything at the campsite, the rental car parked in the town center and off to dinner - outside, at pleasantly mild temperatures. We enjoyed the way back to the campsite with the setting sun and let the evening end relaxed with the neighbor. </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{Page.overview.image.alt | raw}}">
        </div>
    </div>
</div><!--=== End Post ===-->
