---
layout: blog/en/travelblog
title: "09/12/24 Burj Khalifa Differently"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - UAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "The view towards Dubai Marina across the Palm Island"

overview:
  intro: "Good morning! Last night I decided to treat myself to a guided desert tour in the next few days. So this morning after breakfast, I first went to the tourist information"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240912-DSC06893.jpg"
    alt: "The Burj Khalifa with its almost 1000 m height"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} at the hotel, where I booked a desert safari for Saturday afternoon/evening. Saturday because it's supposed to be the coolest day before my departure – perfect for a bit of adventure.
        </p>
        <p>
            Since today was going to be the hottest day of my trip, I decided to take public transport to the Burj Khalifa. My plan: take photos from the very top, just like I did eleven years ago.
        </p>
        <p>
            On the way there, I took the tram for part of the journey. The stops here are built like small enclosed and air-conditioned halls – perfect for catching your breath in the heat. It also always smells temptingly of fresh orange juice, as almost every station has machines that press the juice directly from whole fruits. Today I couldn't resist and treated myself to one. They taste just as good as they smell. If Steffi were here, she would probably empty the entire machine.
        </p>
        <p>
            After the ride on public transport, I continued on foot towards the Burj Khalifa. On the way, the Sky View Observatory caught my eye – an observation deck in the neighboring tower with a perfect view of the Burj Khalifa itself. And honestly: I had already been up on the 124th floor of the Burj Khalifa once and took great photos back then. This time, I was more interested in capturing the tower itself beautifully, rather than photographing from it.
        </p>
        <p>
            The view from the 52nd floor was still spectacular – and the ticket was about 50% cheaper than at the big brother next door. Just a shame: I wasn't allowed to take my laptop up. I had actually planned to sit comfortably in the restaurant up there, continue writing this blog a bit, and check the photos. But well, then I didn't leave any extra money up there. Instead, I preferred to stroll more extensively through the Dubai Mall – in search of the legendary gold vending machine.
        </p>
        <p>
            The mall is simply huge. And it's not just big, but also designed with a lot of attention to detail. The Chinatown area is particularly beautiful, but many other stores are real eye-catchers just by their design and decoration. Don't forget your jacket – it can get quite drafty in some places. And that's not just because there's an ice rink in the middle of the mall!
        </p>
        <p>
            Besides shopping and eating, the Dubai Mall offers plenty more: a huge aquarium, a complete amusement park for children, two impressive waterfalls, and even an Airbus A380 simulator.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240912-DSC06832.jpg" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Those who know me might have guessed that I would want to go in there immediately – but unfortunately not: The simulator is heavily stripped down, offers only a few buttons and manual flight. Besides, it's mainly designed for children – and for what it can do, it's completely overpriced. A pity. That could have been a small highlight otherwise.
        </p>
        <p>
            After a detour to the food area – including pizza and a dessert afterward – I went in search of the legendary gold vending machine. The first lady at the information desk had no idea what I was talking about. The second was better informed and enlightened me: The machine has been gone for quite some time. Well, that's unfortunate.
        </p>
        <p>
            By now it was late again, so I made my way back to the hotel. There I let the evening wind down comfortably on my terrace – with a view of the sparkling lights of Dubai.
        </p>
        <p>
            See you tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->