---
layout: blog/en/travelblog
title: "09/14/24 Desert Safari"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - UAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_DSC07097.jpg"
    alt: "The Land Rovers of the desert tour at sunset"

overview:
  intro: "Today was desert day! And as befits a proper desert day, I first slept so deeply that even a camel"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240914-IMG_0237.jpg"
    alt: "Carpets with seat cushions in the desert sand of the United Arab Emirates"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} would have been jealous. Nevertheless, when I got up, I felt like after two nights of partying in a disco without music - somehow empty and without energy. Not even my otherwise reliable breakfast could help. But it wasn't so bad, because in the morning there was only one task: do nothing. And I did that really well. Mission relaxation: successful.
        </p>
        <p>
            At 15:45 - so right on time - I was picked up for my booked Desert Safari. The pickup that collected me was as high as my self-confidence after the third espresso - Steffi, you would have needed a ladder, honestly! On board with me: a newly married couple from London, on their honeymoon. Our driver? Charming, experienced, with a touch of "Fast & Furious", but always driving safely. After a little more than an hour (including a bit of Dubai-typical traffic jam), we reached the desert.
        </p>
        <p>
            There we got right down to business: Bedouin-style headscarves, a stylish thermal drinking bottle with ice-cold water, and then into the open Land Rover - a classic without a roof, but with charm and maximum photo potential. I had deliberately decided against the air-conditioned version and also against the camel ride - after all, I wanted to take pictures and not through a glass pane or from the rocking desert ship. Professional photographers and even a drone accompanied us - an all-round carefree package for photo fans.
        </p>
        <p>
            The drive through the desert lasted about an hour and was peppered with stops - both at viewpoints and quite spontaneously when something interesting appeared by the wayside. And there was a lot to see:
        </p>
        <ul>
            <li>
                Arabian Oryx
            </li>
            <li>
                Goitered Gazelles
            </li>
            <li>
                Arabian Gazelles
            </li>
            <li>
                Pharmacy Skinks
            </li>
        </ul>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240914-IMG_0212.jpg" alt="Me in front of one of the Land Rovers in the desert of Dubai" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Pharmacy skinks are fascinating little desert dwellers that look like a mixture of mini-dragons and slippery lizards. Colloquially, they are also called sandfish, because they move on and in the desert sand as if they were swimming in it - or rather: diving. Their flat, shiny bodies glide through the hot sand like through water, which somehow looks surreal and reminds me of special effects come to life. Really a crazy sight.
        </p>
        <p>
            At the end of the safari, a charming little oasis with a bar awaited us - made of palm leaves, of course. Among other things, an almost black fruit juice was served, which was very sweet and strongly reminiscent of blackberries in taste. Very delicious, the whole thing. Plus seat cushions on large Persian carpets in the sand, a golden sunset on the horizon - Arabian Nights in live version.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240914-DSC06961.jpg" alt="Arabian Oryx." />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Shortly afterwards, a young man with a falcon on his arm stepped in front of us and told us excitingly and thrillingly about the centuries-old tradition of falconry. Did you know that Bedouins only caught their falcons for a few months each year and then released them back into the wild? A beautiful connection between man and animal - characterized by respect, purpose, and temporary partnership.
        </p>
        <p>
            It was slowly getting dark, so we jumped back into the Land Rovers to get to a traditional Bedouin camp. There we were expected with rose water for washing hands, traditional coffee (I was surprised how good it tasted!) and juicy-sweet dates that really had nothing in common with our supermarket versions.
        </p>
        <p>
            During a small tour through the camp, we learned a lot about how Bedouins used to receive guests: Visitors typically stayed for three days, got good food, and time to relax. It was also exciting to learn how the menu varied depending on the importance of the guest - from simple lamb to... oysters! Yes, oysters in the desert. Back then, they had to be brought by express courier from the sea 70 kilometers away - desert catering deluxe.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Then I was even allowed to take a mini-ride on a camel (so short that you could actually call it a "camel greeting") before dinner was served. And what a dinner! A five-course menu with everything your heart desires: oysters, lentil soup, various appetizers, plenty of meat, rice, vegetables - and for the sweet finale: Luqaimat (small dough balls with date syrup) and camel milk ice cream. Yes, that really exists. And yes, it tastes surprisingly good!
        </p>
        <p>
            But before dessert, we were entertained by a small music and dance performance, followed by a lecture on Bedouin astronomy. Particularly fascinating: In summer, they usually traveled at night to escape the heat, and oriented themselves by the stars. Practical and exciting at the same time.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Before going back to civilization, there was just enough time for a small henna tattoo on my forearm and a look at the professional safari photos. Of course, I couldn't resist and bought a few nice souvenirs.
        </p>
        <p>
            On the way back, I chatted with the London couple for a long time about traveling. Their next idea: a spontaneous trip through Southeast Asia with only a round-trip flight to Singapore - everything else will work itself out along the way. Hmm... somehow that sounds familiar! That's exactly how Steffi and I spent last New Year's Eve. So we quickly exchanged a safari video for a few contacts from our rainforest tour in Indonesia back then. Bartering, Bedouin-style.
        </p>
        <p>
            And as if all that wasn't beautiful enough, there was a fireworks display to top it all off - visible directly from the balcony of my apartment, over the night-time beach of The Palm Jumeirah. It hardly gets more romantic. Only Steffi was missing.
        </p>
        <p>
            But now: Good night. Tomorrow the next adventure awaits - a day trip to Abu Dhabi with a grand mosque and royal palace. I'm looking forward to it.
        </p>
        <p>
            See you tomorrow.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2024-ist-dxb/small/20240914-DSC07116.jpg" alt="Astronomy in the Bedouin camp" />
        </div>
    </div>

</div>
<!--=== End Post ===-->
