---
layout: blog/en/travelblog
title: "09/07/24 Marina Mall"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - UAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_9715.jpg"
    alt: "The view towards Burj al Arab with Burj Khalifa in the background"

overview:
  intro: "Not much was on the agenda again today – which is completely fine. Continue relaxing, listen to an audiobook, drift a little. Exactly"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240907-IMG_9707.jpg"
    alt: "Dubai Marina with historic boat"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} how it should be.
        </p>
        <p>
            In the afternoon, hunger grew too strong – specifically for Asian food. Steffi had put that idea in my head. Thanks for that ;) So: into the car and over to Dubai Marina Mall. There should be several Asian restaurants in the area that aren't quite so astronomically expensive.
        </p>
        <p>
            The mall was quickly found – well, at least the building. Finding the right parking garage entrance took three attempts. But eventually the car was parked, and I strolled through the mall. The first thing that caught my eye: a kebab shop. Big sign: "Berlin Döner". I see. Nice. But no kebab today – today I want Asian.
        </p>
        <p>
            I finally found what I was looking for on the ground floor. A small Asian restaurant that not only looked good but also had good food. Mission accomplished.
        </p>
        <p>
            Afterwards, I walked a bit along the marina, enjoyed the atmosphere, looked at the boats, at the water. Meanwhile, I got myself a Nol Card – Dubai's prepaid ticket for public transport. It's valid not only for buses and the metro, but also for ferries and even water taxis. Very practical, and I'm sure I'll be able to make good use of it in the coming days.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            On the way back to the hotel, I made a small detour: On Palm Jumeirah, I spontaneously turned into the right side street that runs along the Atlantis Hotels. There I stopped briefly, took a few photos with my phone, and enjoyed the view of the island at sunset. Tomorrow I'll definitely bring the tripod – then I want to dive a bit deeper, explore the city more, and slowly switch to "explorer mode."
        </p>
        <p>
            A few sights are already on the list, and I also want to plan some tours in the coming days.
        </p>
        <p>
            But today was relaxed once more – and that was good.
        </p>
    </div>

</div>
<!--=== End Post ===-->