---
layout: blog/en/travelblog
title: "09/13/24 Lazing Around"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2024-ist-dxb

locations:
  - UAE
  - Dubai

headline:
  image:
    url: "/assets/img/blog/2024-ist-dxb/PAN_IMG_0364.jpg"
    alt: "The view towards Dubai Marina across the Palm Island"

overview:
  intro: "This morning I slept in extra long, as I had decided not to do too much today and to continue to"
  image:
    url: "/assets/img/blog/2024-ist-dxb/small/20240913-IMG_0188.jpg"
    alt: "Dubai Marina at night"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} relax.
        </p>
        <p>
            After breakfast, I first went comfortably to the terrace. Then off to the sea and into the pool. Even though it was supposed to be "only" 99°F (37°C) today – that's still pretty hot. Especially in the sun, it burns quite a bit. Even the sand is so hot, you could probably cook eggs in it. You can still enjoy it though – you just have to drink enough. I cooled off in the air-conditioned apartment from time to time.
        </p>
        <p>
            At sunset, I did go out again after all. I actually wanted to spontaneously do a dinner cruise. But then I had a small "everything-is-dumb-without-Steffi" moment and didn't feel like sitting alone among all the other tourists on board anymore.
        </p>
        <p>
            Instead, I strolled to the nearest water taxi stop and spontaneously took the next boat to the other end of Dubai Marina. There I disembarked and ended up in a Turkish-Asian restaurant. There was good food and an apple lemonade that was simply woodruff-green and tasted just as artificial. Somehow reminded me of my childhood days – pure sugar with a view of the high-rises of the Marina.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            After that, I took the water taxi back to the mall where my car was parked. I picked up a few sweet souvenirs for family, friends, and colleagues and then drove back to my accommodation on The Palm Jumeirah.
        </p>
        <p>
            Tomorrow afternoon I'm going on a desert safari. I'm curious to see what I'll see and experience.
        </p>
        <p>
            See you tomorrow!
        </p>
    </div>

</div>
<!--=== End Post ===-->