---
layout: blog/en/travelblog
title: "05/17/2025 Boat Rides"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_DSC08146.jpg"
    alt: "The view from the water towards Downtown Manhattan"

overview:
  intro: "Slept almost through the night – until seven o'clock, only woke up briefly once. It simply helps when my beautiful is with me again."
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2423.jpg"
    alt: "The Statue of Liberty from the water"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} And then there was this: With the first look out the window, the skyline of South Manhattan was clearly visible. We could even see the Statue of Liberty quite well. We made ourselves comfortable in bed once more and enjoyed the view before heading down for breakfast. Unfortunately, there were almost only pre-packaged products – a shame and unnecessary.
        </p>
        <p>
            We took the 1 train to the World Trade Center and walked further to the ferry dock in Battery Park. From there, we took the SG ferry to Staten Island. It costs $4.50, but passes much closer to the Statue of Liberty than the free Staten Island Ferry – it was worth it to us.
        </p>
        <p>
            A real highlight was the guy in the yellow shark costume on board. Accompanied by a camera and social media team, the shark was staged, posed on deck, and grinned for countless shots – a weird promotion, but somehow very NYC.
        </p>
        <p>
            In Staten Island, we strolled through the Empire Outlet Mall and immediately found two pairs of pants for Steffi. For lunch, we had chicken, fries, and corn dogs – along with a coconut-mango slush with a view of the Manhattan skyline.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2415.jpg" alt="The guy in the shark costume" />

        </div>
    </div>
    <div class="col-md-12">
        <p>
            Afterward, we decided to take the same ferry back, but this time to continue to Pier 73 at 39th Street. And what a panorama of Manhattan and New Jersey!
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2457.jpg" alt="The food market on 8th Avenue in NYC" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            When disembarking, we noticed that a pretty long line had formed at the neighboring dock. Where could they all be going? A sign explained: to IKEA in Brooklyn. Free! Every Saturday and Sunday.
        </p>
        <p>
            For those who aren't geographically following: We had just been traveling around the left side of Manhattan. However, Brooklyn is on the right. To get there, you have to go completely around the bottom of Manhattan. Almost 40 minutes.
        </p>
        <p>
            But: The boat was leaving in five minutes, we didn't think long and simply got in line. And yes – IKEA Brooklyn actually has its own ferry dock. What a business idea!
        </p>
        <p>
            We went there, got off briefly – and immediately got back on for the return trip.
        </p>
        <p>
            Thanks to the wind, I had no chance of wearing a baseball cap. Result: sunburned scalp. Ouch.
        </p>
        <p>
            Back at Pier 73, we sought the shade between the skyscrapers. On the way, we passed by the Intrepid – an aircraft carrier that is now a museum. Then we randomly ended up at the "8th Avenue International Food Festival," even bigger than the one on 6th Avenue last week. Afterward, we slowly strolled toward Central Park.
        </p>
        <p>
            Along the way, we picked up a pack of cold medicine at CVS – just as a precaution, because they had worked so well in 2022. Briefly looked into TJ Maxx, but didn't find anything. After that, a short walk through Central Park and then to Target to get dinner for the microwave.
        </p>
        <p>
            Back at the hotel, we first had dinner, then delicious strawberries for dessert – and to end the day, "The Incredibles 2" in English on the Disney Channel.
        </p>
        <p>
            Then just: Lights out.
            <br />
            Good night – until tomorrow!
        </p>
    </div>

</div>
<!--=== End Post ===-->