---
layout: blog/en/travelblog
title: "05/22/2025 Hollywood Up Close"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "The view from the Hudson River towards Manhattan"

overview:
  intro: "Today Basti wasn't feeling well at all, he had apparently caught a nasty cold. Accordingly, he skipped breakfast for now"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_8511.jpg"
    alt: "Two small copper figures in the metro station on 14th Street in Manhattan"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }}, turned over, and went back to sleep. So I set out alone through Manhattan early in the morning. The day before, I had seen on social media that Hugh Jackman was a guest on "The View." Since you can watch various TV shows from the outside in the city, I went directly to the studio. Unfortunately, this wasn't one of the "good viewing" options, as it was a large new block where you couldn't see anything at all, let alone possibly catch the guest. There are far too many entrances for that.
        </p>
        <p>
            So I wandered around the area and eventually ended up back at the Hudson River.
            It was boring alone, so I looked at the German time and thought about who I could bother for a while. Sonja!
        </p>
        <p>
            I called her via WhatsApp, but no one answered. She did write though... hmm, why isn't she taking the call then?! It was due to the settings. After clarifying this briefly in writing, we switched to an audio WhatsApp call and shortly after even to a video call, so she could see a bit of the city too. Above all, she then knew what I was talking about at that moment. From Battery Park onwards, she accompanied me all the way to "Little Island." We "walked together" across the park created in 2021 and chatted about all sorts of things.
        </p>
        <p>
            After we hung up, I considered whether to save my battery or call the next person. The latter! My mother was the chosen one, and she also accompanied me through the area via video call. When that call ended too, I decided it was time to walk to the Minetta Lane Theater. Hugh Jackman is currently performing the play "Sexual Misconduct of the Middle Class" here, and if you can believe social media, you can meet him there very easily. On the way there, I finally got breakfast, it was already 11:30, consisting of a bagel with avocado and tomato. The maker looked at me strangely and asked 3 times if I really didn't want anything else on it, but I didn't care.
        </p>
        <p>
            The theater was right around the corner from the shop, so I was at the theater right after. About 10 people had already gathered here. I stood aside and yeah... waited and waited. Across the street, I heard various conversations and realized that these were probably big Hugh Jackman fans. Some had been there several times before and came from Denmark, Germany, etc.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8483.jpg" alt="Hugh Jackman in front of my lens" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            The matinee performance was supposed to start at 3 PM, so it shouldn't take too long for Hugh Jackman to show up. Well, think again. Total pro, he doesn't need to rehearse or warm up. I "had to" wait almost 2.5 hours.
        </p>
        <p>
            At 2:03 PM, I looked ahead to the street, and out of nowhere, a paparazzo was standing there taking pictures. That could only mean one thing, so I quickly crossed the small street to the theater, and there he was. Hugh Jackman - "The Greatest Showman himself" - came towards me with a bicycle helmet under his arm, beaming at people and greeting everyone. Heavens, he really came on foot or by bike. And OMG he's standing right in front of me!
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8504.jpg" alt="A tree in the exhibition The Forest Within" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Unfortunately, it got a bit chaotic there, so proper pictures with him weren't possible, but I still managed to get a snapshot with him in it. He chatted a bit with us, and he's really wonderfully normal and very likable. But since he was running quite late, he went inside rather quickly. Doesn't matter... I met him and I'm super happy. New York is really different when it comes to meeting celebrities here.
        </p>
        <p>
            "Weightless," I wondered what else I should do. Hmm, first annoy various people with what just happened. I have to share this with them 😁
        </p>
        <p>
            I also called Basti, but he was completely out of order. So I made my way back to the hotel to see how he was really doing.
        </p>
        <p>
            I stopped at the supermarket first, got some freshly cooked Asian food, which I actually wanted to eat outside, but the weather ruined my plans, so I made myself comfortable in the Chelsea Market. Even after eating, it was still wet, so I got on the subway.
        </p>
        <p>
            Arriving at the room, Basti was sleeping or lying comatose in bed.
            Good thing we had already bought cold medicine a few days ago as a precaution. Normally, he despises medication. This time, however, he took them voluntarily to get back on his feet quickly. Today, though, it was just about sleeping off the cold.
        </p>
        <p>
            He didn't really process me when I arrived. So I tried to curb my excitement about Hugh Jackman, first took a hot shower, and then played around on my phone. Apparently, I was tired, because I was knocked out a short time later.
        </p>
        <p>
            After I woke up, Basti was still sleeping, and I set out again. Destination this time: Genesis House. Currently, the exhibition "The Forest Within" is there, in collaboration with Gwyneth Paltrow.
        </p>
        <p>
            Here you walk through a kind of forest. All plants are real, and relaxing music is playing. Unfortunately, you can't fully enjoy this because there are no places to sit. Nevertheless, it's very nicely done, also free of charge, and with the downpour outside, a welcome and, above all, dry change of pace.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            Unfortunately, it was pouring even more when I came out, so I trudged to the subway and ended up on 14th Street. Hmm, there was something here. Oh yes, the small, partly hidden figures. I found a few, but I was so wet that I really had to go back to the hotel. The hot shower called again. Who would have thought that NY would experience another temperature drop to 8 degrees. We weren't prepared for that clothing-wise. At least I had swiped Basti's rain jacket for the second tour.
        </p>
        <p>
            At the corner of the hotel, I quickly picked up bread and drinks and shortly after landed in the room. The evening was quiet with watching series on the laptop and snuggling into the warm and cozy bed.
            Hopefully, Basti will feel better tomorrow.
        </p>
        <p>
            But now, good night!
            <br />
            Until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->