---
layout: blog/en/travelblog
title: "05/29/25 Beach, Tampa & Orlando"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - Cape Coral
  - Tampa
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_8885.jpg"
    alt: "The view from Fort De Soto Park towards the Sunshine Skyway Bridge"

overview:
  intro: "The day began one last time with my special breakfast: pancakes – this time to go. Along with that, we had a small leftover breakfast, then"
  image:
    url: "/assets/img/blog/2025-usa/small/DSC09320.jpg"
    alt: "The words Florida 2025 written with shells in the sand"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} it was already time to: pack suitcases, stow everything away, lock up the house – and go.
        </p>
        <p>
            Our first stop was Manatee Park, hoping to maybe see a few manatees again. I actually spotted two manatees very briefly, but as soon as I pointed them out to Steffi, they dove back down – and were no longer visible. Steffi just caught the last flap of a fin as they submerged. At least the park was nice for a short walk, but the humidity was enormous – after yesterday's rainy weather, we were practically dripping.
        </p>
        <p>
            After that, we headed onto the highway towards Tampa, more specifically to Fort De Soto Park. Our destination there: North Beach. Right at the parking lot, we noticed a cordoned-off sea turtle nest, properly marked with a warning sign – impressive how strongly the protection of animals is regulated here.
        </p>
        <p>
            At the beach, Steffi collected shells to create the words "Florida 2025" – a great photo motif and a nice memory of our stay in the Sunshine State.
        </p>
        <p>
            We continued to Tampa, where we had actually wanted to stop at the Tampa Bay Buccaneers stadium – but unfortunately, everything was already closed. So instead, we stopped at Publix, Walmart, and Dick's, looking for shorts and socks for friends. Unfortunately without success: the shorts were only available in ultra-short for women, and the socks were somehow all too big.
        </p>
        <p>
            On the way for the rest of the journey, we were accompanied by a thunderstorm that was always just ahead of us. Finally, about 30 minutes before our destination, we decided to make one last stop at Ross and Co., simply to avoid driving right into the bad weather.
        </p>
        <p>
            Well after 8 PM, we finally arrived at the hotel "Tryp by Wyndham Orlando." Our room: 208 – but with a temperature of only 60°F (about 15°C). Much too cold after this hot day!
        </p>
        <p>
            For a late dinner, we had Asian food delivered, which didn't arrive until around 9:45 PM. We made ourselves comfortable anyway, continued watching our series, and were already looking forward to tomorrow – because then we'll be going to two theme parks in one day: Universal Studios and Islands of Adventure!
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8923.jpg" alt="The Tampa Bay Buccaneers sign in front of the training facility" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            What a contrast program – we're excited.
        </p>
        <p>
            Good night and until tomorrow!
        </p>
    </div>

</div>
<!--=== End Post ===-->