---
layout: blog/en/travelblog
title: "05/27/25 Birthday, Pool & Shark"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - Cape Coral

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "The view from the Hudson River towards Manhattan"

overview:
  intro: "The day began quietly – and with a small surprise. It was Steffi's birthday today! Unfortunately, she woke up with a sore throat and stayed"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_8828.jpg"
    alt: "The sign for the Yucatan Waterfront Bar on the way to Pine Island"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} in bed a little longer at first. While she rested, I was in the kitchen making birthday pancakes, as promised. We enjoyed them with fresh air on the terrace and a view of the canal – a relaxed start to the day.
        </p>
        <p>
            We deliberately spent the morning quietly: pool time and plenty of sunshine, a bit of laundry on the side, and simply enjoying the moment. The house was perfect for this – located right on the canal, with a large terrace, a wonderfully refreshing pool, and well protected by a "pool cage."
        </p>
        <p>
            Just the night before, we had experienced a rather uninvited animal surprise: Steffi wanted to get some water in the kitchen – and came across a roughly 1.5-inch cockroach that was sprawled out in the middle of the tiles. Some small fellow species were also scurrying around. I was able to take the big one outside using a glass and cardboard, while the small ones were squashed right away. During two more checks later, I found a few mini-specimens. Not exactly the most romantic start to a birthday, but at least it remained quiet during the day.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8778.jpg" alt="Steffi's birthday breakfast" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Funny coincidence: Just as we were about to report this to the landlord, he contacted us on his own and announced that an exterminator would be coming tomorrow to eliminate the problem. Since we would be out anyway, it was perfect timing.
        </p>
        <p>
            In the early afternoon, we set off – a small birthday excursion. Our first destination was the neighborhood where we had occupied an entire villa with friends 13 years ago. It was exciting to see how familiar much of it still felt – and at the same time, what had changed.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8826.jpg" alt="The mangroves in front of the Yucatan Waterfront Bar" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            The next stop was a drugstore, first to get stronger throat lozenges. The ones we had brought weren't strong enough for Steffi's sore throat. They helped almost immediately. Fortunately.
        </p>
        <p>
            After that, we headed towards Pine Island, to the Yucatan Waterfront Bar. Right by the water, with a view of the mangroves, we sat in the shade and ordered drinks and nachos. Every few seconds, small fish jumped over the water surface – as lively and tropical as in a picture book. And then the highlight: Just as we were about to leave, a blacktip reef shark about 2 feet long appeared right at the edge of the shore! He swam leisurely along the quay wall, almost as if he wanted to personally congratulate the birthday girl. We walked alongside him for a bit – a magical moment.
        </p>
        <p>
            On the way back, we saw some houses that were marked by the last storm – collapsed, sagged, abandoned. A quiet contrast to our own cozy temporary home.
        </p>
        <p>
            This was followed by a quick stop at Ross Dress for Less, where I discovered another perfume that Steffi likes – so it went straight into the basket as an additional birthday present. After that, a quick trip to Publix for some fresh groceries before heading back to the house.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            We spent the evening relaxing by the pool, dangling our legs in the water, chatting, and simply enjoying being together. No big program, no hustle and bustle – but that's exactly what made the day special. A birthday just as Steffi had wished for.
        </p>
        <p>
            Good night – until tomorrow!
        </p>
    </div>

</div>
<!--=== End Post ===-->