---
layout: blog/en/travelblog
title: "05/20/25 Downtown & Long March"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_8404.jpg"
    alt: "The view from Pier 97 towards Manhattan"

overview:
  intro: "Since we were out quite late yesterday and didn't get to bed until after 11 PM, we treated ourselves to a more relaxed"
  image:
    url: "/assets/img/blog/2025-usa/small/DSC08699.jpg"
    alt: "The view from the roof of Pier 57 towards Downtown across the gardens completed in 2021"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} morning routine. We slept in, which was really necessary after the last few days, and didn't head out for breakfast until around 9 AM. We started the day at a leisurely pace – without time pressure, but with anticipation for new experiences.
        </p>
        <p>
            After breakfast, we took the subway directly to Chinatown. There we let ourselves drift through the streets, without a fixed destination – just strolling, looking, smelling, listening. The soundscape was lively, the characters on the colorful signs seemed like from another world, and it smelled temptingly of fresh pastries, fried meat, and sweet dough. We stocked up on Chinese buns for later at a small shop – steamed, filled rolls in all possible varieties.
        </p>
        <p>
            Besides the culinary part, there was also a spiritual one today. We visited both a Christian church in the middle of Chinatown and a Buddhist temple. Two worlds that peacefully coexist here. The contrast was fascinating: The cool silence and the colorful stained glass windows in the church, then the warm light, the incense sticks, and golden statues in the temple. Both places radiated tranquility in their own way.
        </p>
        <p>
            From there, our walk took us further towards Little Italy. We landed at a nice restaurant with outdoor tables for a short break – perfect opportunity for drinks, a bit of relaxation, and a creative pause. Steffi read her book relaxedly, while I continued working on the blog. These moments are almost as important to us as the sights themselves: sitting together, taking a breath, processing impressions.
        </p>
        <p>
            Next on the program was a place that has cult status especially for movie fans: the Ghostbusters Headquarters. It's an actually still active fire station that has been immortalized since the 80s through the film. A quick photo, a broad grin – that's all you need there.
        </p>
        <p>
            We continued strolling towards the West Village. On the way there, we took a break in the small green oasis "Freeman Plaza East" – and finally it was time to try the Chinese buns we had bought in the morning.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2619.jpg" alt="Ghostbusters or also Fire Station Ladder 8" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Steffi had a bun with hot dog filling, and for dessert one without filling, but baked with sweet condensed milk. I had a curry bun and a sesame ball filled with sweet red bean paste. Everything was surprisingly delicious – especially the mix of savory and sweet impressed us.
        </p>
        <p>
            From there, Steffi led us to a house that became famous through the series Sex and the City. I must confess, I have a small cultural gap there – but Steffi was thrilled, so it was worth the detour.
        </p>
        <p>
            Afterward, we walked further to Pier 57 – there's a small park area on the roof that's perfect for chilling. Although it was a bit loud due to the regular helicopter traffic, the view was magnificent. You can see Downtown Manhattan, the Hudson River, and the community gardens laid out directly over the water – a little paradise in the middle of the city.
        </p>
        <p>
            We made ourselves comfortable on a lawn: Steffi read a few more pages, while I continued working on our blog posts. In between, a family of geese came by. Steffi grabbed the good camera and played paparazzi, repeatedly photographing the many cute little animals.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8422.jpg" alt="The Louis Vuitton construction site" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Eventually hunger set in, but the way back to the hotel was still too far for us. So first a portion of fries to share and two Colas against the jet lag. With renewed energy, we then set out on a real power march: from Pier 57 all the way up to Pier 97 – that's a full 40 piers and easily as many blocks. Always right along the water, past impressive residential buildings, including Hugh Jackman's apartment, and Pier 73, where we had already stopped on Saturday. We also passed the aircraft carrier Intrepid again – it's always fascinating to see this huge ship in the middle of the city.
        </p>
        <p>
            At Pier 97, we settled down once more to enjoy the last rays of sunshine. The atmosphere was peaceful, almost golden – a nice contrast to the hustle and bustle of the city. Unfortunately, it was a bit cold and windy. I was wearing both jackets and was still chilly.
        </p>
        <p>
            But our day wasn't over yet. We walked further to the famous Plaza Hotel, took a look at the spectacular Louis Vuitton construction site – the building is currently dressed up like several huge travel suitcases – and continued on to Radio City Music Hall. By now we were hungry again, so we had a portion of rice with chicken and salad. Very tasty, but also quite spicy – we were briefly surprised by that.
        </p>
        <p>
            The last item on the day's program was a visit to Bryant Park, one of our favorite places in Manhattan. We didn't stay too long – our legs were pretty tired by then – but the short stop was nice once again.
        </p>
        <p>
            The way back to the hotel dragged on. Our feet hurt, and we had to motivate each other to keep walking at all. "It's not much further...", "Almost there..." – we sounded like two marathon runners just before the finish line.
        </p>
        <p>
            At the end of the day, we had almost 31,000 steps on the counter – over 21 kilometers on foot through New York City. Tired, but happy. Now it's time to put our feet up and recover. Tomorrow, the next adventure awaits.
        </p>
        <p>
            Good night!
            <br />
            Until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->