---
layout: blog/en/travelblog
title: "05/28/2025 Lightning, Outlets & Pool"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - Cape Coral

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_8842.jpg"
    alt: "The view from the property of our vacation home in Cape Coral"

overview:
  intro: "This morning Steffi greeted us with a new voice – or rather: with no voice at all. A bit like Ariel, the mermaid, just"
  image:
    url: "/assets/img/blog/2025-usa/small/DSC09265.jpg"
    alt: "One of the two herons that landed on the lawn in front of the pool"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} without the singing performance. Fortunately, she felt okay otherwise, so we started the day with a quick breakfast. We quickly took a few photos of the house, the car, and the area, and then we were off to the Miromar Outlet Mall.
        </p>
        <p>
            Unfortunately, there wasn't much to get there: Just a pair of Calvin Klein pants for me – Steffi, on the other hand, found nothing at all. After that, we continued to Ross and TJ Maxx in Estero, near US-41, and from there roughly back towards the house. We seemed to stop at every Ross, Marshall's, and TJ Maxx we encountered along the way – on the hunt for affordable, good clothing. In the end, we were successful: Steffi found several pairs of pants that not only fit but also appealed to her.
        </p>
        <p>
            While we were browsing through the stores, a thunderstorm was passing parallel to our route, heading north. It kept sending smaller and sometimes heavy rain showers our way. Between shelves and fitting rooms, we could even hear the thunder rumbling despite the music and voices – and outside, lightning occasionally flashed across the sky. Fortunately, the storm kept its distance.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Back at the house, the thunderstorm had already moved on – so we jumped into the pool one more time, as a farewell to the little paradise on the canal. Afterward, we had leftovers: fried rice with chicken, and meanwhile, the washing machine was already running with our new acquisitions.
        </p>
        <p>
            As we made ourselves comfortable on the terrace afterward, it became really lively around us. Two herons landed directly on the property, apparently not afraid of humans. As I reached for the camera, a muscovy duck also waddled into the frame. And further back in the canal, a turtle was drifting, slowly passing by us – as if it too had called it a day.
        </p>
        <p>
            We spent the evening first outside on the terrace with our current series – NCIS: L.A. – but in the distance, the next thunderstorm was already announcing itself. So at some point, we moved the series time inside to the sofa, where we continued watching until it was time for bed.
        </p>
        <p>
            Tomorrow it's time to say goodbye to this beautiful house. After the big city and the pool relaxation, we're starting the third part of our journey: Welcome to the world of theme parks and tourist attractions around Orlando! It will surely be quite different – and definitely quite exciting.
        </p>
        <p>
            Stay tuned – until tomorrow!
        </p>
    </div>

</div>
<!--=== End Post ===-->