---
layout: blog/en/travelblog
title: "05/09/25 USA Prologue"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York
  - Washington D.C.
  - Miami
  - Cape Coral
  - Tampa
  - Cape Canaveral
  - Orlando

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_2440.jpeg"
    alt: "The view from the Hudson River towards Manhattan"

overview:
  intro: "Here we go again! Our trip this year starts on May 10th from Hamburg. This time we're flying via Munich on the A380 to New York – a"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2226.jpg"
    alt: "The White House"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} proper start for a pretty packed route through the East and South of the USA. Unfortunately, I'll be traveling alone at first, at least until next week, and this time I'm traveling with heavy luggage: My large suitcase is only half full, the hiking backpack inside almost empty, but the camera backpack well stocked. After all, there will be plenty to photograph along the way. All in all, still over 30 kg.
        </p>
        <p>
            After a first night in New York, I'll continue directly by train to Washington D.C., where I'll stay until May 16th.
            Now some of you might wonder why Washington again? The last time I was there, I had an annoying cold and all the museums were closed because a certain President didn't get his way.
            So I want to enjoy the city again at a more relaxed pace, and also in warmer temperatures and hopefully without a cold.
            Then it's back to NYC, where I'll pick up Steffi from the airport. From then on we'll travel together – and the full program begins.
        </p>
        <p>
            Our joint NYC stay lasts until May 25th. Besides extended walks through the city, there's also a real highlight on the agenda: On May 24th, we'll attend Hugh Jackman's show "From New York with Love." The next morning we'll be up early – our flight to Miami takes off at 7 AM.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            In Miami, we're treating ourselves to a night right in Miami Beach. Last time, we had to turn around just before the bridge – the weather completely stopped us. This time we finally want to properly experience the district. The next day we'll pick up our rental car from SIXT – hopefully a convertible again – and head towards Cape Coral, including an Everglades passage, of course.
        </p>
        <p>
            A vacation home awaits us there, where we'll stay until May 29th. After that, we'll continue to Orlando. Our hotel there is the home base for a series of bucket list items: A day at Disney Magic Kingdom, another at Universal (including the Hogwarts Express!), and of course a visit to the Kennedy Space Center. If we're lucky, maybe even with a rocket launch! We also want to make a detour to Tampa to see the Buccaneers – just to annoy a few friends. ;)
        </p>
        <p>
            On June 3rd, we'll fly from Orlando back to New York. One last night in Brooklyn, then the night flight on June 4th will take us back to Germany – with a stopover in Munich and landing in Hamburg. June 6th is already a workday for Steffi, but fortunately only a half day. And with the Pentecost weekend directly following, we'll have enough time to get over the jet lag.
        </p>
        <p>
            We've planned this trip piece by piece over months. Originally, we wanted to stay only in the Northeast, but the hotel prices quickly taught us better. Our hotel from winter 2018 now costs four times as much – suddenly it makes sense to move on to Florida and check off several points from the wish list at once. And yes: Even with flights, car, and vacation home, the whole thing is cheaper overall than two weeks in a Manhattan hotel. Now it's: Route ready, camera ready – we're on our way!
        </p>
    </div>

</div>
<!--=== End Post ===-->