---
layout: blog/en/travelblog
title: "05/19/2025 Noise & Favorite Motifs"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-usa

locations:
  - USA
  - New York

headline:
  image:
    url: "/assets/img/blog/2025-usa/PAN_IMG_8206.jpg"
    alt: "The view from Brooklyn towards Manhattan and the Brooklyn Bridge"

overview:
  intro: "Today started early again – we were awake by 7 AM, and shortly after we were sitting at breakfast. This time we decided"
  image:
    url: "/assets/img/blog/2025-usa/small/IMG_2567.jpg"
    alt: "The view from Time Out Market towards the Manhattan Bridge"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} to take it easy in our room. Meanwhile, we backed up photos from the camera and Basti's phone to the laptop – quite a collection has accumulated by now.
        </p>
        <p>
            After our little tech session, we set off: Taking the F-Line subway to York Street in Brooklyn. Destination: the DUMBO neighborhood, known for one of New York's most iconic photo spots. We wanted to capture the famous image where the Empire State Building is perfectly framed between the pillars of the Manhattan Bridge – all amid the old brick buildings of former production facilities and warehouses.
        </p>
        <p>
            What you don't hear in the picture, though: the noise level. Trains rattle across the bridge every minute – a penetrating, almost permanent noise level of 90 decibels or more. You almost have to shout to understand each other. Nevertheless, the motif remains beautiful, a true classic.
        </p>
        <p>
            Just around the corner awaits the next postcard motif: the Brooklyn Bridge. Here too, we took out the camera again before we started feeling thirsty. So we headed to the TimeOut Market – a modern food court with a view of the East River. Actually, we just wanted a quick drink, but as so often happens, it didn't stop there: we had tacos and a waffle – both very delicious.
            The downside here, however, is that there's only one bathroom facility for the many restaurants. About 35 ladies were waiting in line for the women's room. That could take a while.
        </p>
        <p>
            After that, we walked to the Brooklyn Bridge. Two days earlier, a Mexican naval ship had crashed into the bridge – with tragic consequences: two people lost their lives. At the bridge entrance, a small memorial with flowers and handwritten messages in Spanish had been set up. A quiet, thoughtful moment.
        </p>
        <p>
            The damaged ship was still docked at a pier on the other side of the river, its masts broken – a strange sight in the midst of the otherwise busy city. We didn't linger too long and began our walk across the Brooklyn Bridge – for real this time. Back in 2012, we had planned to do this, but we didn't walk all the way across. Today, 13 years later, we finally made it. And it was worth it – the view of Manhattan is simply unique.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_2537.jpg" alt="The Empire State Building in the arch between the supports of the Manhattan Bridge, framed by the old buildings of DUMBO" />
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Once in Manhattan, we took the 6 subway line to 68th Street and headed straight for Central Park. Just getting off the subway, everything somehow felt lighter and quieter. Our goal was clear: spend a relaxing afternoon in the park – something we had been dreaming of for many years. And today was finally the right moment.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-5">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-usa/small/IMG_8279.jpg" alt="Relaxing in Central Park on a sunny afternoon" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            We first walked a bit through the park, stopped to listen to an Asian street musician playing a traditional erhu (Chinese violin) – a beautiful, almost meditative atmosphere. Finally, we found a meadow by a small pond and made ourselves comfortable there. I saw our blanket, rested my head on Steffi's thigh – and fell asleep within seconds. Not a long, deep nap, but just right to recharge. Meanwhile, Steffi read her book in peace.
        </p>
        <p>
            When the sun eventually disappeared behind the trees, we moved to another spot. We sat there for quite a while: Steffi immersed in her reading, me working on the blog. A really nice, relaxed moment in the middle of the big city.
        </p>
        <p>
            As the day drew to a close, we headed toward the Upper West Side. We ended up in a small restaurant, the Harvest Kitchen, with surprisingly affordable – and really good – burgers. A pleasant surprise in an otherwise rather expensive area.
        </p>
        <p>
            To end the day, we took the subway to Times Square again, strolled past Rockefeller Center, and walked to Grand Central Station. A worthy conclusion to a well-rounded day. From there, we finally took the bus back to the hotel.
        </p>
        <p>
            Until tomorrow – with new experiences.
        </p>
    </div>
    <div class="col-md-12">
    </div>

</div>
<!--=== End Post ===-->