---
layout: blog/en/travelblog
title: "12/25/25 Tradition Meets Modernity"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Singapore

author: Steffi & Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/singapur-park.jpg"
    alt: "Distant view from Telok Blangah Hill Park in Singapore"

overview:
  intro: "Merry Christmas! We slept deeply and soundly – until the alarm clock saved us at 9 AM so that we wouldn't miss breakfast as well."
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_1310.jpg"
    alt: "Tradition meets modernity. The view from the Buddha Tooth Relic Temple"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} So the day began quite classically in the hotel restaurant. Crowded, loud, a bit chaotic, but overall quite tasty.
        </p>
        <p>
            Our first destination was the Buddha Tooth Relic Temple. We took the metro there – and wow, the temple was really impressive. We spent a lot of time there and let ourselves drift floor by floor. In the large hall there are over a hundred Buddhas, and it felt like every figure looked a little bit different. A place where you automatically slow down.
        </p>
        <p>
            Directly behind the temple is a market building. We tried to buy something to eat there – unfortunately almost impossible for Western visitors. Payment everywhere is only by barcode. Even our Grab app, which normally offers this service, doesn't support Western Visa cards. So fine: eat somewhere else then.
        </p>
        <p>
            In front of the market hall, we at least discovered a stand with fresh juices and card payment. Each of us treated ourselves to one, and then we strolled through the beautiful small alleys with many shops further to the Sri Mariamman Temple. I visited this one alone – Steffi didn't feel like it and waited outside. The temple was nice enough, especially because of the colorful decorations, but overall not quite as exciting as the first one.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Afterwards, we took the bus to Telok Blangah Hill Park. Unfortunately, it had apparently rained very hard here at the beginning of the year, because many paths were closed due to landslides. Nevertheless, it was a nice walk away from the metropolis – at least until the mosquitoes descended on Steffi.
        </p>
        <p>
            On the way back, we ended up in the Tiong Bahru Plaza Mall and had lunch there. There were handmade dumplings and a piece of cake for each of us for dessert. Just right.
        </p>
        <p>
            Around 4 PM, we were back at the hotel and made ourselves comfortable by and in the pool. Shortly after 6 PM, however, we retreated inside again because a strong wind picked up. As it turned out later, it brought plenty of rain with it. When we wanted to head out again in the evening, we therefore decided on a Grab again instead of public transport.
        </p>
        <p>
            The taxi took us to the Marina Bay Sands Mall and the Christmas market there. In the mall, because of the rain and probably also because of Christmas, it was impossible to get a free seat in any restaurant or food court. At the Christmas market, we each got a "corndog" – more like a kind of fried pastry with sausage filling. It had little to do with a real corndog, though.
        </p>
        <p>
            Back at the hotel, we packed up our things because tomorrow we continue – to Vietnam.
        </p>
        <p>
            More about that tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->
