---
layout: blog/en/travelblog
title: "05/01/26 Arriving in Catania"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2026-sicily

locations:
  - Italy
  - Sicily

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/mount-etna.jpg"
    alt: "Mount Etna volcano near Catania in Sicily, Italy"

overview:
  intro: "We spent the last two days in Catania. I realized pretty quickly that Sicilian cuisine would be a bit of a challenge for me."
  image:
    url: "/assets/img/blog/2026-sicily/small/IMG_3304.jpg"
    alt: "The amphitheatre hidden in the city center of Catania"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} It felt like 99 percent of all menus consisted of either dishes with plenty of cheese or everything that could be fished directly from the sea – neither exactly my favorite categories. Still, we didn't let that spoil our mood, strolled through the alleys of the city, enjoyed the Italian way of life and explored the beach the next day too. There however the atmosphere was almost deserted, and we could barely find one open beach restaurant where we could take a break.
        </p>
        <p>
            In the evening it was finally time: we picked up KaDa from the airport and our group of four was complete. However it had already gotten quite late by then. Before we could think about food, there was still a small stop at Davide's uncle's place on the agenda to pick up the apartment key for their accommodation.
        </p>
        <p>
            Afterwards we didn't feel like going to a big restaurant anymore. Instead we got some small bites at a little café and made ourselves comfortable in our accommodation. After the long travel day that was exactly the right decision and we let the evening wind down peacefully.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            The next morning we met up with Davide's cousin for breakfast at a café. The weather unfortunately didn't show its best side. It kept drizzling and the sky remained grey all morning. But that didn't dampen our good spirits. Together we explored the city center of Catania, treated ourselves to some delicious ice cream in between and had a look at an ancient amphitheatre among other things.
        </p>
        <p>
            In the evening we headed to a Japanese restaurant where we let the day wind down over good food and at the same time planned the next stages of our trip. It quickly became clear that Taormina should be our next destination – but only for a day trip. As beautiful as the place may be, the overnight prices were well above our budget. So we decided to explore Taormina during the day and then find a cheaper accommodation for the night afterwards.
        </p>
        <p>
            More on that, but not until tomorrow.
        </p>
    </div>

</div>
<!--=== End Post ===-->
