---
layout: blog/en/travelblog
title: "05/10/26 The Early Bird ..."
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2026-sicily

locations:
  - Italy
  - Sicily

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/mount-etna.jpg"
    alt: "Mount Etna volcano near Catania in Sicily, Italy"

overview:
  intro: "... can kiss my ass. The alarm rings anyway at an unchristian time just after 3 in the morning. At 4:00 AM we drive to the"
  image:
    url: "/assets/img/blog/2026-sicily/small/IMG_4115.jpg"
    alt: "The 4 of us in the lounge in Sicily"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} airport. Fortunately we can sit down in the lounge and relax (where I first secure a cheese-free bread roll). Then it's off to the plane for Seb and me – this time hopefully with better-smelling neighbors!
        </p>
        <p>
            Of course we took KaDa along to the lounge. The two of them came along to the airport too, even though their flight leaves three hours after ours. This way they don't have to take public transport through the area first and are also sitting comfortably in the lounge with a nice view of the tarmac.
        </p>
        <p>
            We make one more transfer stop in Milan before we finally and full of beautiful memories land back home.
        </p>
        <p>
            I've surely forgotten something really important in this blog, but one thing is certain: it was truly beautiful, even though we drove more than 1,200 km in the few days. Sicily is worth a trip. We certainly weren't there for the last time!
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>

</div>
<!--=== End Post ===-->
