---
layout: blog/en/travelblog
title: "01/16/26 Bye Bali"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Singapore
  - Indonesia
  - Bali
  - Kuta

author: Steffi & Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/kuta-beach.jpg"
    alt: "The view over Kuta Beach"

overview:
  intro: "Today it was time to say goodbye to Bali. Our time on the island was thus officially over. In the afternoon our AirAsia flight"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_2265.jpg"
    alt: "The unfortunately no longer beautiful Kuta Beach"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} was supposed to go back to Singapore around 3 PM.
            The vacation was not quite over yet, though.
            Tomorrow a last day in Singapore is on the agenda before heading finally back home during the night.
        </p>
        <p>
            Breakfast was again at the hotel for us, after all it was included in the price. The concept was a bit special: one could select one thing from each category on the menu. Was completely okay – the stomach was definitely supplied afterwards – but honestly also nothing that we would have necessarily needed a second time.
            It was edible. Delicious? Well, rather a bit bland.
        </p>
        <p>
            Afterwards we packed the last things in the room and went to check out. We could still store the suitcases there. For farewell there was even a small gift: a Balinese Tridatu bracelet with the three colors red, white, and black. This is supposed to bring protection to the wearer and lend positive energy. Let's see if it helps – it can't hurt, anyway.
        </p>
        <p>
            Subsequently we ordered a Grab taxi and let ourselves be driven to the center of Kuta Beach. First thing – almost traditionally – back to the Hard Rock Shop. There was nothing really beautiful this time, though, so on towards the beach.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-15">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_6068.jpg" alt="The erosion edge of Kuta Beach">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            There it showed quite clearly, though, what nature can do. Hardly anything was left of the beach. Only a narrow strip was still there for walking, on which the vendors set up closely packed. One reached the water via provisional stairs that led directly into the waves. Honestly that was no longer beautiful, so we turned around relatively quickly.
        </p>
        <p>
            Instead we headed for a mall once more. That was still closed, however.
            Seb used the time and first got an ice drink for the waiting time. Shortly after the mall then also opened and we strolled a little through the shops. I treated myself to a perfume for under 3 euros – I couldn't resist there.
        </p>
        <p>
            Afterwards we walked back towards the hotel again. Here and there we still made a few photos, but we didn't really get warm with the area. It is simply very touristy, much party, much alcohol and somehow not quite our thing.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-15">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_6086.jpg" alt="Delicious waffle in Singapore" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Back in the hotel we picked up our suitcases, ordered a taxi again and made our way to the airport. The suitcases were quickly checked in and also through security we were surprisingly fast. So off directly into the lounge for us.
        </p>
        <p>
            There we first treated ourselves to non-alcoholic cocktails. I took a Bali Sundown and Seb decided on a Tropical Sunrise. Both really delicious and something different for once than constantly only water, cola, or juice.
        </p>
        <p>
            At some point it then went already for boarding and we made ourselves comfortable on our emergency exit seats. Arriving in Singapore we collected our suitcases again and ordered a taxi. This time we were even picked up in a chic 7 Series BMW and driven to the Hotel Paradox Singapore Merchant Court.
        </p>
        <p>
            The hotel is located directly by the water and upon check-in it was said we had received an upgrade. The young man at the reception sounded very convinced of it, anyway. So we moved into room 1141. The room was indeed quite large, but it didn't really feel like an upgrade. Here and there furniture had small chippings, loose cables hung under the washbasin, the shower bar was loose and particularly annoying was a blind window pane that clouded the view quite a bit. Well, we are only here for one night after all.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            After a short breather we set off once more. First we strolled a little through the hotel and looked at the pool areas. Afterwards we searched for something to eat in the surroundings and finally landed in a restaurant with several dart boards and a kind of game area. Quite coolly done, even if we only stayed there for eating.
        </p>
        <p>
            Meanwhile the next rain shower already moved up outside. After that was over, we walked a little more through the streets and looked at the evening or night life at Clark Quay.
        </p>
        <p>
            Thereby we discovered a just newly opened waffle shop. When passing for the first time I could still resist. At least briefly. While Seb had already gotten a strawberry soft ice cream in between, I was drawn to this shop on the way back after all. And the waffle was indeed really good - refined with strawberries and chocolate.
        </p>
        <p>
            At some point it then went back into the hotel where each of us still enjoyed a long, warm shower before heading into dreamland.
            Tomorrow evening it's off back home. So there remains a whole day for us in which we can continue to explore Singapore.
            <br />
            Until then, first of all, Good Night.
        </p>
    </div>

</div>
<!--=== End Post ===-->
