---
layout: blog/en/travelblog
title: "05/09/26 Flowers & Cannolo"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2026-sicily

locations:
  - Italy
  - Sicily

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/noto.jpg"
    alt: "The city center of Noto"

overview:
  intro: "Today unfortunately it was already time for the way back to Catania. But we didn't want to drive the route without any stop and therefore made"
  image:
    url: "/assets/img/blog/2026-sicily/small/IMG_7222.jpg"
    alt: "Cannolo in Noto"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} a stop in Noto.
        </p>
        <p>
            There the annual flower festival was just being prepared. Everywhere things were being set up and decorated, so you could already get a good idea of how impressive the whole thing would look a few days later. We strolled a bit through the alleys and naturally each of us also treated ourselves to a traditional cannolo. Incredibly delicious it was! Unfortunately we didn't have much time left, but one thing is certain: Noto stays on our travel list. We have to come back here sometime and look around in peace.
        </p>
        <p>
            In the afternoon we finally reached Catania again. Our accommodation from the first nights was unfortunately no longer available, so we had booked another one just around the corner. Well... it's okay but for the price rather not.
        </p>
        <p>
            In the evening we then met up with Davide's cousin for dinner. Beforehand we had specifically clarified that the restaurant would also have something on the menu for me. Sure... no problem at all.
        </p>

        <p>
            Think again!
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            The Sicilian menus struck mercilessly once again. Everything was full of cheese or seafood. Even the burgers had the cheese already worked in so you couldn't simply leave it out. For me in the end there were painstakingly gathered starters, while the others could feast their way through the menu. Main thing was being full – even if this time I wasn't really happy about it.
        </p>
        <p>
            As a reward for this culinary survival battle I treated myself to a proper ice cream after dinner. I had definitely earned that after all those starters!
        </p>
        <p>
            After that it was already back to the accommodation and early to bed. The next morning meant getting up early again after all.
        </p>
    </div>

</div>
<!--=== End Post ===-->
