---
layout: blog/en/travelblog
title: "4 Crazy Ones for 12 Days in Sicily"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2026-sicily

locations:
  - Italy
  - Sicily

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/mount-etna.jpg"
    alt: "Mount Etna volcano near Catania in Sicily, Italy"

overview:
  intro: "KaDa – that's Kati and Davide, our friends from the Black Forest. And it was with them that this trip actually began much earlier,"
  image:
    url: "/assets/img/blog/2026-sicily/small/IMG_7212.jpg"
    alt: "4 crazy ones at the beach goofing around"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} when we were traveling together in Ireland back in 2023. Already there at some point the idea came up that they wanted to show us "their" Sicily someday. No wonder really, because Davide is from there, his family still lives on the island, and the two of them are regularly there.
        </p>
        <p>
            2026 was the year it finally happened. An idea turned into concrete planning – and surprisingly it went pretty smoothly despite the distance between northern and southern Germany. A timeframe was quickly settled on: May it would be. And it was also quickly clear that we wanted to keep the whole thing deliberately open. No tightly planned program, but a rental car, a bit of structure and otherwise lots of spontaneity – depending on the weather, mood and fancy.
        </p>
        <p>
            A few things we did set in advance though: Seb and I would pick up the rental car directly after landing (we arrived one day earlier), and our first joint fixed point was May 2nd, until which we would stay in Catania.
        </p>
        <p>
            Everything else remained open – exactly how it felt right for this kind of trip.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            And with that: have fun joining us on our days in Sicily.
        </p>
    </div>

</div>
<!--=== End Post ===-->
