---
layout: blog/en/travelblog
title: "05/05/26 Where Is the Beach?"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2026-sicily

locations:
  - Italy
  - Sicily

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/ausblick-von-erice.jpg"
    alt: "The far view to the northeast from Erice"

overview:
  intro: "After a leisurely breakfast at the café and buying fruit and vegetables from the local vendor, we set off and stop at a"
  image:
    url: "/assets/img/blog/2026-sicily/small/DSC02271.jpg"
    alt: "The salt flats near Trapani"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} viewpoint from which you can look over Cefalù. We had spotted it the evening before on a picture in a shop window. The small stop was really worth it.
        </p>
        <p>
            We continued on to Valderice, where we moved into a holiday house for two days. While it's really very beautiful and we have the whole house to ourselves, the disappointment is still great: far and wide no sandy beach, only rough rocks. Too bad!
        </p>
        <p>
            After breakfast the next morning the excursion to Erice makes up for it though – a medieval town high up on the mountain. Because it's pleasantly uncrowded, we stroll very relaxed through the old alleys.
        </p>
        <p>
            Next we head to Trapani – and honestly: more show than substance. We don't like it at all. We split up again as couples. Seb and I simply make ourselves comfortable in a cozy café at the harbor while the other two want to go to the beach.
        </p>
        <p>
            In the late afternoon we visit the Saline di Trapani e Paceco. Here there's a packet of salt for me. I like taking things like that home. It's much more useful than any kind of knick-knacks. We didn't actually pay admission for the site itself by the way. We didn't feel it was worthwhile.
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Tomorrow we're heading to the island. So stay tuned.
        </p>
    </div>

</div>
<!--=== End Post ===-->
