---
layout: blog/en/travelblog
title: "01/18/26 Boeing 747 Business Class"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Singapore
  - Germany
  - Frankfurt
  - Hamburg

author: Seb

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/boeing-747-model.jpg"
    alt: "A model of a Lufthansa Boeing 747 in the Senator Lounge at FRA Airport"

overview:
  intro: "So it is finally here, the last travel day. After almost three weeks on the road, today it's finally back home. A bit of melancholy"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_6137.jpg"
    alt: "The nose of the Boeing 747. We sat at the third window."
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} is already swinging along, because the trip was really something special. At the same time, we are of course also looking forward to our own bed and to arriving back in Hamburg.
        </p>
        <p>
            Also for the way back we have booked Business Class, so at the airport we headed directly to the corresponding counter. Dropping off the suitcases went completely without problems this time. Quite different from 2017, when we were once kindly asked aside here in Singapore and suddenly a staff member disappeared with our passports while armed security personnel kept an eye on us. Back then the software had swapped my first name with the salutation. So in the system it said "Mr. Thoss". The problem was only that apparently someone there thought "Mr." was my first name – and that of course didn't match the passport. That was indeed quickly cleared back then, but a slightly queasy feeling remained nonetheless. Today, on the other hand, everything went completely relaxed. We dropped off the suitcases and directly got the hint that we can use the Singapore Airlines SilverKris Business Class Lounge.
        </p>
        <p>
            The lounge itself was less spectacular than thought, however. Basically it was two large rooms with armchairs that were arranged rather like in a waiting hall. Not uncomfortable, but just also nothing special. For that the dinner there was really good. There was a nice selection and we used the opportunity once more to eat properly before later heading into the plane.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_2397.jpg" alt="The entrance to the lounge in Singapore">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            At some point we then slowly made our way to the gate. In Singapore the security control only takes place directly there at the gate. After that there is then really nothing at all anymore. No shops, no café, not even a WC. Only a water dispenser and a few seats. Luckily we didn't have to wait all too long, even if the boarding pushed back a bit because of a small delay.
        </p>
        <p>
            Today it went with a Boeing 747-400 to Frankfurt. Our seat was in row 2 on the right side, so lower deck quite far forward in the aircraft. The cockpit is in the upper deck and approximately at the height of row 4 of the lower deck. So we sat even before the captain. A seat that we also haven't had like this yet.
        </p>
    </div>
    <div class="col-md-6 overflow-h margin-top-20">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}/assets/img/blog/2025-vietnam-bali/small/IMG_6138.jpg" alt="Waffles for breakfast" />
        </div>
    </div>
    <div class="col-md-6">
        <p>
            When we had found our seats, we spoke directly with the flight attendant and asked to skip the dinner. It was meanwhile already after midnight and we had just eaten in the lounge after all. Furthermore we wanted to sleep as quickly as possible. That was no problem at all.
        </p>
        <p>
            Already while taxiing one noticed, however, that we sat very far forward in the aircraft. One heard quite clearly the Bowden cables and steering movements from the cockpit. A noise that one normally doesn't perceive so much further back in the plane.
        </p>
        <p>
            After takeoff we quickly set our seats into the reclining position and tried to build halfway comfortable beds out of them. That was indeed not quite perfect, but it should suffice for sleeping.
            However I found out quite quickly that the plane right at the front swings back and forth similarly strong as an A380 right at the back. My stomach and my head didn't find that particularly pleasant. Luckily I had thrown in an anti-vomit tablet in time.
        </p>
        <p>
            A short time later it then also started with turbulences. And unfortunately not only briefly. Over several hours the aircraft was repeatedly properly shaken through. We tried to sleep, but were repeatedly woken up by the movements. Only approximately from half the distance it slowly became quieter. The basic swinging remained indeed, but at least the stronger turbulences stopped.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            For breakfast there was then for Steffi Bircher muesli and a jam roll. I decided on a Belgian waffle and a mango smoothie. With that we were then also finally back in "return flight mode".
        </p>
        <p>
            Arriving in Frankfurt we first went into a lounge. A bit eating, a bit drinking and above all getting all the wobbling out of the head. After that the last flight of the day was still pending – from Frankfurt to Hamburg.
            In the plane there was still a small something to eat and drink, and then we were indeed back. Hamburg.
        </p>
        <p>
            Steffi's mom Karin picked us up at the airport and brought us home. Point at 10 AM we stood again in our apartment.
        </p>
        <p>
            The remaining morning we spent with unpacking and slowly arriving again. I even sneaked off again at noon for two hours to a meeting with the diving club – a small attempt to fight directly against the jet lag.
        </p>
        <p>
            And thus this journey finally ends where it had begun: at home. With many memories in the luggage, thousands of photos on the cameras and the feeling of having experienced a really special time. Bali, Singapore, diving, temples, rain, sun and plenty of small moments in between – a journey about which we have quite something to tell.
        </p>
    </div>

</div>
<!--=== End Post ===-->
