---
layout: blog/en/travelblog
title: "05/03/26 New Dream Destinations"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2026-sicily

locations:
  - Italy
  - Sicily

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2026-sicily/pool-milazzo.jpg"
    alt: "The natural pool in Milazzo from the water side"

overview:
  intro: "After we sat at breakfast for a really long time – Italians among themselves – we didn't set off until almost noon. Next stop: the"
  image:
    url: "/assets/img/blog/2026-sicily/small/DSC02231.jpg"
    alt: "The promenade in Cefalù"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} natural pool of Milazzo. The descent is strenuous but worth the effort, as we spend nearly two hours at this beautiful spot on earth.
        </p>
        <p>
            Seb provides the action highlight here: he bravely wades right through the water and over the rocks to get all the way to the very front edge. See the picture above. He just wants to feel the waves up close! Fortunately he doesn't fall in and makes it back through the stones without injuries. Actually it's really very, very beautiful here. But sitting on rocks like this really isn't my thing. I'd rather have sand or pebbles.
        </p>
        <p>
            Back at the top, we first fuel up with lunch at the snack bar. I have pasta with oil and chili. Actually very tasty and most importantly cheese-free!
        </p>
        <p>
            Then we continue on to Cefalù. The owner of the accommodation wrote that we should head to a specific parking spot. That was quite a challenge though and required several rounds in circles until we actually found it. But what's one challenge? We need two. Because the next one was already waiting here – a real fitness challenge. Our accommodation was in an apartment building, the rooms were on the fifth floor. Without an elevator. Seriously?
        </p>

    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Anyway, quickly checked in, rested a bit and met KaDa at the reception at the agreed time.
            Seb and I fall in love with this place immediately! What exactly it is, I think neither of us can really say precisely, but we like Cefalù from the very start. We even fantasize about renting a place here for a while sometime.
        </p>
        <p>
            After we had walked through the alleys as a foursome for a while, our paths separated later. Seb and I ended up at a restaurant where we tried our way through the starters. He also had a wine – a small glass mind you – that went quite to his head. Afterwards we strolled through the alleys for a long time and found the place more inviting with every step.
        </p>
        <p>
            The accommodation itself... well, it's okay but not something you'd need to write home about. The Stelli Vi was very spartan and the price for it was quite high.
        </p>
    </div>

</div>
<!--=== End Post ===-->
