---
layout: blog/en/travelblog
title: "01/01/26 Quiet Start of the Year"
active_nav: travel-blog
sitemap: true
headline_type: no
pagination:
  previous: true
  next: true

categories:
  - en
  - travelblog
  - 2025-vietnam-bali

locations:
  - Vietnam
  - Ho Chi Minh

author: Steffi

headline:
  image:
    url: "/assets/img/blog/2025-vietnam-bali/happy-buddha.jpg"
    alt: "The laughing Buddha at Black Virgin Mountain"

overview:
  intro: "The morning began first of all with a proper scare. Our neighbor told us that there had been a fire at our house and her"
  image:
    url: "/assets/img/blog/2025-vietnam-bali/small/IMG_1778.jpg"
    alt: "Saigon River towards Landmark 81"
---
<!--=== Post ===-->
<div class="row">
    <div class="col-md-12">
        {% include 'blog/snippet/headline.html.twig' %}
    </div>
    <div class="col-md-6">
        <p>
            {{ page.overview.intro|raw }} terrace had been burned down. Accordingly great was the panic. After some back and forth and consultation with our visitor who was in our apartment over New Year's Eve, however, there was an all-clear: "only" the terrace on the ground floor was affected. No other apartment in our house had been damaged. Phew.
        </p>
        <p>
            So first off to breakfast – with a much calmer pulse – and afterwards we sat down to the remaining online forms for Bali. Our flight goes there tomorrow, and we will then be on the island until January 16th. Visa, entry forms, health declarations – everything wants to be filled out beforehand. Not complicated, but also nothing you do in passing.
        </p>
        <p>
            Since my socks that I had brought along were meanwhile chafing so much, we headed for the market hall and a shopping center once more. But indeed we searched in vain for socks in my size. Either they were much too thick or the seam was just as scratchy as on my previous specimens. Apparently, this is a real first-world problem here.
        </p>
        <p>
            At lunchtime, we finally ended up at **Ngó Saigon**. There was pleasingly delicious food: for me macaroni with beef and plenty of vegetables, for Seb rice with beef, dark sauce, vegetables, and egg. Just the right thing.
        </p>
    </div>
    <div class="col-md-6 overflow-h">
        <div class="box-shadow shadow-effect-3">
            <img class="img-responsive img-center img-bordered" src="{{ site.url }}{{ page.overview.image.url }}" alt="{{ page.overview.image.alt|raw }}">
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Seb felt like a boat trip, so we set off for the Saigon River in the hope of finding something spontaneously there. It quickly became clear: yes, that works – but only with prior booking. Both water taxis and tourist boats were booked up until the evening and also ran extremely rarely. A surprisingly large gap in the market. Only a seat on a party boat in the interior on the lower deck would have still been free in the late afternoon. But we wanted to see the skyline and city – not celebrate in a closed room.
        </p>
        <p>
            So no boat, but a drink at the Starbucks next door and afterwards with the Grab taxi back to the hotel. Before we finally disappeared upstairs, however, we spontaneously looked into the small supermarket diagonally opposite. And lo and behold: finally fitting socks! Three pairs immediately went into the shopping basket – problem solved.
        </p>
        <p>
            Packing was on the agenda, because tomorrow we are finally going to Bali – and that at the crack of dawn.
        </p>
        <p>
            From bed, we wrote with Jackie for a while. She told us that our Christmas present had finally arrived: the photo calendar is already hanging in her kitchen, and she is happy about it every morning at breakfast. That made us very happy.
        </p>
        <p>
            But now off to dreamland.
            <br />
            The alarm goes off in a few hours.
        </p>
    </div>

</div>
<!--=== End Post ===-->
