---
layout: german
title: Startseite

meta:
  description: Hier k&ouml;nnen meine Freunde sehen, was in meinem Leben gerade so abgeht.
  keywords:
    - Startseite
    - Homepage
    - Zeitlinie

hreflang:
  en:
    href: /en/
  de:
    href: /de/

add_css:
  - /assets/css/pages/shortcode_timeline1.css

active_nav: home
---
<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 home-image">
    <div class="container">
        <h1>Sebastian Thoss</h1>
        <p>Unternehmer, ITler und Ausbilder mit Leib und Seele</p>
    </div>
</div>
<!-- End Interactive Slider v2 -->

<!--=== Content Part ===-->
<div class="container content">
    <ul class="timeline-v1">

        {% set timelineEntries =
            [
                'timeline/de/2019-10-24-speaking-at-ipc-munich.html.twig',
                'timeline/de/2019-05-26-speaking-at-php-srbija-conference.html.twig',
                'timeline/de/2019-01-27-speaking-at-confoo-montreal.html.twig',
                'timeline/de/2018-08-14-smest.it-tech-startup-2018-finalist.html.twig',
            ]
        %}

        {% for entry in timelineEntries %}
            {% if (loop.index % 2) == 0 %}
                {% include entry with {'css_class': 'timeline-inverted'} %}
            {% else %}
                {% include entry %}
            {% endif %}
        {% endfor %}

        <li class="clearfix" style="float: none;"></li>
    </ul>
</div><!--/container-->
<!-- End Content Part -->