---
layout: german
title: Startseite

meta:
  description: Hier k&ouml;nnen meine Freunde sehen, was in meinem Leben gerade so abgeht.
  keywords:
    - Startseite
    - Homepage
    - Zeitlinie

hreflang:
  en:
    href: /en/
  de:
    href: /de/

add_css:
  - /assets/css/pages/shortcode_timeline1.css

active_nav: home
---
<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 home-image">
    <div class="container">
        <h1>Sebastian Thoss</h1>
        <p>ITler und Ausbilder mit Leib und Seele</p>
    </div>
</div>
<!-- End Interactive Slider v2 -->

<!--=== Content Part ===-->
<div class="container content">
    <ul class="timeline-v1">

        {% set timelineEntries = [
                'timeline/de/2018-01-27-gruender-hands-on.html.twig',
                'timeline/de/2018-01-05-smest.it-founding.html.twig',
                'timeline/de/2017-12-02-gruender-hands-on.html.twig',
                'timeline/de/2017-09-29-smoke-tests-at-code-talks.html.twig',
            ]
        %}

        {% for entry in timelineEntries %}
            {% if (loop.index % 2) == 0 %}
                {% include entry with {'css_class': 'timeline-inverted'} %}
            {% else %}
                {% include entry %}
            {% endif %}
        {% endfor %}

        <li class="clearfix" style="float: none;"></li>
    </ul>
</div><!--/container-->
<!-- End Content Part -->