<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{{ page.title }} - Sebastian Thoss</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.github.url }}/assets/img/sebastian_thoss.jpg">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/headers/header-v6.css">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/footers/footer-v2.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/plugins/animate.css">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Page Style -->
    {% for css_entry in page.add_css %}
        <link rel="stylesheet" href="{{ site.github.url }}{{ css_entry }}">
    {% endfor %}

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/theme-colors/blue.css" id="style_color">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/custom.css">
</head>

<body class="header-fixed header-fixed-space">
<div class="wrapper">
    {{ content }}
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/jquery.parallax.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ site.github.url }}/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ site.github.url }}/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
<script src="{{ site.github.url }}/assets/plugins/respond.js"></script>
<script src="{{ site.github.url }}/assets/plugins/html5shiv.js"></script>
<script src="{{ site.github.url }}/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>
