<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{{ page.title }} - Sebastian Thoss</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.meta.description %}
        <meta name="description" content="{{ page.meta.description }}">
    {% else %}
        <meta name="description" content="{{ layout.meta.description }}">
    {% endif %}

    <meta name="keywords" content="Sebastian, Thoss, {% if page.meta.keywords %}{{ page.meta.keywords | join: ', ' }}, {% endif %}{% if layout.meta.keywords %}{{ layout.meta.keywords | join: ', ' }}, {% endif %}Tho&szlig;, Workshops, PHP, Hamburg, Ahrensburg, Dublin, Sydney, Rostock, Plauen, Putbus">
    <meta name="author" content="Sebastian Thoss">
    <meta name=”robots” content=”index,follow” />

    {% if page.hreflang %}
        <link rel="alternate" hreflang="{{ layout.hreflang.lang }}" href="{{ page.hreflang.href }}" />
    {% endif %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.github.url }}/assets/img/sebastian_thoss.jpg">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/headers/header-v6.css">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/footers/footer-v2.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/plugins/animate.css">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Page Style -->
    {% for css_entry in page.add_css %}
        <link rel="stylesheet" href="{{ site.github.url }}{{ css_entry }}">
    {% endfor %}

    <!--[if lt IE 9]>
    {% for css_entry in page.add_css_lt_ie_9 %}
        <link rel="stylesheet" href="{{ site.github.url }}{{ css_entry }}">
    {% endfor %}
    <![endif]-->

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/theme-colors/blue.css" id="style_color">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/custom.css">
</head>

<body class="header-fixed header-fixed-space">
<div class="wrapper">
    {{ content }}
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/plugins/jquery.parallax.js"></script>

<!-- JS Customization -->
<script type="text/javascript" src="{{ site.github.url }}/assets/js/custom.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="{{ site.github.url }}/assets/js/app.js"></script>
{% for js_script in page.js.scripts %}
    {% assign js_script_start = js_script | slice: 0, 4 %}
    {% if js_script_start == 'http' %}
        <script type="text/javascript" src="{{ js_script }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ site.github.url }}{{ js_script }}"></script>
    {% endif %}
{% endfor %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        {% for codeline in page.js.run_code %}
            {{ codeline }}
        {% endfor %}
    });
</script>

<!--[if lt IE 10]>
{% for js_script in page.js.scripts_lt_ie_10 %}
    <script type="text/javascript" src="{{ site.github.url }}{{ js_script }}"></script>
{% endfor %}
<![endif]-->

<!--[if lt IE 9]>
<script src="{{ site.github.url }}/assets/plugins/respond.js"></script>
<script src="{{ site.github.url }}/assets/plugins/html5shiv.js"></script>
<script src="{{ site.github.url }}/assets/plugins/placeholder-IE-fixes.js"></script>
{% for js_script in page.js.scripts_lt_ie_9 %}
 <script type="text/javascript" src="{{ site.github.url }}{{ js_script }}"></script>
{% endfor %}
<![endif]-->

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {
        "message":"{{ layout.cookie_consent.message }}",
        "dismiss":"{{ layout.cookie_consent.dismiss }}",
        "learnMore":"{{ layout.cookie_consent.learn_more }}",
        "link":"{{ layout.cookie_consent.link }}",
        "theme":"light-bottom"
    };
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3423622-11', 'auto');
    ga('send', 'pageview');

</script>
<!-- Google Analytics -->
</body>
</html>
