---
layout: default
cookie_consent:
  message: Diese Webseite nutzt Cookies um das Erlebnis der Seite permanent zu verbessern.
  dismiss: Danke
---
<!--=== Header v6 ===-->
<div class="header-v6 header-classic-white header-sticky">
    <!-- Navbar -->
    <div class="navbar mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Navbar Brand -->
                <div class="navbar-brand">
                    <p>
                        Sebastian Thoss
                    </p>
                </div>
                <!-- ENd Navbar Brand -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav">
                        <!-- Homepage -->
                        <li class="{% if page.active_nav == 'home' %}active{% endif %}">
                            <a href="{{ site.github.url }}/de/">
                                Home
                            </a>
                        </li>
                        <!-- End Homepage -->

                        <!-- Kontakt -->
                        <li class="{% if page.active_nav == 'kontakt' %}active{% endif %}">
                            <a href="{{ site.github.url }}/de/kontakt/">
                                Kontakt
                            </a>
                        </li>
                        <!-- End Kontakt -->

                        <!-- Impressum --
                        <li class="dropdown">
                            <a href="#">
                                Impressum
                            </a>
                        </li>
                        <!-- End Impressum -->

                        <!-- Sprachen --
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-globe"></i> Sprachen
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/de/">Deutsch</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </li>
                        <!-- End Sprachen -->
                    </ul>
                </div>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v6 ===-->

{{ content }}

<!--=== Footer v2 ===-->
<div id="footer-v2" class="footer-v2">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- Photo -->
                <div class="col-md-3 md-margin-bottom-40">
                    <img id="logo-footer" src="{{ site.github.url }}/assets/img/sebastian_thoss.jpg" alt="">

                </div>
                <!-- End Photo -->

                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="latest-tweets">
                        <div class="headline"><h2 class="heading-sm">&Uuml;ber mich</h2></div>
                        <div class="latest-tweets-inner">
                            <p>
                                Nach mehrj&auml;hrigen Aufenthalten in der irischen und australischen IT kam ich zur&uuml;ck nach Deutschland, um hier tiefer in die Softwarearchitektur einzusteigen.
                            </p>
                            <p>
                                Seit April 2015 k&uuml;mmere ich mich bei der kartenmacherei in Hamburg um Backend Projekte, das Team und die Ausbildung des Nachwuchses.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End About -->

                <!-- Address -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">Kontaktdaten</h2></div>
                    <address class="md-margin-bottom-40">
                        <i class="fa fa-home"></i>Ahrensburg, Schleswig-Holstein <br />
                        <i class="fa fa-skype"></i>Skype: sebastian301082 <br />
                        <i class="fa fa-globe"></i>Website: <a href="http://www.sebastianthoss.de">sebastianthoss.de</a> <br />
                        <i class="fa fa-envelope"></i>Mail: <a href="mailto:thoss_sebastian@web.de">thoss_sebastian@web.de</a>
                    </address>

                    <!-- Social Links -->
                    <ul class="social-icons">
                        <li><a target="_blank" href="https://www.xing.com/profile/Sebastian_Thoss" data-original-title="XING" class="rounded-x social_xing"></a></li>
                        <li><a target="_blank" href="https://github.com/DjThossi" data-original-title="GitHub" class="rounded-x social_github"></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/sebastian.thoss" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                        <li><a target="_blank" href="https://twitter.com/dj_thossi" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                        <li><a target="_blank" href="https://sebastian301082.wordpress.com/" data-original-title="WordPress" class="rounded-x social_wordpress"></a></li>
                    </ul>
                    <!-- End Social Links -->
                </div>
                <!-- End Address -->

                <!-- Termine -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">Termine</h2></div>
                    <ul class="list-unstyled link-news">
                        {% for meeting in site.data.de.meetings %}
                            <li>
                                <a target="_blank" href="{{ meeting.link.url }}">{{ meeting.link.text }}</a>
                                <small>{{ meeting.date }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Termine -->
            </div>
        </div>
    </div><!--/footer-->

</div>
<!--=== End Footer v2 ===-->